@mixin shorthand($style, $top, $right, $bottom, $left){
	@if $dir == ltr {#{$style}: $top $right $bottom $left}
	@if $dir == rtl {#{$style}: $top $left $bottom $right}
}
//.someclass{
//	@include shorthand(margin, 1px, 2px, 3px, 4px);
//}


@mixin dirkeyvalue($style, $value){
	@if $dir == rtl {
		#{$style}: toggleDirection($value);
	}
	@else {
		#{$style}: $value;
	}
}
//.someclass{
//	@include dirkeyvalue(text-align, left);
//}


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }
  @else if $media == tablets-and-above {
    @media only screen and (min-width: 768px) { @content; }
  }
  @else if $media == above {
    @media only screen and (min-width: 960px) { @content; }
  }
}

@mixin hires() {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
    @content;
  }
}
// @include hires() { background-image: url(../images/logo-small-hires.png); }

// @include respond-to(handhelds) { float: none; }
// @include respond-to(wide-handhelds) { float: none; }
// @include respond-to(tablets) { width: 240px; }
