﻿.header-container, #nav, #topSubscriptionBanner, #footer{
    display:none;
}
#content-container.two-column-lf #content-main.registered, 
#content-container.one-column #content-main.registered{
    padding-top:0;
}
.bbe .logo, .bbe .catch-phrase, .bbe .review{
    display:none;
}
.bbe p, .bbe a, .bbe h2, .bbe h3, .bbe h4, .bbe li,
.bbe .details,
.bbe .tag-line, 
.bbe .emphasis-one,
.bbe .emphasis-two, 
.bbe .passcode blockquote big, 
.bbe .passcode blockquote small, 
.bbe .review h4{
    color:#000 !important;
}