﻿/* JDate Colors*/

a:link, a:active, a:visited, a:hover {
	
	color: #993366;
	/*color: #0F1177;*/
}

a:hover {
	/*color: #0F1177;*/
}

a.help:link, a.help:active, a.help:visited {
	color: #0F1177;
}

a.help:hover {
	color: #0F1177;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited {
	color: #333333;
}

a.footerLink:hover {
	color: #333333;
}

H1 {
	color: #333333;
}

H2 {
	color: #333333;
}

hr
{
	color: #B3C5E5;
	background-color: #B3C5E5;
	background: #B3C5E5;
}

/* Color Class Definitions */
.action
{
	background: #5362B5;
}

.black
{
	background: #000000;
}

.dark
{
	background: #969EDB;
}

.darkest
{
	background: #0F1177;
}

.emphasis
{
	background: #DA062E;
}

.extra
{
	background: #5FB6CF;
}

.light
{
	background: #EEF1F9;
}

.lighter
{
	background: #F7F7F7;
}

.lightest
{
	background: #FAFAF8;
}

.medium
{
	background: #EEF1F9;
}

.white
{
	background: #FFFFFF;
}

.whiteText 
{
	color: #FFFFFF;
}

    .whiteText:link, .whiteText:visited, .whiteText:hover, .whiteText:active
    {
	    color: #FFFFFF;
    }

.bulletDark 
{
	color: #5FB6CF;
}

.bulletLight 
{
	color: #C1EBFF;
}

/* font color sets not complete */
.colorMedium
{
	color: #5362b5;
}

.colorDarkest
{
	color: #0F1177;
}

.colorDeemphasis
{
	color: #808080;
}

.colorHighlight {
	color: #DA062E;
}

/* border color sets not complete */

.borderMedium {
	border: 1px solid #bfd1ed;
}

.borderDark {
	border: 1px solid #969EDB;
}

.borderDarkest {
	border: 1px solid #5362b5;
}

/* CSS-PULLDOWN NAVIGATION ELEMENTS */

ul.nde-menu-system {
	padding: 0px;
    display: block;
    margin: 0px;
	font-size: 11px;
	}

ul.nde-menu-system ul {
	padding: 0px;
    display: block;
    margin: 0px;
	}

ul.nde-menu-system li {
	padding: 0px;
    display: inline;
    margin: 0px;
    list-style-type: none;
	position: relative;
	}

ul.nde-menu-system li ul {
    display: block;
    z-index: 100000;
    /*z-index: 1000;*/
    left: 0px;
    visibility: hidden;
    line-height: 20px;
    position: absolute;
    top: 1em;
	}

ul.nde-menu-system li ul li {
	padding: 0px;
    display: block;
    margin: 0px;
	line-height: 12px;
	}

ul.nde-menu-system li ul li a {
    display: block;
	padding: 4px;
    margin: 0px;
    width: 135px;
	border-top-width: 1px;
	border-top-style: dotted;
	}

ul.nde-menu-system li a {
    display: inline;
    margin: 0px;
    text-decoration: none;
	}

ul.nde-menu-system li.submenu ul {
	 text-align: left;
	}

/* UL.nde-menu-system
	{
	padding: 0px;
    display: block;
    margin: 0px;
	 font-size: 11px;
	}

UL.nde-menu-system UL
	{
	padding: 0px;
    display: block;
    margin: 0px;
	}

UL.nde-menu-system LI
	{
	padding: 0px;
    display: inline;
    margin: 0px;
    list-style-type: none;
	position: relative;
	}

UL.nde-menu-system LI UL
	{
    display: block;
    z-index: 1000;
    left: 0px;
    visibility: hidden;
    line-height: 20px;
    position: absolute;
    top: 1em;
	}

UL.nde-menu-system LI UL LI
	{
	padding: 0px;
    display: block;
    margin: 0px;
	line-height: 12px;
	}

UL.nde-menu-system LI UL LI A
	{
    display: block;
	padding: 4px;
    margin: 0px;
    width: 135px;
	 border-top-width: 1px;
	 border-top-style: dotted;
	}

UL.nde-menu-system LI A
	{
    display: inline;
    margin: 0px;
    text-decoration: none;
	}

UL.nde-menu-system LI.submenu UL
	{
	 text-align: left;
	} */

/* replace blue arrow with white one */

ul.nde-menu-system ul {
    background: #EEF1F9;
    filter: progid:dximagetransform.microsoft.alpha(opacity=90); 
    -moz-opacity: 0.90; 
}

/* UL.nde-menu-system UL {
    background: #EEF1F9;
    filter: progid:dximagetransform.microsoft.alpha(opacity=90); 
    -moz-opacity: 0.90; 
} */

ul.nde-menu-system li ul li a {
  border-top-color: #969EDB;
}

/* UL.nde-menu-system LI UL LI A {
  border-top-color: #969EDB;
} */

ul.nde-menu-system li a {
    color: #ffffff;
    font-size: 12px;
}

ul.nde-menu-system li a:hover {
	 color: #ffffff;
	 text-decoration: none;
}

ul.nde-menu-system li a:visited {
	color: #ffffff;
}

/* UL.nde-menu-system LI A:hover A:visited {
	 COLOR: #0F1177;
} */

/* UL.nde-menu-system LI A {
    color: #ffffff;
    font-size: 12px;
} */

ul.nde-menu-system li.submenu ul li a {
    color: #0F1177;
}

ul.nde-menu-system li.submenu ul li a:hover {
	color: #0F1177;
   background-color: #fcfcfc;
}

ul.nde-menu-system li.submenu ul li a:visited {
	color: #0F1177;
}

ul.nde-menu-system li.submenu ul {
    border-right: 1px solid #969EDB;
    border-left: 1px solid #969EDB;
    border-bottom: 1px solid #969EDB;
}

/* UL.nde-menu-system LI.submenu UL A {
    color: #0F1177;
}

UL.nde-menu-system LI.submenu UL A:hover {
    color: #0F1177;
    text-decoration:none;
    background-color:#FFFFFF;
}

UL.nde-menu-system LI.submenu UL {
    border-right: 1px solid #969EDB;
    border-left: 1px solid #969EDB;
    border-bottom: 1px solid #969EDB;
} */

.activity {
	color: #000000; /*#5362B5*/
}

span.profileText span.activity {
	color: #000000;
}
.activityBar {
	background: #DFE4F7;
	color: #333333;
}

.essayTitle {
	color: #333333;
}

.galleryLink
{
	color: #0F1177;
}

.miniProfileTitle
{
	color: #0F1177;
}

.profileTitle
{
	color: #333333;
}

.profileImageHover 
{
	border-color: #FFFFFF; 
}

a:hover .profileImageHover, a:active .profileImageHover 
{	
	border-color: #5362B5; 
}

.profileImageHoverGallery 
{
	border-color: #F7F7F7; 
}

a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery 
{	
	border-color: #5362B5; 
}

.noPhoto
{
	border: 1px solid #BFD1ED;
	color:White;
}

	a:hover .noPhoto, a:active .noPhoto
	{	
		border-color: #5362B5; 
	}
	
.editHotList
	{
		border: 1px solid #EEF1F9; 
		color: #0F1177;
	}
	
.copyright
{
	color: #999999;
}

.footerText
{
	color: #96B1CC;
}

.fontSmall
{
	color: #333333;
}

.note
{
	color: #999999;
	font-size: 10px;
}

.frame
{
	border: 1px solid #EEF1F9;
}

.activityButton
{
	border: 1px solid #333333;
	background: #5362B5;
	color: #FFFFFF;
	
}

.tip
{
	border: 1px solid #969EDB;
	background: #EEF1F9;
}

.secondaryButton
{
	border: 1px solid #333333;
	background: #FFFFFF;
	color: #5362B5;
}

#homePref , .homePref
{
	border: 1px solid #969EDB;
}
	.homePrefAd
	{
		border: 1px solid #969EDB;
	}
	
	#homePref .homePrefTitle
	{
		color: #333333;
		background: #EEF1F9;
	}
	
	#homePref .homePrefSubTitle
	{
		background: #F7F7F7;
		color: #333333;	
	}

#homeProfile h2
{
	color: #0F1177;
	border-bottom: 1px solid white;
}
	
	.homeProfileBackground
	{
		background-image: url(../img/Community/Jdate/bkg_homeProfile.gif);
		background-repeat: no-repeat;
	}

#homeRight {	
	border: 1px solid #969EDB;
}	

	#homeRight .homeRightTitle
	{
		color: #333333;
		background: #EEF1F9;
	}
	
	#homeRight .homeRightSubTitle
	{
		background: #F7F7F7;
		color: #333333;	
	}
	
#leftNav {
	
	border: solid 5px #eceff2;
	/* border: 1px solid #969EDB; */
}	
	
	#leftNav .leftNavText
	{

		background: #FFFFFF;		
		/* border-top: 1px dotted #B3C5E5; */
	}
	
	#leftNav .leftNavTextDark
	{
		color: #5362B5;
		background: #EEF1F9;
		border-top: 1x dotted #B3C5E5;
	}
	
	#leftNav .leftNavTextLight
	{
		color: #333333;
		background: #EEF1F9;	
		border-top: 1px dotted #B3C5E5;
	}
	
	#leftNav .leftNavTextSolid
	{
		border-bottom: 0px solid #BECFEF;
		border-top: 1px solid #BECFEF;
		background: #EEF1F9;	
	}
	
	#leftNav .leftNavTextMed
	{
		color: #5362B5;
		background: #EEF1F9;	
		border-top: 1px dotted #BECFEF;
	}

	
	#leftNav .leftNavTitle
	{
		color: #333333;
		background: #EEF1F9;
	}
	
	#leftNav .leftNavSubtitle
	{
		color: #333333;
		background: #EEF1F9;
		border-top: 1px dotted #BECFEF;
	}
	
	#leftNav .thumbTrail
	{
		color: #5362B5;
		border-top: 1px dotted #BECFEF;
	}
	
#leftNew div#csbox {
	border: 1px solid #969edb;
	background-color: #eef1f9;
	color: #0f1177;
	}

#leftNew div#csbox a
	{
	color: #da062e;
	}
	
.leftNavNewMessages {
	background: #EEF1F9;
	border: 1px solid #969EDB;
}

#tipAppLeft {
	/* border: 1px solid #969EDB; */
	background: #EEF1F9;
	}
	
.iconList {
	background:#EEF1F9;
}

.tipAppTitle {
	font-weight:bold;
	font-size: 12px;
}
	
#tipAppReg {
	border: 1px solid #969EDB;
	background: #EEF1F9;
	}

#logIn {
	width: 160px;
	font-size: 11px;
	margin-bottom: 12px;
	padding: 4px;
	margin-top: 0px;
	border: 0px solid black;
}

#loginBox
{
	border: 1px solid #969EDB;
}

	#loginBox .loginHeader
	{
		background: #EEF1F9;
	}
	
	#loginBox .loginFooter
	{
		background: #EEF1F9;
		border-top: 1px solid #969EDB;
	}

#mailBar
{
	background: #EEF1F9;
}
	
	.navSecondary
	{
		color: #0F1177;
	}
	
	.navPrimary
	{
		color: #0F1177;
	}

	.navActivity
	{
		color: #DA062E;
	}
	
	#reviseLinks .reviseCriteria
	{
		color: #0F1177;
	}

#sortOnlineNow
{
	border: 1px solid #969EDB;
	background: #EEF1F9;
}

	* html #sortOnlineNow
	{
	border: 1px solid #969EDB;
	background: #EEF1F9;
	}

	
#sort
{
	border: 1px solid #969EDB;
	background-color: #EEF1F9;
}

	* html #sort
	{
		border: 1px solid #969EDB;
		background-color: #EEF1F9;
	}

#accountInformation
{
	border: 1px solid #969EDB;
	background-color: #EEF1F9;
}

.subNavTop
{
	
	/* background-image: url(../img/Community/JDate/breadcrumb_tile.gif);
	border-bottom: 1px solid #969EDB; */
}
	.breadCrumbUpper
	{
		color: #0F1177;
	}
	
	a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited
	{
		color:#0F1177;
	}

	a.breadCrumbPagesLink:hover
	{
		text-decoration:underline;
		color:#0F1177;
	}
	
	.breadCrumbPagesLower
	{
	color:#0F1177;
	}
	
	a.breadHome, a.breadHome:link, a.breadHome:active, a.breadHome:visited
	{
		color: #DA062E;
		font-weight:bold;
	}

	a.breadHome:hover
	{
		text-decoration:underline;
		color: #DA062E;
		font-weight:bold;
	}
	
	.breadCrumbPagesUpper
	{
		color: #0F1177;
	}
	
	.breadCrumbUpperRight
	{
		color: #0F1177;
	}

#rightNew div#rightcontent div#adspace
	{
	border: 1px solid #969edb;
	background-color: #efefef;
	margin-bottom: -1px;
	}
	
div#rightcontent div#sitenews
	{
	border: 1px solid #969edb;
	}
	
div#rightcontent div#sitenews ul#newslist li
	{
	border-top: 1px solid #f5f6fc;
	background-image: url(../img/Community/JDate/bknd_newsitem.gif);
	background-position: top;
	background-repeat: repeat-x;
	}
	
div#rightcontent div#sitenews ul#newslist li h3
	{
	color: #5362b5;
	}
	
div#rightcontent div#sitenews ul#newslist li h3 a
	{
	color: #5362b5;
	}
	
div#rightcontent div#sitenews ul#newslist li p
	{
	color: #a6a6a6;
	}
	
div#rightcontent div#sitenews ul#newslist li a.cta
	{
	color: #da062e;
	}

.subNavBottom
{
	/* background: #EEF1F9;
	background-image: url(../img/Community/JDate/breadcrumb_tile.gif); */
}
	
	.breadCrumbLower
	{
		color: #0C1C96;
	}
	
	.breadCrumbLowerRight
	{
		color: #0C1C96;
	}
	
#voteBar
{
	border: 1px solid #969EDB;
	background: #BFD1ED;
}

	* html #voteBar
	{
		border: 1px solid #969EDB;
		background: #BFD1ED;
	}

#voteBar a:link, #voteBar a:active, #voteBar a:visited 
{
	color: #0F1177;
}

#voteBar a:hover 
{
	color: #0F1177;
	text-decoration: underline;
}

	#warning .warningText
	{
		color: #333333;
	}
	
/* BEGIN DROP SHADOWS */
#boxContent { 
	background: #969EDB;
}


#boxContainer { 
	background: #BFD1ED;
}

#boxContentGallery { 
	background: #969EDB;
	border: solid 1px #cfcfd0;
	/* border: 1px solid #969EDB; */
}

#boxContainerGallery { 
	background: #BFD1ED; 
}

/* BEGIN TRANSLUCENCE */
#trans2
{
	background: #5FB6CF; /* was #D9E4DB;*/
	filter: progid:dximagetransform.microsoft.alpha(opacity=30); 
	-moz-opacity: 0.30; 
}

/* BEGIN PREFERENCE PAGE ITEMS */
#prefBorder
{
	border: 1px solid #969EDB;
}	

	#prefBorder .prefHeader
	{
	background: #EEF1F9;
	border-bottom: 1px solid #969EDB;
	}	

	#prefBorder .prefSub
	{
		background: #5FB6CF;
	}	

	#prefTab .prefTabItem
	{
		border-left: 1px solid #969EDB;
		border-right: 1px solid #969EDB;
		border-top: 1px solid #969EDB;
		background: #EEF1F9;
	}
	
		#prefTab .prefTabItemActive
	{
		border-left: 1px solid #969EDB;
		border-right: 1px solid #969EDB;
		border-top: 1px solid #969EDB;
	}
	
	#prefTab
	{
		border-bottom: 1px solid #969EDB;
	}
	
/* Look Up Profile items */
#lookUpLeft
	{
		border: 1px solid #969EDB;

	}
	
	#lookUpLeft .lookUpLeftTitle
		{
			background: #EEF1F9;
			border-bottom: 1px solid #969EDB;
			color: #333333;
		}

	#lookUpLeft .lookUpLeftBtm
		{
			background: #EEF1F9;
			border-top: 1px solid #969EDB;
			color: #333333;
		}	
	
#lookUpRight
	{
		border: 1px solid #969EDB;
	}
		#lookUpRight .lookUpRightTitle
		{
			background: #EEF1F9;
			border-bottom: 1px solid #969EDB;
			color: #333333;
		}
		
#lookUpRight .lookUpRightBtm
		{
			background: #EEF1F9;
			border-top: 1px solid #969EDB;
			color: #333333;
		}

.mediumRow
	{
		background: #EEF1F9;
		color: #333333;
	}

#contHeader
	{
		background: #EEF1F9;
		border: 1px solid #969EDB;
	}
	
#contBorder
	{
		border: 1px solid #969EDB;
	}
	
a.buttonALink:link, a.buttonALink:visited, a.buttonALink:active, a.buttonALink:hover
{
	color: #ffffff;
    background: #5362B5;
    border-right: #333333 1px solid; 
    border-top: #333333 1px solid;  
    border-left: #333333 1px solid; 
    border-bottom: #333333 1px solid;
}

#helpSearch
{
border: 1px solid #969EDB;
background: #EEF1F9;
}

* html #helpSearch
{
border: 1px solid #969EDB;
background: #EEF1F9;
}

.question
{
color: #5362B5;
}

.happyEndingsHeader
{
background-color: #EEF1F9;
}

.NoResultDefault
{
	BACKGROUND: #EEF1F9;
}

/* dynamic list elements */
.ListMenu
{
	border: 1px solid #969EDB; 
	background: #EEF1F9;
}

.ListElementItem
{
	border-top: 1px dotted #969EDB;
}

.ListElementItem :hover
{
	background: #EEF1F9;
	background: #FFFFFF;
}

/* IM ALERT */

#IMAlert
{
	background-color: #FFFFFF;
}

.IMAlert
{
	background-color: #FFFFFF;
	border: 3px solid #969edb;
}

.AlertTable
{
	background-color: #FFFFFF;
}

.IMAlertHeader
{
	background: #EEF1F9;
}

.AlertHead
{
	background-color: #5FB6CF;
	/* was originally #D1DA44 */
}

.quicktip
{	
	border: 1px solid #969EDB;
	background: #EEF1F9;
}

/*mini profile cells*/

.mp1 {
	background-color: #eceff2;
	border-top: solid 1px #cfcfd0;
	border-right: solid 1px #cfcfd0;
	border-left: solid 1px #cfcfd0;
  /*background:#EEF1F9;
  border-top:1px solid  #969EDB;
  border-right:1px solid  #969EDB;
  border-left:1px solid  #969EDB;*/
}



.mp2 {
	background-color: #e8f0d7;
	border-top: solid 1px #cfcfd0;
	border-right: solid 1px #cfcfd0;
	border-bottom: dotted 1px #909397;
  /*background-image: url(../img/Community/JDate/bknd_vote.gif);
  background-repeat: repeat-x;
  background-color: #DFE4F7;
  border-top:1px solid  #969EDB;
  border-bottom:1px solid  #969EDB;
  border-right:1px solid  #969EDB;*/
}


.mp3 {
  background:#ffffff;
  border-right: solid 1px #cfcfd0;
  /*border-right:1px solid  #969EDB;*/
}

.mp4 {
  background-color: #eceff2;
  border-right: solid 1px #cfcfd0;
  /*background:#EEF1F9;
  border-right:1px solid #969EDB;*/
}

.mp5 {
	background-color: #eceff2;
	border-top: solid 1px #cfcfd0;
	border-right: solid 1px #cfcfd0;
	border-bottom: solid 1px #cfcfd0;
	border-left: solid 1px #cfcfd0;

  /*background-image: url(../img/Community/JDate/pro_bottomBknd.gif);
  background-repeat: repeat-x;
  background-color: #DFE4F7;
  border-top:1px solid  #969EDB;
  border-right:1px solid  #969EDB;
  border-left:1px solid  #969EDB;
  border-bottom:1px solid  #969EDB;*/
}

.mp6 {
	background-color: #eceff2;
	border-top: solid 1px #cfcfd0;
	border-right: solid 1px #cfcfd0;
	border-bottom: solid 1px #cfcfd0;
  /*background-image: url(../img/Community/JDate/pro_bottomBknd.gif);
  background-repeat: repeat-x;
  background-color: #DFE4F7;
  border-top:1px solid  #969EDB;
  border-right:1px solid  #969EDB;
  border-bottom:1px solid  #969EDB;*/
  text-align: right;
}

/*gallery cells*/

.gp1 {
  background:#ffffff;
}	

.gpYNM {
	background-color: #e8f0d7;
	border-top: dotted 1px #909397;
	border-bottom: solid 1px #cfcfd0;
	/* background-image: url(../img/Community/JDate/pro_bottomBknd.gif);
	background-repeat:repeat-x; 
	background-color: #EEF1F9; 
	border-top: 1px solid #969EDB;
	border-bottom: 1px solid #969EDB;*/	
}
.gpYNM {
	height:20px;
}

.gp2 {
  background:#FFFFFF;
}

.gp3 {
  background:#FFFFFF;
}

.gp4 {
  background:#EEF1F9;
}

.gpBottom {
  border-top: solid 1px #cfcfd0;
  /*border-top: 1px solid #969EDB; */
}

.gpInfo {
  padding:3px;
}

/* created for JV's jdate design */

a.navTopLink:link, a.navTopLink:active, a.navTopLink:visited, a.navTopLink:hover {
	font-size: 12px;
	color: #666666;
	/*color:#EEF1F9;*/
	}

a.breadCrumbHome:link, a.breadCrumbHome:active, a.breadCrumbHome:visited, a.breadcrumbHome:hover {
		color:#DA062E;
	}
	
/* popup profile */
a.ppLink:link, a.ppLink:active, a.ppLink:visited
	{
	color: #FFFFFF;
	}

a.ppLink:hover
	{
	color: #FFFFFF;
	}
	
.ppSubNavBottom
	{
	background-image: url(../img/Community/JDate/breadcrumb_tile.gif);
	border-bottom: 1px solid #969EDB;
	}

.subscribeRight
{
	background: #EEF1F9;
}

.subscribeLeft
{
	background: #5362B5;
}

.subscribeLeft h2
{
	color: #FFFFFF;
}

/* noMatches box */

#noMatches
{
	border: 1px solid #BFD1ED;
	background-color: white;
}
	
#noMatchesBorder
{
	border: 1px solid #5362B5;
	background: #EEF1F9;
}

.mailPhotoAddressStyle
{
	background-color: #EEF1F9;
	border: 1px solid #5362B5;
}

a.closeBox:link, a.closeBox:active, a.closeBox:visited, a.closeBox:hover
{
	background-image: url(../img/Community/JDate/btn_close2.gif);
}

/* end no matches box */

/* generic shadow box */

#shadowBoxContent
{
	background: white;
}

#shadowBoxContainer
{
	background: #CFCFCF;
}

.navTop
{
	padding-bottom:10px;
	padding-top:0px;
}

.pageMessage
	{
	width: 585px;
	margin-left:auto;
	margin-right:5px;
	font-weight:bold;
	padding:5px;
	font-family: Verdana;
	font-size: 11px;
	border:1px solid #5FB6CF;
	background:#EEF1F9;
	color:#DA062E;
	}



#_ctl0__ctl5_divNotification.PageMessage {
	width: 745px;
	margin-left: 6px;
}
/*
.PageError {
	width: 592px;
	margin-left: 6px;
	font-weight: bold;
	padding: 5px;
	font-size: 11px;
	border: 1px solid red;
	background-color: #FFECE9;
	color: red;
	display: inline-block;
}
*/
a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	background-color: #EEF1F9;
	border: 1px solid #969EDB;
	color: #0F1177;
}

a:hover.homePageAddTo
{
	background-color: #EEF1F9;
	border: 1px solid #969EDB;
	color: #0F1177;
}

/* article cutout quote */
div.cutout {
	display: block;
	width: 180px;
	margin: 16px;
	padding: 24px;
	border-top: 1px solid #0F1176;
	border-bottom: 1px solid #0F1176;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333333;
	float: left;
	}
	
.chatHeader 
{
	background-image:url(../img/Community/JDate/cht_bg.gif);
	width:100%;	
	height:48px;
	
}

.subconfirm1
{
	background:#D7EFF7; 
}

.subconfirm2
{
	background:#E7F7FB;
}

.subconfirm3
{
	background:#F7FBFF;
}

.subconfirm4
{
	background:#F9F6F6;
}

/* activity center styles */

.activityCenterContainer
{
	/* background-image: url(../img/Community/JDate/activityCenter_containerBottomCap.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #E6EDF7; */
}

.activityCenterMessagesMiddle {
	/* background-image: url(../img/Community/JDate/activityCenter_middle.gif);
	background-repeat: repeat-y; */
}

.mailBoxBorder
{
	border:1px solid #dddddd;
}

.ViewProfileAlternateRow
{
	background: #EEF1F9;
}

/* begin AdUnit Related styles */
.fullBannerBox 
{
	text-align: center;
	padding: 0px; 
	border: 0px solid #B3C5E5; 
	margin: 10px 0px 10px 0px;
}

.headerBoardBelowMenuAd
{
	background-image:url(../img/Community/JDate/tile_headerBoardBelowMenuAd.gif);
	background-repeat:repeat-x;
}

#blockUI
{
	background-color: black;
}

.blockUI_close a:link, .blockUI_close a:active, .blockUI_close a:visited, .blockUI_close a:hover
{
	color: #bebebe;
	font-weight: bold;
	background-color: #7F7F7F;
}
.adspace_header
{
	background-image: url(../img/Community/JDate/bknd_adspace_header.gif);
	background-repeat: repeat-x;
}
/* end AdUnit Related styles */

/* new styles made for Subscription page -- Still have AS hex values */

.fullPageViewBorder {
	border:1px solid #949FDE;
}

.fullPageViewHeader {
	background-image:url(../img/Community/JDate/bg_fullPageViewHeader.gif);
	border-bottom: 1px solid #949FDE;
	height:26px; /* overrides sparkCommonNonHe value */
}

.fullPageViewHeader h2 {
	color:#333;
	font-size:14px;
	padding-top: 2px;/* overrides sparkCommonNonHe value */
}

.subTop 
{
	border: solid 1px black;
	width: 365px;
	vertical-align: top;
	float: left;
	background-repeat:no-repeat;
}

.subRenewalCopy {
	color: #767676
}

.subRenewalCopy p {
	padding: 0 10px;
	margin: 0;
}

p.subYourSubscription {
    padding: 0 10px;
    line-height:21px;
    font-size: 12px;
    margin: 4px 0 8px;
}

.subLeft
{
	border-right:1px solid #D5D4D4;
}

.helpLayer2
{
	background:#BEBEBE;
}

.helpLayer3
{
	border: 1px solid #B4B2B2;
	background:#f7f7f7;
}

.telecheckBG
{
	background-image:url(../img/Community/JDate/telecheck_sample_new_ynm4.gif);
}

/*
.subTopPop 
{
	background-image:url(../img/Community/JDate/sub_top_bg_pop.jpg);
}
*/
.subLeftPop
{
	border-right:1px solid #D5D4D4;
}

.regularPageViewBorder
{
	border:1px solid #DDDCD3;
}

.regularPageViewHeader
{
	background-image:url(../img/Community/JDate/bg_fullPageViewHeader.gif);
}

.regularPageViewHeader h1
{
	color:#333;
}

.termsViewBorder
{
	border: 1px solid #949FDE;
}

a.agree-tnc {
	color: #333;
	text-decoration: underline;
}

/* end new styles made for Subscription page */

/* new styles for message page */

.prefMSDivider
{
	border-bottom: 1px solid #969EDB;
}

/* message settings page show div background used by JS function changeClassStyle */

.msColorShaded {
	background-color: #EEF1F9;
}

.msColorWhite {
	background-color: #FFFFFF;
}

.messageSettingsDividerBorder
{
	border-right: 1px solid #969EDB;
}

/* begin error page styles */
.errorPageBackground01
{
	background-image: url(../img/Community/JDate/unexpected_error_01.jpg);
	background-repeat: no-repeat;
}

.errorPageBackground02
{
	background-image: url(../img/Community/JDate/unexpected_error_02.jpg);
	background-repeat: no-repeat;
}

.errorPageCSText /* positioning here because layout different on jd */
{
	position: absolute;
	top: 340px;
	left: 20px;
}

.errorPageButton /* positioning here because layout different on jd */
{
	position: absolute;
	top: 220px;
	left: 22px;
}

/* Search results page sort tabs */
#sortTabs {
	/*border: 1px solid #969EDB;
	background-color: #EEF1F9;*/
}

.sortTabResultsView {
	background-image: url(../img/Community/JDate/tab_back_TR.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
	/* border: 1px solid #5362B5;
	border-bottom: 0px solid white;
	background-image: url(../img/Community/JDate/bknd_sortTabsOff.gif);
	background-repeat: repeat-x; */
}
.sortTabResultsView {
	font-size: 12px;
	font-weight: bold;
	margin: 0 1px;
	padding: 5px 10px 10px 10px;
}

.sortTabResultsViewSelected {
	color: #fff;
	background-image: url(../img/Community/JDate/tab_selected_TR.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
	/* border: 1px solid #969EDB; 
	border-bottom: 0px solid white;
	background-color: white;
	color: #333333; */
}

.sortTabResultsViewSelected {
	margin: 0 1px;
	padding: 5px 10px 10px 10px;
}

/* Search pref 04/10/07 */

.prefBorder {
	border: 1px solid #969EDB;
}

.prefBorder h2 {
	background: #EEF1F9;
	border-top: 0px solid #969EDB;
}
	
.prefBorder h3 {
	background-color: #EEF1F9;
	border-top: 1px solid #969EDB;
}

.search-pref-option-container {
	background-color: White;
}

.prefSearchPRInfoContDynamic
{
	background-image: url(../img/Community/JDate/icon_searchPref_off.gif);
}

.search-pref-closed
{
	background-color: #EEF1F9;
	color: #0F1177;
	background-image: url(../img/Community/JDate/icon_searchPref_off.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.search-pref-open
{
	background-color: #EEF1F9;
	color: #0F1177;
	background-image: url(../img/Community/JDate/icon_searchPref_on.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.prefSearchSelectedItems
{
	background-color: #EEF1F9;
	border:0px solid #969EDB;
}
	
.search-pref-container
{
	background-color: #EEF1F9;
}

.prefSearchDivider
{
	background-color:#EEF1F9;
}

.prefSearchPrefHeader
{
	border-top: 1px solid #969EDB;
}

/* search pref region picker styles */
.prefRegionPickerContainer
{
	background-color:white;
	border:1px solid #001A53;
}

.prefRegionPickerHeader
{
	background-color: #EEF1F9;
	border-bottom:1px solid #969EDB;
}

/* Site Map */


.oddrow
{
	background-color: #eef1f9;
}
#sitemap h2
{
	border-bottom-color: #969edb;
}


#modSetContainer
{
	border: 1px solid #969edb;
	background-color: White;
}

#modSetContainer h2
{
	background-color: #eef1f9;
}

#modSetContainer hr
{
	background-color: #969edb;
}

.helpLayerMiddle
{
	background-color: #BEBEBE;
}

.helpLayerInner /* set width inline per item */
{
	border: 1px solid #969edb;
	background-color: white;
}

.sub .helpLayerContainerD h2, .helpLayerContainerD h2, .sub .helpLayerContainerB h2, .helpLayerContainerB h2
{
	color: #333333;
}

/* SEO Pages Styles */
#seo_breadcrumb {
	background-image: url(../img/Community/JDate/breadcrumb_tile.gif);
	color: #0f1177;
}
#seo_searchbox {
	background-image: url(/img/Community/JDate/bknd_searchbox.gif);
	color: #333333;
}
#seo_content #seo_stateFeaturedMembers {
	border-top: 1px dotted #969edb;
	border-bottom: 1px dotted #969edb;
	background-color: #eef1f9;
}
#seo_content #seo_stateFeaturedMembers ul li img {
	border: 1px solid #eef1f9;
}
#seo_content #seo_stateFeaturedMembers ul li a img:hover {
	border: 1px solid #5362b5;
}
div.seo_listbox {
	background-color: #eef1f9;
}
div.seo_listbox h3 {
	color: #333333;
	border-bottom: 1px solid #333333;
}
#seo_content ul#seo_cityFeaturedMembers li {
	border-top: 1px dotted #969edb;
	border-bottom: 1px dotted #969edb;
	background-color: #eef1f9;
}
#seo_content ul#seo_cityFeaturedMembers li img {
	border: 1px solid #eef1f9;
}
#seo_content ul#seo_cityFeaturedMembers li a img:hover {
	border: 1px solid #5362b5;
}

/* begin TrialPay */
#terminateTrialPayBanner
{
	background-image: url(../img/Community/JDate/trialPay_terminateBannerBkg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#trialPaySubContainer
{
	position: relative;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../img/Community/JDate/trialPay_subBkg.gif);
}

/* Begin PhotoGallery */


.photo {
	border: #969edb 1px solid;
}
.photoWrapper {
	background: url(../img/Community/JDate/bknd_photoGalleryProfile.png) no-repeat center;
}
.profileShow {
	background: #ffffff;
	border: 1px solid #969EDB;
	opacity: 1;
	-moz-opacity: 1;
}
.username {
	color: #0f1177;
}
.usernameAjax {
	color: #0f1177;
	border-bottom: #d0cfc4 1px dotted;
}
.userdata {
	color: #666666;
}
/* End PhotoGallery */

/* Price Cut Image */
 div#accountInformation div.pricecutimg 
 {
	display: none;
 }
 div#prefBorder div.pricecutimg 
 {
	display: none;
 }
/* Begin 4info Mobile Alert SMS */

ol#mobileAlertSteps li#step1 {
	background-image: url(../img/community/jdate/sms_step1.gif);
}

ol#mobileAlertSteps li#step2 {
	background-image: url(../img/community/jdate/sms_step2.gif);
}

ol#mobileAlertSteps li#step3 {
	background-image: url(../img/community/jdate/sms_step3.gif);
}
/* Begin Toolbar */

div#toolbarDownload {
	background-image: url(../img/community/JDate/bknd_toolbarDownload.gif);
	background-repeat: no-repeat;
	background-position: top center;
}

div#toolbarChart {
	background-image: url(../img/community/JDate/bknd_toolbarChart.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

a.buttonToolbar:link, a.buttonToolbar:visited, a.buttonToolbar:active, a.buttonToolbar:hover
{
	color: #ffffff;
	background-color: #5362B5;
	border: 1px solid #333333; 
}

.mailBoxButton
{
	background-image: url(../img/Community/JDate/tile_inboxPageButtons.gif);
	background-position: top;
	background-repeat: repeat-x;
}

/*    For highlighting the mini profiles of premium authenticated members  */

.highlightedProfile td.mp1 {
	background-color: #f3ef8c;
	border-top: 1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
	border-left:1px solid  #c0ab6c;
}
.highlightedProfile td.mp2 {
	background-image: url(../img/Community/JDate/bknd_vote_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top:1px solid  #c0ab6c;
	border-bottom:1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp3
{
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp4 {
	background-color: #f3ef8c;
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp5 {
	background-image: url(../img/Community/JDate/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border:1px solid  #c0ab6c;
}

.highlightedProfile td.mp6 {
	background-image: url(../img/Community/JDate/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top:1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
	border-bottom:1px solid  #c0ab6c;
}	
td.mp3 img.verifiedIcon  
{
	display: block;
	position: relative;
	float: right;
	right: 36px;
	top: 16px;
}
.highlightedProfile span.gpYNM {
	background-image: url(../img/Community/JDate/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top: 1px solid #c0ab6c;
	border-bottom: 1px solid #c0ab6c;
}
.highlightedProfile td.gp1 
{
	background-color: #f3ef8c;
}
.highlightedProfile td.gp4 {
	background-color: #f3ef8c;
}
div.photoGallery .highlightedProfile  {
	background: url(../img/Community/JDate/bknd_photoGalleryProfile_highlighted.png) no-repeat center;
}

.highlightedProfile .gpBottom
{
	border-top: 1px solid #c0ab6c;
}
.highlightedProfile #boxContentGallery 
{ 
	background: #c0ab6c;
	border: 1px solid #c0ab6c;
}
.highlightProfileInfo 
{
	background-image: url(../img/Community/JDate/bknd_highlightProfileInfo.gif);
	background-repeat: no-repeat;
}

/*-----------------------*/
/*-----------------------*/
/* subscription redesign */
/*-----------------------*/
/*-----------------------*/

.fullPageViewAS h1 {
    color: #0F1177;
}

/* sub row default styles */
.sub li {
	background-color: #FFFFFF;
	border-bottom:1px solid #ADADD1;
}

.sub ul {
	background-color: #FFFFFF;
	border-right:1px solid #ADADD1;
}

.plansCol_0 li {
    border-right: 1px solid #ADADD1;
}

#ieAll .plansCol_1 li.plansRow_0 {border-left: 0px solid #ADADD1;}
#ieAll .plansCol_0 li {border-right: 0px solid #ADADD1;}

.plansCol_0 .plansRow_0 {
    background-image:url(../img/Community/JDate/sub_duration_columnHeader.gif);
    background-position: right top;
    background-repeat: no-repeat;
}

/* begin sub quirks mode overrides (for classic sites) delete when quirksmode gone */

#ieAll .plansRow_0 ul {border: none;background-color: Transparent;}

/* default set is designed for redesign */
/* see classic set below for classic design set */

/* cell header default */
.cell-col-header {
	border: 1px solid white;
}

/* cell row header default */
.cell-row-header {
	border: 1px solid white;
}

	.cell-row-header h2 {
		color: #4f4f4f;
	}

/* cell plans default */
.cell-plan {
	/*background-image: url(../img/Community/JDate/sub-input-indicator.png);*/
	border: 1px solid white;
	border-left: 2px solid white;
}

.plansCol_2 .cell-plan {
	border-left: 1px solid white;
}
	#ie6only .plansCol_2 .cell-plan {border-left: 0px solid white;}

	.cell-plan h2 {
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}
	
	.cell-plan h2 .per-month {
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
		color: #999999;
	}

	.cell-plan p.payment {
		color: #999999;
	}

   .sub-none p {
        color: #5362B5;
    }
        
/* cell plans default top-premium */
.cell-row-header.shade h2 {
	color: #000000;
}

.cell-plan.strongest {
	/*background-image: url(../img/Community/JDate/sub-input-indicator-premium.png);*/
	background-color: #d1e2af;
}

	.cell-plan.strongest h2 {
		color: #993366;
	}
	
	.cell-plan.strongest h2 .per-month {
		color: #666666;
	}

	.cell-plan.strongest p.payment {
		color: #666666;
	}

	.cell-plan.strongest p.payment .fine-print {
		color: #999999;
	}

/* cell plans/duration default shade */
.cell-row-header.shade {
	background-color: #e8f0d7;
}

.cell-plan.shade {
	background-color: #f8f7e8;
}
	
	.cell-plan.shade h2 .per-month {
		color: #666666;
	}

	.cell-plan.shade p.payment {
		color: #666666;
	}

	.cell-plan.shade p.payment .fine-print {
		color: #999999;
	}
	
/* cell plans default strong */
.cell-plan.strong {
	background-color: #e8f0d7;
}
	
	.cell-plan.strong h2 .per-month {
		color: #666666;
	}

	.cell-plan.strong p.payment {
		color: #666666;
	}

	.cell-plan.strong p.payment .fine-print {
		color: #999999;
	}
	
/* cell plans default medium */
.cell-plan.medium {
	background-color: #f2f7e8;
}
	
	.cell-plan.medium h2 .per-month {
		color: #666666;
	}

	.cell-plan.medium p.payment {
		color: #666666;
	}

	.cell-plan.medium p.payment .fine-print {
		color: #999999;
	}
	
/* sub template set: classic */
/* classic default */
.cell-col-header.classic {
	background-image: url(../img/Community/JDate/sub_columnHeader.gif);
    background-position: right center;
    background-repeat: no-repeat;
	border: 0px solid white;
}

    .cell-col-header.classic h2 {
	    color: #5362B5; 
    }

.cell-row-header.classic {
	background-image:url(../img/Community/JDate/sub_duration_default.gif);
    background-repeat:repeat-y;
    background-position: right center;
    border: none;
}

	.cell-row-header.classic h2 {
		color: #5362B5;
	}

/* cell plans classic default */
.cell-plan.classic {
	border: 0px solid white;
}

	.cell-plan.classic h2 {
		font-family: verdana, sans-serif;
		color: #5362B5;
	}

	.cell-plan.classic p {
		font-family: verdana, sans-serif;
		color: #5362B5;
	}

	.cell-plan.classic h2 .per-month {
		font-family: verdana, sans-serif;
		color: #5362B5;
	}

/* classic column header content */
.cell-col-header.classic p {
	background-color: transparent;
	color: #5362B5;
}

.cell-col-header.classic ul {
	background-color: transparent;
	border: 0px solid white;
}

.cell-col-header.classic ul li {
	color: #5362B5;
}

/* classic shade */
.cell-row-header.classic.shade {
	background-image:url(../img/Community/JDate/sub_duration_highlight.gif);
    background-repeat:repeat-y;
    background-position: right center;
}

	.cell-row-header.classic.shade h2 {
		color: #0F1177;
	}
	
.cell-plan.classic.shade {
	background-color: #F2F3F9;
}

/* classic strong */	
.cell-plan.classic.strong {
	background-color: #FBFAE1;
}

/* classic strongest */
.cell-plan.classic.strongest {
	background-color: #F3F3DE;
}

.cell-plan.classic.strongest h2 {
	color: #DA072F;
}

/* Begin Profile Redesign */

#newProfileView {
	background-image: url(../img/Community/JDate/logo_newProfile.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
#newProfileView a img {
	border: none;
}
#newProfileView #profileMasthead {
	background-image: url(../img/Community/JDate/bknd_newProfile_masthead.gif);
	background-repeat: repeat-x;
}
#newProfileView #profileNav, #newProfileView #profileNav a {
	color: #ffffff;
}
#newProfileView ul#tabNav li a {
	background-image: url(../img/Community/JDate/bknd_newProfile_tab.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #5362b5;
	border-left: 1px solid #5362b5;
	border-right: 1px solid #5362b5;
}
#newProfileView ul#tabNav li a.selected {
	background-image: none;
	background-color: #ffffff;
	color: #333333;
}
#newProfileView #profileControls ul#mainControls li {
	color: #0f1177;
}
#newProfileView #profileControls ul#mainControls li#ynm {
	background-image: url(../img/Community/JDate/bknd_button_ynm.gif);
	background-repeat: no-repeat;
}
#newProfileView #profileControls ul#mainControls li#email {
	background-image: url(../img/Community/JDate/bknd_button_email_green.gif);
	background-repeat: no-repeat;
}
#newProfileView #profileControls ul#secondaryControls {
	background-color: #ffffff;
}
#newProfileView #profileControls #profilePhoto {
	background-color: #eef1f9;
}
#newProfileView #profileControls ul#profileThumbs {
	background-color: #ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb img {
	border: 1px solid #ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.selected img {
	border: 1px solid #0f1177;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb:hover img {
	border: 1px solid #0f1177;
}
#newProfileView #profileContent #username {
	color: #333333;
}
#newProfileView #profileContent h2 {
	border-bottom: 1px solid #bfd1ed;
}
#newProfileView #profileContent #membernumber {
	color: #333333;
}
#newProfileView #profileFooter {
	background-color: #dfe4f7;
}

/* Forced Email Verification */

#verifyEmail div#currentEmail, #optout div#currentEmail {
	border: 1px solid #969edb;
	background-color: #eef1f9;
}
#verifyEmailConfirmation #confirmationMessage {
	background-color: #eef1f9;
}
#verifyEmailConfirmation #verifyEmailChecklist h2 {
	background-image: url(../img/Community/JDate/bknd_hdr.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #ffffff;
}
#verifyEmailConfirmation #verifyEmailChecklist ul {
	border: 1px solid #bfd1ed;
	color: #5362b5;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink {
	border-bottom: 1px solid #dddddd;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink {
	background-image: url(../img/Community/JDate/bknd_verifyEmail_profileLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink {
	background-image: url(../img/Community/JDate/bknd_verifyEmail_searchLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink {
	background-image: url(../img/Community/JDate/bknd_verifyEmail_subscribeLink.gif);
	background-repeat: no-repeat;
}

#verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink {
	background-image: url(../img/Community/JDate/bknd_verifyEmail_uploadLink.gif);
	background-repeat: no-repeat;
}

#verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink {
	background-image: url(../img/Community/JDate/bknd_verifyEmail_onlineLink.gif);
	background-repeat: no-repeat;
}

#verifyEmailConfirmation #verifyEmailChecklist ul li a {
	color: #5362b5;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink a {
	color: #0f1177;
}

/* Video */

.videoPlayerViews {
	color: #9F99E3;
}

.videoTime {
	color: #B5B5B5;
}

/*
.videoPlayerInfo {
	background-image: url(../img/community/JDate/bknd_video_tile.gif);
	background-repeat: repeat-x;
}
*/

.videoPlayerInfo h2 {
	color: #575EB9;
}

.featuredArticles {
	border: 1px solid #94A1D8;
	background-image: url(../img/community/JDate/bknd_category_header.gif);
	background-repeat: repeat-x;
}

.featured-articles {
	border: 1px solid #94A1D8;
	background-image: url(../img/community/JDate/bknd_category_header.gif);
	background-repeat: repeat-x;
}

.categoryHeader {
	color: #140F76;
}

.articleTeaser {
	border-bottom: 1px solid #94A0DA;
	border-right: 1px solid #94A0DA;
}

.articleTeaserContent h2 {
	color: #140F76;
}

.playList {
	border: 1px solid #94A1D8;
	background-image: url(../img/community/JDate/bknd_category_header.gif);
	background-repeat: repeat-x;
}

.playListTeaser {
	background-image: url(../img/community/JDate/bknd_playlist_teaser.gif);
	background-repeat: repeat-x;
}

.playListTeaserContent h2 {
	color: #110E79;
}

/*new styles for video page*/
.videoList {
	border: 1px solid #94A1D8;
	background-image: url(../img/community/JDate/bknd_category_header.gif);
	background-repeat: repeat-x;
}

.videoListContainer {
	border-bottom: 1px solid #F0EFF4;
}

.videoListTeaserContent h2 {
	color: #110E79;
}









/* Premium Profile Settings */
h2.tips {
    background-image: url(../img/Community/JDate/icon_tips.gif);
    background-position: left center;
    background-repeat: no-repeat;
}

.regionPickerLink {
	background-image: url(../img/Community/JDate/icon_searchPref_off.gif);
	background-position: 22px 1px;
	background-repeat: no-repeat;
}

.roundedCorners_gradient {
	background-image: url(../img/Community/JDate/roundedCorner_bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.roundedCorners_gradient h2 {
	background-image: url(../img/Community/JDate/roundedCorner_top.gif);
	background-position: center top;
	background-repeat: no-repeat;
	color: #0F1177;
}

#spotlightMemberControl #spotlightMemberShowSettings {
    background-color: #f3f6fb;
}
/* end Premium Profile settings */

/* spotlight mini profile */

#spotlight_curveTop {
	background-image: url(../img/Community/JDate/memberSpotlight_curveTop.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.spotlightedProfile .mp1 {
  background:#e0f7ff;
  border-top:1px solid  #90a7af;
  border-right:1px solid  #90a7af;
  border-left:1px solid  #90a7af;
}

.spotlightedProfile .mp2 {
  background-image: url(../img/Community/JDate/bknd_vote_spotlight.gif);
  background-repeat: repeat-x;
  background-color: #e0f7ff;
  border-top:1px solid  #90a7af;
  border-bottom:1px solid  #90a7af;
  border-right:1px solid  #90a7af;
}

.spotlightedProfile .mp3 {
  background:#ffffff;
  border-right:1px solid  #90a7af;
}

.spotlightedProfile .mp4 {
  background:#e0f7ff;
  border-right:1px solid  #90a7af;
}

.spotlightedProfile .mp5 {
  background-image: url(../img/Community/JDate/pro_bottomActionBknd_spotlight.gif);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #e0f7ff;
  border-top:1px solid  #90a7af;
  border-right:1px solid  #90a7af;
  border-left:1px solid  #90a7af;
  border-bottom:1px solid  #90a7af;
}

.spotlightedProfile .mp6 {
  background-image: url(../img/Community/JDate/pro_bottomBknd_spotlight.gif);
  background-repeat: repeat-x;
  background-color: #e0f7ff;
  border-top:1px solid  #90a7af;
  border-right:1px solid  #90a7af;
  border-bottom:1px solid  #90a7af;
  text-align: right;
}

#divProfileEnlarge {
    border: 1px solid #969EDB;
	background-color: #EEF1F9;
}


/* new home page matches styles */

.homePageYourMatches h2.blockTitle {
	background-color:#EEF1F9;
	color:#333333;
	border-top: 1px solid #969EDB;
	border-right: 1px solid #969EDB;
	border-left: 1px solid #969EDB;
}

.homePageYourMatches ul {
	border-bottom: 1px solid #969EDB;
	border-right: 1px solid #969EDB;
	border-left: 1px solid #969EDB;
	border-top: 1px solid transparent;
}

    #ie6only .homePageYourMatches ul {
	    border-top: 1px solid white;
    }

.homePageYourMatches ul li {
	background-color: white;
	border-top: 4px solid white;
	background-image: url(../img/Community/JDate/bknd_microProfile.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.homePageYourMatches ul li.highlight {
	background-color: #eef0f2;
	border-top: 4px solid white;
	background-image: none;
	background-position: top center;
	background-repeat: no-repeat;
}

.homePageYourMatches.spotlightProfile h2.blockTitle {
	background-color:#D4EBF3;
}

.homePageYourMatches.spotlightProfile ul {
	background-color: white;
}

.homePageYourMatches.spotlightProfile ul li {
	background-color: white;
	background-image: url(../img/Community/JDate/bknd_microProfile_spotlight.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.homePageYourMatches ul li.highlightedProfile {
	background-color: white;
	background-image: url(../img/Community/JDate/bknd_microProfile_highlighted.png);
	background-position: center center;
	background-repeat: no-repeat;
}

/* TRANSITION SITE NEW ADD */

.topNavContainerTable {
	background-image: url(../img/Community/JDate/bknd_nav_TR.jpg);	
	background-position: left top;
    background-repeat: no-repeat;
}

/* ==Footer */

#footer {
	clear: both;
	margin: 1em 0 0 0;
	/*margin: 1em auto 0;*/
	padding: .4em 24px;
	max-width: 100%;
	min-width: 700px;
	width: 722px;
	background-color: #25426B;
}
	#ieAll #footer{margin: 1em auto 0; padding: .4em .4em .4em 2em; width:770px;}
	#ie6only #footer {margin: 1em auto 0; padding: .4em .4em .4em 2em; width:770px;}

#footer {
	color: #96b1cc;
	text-align: left;
	font-size: 11px;
	line-height: 1.5em;
	}

#footer ul {
	margin-bottom: 1em;
}

#footer ul.nav-footer:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
	#ieAll #footer ul.nav-footer {height:1%}

#footer ul.nav-footer li {
	float: left;
	padding-right: .2em;
	white-space: nowrap;
}

#footer .legal-copyright {
	margin-bottom: 0;
}

#footer .legal-background-checks {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: .2em;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: #96b1cc;
	font-weight: normal;
}

#footer a:hover {
	color: #FFFFFF;
}

p#bgCheck {
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: normal;
	font-size: 11px;
	text-transform: none;
	margin: 0;
	color: #96B1CC
}

/* footer end */


/* ------------------------------------------------------------------------ NEW STRUCTURAL STUFF FOR TRANSITION SITE */

.hideTR {
	display: none;
}

#applicationNew {
	margin-bottom: 0;
}

/* subscription page */

.topNew {
	background-image:url(../img/Community/JDate/bknd_nav_TR.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

/* activity center start */

.activityCenterContainer {

	padding: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
	width: 142px;
	border: solid 5px #eceff2;
}

#leftNew .activityCenterContainerCap {
	display: none;
}

.activityCenterTopLinks {
	line-height: 30px;
	margin-bottom: 0px;
	border-bottom: dotted 1px #999;
	/* margin-bottom: 8px;
	line-height: 20px;*/
}

.activityCenterMessages {
	width: 142px;
}

#leftNew .activityCenterMessages div.hideTR {
	display: none;
}

.activityCenterMessagesMiddle {
	/* width: 142px;
	padding: 2px 8px 2px 8px;
	margin: 0px;*/
}

.activityCenterMessagesMessage {
	width: 140px;
}

.activityCenterMessagesMessage:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.activityCenterMessagesMessage hr {
	display: none;
}
.activityCenterMessagesMessage .navSecondary {
	display: block;
	border-top: dotted 1px #999;
	margin-top: 5px;
	padding-top: 8px;
}

#leftNew .activityCenterBottom {
	display: none;
}

.activityCenterIcon {
	float: left;
}

#leftNew .activityCenterContainer #statusLoggedIn {
	position: relative;
	}

/*#leftNew .activityCenterContainer #statusLoggedIn strong a.navSecondary{

	display: block;
	position: absolute;
	margin: 2px 0 0 10px;
	text-align:left;
	}

#leftNew .activityCenterContainer #statusLoggedIn a.navSecondary {
	position:absolute;
	top: 0px;
	right: 0px;
	text-align:right;
	margin-right: 0px;
	}*/

#leftNew .activityCenterContainer .activityCenterMessages .activityCenterMessagesMiddle {
	width: 132px;
	background: none;
	margin: 10px 0;
	padding: 0;
	position: relative;
	}

/* adjust youClick relocated heart icon position in activitycenter */	
.leftNavImageAlign {
	float:none;
	margin:10px 2px 0 0;
}

/* adjust youClick text position */
#leftNew .activityCenterMessagesMiddle .leftNavText {
	/* width: 150px;
	position:absolute;
	margin: 10px 0 0 0; */
} 

/* hide HOT LISTS title from leftNav */
#leftNav span.leftNavTitle {
	background-color: #ffffff;
	text-transform:capitalize;
	font-size: 12px;
	}

/* activity center end */


#leftNav {
	width: 150px;
	padding-bottom: 5px;
} #ieAll #leftNav 
{
	width: 160px;
}

#tipAppLeft {
	margin-top: 4px;
}

#tipAppLeft span.tipAppTitle {
	display: inline-block;
	margin: 2px 0 10px 0;
}

#leftNew div.borderDark {
	border:none;	
}

#rightNew div.borderDark {
	width: 582px;
	border: solid 5px #eceff2;
} #ieAll #rightNew div.borderDark {
	width: 592px;
}

/* NEW FONT-RULE FOR TRANSITION SITE */

body {
	font-family: Arial, Verdana, Sans-Serif;
}

h1 {
	font-size: 2em; 
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: normal;
    }

a.leftNavText {
	font-size: 12px;
	font-weight: bold;
}





.wide .topNavContainerTable {
	background-image: url(../img/Community/JDate/bknd_nav_wide_TR.gif);
    /*background-image: url(../img/Community/JDate/logo_wide.gif);*/
    background-position: left top;
    background-repeat: no-repeat;
}

/* Wide template class overrides */
body.wide {
	background-color: #FFFFFF;
	background-position: 352px top;
	background-repeat: repeat-y;
}

.wide .topNavContainerTable {
    width: 1122px;
    height: 80px;
}

.wide .navTop {
    padding-right: 190px;
}

.wide #navbar {
    padding-right: 174px;
}

.wide .subNavTop {
	width: 1122px;
}

.wide .subNavBottom {
    width: 1121px;
}
    .wide #ieAll .subNavBottom {
        width: 1122px;
    }

.wide .wideSkyscraperBannerAd {
	left: 954px;
	top: 28px;
}

.wide #rightNew {
	width: 920px; /*776px;*/
	float: left;
}

.wide #applicationNew {
	width: 1121px;

}.wide #ieAll #applicationNew {
	width: 1120px;
}
.wide #footer {
	padding: 10px 0;
	margin: 0;
	/* border: solid 1px red; */
	width: 1121px;
} .wide #ieAll #footer {
	margin: 0;
	padding: 10px 0;
	/* border: dotted 1px red; */
	width: 1120px;
}
