﻿/* ==Reset - thanks to Eric Meyers  -----*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus
{
	outline: 0;
}
body
{
	color: black;
	line-height: 1;
}
body a:link
{
	color: #993366;
	font-weight: bold;
	text-decoration: none;
}
ol, ul
{
	list-style: none;
}
table
{
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td
{
	text-align: right;
	font-weight: normal;
	vertical-align: top;
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: "";
}
blockquote, q
{
	quotes: "" "";
}
/* ==Base -----*/
body
{
	font: 0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p
{
	margin-bottom: .4em;
}
h2, h3, h4, h5, h6
{
	font-weight: bold;
}
h1
{
	font-size: 2em;
	font-weight: normal;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin: 0 8px .5em 0;
}
h2
{
	font-size: 1.3em;
}
h3, h4, h5, h6
{
	font-size: 1em;
}
h2 .heading-sub-copy
{
	font-size: .68em;
	font-weight: normal;
}
body a:link
{
	font-weight: bold;
	text-decoration: none;
}
body a:visited
{
	font-weight: bold;
	text-decoration: none;
}
body a:hover
{
	font-weight: bold;
	text-decoration: underline;
}
body a:active
{
	font-weight: bold;
	text-decoration: underline;
}
strong
{
	font-weight: bold;
}
.not-strong
{
	font-weight: normal;
}
em
{
	font-style: italic;
}
img
{
	vertical-align: middle;
}
sup
{
	vertical-align: top;
	margin: 0 .1em;
}
hr
{
	clear: both;
	border: 0;
	width: 100%;
	height: 1px;
}
hr.hr-thin
{
	width: 98%;
}
hr.hr-vertical-spacer
{
	margin: .5em 0;
}
input[type="submit"], input[type="button"]
{
	background-color: #993366;
	color: #fff;
}
input[type="submit"], input[type="button"]
{
	border: medium none;
	cursor: pointer;
	font-size: 0.92em;
	font-weight: bold;
	padding: 0.4em 1em;
}
/* ++Base--classes -----*/
.tooltip
{
	cursor: pointer;
}
.tooltip-content
{
	position: absolute;
	width: 300px;
	-webkit-box-shadow: 0 0 8px #888888;
	-moz-box-shadow: 0 0 8px #888888;
	box-shadow: 0 0 8px #888888;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: White;
	border: 1px solid #333;
	padding: 12px;
	display: none;
	line-height: 1.5;
}
.serif
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help
{
	cursor: help;
}
span.close
{
	font-size: 1.08em;
	font-weight: bold;
	font-family: Verdana;
}
em.error {
clear:both;
display:block;
}
.error
{
	font-weight: normal;
}
p.disclaimer
{
	margin: 1em 8px;
	padding: 0;
	font-size: .92em;
}
ul.ul-arrow li
{
	margin: 0 0 .65em 0;
	padding: 0 1em 0 0;
}
span.remove-x
{
	font-size: 1.08em;
	font-weight: bold;
	font-family: Verdana;
}
.semantic-html label
{
	cursor: pointer;
}
.content-headline
{
	clear: both;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
	padding: 0 0.4em;
}
.do-we-click
{
	font-weight: bold;
}
/* ++Base--Notifications/Errors -----*/
.notification
{
	display: block;
	padding: 1em;
	clear: both;
	font-weight: bold;
	margin: 0 0 0.5em 6px;
}
/* ++Base--Buttons -----*/
input, textarea, select
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 1em;
	padding: .1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]
{
	cursor: pointer;
}
input[type="submit"], input[type="button"]
{
	border: none;
	font-weight: bold;
	font-size: .92em;
	cursor: pointer;
	padding: .4em 1em;
}
.ie7 input[type="submit"], input[type="button"]
{
	overflow: visible;
}
h3 input[type="submit"], h3 input[type="button"]
{
	font-size: .82em;
}

.ie7 input[type="submit"].secondary, input[type="button"].secondary
{
	padding: .3em 1em;
}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover
{
	text-decoration: underline;
	display: inline-block;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover
{
	text-decoration: underline;
	display: inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active
{
	font-weight: bold;
	font-size: .92em;
	cursor: pointer;
	padding: .4em 1em;
	display: inline-block;
	text-decoration: none;
	line-height: 1.4em;
}
a.link-primary:hover
{
	text-decoration: underline;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active
{
	padding: .4em 1em;
	display: inline-block;
	text-decoration: none;
	line-height: 1.4em;
}
a.link-secondary:hover
{
	text-decoration: underline;
}
button
{
	background: url(../img/Community/JDate/pagination-results-profile-full-bh.png) repeat-x scroll 50% 50% transparent;
	border: 1px solid #E0E0E0;
	padding: 4px 0px;
	color: #936;
	display: block;
}
.ie7 button, .ie8 button
{
	padding: 4px 2px;
}
button.filmstrip-next, button.filmstrip-prev
{
	position: absolute;
	top: 60px;
}
button.filmstrip-prev
{
	left: 0;
}
button.filmstrip-next
{
	right: 0;
}
button.disabled
{
	background-color: #ccc;
	color: #999;
	border: 1px solid #ccc;
	cursor: auto;
	text-decoration: none;
	outline: none;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol
{
	list-style-type: decimal;
	margin: 1em 24px;
	border: none;
}
ul.editorial, .editorial ul
{
	list-style-type: disc;
	margin: 1em 0em;
	border: none;
}
ul.editorial ul, .editorial ul ul
{
	margin-top: 0em;
	margin-bottom: 0em;
	border: none;
}
ul.editorial li, .editorial ul li
{
	margin-left: 24px;
	border: none;
}
p.editorial, .editorial p
{
	margin-bottom: 1em;
}
blockquote.editorial, .editorial blockquote
{
	margin: 1em 3em;
}
dl.editorial, .editorial dl
{
	margin-bottom: 1em;
}
dl.editorial dt, .editorial dl dt
{
	font-weight: bold;
}
/* ==Tools  -----*/
.wrapper
{
	float: right;
	width: 100%;
	direction: rtl;
}
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.ie7 .clearfix
{
	height: 1%;
	zoom: 1;
	display: inline-block;
}
/* depreciated - use clearfix */.clear-floats
{
	overflow: hidden;
}
.ie7 .clear-floats
{
	height: 1%;
}
/* depreciated - use clearfix */.clear-floats-after:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.ie7 .clear-floats-after
{
	height: 1%;
	zoom: 1;
	display: inline-block;
}
.clear-both
{
	clear: both;
}
.no-wrap-class
{
	white-space: nowrap;
}
.float-inside
{
	float: right;
	display: inline;
}
.float-outside
{
	float: left;
	display: inline;
}
.show
{
	display: block;
}
.hide
{
	display: none;
}
.showSpan
{
	display: inline;
}
.hideSpan
{
	display: none;
}
.text-inside
{
	text-align: right;
}
.text-outside
{
	text-align: left;
}
.text-center
{
	text-align: center;
}
.margin-light
{
	margin: .5em;
}
.margin-medium
{
	margin: 0.7em;
}
.margin-heavy
{
	margin: 1.5em;
}
.padding-light
{
	padding: .5em;
}
.padding-medium
{
	padding: .5em;
}
.padding-heavy
{
	padding: 1em;
}
img.centered
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.two-column
{
	float: right;
	width: 49.5%;
}
.three-column
{
	float: right;
	width: 33.3%;
}
.four-column
{
	float: right;
	width: 24%;
}
.image-text-pair a:hover
{
	text-decoration: none;
}
.image-text-pair a span:hover
{
	text-decoration: underline;
}
.border-gen
{
	margin: .5em;
	padding: 1em;
}
.border-gen img
{
	margin-left: .5em;
}
.border-gen img.border-gen-icon
{
	margin: .5em 0 0 .5em;
}
.border-gen:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.border-btm-dotted
{
	display: block;
	margin: 1em 0;
	padding-bottom: 1em;
}
.border-top-dotted
{
	margin: 1em 0;
	padding-top: 1em;
}
.rel-layer-container
{
	display: inline;
}
.ie7 .rel-layer-container .rel-layer-div p
{
	width: 100%;
}
.rel-layer-div
{
	position: absolute;
	right: 0;
	top: 2em;
	padding: 8px;
	display: none;
	z-index: 1000000;
	width: 28em;
}
.rel-layer-div h2
{
	width: 100%;
	white-space: nowrap;
}
.ie7 li.plansRow_0 .rel-layer-container .rel-layer-div
{
	top: 82px;
}
.list-of-benefits.rel-layer-div
{
	width: 556px;
}
/* ++Tools--sprites icons */
.spr, .spr-btn
{
	display: inline-block;
	vertical-align: text-top;
	text-indent: -9999px;
	text-align: right;
	overflow: hidden;
}
.spr span.spr-content
{
	visibility: visible;
	color: white;
	font-weight: bold;
	text-indent: 8px;
	display: block;
	font-size: 10px;
	text-align: center;
	line-height: 15px;
}
.spr span, .spr-btn span
{
	display: none;
}
a.spr-parent
{
	vertical-align: text-top;
}
a.spr-parent:hover
{
	text-decoration: none;
	cursor: pointer;
}
/* sprite superscript */
.spr.spr-superscript
{
	text-indent: 0;
	position: relative;
}
.spr.spr-superscript span
{
	background-color: #cc0f15;
	color: white;
	display: block;
	font-size: 10px;
	padding: 0 1px;
	position: absolute;
	left: -5px;
	text-indent: 0;
	top: -7px;
}
.ie7 .spr.spr-superscript span
{
	text-indent: 0;
	display: block;
}
input.secondary[type="submit"], input.secondary[type="button"]
{
	background: url(  "../img/Community/JDate/btn-secondary-bg.png" ) repeat-x scroll 50% 50% #fff;
	border: 1px solid #CCCCCC;
	color: #993366;
}
.error
{
	color: red;
	font-weight: normal;
}
em
{
	font-style: italic;
}
/******************* FaceBook Splash **********************/
#min-max-container
{
	direction: rtl;
}
#main-container
{
	margin: 0 auto;
	width: 724px;
	direction: rtl;
	padding: 0 6px;
}
#header
{
	margin: 1em 0;
}
#header-logo
{
	float: right;
	min-height: 100%;
	width: 8em;
}
#header-logo p.header-message
{
	padding-top: 12px;
}
#header-logo a
{
	float: right;
}
#header-logo a img.logo
{
	height: auto;
	margin-left: 8px;
	margin-top: -12px;
	width: auto;
}
#header-contentainer #flags
{
	float: right;
	padding-top: 15px;
}
#header-contentainer #flags a
{
	padding-right: 5px;
}
#header-contentainer #flags .il-flag-showHide
{
	display: none;
}
.header-login
{
	background: url(   "../img/Community/JDate/login-back-base-red.gif" ) no-repeat scroll 0 50% transparent;
	float: left;
	margin: 0.5em 0 0;
	padding: 0;
}
.header-login a
{
	background: url(   "../img/Community/JDate/login-back-right-red.gif" ) no-repeat scroll 100% 50% transparent;
	color: #fff !important;
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	padding: 1em;
}
.header-nav
{
	float: left;
	font-size: 1.17em;
	margin: 0.75em 0 0 1em;
}
.header-nav li.header-nav-filler
{
	padding-top: 0.67em;
	display: block;
	text-align: left;
	vertical-align: middle;
}
#content-container
{
	float: none;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	background-image: url(   "../img/Site/Jdate-co-il/fb-splash-bg.jpg" );
	background-repeat: no-repeat;
	height: 421px;
	width: 724px;
}
.content-main
{
	padding-bottom: 4.5em;
	position: relative;
	min-height: 367px;
}
.content-main h1
{
	color: #fff;
}
.content-main h1
{
	float: right;
	margin: 0;
	padding: 0.3em 1em 0.5em 0;
	width: 75%;
}
.content-main #content-title
{
	height: 47px;
}
fieldset.primary-content
{
	display: block;
	float: right;
	margin: 0 30px 0 0;
	width: 70%;
}
fieldset.primary-content h2, .page-registration fieldset.primary-content label.h2
{
	clear: right;
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0 0 0.5em;
}
fieldset.primary-content h2, .page-registration fieldset.primary-content label.h2
{
	clear: right;
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	margin: 1em 0 0.5em;
}
fieldset.step-gender label
{
	font-weight: bold;
	line-height: 2.5em;
}
fieldset.step-gender label
{
	font-weight: bold;
	line-height: 2.5em;
}
.secondary-content
{
	float: right;
	margin-right: 11px;
	margin-top: 0;
	width: 29.17em;
}
.border-gen
{
	background-color: #fff;
	border: 4px double #96B1CC;
}
.border-gen
{
	clear: both;
	margin: 0;
	min-height: 3em;
}
.tips
{
	background-image: url(  "../img/Site/JDate-co-il/icon-tips.gif" );
	background-position: right 0.5em;
	background-repeat: no-repeat;
}
.tips p, .tips h2, .tips h3, .tips ul
{
	margin-right: 66px;
}
.vis-links
{
	margin: 1.25em auto;
	min-height: 3em;
	text-align: center;
	width: 66%;
}
.ie7 .vis-links .secondary.next-arrow{padding-left:2em;}
.ie7 .vis-links .secondary.prev-arrow{padding-right:2em;}
.vis-links h2
{
	float: right;
	font-size: 1.1em;
	margin: 0.75em 0.5em;
}
.vis-links .secondary.prev-arrow
{
	background: url(  "../img/Community/JDate/btn-secondary-bg-arrow.png" ) no-repeat scroll right center transparent;
	padding-left: 1em;
	padding-right: 2em;
}
.vis-links .secondary
{
	float: right;
	margin: 0.65em 0.5em 0 0;
	padding: 0;
}
.vis-links .secondary.next-arrow
{
	background: url(  "../img/Community/JDate/btn-secondary-bg-arrow.png" ) no-repeat scroll left center transparent;
}
.vis-links .secondary.next-arrow
{
	padding-left: 2em;
	padding-right: 1em;
}
.progress-bar
{
	background: url(  "../img/Community/JDate/progress-bar-bg.gif" ) no-repeat scroll 0 0 transparent;
	float: right;
	height: 41px;
	position: relative;
	width: 316px;	
}
.ie7 .progress-bar
{
	position:static;
}
.progress-bar span
{
	background: url(  "../img/Community/JDate/progress-bar.gif" ) no-repeat scroll 0 0 transparent;
	display: block;
	height: 25px;
	overflow: hidden;
	position: absolute;
	right: 8px;
	text-indent: -8000px;
	top: 8px;
	width: 300px;
}
.ie7 .progress-bar span
{
	position:relative;
	right:0;	
}
.progress-bar em
{
	background: url(  "../img/Community/JDate/progress-bar-bg-cover.gif" ) repeat-x scroll 0 0 transparent;
	display: block;
	height: 25px;
	position: absolute;
	top: 0;
	width: 300px;
}
#footer, #footer-narrow
{
	background-image: url(  "../img/site/JDate-co-il/bg-footer.gif" );
	background-repeat: repeat-x;
	color: #D3DDE7;
	clear: both;
	direction: rtl;
	margin: 6em auto 0;
	padding: 0.4em 0;
	width: 724px;
}
.fixed-width .footer-container
{
	margin: 0 auto;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active
{
	color: #D3DDE7;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active
{
	font-weight: normal;
}
/************* Facebook Welcome New User *******************/
#facebook-welcome
{
	direction: rtl;
	margin: 0 auto;
	width: 737px;
}
#facebook-welcome-container
{	
	-moz-border-radius: 8px 8px 8px 8px;
	border: 2px solid #ECEFF2;
}
#facebook-welcome-container #welcome-message-div
{
	padding-right: 3em;
	padding-top: 1em;
}
#facebook-welcome-container #welcome-title-spn
{
	font-size: 16px;
	font-weight: bold;
}
#facebook-welcome-container #welcome-message
{
	font-weight: normal;
	font-size: 1em;
}
#facebook-welcome-container #welcomepage-content
{
	height: 33em;
}
#facebook-welcome-container #first-container
{
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: #F2F7E8;
	border: 4px solid #E6EFD4;
	float: right;
	height: 339px;
	margin-right: 38px;
	padding: 1em;
	width: 40%;
}
#facebook-welcome-container #first-content-title
{
	color: #25426B;
	font-size: 1.17em;
	font-weight: normal;
	margin-bottom: 1em;
}
#facebook-welcome-container .ul-arrow
{
	line-height: 1.15em;
	margin: 1em 0;
}
#facebook-welcome-container .ul-arrow li
{
	background: url(  "../img/Site/JDate-co-il/bullet-arrow-blk-sm.gif" ) no-repeat scroll right top transparent;
}
#facebook-welcome-container p.block-text
{
	margin: 1.5em 0;
}
#facebook-welcome-container .subscribe-btn-div
{
	text-align: center;
}
#facebook-welcome-container #second-container
{
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: white;
	border: 4px solid #ECEFF2;
	float: right;
	height: 154px;
	padding: 1em;
	width: 40%;
	margin: 0 1.25% 0 0;
}
#facebook-welcome-container #second-container .block-text{font-size:14px;}
#facebook-welcome-container #third-container
{
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: white;
	border: 4px solid #ECEFF2;
	float: right;
	height: 143px;
	padding: 1em;
	width: 40%;
	margin: 0 1.25% 0 0;
}
#facebook-welcome-container #second-container h2, #facebook-welcome-container #third-container h2{color: #25426B;}
#facebook-welcome-container #third-container{margin-top:10px;}
/**************** Facebook Welcome returning User **************/
#facebook-returning-container
{
	width: 737px;
	margin: 0 auto;
}
.facebook-returning-header
{
	padding-bottom:1em;
}
#facebook-returning
{	
	-moz-border-radius: 8px 8px 8px 8px;
	border: 2px solid #ECEFF2;
	overflow:hidden;
	padding:1em;
}
#facebook-returning .quick-link-info
{
	line-height:1.75em;
}
#facebook-returning img.marketing {
float:left;
margin-right:0.5em;
}