/* Date.ca*/
a:link, a:active, a:visited
{
	color: #396646;
}

a:hover
{
	color: #396646;
}

a.help:link, a.help:active, a.help:visited
{
	color: #577D62;
}

a.help:hover
{
	color: #577D62;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
	color: #333333;
}

a.footerLink:hover 
{
	color: #333333;
}

a.fontBox:link, a.fontBox:active, a.fontBox:visited
{
	color: #577D62;
}

a.fontBox:hover 
{
	color: #ffffff;
	background: #577D62;
}

H1 
{
	color: #FA661E;
}

H2 
{
	color: #FA661E;
}

hr
{
	color: #D8D8C5;
	background-color: #D8D8C5;
	background: #D8D8C5;
}

.action
{
	background: #577D62;
}

.black
{
	background: #000000;
}

.dark
{
	background: #CEDACE;
}  

.darker
{
	background: #5C5C5C;
}

.darkest
{
	background: #8C9C94;
}

.light
{
	background: #F3F3E6;
}

.lighter
{
	background: #E6E6E6;
}

.lightest
{
	background: #FAFAF8;
}

.medium
{
	background: #F3F3E6;
}

.white
{
	background: #FFFFFF;
}

.whiteText 
{
	color: #FFFFFF;
}

    .whiteText:link, .whiteText:visited, .whiteText:hover, .whiteText:active
    {
	    color: #FFFFFF;
    }
    
.bulletDark 
{
	color: #738B77;
}

.bulletLight 
{
	color: #BABAB3;
}

/* font color sets not complete */
.colorDeemphasis
{
	color: #808080;
}

.colorHighlight
{
	color: #FA661E;
}

/* border color sets not complete */

.borderMedium
{
	border: 1px solid #D8D8C5;
}

.borderDark
{
	border: 1px solid #8C9C94;
}

.borderDarkest
{
	border: 1px solid #396646;
}

/* CSS-PULLDOWN NAVIGATION ELEMENTS */

UL.nde-menu-system UL
{
    background: #FAFAF8;
    filter: progid:dximagetransform.microsoft.alpha(opacity=95); 
    -moz-opacity: 0.95;
}

UL.nde-menu-system LI UL LI A
{
	 border-top-color: #8C9C94;
	 text-decoration:none;
}

UL.nde-menu-system LI A
{
    color: #396646;
}

UL.nde-menu-system LI.submenu UL A
{
   color: #396646;
   text-decoration:none;
}

UL.nde-menu-system LI A:hover
{
	 COLOR: #396646;
    BACKGROUND-COLOR: #FFFFFF;
}

UL.nde-menu-system LI.submenu UL
{
    border-right: 1px solid #8C9C94;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #8C9C94;
    border-bottom: 1px solid #8C9C94;
}

.activity
{
	color: #8C9C94;
}

.activityBar
{
	background: #EDF2EC;
	color: #5c5c5c;
}

.essayTitle
{
	color: #333333;
}

.galleryLink
{
	color: #396646;
}

.miniProfileTitle
{
	color: #396646;
}

.profileTitle
{
	color: #333333;
}

.profileImageHover 
{
	border-color: #FFFFFF; 
}

a:hover .profileImageHover, a:active .profileImageHover 
{	
	border-color: #396646; 
}

.profileImageHoverGallery 
{
	border-color: #e6e6e6; 
}

a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery 
{	
	border-color: #396646; 
}

.noPhoto
{
	border: 1px solid #D8D8C5;
}

	a:hover .noPhoto, a:active .noPhoto
	{	
		border-color: #396646; 
	}
	
.editHotList
	{
		border: 1px solid #d0cfc4; 
		color: #396646;
	}
	
/* Miscellaneous and Common Class Definitions */
.copyright
{
	background: #ffffff;
	color: #8C9C94;
}

.error
{
	color: #577D62;
}

.footerText
{
	color: #333333;
}

	
.fontSmall
{
	color: black;
}

.frame
{
	border: 1px solid #D8D8C5;
}

.activityButton {
	border: 1px solid #333333;
	background: #396646;
	color: #ffffff;
}

a.activityButton, a.activityButton:hover { color: #ffffff;}

.tip
{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
}

.secondaryButton
{
	border: 1px solid #333333;
	background: #FFFFFF;
	color: #396646;
}

/* home page elements */
	
#homePref , .homePref
{
	border: 1px solid #8C9C94;
}

.homePrefAd
{
	border: 1px solid #8C9C94;
}

	#homePref .homePrefTitle
	{
		color: #333333;
		background: #F3F3E6;
	}
	
	#homePref .homePrefSubTitle
	{
		background: #FAFAF8;
		color: #333333;	
	}

#homeProfile h2
{
	color: #333333;
	border-bottom: 1px solid white;
}
	
	.homeProfileBackground
	{
		background-image: url(../img/Community/AmericanSingles/bkg_homeProfile.gif);
		background-repeat: no-repeat;
	}
	
	.homeProfileTipsIcon
	{
		margin-top:4px;
	}

#homeRight
{	
	border: 1px solid #8C9C94;
}	

	#homeRight .homeRightTitle
	{
		color: #333333;
		background: #F3F3E6;
	}
	
	#homeRight .homeRightSubTitle
	{
		background: #FAFAF8;
		color: #333333;	
	}

/* end home page elemetns */
#leftNav
{
	border: 1px solid #D8D8C5;
}	
	
	#leftNav .leftNavText
	{
		background: #FFFFFF;		
		border-top: 1px dotted #D8D8C5;
	}
	
	#leftNav .leftNavTextDark
	{
		color: #577D62;
		background: #8C9C94;
		border-top: 1px dotted #D8D8C5;
	}
	
	#leftNav .leftNavTextLight
	{
		color: #333333;
		background: #E6E6E6;	
		border-top: 1px dotted #D8D8C5;
	}
	
	#leftNav .leftNavTextSolid
	{
		border-top: 1px solid #D8D8C5;
		background: #FAFAF8;	
	}
	
	#leftNav .leftNavTextMed
	{
		color: #577D62;
		background: #F3F3E6;	
		border-top: 1px dotted #D8D8C5;
	}

	
	#leftNav .leftNavTitle
	{
		color: #333333;
		background: #F3F3E6;
	}
	
	#leftNav .leftNavSubtitle
	{
		color: #333333;
		background: #FAFAF8;
		border-top: 1px dotted #D0CFC4;
	}
	
	#leftNav .thumbTrail
	{
		color: #577D62;
		border-top: 1px dotted #D8D8C5;
	}
#leftNew div#csbox
	{
	border: 1px solid #8c9c94;
	background-color: #f3f3e6;
	}

.leftNavNewMessages 
{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
}
	
#tipAppLeft
	{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
	}

.tipAppTitle
{
	font-weight:bold;
}

.iconList
{
	background:#F3F3E6;
}

#logIn
{
	width: 160px;
	font-size: 11px;
	margin-bottom: 12px;
	padding: 4px;
	margin-top: 0px;
	border: 0px solid black;
}

#loginBox
{
	border: 1px solid #D0CFC4;
}

	#loginBox .loginHeader
	{
		background: #F3F3E6;
	}
	
	#loginBox .loginFooter
	{
		background: #F3F3E6;
		border-top: 1px solid #D0CFC4;
	}

#mailBar
{
	background: #F3F3E6;
}
	
	.navSecondary
	{
		color: #396646;
	}
	
	.navPrimary
	{
		color: #396646;
	}
	
	#reviseLinks .reviseCriteria
	{
		color: #396646;
	}
	
#sort
{
	border: 1px solid #D8D8C5;
	background: #F3F3E6;
}

	* html #sort
	{
		border: 1px solid #D8D8C5;
		background: #F3F3E6;
	}
	
#accountInformation
{
	border: 1px solid #D8D8C5;
	background-color: #F3F3E6;
}

#sortOnlineNow
{
		background: #F3F3E6;
		border:1px solid #D1CFC3;
}

.subNavTop
{
	background: #396646;
}
	.breadCrumbUpper
	{
		color: #ffffff;
	}
	
	a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited, a.breadcrumbPagesLink:hover
	{
		color:#ffffff;
	}
	
	a.breadHome, a.breadHome:link, a.breadHome:active, a.breadHome:visited
	{
		color: #FFFFFF;
	}

	a.breadHome:hover
	{
		text-decoration:underline;
		color: #FFFFFF;
	}
	
	.breadCrumbPagesUpper
	{
		color: #ffffff;
	}
	
	.breadCrumbUpperRight
	{
		color: #ffffff;
	}
#rightNew div#rightcontent div#adspace
	{
	border: 1px solid #8c9c94;
	background-color: #f3f3e6;
	margin-bottom: -1px;
	}
	
div#rightcontent div#sitenews
	{
	border: 1px solid #8c9c94;
	}
	
div#rightcontent div#sitenews ul#newslist li
	{
	border-top: 1px solid #f5f6fc;
	background-image: url(../img/Community/AmericanSingles/bknd_newsitem.gif);
	background-position: top;
	background-repeat: repeat-x;
	}
	
div#rightcontent div#sitenews ul#newslist li h3
	{
	color: #fa661e;
	}
	
div#rightcontent div#sitenews ul#newslist li h3 a
	{
	color: #fa661e;
	}
	
div#rightcontent div#sitenews ul#newslist li p
	{
	color: #a6a6a6;
	}

.subNavBottom
{
	background: #F3F3E6;
}
	
	.breadCrumbLower
	{
		color: #396646;
	}
	
	.breadcrumbLower a.breadHome:link, .breadcrumbLower a.breadHome:active, .breadcrumbLower a.breadHome:visited
	{
		color:#396646;
	}
	
	.breadCrumbLowerRight
	{
		color: #396646;
	}
	
#voteBar
{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
}

	* html #voteBar
	{
		border: 1px solid #8C9C94;
		background: #F3F3E6;
	}

	#warning .warningText
	{
		color: #333333;
	}
	
/* BEGIN DROP SHADOWS */
#boxContent 
{ 
	background: #8C9C94;
}

#boxContainer 
{ 
	background: #F3F3E6;
}

#boxContentGallery 
{ 
	background: #d0cfc4;
	border: 1px solid #D8D8C5;
}

#boxContainerGallery 
{ 
	background: #F3F3E6; 
}

/* BEGIN TRANSLUCENCE */
#trans2
{
	background: #D9E4DB;
	filter: progid:dximagetransform.microsoft.alpha(opacity=30); 
	-moz-opacity: 0.30; 
}

.regHeader
{
	border-top: 1px solid #D8D8C5;
	border-bottom: 1px solid #D8D8C5;
	background:#F3F3E6;
}

/* BEGIN PREFERENCE PAGE ITEMS */
#prefBorder
{
	border: 1px solid #D8D8C5;
}	

	#prefBorder .prefHeader
	{
		background: #F3F3E6;
		border-bottom: 1px solid #D8D8C5;
	}	

	#prefBorder .prefSub
	{
		background: #F6E8BB;
	}	

	#prefTab .prefTabItem
	{
		border-left: 1px solid #D8D8C5;
		border-right: 1px solid #D8D8C5;
		border-top: 1px solid #D8D8C5;
		background: #F3F3E6;
	}
	
		#prefTab .prefTabItemActive
	{
		border-left: 1px solid #D8D8C5;
		border-right: 1px solid #D8D8C5;
		border-top: 1px solid #D8D8C5;
	}
	
	#prefTab
	{
		border-bottom: 1px solid #D8D8C5;
	}
	
/* Look Up Profile items */
#lookUpLeft
	{
		border: 1px solid #D8D8C5;

	}
	
	#lookUpLeft .lookUpLeftTitle
		{
			background: #F3F3E6;
			border-bottom: 1px solid #D8D8C5;
			color: #333333;
		}

	#lookUpLeft .lookUpLeftBtm
		{
			background: #F3F3E6;
			border-top: 1px solid #D8D8C5;
			color: #333333;
		}	
	
#lookUpRight
	{
		border: 1px solid #D8D8C5;
	}
		#lookUpRight .lookUpRightTitle
		{
			background: #F3F3E6;
			border-bottom: 1px solid #D8D8C5;
			color: #333333;
		}
		
#lookUpRight .lookUpRightBtm
		{
			background: #F3F3E6;
			border-top: 1px solid #D8D8C5;
			color: #333333;
		}

.mediumRow
	{
		background: #F3F3E6;
		color: #333333;
	}

#contHeader
	{
		background: #F3F3E6;
		border: 1px solid #D8D8C5;
	}
	
#contBorder
	{
		border: 1px solid #D8D8C5;
	}

a.buttonALink:link, a.buttonALink:visited, a.buttonALink:active, a.buttonALink:hover
{
	color: #ffffff;
    background: #396646;
    border-right: #333333 1px solid; 
    border-top: #333333 1px solid;  
    border-left: #333333 1px solid; 
    border-bottom: #333333 1px solid;
}

#helpSearch
{
border: 1px solid #D8D8C5;
background: #F3F3E6;
}

*html #helpSearch
{
border: 1px solid #D8D8C5;
background: #F3F3E6;
}

.question
{
color: #577D62;
}

.happyEndingsHeader
{
background-color: #F3F3E6;
}

/* popup profile */
a.ppLink:link, a.ppLink:active, a.ppLink:visited
{
	color: #ffffff;
}

a.ppLink:hover
{
	color: #ffffff;
}

.subscribeRight
{
	background: #EFF3FF;
}

.subscribeLeft
{
	background: #B7DA91;
}

/* noMatches box */

#noMatches
{
	border: 1px solid #D8D8C5;
	background-color: white;
}

#noMatchesBorder
{
	border: 1px solid #D8D8C5;
	background: #F3F3E6;
}

.mailPhotoAddressStyle
{
	background-color: #F3F3E6;
	border: 1px solid #D8D8C5;
}

a.closeBox:link, a.closeBox:active, a.closeBox:visited
{
	background-image: url(../img/Site/date-ca/icon_x.gif);
}

a.closeBox:hover 
{
	background-image: url(../img/Site/date-ca/icon_x_up.gif);
}
/* end no matches box */

/* generic shadow box */

#shadowBoxContent
{
	background: white;
}

#shadowBoxContainer
{
	background: #CFCFCF;
}

.navTop
{
	padding-bottom:4px;
	padding-top:0px;
}

.pageMessage
	{
	width: 585px;
	margin-left:auto;
	margin-right:5px;
	font-weight:bold;
	padding:5px;
	font-family: Verdana;
	font-size: 11px;
	border:1px solid #1E4611;
	background:#F0F6EE;
	color:#1E4611;
	}
	
#tipAppReg
	{
border: 1px solid #D8D8C5;
background: #F3F3E6;
	}
	
/* dynamic list elements */
.ListMenu
{
	border: 1px solid #D8D8C5; 
	background: #FAFAF8;
}

.ListElementItem
{
	border-top: 1px dotted #D8D8C5;
}

.ListElementItem :hover
{
	background: #FFFFFF;
}

/* IM ALERT */

#IMAlert
{
	background-color: #FFFFFF;
}

.IMAlert
{
	background-color: #FFFFFF;
	border: 3px solid #9c042a;
}

.IMAlertHeader
{
	background: #F6E8BB;
}

.AlertTable
{
	background-color: #FFFFFF;
}

.AlertHead
{
	background-color: #D1DA44;
	/* not sure what this is for, may need to change */
}

/*mini profile cells*/

.mp1
{
  background:#ffffff;
  border-top:1px solid #D8D8C5;
  border-right:1px solid #D8D8C5;
  border-left:1px solid #D8D8C5;
}

.mp2
{
  background:#EDF2EC;
  border-top:1px solid #D8D8C5;
  border-bottom:1px solid #D8D8C5;
  border-right:1px solid #D8D8C5;
}

.mp3
{
  background:#ffffff;
  border-right:1px solid #D8D8C5;
}

.mp4
{
  background:#ffffff;
  border-right:1px solid  #D8D8C5;
}

.mp5
{
  background:#ffffff;
  border-top:1px solid #D8D8C5;
  border-left:1px solid #D8D8C5;
  border-right:1px solid #D8D8C5;
  border-bottom:1px solid #D8D8C5;
}

.mp6
{
  background:#EDF2EC;
  border-top:1px solid #D8D8C5;
  border-right:1px solid #D8D8C5;
  border-bottom:1px solid #D8D8C5;
  text-align: right;
}

/*gallery cells*/

.gp1
{
  background:#ffffff;
}	

.gpYNM
{
	background:#EDF2EC;
	border-top: 1px solid #dedfde;
	border-bottom: 1px solid #dedfde;
}

.gp2
{
  background:#ffffff;
}

.gp3
{
  background:#ffffff;
}

.gp4
{
  background:#EDF2EC;
}

.gpBottom
{
  border-top: 1px solid #dedfde;
}

.gpInfo
{
  padding:3px;
}

a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
	color: #396646;
}

a:hover.homePageAddTo
{
	border: 1px solid #8C9C94;
	background: #F3F3E6;
	color: #396646;
}

.fiveDayFreeTrial
{
	background-image:url(../img/Site/Date-ca/Promo/fdft_bg.jpg);
}

.chatHeader 
{
	background-image:url(../img/Site/Date-ca/cht_bg.gif);
	width:100%;	
}

.subconfirm1
{
	background:#DFDFDF; 
}

.subconfirm2
{
	background:#E5E5E5;
}

.subconfirm3
{
	background:#EEEEEE;
}

.subconfirm4
{
	background:#F6F6F6;
}

.fdftPhotoUpload
{
	background:#EEEEEE;
	border:1px solid #dfdfdf;
}

.fdftSubscribeTop
{
	background-image:url(../img/Site/Date-ca/Promo/fdft_subscribe_top.gif);
	height:40px;
	width:590px;
	background-repeat:no-repeat;
}

.fdftSubscribeTopText
{
	margin:50px 10px 0 10px;
	width:590px;
}

/* astrology */

#astrologyContainer 
{
	background-image: url(../img/Site/Date-ca/bkg_astrology.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

.astrologyMemberId
{
	font-size: 16px;
	font-weight: bold;
}

#astrologyBody h2
{
	font-size: 14px;
	color: #396646;
	font-weight: bold;
}

#astrologyBody h3
{
	font-size: 11px;
	color: #396646;
	font-weight: bold;
}

#astrologyBody p
{
	font-size: 11px;
}

.astrologyPlanetText
{
	color: gray;
	font-weight: bold;
}

/* activity center styles */

.activityCenterContainer
{
	background-image: url(../img/Site/Date-ca/activityCenter_containerBottomCap.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #F3F3E6;
}

.activityCenterMessagesMiddle
{
	background-image: url(../img/Site/Date-ca/activityCenter_middle.gif);
	background-repeat: repeat-y;
}

/* David DeAngelo styles */

.DDheadline {
	color: #8C9C94;
}

.DDsubhead
{
	color: #000000;
}

.DDlink
{
	color: #000000;
}

.DDbody_bold_red
{
	color: #8C9C94;
}


.mailBoxBorder
{
	border:1px solid #dddddd;
}
.ViewProfileAlternateRow
{
	background: #F3F3E6;
}

/* begin AdUnit Related styles */
.fullBannerBox 
{
	text-align: center;
	padding: 0px; 
	border: 0px solid #D8D8C5; 
	margin: 10px 0px 10px 0px;
}

#blockUI
{
	background-color: black;
}

.blockUI_close a:link, .blockUI_close a:active, .blockUI_close a:visited, .blockUI_close a:hover
{
	color: #bebebe;
	font-weight: bold;
	background-color: #7F7F7F;
}
.adspace_header
{
	background-image: url(../img/Site/Date-ca/bknd_adspace_header.gif);
	background-repeat: repeat-x;
}
/* end AdUnit Related styles */

/* new Subscription page */

.fullPageViewBorder {
	border:1px solid #8C9C94;
}

.fullPageViewHeader {
	background-image:url(../img/Site/Date-ca/bg_fullPageViewHeader.gif);
	border-bottom: 1px solid #8C9C94;
}

.fullPageViewHeader h2 {
	color:#333;
	font-size:14px;
}

.subTop {
	background-image:url(../img/Site/Date-ca/sub_top_bg.jpg);
	background-repeat:no-repeat;
}

.subRenewalCopy
{
	color:#9c9c9c;
}

.subLeft
{
	border-right:1px solid #D5D4D4;
}

.helpLayer2
{
	background:#BEBEBE;
}

.helpLayer3
{
	border: 1px solid #B4B2B2;
	background:#f7f7f7;
}

.telecheckBG
{
	background-image:url(../img/Site/Date-ca/telecheck_sample_new_ynm4.gif);
}

.subTopPop 
{
	background-image:url(../img/Site/Date-ca/sub_top_bg_pop.jpg);
}

.subLeftPop
{
	border-right:1px solid #D5D4D4;
}

.regularPageViewBorder
{
	border:1px solid #DDDCD3;
}

.regularPageViewHeader
{
	background-image:url(../img/Site/Date-ca/bg_fullPageViewHeader.gif);
}

.regularPageViewHeader h1
{
	color:#333;
}

.termsViewBorder
{
	border: 1px solid #8C9C94;
}

/* end new Subscription page */

/* new styles for message page */

.prefMSDivider
{
	border-bottom: 1px solid #DEDBC6;
}

/* message settings page show div background used by JS function changeClassStyle */

.msColorShaded {
	background-color: #F3F3E6;
}

.msColorWhite {
	background-color: #FFFFFF;
}

.messageSettingsDividerBorder
{
	border-right: 1px solid #DEDBC6;
}

/* begin error page styles */
/* for error page background image rotation - currently only one image for CA */
.errorPageBackground01
{
	background-image: url(../img/Site/Date-ca/unexpected_error.jpg);
	background-repeat: no-repeat;
}

.errorPageBackground02
{
	background-image: url(../img/Site/Date-ca/unexpected_error.jpg);
	background-repeat: no-repeat;
}

/* Search results page sort tabs */
#sortTabs
{
	border: 1px solid #D8D8C5;
	background-color: #F3F3E6;
}

.sortTabResultsView
{
	border: 1px solid #396646;
	border-bottom: 0px solid white;
	background-image: url(../img/Community/AmericanSingles/bknd_sortTabsOff.gif);
	background-repeat: repeat-x;
}

.sortTabResultsViewSelected
{
	border: 1px solid #D8D8C5;
	border-bottom: 0px solid white;
	background-color: white;
	color: #333333;
}

/* added to override a.breadCrumbPagesLink color for search results nav no longer in breadcrumb trail */
.searchHdrNavLinks a.breadCrumbPagesLink:link, .searchHdrNavLinks a.breadCrumbPagesLink:active, .searchHdrNavLinks a.breadCrumbPagesLink:visited, .searchHdrNavLinks a.breadcrumbPagesLink:hover
{
		color:#396646;
}

#reviseLinks a.breadCrumbPagesLink:link, #reviseLinks a.breadCrumbPagesLink:active, #reviseLinks a.breadCrumbPagesLink:visited, #reviseLinks a.breadcrumbPagesLink:hover
{
		color:#396646;
}

/* Search pref 04/10/07 */

.prefBorder
{
	border: 1px solid #D8D8C5;
}

.prefBorder h2
{
	background: #f3f3e6;
	border-top: 0px solid #8c9c94;
}
	
.prefBorder h3
{
	background-color: #F3F3E6;
	border-top: 1px solid #D8D8C5;
}

.search-pref-option-container {
	background-color: White;
}

.prefSearchPRInfoContDynamic
{
	background-image: url(../img/Site/Date-ca/icon_searchPref_off.gif);
}

.search-pref-closed
{
	background-color: #F3F3E6;
	color: #396646;
	background-image: url(../img/Site/Date-ca/icon_searchPref_off.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.search-pref-open
{
	background-color: #F3F3E6;
	color: #396646;
	background-image: url(../img/Site/Date-ca/icon_searchPref_on.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.prefSearchSelectedItems
{
	background-color: #F3F3E6;
	border:0px solid grey;
}
	
.search-pref-container
{
	background-color: #F3F3E6;
}

.prefSearchDivider
{
	background-color:#F3F1EE;
}

.prefSearchPrefHeader
{
	border-top: 1px solid #D8D8C5;
}

/* search pref region picker styles */
.prefRegionPickerContainer
{
	background-color:white;
	border:1px solid #396646;
}

.prefRegionPickerHeader
{
	background-color: #F3F3E6;
}

/* reg form background color onfocus/onblur */

.formOnFocus, .formOnFocusTextarea, .formSelectOnFocus
{
	border: 1px solid #396646;
	background-color: #FFFFFF;
}

.formDefault, .formDefaultTextarea, .formSelectDefault, #regForm .formSelectDefaultPickRegion, #regForm .formDefaultPickRegion
{
	border: 1px solid #8C9C94;
	background-color: #F3F3E6;
}

#regForm .registrationCellLabelPickRegion
{
	color: #333333;
}

.registrationCellLabel
{
	color: #333333;
}

/* Site Map */
.oddrow
{
	background-color: #f3f3e6;
}
#sitemap h2
{
	border-bottom-color: #8c9c94;
}




#modSetContainer
{
	border: 1px solid #D8D8C5;
}

#modSetContainer h2
{
	background-color: #f3f3e6;
}

#modSetContainer hr
{
	background-color: #d1cfca;
	width: 97%;
	text-align: center;
}

.helpLayerMiddle
{
	background-color: #BEBEBE;
}

.helpLayerInner /* set width inline per item */
{
	border: 1px solid #8c9c94;
	background-color: white;
}

.sub .helpLayerContainerD h2, .helpLayerContainerD h2, .sub .helpLayerContainerB h2, .helpLayerContainerB h2
{
	color: #333333;
}

/* begin TrialPay */
#terminateTrialPayBanner {
	background-image: url(../img/Site/Date-ca/trialPay_terminateBannerBkg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#trialPaySubContainer
{
	position: relative;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../img/Site/Date-ca/trialPay_subBkg.gif);
}


/* Begin PhotoGallery */


.photo {
	border: #8c9c94 1px solid;
}
.photoWrapper {
	background: url(../img/Site/Date-ca/bknd_photoGalleryProfile.png) no-repeat center;
}
.profileShow {
	background: #ffffff;
	border: 1px solid #8c9c94;
	opacity: 1;
	-moz-opacity: 1;
}
.username {
	color: #396646;
}
.usernameAjax {
	color: #396646;
	border-bottom: #fa661e 1px dotted;
}
.userdata {
	color: #666666;
}
/* End PhotoGallery */
/* Begin Toolbar */

div#toolbarDownload {
	background-image: url(../img/community/AmericanSingles/bknd_toolbarDownload.gif);
	background-repeat: no-repeat;
	background-position: top center;
}

div#toolbarChart {
	background-image: url(../img/community/AmericanSingles/bknd_toolbarChart.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

a.buttonToolbar:link, a.buttonToolbar:visited, a.buttonToolbar:active, a.buttonToolbar:hover
{
	border: 1px solid #333333;
	background: #396646;
	color: #ffffff;
}

.mailBoxButton
{
	background-image: url(../img/Community/AmericanSingles/tile_inboxPageButtons.gif);
	background-position: top;
	background-repeat: repeat-x;
}

/*    For highlighting the mini profiles of premium authenticated members  */

.highlightedProfile td.mp1 {
	background-color: #f3ef8c;
	border-top: 1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
	border-left:1px solid  #c0ab6c;
}
.highlightedProfile td.mp2 {
	background-image: url(../img/Community/AmericanSingles/bknd_vote_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top:1px solid  #c0ab6c;
	border-bottom:1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp3
{
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp4 {
	background-color: #f3ef8c;
	border-right:1px solid  #c0ab6c;
}
.highlightedProfile td.mp5 {
	background-image: url(../img/Community/AmericanSingles/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border:1px solid  #c0ab6c;
}

.highlightedProfile td.mp6 {
	background-image: url(../img/Community/AmericanSingles/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top:1px solid  #c0ab6c;
	border-right:1px solid  #c0ab6c;
	border-bottom:1px solid  #c0ab6c;
}	
td.mp3 img.verifiedIcon  
{
	display: block;
	position: relative;
	float: right;
	right: 36px;
	top: 16px;
}
.highlightedProfile span.gpYNM {
	background-image: url(../img/Community/AmericanSingles/pro_bottomBknd_highlighted.gif);
	background-repeat: repeat-x;
	background-color: #f3ef8c;
	border-top: 1px solid #c0ab6c;
	border-bottom: 1px solid #c0ab6c;
}
.highlightedProfile td.gp1 
{
	background-color: #f3ef8c;
}
.highlightedProfile td.gp4 {
	background-color: #f3ef8c;
}
div.photoGallery .highlightedProfile  {
	background: url(../img/Community/AmericanSingles/bknd_photoGalleryProfile_highlighted.png) no-repeat center;
}

.highlightedProfile .gpBottom
{
	border-top: 1px solid #c0ab6c;
}
.highlightedProfile #boxContentGallery 
{ 
	background: #c0ab6c;
	border: 1px solid #c0ab6c;
}
.highlightProfileInfo 
{
	background-image: url(../img/Site/Date-ca/bknd_highlightProfileInfo.gif);
	background-repeat: no-repeat;
}

/*-----------------------*/
/*-----------------------*/
/* subscription redesign */
/*-----------------------*/
/*-----------------------*/

.fullPageViewAS h1 {
    color: #333333;
}

/* sub row default styles */
.sub li {
	background-color: #FFFFFF;
	border-bottom:1px solid #D1D1D1;
}

.sub ul {
	background-color: #FFFFFF;
	border-right:1px solid #D1D1D1;
}

.plansCol_0 li {
    border-right: 1px solid #D1D1D1;
}

#ieAll .plansCol_1 li.plansRow_0 {border-left: 0px solid #D1D1D1;}
#ieAll .plansCol_0 li {border-right: 0px solid #D1D1D1;}

.plansCol_0 .plansRow_0 {
    background-image:url(../img/Site/Date-ca/sub_duration_columnHeader.gif);
    background-position: right top;
    background-repeat: no-repeat;
}

/* begin sub quirks mode overrides (for classic sites) delete when quirksmode gone */

#ieAll .plansRow_0 ul {border: none;background-color: Transparent;}

/* default set is designed for redesign */
/* see classic set below for classic design set */

/* cell header default */
.cell-col-header {
	border: 1px solid white;
}

/* cell row header default */
.cell-row-header {
	border: 1px solid white;
}

	.cell-row-header h2 {
		color: #4f4f4f;
	}

/* cell plans default */
.cell-plan {
	/*background-image: url(../img/Site/Date-ca/sub-input-indicator.png);*/
	border: 1px solid white;
	border-left: 2px solid white;
}

.plansCol_2 .cell-plan {
	border-left: 1px solid white;
}
	#ie6only .plansCol_2 .cell-plan {border-left: 0px solid white;}

	.cell-plan h2 {
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}
	
	.cell-plan h2 .per-month {
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
		color: #999999;
	}

	.cell-plan p.payment {
		color: #999999;
	}

    .sub-none p {
        color: #396646;
    }

/* cell plans default top-premium */
.cell-row-header.shade h2 {
	color: #000000;
}

.cell-plan.strongest {
	/*background-image: url(../img/Site/Date-ca/sub-input-indicator-premium.png);*/
	background-color: #d1e2af;
}

	.cell-plan.strongest h2 {
		color: #993366;
	}
	
	.cell-plan.strongest h2 .per-month {
		color: #666666;
	}

	.cell-plan.strongest p.payment {
		color: #666666;
	}

	.cell-plan.strongest p.payment .fine-print {
		color: #999999;
	}

/* cell plans/duration default shade */
.cell-row-header.shade {
	background-color: #e8f0d7;
}

.cell-plan.shade {
	background-color: #f8f7e8;
}
	
	.cell-plan.shade h2 .per-month {
		color: #666666;
	}

	.cell-plan.shade p.payment {
		color: #666666;
	}

	.cell-plan.shade p.payment .fine-print {
		color: #999999;
	}
	
/* cell plans default strong */
.cell-plan.strong {
	background-color: #e8f0d7;
}
	
	.cell-plan.strong h2 .per-month {
		color: #666666;
	}

	.cell-plan.strong p.payment {
		color: #666666;
	}

	.cell-plan.strong p.payment .fine-print {
		color: #999999;
	}
	
/* cell plans default medium */
.cell-plan.medium {
	background-color: #f2f7e8;
}
	
	.cell-plan.medium h2 .per-month {
		color: #666666;
	}

	.cell-plan.medium p.payment {
		color: #666666;
	}

	.cell-plan.medium p.payment .fine-print {
		color: #999999;
	}
	
/* sub template set: classic */
/* classic default */
.cell-col-header.classic {
	background-image: url(../img/Community/AmericanSingles/sub_columnHeader.gif);
    background-position: right center;
    background-repeat: no-repeat;
	border: 0px solid white;
}

    .cell-col-header.classic h2 {
	    color: #396646; 
    }

.cell-row-header.classic {
	background-image:url(../img/Community/AmericanSingles/sub_duration_default.gif);
    background-repeat:repeat-y;
    background-position: right center;
    border: none;
}

	.cell-row-header.classic h2 {
		color: #396646;
	}

/* cell plans classic default */
.cell-plan.classic {
	border: 0px solid white;
}

	.cell-plan.classic h2 {
		font-family: verdana, sans-serif;
		color: #396646;
	}

	.cell-plan.classic p {
		font-family: verdana, sans-serif;
		color: #396646;
	}

	.cell-plan.classic h2 .per-month {
		font-family: verdana, sans-serif;
		color: #396646;
	}

/* classic column header content */
.cell-col-header.classic p {
	background-color: transparent;
	color: #396646;
}

.cell-col-header.classic ul {
	background-color: transparent;
	border: 0px solid white;
}

.cell-col-header.classic ul li {
	color: #396646;
}

/* classic shade */
.cell-row-header.classic.shade {
	background-color: #edf0f2;
}

	.cell-row-header.classic.shade h2 {
		color: #1C3356;
	}
	
.cell-plan.classic.shade {
	background-color: #edf0f2;
}

/* classic strong */	
.cell-plan.classic.strong {
	background-color: #FBFAE1;
}

/* classic strongest */
.cell-plan.classic.strongest {
	background-color: #F3F3DE;
}

.cell-plan.classic.strongest h2 {
	color: #FA661E;
}

/* Begin Profile Redesign */

#newProfileView {
	background-image: url(../img/Site/Date-ca/logo_newProfile.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
#newProfileView a img {
	border: none;
}
#newProfileView #profileMasthead 
{
	background-color: #577d62;
}
#newProfileView #profileNav, #newProfileView #profileNav a {
	color: #ffffff;
}
#newProfileView ul#tabNav li a {
	background-image: url(../img/Community/AmericanSingles/bknd_newProfile_tab.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #396646;
	border-left: 1px solid #396646;
	border-right: 1px solid #396646;
}
#newProfileView ul#tabNav li a.selected {
	background-image: none;
	background-color: #ffffff;
	color: #333333;
}
#newProfileView #profileControls ul#mainControls li {
	color: #1c3356;
}
#newProfileView #profileControls ul#mainControls li#ynm {
	background-image: url(../img/Community/AmericanSingles/bknd_button_ynm.gif);
	background-repeat: no-repeat;
}
#newProfileView #profileControls ul#mainControls li#email {
	background-image: url(../img/Community/AmericanSingles/bknd_button_email_green.gif);
	background-repeat: no-repeat;
}
#newProfileView .moreExplanation {
	background-color: #fafaf8;
	border: 1px solid #396646;
}
#newProfileView #profileControls ul#secondaryControls {
	background-color: #f3f3e6;
}
#newProfileView #profileControls #profilePhoto {
	background-color: #f3f3e6;
}
#newProfileView #profileControls ul#profileThumbs {
	background-color: #ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb img {
	border: 1px solid #ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.selected img {
	border: 1px solid #396646;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb:hover img {
	border: 1px solid #396646;
}
#newProfileView #profileContent #username {
	color: #333333;
}
#newProfileView #profileContent h2 {
	border-bottom: 1px solid #d8d8c5;
}
#newProfileView #profileContent #membernumber {
	color: #333333;
}
#newProfileView #profileFooter {
	background-color: #f3f3e6;
}

/* Forced Email Verification */

#verifyEmail div#currentEmail, #optout div#currentEmail {
	border: 1px solid #d8d8c5;
	background-color: #f3f3e6;
}
#verifyEmailConfirmation #confirmationMessage {
	background-color: #f3f3e6;
}
#verifyEmailConfirmation #verifyEmailChecklist h2 {
	background-image: url(../img/Site/Date-ca/bknd_hdr.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #333333;
}
#verifyEmailConfirmation #verifyEmailChecklist ul {
	border: 1px solid #8c9c94;
	color: #396646;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink {
	border-bottom: 1px solid #d8d8c5;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink {
	background-image: url(../img/Community/AmericanSingles/bknd_verifyEmail_profileLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink {
	background-image: url(../img/Community/AmericanSingles/bknd_verifyEmail_searchLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink {
	background-image: url(../img/Community/AmericanSingles/bknd_verifyEmail_subscribeLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink {
	background-image: url(../img/Community/AmericanSingles/bknd_verifyEmail_uploadLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink {
	background-image: url(../img/Community/AmericanSingles/bknd_verifyEmail_onlineLink.gif);
	background-repeat: no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li a {
	color: #fa661e;
}

#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink a {
	color: #396646;
}

/* Premium Profile Settings */
h2.tips {
    background-image: url(../img/Community/AmericanSingles/icon_tips.gif);
    background-position: left center;
    background-repeat: no-repeat;
}

.regionPickerLink {
	background-position: 22px 1px;
	background-repeat: no-repeat;
	background-image: url(../img/Community/AmericanSingles/icon_searchPref_off.gif);
}

.roundedCorners_gradient
{
	background-image: url(../img/Community/AmericanSingles/roundedCorner_bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.roundedCorners_gradient h2
{
	background-image: url(../img/Community/AmericanSingles/roundedCorner_top.gif);
	background-position: center top;
	background-repeat: no-repeat;
}

#spotlightMemberControl #spotlightMemberShowSettings {
    background-color: #EFEFEF;
}
/* end Premium Profile settings */

/* spotlight mini profile */

#spotlight_curveTop {
	background-image: url(../img/Site/Date-ca/memberSpotlight_curveTop.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.spotlightedProfile .mp1
{
  background-color:#f5f4d3;
  border-top:1px solid  #a6a584;
  border-right:1px solid  #a6a584;
  border-left:1px solid  #a6a584;
}

.spotlightedProfile .mp2
{
  background-image: url(../img/Site/Date-ca/bknd_vote_spotlight.gif);
  background-repeat: repeat-x;
  background-color: #f5f4d3;
  border-top:1px solid  #a6a584;
  border-bottom:1px solid  #a6a584;
  border-right:1px solid  #a6a584;
}

.spotlightedProfile .mp3
{
  background-color:#fafaf1;
  border-right:1px solid  #a6a584;
}

.spotlightedProfile .mp4
{
  background-color:#f5f4d3;
  border-right:1px solid #a6a584;
}

.spotlightedProfile .mp5
{
  background-image: url(../img/Site/Date-ca/pro_bottomActionBknd_spotlight.gif);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #f5f4d3;
  border-top:1px solid  #a6a584;
  border-right:1px solid  #a6a584;
  border-left:1px solid  #a6a584;
  border-bottom:1px solid  #a6a584;
}

.spotlightedProfile .mp6
{
  background-image: url(../img/Site/Date-ca/pro_bottomBknd_spotlight.gif);
  background-repeat: repeat-x;
  background-color: #f5f4d3;
  border-top:1px solid  #a6a584;
  border-right:1px solid  #a6a584;
  border-bottom:1px solid  #a6a584;
  text-align: right;
}

#divProfileEnlarge {
    border: 1px solid #8C9C94;
	background-color: #F3F3E6;
}

/* new home page matches styles */

.homePageYourMatches h2.blockTitle {
	background-color:#f3f3e6;
	color:#333333;
	border-top: 1px solid #8c9c94;
	border-right: 1px solid #8c9c94;
	border-left: 1px solid #8c9c94;
}

.homePageYourMatches ul {
	border-bottom: 1px solid #8c9c94;
	border-right: 1px solid #8c9c94;
	border-left: 1px solid #8c9c94;
	border-top: 1px solid transparent;
}

    #ie6only .homePageYourMatches ul {
	    border-top: 1px solid white;
    }

.homePageYourMatches ul li {
	background-color: white;
	border-top: 4px solid white;
	background-image: url(../img/Community/AmericanSingles/bknd_microProfile.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.homePageYourMatches.spotlightProfile h2.blockTitle {
	background-color:#f3f3e6;
}

.homePageYourMatches.spotlightProfile ul {
	background-color: white;
}

.homePageYourMatches.spotlightProfile ul li {
	background-color: white;
	background-image: url(../img/Site/Date-ca/bknd_microProfile_spotlight.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.homePageYourMatches ul li.highlightedProfile {
	background-color: white;
	background-image: url(../img/Site/Date-ca/bknd_microProfile_highlighted.png);
	background-position: center center;
	background-repeat: no-repeat;
}
