/* Cupid colors */
a:link, a:active, a:visited {
	color:#A30000;
}
a:hover {
	color:#A30000;
}
a.help:link, a.help:active, a.help:visited {
	color:#A30000;
}
a.help:hover {
	color:#A30000;
}
a.footerLink:link, a.footerLink:active, a.footerLink:visited {
	color:#333333;
}
a.footerLink:hover {
	color:#333333;
}
a.fontBox:link, a.fontBox:active, a.fontBox:visited {
	color:#A30000;
}
a.fontBox:hover {
	color:#ffffff;
	background-color:#A30000;
}
H1 {
	color:#A30000;
}
H2 {
	color:#941419;
}
hr {
	color:#DDDCD3;
	background-color:#DDDCD3;
}
/* Color Class Definitions */
.action {
	background-color:#A30000;
}
.black {
	background-color:#000000;
}
.dark {
	background-color:#DDDCD3;
}
.darker {
	background-color:#5C5C5C;
}
.darkest {
	background-color:#A30000;
}
.emphasis {
	background-color:#333333;
}
.extra {
	background-color:#999999;
}
.light {
	background-color:#EDEDED;
}
.lightForForcePage
{
    background-color:#EDEDED;
	height:514px;
	width:513px;
}
#rightNew .light {
	background-color:#EDEDED;
}
.lighter {
	background-color:#E6E6E6;
}
.lightest {
	background-color:#FAFAF8;
}
.medium {
	background-color:#EDEDED;
}
.white {
	background-color:#FFFFFF;
}
.whiteText {
	color:#FFFFFF;
}
    .whiteText:link, .whiteText:visited, .whiteText:hover, .whiteText:active {
	    color:#FFFFFF;
    }
.bulletDark {
	color:#738B77;
}
.bulletLight {
	color:#BABAB3;
}
/* font color sets not complete */
.colorMedium {
	color:#777777;
}
.colorDeemphasis {
	color:#808080;
}
.colorHighlight {
	color:red;
}
/* border color sets not complete */
.borderMedium {
	border:1px solid #EDEDED;
}
.borderDark {
	border:1px solid #C6C6C6;
}
#rightNew .borderDarkest {
	border:1px solid #EDEDED;
}
#leftNew .borderDark {
	border:1px solid #E3EEEE;
}
/* CSS-PULLDOWN NAVIGATION ELEMENTS */
UL.nde-menu-system UL {
    background-color:#ffffff;
    filter:progid:dximagetransform.microsoft.alpha(opacity=95);
    -moz-opacity:0.95;
}
UL.nde-menu-system LI A:visited {
	 color:#647878;
}
UL.nde-menu-system LI UL LI A {
	 border-top-color:#DBDBDB;
	 color:#A30000;
}
UL.nde-menu-system LI UL LI A:link {
	 border-top-color:#DBDBDB;
	 color:#000000;
	 text-decoration:none;
}
UL.nde-menu-system LI UL LI A:hover {
	 border-top-color:#DBDBDB;
	 color:#fff;
	 background-color:#B4C0C0;
}
UL.nde-menu-system LI UL LI A:visited {
	 border-top-color:#DBDBDB;
	 color:#fff;
}
UL.nde-menu-system LI A:link {
    color:#647878;
}
UL.nde-menu-system LI.submenu UL A:visited {
    color:#000000;
}
UL.nde-menu-system LI.submenu UL A:hover {
    color:#fff;
}
UL.nde-menu-system LI.submenu UL {
    border:0px;
}
/* header/navigation */
.titleTable {
    background-image:url(../img/Community/Cupid/titleBck.jpg);
}
.mainMenu {
    background-image:url(../img/Community/Cupid/menuBck.jpg);
}
.mainMenu a {
    color:#647878;
}
.subscribeRed {
    color:#A40000 !important;
}
#applicationNew {
	text-align:right;
}
.activity {
	color:#999999;
}
.activityBar {
	background-color:#EDEDED;
	color:#5c5c5c;
}
.essayTitle {
	color:#333333;
}
.galleryLink {
	color:#A30000;
}
.miniProfileTitle {
	color:#A30000;
}
.profileTitle {
	color:#333333;
}
.editHotList {
	border-bottom:1px solid #000;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	color:#A30000;
}
/* Miscellaneous and Common Class Definitions */
.copyright {
	background-color:#ffffff;
	color:#999999;
}
.footerText {
	color:#333333;
}
.fontSmall {
	color:black;
}
.activityButton {
	background-color:#A30000;
    border:1px solid #ffffff;
    color:#FFFFFF;
}
.ImButton {
    background:url(../img/Community/Cupid/activityButton.gif) no-repeat;
}
.IM-cta {
    color:White;
}
a.activityButton, a.activityButton:hover {color:#ffffff;}
#tipAppLeft {
	background-color:#EDEDED;
	color:#000;
	border:3px solid #778F94;
}
.secondaryButton {
	background-color:#FFFFFF;
    border:1px solid #000000;
    color:#000000;
}
/* home page elements */
#homePref, .homePref {
	border:#dddcd3 0px solid;
}
.homePrefAd {
	border:#dddcd3 0px solid;
}
	#homePref .homePrefTitle {
		color:#94121C;
		background-color:#F5F5F5;
	}
	#homePref .homePrefSubTitle {
		background-color:#FAFAF8;
		color:#333333;	
	}
#homeProfile h2 {
	color:#333333;
	border-bottom:4px solid #C7C7C7;
}
/* homeprofile completion */
.percentage {
    color:#A40000;
}
.percentTable {
    border-color:#C7C7C7;
}
.seperatorPercent {
    background-color:#C7C7C7;
}
#homeRight {	
	border:1px solid #DDDCD3;
}	
	#homeRight .homeRightTitle {
		color:#333333;
		background-color:#F3F1EE;
	}
	#homeRight .homeRightSubTitle {
		background-color:#FAFAF8;
		color:#333333;	
	}
/* end home page elemetns */
#leftNav {
	background-color:#E3EEEE;
}	
	#leftNav .leftNavText {		
		background-color:#fff;
	}
		#leftNav .leftNavTextDark {
		color:#A30000;
		background-color:#fff;
	}
	#leftNav .leftNavTextLight {
		color:#333333;	
		background-color:#fff;
	}
	#leftNav .leftNavTextMed {
		color:#A30000;
		background-color:#fff;	
	}
	#leftNav .leftNavTextSolid {
		background-color:#E2EEEE;
	}
	#leftNav .leftNavTitle {
		color:#333333;
	}
	#leftNav .leftNavSubtitle {
		color:#333333;
		background-color:#fff;
	}
	#leftNav .thumbTrail {
		color:#A30000;
		border-top:1px dotted #DDDCD3;
	}
#Left {
	background-color:#EDEDED;
	}
#mailBar {
	background-color:#EDEDED;
}
	.navSecondary {
		color:#A30000;
	}
	#reviseLinks .reviseCriteria {
		color:#A30000;
	}
#sort {
	background-color:#EDEDED;
}
	*html #sort {
		background-color:#EDEDED;
	}
.subNavTop {
    background-color:#79969C;
    border-bottom:6px solid #EDEDED;
}
	.breadCrumbUpper {
		color:#fff;
	}
	a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited {
		text-decoration:none;
		color:#fff;
	}
	.breadCrumbUpper a.breadHome, .breadCrumbUpper a.breadHome:link, .breadCrumbUpper a.breadHome:active, .breadCrumbUpper a.breadHome:visited {
		color:#fff;
	}
	.breadCrumbLower a.breadHome, .breadCrumbLower a.breadHome:link, .breadCrumbLower a.breadHome:active, .breadCrumbLower a.breadHome:visited {
		color:#fff;
	}
a.breadCrumbPagesLink:hover {
	text-decoration:underline;
	color:#fff;
}
	.breadCrumbPagesUpper  {
		color:#fff;
	}
	.breadCrumbUpperleft {
		color:#fff;
	}
#rightNew div#rightcontent div#adspace {
	background-color:#f5f5f5;
}
.subNavBottom {
	background-color:#79969C;
	color:#fff;
	border-bottom:6px solid #EDEDED;
}
.subNavBottom a.subNavBottom:link, .subNavBottom a.subNavBottom:hover, .subNavBottom a.subNavBottom:visited {
	color:#fff;
}
	.breadCrumbLower a:visited, .breadCrumbLower a:active, .breadCrumbLower a:hover, .breadCrumbLower a:link {
		color:#fff;
	}
	.breadCrumbLowerleft {
		color:#fff;
	}
.breadCrumbPagesLower a:visited, .breadCrumbPagesLower a:active, .breadCrumbPagesLower a:hover, .breadCrumbPagesLower a:link {
	color:#fff;
}
a.breadCrumbLowerRight a:link, .breadCrumbLowerRight a:visited, .breadCrumbLowerRight a:hover, .breadCrumbLowerRight a:active {
	color:#fff;
}
#voteBar {
	border-bottom:1px solid #dfdfdf;
}
	* html #voteBar {
		border-bottom:1px solid #dfdfdf;
	}
	#warning .warningText {
		color:#333333;
	}
/* BEGIN DROP SHADOWS */
#boxContainer {
	background-color:White;
	background-image:url(../img/Community/Cupid/bg_miniprofile.gif);
}
#boxContentGallery {
	background-color:#FFFFFF;
	border:1px solid #C0C0C0;
}
#boxContainerGallery {
	background-color:#FFFFFF;
}
/* BEGIN TRANSLUCENCE */
#trans2 {
	background-color:#D9E4DB;
	filter:progid:dximagetransform.microsoft.alpha(opacity=30);
	-moz-opacity:0.30;
}
/* BEGIN PREFERENCE PAGE ITEMS */
#prefBorder {
	border:0px solid #DDDCD3;
}	
	.prefHeader {
		background-color:#EDEDED;
	}	
	#prefBorder .prefSub {
		/*background-color:#D9E4DB;*/
	}	
	#prefTab .prefTabItem {
		border-left:1px solid #DDDCD3;
		border-right:1px solid #DDDCD3;
		border-top:1px solid #DDDCD3;
		background-color:#EDEDED;
	}
		#prefTab .prefTabItemActive {
		border-left:1px solid #DDDCD3;
		border-right:1px solid #DDDCD3;
		border-top:1px solid #DDDCD3;
		background-color:#EDEDED;
	}
	#prefTab {
		border-bottom:1px solid #DDDCD3;
	}
/* Look Up Profile items */
#lookUpLeft {
	background-color:#EDEDED;
}
	#lookUpLeft .lookUpLeftTitle {
			color:#A30000;
		}
	#lookUpLeft .lookUpLeftBtm {	
			border-top:1px solid #DDDCD3;
			color:#333333;
		}	
#lookUpRight {
	background-color:#EDEDED;
}
		#lookUpRight .lookUpRightTitle {
			color:#A30000;
		}
		
#lookUpRight .lookUpRightBtm {
	background-color:#F3F1EE;
	border-top:1px solid #DDDCD3;
	color:#333333;
}
.mediumRow {
	background-color:#EDEDED;
	color:#333333;
}
#contHeader {
	background-color:#F3F1EE;
	border:1px solid #DDDCD3;
}
#contBorder {
	border:1px solid #DDDCD3;
}
#sortOnlineNow {
	background-color:#EDEDED;
}
	* html #sortOnlineNow {
		background-color:#EDEDED;
	}
#loginBox {
	background-color:#EDEDED;
}
	#loginBox .loginHeader {
		background-color:#EDEDED;
	}
	#loginBox .loginFooter {
		background-color:#EDEDED;	
	}
	#loginBox .loginLightBG {
		background:white;
	}
/* IM ALERT*/
#IMAlert {
	background-color:#E3EEEE;
}
.IMAlert {
	background-color:#778F94;
}
a.buttonALink:link, a.buttonALink:visited, a.buttonALink:active, a.buttonALink:hover {
	background-color:#A30000;
	color:#ffffff;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
#tipAppReg {
	background-color:#F7F7F7;
	}
/*mini profile cells*/
.mp1 {
    border-top:1px solid #ADACAF;
    border-right:1px solid #ADACAF;
    border-left:1px solid #ADACAF;
}
.mp2 {
    background-color:#F0F0F0;
    border-top:1px solid #ADACAF;
    border-left:1px solid #ADACAF;
}
.mp3 {
    border-top:1px solid #ADACAF;
}
.mp4 {
    border-top:1px solid #ADACAF;
    border-right:0px solid #ADACAF;
    border-left:1px solid #ADACAF;
}
.mp5 {
    background-color:#f0f0f0;
    border:1px solid #ADACAF;
}
.mp6 {
  background-color:#f0f0f0;
  border-top:1px solid #ADACAF;
  border-left:1px solid #ADACAF;
  border-bottom:1px solid #ADACAF;
}
/*gallery cells*/
.gp1 {
  background-color:#F6F6F6;
  border-bottom:1px solid #C0C0C0;
}	
.gp2 {
  background-color:#ffffff;
}
.gp2 .noPhoto {
	border-left:1px solid white;
	border-bottom:1px solid white;
}
.gp3 {
  background-color:#ffffff;
}
.gp4 {
  background-color:#f6f6f6;
}
.gpBottom {
  border-top:1px solid #C0C0C0;
}
/* created for JV's jdate design */
a.navTopLink:link, a.navTopLink:active, a.navTopLink:visited, a.navTopLink:hover {
    color:#990000;
}
a.breadCrumbHome:link, a.breadCrumbHome:active, a.breadCrumbHome:visited, a.breadcrumbHome:hover {
    color:#F02E0C;
}
/* popup profile */
a.ppLink:link, a.ppLink:active, a.ppLink:visited {
	color:#990000;
}
a.ppLink:hover {
    color:#990000;
}
/* noMatches box */
#noMatches {
	background-color:#fff;
}
#noMatches h2 {
	color:#A30000;
	font-weight:bold;
}
#noMatchesBorder {
	background-color:#fff;
}
.mailPhotoAddressStyle {
	background-color:#EEF1F9;
	border:1px solid #333;
}
a.closeBox:link, a.closeBox:active, a.closeBox:visited {
	background-image:url(../img/Community/Cupid/icon_x.gif);
}
a.closeBox:hover {
	background-image:url(../img/Community/Cupid/icon_x_up.gif);
}
/* end no matches box */
/* generic shadow box */
#shadowBoxContent {
	background-color:#fff;
}
#shadowBoxContainer {
	background-color:#CFCFCF;
}
/* dynamic list elements */
.ListMenu {
	background-color:#EDEDED;
}
.ListElementItem {
	background-color:#fff;
}
.ListElementItem :hover {
	background-color:#A30000;
	color:#fff;
}
.subscribeRight {
	background-color:#A30000;
}
.subscribeRight h2 {
	color:#ffffff;
}
.subscribeLeft {
	background-color:#A30000;
}
.subscribeLeft h2 {
	color:#ffffff;
}
.pageMessage {
	background-color:#EDEDED;
	color:#1E4611;
}
a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo {
	border:1px solid #DDDCD3;
	background-color:#F3F1EE;
	color:#0F1177;
}
a:hover.homePageAddTo {
	border:1px solid #DDDCD3;
	background-color:#F3F1EE;
	color:#0F1177;
}
.leftNavNewMessages {
	border:1px solid #DDDCD3;
	background-color:#F3F1EE;
}
.subconfirm1 {
	background-image:url(../img/Community/Cupid/bg_subConfirm1.gif);
}
.subconfirm2 {
	background-image:url(../img/Community/Cupid/bg_subConfirm2.gif);
}
.subconfirm3 {
	background-image:url(../img/Community/Cupid/bg_subConfirm3.gif);
}
.subconfirm4 {
	background-image:url(../img/Community/Cupid/bg_subConfirm4.gif);
}
/* activity center styles */
.activityCenterContainer {
	background-color:#EDEDED;
}
.activityCenterMessagesMessage {
	background-color:#fff;
}
/* new classes for re-branding */
.profileHeaderBG {
	background-color:#EDEDED;
}
.profileImageHover {
	border-color:#ffffff;
}
a:hover .profileImageHover, a:active .profileImageHover {	
	border-color:#A30000;
}
a:link .profileImageHoverGallery, a:visited .profileImageHoverGallery {
	border-color:#ffffff;
}
a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery {
	border-color:#A30000;
}
.error {
	background-color:#EDEDED;
}
.subscriptionFormDivider {
	border-right:1px dashed #F86014;
}
.mailBoxBorder {
	border:0px;
}
.mailBoxBorder tr.dark{
    background-color:#E3EEEE;
}
.mailBoxBorder .inboxTitleLnk {
    color:#000;
}
/* begin AdUnit Related styles */
.fullBannerBox {
	border:0px solid #DDDCD3;
}
#blockUI {
	background-color:black;
}
.blockUI_close a:link, .blockUI_close a:active, .blockUI_close a:visited, .blockUI_close a:hover {
	color:#bebebe;
	background-color:#7F7F7F;
}
/* end AdUnit Related styles */
/* new styles made for Subscription page */
.fullPageViewBorder {
	border:1px solid #A30000;
}
.fullPageViewHeader {
	background-color:#EDEDED;
}
.fullPageViewHeader h2 {
	color:#333;
}
.subTop {
	border:solid 1px black;
	background-repeat:no-repeat;
}
.subRenewalCopy {
	color:#767676
}
.subLeft {
	border-left:1px solid #D5D4D4;
}
.helpLayer2 {
	background-color:#BEBEBE;
}
.helpLayer3 {
	border:1px solid #B4B2B2;
	background-color:#f7f7f7;
}
.telecheckBG {
	background-image:url(../img/Community/JDate/telecheck_sample_new_ynm4.gif);
}
.subLeftPop {
	border-left:1px solid #D5D4D4;
}
.regularPageViewBorder {
	border:1px solid #DDDCD3;
}
.regularPageViewHeader {
	background-image:url(../img/Community/JDate/bg_fullPageViewHeader.gif);
}
.regularPageViewHeader h1 {
	color:#333;
}
.termsViewBorder {
	border:1px solid #949FDE;
}
/* end new styles made for Subscription page */
/* new styles for message page */
.prefMSDivider {
	border-bottom:1px solid #DDDCD3;
}
/* message settings page show div background used by JS function changeClassStyle */
.msColorShaded {
	background-color:#EDEDED;
}
.msColorWhite {
	background-color:#FAFAF8;
}
.messageSettingsDividerBorder {
	border-left:1px solid #DDDCD3;
}
/* Search results page sort tabs */
#sortTabs {
	border:1px solid #FFFFFF;
	/*background-image:url(../img/Community/Cupid/bg_sort.gif);*/
	background-color:#EDEDED;
}
.sortTabResultsView {
	border:1px solid #fff;
	border-bottom:0px solid white;
	background-color:#D1D7D7;
}
.sortTabResultsView a:link, .sortTabResultsView a:active, .sortTabResultsView a:visited, .sortTabResultsView a:hover {
	color:white;
}
.sortTabResultsViewSelected {
	border:1px solid #FFFFFF;
	border-bottom:0px solid white;
	background-color:#a30000;
	color:#fff;
}
/* added to override a.breadCrumbPagesLink color for search results nav no longer in breadcrumb trail */
.searchHdrNavLinks a.breadCrumbPagesLink:link, .searchHdrNavLinks a.breadCrumbPagesLink:active, .searchHdrNavLinks a.breadCrumbPagesLink:visited, .searchHdrNavLinks a.breadcrumbPagesLink:hover {
		color:#A30000;
}
#reviseLinks a.breadCrumbPagesLink:link, #reviseLinks a.breadCrumbPagesLink:active, #reviseLinks a.breadCrumbPagesLink:visited, #reviseLinks a.breadcrumbPagesLink:hover {
		color:#A30000;
}
/* Search pref 04/10/07 */
.prefBorder {
	border:0px solid #969EDB;
}
.prefBorder h2 {
	border-top:0px solid #969EDB;
	background-color:#EDEDED;
}
.prefBorder h3 {
	border-top:1px solid #FFFFFF;
	background-color:#EDEDED;
}
.search-pref-option-container {
	background-color:White;
}
.prefSearchPRInfoContDynamic {
	background-image:url(../img/Community/Cupid/icon_searchPref_off.gif);
}
.search-pref-closed {
	color:#A30000;
	background-image:url(../img/Community/Cupid/icon_searchPref_off.gif);
	background-position:right center;
	background-repeat:no-repeat;
}
.search-pref-open {
	color:#A30000;
	background-image:url(../img/Community/Cupid/icon_searchPref_on.gif);
	background-position:right center;
	background-repeat:no-repeat;
}
.prefSearchSelectedItems {
	background-color:#EDEDED;
}
.search-pref-container {
	background-color:#EDEDED;
	padding-bottom:8px;
}
.prefSearchDivider {
	background-color:#EEF1F9;
}
.prefSearchPrefHeader {
	border-top:1px solid #FFFFFF;
}
/* search pref region picker styles */
.prefRegionPickerContainer {
	background-color:white;
	border:1px solid #A30000;
}
.prefRegionPickerHeader {
	background-color:#EDEDED;
	border-bottom:0px solid #A30000;
}
.termsViewBorder {
	border:1px solid #cdcdcd;
}
/* Site Map styles */
#sitemap h2 {
	border-bottom-color:#ebebeb;
}
.oddrow {
	background-color:#f4f4f4;
}
#modSetContainer {
	border:0px solid #808080;
	background-color:White;
}
#modSetContainer h2 {
	background-color:#EDEDED;
}
#modSetContainer hr {
	background-color:#808080;
}
/* Begin PhotoGallery */
.photo {
	border:1px solid #DDDCD3;
}
.photoWrapper {
	background:url(../img/Community/Cupid/bknd_photoGalleryProfile.png) no-repeat center;
}
.profileShow {
	background-color:#ffffff;
	border:1px solid #DDDCD3;
	opacity:1;
	-moz-opacity:1;
}
.username {
	color:#a30000;
}
.usernameAjax {
	color:#a30000;
	border-bottom:#DDDCD3 1px dotted;
}
.userdata {
	color:#666666;
}
/* End PhotoGallery */
.mailBoxButton {
	background-color:#A30000;
}
a.mailBoxButton:link, a.mailBoxButton:active, a.mailBoxButton:visited, a.mailBoxButton:hover {
	color:White;
}
/*-----------------------*/
/*-----------------------*/
/* subscription redesign */
/*-----------------------*/
/*-----------------------*/
.fullPageViewAS h1 {
    color:#333;
}
/* sub row default styles */
.sub li {
	background-color:#FFFFFF;
	border-bottom:1px solid #A30000;
}
.sub ul {
	background-color:#FFFFFF;
	border-left:1px solid #A30000;
}
.plansCol_0 li {
    border-left:1px solid #A30000;
}
#ieAll .plansCol_1 li.plansRow_0 {border-right:0px solid #A30000;}
#ieAll .plansCol_0 li {border-left:0px solid #A30000;}
/* begin sub quirks mode overrides (for classic sites) delete when quirksmode gone */
#ieAll .plansRow_0 ul {border:none;background-color:Transparent;}
/* default set is designed for redesign */
/* see classic set below for classic design set */
/* cell header default */
.cell-col-header {
	border:1px solid white;
}
/* cell row header default */
.cell-row-header {
	border:1px solid white;
}
	.cell-row-header h2 {
		color:#4f4f4f;
	}
/* cell plans default */
.cell-plan {
	border:1px solid white;
	border-right:2px solid white;
}
.plansCol_2 .cell-plan {
	border-right:1px solid white;
}
	#ie6only .plansCol_2 .cell-plan {border-right:0px solid white;}
	.cell-plan h2 {
		font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}
	.cell-plan h2 .per-month {
		font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
		color:#999999;
	}
	.cell-plan p.payment {
		color:#999999;
	}
    .sub-none p {
        color:#333333;
    }
/* cell plans default top-premium */
.cell-row-header.shade h2 {
	color:#000000;
}
.cell-plan.strongest {
	background-color:#d1e2af;
}
	.cell-plan.strongest h2 {
		color:#993366;
	}
	.cell-plan.strongest h2 .per-month {
		color:#666666;
	}
	.cell-plan.strongest p.payment {
		color:#666666;
	}
	.cell-plan.strongest p.payment .fine-print {
		color:#999999;
	}
/* cell plans/duration default shade */
.cell-row-header.shade {
	background-color:#e8f0d7;
}
.cell-plan.shade {
	background-color:#f8f7e8;
}
	.cell-plan.shade h2 .per-month {
		color:#666666;
	}
	.cell-plan.shade p.payment {
		color:#666666;
	}
	.cell-plan.shade p.payment .fine-print {
		color:#999999;
	}
/* cell plans default strong */
.cell-plan.strong {
	background-color:#e8f0d7;
}
	.cell-plan.strong h2 .per-month {
		color:#666666;
	}
	.cell-plan.strong p.payment {
		color:#666666;
	}
	.cell-plan.strong p.payment .fine-print {
		color:#999999;
	}
/* cell plans default medium */
.cell-plan.medium {
	background-color:#EDEDED;
}
	.cell-plan.medium h2 .per-month {
		color:#666666;
	}
	.cell-plan.medium p.payment {
		color:#666666;
	}
	.cell-plan.medium p.payment .fine-print {
		color:#999999;
	}
/* sub template set:classic */
/* classic default */
.cell-col-header.classic {
	background-color:#EDEDED;
	border:0px solid white;
}
    .cell-col-header.classic h2 {
	    color:#333;
    }
.cell-row-header.classic {
	background-color:#EDEDED;
    border:none;
}
	.cell-row-header.classic h2 {
		color:#333;
	}
/* cell plans classic default */
.cell-plan.classic {
	border:0px solid white;
}
	.cell-plan.classic h2 {
		font-family:verdana, sans-serif;
		color:#333;
	}
	.cell-plan.classic p {
		font-family:verdana, sans-serif;
		color:#333;
	}
	.cell-plan.classic h2 .per-month {
		font-family:verdana, sans-serif;
		color:#333;
	}
/* classic column header content */
.cell-col-header.classic p {
	background-color:transparent;
	color:#333;
}
.cell-col-header.classic ul {
	background-color:transparent;
	border:0px solid white;
}
.cell-col-header.classic ul li {
	color:#333;
}
/* classic shade */
.cell-row-header.classic.shade {
	background-color:#EDEDED;
}
	.cell-row-header.classic.shade h2 {
		color:#A30000;
	}
.cell-plan.classic.shade {
	background-color:#EDEDED;
}
/* classic strong */	
.cell-plan.classic.strong {
	background-color:#EDEDED;
}
/* classic strongest */
.cell-plan.classic.strongest {
	background-color:#EDEDED;
}
.cell-plan.classic.strongest h2 {
	color:#A30000;
}
/* Begin Profile Redesign */
#newProfileView {
	background-image:url(../img/Community/Cupid/logo_newProfile.gif);
	background-position:bottom left;
	background-repeat:no-repeat;
}
#newProfileView a img {
	border:none;
}
#newProfileView #profileMasthead {
	background-color:#EDEDED;
}
#newProfileView ul#tabNav li a {
	background-color:#D1D7D7;
	color:#ffffff;
	border:1px solid #FFFFFF;
}
#newProfileView ul#tabNav li a.selected {
	background-color:#a30000;
	color:#fff;
	border:1px solid #FFFFFF;
}
#newProfileView #profileControls ul#mainControls li {
	color:#A30000;
}
#newProfileView #profileControls ul#mainControls li#ynm {
	background-image:url(../img/Community/Cupid/bknd_button_ynm.gif);
	background-repeat:no-repeat;
}
#newProfileView .moreExplanation {
	background-color:#ffffff;
	border:1px solid #a30000;
}
#newProfileView #profileControls ul#secondaryControls {
	background-color:#EDEDED;
}
#newProfileView #profileControls #profilePhoto {
	background-color:#EDEDED;
}
#newProfileView #profileControls ul#profileThumbs {
	background-color:#ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb img {
	border:1px solid #ffffff;
}
#newProfileView #profileControls ul#profileThumbs li a.selected img {
	border:1px solid #a30000;
}
#newProfileView #profileControls ul#profileThumbs li a.profileThumb:hover img {
	border:1px solid #a30000;
}
#newProfileView #profileContent #username {
	color:#333333;
}
#newProfileView #profileContent h2 {
	background-color:#EDEDED;
}
#newProfileView #profileContent #membernumber {
	color:#333333;
}
#newProfileView #profileFooter {
	background-color:#EDEDED;
}
/* Forced Email Verification */
#verifyEmail div#currentEmail, #optout div#currentEmail {
	background-color:#EDEDED;
}
#verifyEmailConfirmation #confirmationMessage {
	background-color:#EDEDED;
}
#verifyEmailConfirmation #verifyEmailChecklist h2 {
	background-color:#EDEDED;
	color:#a30000;
}
#verifyEmailConfirmation #verifyEmailChecklist ul {
	border:1px solid #808080;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink {
	border-bottom:1px solid #dddddd;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink {
	background-image:url(../img/Community/Cupid/bknd_verifyEmail_profileLink.gif);
	background-repeat:no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink {
	background-image:url(../img/Community/Cupid/bknd_verifyEmail_searchLink.gif);
	background-repeat:no-repeat;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li a {
	color:#a30000;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink a {
	color:#a30000;
}
/* Premium Profile Settings */
#premiumServiceSettings h2.tips {
    background:url(../img/Community/Cupid/icon_tips.gif) no-repeat left center;
}
.regionPickerLink {
	background:url(../img/Community/Cupid/icon_searchPref_off.gif) no-repeat left -5px;
}
/* end Premium Profile settings */
/* new home page matches styles */
.homePageYourMatches h2.blockTitle {
	background-color:#EDEDED;
    border-color:#FFFFFF #FFFFFF #BABFB8;
    border-style:solid;
    border-width:1px 1px 4px;
    color:#333333;
}
.homePageYourMatches ul {
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
}
.homePageYourMatches ul li {
	border-top:4px solid white;
	background:white url(../img/Community/Cupid/bg_microprofile.gif) no-repeat center bottom;
}
.homePageYourMatches ul li.highlight {
	background-color:#eef0f2;
	border-top:4px solid white;
}
.homePageYourMatches.spotlightProfile h2.blockTitle {
	background-color:#F5F5F5;
}
.homePageYourMatches.spotlightProfile ul {
	background-color:white;
}
.homePageYourMatches.spotlightProfile ul li {
	background:white url(../img/Community/JDate/bknd_microProfile_spotlight.png) no-repeat top center;
}
.homePageYourMatches ul li.highlightedProfile {
	background:white url(../img/Community/JDate/bknd_microProfile_highlighted.png) no-repeat center center;
}
.homePageYourMatches a.homePageYourMatchesMore{
    font-size:14px;
    padding:2px 0;
}
div.homeProfileBackground {
    background-color:#F5F5F5;
}
div.homeProfileBackground a.editLnk {
    font-size:14px;
}
/* Cupid re-redesign stuff */
.AlertTable {
    background-color:#fff;
    border:5px solid #E3EEEE;
}
.alertTableProfileInfo {
    text-align:right;
    color:#a30000;
}
.alertTabProfileUsername {
    color:#000;
    font-size:12px;
}
.alertTabProfileApprove {
   color:#000; 
}
.serviceIcon {
    display:none;    
}
.onlineGif {
    width:auto;
    height:auto;
    margin:0 10px;
    float:right;
}
.ImTitle {
    font-weight:bold;
}
.microprofile {
	background-image:url(../img/Community/Cupid/bg_microprofile.gif);
	background-position:bottom;
	border:0px solid black;
	background-repeat:no-repeat;
}
.subBenefits {
	background-color:#EDEDED;
	font-family:arial,sans-serif;
}
.subBenefitsTitle1 {
	color:#FF6600;
}
.subBenefitsTitle2 {
	color:#990000;
}
.viewProfileActivityButton {	
	background-image:url(../img/Community/Cupid/btn_emailMeProfileView.gif);
	background-repeat:no-repeat;
}
.iconList {
	background-color:#f5f5f5;
}
.gameMessageTxt
{
    color:#fff;
    font-size:15px;
    font-weight:bold;   
}
.inviteGameDiv
{
    background-color:#E2ECEE;
    font-family:Arial;    
}
.chooseGameDiv
{
    background-image:url(../img/Community/Cupid/gamesPopupBck.jpg);
    background-repeat:no-repeat;
}
.chooseGameTbl td
{
    background-image:url(../img/Community/Cupid/boxbg.png);
    background-repeat:no-repeat;
    color:#a90000;
    font-size:12px;
    font-weight:bold;    
}
.chooseGameTbl td a
{
    color:#a90000;
}
.gamesIconImg
{
    margin:0 6px;
}
.lnkEmail
{
    display: none;
}
.gameForcePageInfo
{
    background-image:url(../img/Community/Cupid/gameForcePage.jpg);
    background-repeat:no-repeat;
    height:473px;
    margin:0 13px;
}
.imgGame{
border:2px solid #a40000 !important;
}