a:link, a:active, a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.help:link, a.help:active, a.help:visited {
	text-decoration:none;
}
a.help:hover {
	cursor:help;
	text-decoration:underline;
}
a.footerLink:link, a.footerLink:active, a.footerLink:visited {
	text-decoration:none;
}
a.footerLink:hover {
	text-decoration:underline;
}
a.fontBox:link, a.fontBox:active, a.fontBox:visited {
	padding:1px; 
	text-decoration:none;
}
a.fontBox:hover {
	padding:1px;
}
BODY {
	padding:0px;
	margin-top:0px;
	font-size:12px; 
	color:#000000; 
	line-height:14px; 
	margin-right:0px;
	font-family:arial, sans-serif; 
	voice-family:inherit;
	text-align:right;
}
h1 {
	font-size:16px; 
	font-weight:bold;
	margin:8px 0 8px 0;
}
h2 {
	font-size:14px; 
	margin-bottom:0px; 
	line-height:20px
}
hr {
	padding:0px;
	width:100%;  
	height:1px
}
input, select {
	font-size:12px;
	font-family:verdana, sans-serif
}
table {
	font-size:12px; 
	line-height:16px
}
form {
	display:inline
}
/* to keep superscript text from tweaking the line-spacing */
sup {
	height:0;
}
.bulletDark {
	font-size:24px; 
	line-height:14px
}
.bulletLight {
	font-size:24px; 
	line-height:14px
}
.activityBar {
	padding:4px;
}
.essayTitle {
	font-weight:bold
}
.galleryLink {
	padding-left:20px; 
	font-size:11px; 
	line-height:20px
}
.miniProfileTitle {
	font-weight:bold; 
	font-size:12px
}
.profileTitle {
	font-weight:bold;
	font-size:13px
}
.profileHeaderBG {
	background-color:#EDEDED;
}
.profileImageHover {
	border:1px; 
	border-style:solid;
	cursor:hand;
}
a:hover .profileImageHover, a:active .profileImageHover {	
	border:1px; 
	border-style:solid;
}
.profileImageHoverGallery {
	border:1px; 
	border-style:solid;
}
a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery {	
	border:1px; 
	border-style:solid;
}
.noPhoto {
	margin-top:1px; 
	font-size:12px; 
	padding-bottom:10px; 
	width:80px; 
	cursor:pointer; 
	padding-top:30px; 
	background-repeat:no-repeat; 
	height:74px; 
	text-align:center
}
    HTML .noPhoto {
	    width:80px; 
	    padding-top:30px; 
	    height:104px
    }
a:hover .noPhoto {
	border:1px solid;
}
a:active .noPhoto {
	border:1px solid;
}
.editHotList {
	font-size:11px; 
	width:542px; 
	height:21px
}
.fontTiny {
	font-size:9px;
}
.fontExtraSmall {
	font-size:10px;
}	
.fontSmall {
	font-size:11px;
}
.fontMedium {
	font-size:12px
}
.fontLarge {
	font-size:14px
}
.bold {
    font-weight:bold;
}
.activityButton {
	padding:2px;
	font-weight:bold; 
	font-size:11px;
	font-family:arial, sans-serif; 
	cursor:pointer;
}
.ImButton {
    width:37px;
    display:inline-block;
    text-align:center;
}
.secondaryButton {
	padding:2px 1px; 
	font-weight:bold; 
	font-size:12px; 
	cursor:pointer;
}
.topNew {
    background-position:0 100%;
    text-align:right; 
	margin-bottom:0px; 
	width:770px; 
    top:0px;
	right:0px;
}
.topNav-subTD {
    width:770px;
    height:84px;
}
#applicationNew {
	clear:both; 
	margin-top:13px; 
	display:block; 
	margin-bottom:20px; 
	margin-left:0px; 
	width:770px; 
	position:relative; 
	height:1%;
}
#leftNew {
	margin-top:0px; 
	float:right; 
	margin-bottom:10px; 
	width:170px;
}
#leftNew div.banner {
	margin:8px 0 8px 0;
	text-align:center;
}
#leftNew div#csbox {
	padding:8px 5px 8px 5px;
	margin:8px 6px 0 4px;
}
#rightNew {
	margin-top:0px; 
	float:left; 
	margin-bottom:10px; 
	margin-left:0px;
	width:600px;
	position:relative;
}
.ppContainer #rightNew {
	margin:0;
	float:none; 
}
	*html #rightNew {
		height:1%;/* tbankston:Issue #12091 - see http://positioniseverything.net/explorer/guillotine.html for details on the bug & fix */ 
	}
	/* Issue #13252:not having this caused popup articles to be missaligned */
	.rightNewAlignOverride #rightNew {
		float:right;
	}
#rightNew div#rightcontent {
	margin:0 6px 6px 6px;
}
#rightNew div#rightcontent a img {
	border:0;
}
#rightNew div#rightcontent div#adspace {
	text-align:center;
	padding:20px 0 20px 0;
	margin:0;
}
#article-classic {
	width:592px
}
#footer {
	clear:right; 
	font-size:10px; 
	width:770px; 
	text-align:center
}
/* header/navigation */
.titleTable {
    background-repeat:repeat-x;
    height:78px;
    font-family:verdana;
}
.tblHeader {
    background:none;
}
.mainMenu {
    float:right;
    height:27px;
}
.mainMenu a {
    font-family:Verdana;
    font-size:15px;
    font-weight:normal;
    text-decoration:none;
}
.subscribeRed {
    font-weight:bold !important;
}
.liTxt {
    font-size:12px !important;
}
.spnSeperaton {
    width:100px;
}
/* cupid redesign classes */
.arrowMatches, .leftNavImageAlign {
    display:none;
}
.LeftNavTextSelected {
    font-weight:bold;
}
#galleryContainer {
	padding:4px;
}
.logIn {
	padding:4px; 
	margin-top:0px; 
	font-size:12px; 
	margin-bottom:12px; 
	width:160px;
}
#homePref, .homePref {
	margin-top:6px; 
	width:160px;
	margin-right:6px;
	margin-left:0px;
	margin-bottom:6px;
}
	.homePrefAd {
	    width:181px !important;
	    width:215px;
	    padding:4px 16px 4px 17px;
	    margin-top:6px;
	}
#homePref .homePrefTitle {
	display:block; 
	font-weight:bold; 
	margin:0px; 
	text-transform:uppercase; 
	text-indent:4px; 
	line-height:24px;
	height:23px;
}
#homePref .homePrefText {
	padding:2px; 
	display:block; 
	text-indent:0px; 
	margin-right:4px;
}
#homePref .homePrefSubTitle {
	margin-top:2px; 
	display:block; 
	text-indent:0px
}
.homeProfileTipsIcon {
	width:100%;
	margin:0 0;
}
#homeProfile {
	margin:8px 0 8px 0;
}
	#homeProfile h2 {
		font-weight:bold;
		text-transform:uppercase;
		text-indent:4px;
		line-height:24px;
		margin:0px;
		font-size:11px;
	}
	.homeProfilePhoto {
		width:80px;
		padding:4px;
	}
	
	.homeProfileText {
		padding:4px;
		width:264px;
	}
	.homeProfileAboutText {
		margin-top:10px;
		*word-wrap:break-word;
		*overflow:hidden;
		*width:260px;
		margin-bottom:0px;
	}
	.homeProfileQuickTipText {
		padding:4px;
		width:296px;
		padding-top:10px;
		padding-right:8px;
	}
/* homeprofile completion */
.percentTable {
    border-style:solid;
}
.percentTable .darkest, .percentTable .dark {
    width:52px;
	height:21px;
}
.seperatorPercent {
    width:2px;
}
#homeRight {
	margin-top:6px; 
	width:142px; 
	margin-right:0px
}
#homeRight .homeRightImage {
	padding:2px; 
	display:block;
}
#homeRight .homeRightText {
	padding:4px; 
	display:block;
	line-height:15px;
}
#homeRight .homeRightTitle {
	display:block; 
	font-weight:bold; 
	text-transform:uppercase; 
	text-indent:4px; 
	line-height:24px
}
#homeRight .homeRightSubTitle {
	padding:3px; 
	margin-top:2px; 
	display:block;
}
#leftNav {
	margin-bottom:8px; 
	width:160px; 
	margin-right:0px;
	padding:4px;
}
#leftNav .leftNavText {
	padding:4px; 
	display:block;
	text-align:right;
	display:block;
}
#leftNav .icon {
    display:inline;
    padding:0;
    vertical-align:middle;
}
#leftNav .leftNavTextDark {
	padding:4px; 
	display:block;
	text-align:right	
}
#leftNav .leftNavTextLight {
	display:block;
	text-align:right;
	padding:4px;		
}
#leftNav .leftNavTextMed {
	display:block;
	text-align:right;
	padding:4px;
}
#leftNav .leftNavTitle {
	display:block; 
	font-weight:bold; 
	text-transform:uppercase; 
	line-height:24px; 
}
#leftNav .leftNavSubtitle {
	padding:4px;
	display:block;
	text-align:right
}
#leftNav .thumbTrail {
	display:block; 
	font-weight:bold; 
	text-indent:4px; 
	text-align:center
}
#leftNav .home {
	padding:4px; 
	display:block;
}
	#leftNav .leftNavTextSolid {
		display:block;
		text-align:right;
		width:146;
		margin:0px;
		padding:4px 0px 4px 0px;
	}
#leftNavForm {
	padding:5px;
}
.linkWithIcon{
   /* display:inline !important;*/
}
.imgIcon{
    margin:0 5px;
}
#tipAppLeft {
	padding:4px; 
	margin-top:10px;
	width:160px; 
	margin-right:0px;
}
.iconList {
	padding:4px;
	margin:10px 0px;
	width:152px; 
}
	*html .iconList {
		width:160;
	}
#tipAppReg {
	width:590px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0px;
	padding:4px;
}
	* html #tipAppReg {
		width:592px;
	}
#mailBar {
	padding-right:4px; 
	margin-bottom:5px; 
	width:592px; 
	padding-top:4px; 
	position:relative; 
	height:32px
}
#mailBar .moveForm {
	left:4px; 
	position:absolute; 
	text-align:left
}
#mailBar .mailboxActions {
    float:right;
    padding-top:6px;
    padding-right:0px;
}
#mailBar .secondaryButton {
    padding:0;
}
#nav {
	z-index:1000; 
	right:0px; 
	width:770px; 
	position:absolute; 
	top:0px
}
.topNavContainerTable {
    width:770px;
    height:80px;
}
.alignRTL {
	text-align:left;
}
.alignLTR {
	text-align:right;
}
.alignCTR
{
    text-align:center;
}
.navPrimary {
	font-weight:bold;
	font-size:12px;
}
#reviseLinks {
	margin-bottom:5px; 
	width:592px; 
	position:relative; 
	height:18px;
	text-align:left;
}
#reviseLinks .reviseCriteria {
	right:0px; 
	position:absolute; 
	top:0px
}
.reviseCriteriaTd1 {
    float:right;
    text-align:left;
    width:78%;
}
.reviseCriteriaTd2 {
    float:left;
    text-align:left;
    width:20%;
}
#reviseLinks .iconInfo {
	left:0px; 
	position:absolute; 
	text-align:left
}
#sort {
	padding:6px; 
	width:96.5%; 
	margin:0 0 5px 0; 
	position:relative;
}
 *HTML #sort {
	padding:6;
	width:592px; 
	position:relative; 
	height:32px;
}
#accountInformation {
	position:relative;
	width:96.5%;
	margin-bottom:5px;
	padding:6px;
}
	* html #accountInformation {
		position:relative;
		width:592px;
		height:32px;
		margin-bottom:5px;
		padding:6px;
	}
#sort .sortForm {
	right:4px;
}
#sort .viewStyle {
	left:4px; 
	position:absolute; 
	top:6px; 
	text-align:left;
}
.subNavTop {
	clear:both; 
	left:0px; 
	width:770px; 
	text-indent:4px; 
	line-height:24px; 
	position:relative; 
	height:24px;
	text-align:right;
}
.breadCrumbUpper {
	margin-left:0px
}
a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited {
	text-decoration:none;
}
a.breadCrumbPagesLink:hover {
	text-decoration:underline;
}
.breadCrumbPagesUpper {
	margin-left:20px;
}
.breadCrumbUpperright {
	display:block; 
	left:4px; 
	position:absolute; 
	top:0px; 
	text-align:left
}
.subNavBottom {
	clear:both; 
	right:0px;
	width:770px; 
	text-indent:4px; 
	line-height:24px; 
	position:relative; 
	height:24px;
	text-align:right;
}
.breadCrumbLower {
	margin-left:0px
}
.breadCrumbPagesLower {
	margin-left:20px;
	color:#fff;
}
.breadcrumbpagesLower a.breadcrumbpagesLower:visited {
	color:#fff;
}
.breadCrumbLowerleft {
	display:block; 
	left:4px; 
	position:absolute; 
	top:0px; 
	text-align:left
}
.breadCrumbLowerright {
	display:block; 
	left:4px; 
	position:absolute; 
	top:0px; 
	text-align:left
}
#voteBar {
	padding:10px;
	width:96.5%;
	position:relative
}
HTML #voteBar {
	padding:6px;
	width:592px; 
	position:relative; 
	height:32px
}
#voteBar .continue {
	left:4px; 
	position:absolute; 
	text-align:left
}
	.voteBarBothSaidYess {
		margin:3px 10em 0 0;
	}
#warning {
	font-size:12px; 
	width:592px; 
	line-height:12px; 
	text-align:right
}
#prefBorder {
	clear:left; 
	margin-top:0px;
	width:592px
}
#prefBorder .prefHeader {
	padding:4px; 
	display:block;
}
 HTML #prefBorder .prefHeader {
	width:592px
}
#prefBorder .prefHeader H2 {
	font-size:14px; 
	line-height:15px
}
#prefBorder .prefCont {
	padding:4px;
}
#prefBorder .prefSub {
	padding:4px; 
	display:block;
	width:585px;
}
HTML #prefBorder .prefSub {
	width:592px
}
#prefTab {
	width:100%; 
	height:19px
}
#prefTab .prefTabItem {
	padding:5px; 
	margin-top:5px; 
	display:inline;
	cursor:pointer;
	height:25px; 
	text-align:center
}
#prefTab .prefTabItemActive {
	padding:5px; 
	margin-top:5px; 
	display:inline;
	font-weight:bold; 
	height:25px; 
	text-align:center
}
#lookUpLeft {
	display:block; 
	float:left; 
	margin-bottom:6px; 
	width:293px; 
	margin-right:0px;
}
#lookUpLeft .lookUpLeftTitle {
	padding:4px; 
	font-weight:bold; 
	font-size:14px; 
	float:left;
	width:284px;
}
HTML #lookUpLeft .lookUpLeftTitle {
	width:292px
}
#lookUpLeft .lookUpLeftBtm {
	padding:3px 4px 3px 3px; 
	float:left;
	width:284px;
}
HTML #lookUpLeft .lookUpLeftBtm {
	width:292px
}
#lookUpLeft .lookUpLeftText {
	padding:3px; 
	display:block;
	float:left;
	width:292px; 
	line-height:20px;
}
#lookUpRight {
	display:inline; 
	float:right; 
	margin-bottom:6px; 
	margin-left:0px; 
	width:293px; 
	margin-right:0px
}
#lookUpRight .lookUpRightTitle {
	padding:4px;
	font-weight:bold; 
	font-size:14px; 
	float:left;
	width:284px;
}
 HTML #lookUpRight .lookUpRightTitle {
	width:292px
}
#lookUpRight .lookUpRightText {
	padding:3px; 
	float:left;
	width:290px; 
	line-height:20px;
}
#lookUpRight .lookUpRightBtm {
	padding:4px; 
	float:left;
	width:284px;
}
 HTML #lookUpRight .lookUpRightBtm {
	width:292px
}
.mediumRow {
	font-weight:bold; 
	font-size:14px; 
	width:592px; 
	text-indent:5px; 
	line-height:22px
}
#contHeader {
	padding:4px; 
	margin-top:0px;
	font-weight:bold; 
	font-size:13px; 
	margin-bottom:0px;
	width:425px; 
	height:20px
}
#contBorder {
	padding:6px; 
	border-top:0px; 
	margin-bottom:10px;
	width:421px;
}
 HTML #contBorder {
	width:425px
 }
#contBorder .contIntro {
	padding:10px 6px 6px 6px;
	display:block;
}
.box {
	width:592px;
}
#boxContent {
	right:-2px; 
	position:relative; 
	top:-2px;
}
#boxContainer, .results.list-view, .boxGallery {
	display:block; 
	margin:0px; 
	position:relative;
	z-index:1;
}
.boxGallery {
	width:190px
}
#boxContentGallery {
	right:-3px; 
	position:relative; 
	top:-2px
}
#boxContainerGallery {
	display:block; 
	margin:2px; 
	position:relative
}
#transContainer {
	margin-top:0px; 
	position:absolute;
	z-index:100000;
}
#trans1 {
	margin-top:-150px
}
#trans2 {
	z-index:1000; 
	FILTER:progid:dximagetransform.microsoft.alpha(opacity=30); 
	width:592px; 
	position:relative;
	height:146px; 
	margin-right:0px;
	margin-top:5px;
	moz-opacity:0.30;
	opacity:0.30;
}
#trans3 {
	margin-top:-190px
}
#subscribeBottom {
	clear:both; 
	margin-top:8px; 
	float:none; 
	margin-bottom:4px; 
	width:592px;
}
#subscribeLeft {
	padding-right:8px; 
	float:right; 
}
#subscribeRight {
	float:left;  
	margin-right:4px;
}
#subscribeTop { 
	width:592px;
}
.navTop {
	padding-right:10px;
	padding-left:16px;
	padding-bottom:0px;
	text-align:right;
}
.navBottom {
	margin-bottom:0px;
}
UL.nde-menu-system {
	padding:0px; 
	display:block; 
	font-size:12px;
	margin:0px;
}
UL.nde-menu-system UL {
	padding:0px; 
	display:block; 
	margin:0px;
	font-size:12px;
}
UL.nde-menu-system LI {
	padding:0px; 
	float:right;
	margin:0px; 
	list-style-type:none;
}
UL.nde-menu-system LI UL {
	display:block; 
	z-index:1000; 
	visibility:hidden; 
	line-height:20px; 
	position:absolute; 
	top:1em; 
	voice-family:inherit;
}
UL.nde-menu-system LI UL LI {
	padding:0px; 
	display:block;
	margin:0px;
	voice-family:inherit;
}
UL.nde-menu-system LI UL LI A {
	padding:4px;  
	display:block;
	margin:0px; 
	width:135px;
	voice-family:inherit;
	text-decoration:none;
}
UL.nde-menu-system LI UL LI A:hover {
	 text-decoration:none;
}
UL.nde-menu-system LI UL LI A:visited {
	 text-decoration:none;
}
UL.nde-menu-system LI A {
	display:inline; 
	margin:0px; 
	text-decoration:none;
}
UL.nde-menu-system LI.submenu UL {
	text-align:right;
}
/* WEL code for checking profile checkboxes */
.showSelect {
    display:inline;
}
.hideSelect {
    display:none;
}
a.buttonALink:link, a.buttonALink:visited, a.buttonALink:hover, a.buttonALink:active {
	text-decoration:none; 
	padding:3px 10px; 
	font-weight:bold; 
	font-size:11px; 
	cursor:pointer;
	height:23px;
}
.ViewProfileHeaderContent {
	padding-right:10px;
	vertical-align:top;
	padding-bottom:10px;
}
#sortOnlineNow {
	position:relative;
	margin-bottom:5px;
}
a.fontBox:link, a.fontBox:active, a.fontBox:visited {
	text-decoration:none;
	padding:2px;
}
a.fontBox:hover {
	padding:2px;
}
a.fontBoxOn {
	padding:2px;
}
#loginBox {
	width:260px;
	margin-right:10px;
}
	#loginBox .loginHeader {
		display:block;
		padding:6px;
		font-weight:bold;
	}
	#loginBox .loginContent {
		padding:6px;
		display:block;
	}
	#loginBox .loginFooter {
		display:block;
		padding:6px;
	}
	#loginBox .loginLightBG {
		width:100%;
		padding:2px;
	}
	#loginBox .loginSecondaryCopy {
		font-size:9px;
	}
.ViewProfileHeaderImage {
	margin:5px;
	vertical-align:middle;
	text-align:center;
}
.ProfileNoPhoto {
	width:246;
	height:10;
	text-align:center;
	padding-top:50px;
}
/* /////IM ALERT/////// */
#IMAlert {
	display:block;
	width:162px;
	height:98;
	padding:1px;
	margin-bottom:2px;
}
.IMAlertHeader {
	width:158px;	
}
.IMAlert {
	display:block;
	width:162px;
	padding:1px;
	margin-bottom:2px;
}
.AlertTable {
	font-size:10px;
	line-height:12px;
}
.AlertHead {
	width:100%;
	padding:2px;
	color:white;
	font-weight:bold;
}
#heb-shadow {
    background-color:white; 
    float:right; 
    border-left:#cacaca 4px outset; 
    width:749px; 
    height:100%
}
.subscribeBorder {
    border:1px solid #dddcd3; 
    padding:4px;
}
.subscribeDashBorder {
	padding:0px 10px 10px 10px;
	border-right:1px dotted #dddcd3;
}
/* subscription */
.fullPageViewBorder {
	width:736px;
	margin-top:8px;
	margin-right:4px;
}
#divPpContainer .fullPageViewBorder, #divPpContainer .termsViewBorder {
	width:582px;
}
#renewalOldTermsCont .fullPageViewBorder, #renewalOldTermsCont .termsViewBorder {
	width:588px;
}
.termsViewBorder {
	width:736px;
	height:120px;
	margin-top:8px;
	margin-right:4px;
	overflow:auto;
}
.fullPageViewHeader {
	height:26px;
}
.fullPageViewHeader h2 {
	font-size:14px;
	margin:0px 8px 0px 0px;
	padding-top:2px;
}
.subTop {
	height:282px;
	position:relative;
	width:365px;
	vertical-align:top;
	float:left;
}
.subTopCarrotProfile {
	float:left;
	width:122px;
	text-align:center;
	display:none; /* added as a temporary fix to accomodate wider plans */
}
.subTopCarrot {
	height:153px;
	right:620px;
	position:absolute;
	top:184px;
	width:123px;
}
.subRenewalCopy {
	font-size:10px;
	width:90%;
	clear:left;
	margin-bottom:1em;
}
.subRenewalCopy p {
	font-size:10px;
	padding:4px;
	margin:0;
}
#divPpContainer .subRenewalCopy {
	width:580px;
}
.subLeft {
	width:355px;
	float:right;
}
.subRight {
	width:355px;
	float:left;
}
.subRight .error, .subLeft .error {
	margin-right:0;
}
dl.subRight, dl.subLeft {
	margin:12px 0 0 0;
}
.subRight dt, .subLeft dt {
	clear:both;
	width:32%;
	float:right;
	text-align:left;
	margin-left:0.3em;
}
.subRight dd, .subLeft dd {
	float:right;
	width:66%;
	margin:0 0 0.25em 0;
}
.subProcessOrder {
	clear:both;
	display:block;
	margin:10px;
}
.helpLayer {
	width:345px;
	position:absolute;
	top:0;
	right:0;
	visibility:hidden;
}
.helpLayer2 {
	width:340px;
	position:absolute;
}
.helpLayer3 {
	width:320px;
	*width:340px;
	top:-2px;
	right:-4px;
	*right:-2px;
	position:relative;
	padding:10px;
	text-align:right;
}
.helpLayerClose {
	text-align:left;
	padding:0px;
	margin:0 0 4px 0;
}
#divPpContainer h1 {
	font-size:13px;
}
.regularPageViewBorder {
	width:582px;
	margin-top:8px;
	margin-right:4px;
}
.regularPageViewHeader {
	height:38px;
}
.regularPageViewHeader h1 {
	font-size:14px;
	margin:0px 8px 0px 0px;
	padding-top:10px;
}
.subLeftPop {
	width:280px;
	float:right;
}
.subRightPop {
	width:280px;
	float:left;
}
.subRightPop .error, .subLeftPop .error {
	margin-right:0;
}
dl.subRightPop, dl.subLeftPop {
	margin:12px 0 0 0;
}
.subRightPop dt, .subLeftPop dt {
	clear:both;
	width:37%;
	float:right;
	text-align:left;
	margin-left:0.3em;
}
.subRightPop dd, .subLeftPop dd {
	float:right;
	width:61%;
	margin:0 0 0.25em 0;
}
/*-----------------------*/
/*-----------------------*/
/* subscription redesign */
/*-----------------------*/
/*-----------------------*/
.fullPageViewAS h1 {
    line-height:24px;
    font-size:16px;
}
/* set sub styles */
.sub {
    margin-bottom:1em;
    position:relative;
}
.ppContainer .sub {
	width:770px;
}
.sub ul, .sub li, .sub h2, .sub h3, .sub h4, .sub p {
	margin:0;
	padding:0;
}
.sub .wrapper {
	float:right;
	width:100%;
	position:relative;
}
.sub_columnsContainer {
	margin:0 9.67em 0 0;
}
ul.plansCol_0 {
	width:9.67em;
	margin:0 -100% 0 0;
	float:right;
}
/* one column */
.sub_columnsContainer.col_01 ul.plansCol_1_Single {
	width:43%;
	float:right;
	max-width:54em;
}
#ieAll .sub_columnsContainer.col_01 ul.plansCol_1_Single {width:36%;}
/* two columns */
.sub_columnsContainer.col_02 ul.plansCol_1 {
	width:49%;
	max-width:44em;
	float:right;
}
.sub_columnsContainer.col_02 ul.plansCol_2 {
	width:50%;
	max-width:44em;
	float:right;
}
/* three columns */
.sub_columnsContainer.col_03 ul.plansCol_1 {
	width:33%;
	float:right;
	max-width:34em;
	display:inline;
}
.sub_columnsContainer.col_03 ul.plansCol_2 {
	width:32%;
	float:right;
	max-width:34em;
	display:inline;
}
.sub_columnsContainer.col_03 ul.plansCol_3 {
	width:32%;
	float:right;
	max-width:34em;
	display:inline;
}
/* four columns */
.sub_columnsContainer.col_04 ul.plansCol_1 {
	width:24%;
	float:right;
}
.sub_columnsContainer.col_04 ul.plansCol_2 {
	width:24%;
	float:right;
}
.sub_columnsContainer.col_04 ul.plansCol_3 {
	width:24%;
	float:right;
}
.sub_columnsContainer.col_04 ul.plansCol_4 {
	width:24%;
	float:right;
}
/* five columns */
.sub_columnsContainer.col_05 ul.plansCol_1 {
	width:19%;
	float:right;
}
.sub_columnsContainer.col_05 ul.plansCol_2 {
	width:20%;
	float:right;
}
.sub_columnsContainer.col_05 ul.plansCol_3 {
	width:20%;
	float:right;
}
.sub_columnsContainer.col_05 ul.plansCol_4 {
	width:20%;
	float:right;
}
.sub_columnsContainer.col_05 ul.plansCol_5 {
	width:20%;
	float:right;
}
/* sub row default styles */
.sub li {
	list-style-type:none;
	float:right;
	width:100%;
	position:relative;
}
	#ie6only .sub li {height:5.83em;}
.sub li.plansRow_0 {
	position:static;
}
.sub .plansCol_0 li.plansRow_0 {
	position:relative;
}
    #ieAll .sub .plansCol_0 li.plansRow_0 {position:static;}
.plansCol_0 .plansRow_0 {
    min-height:9.58em;
}
    #ie6only.plansCol_0 .plansRow_0 {height:9.58em;}
/*sub column styles defaults */
.sub_columnsContainer input {
	position:absolute;
	top:1.1em;
	right:.5em;
	margin:0;
	padding:0;
}
/* default set is designed for redesign */
/* see classic set below for classic design set */
/* cell header default */
.cell-col-header {
	min-height:9.58em;
	position:relative; 
}
	#ie6only .cell-col-header {height:9.58em;}
	.cell-col-header h2 {
		padding:.5em 1em 0em .5em;
		font-size:1.8em;
        font-weight:normal;
    }
	.cell-col-header p {
		padding:0em .5em 1em 1em;
		margin:0;
    }
	.cell-col-header .details {
		font-size:.73em;
}
/* cell row header default */
.cell-row-header {
	min-height:6.16em;
	text-align:center;
}
	#ie6only .cell-row-header {height:6.16em;border:none;}
	.cell-row-header h2 {
		font-size:1.6em;
        font-weight:normal;
        padding-top:0.5em;
	}
/* cell plans default */
.cell-plan {
	min-height:6.16em;
}
	#ie6only .cell-plan {height:6.16em;border:none;}
	
.cell-plan.sub-none {
	min-height:6.09em;
}
	#ieAll .cell-plan.sub-none {height:80px;border:none;}
	
	.cell-plan h2 {
		margin:0 2.2em 0 0;
		padding:0;
		font-size:1.70em;
	}
	.cell-plan p {
		margin:0 4.3em 0 0;
		padding:0;
	}
	.cell-plan h2 .per-month {
		font-size:.60em;
		font-weight:bold;
		white-space:nowrap;
	}
	.cell-plan p.payment {
		font-size:.96em;
		font-weight:normal;
	}
    .sub .sub-none p {
        font-size:12px;
        font-family:Verdana, Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight:bold;
        padding-top:1em;
        margin-right:10px;
    }
    .PlanIsDisabled {
        position:absolute;
        right:5px;
        top:5px;
        color:#999999;
    }
/* cell plans default top-premium */
	.cell-plan.strongest h2 {
		font-size:2.10em;
	}
	.cell-plan.strongest h2 .per-month {
		font-size:.52em;
}
/* cell plans classic default */
.cell-plan.classic {
	min-height:6.16em;
}
	#ie6only .cell-plan.classic {height:6.16em;}
	
	.cell-plan.classic h2 {
		margin:0 1.6em 0 0;
		font-size:1.5em;
		padding-top:.2em;
	}
	.cell-plan.classic p {
		margin:0 2.6em 0 0;
    }
	.cell-plan.classic h2 .per-month {
		font-size:0.66em;
	}
/* classic column header content */
.cell-col-header.classic p {
	margin:4px 7px;
	padding:0;
}
.cell-col-header.classic ul li {
	margin:0;
	padding:0;
	border:none;
	height:auto;
	background-color:transparent;
	font-weight:bold;
	margin-right:29px;
	padding-right:0px;
    list-style-type:disc;
    float:none;
    font-size:10px;
}
.rowHeaderHPDetails {
	margin:0;
	cursor:pointer;
	position:absolute;
	bottom:8px;
	left:8px;
	width:72px;
	font-size:10px;
	text-align:left;
}
.rowHeaderHPDetails a:link, .rowHeaderHPDetails a:visited, .rowHeaderHPDetails a:active {
	text-decoration:underline;
}
.rowHeaderHPDetails a:hover {
	text-decoration:none;
}
.col_04 .rowHeaderHPDetails img, .col_05 .rowHeaderHPDetails img {
    display:none;
}
/* classic shade */
.cell-plan.classic.strongest h2 {
	font-size:1.8em;
	margin-right:1.4em;
}
/* begin sub quirks mode overrides (for classic sites) delete when quirksmode gone */
/* one columns */
#ieAll .sub_columnsContainer.col_01 ul.plansCol_1 {width:40em;}
/* two columns */
#ieAll .sub_columnsContainer.col_02 ul.plansCol_1 {width:29em;}
#ieAll .sub_columnsContainer.col_02 ul.plansCol_2 {width:29em;}
/* three columns */
#ieAll .sub_columnsContainer.col_03 ul.plansCol_1 {width:18em;}
#ieAll .sub_columnsContainer.col_03 ul.plansCol_2 {width:18em;}
#ieAll .sub_columnsContainer.col_03 ul.plansCol_3 {width:18em;}
/* four columns */
#ieAll .sub_columnsContainer.col_04 ul.plansCol_1 {width:14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_2 {width:14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_3 {width:14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_4 {width:14em;}
/* five columns */
#ieAll .sub_columnsContainer.col_05 ul.plansCol_1 {width:12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_2 {width:12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_3 {width:12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_4 {width:12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_5 {width:12em;}
#ieAll .cell-col-header.classic {height:9.58em;}
#ieAll .plansCol_0 .plansRow_0 {height:9.64em;}
#ieAll .cell-plan.classic {height:6.16em;}
#ieAll .cell-col-header.classic {height:9.58em;}
#ieAll .cell-row-header h2 {white-space:nowrap;margin-right:0;font-size:1.8em;padding-top:.4em;}
#ieAll .cell-plan.classic {}
#ieAll .plansCol_1 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_2 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_3 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_4 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_5 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_6 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_7 .plansRow_0 .cell-col-header.classic {background-image:url(../img/Community/JDate/sub_columnHeader.gif);}
#ieAll .plansRow_1 .cell-plan.classic,#ieAll .plansRow_2 .cell-plan.classic,#ieAll .plansRow_3 .cell-plan.classic,#ieAll .plansRow_4 .cell-plan.classic,#ieAll .plansRow_5 .cell-plan.classic,#ieAll .plansRow_6 .cell-plan.classic,#ieAll .plansRow_7 .cell-plan.classic,#ieAll .plansRow_8 .cell-plan.classic {height:80px;}
#ieAll .sub_columnsContainer input {top:0.55em;}
#ie6only .sub_columnsContainer input {top:0.45em;}
#ie6only .plansRow_0 .cell-col-header p {background-color:transparent;margin:4px 7px;padding:0;}
#ie6only .plansRow_0 .cell-col-header ul {background-color:transparent;border:0px solid white;}
#ie6only .plansRow_0 .cell-col-header ul li {margin:0;padding:0;border:none;height:auto;background-color:transparent;font-weight:bold;margin-right:29px;padding-right:0px;list-style-type:disc;float:none;font-size:10px;}
#ieAll .cell-plan p.fine-print {margin:0 2.6em 0 0;}
#ieAll .cell-col-header h2 {margin-right:.4em;padding:0;font-size:1.6em;}
/* end quirks mode overrides */
/* fix for ie z-index bug */
#ieAll .plansCol_1 .plansRow_0 {z-index:107}#ieAll .plansCol_2 .plansRow_0 {z-index:106}#ieAll .plansCol_3 .plansRow_0 {z-index:105}#ieAll .plansCol_4 .plansRow_0 {z-index:104}#ieAll .plansCol_5 .plansRow_0 {z-index:103}#ieAll .plansCol_6 .plansRow_0 {z-index:102}#ieAll .plansCol_7 .plansRow_0 {z-index:101}#ieAll .plansCol_8 .plansRow_0 {z-index:100}
#ieAll .plansCol_1 .plansRow_1 {z-index:99}#ieAll .plansCol_1 .plansRow_2 {z-index:98}#ieAll .plansCol_1 .plansRow_3 {z-index:97}#ieAll .plansCol_1 .plansRow_4 {z-index:96}#ieAll .plansCol_1 .plansRow_5 {z-index:95}#ieAll .plansCol_1 .plansRow_6 {z-index:94}#ieAll .plansCol_1 .plansRow_7 {z-index:93}#ieAll .plansCol_1 .plansRow_8 {z-index:92}
#ieAll .plansCol_2 .plansRow_1 {z-index:91}#ieAll .plansCol_2 .plansRow_2 {z-index:90}#ieAll .plansCol_2 .plansRow_3 {z-index:89}#ieAll .plansCol_2 .plansRow_4 {z-index:88}#ieAll .plansCol_2 .plansRow_5 {z-index:87}#ieAll .plansCol_2 .plansRow_6 {z-index:86}#ieAll .plansCol_2 .plansRow_7 {z-index:85}#ieAll .plansCol_2 .plansRow_8 {z-index:84}
#ieAll .plansCol_3 .plansRow_1 {z-index:83}#ieAll .plansCol_3 .plansRow_2 {z-index:82}#ieAll .plansCol_3 .plansRow_3 {z-index:81}#ieAll .plansCol_3 .plansRow_4 {z-index:80}#ieAll .plansCol_3 .plansRow_5 {z-index:79}#ieAll .plansCol_3 .plansRow_6 {z-index:78}#ieAll .plansCol_3 .plansRow_7 {z-index:77}#ieAll .plansCol_3 .plansRow_8 {z-index:76}
#ieAll .plansCol_4 .plansRow_1 {z-index:75}#ieAll .plansCol_4 .plansRow_2 {z-index:74}#ieAll .plansCol_4 .plansRow_3 {z-index:73}#ieAll .plansCol_4 .plansRow_4 {z-index:72}#ieAll .plansCol_4 .plansRow_5 {z-index:71}#ieAll .plansCol_4 .plansRow_6 {z-index:70}#ieAll .plansCol_4 .plansRow_7 {z-index:69}#ieAll .plansCol_4 .plansRow_8 {z-index:68}
#ieAll .plansCol_5 .plansRow_1 {z-index:67}#ieAll .plansCol_5 .plansRow_2 {z-index:66}#ieAll .plansCol_5 .plansRow_3 {z-index:65}#ieAll .plansCol_5 .plansRow_4 {z-index:64}#ieAll .plansCol_5 .plansRow_5 {z-index:63}#ieAll .plansCol_5 .plansRow_6 {z-index:62}#ieAll .plansCol_5 .plansRow_7 {z-index:61}#ieAll .plansCol_5 .plansRow_8 {z-index:60}
.resourceHint {
	visibility:hidden;
	padding:4px;
	position:absolute;
	white-space:nowrap;
	border-width:1;
	border-style:solid;
	background-color:#FFFACD;
	font-family:Courier New;
	font-size:11px;
	line-height:12px;
	color:#000000;
	z-index:99;
}
.twoColumnCheckList tr td {
	width:50%;
}
.threeColumnCheckList tr td {
	width:33%;
}
/*one-click-paragraph-centering*/
.sub-one-click-para {
    width:250px;
    margin-left:180px;
    margin-right:300px;
}
#divPpContainer .sub-one-click-para {   
    width:250px;
    margin-left:110px;
    margin-right:222px; 
}
/*
	This class houses the elements that use Listmenu, for the add2list control.
*/
.listMenuContainer {
	margin-top:1px; 
	display:inline; 
	z-index:200; 
	left:0px; 
	position:relative; 
	top:0px; 
}
#ieAll .listMenuContainer { zoom:1; }
#newProfileView .listMenuContainer {
	display:inline;
	position:static;
}
/* This style governs the position of the dropdown menu when you 
click to hotlist a member profile by clicking on an "Icon Only", "Horizontal" 
or "Vertical" hotlist link. Notice that there is no top value. The top value
is set programmatically and governs how far down the dropdown menu should appear 
after clicking. When "Vertical" orientation is chosen, the dropdown menu
needs to go further down as not to overlap the icon.
 */
.ListMenu {
	position:absolute; 
	left:-110px;
	width:150px;
	display:none; 
	padding:0px;
	margin:0px;
	padding:8px;
	background-image:url(../img/Community/Cupid/bg_sort.gif);
}
#newProfileView .ListMenu {
	left:60px;
	/* left:-20px; */
	margin-top:40px;
}
.ListElementItem {
	display:block;
	text-align:right;
	width:150px;
	font-size:12px;
	line-height:14px;
}
.ListElementPadding {
	display:block;
	width:150px;
	padding:2px;
}
.ListElementItem :hover {
	width:150px;
	display:block;
	text-decoration:none;
	line-height:14px;
}
.emailicon {
	float:right;
}
.subscriptionFormDivider {
	padding:10px;
}
.pageMessage {
	width:585px;
	margin-left:auto;
	margin-right:5px;
	font-family:arial, sans-serif;
	font-size:12px;
	padding:5px;
	display:block;
	margin:6px 0;
	font-weight:bold;
}
.pageMessage img, .pageError img, .error img {
	vertical-align:middle;
}
.PageError {
	width:90%;
	font-family:Verdana;
	font-size:11px;
	color:Red;
	font-weight:bold;
	display:block;
	margin:6px 0;
}
.error {
	width:90%;
	margin:4px;
	font-weight:bold;
	font-size:11px;
	padding:4px;
	display:block;
	color:#000;
}
*html .error {
	    width:100%;
}
.imBody {
	margin:0px;
    direction:rtl;
}
.imBodyPadding {
	padding:40px 30px 0 30px;
	font-weight:bold;
}
.imErrorText {
	padding-left:10px;
	padding-right:10px;
	direction:rtl;
}
.ppContainer {
	float:right;
	width:600px;
	margin-right:3px;
}
.pp {
	left:571px;
	top:0px;
	position:absolute;
	z-index:1;
}
.ppSubNavBottom {
	width:600px;
	display:block;
	height:25px;
	margin-bottom:10px;
}
a.ppLink:link, a.ppLink:active, a.ppLink:visited {
	text-decoration:none;
}
a.ppLink:hover {
	text-decoration:underline;
}
/* noMatches box */
#noMatches {
	margin:0px;
	padding:4px;
	width:auto;
}	
		*html #noMatches {
			width:100%;
		}
#noMatchesBorder {
	padding:4px;
	position:relative;
	margin-left:8px;
	margin-bottom:16px;
	width:auto;
}
	*html #noMatchesBorder {
	    width:100%;
	    margin-left:8px;
	}
#noMatches p {
	margin-top:0px;
}
#noMatches h2 {
	margin-bottom:4px;
	margin-top:4px;
}
#noMatches .iconTips {
    display:none;
}
#noMatches .noMatchesLeft {
	float:left;
	width:260px;
	padding:4px;
	margin-left:0px;
	position:absolute;
}
#noMatches .noMatchesRight {
	float:right;
	width:260px;
	padding:4px;
	position:relative;
	margin-bottom:16px;
}
#noMatches li {
	margin-left:16px;
	font-size:11px;
	padding:0px;
	font-weight:normal;
	list-style:square;
}
#noMatches ul {
	margin-left:24px;
	padding-left:0px;
	border:none;
}
.noMatchesHomePage {
	line-height:15px;
	list-style-type:square;
	margin-top:5px;
	margin-left:30px;
	margin-bottom:0px;
}
	#noMatches:after {
    	content:"."; 
    	display:block; 
    	height:0; 
    	clear:both; 
    	visibility:hidden;
	}
#mailPhotoAddress {
	z-index:1;
	left:180px;
	position:relative;
	top:-180px;
	visibility:hidden;
}
#mailPhotoAddress p {
	margin:4px 0 4px 0;
}
#mailPhotoAddress blockquote {
	margin:8px;
}
.mailPhotoAddressStyle {
	padding:4px;
	width:200px;
}
.iconTips {
	float:left;
	margin-right:4px;
}
a.closeBox:link, a.closeBox:active, a.closeBox:visited {
	width:14px;
	height:14px;
	font-size:10px;
}
a.closeBox:hover {
	width:14px;
	height:14px;
	font-size:10px;
}
.floatRight {
	float:right;
}
.gpYNM {
	display:block;
	height:23px;
	padding:3px;
	margin-top:1px;
}
/* generic shadow box */
.shadowBox {
	float:right;
}
#shadowBoxContent {
	border:none;
	position:relative;
	right:-4px;
	top:-4px;
}
#shadowBoxContainer {
	position:relative;
	margin:4px;
}
/* end generic shadow box */
/*
for css based versions extend the li
below the menu so that the mouse will
stay over the li and keep the hover active
*/
ul.nde-menu-system li.submenu:hover {
  padding-bottom:30em;
}
ul.nde-menu-system li.submenu:hover ul {
  left:0;
  visibility:visible;
}
#applicationNew {
	font-size:12px;
}
	/* Hack for IE on WIndows-Based Machines */
	* html #applicationNew {
			font-size:12px;
		}
#fullPageView {
	width:750px;
	margin:10px 20px 20px 0
}
.fullPageViewAS {
	width:750px;
	margin:10px 20px 20px 0;
}
.fullPageViewAS #rightNew {
	width:604px;
	margin-right:140px;
	float:none;
}
/* Keep values the same as original so nav does not resize */
UL.nde-menu-system {
   font-size:11px;
}
.navSecondary {
		font-size:11px;
}
/* For Add to home and Add to Favorites in home left nav */
a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo {
	padding:4px;
	margin:4px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	width:152px;
}
	*html a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo {
		width:160px;
	}
a:hover.homePageAddTo {
	padding:4px;
	margin:4px;
	font-weight:bold;
	text-decoration:underline;
	display:block;
	width:152px;
}
	*html a:hover.homePageAddTo {
		width:160px;
	}
.leftNavNewMessages {
	padding:2px;
	display:block;
	margin-top:4px;
	width:156px;
}
	*html .leftNavNewMessages {
		width:160px;
	}
	#leftNavSimple {
	    width:160px;
	    margin-right:4px;
	    margin-bottom:8px;
	}
textarea {
	font-family:arial, sans-serif;
	font-size:12px;
}
.show {
	display:block;	
}
.hide {
	display:none;
}
.showSpan {
	display:inline;	
}
.hideSpan {
	display:none;
}
/* activity center */
.activityCenterContainer {
	padding:5px;
	margin-bottom:0px;
	margin-right:0px;
	width:152px;
}
.activityCenterContainerCap {
	padding-right:0px;
}
.activityCenterTopLinks {
	margin-bottom:0px;
	line-height:20px;
}
.activityCenterMessages {
	width:152px;
}
.activityCenterMessagesMiddle {
	width:152px;
	padding:0px;
	margin:0px;
}
.activityCenterMessagesMessage {
	width:150px;
	height:30;
	vertical-align:middle;
	padding:6px 0 5px 0;
	margin:0 0 2px 0;
}
.activityCenterMessagesMessage:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
.activityCenterIcon {
	float:right;
}
.activityCenterDivider {
	width:1;
	height:1;
}
.siteLayout {
	text-align:center;
}
.siteContainer {
	width:940px;
	text-align:right;
}
.leftNavImageAlign {
	float:right;
	margin:3px 2px 0 4px;	
}
/*mini profile cells*/
.mp2 {
    padding:0 0 0 15px;
}
.mp6 {
  text-align:right;
  width:175px;
}
/*gallery cells*/
.gp1 {
  height:30px;
}	
.gpInfo {
  padding:3px;
}
/* Begin AdUnit related Styles */
.fullBannerBox {
	text-align:center;
	padding:0px;
	margin:10px 0px 10px 0px;
}
.blockUI_close a:link, .blockUI_close a:active, .blockUI_close a:visited, .blockUI_close a:hover {
	font-weight:bold;
}
#blockUI
{
	background-color: black;
	width: 100%;
	height:0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 50000;
	-moz-opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=50);
	visibility: hidden;
}
#blockUI_adunit {
left:0;
margin:0 auto;
position:absolute;
text-align:center;
top:50px;
width:100%;
z-index:50001;
}
.gameForcePageBtn
{
    padding:374px 222px 0 0;
}
.closeInside
{
    text-align:left;
    padding:0 16px;
}
.mediumPadding {
     margin:10px 0px 20px 20px;	
     clear:both;
}
.leftNavElement {
	margin-top:10px;
	overflow:hidden;
	width:160px;
	position:static;
	text-align:center;
}
.wideSkyscraperBannerAd {
	right:780px;
	position:absolute;
	top:0px;
}
.wideSkyscraperArticleBannerAd {
	float:left;
}
.quickSearchAd {
	margin-right:146px;
	margin-top:24px;
	width:300px;
	height:250px;
}
.adspace_header {
	text-align:center;
}
/* End AdUnit related Styles */
/* new styles for message settings page */
.prefContainer {
	padding:8px 0 8px 0;
	background-color:#FAFAF8;
	height:0;
}
.prefContainer p {
	margin:4px;
	line-height:20px;
}
.prefContainer:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
.prefContainer input {
	margin:0;
	padding:0;
}
.prefSubContainer {
	padding:4px 8px 0 8px;
	_padding:0px 8px 0 8px;
	display:block;
	_height:0;
}
.prefMSDivider {
	margin:32px 8px 4px 8px;
	font-weight:bold;
	font-size:12px;
	padding-bottom:4px;
}
.messageSettingsHelpParagraph {
	padding:0 24px 0 24px;
}
.messageSettingsHelpParagraphHide {
	text-align:left;	
}
/* hides new error page from hebrew sites */
#errorPageContainerEnglish {
	display:none;
}
/* begin styles added to fix line break bug in IE6+7 */
.profileAboutMe {
	*word-wrap:break-word;
	*overflow:hidden;
	*width:324px;
	margin:0 0 16px 0;
}
.profileAboutMeFull {
	*word-wrap:break-word;
	*overflow:hidden;
	*width:582px;
}
.microProfileAboutMe {
	*word-wrap:break-word;
	*overflow:hidden;
	*width:130px;
	margin:0;
}
.mp4 {
    width:175px;
}
#ieAll .mp4 {
	word-wrap:break-word;
	overflow:hidden;
}
.mp5-td	{
    padding-right:6px;
}
/* end styles added to fix line break bug in IE6+7 */
/* Search results page sort tabs */
.sortTabResultsView {
	padding:4px 4px 7px 8px;
	margin:0 4px 0 4px;
	font-weight:bold;
	float:right;
	display:block;
	position:relative;
	top:3px;
}
.sortTabResultsViewSelected {
	padding:4px 4px 10px 8px;
	margin:0 4px 0 4px;
	font-weight:bold;
	float:right;
	display:block;
	position:relative;
	top:1px;
}
.sortTabView {
	padding:4px;
	font-weight:normal;
	float:right;
	display:block;
}
#sortTabs {
	margin-bottom:5px;
	padding:6px 0 0 0;
	width:592px;
}
.sortTabsViewAs {
	padding:4px 8px 4px 8px;
	font-weight:normal;
	float:left;
	display:block;
}
.sortTabsViewAs img {
	padding:0 4px 0 4px;
}
.searchHdrCont {
	position:relative;
	width:96.5%;
	*width:580px;
	margin-bottom:5px;
	padding:2px;
}
	.searchHdrCont:after {
    	content:"."; 
    	display:block; 
    	height:0; 
    	clear:both; 
    	visibility:hidden;
	}
.searchHdrTitle {
	float:right;
}
.searchHdrEditPref {
	float:right;
	padding:6px;
}
.searchHdrNavLinks {
	float:left;
	padding-top:6px;
}
/* search pref 4/10/07 */
.prefBorder {
	width:592px;
	margin-top:0px;
	clear:left;
	position:relative; 
}
.prefBorder h2 {
	padding:4px;
	display:block;
	font-size:14px;
	line-height:15px;
}
.prefBorder h3 {
	font-size:12px;
	margin:0px;
	padding:6px;
}
.prefBorder h4 {
	font-size:11px;
	margin:0px;
	padding:6px;
	display:inline;
}
.prefSearchItems {
	padding:0 8px 0 8px;
	margin:8px 0 8px 0;
}
.prefSearchPRInfoCont {
	height:30px;
	padding-top:2px;
}
.prefSearchPRInfoContOne {
	float:right;
	padding:3px 0 0 0;
}
.prefSearchPRInfoContOne select {
	margin-top:-2px;
}
.prefSearchPRInfoContDynamic {
	float:right;
	position:relative;
	background-position:right top;
	background-repeat:no-repeat;
	padding:4px 18px 0px 4px;
}
.search-pref-option-container {
	clear:both;
	*height:1%;
	padding:6px;
	margin:0 6px 0 6px;
}
.search-pref-option-container:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
.search-pref-option-container li {
	float:right;
	width:188px;
	padding-bottom:6px;
	*padding-bottom:0;
	margin:0px;
	list-style:none;
}
.search-pref-option-container input {
	margin:0;
	margin-left:0px;
	*margin-left:0px;
	float:right
}
.search-pref-option-container label {
	margin:0;
	padding-right:2px;
	*padding-top:2px;
	float:right;
}
.preferencesContainerHeight {
	width:100px;
	text-align:left;
	margin:0;
	padding:0;
	display:block;	
}
.preferencesContainerHeight .RegDropDown {
	width:80px;
}
.search-pref-closed {
	font-weight:bold;
	font-size:11px;
	padding:12px 20px 6px 6px;
	cursor:pointer;
	display:block;
	float:right;
	height:20px;
}
.search-pref-open {
	font-weight:bold;
	font-size:11px;
	padding:12px 20px 6px 6px;
	cursor:pointer;
	display:block;
	float:right;
	height:20px;
}
.search-pref-selected-option {
	font-weight:normal;
	font-size:11px;
	overflow:hidden;
}
	
.search-pref-container {
	width:592px;
}
.search-pref-container:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
.prefSearchDivider {
	height:1px;
	overflow:hidden;
	margin:0 0 12px 0;
}
.search-pref-selected-option {
	display:inline;
}
.prefSearchPrefHeader {
	font-weight:bold;
	padding:10px 6px 6px 6px;
}
/* search pref region picker styles */
.prefRegionPickerContainer {
	width:340px;
	position:relative;
}
.prefRegionPickerHeader {
	padding:6px 4px 6px 8px;
	margin-bottom:6px;
}
.prefRegionPickerPopupClose {
	position:absolute;
	left:8px;
	top:8px;	
}
.prefRegionPickerTabsContainer {
	padding:6px 8px 8px 8px;
	margin-top:0px;
	margin-bottom:6px;
}
.prefRegionPickerFormTitle {
	width:86px;
	text-align:left;
	float:right;
	position:relative;
	padding:4px 4px 4px 0px;
}
.prefRegionPickerFormInput {
	width:220px;
	float:right;
	position:relative;
	padding:4px;
}
.prefRegionPickerItems {
	height:30px;
}
.prefRegionPickerCityLinks {
	position:absolute;
	width:114px;
	top:2px;
	right:144px;
}
/* Site Map styles */
#sitemap {
	margin-top:8px;
}
#sitemap dl {
	margin:0;
	padding:0 0 0 8px;
}
#sitemap dt {
	display:block;
	width:194px;
	height:36px;
	padding:4px 6px 0 0;
	margin:0;
	float:right;
	clear:right;
}
#sitemap dd {
	display:block;
	height:36px;
	width:392px;
	padding:4px 0 0 0;
	margin:0;
	float:right;
}
#sitemap h2 {
	background-color:#ffffff;
	border-bottom:1px solid;
	padding-top:16px;
	padding-right:6px;
	padding-bottom:2px;
	width:586px;
	clear:both;
}
#sitemap .toplink {
	clear:both;
	text-align:left;
	margin:8px 8px 8px;
}
#sitemap .toplink img {
	border:none;
}
/* FREE TEXT APPROVAL */
.FreeTextApprovalStats {
    background-color :Yellow;   
}
.suspendReasonsShow {
    display:block;                
}
.suspendReasonsHide {
    display:none;                
}
/* default module styles, don't change! customize in the override section */
#modSetContainer {
	clear:left;
	width:592px;
	margin-top:0px;
}
#modSetContainer .error {
	display:inline;
	float:right;
	width:230px;
	margin-top:-4px;
	margin-bottom:8px;
}
#modSetContainer p .error {
	display:block;
	width:93%;
	float:none;
	margin-top:8px;
	margin-bottom:8px;
}
#modSetContainer h2 {
	padding:3px;
}
#modSetContainer p {
	margin:16px;
	padding:0px;
}
#modSetContainer hr {
	height:1px;
	overflow:hidden;
	margin:8px 0 16px 0;
	*margin:8px 0 8px 0;
	width:97%;
}
.modRowContainer {
	position:relative;
}
.modRowContainer:after /* used instead of overflow:hidden so dhtml popups don't get cut off */ {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
	*html .modRowContainer {
		height:1%;
	}
.modOneColumn {
	width:591px;
}
.modTwoColumn {
	float:right;
	width:295px;
}
.modThreeColumn {
	float:right;
	width:197px;
}
.modFourColumn {
	float:right;
	width:148px;
}
/* module set overrides */
#modSetContainer .activityButton {
	margin-right:4px;
	margin-left:4px;
}
#paymentProfileDefaultButtons .activityButton {
	margin:1em 1em 0 0;
}
#paymentProfileCC {
	width:530px;
	margin-right:48px;
}
.CreditCardTypeDropDown {
	width:166px;
}
#paymentProfileNewCC {
	width:291px;
}
#paymentProfileNewInfo {
	width:228px;
}
#paymentProfileNewCC .error, #paymentProfileNewInfo .error {
	float:left;
	display:inline;
	width:210px;
	margin-top:-4px;
	margin-bottom:8px;
	margin-right:10px;
}
/* tableless form default styles - designed for 592 width*/
.tablelessForm label {
	display:block;
	float:right;
	width:170px;
	margin-bottom:10px;
	padding:2px 0 0 4px;
	text-align:left;
}
.tablelessForm input, .tablelessForm select {
	display:block;
	float:right;
	margin-bottom:10px;
}
.tablelessFormMultiple {
	display:block;
	width:140px;
	float:right;
	margin-bottom:10px;
}
.tablelessFormMultiple select {
	display:inline;
	margin-bottom:0;
	float:none;
}
.tablelessForm br {
	clear:right;
}
.tablelessFormLabelMimic {
	display:block;
	float:right;
	width:170px;
	margin-bottom:10px;
	padding:0 0 0 4px;
	text-align:left;
}
.tablelessFormInputMimic {
	display:block;
	float:right;
	width:410px;
	margin-bottom:10px;
	padding:0;
	text-align:right;
}
/* end tableless form default styles */
/* tabless form customization overrides */
#paymentProfileNewCC label {
	width:117px;
}
#paymentProfileNewCC .tablelessFormMultiple, #paymentProfileNewInfo .tablelessFormMultiple {
	width:140px;
}
#paymentProfileNewInfo label {
	width:90px;
}
/* end tabless form customizations */
/* Begin help layer */
/* help layer default */
.helpLayerPositionContainer {
	position:relative;
	float:right; /*float fixes rtl jumping image bug */
}
.helpLayerContainer {
	position:absolute;
	top:8px;
	right:8px;
	visibility:hidden;
	z-index:10000;
}
.helpLayerMiddle {
	position:absolute;
	background-color:#BEBEBE;
}
.helpLayerInner {
	top:-2px;
	right:-2px;
	position:relative;
	padding:8px 10px 8px 10px;
	width:280px;
}
.helpLayerInner h5 {
	margin:0;
	font-size:12px;
	padding:0;
}
.helpLayerClose {
	text-align:left;
	padding:0px;
	margin:0 0 4px 0;
	position:absolute;
	top:8px;
	left:8px;
}
/* help layer override - Subscription Redesign */
.helpLayerContainerB .helpLayerInner {
	padding:4px;
	width:334px;
	border:none;
}
.helpLayerContainerB .borderDark {
	border:none;
}
.helpLayerContainerB .helpLayerMiddle, .helpLayerContainerB .lightest {
	background-color:white;
}
.helpLayerContainerB {
    right:33.2em;
    top:7.1em;
	position:absolute;
	visibility:visible;
	z-index:1000000;
}
#divPpContainer .helpLayerContainerB {
	right:34.4em;
    top:6.1em;
}
.helpLayerContainer.cvc-popup {
	right:59px;
}
/* help layer override - Payment Profile */
#autoLoginHelp .helpLayerContainer {
	top:12px;
	right:-44px;
}
#autoLoginHelp .helpLayerInner {
	width:200px;
}
#modSetContainer .helpLayerPositionContainer {
	margin-right:8px;
}
#modSetContainer .helpLayerInner {
	padding:30px 10px;
}
/* end help layer overrides */
/* fix for renewalOld page t&c */
#renewalOldTermsCont .fullPageViewBorder, #renewalOldTermsCont .termsViewBorder {
	width:588px;
}
.termsViewBorder {
	width:736px;
	height:120px;
	margin-top:8px;
	margin-left:4px;
	overflow:auto;
}
.termsStyle {
	text-align:left;
	direction:ltr;	
}
.termsStyle h1 {
	text-align:left;
	direction:ltr;
	padding-left:8px;
}
/* begin UI construction tools */
.clearFloats {
	*height:1%;
	_height:1%;
}
.clearFloats:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
.floatInside {
	float:right;
}
.floatOutside {
	float:left;
}
.textOutside {
	text-align:left;
}
.noWrapClass {
	white-space:nowrap;
}
.checkboxReset input /* wrap span with this class around checkbox input */ {
	margin:0;
	padding:0;
	margin-left:2px;
	width:14px;
	height:14px;
}
.imageAlignInline {
    vertical-align:top;
}
    #ieAll .imageAlignInline {
        vertical-align:middle;
    }
.centered {
    margin:0 auto;
}
/* PhotoGallery */
.shuffleContainer {
	display:block;
}
.photoGallery #reviseLinks {
	float:left;
	margin:-20px 0 0 0;
	padding-left:14px;
}
.photo {
	margin-bottom:4px;
}
.photoWrapper {
	display:block;
	text-align:center;
	padding:20px 0 10px 0;
}
.profileShow {
	position:absolute;
	padding:6px;
	z-index:1001;
	visibility:hidden;
	width:250px;
	height:388px;
}
.username {
	display:block;
	font-weight:bold;
	font-size:12px;
}
.usernameAjax {
	display:block;
	font-weight:bold;
	font-size:12px;
	margin-bottom:2px;
	padding-bottom:2px;
	text-align:right;
}
.userdata {
	display:block;
	font-size:11px;
	margin-bottom:6px;
	white-space:nowrap;
}
.profileshow .userdata {
	display:block;
	font-size:11px;
	margin-bottom:6px;
	white-space:nowrap;
	text-align:right;
}
div.galleryPhotoContainerOuter {
	display:table; 
	#position:relative;
	overflow:hidden;
	text-align:center;
	width:250px;
	height:350px;
	margin:auto;
}
div.galleryPhotoContiainerInner {
	#position:absolute;
	 #top:50%;
	 display:table-cell;
	 vertical-align:middle;
	 text-align:center;
}
img.galleryPhoto {
	#position:relative; 
	#top:-50%;
	#right:-50%;
	height:auto;
	width:auto;
	margin:auto;
}
/* End PhotoGallery */ 
.mailBoxButton {
	padding:4px;
	margin:4px;
	font-size:12px;
	display:inline-block;
	font-weight:bold;
}
.mailBoxFooter {
	height:31px;
}
/* Begin profile redesign */
#newProfileView {
	margin:0px;
	padding:0px;
	width:600px;
}
#newProfileView #adspace {
	margin:0;
}
#newProfileView #profileMasthead {
	height:44px;
	padding:6px 8px 0 8px;
	margin:0;
}
#newProfileView #profileNav, #newProfileView #profileNav a {
	font-weight:bold;
}
#newProfileView ul#profileNav {
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
}
#newProfileView ul#profileNav li.previous {
	display:block;
	float:right;
	margin-bottom:4px;
}
#newProfileView ul#profileNav li.next {
	text-align:left;
}
#newProfileView ul#tabNav {
	font-weight:bold;
	margin:0 135px 0 0;
	padding:0;
	text-align:center;
	list-style-type:none;
	display:block;
	clear:both;
}
#newProfileView ul#tabNav li {
	display:inline;
}
#newProfileView ul#tabNav li a {
	display:block;
	padding:6px 16px 6px 16px;
	margin:0 4px 0 4px;
	float:right;
}
#newProfileView ul#tabNav li a.selected {
	display:block;
	padding:6px 16px 8px 16px;
	margin:-2px 4px 0 4px;
	text-decoration:none;
	cursor:default;
}
#newProfileView #profileControls {
	width:250px;
	position:absolute;
	right:0;
	margin:0;
}
.ppContainer #newProfileView #profileControls.pinned {
	position:fixed;
	margin:0;
	top:0;
	right:3px;
}
#newProfileView #profileControls ul#mainControls {
	list-style-type:none;
	margin:0;
	padding:4px 1px 0 0;
}
#newProfileView #profileControls ul#mainControls li {
	display:block;
	float:right;
	text-align:center;
	margin:0 85px 0 0;
}
#ie6only #newProfileView #profileControls ul#mainControls li {
    margin:0 42px 0 0;
}
#newProfileView #profileControls ul#mainControls li#ynm {
	width:140px;
	height:29px;
}
#newProfileView #profileControls ul#mainControls li#ynm abbr {
	border-bottom:none;
}
#newProfileView #profileControls ul#mainControls li#ynm img {
	margin:2px 0 -4px 0;
}
#newProfileView #profileControls ul#mainControls li#email {
    width:72px;
    height:29px;
	/*width:70px;
	height:29px;
	text-transform:uppercase;*/
}
#newProfileView #profileControls ul#mainControls li#email img {
	margin:4px -4px -5px 0;
}
#newProfileView #profileControls ul#mainControls #more_open a img {
	display:block;
}
#newProfileView #profileControls ul#mainControls #more_open a .moreExplanation, #newProfileView #profileControls ul#mainControls #more_close a .moreExplanation {
	display:none;
	padding:4px;
	position:absolute;
	white-space:nowrap;
}
#newProfileView #profileControls ul#mainControls #more_open a:hover .moreExplanation, #newProfileView #profileControls ul#mainControls #more_close a:hover .moreExplanation {
	display:block;
	text-decoration:none;
}
#newProfileView #profileControls ul#mainControls #more_close {
	display:none;
}
#newProfileView #profileControls ul#secondaryControls {
	display:none;
	clear:both;
	list-style-type:none;
	text-transform:uppercase;
	padding:0 4px 4px 0;
	margin:0;
}
#newProfileView #profileControls ul#secondaryControls li {
	display:inline;
}
#newProfileView #profileControls ul#secondaryControls li img {
	margin:2px 2px -5px 2px;
}
#newProfileView #profileControls ul#secondaryControls li a .description {
 	display:none;
}
#newProfileView #profileControls ul#secondaryControls li a:hover {
	text-decoration:none;
}
#newProfileView #profileControls ul#secondaryControls li a:hover .description {
 	display:inline;
}
#newProfileView #profileControls ul#secondaryControls li div.listMenuContainer ul.ListMenu li.ListElementItem {
	display:block;
}
/* -----bugfix081126----- */
#newProfileView ul#secondaryControls {
	display:block;
	float:left;
	width:330px;
	list-style-type:none;
	text-transform:uppercase;
	margin:4px 0 12px 0;
	padding:0;
}
#newProfileView ul#secondaryControls li {
	display:block;
	float:right;
	margin:0 6px 0 0;
}
#newProfileView ul#secondaryControls li a:hover {
	text-decoration:none;
}
#newProfileView ul#secondaryControls li a:hover .description {
 	display:inline;
}
#newProfileView ul#secondaryControls li div.listMenuContainer ul.ListMenu li.ListElementItem {
	display:block;
}
/* ---------- */
#newProfileView #profileControls #profilePhoto {
	clear:both;
	vertical-align:middle;
	text-align:center;
	padding:8px 0 8px 0;
	min-height:150px;
	height:auto !important;
	height:150px;
	margin:-1px 0 0 0;
}
#newProfileView #profileControls #profilePhoto img {
	margin:0 auto 0 auto;
}
#newProfileView #profileControls ul#profileThumbs {
	list-style-type:none;
	margin:6px 0 0 0;
	padding:0;
	text-align:center;
}
#newProfileView #profileControls ul#profileThumbs li {
	display:inline;
}
#newProfileView #profileContent {
	width:322px;
	float:left;
	margin:0 0 60px 8px;
	min-height:400px;
	height:auto !important;
	height:400px;
}
#newProfileView #profileContent #username {
	font-size:14px;
	font-weight:bold;
	margin-bottom:2px;
	display:inline;
}
#newProfileView #profileContent #activityIcons {
	display:inline;
}
#newProfileView #profileContent #activityIcons img {
	margin:0 4px 0 4px;
}
#newProfileView #profileContent h2 {
	padding-bottom:4px;
	margin-top:1em;
}
#newProfileView #profileContent div.essay p {
	margin-top:4px;
}
#newProfileView #profileContent #membernumber {
	font-weight:bold;
}
#newProfileView #profileContent #age {
	direction:ltr;
}
#newProfileView #lastLoggedIn {
	margin-top:1em;
}
#newProfileView #lastUpdate {
	margin-bottom:1em;
}
#newProfileView #profileContent dl {
	list-style-type:none;
	margin:0;
	padding:0;
}
#newProfileView #profileContent dl dt {
	display:block;
	float:right;
	clear:both;
	padding:4px 4px 6px 4px;
	margin-bottom:-6px;
	font-weight:bold;
	background:none;
}
#newProfileView #profileContent dl dd {
	margin:0;
	padding:4px 6px 6px 6px;
}
#newProfileView #profileFooter {
	clear:both;
	height:30px;
	text-align:left;
	padding:0;
}
#newProfileView #profileFooter ul#footerControls {
	list-style-type:none;
	margin:0;
	padding:8px;
	position:relative;
}
#newProfileView #profileFooter ul#footerControls li {
	display:inline;
}
#newProfileView #profileFooter ul#footerControls li a {
	margin:0 24px 0 6px;
}
#newProfileView #profileFooter ul#footerControls li a img {
	margin:-2px -27px 0 7px;
	position:absolute;
}
#newProfileView #profileFooter ul#footerControls li.next {
	font-weight:bold;
	margin-left:120px;
}
div.nextProfile {
	float:left;
	text-align:left;
	margin:8px 0 0 8px;
	font-weight:bold;
}
/* Forced email verification */
#verifyEmail, #verifyEmailConfirmation {
	width:592px;
}
#verifyEmail #currentEmail {
	margin:24px 0 16px 0;
	padding:16px 0 0 0;
	font-size:14px;
}
#verifyEmail #currentEmail .title {
	display:block;
	width:40%;
	float:right;
	font-weight:bold;
	padding-left:4px;
	text-align:left;
	clear:right;
}
#verifyEmail #currentEmail .email {
	display:block;
	margin-bottom:16px;
}
#verifyEmail #currentEmail .email a {
	font-size:11px;
}
#verifyEmail #resendVerificationEmail {
	text-align:center;
	margin-bottom:24px;
}
#verifyEmailConfirmation #confirmationMessage {
	padding:8px;
	margin:0 0 4px 0;
}
#verifyEmailConfirmation #confirmationMessage h1, #verifyEmailConfirmation #confirmationMessage p {
	margin:4px 0 4px 0;
}
#verifyEmailConfirmation #verifyEmailChecklist h2 {
	display:block;
	padding:0 8px 0 0;
	line-height:36px;
	height:36px;
	margin:0 0 4px 0;
}
#verifyEmailConfirmation #verifyEmailChecklist ul {
	list-style-type:none;
	margin:0 0 16px 0;
	padding:0;
	font-size:12px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li {
	margin:20px 16px 20px 16px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink {
	padding:8px 120px 0 8px;
	height:68px;
	line-height:18px;
	margin:4px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li a {
	font-weight:bold;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink a {
	display:block;
	font-size:14px;
	margin-right:-40px;
}
#verifyEmailConfirmation img#btn_homepage {
	float:left;
	border:0;
}
/* Optout email */
#optout {
	min-height:400px;
	height:auto !important;
	height:400px;
}
#optout #currentEmail {
	margin:1.25em .25em;
	padding:1.15em 0;
	font-size:14px;
	text-align:center;
}
#optout .center {
	text-align:center;
}
/* new home page matches styles */
.homePageYourMatches {
	margin-bottom:8px;
	position:relative;
}
.homePageYourMatches h2.blockTitle {
	margin:0;
	line-height:normal;
	padding:0 4px;
	text-transform:uppercase;
	font-size:11px;
}
.homePageYourMatchesMore {
	position:absolute;
	top:3px;
	left:3px;
}
    #ieAll .homePageYourMatchesMore {
	    left:-120px;
    }
.homePageYourMatches ul {
	margin:0;
	padding:0;
	font-size:11px;
}
.homePageYourMatches ul li {
	margin:0;
	padding:4px 0 4px 2px;
	list-style-type:none;
	clear:both;
}
	.homePageYourMatches ul li:after {
		content:"";
		display:block;
		height:0;
		clear:both;
	}
	#ieAll .homePageYourMatches ul li {
		height:1%;
	}
.homePageYourMatches ul li p {
	padding:0;
	margin:0;
}
.homePageYourMatches div.memberPic{
	float:right;
	width:35%;
}
.homePageYourMatches div.memberInfo{
	float:left;
	width:61%;
	padding:2px 0;
	min-height:126px;
	display:inline;
	font-size:12px;
}
    #ieAll .homePageYourMatches div.memberInfo {
        height:expression( this.scrollHeight < 125 ? "126px" :"auto" ); /* sets min-height in IE6 and IE7 (because of quirks-mode) */
    }
.homePageYourMatches div.memberInfo .textOutside {
    text-align:right;
}
.homePageYourMatches ul li.noMatches {
	background-image:none;
	padding:0;
	list-style-type:none;
	clear:both;
	border:none;
}
.homePageYourMatches ul li.noMatches #noMatchesBorder {
	position:static;
}
/* auto renewal settings */
#autoRenewalSettingsRateHeader {
	padding-right:420px;
	margin:8px 0 4px 0;
}
#autoRenewalSettingsPlan {
	width:66%;
	float:right;
	padding:8px;
	height:120px;
	margin-bottom:4px;
}
    #ieAll #autoRenewalSettingsPlan {
	    width:69%;
    }
	#autoRenewalSettingsPlan h2, #autoRenewalSettingsPlan p {
		margin-right:20px;
		padding:0;
	}
	.autoRenewalSettingsCheckBox {
	    float:right;
	}
	.autoRenewalSettingsCheckBox input {
	    margin:0;
	    padding:0;
	}
#autoRenewalSettingsRate {
	float:right;
	width:26%;
	text-align:left;
	margin:0 4px 4px 0;
	padding:8px;
	height:120px;
}
    #ieAll #autoRenewalSettingsRate {
	    width:29%;
    }
#autoRenewalSettingsDate {
	float:right;
	width:66%;
	padding:8px;
	text-align:left;
	border:1px solid white;
}
    #ieAll #autoRenewalSettingsDate {
	    width:69%;
    }
#autoRenewalSettingsRateTotal {
	float:right;
	width:26%;
	text-align:left;
	margin-right:4px;
	padding:8px;
	margin-bottom:24px;
}
    #ieAll #autoRenewalSettingsRateTotal {
	    width:29%;
    }
/* plan credit info popup */    
.planCreditInfo {
	top:12px;
	right:180px;
	width:278px;
	padding:4px;
	position:absolute;
	text-align:right;
	z-index:201;
	font-weight:normal;
    color:#333333;	
}
.planCreditInfoArrow {
	top:-1px;
	right:-14px;
	position:absolute;
}
div.planCreditInfo p {
	font-weight:normal;
	padding:12px 0;
}
.planCreditInfoTable td {
    width:100%;
}
.planCreditInfoTable td {
    padding:2px;
}
.planCreditInfoRowDivider {
    margin-top:4px;
    border-top:1px solid #333;
}
.HighlightProfileInfoClose {
    text-align:left;
}
.disabledPlan {
	opacity:0.3;
    filter:alpha(opacity:30);
    -moz-opacity:0.3;
    -khtml-opacity:0.3;
}
/* admin */
#tabNavAdminContainer {
    width:770px;
    border-bottom:2px solid #999;
}
ul#tabNavAdmin {
    white-space:nowrap;
    margin:1em 1em 0 1em;
    padding:0;
}
#tabNavAdmin li {
    float:left;
    display:inline;
    list-style-type:none;
    margin-left:2px;
}
#tabNavAdmin a {
    padding:.8em 1em;
    font-size:14px;
    display:block;
}
#tabNavAdmin a:link, #tabNavAdmin a:visited {
    color:#fff;
    background-color:#333;
    text-decoration:none;
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #333;
}
#tabNavAdmin a:hover {
    color:#fff;
    background-color:#666;
    text-decoration:none;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
}
#tabNavAdmin a:link.selected, #tabNavAdmin a:visited.selected {
    color:#333;
    background-color:#eee;
    text-decoration:none;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
}
.adminTabContent {
    margin:1em;
}
.adminTabContent div {
    margin-top:1em;
}
.adminIframe {
    width:746px;
    height:400px;
    border:2px solid #999;
}
    #ieAll .adminIframe {
        width:756px;
    }
#rightNew.adminDisplay {
    float:none;
    margin-right:4px;
}
.regionPickerLink {
	padding:0px 0px 0px 1.4em;
	margin:0;
}
#searchPopupDiv {
    display:none;
    z-index:1000;
    position:absolute;
    width:360px;
}
span.close {
    font-size:1.08em;
    color:#999999;
    font-weight:bold;
    font-family:Verdana;
}
.error-message li {
    clear:both;
}
/* Cupid re-redesign stuff */
.alertTabProfileUsername {
    font-size:12px;
}
.serviceIcon {
    display:none;    
}
.onlineGif {
    width:auto;
    height:auto;
    margin:0 10px;
    float:right;
}
.ImTitle {
    font-weight:bold;
}
.microprofile {
	height:125;
	padding-bottom:10px;
}
.subBenefits {
	width:160px;
	margin-top:7px;
	padding:7px;
}
.subBenefitsTitle1 {
	font-weight:bold;
}
.subBenefitsTitle2 {
	font-weight:bold;
}
.sendToFriendImage {
	margin-top:-20px;
}
.subscriptionTableLeft {
	padding-left:10px;	
}
.leftNavigationBullet {
	float:right;
	margin:7px 0 0 5px;
	display:none;
}
.viewProfileActivityButton {
	width:121px;
	height:30px;
}
.iconListImg {
    display:none;
}
.tipAppTitle {
	font-weight:bold;
}
.inviteGameDiv
{
    direction:rtl;
    text-align:center;
    margin:0 auto;
    height:700px;
    padding:10px 0;
}
.inviteGameHeader
{
    text-align:left; 
    width:100%;
    padding:10px 0 0 50px;
    display:none;
}
.imgHeaderLogo
{
    padding-left:41px;
}
#gamesDiv
{
    padding:7px 129px 0 0;
    height:362px;
}
.chooseGameDiv
{
    height:665px;
    text-align:right;
    margin:0 auto;
    width:674px;
}
.chooseGameHeader
{
    padding:60px 68px 10px;
    height:23px;
}
.imgGame
{
    width:76px;
    height:76px;
    margin:11px 0 0 -46px;
}
.chooseGameTbl
{
    text-align:center;
 
}
.chooseGameTbl td
{
    padding:0 0 12px 25px;
}
.chooseGameTbl td a
{
    position:relative;
    left:-24px;
}
.gameBanner
{
    padding:38px 0 0;
    height:120px;  
    text-align:center;  
}
.chooseGameTblTd
{
    width:100px;
}
.gamesBody
{
    margin:0;
}
.closeGameWindowBtn
{
    cursor:pointer;
}
.mainContentDiv
{
    height:468px;
}
.mainContentTxt
{
    padding-top:200px;
    text-align:center;   
}
.profileButtonsDiv{
    width: 300px;
}