
/* CSS - Structural elements for Hebrew pages: mirror English pages*/
A:link 
{
	TEXT-DECORATION: none
}

A:active 
{
	TEXT-DECORATION: none
}

A:visited 
{
	TEXT-DECORATION: none
}

A:hover 
{
	TEXT-DECORATION: underline
}

A.help:link 
{
	TEXT-DECORATION: none
}

A.help:active 
{
	TEXT-DECORATION: none
}
A.help:visited {
	TEXT-DECORATION: none
}
A.help:hover {
	CURSOR: help; TEXT-DECORATION: underline
}

A.footerLink:link 
{
	TEXT-DECORATION: none
}

A.footerLink:active 
{
	TEXT-DECORATION: none
}

A.footerLink:visited 
{
	TEXT-DECORATION: none
}

A.footerLink:hover 
{
	TEXT-DECORATION: underline
}

A.fontBox:link 
{
	PADDING: 1px;
	TEXT-DECORATION: none
}

A.fontBox:active 
{
	PADDING: 1px; 
	TEXT-DECORATION: none
}

A.fontBox:visited 
{
	PADDING: 1px; 
	TEXT-DECORATION: none
}

A.fontBox:hover 
{
	PADDING: 1px;
}

BODY 
{
	PADDING-RIGHT: 0px; 
	MARGIN-TOP: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #000000; 
	LINE-HEIGHT: 14px; 
	MARGIN-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, sans-serif; 
	background: url("../img/bkndHeb.gif") right top;
	voice-family: inherit;
}

.topTable {
	BACKGROUND: url(../../images/bknd_nav.jpg)
}

h1 
{
	FONT-SIZE: 16px; 
	MARGIN-BOTTOM: 8px
}

h2 {
	FONT-SIZE: 14px; 
	MARGIN-BOTTOM: 0px; 
	LINE-HEIGHT: 20px
}

hr 
{
	PADDING: 0px;
	WIDTH: 100%; 
	HEIGHT: 1px
}

select 
{
	FONT-SIZE: 11px; 
	
}

table 
{
	FONT-SIZE: 12px; 
	LINE-HEIGHT: 16px
}

input, select
{
	font-size: 12px;
	font-family: verdana, sans-serif
}

form 
{
	DISPLAY: inline
}

/* to keep superscript text from tweaking the line-spacing */
sup
{
	height: 0;
}

.bulletDark 
{
	FONT-SIZE: 24px; 
	LINE-HEIGHT: 14px
}

.bulletLight 
{
	FONT-SIZE: 24px; 
	LINE-HEIGHT: 14px
}

.activity 
{
	
}

.activityBar 
{
	PADDING: 4px;
}

.essayTitle 
{
	FONT-WEIGHT: bold
}

.galleryLink 
{
	PADDING-left: 20px; 
	FONT-SIZE: 11px; 
	LINE-HEIGHT: 20px
}

.miniProfileTitle 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px
}

.profileTitle 
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px
}

.profileImageHover 
{
	BORDER: 1px solid;
	cursor:hand;
}

A:hover .profileImageHover 
{
	BORDER: 1px solid;
}

A:active .profileImageHover 
{
	BORDER: 1px solid;
}

.profileImageHoverGallery 
{
	BORDER: 1px solid;
}

A:hover .profileImageHoverGallery 
{
	BORDER: 1px solid;
}

A:active .profileImageHoverGallery 
{
	BORDER: 1px solid;
}

.noPhoto 
{
	MARGIN-TOP: 1px; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 10px; 
	WIDTH: 80px; 
	CURSOR: pointer; 
	PADDING-TOP: 30px; 
	BACKGROUND-REPEAT: no-repeat; 
	HEIGHT: 74px; 
	TEXT-ALIGN: center
}

 HTML .noPhoto 
 {
	WIDTH: 80px; 
	PADDING-TOP: 30px; 
	HEIGHT: 104px
}
A:hover .noPhoto 
{
	BORDER: 1px solid;
}

A:active .noPhoto 
{
	BORDER: 1px solid;
}

.editHotList 
{
	FONT-SIZE: 11px; 
	WIDTH: 542px; 
	HEIGHT: 21px
}

.copyright 
{
	
}

.fontTiny
{
	font-size: 9px;
}

.fontExtraSmall
{
	font-size: 10px;
}

.fontSmall 
{
	FONT-SIZE: 11px
}

.fontMedium {
	FONT-SIZE: 12px
}

.fontLarge {
	FONT-SIZE: 14px
}

.bold {
    font-weight: bold;
}

.activityButton 
{
	PADDING: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px;
	FONT-FAMILY: arial, sans-serif;  
	CURSOR: pointer;
	overflow: visible;
}

.secondaryButton 
{
	padding: 2px 1px 2px 1px;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
	CURSOR: pointer;
	overflow: visible;
}

.topNew 
{
	RIGHT: 0px;
	text-align:right; 
	MARGIN-BOTTOM: 0px; 
	WIDTH: 770px; 
	TOP: 0px; 
}

.topNav-subTD {
    width: 770px;
    height: 82px;
}

#applicationNew 
{
	CLEAR: both; 
	MARGIN-TOP: 13px; 
	DISPLAY: block; 
	MARGIN-BOTTOM: 20px; 
	MARGIN-LEFT: 0px; 
	WIDTH: 770px; 
	POSITION: relative; 
	HEIGHT: 1%;
}

#leftNew 
{
	MARGIN-TOP: 0px; 
	FLOAT: right; 
	MARGIN-BOTTOM: 10px; 
	WIDTH: 170px;
}
#leftNew div.banner
	{
	margin: 8px 0 8px 0;
	text-align: center;
	}
	
#leftNew div#csbox
	{
	padding: 8px 5px 8px 5px;
	margin: 8px 6px 0 4px;
	}
#rightNew 
{
	MARGIN-TOP: 0px; 
	FLOAT: left; 
	MARGIN-BOTTOM: 10px; 
	MARGIN-LEFT: 0px;
	WIDTH: 600px;
	position:relative;
}
.ppContainer #rightNew 	{
	margin: 0;
	float: none; 
	}
	*html #rightNew
	{
		height: 1%;/* tbankston: Issue #12091 - see http://positioniseverything.net/explorer/guillotine.html for details on the bug & fix */ 
	}
	
	/* Issue #13252: not having this caused popup articles to be missaligned */
	.rightNewAlignOverride #rightNew
	{
		float: right;
	}
#rightNew div#rightcontent {
	margin: 0 6px 6px 6px;
}
#rightNew div#rightcontent a img {
	border: 0;
}

#rightNew div#rightcontent div#adspace {
	text-align: center;
	padding: 20px 0 20px 0;
	margin: 0;
}

#article-classic
{
	WIDTH: 592px
}

#footer 
{
	clear: both; 
	font-size: 10px; 
	width: 770px; 
	text-align: center
}

#galleryContainer 
{
	PADDING: 4px;
}

.logIn 
{
	PADDING: 4px;
	MARGIN-TOP: 0px; 
	FONT-SIZE: 12px; 
	MARGIN-BOTTOM: 12px; 
	WIDTH: 160px;
}

#homePref , .homePref
{
	MARGIN-TOP: 6px; 
	WIDTH: 160px;
	margin-right: 6px;
}

	.homePrefAd
	{
	width:181px !important;
	width: 215px;
	padding: 4 16 4 17;
	margin-top: 6px;
	 
	}

#homePref .homePrefTitle 
{
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	MARGIN: 0px; 
	TEXT-TRANSFORM: uppercase; 
	TEXT-INDENT: 4px; 
	LINE-HEIGHT: 24px
}

#homePref .homePrefText 
{
	PADDING: 2px; 
	DISPLAY: block; 
	TEXT-INDENT: 0px; 
	MARGIN-RIGHT: 4px;
}

#homePref .homePrefSubTitle 
{
	MARGIN-TOP: 2px; 
	DISPLAY: block; 
	TEXT-INDENT: 0px
}

#homeProfile
{
	margin: 8px 0 8px 0;
}

	#homeProfile h2
	{
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 4px;
		line-height: 24px;
		margin: 0px;
		font-size: 11px;
	}

	.homeProfilePhoto
	{
		width:80px;
		padding:4px;
	}
	
	.homeProfileText
	{
		padding: 4px;
		width: 264px;
	}
	
	.homeProfileAboutText
	{
		margin-top:10px;
		*word-wrap: break-word;
		*overflow: hidden;
		*width:260px;
		margin-bottom: 0px;
	}

	.homeProfileQuickTipText
	{
		padding: 4px;
		width: 296px;
		padding-top: 10px;
		padding-right: 8px;
	}

#homeRight 
{
	MARGIN-TOP: 6px; 
	WIDTH: 142px; 
	MARGIN-RIGHT: 0px
}

#homeRight .homeRightImage 
{
	PADDING: 2px; 
	DISPLAY: block; 
}

#homeRight .homeRightText 
{
	PADDING: 4px; 
	DISPLAY: block;  
	LINE-HEIGHT: 15px; 
}

#homeRight .homeRightTitle 
{
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	TEXT-TRANSFORM: uppercase; 
	TEXT-INDENT: 4px; 
	LINE-HEIGHT: 24px
}

#homeRight .homeRightSubTitle 
{
	PADDING: 3px; 
	MARGIN-TOP: 2px; 
	DISPLAY: block; 
}

#leftNav 
{
	MARGIN-BOTTOM: 8px; 
	WIDTH: 160px; 
	MARGIN-RIGHT: 4px
}

#leftNav .leftNavText 
{
	PADDING: 4px; 
	DISPLAY: block; 
	TEXT-ALIGN: right
}

#leftNav .leftNavTextDark 
{
	PADDING: 4px; 
	DISPLAY: block; 
	TEXT-ALIGN: right	
}

#leftNav .leftNavTextLight
{
	display: block;
	text-align: right;
	padding: 4px;		
}

#leftNav .leftNavTextMed 
{
	display: block;
	text-align: right;
	padding: 4px;
}

#leftNav .leftNavTitle 
{
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	TEXT-TRANSFORM: uppercase; 
	LINE-HEIGHT: 24px; 
}

#leftNav .leftNavSubtitle 
{
	PADDING: 4px;
	DISPLAY: block;  
	TEXT-ALIGN: right
}

#leftNav .thumbTrail 
{
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	TEXT-INDENT: 4px; 
	TEXT-ALIGN: center
}

#leftNav .home 
{
	PADDING: 4px; 
	DISPLAY: block; 
}

	#leftNav .leftNavTextSolid
	{
		display: block;
		text-align: right;
		padding: 4px 2px 4px 2px;
	}

#leftNavForm 
{
	PADDING: 5px; 
}

#tipAppLeft 
{
	PADDING: 4px; 
	MARGIN-TOP: 10px; 
	WIDTH: 152px; 
	MARGIN-RIGHT: 4px; 
}

*html #tipAppLeft
 {
		width:160px;
	}

#tipAppReg
	{
	width: 570px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
/*	font-size:7px; EP commented out */
	padding: 4px;
	}

	* html #tipAppReg
		{
		width: 570px;
		}

#mailBar 
{
	PADDING-RIGHT: 4px; 
	MARGIN-BOTTOM: 5px; 
	WIDTH: 592px; 
	PADDING-TOP: 8px; 
	POSITION: relative; 
	HEIGHT: 32px
}

#mailBar .moveForm 
{
	LEFT: 4px; 
	POSITION: absolute; 
	TEXT-ALIGN: left
}

#nav 
{
	Z-INDEX: 1000; 
	RIGHT: 0px; 
	WIDTH: 770px; 
	POSITION: absolute; 
	TOP: 0px
}

.topNavContainerTable {
    width: 770px;
    height: 80px;
}

.alignRTL 
{
	text-align: left;
}

.alignLTR
{
	text-align: right;
}

.navPrimary 
{
	FONT-WEIGHT: bold;

}

#reviseLinks 
{
	MARGIN-BOTTOM: 5px; 
	WIDTH: 592px; 
	POSITION: relative; 
	HEIGHT: 18px;
	text-align: left;
}

#reviseLinks .reviseCriteria 
{
	RIGHT: 0px; 
	POSITION: absolute; 
	TOP: 0px
}

#reviseLinks .iconInfo 
{
	LEFT: 0px; 
	POSITION: absolute; 
	TEXT-ALIGN: left
}

#sort 
{
	padding:6px; 
	WIDTH: 96.5%; 
	margin-bottom:5px; 
	POSITION: relative
}

 HTML #sort 
 {
	padding:6px;
	WIDTH: 592px; 
	POSITION: relative; 
	HEIGHT: 32px
}

#accountInformation
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 5px;
	padding: 6px;
	}

	* html #accountInformation
		{
		position: relative;
		width: 592px;
		height: 32px;
		margin-bottom: 5px;
		padding: 6px;
		}
		
#sort .sortForm 
{
	RIGHT: 4px
}

#sort .viewStyle 
{
	LEFT: 4px; 
	POSITION: absolute; 
	TOP: 6px; 
	TEXT-ALIGN: left
}

.subNavTop 
{
	CLEAR: both; 
	LEFT: 0px; 
	MARGIN-BOTTOM: 10px; 
	WIDTH: 770px; 
	TEXT-INDENT: 4px; 
	LINE-HEIGHT: 24px; 
	POSITION: relative; 
	HEIGHT: 24px
}

.breadCrumbUpper 
{
	MARGIN-LEFT: 0px
}

a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited
{
	text-decoration:none;
}

a.breadCrumbPagesLink:hover
{
	text-decoration:underline;
}

.breadCrumbPagesUpper 
{
	MARGIN-LEFT: 20px;
}
.breadCrumbUpperright 
{
	DISPLAY: block; 
	LEFT: 4px; 
	POSITION: absolute; 
	TOP: 0px; 
	TEXT-ALIGN: left
}

.subNavBottom 
{
	CLEAR: both; 
	RIGHT: 0px; 
	MARGIN-BOTTOM: 10px; 
	WIDTH: 770px; 
	TEXT-INDENT: 4px; 
	LINE-HEIGHT: 24px; 
	POSITION: relative; 
	HEIGHT: 24px
}

.breadCrumbLower 
{
	MARGIN-LEFT: 0px
}

.breadCrumbPagesLower 
{
	MARGIN-LEFT: 20px
}

.breadCrumbLowerleft 
{
	DISPLAY: block; 
	LEFT: 4px; 
	POSITION: absolute; 
	TOP: 0px; 
	TEXT-ALIGN: left
}

.breadCrumbLowerright 
{
	DISPLAY: block; 
	LEFT: 4px; 
	POSITION: absolute; 
	TOP: 0px; 
	TEXT-ALIGN: left
}

#voteBar 
{
	PADDING: 10px; 
	WIDTH: 96.5%; 
	POSITION: relative
}

	HTML #voteBar 
	{
		PADDING: 6px; 
		WIDTH: 592px;  
		POSITION: relative; 
		HEIGHT: 32px
	}

	#voteBar .continue 
	{
		LEFT: 4px; 
		POSITION: absolute; 
		TEXT-ALIGN: left
	}

	.voteBarBothSaidYess
	{
		margin: 3px 10em 0 0;
	}

#warning 
{
	FONT-SIZE: 12px; 
	WIDTH: 592px; 
	LINE-HEIGHT: 12px; 
	TEXT-ALIGN: right
}

#warning .warningText 
{
	
}

#prefBorder 
{
	CLEAR: left; 
	MARGIN-TOP: 0px;
	WIDTH: 592px
}

#prefBorder .prefHeader 
{
	PADDING: 4px; 
	DISPLAY: block; 
}

 HTML #prefBorder .prefHeader 
 {
	WIDTH: 592px
}

#prefBorder .prefHeader H2 
{
	FONT-SIZE: 14px; 
	LINE-HEIGHT: 15px
}

#prefBorder .prefCont 
{
	PADDING: 4px; 
}

#prefBorder .prefSub 
{
	PADDING: 4px; 
	DISPLAY: block; 
	WIDTH: 585px; 
}

HTML #prefBorder .prefSub 
{
	WIDTH: 592px
}

#prefTab 
{
	WIDTH: 100%; 
	HEIGHT: 19px
}

#prefTab .prefTabItem 
{
	PADDING: 5px; 
	MARGIN-TOP: 5px; 
	DISPLAY: inline; 
	CURSOR: pointer;  
	HEIGHT: 25px; 
	TEXT-ALIGN: center
}

#prefTab .prefTabItemActive 
{
	PADDING: 5px; 
	MARGIN-TOP: 5px; 
	DISPLAY: inline; 
	FONT-WEIGHT: bold;  
	HEIGHT: 25px; 
	TEXT-ALIGN: center
}

#lookUpLeft 
{
	DISPLAY: block; 
	FLOAT: left; 
	MARGIN-BOTTOM: 6px; 
	WIDTH: 293px; 
	MARGIN-RIGHT: 0px
}

#lookUpLeft .lookUpLeftTitle 
{
	PADDING: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	FLOAT: left;  
	WIDTH: 284px; 
}

HTML #lookUpLeft .lookUpLeftTitle 
{
	WIDTH: 292px
}

#lookUpLeft .lookUpLeftBtm 
{
	padding: 3px 4px 3px 3px;
	FLOAT: left; 
	WIDTH: 284px; 
}

HTML #lookUpLeft .lookUpLeftBtm 
{
	WIDTH: 292px
}

#lookUpLeft .lookUpLeftText 
{
	PADDING: 3px; 
	DISPLAY: block; 
	FLOAT: left; 
	WIDTH: 292px; 
	LINE-HEIGHT: 20px; 
}

#lookUpRight 
{
	DISPLAY: inline; 
	FLOAT: right; 
	MARGIN-BOTTOM: 6px; 
	MARGIN-LEFT: 0px; 
	WIDTH: 293px; 
	MARGIN-RIGHT: 6px
}

#lookUpRight .lookUpRightTitle 
{
	PADDING: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	FLOAT: left; 
	WIDTH: 284px; 
}

 HTML #lookUpRight .lookUpRightTitle 
 {
	WIDTH: 292px
}

#lookUpRight .lookUpRightText 
{
	PADDING: 3px;  
	FLOAT: left;  
	WIDTH: 290px; 
	LINE-HEIGHT: 20px; 
}

#lookUpRight .lookUpRightBtm 
{
	PADDING: 4px;  
	FLOAT: left; 
	WIDTH: 284px; 
}

 HTML #lookUpRight .lookUpRightBtm 
 {
	WIDTH: 292px
}

.mediumRow 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	WIDTH: 592px; 
	TEXT-INDENT: 5px; 
	LINE-HEIGHT: 22px
}

#contHeader
	{
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	width: 412px;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: 0px;	
	}
	
#contBorder
	{
	border-top: 0px;
	width: 408px;
	padding: 6px;
	margin-bottom: 10px;
	}
		*html #contBorder
			{
			width: 412px;
			}
	
	#contBorder  .contIntro
		{
		padding: 6px;
		padding-top: 10px;
		display: block;
		}		

.box 
{
	WIDTH: 592px;
}

#boxContent 
{
	RIGHT: -2px; 
	POSITION: relative; 
	TOP: -2px
}

#boxContainer, .results.list-view
{
	DISPLAY: block; 
	MARGIN: 0px; 
	POSITION: relative;
	z-index: 1;
}

.boxGallery 
{
	width: 190px;
	/*position:relative;*/
	clear: right;
}

#boxContentGallery 
{
	RIGHT: -3px; 
	POSITION: relative; 
	TOP: -2px
}

#boxContainerGallery 
{
	DISPLAY: block; 
	MARGIN: 2px; 
	POSITION: relative
}

#transContainer 
{
	MARGIN-TOP: 0px; 
	POSITION: absolute;
	Z-INDEX: 100000;
}

#trans1 
{
	MARGIN-TOP: -155px
}

#trans2 
{
	Z-INDEX: 1000; 
	FILTER: progid:dximagetransform.microsoft.alpha(opacity=30); 
	WIDTH: 592px; 
	POSITION: relative;
	HEIGHT: 161px; 
	margin-right:0px;
	top:-6px;
	moz-opacity: 0.30;
	opacity: 0.30;
}

#trans3 
{
	MARGIN-TOP: -190px
}
/* subadmin cleanup
#subscribeBottom 
{
	CLEAR: both; 
	MARGIN-TOP: 8px; 
	FLOAT: none; 
	MARGIN-BOTTOM: 4px; 
	WIDTH: 592px;
}

#subscribeLeft 
{
	PADDING-RIGHT: 4px; 
	FLOAT: right; 
	WIDTH: 242px;
}

#subscribeRight 
{
	FLOAT: left; 
	WIDTH: 342px; 
	MARGIN-RIGHT: 4px;
}

#subscribeTop 
{ 
	WIDTH: 592px;
}
*/
.navTop
{
	text-align:left;
	padding: 0 16px 20px 16px;
}

.navBottom
{
	margin-bottom:0px;
}

UL.nde-menu-system 
{
	PADDING: 0px; 
	DISPLAY: block; 
	FONT-SIZE: 13px;  
	MARGIN: 0px; 
}

UL.nde-menu-system UL 
{
	PADDING: 0px; 
	DISPLAY: block; 
	MARGIN: 0px; 
}

UL.nde-menu-system LI 
{
	PADDING: 0px; 
	DISPLAY: inline; 
	MARGIN: 0px; 
	LIST-STYLE-TYPE: none;
}

UL.nde-menu-system LI UL 
{
	DISPLAY: block; 
	Z-INDEX: 1000; 
	VISIBILITY: hidden; 
	LINE-HEIGHT: 20px; 
	POSITION: absolute; 
	TOP: 1em; 
	voice-family: inherit;
}

UL.nde-menu-system LI UL LI 
{
	PADDING: 0px; 
	DISPLAY: block;  
	MARGIN: 0px; 
	voice-family: inherit;
}

UL.nde-menu-system LI UL LI A 
{
	padding: 0 4px 0 0;
	BORDER-TOP: 1px dotted; 
	DISPLAY: block;  
	MARGIN: 0px; 
	WIDTH: 135px;  
	voice-family: inherit;
}

UL.nde-menu-system LI A 
{
	DISPLAY: inline; 
	MARGIN: 0px; 
	TEXT-DECORATION: none;
}

UL.nde-menu-system LI.submenu UL 
{
	TEXT-ALIGN: right;
}

/* WEL code for checking profile checkboxes */
.showSelect
{
    display: inline;
}
    
.hideSelect
{
    display: none;
}

.hotlistShow
{
    background-color : #FFFFFF;
}

.hotlistHide
{
	background: #D9E4DB;
}

a.buttonALink:link, a.buttonALink:visited, a.buttonALink:hover, a.buttonALink:active 
{
	text-decoration: none; 
	padding-right: 10px; 
	padding-left: 10px; 
	font-weight: bold; 
	font-size: 11px; 
	padding-bottom: 3px; 
	cursor: pointer; 
	padding-top: 3px;
	height:23px;
}

.ViewProfileHeaderContent
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 10px;
}

#sortOnlineNow
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 5px;
	}

a.fontBox:link, a.fontBox:active, a.fontBox:visited
	{
	text-decoration: none;
	padding: 2px;
	}

a.fontBox:hover 
	{
	padding: 2px;
	}
	
a.fontBoxOn
{
	padding:2px;
	
}

/* //////LOGIN////// */	
#loginBox
{
	width: 260px;
	margin-right: 10px;
}

	#loginBox .loginHeader
	{
		display: block;
		padding: 2px;
		font-weight: bold;
	}
	
	#loginBox .loginContent
	{
		padding: 6px;
		display: block;
	}
	
	#loginBox .loginFooter
	{
		display: block;
		padding: 2px;
	}

	#loginBox .loginSecondaryCopy
	{
		font-size: 9px;
	}

.ViewProfileHeaderImage
{
	margin: 5px;
	vertical-align: middle;
	text-align: center;
}
	
.ProfileNoPhoto
{
	width:246;
	height:10;
	text-align:center;
	padding-top: 50px;
}
	
/* /////IM ALERT/////// */

#IMAlert
{
	border: 1px solid black;
	display: block;
	width: 158px;
	padding: 1px;
	margin-bottom: 2px;
}

.IMAlert
{
	display: block;
	width: 162px;
	padding: 1px;
	margin-bottom: 2px;
}

.AlertTable
{
	font-size: 10px;
	line-height: 12px;
}

.AlertHead
{
	width: 100%;
	padding: 2px;
	color: white;
	font-weight: bold;
}

#heb-shadow {
    BACKGROUND: white; 
    FLOAT: right; 
    BORDER-LEFT: #cacaca 4px outset; 
    WIDTH: 749px; 
    HEIGHT: 100%
}

/* subscription */
/* new styles made for sub page june 06 ryoung */

.fullPageViewBorder {
	width:736px;
	margin-top:8px;
	margin-right:4px;
}

#divPpContainer .fullPageViewBorder, #divPpContainer .termsViewBorder
{
	width: 582px;
}

#renewalOldTermsCont .fullPageViewBorder, #renewalOldTermsCont .termsViewBorder
{
	width: 588px;
}

.termsViewBorder
{
	width:736px;
	height: 120px;
	margin-top:8px;
	margin-right:4px;
	overflow: auto;
}

.fullPageViewHeader {
	height:38px;
}

.fullPageViewHeader h2 {
	font-size:14px;
	margin:0px 8px 0px 0px;
	padding-top:10px;
}

.subTop {
	width:744px;
	height:282px;
	background-repeat:no-repeat;
	position: relative;
}

.subTopCarrotProfile {
	float:left;
	width:122px;
	text-align:center;
	display: none; /* added as a temporary fix to accomodate wider plans */
}

.subTopCarrot
{
	height:153px;
	right:620px;
	position:absolute;
	top:184px;
	width:123px;
}

.subRenewalCopy
{
	font-size:10px;
	width: 90%;
	clear: left;
	margin-bottom: 1em;
}

.subRenewalCopy p
{
	font-size:10px;
	padding: 4px;
	margin: 0;
}

#divPpContainer .subRenewalCopy
{
	width: 580px;
}

.subLeft
{
	width:355px;
	float:right;
}

.subRight
{
	width:355px;
	float:left;
}

.subRight .error, .subLeft .error
{
	margin-right: 0;
}

dl.subRight, dl.subLeft 
{
	margin:12px 0 0 0;
	
}

.subRight dt, .subLeft dt
{
	clear:both;
	width:32%;
	float:right;
	text-align:left;
	margin-left: 0.3em;
}

.subRight dd, .subLeft dd
{
	float:right;
	width:66%;
	margin:0 0 0.25em 0;
}

.subProcessOrder
{
	clear:both;
	display:block;
	margin:10px;
}

.helpLayer
{
	width: 345px;
	position:absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

.helpLayer2
{
	width:340px;
	position:absolute;
}

.helpLayer3
{
	width:320px;
	*width: 340px;
	top: -2px;
	right: -4px;
	*right: -2px;
	position: relative;
	padding:10px;
	text-align: right;
}

.helpLayerClose
{
	text-align:left;
	padding:0px;
	margin:0 0 4px 0;
}

#divPpContainer h1
{
	font-size: 13px;
}

.regularPageViewBorder
{
	width:582px;
	margin-top:8px;
	margin-right:4px;
}

.regularPageViewHeader
{
	height:38px;
}

.regularPageViewHeader h1
{
	font-size:14px;
	margin:0px 8px 0px 0px;
	padding-top:10px;
}

.subLeftPop
{
	width:280px;
	float:right;
}

.subRightPop
{
	width:280px;
	float: left;
}

.subRightPop .error, .subLeftPop .error
{
	margin-right: 0;
}

dl.subRightPop, dl.subLeftPop
{
	margin: 12px 0 0 0;
}

.subRightPop dt, .subLeftPop dt
{
	clear:both;
	width:37%;
	float:right;
	text-align:left;
	margin-left: 0.3em;
}

.subRightPop dd, .subLeftPop dd
{
	float: right;
	width:61%;
	margin:0 0 0.25em 0;
}

/*-----------------------*/
/*-----------------------*/
/* subscription redesign */
/*-----------------------*/
/*-----------------------*/

.fullPageViewAS h1 {
    line-height: 24px;
    font-size: 16px;
}

/* set sub styles */
.sub {
    margin-bottom: 1em;
    position: relative;
}

.ppContainer .sub {
	width:770px;
}

.sub ul, .sub li, .sub h2, .sub h3, .sub h4, .sub p
{
	margin: 0;
	padding: 0;
}

.sub .wrapper {
	float: right;
	width: 100%;
	position: relative;
}

.sub_columnsContainer {
	margin: 0 9.67em 0 0;
}

ul.plansCol_0 {
	width: 9.67em;
	margin: 0 -100% 0 0;
	float: right;
}

/* one column */
.sub_columnsContainer.col_01 ul.plansCol_1_Single {
	width: 43%;
	float: right;
	max-width: 54em;
}
#ieAll .sub_columnsContainer.col_01 ul.plansCol_1_Single {width: 36%;}

/* two columns */
.sub_columnsContainer.col_02 ul.plansCol_1 {
	width: 49%;
	max-width: 44em;
	float: right;
}

.sub_columnsContainer.col_02 ul.plansCol_2 {
	width: 50%;
	max-width: 44em;
	float: right;
}

/* three columns */
.sub_columnsContainer.col_03 ul.plansCol_1 {
	width: 33%;
	float: right;
	max-width: 34em;
	display: inline;
	}

.sub_columnsContainer.col_03 ul.plansCol_2 {
	width: 32%;
	float: right;
	max-width: 34em;
	display: inline;
	}

.sub_columnsContainer.col_03 ul.plansCol_3 {
	width: 32%;
	float: right;
	max-width: 34em;
	display: inline;
}

/* four columns */
.sub_columnsContainer.col_04 ul.plansCol_1 {
	width: 24%;
	float: right;
}

.sub_columnsContainer.col_04 ul.plansCol_2 {
	width: 24%;
	float: right;
}

.sub_columnsContainer.col_04 ul.plansCol_3 {
	width: 24%;
	float: right;
}

.sub_columnsContainer.col_04 ul.plansCol_4 {
	width: 24%;
	float: right;
}

/* five columns */
.sub_columnsContainer.col_05 ul.plansCol_1 {
	width: 19%;
	float: right;
}

.sub_columnsContainer.col_05 ul.plansCol_2 {
	width: 20%;
	float: right;
}

.sub_columnsContainer.col_05 ul.plansCol_3 {
	width: 20%;
	float: right;
}

.sub_columnsContainer.col_05 ul.plansCol_4 {
	width: 20%;
	float: right;
}

.sub_columnsContainer.col_05 ul.plansCol_5 {
	width: 20%;
	float: right;
}

/* sub row default styles */
.sub li {
	list-style-type: none;
	float: right;
	width: 100%;
	position: relative;
}

	#ie6only .sub li {height: 5.83em;}

.sub li.plansRow_0 {
	position: static;
}

.sub .plansCol_0 li.plansRow_0 {
	position: relative;
}
    #ieAll .sub .plansCol_0 li.plansRow_0 {position: static;}

.plansCol_0 .plansRow_0 {
    min-height: 9.58em;
}
    #ie6only.plansCol_0 .plansRow_0 {height: 9.58em;}

/*sub column styles defaults */
.sub_columnsContainer input {
	position: absolute;
	top: 1.1em;
	right: .5em;
	margin: 0;
	padding: 0;
}

/* default set is designed for redesign */
/* see classic set below for classic design set */

/* cell header default */
.cell-col-header {
	min-height: 9.58em;
	position: relative; 
}
	#ie6only .cell-col-header {height: 9.58em;}

	.cell-col-header h2 {
		padding: .5em 1em 0em .5em;
		font-size: 1.8em;
        font-weight: normal;
    }

	.cell-col-header p {
		padding: 0em .5em 1em 1em;
		margin: 0;
}

	.cell-col-header .details {
		font-size: .73em;
}
	
/* cell row header default */
.cell-row-header {
	min-height: 6.16em;
	text-align: center;
}
	#ie6only .cell-row-header {height: 6.16em;border: none;}

	.cell-row-header h2 {
		font-size: 1.6em;
        font-weight: normal;
        padding-top: 0.5em;
	}

/* cell plans default */
.cell-plan {
	min-height: 6.09em;
}
	#ie6only .cell-plan {height: 6.16em;border: none;}

.cell-plan.sub-none {
	min-height: 6.09em;
}
	#ieAll .cell-plan.sub-none {height: 80px;border: none;}

	.cell-plan h2 {
		margin: 0 2.2em 0 0;
		padding: 0;
		font-size: 1.70em;
	}

	.cell-plan p {
		margin: 0 4.3em 0 0;
		padding: 0;
	}
	
	.cell-plan h2 .per-month {
		font-size: .60em;
		font-weight: bold;
		white-space: nowrap;
	}

	.cell-plan p.payment {
		font-size: .96em;
		font-weight: normal;
	}
	
    .sub .sub-none p {
        font-size: 12px;
        font-family: Verdana, Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: bold;
        padding-top: 1em;
        margin-right: 10px;
    }

    .PlanIsDisabled {
        position:absolute;
        right: 5px;
        top: 5px;
        color: #999999;
    }

/* cell plans default top-premium */
	.cell-plan.strongest h2 {
		font-size: 2.10em;
	}

	.cell-plan.strongest h2 .per-month {
		font-size: .52em;
}

/* cell plans classic default */
.cell-plan.classic {
	min-height: 6.16em;
	}
	#ie6only .cell-plan.classic {height: 6.16em;}
	
	.cell-plan.classic h2 {
		margin: 0 1.6em 0 0;
		font-size: 1.5em;
		padding-top: .2em;
	}

	.cell-plan.classic p {
		margin: 0 2.6em 0 0;
}

	.cell-plan.classic h2 .per-month {
		font-size: 0.66em;
	}

/* classic column header content */
.cell-col-header.classic p {
	margin: 4px 7px;
	padding: 0;
}
	
.cell-col-header.classic ul li {
	margin: 0;
	padding: 0;
	border: none;
	height: auto;
	background-color: transparent;
	font-weight: bold;
	margin-right: 29px;
	padding-right: 0px;
    list-style-type: disc;
    float: none;
    font-size:10px;
	}

.rowHeaderHPDetails {
	margin: 0;
	cursor: pointer;
	position: absolute;
	bottom: 8px;
	left:8px;
	width: 72px;
	font-size: 10px;
	text-align: left;
}

.rowHeaderHPDetails a:link, .rowHeaderHPDetails a:visited, .rowHeaderHPDetails a:active {
	text-decoration: underline;
	}

.rowHeaderHPDetails a:hover {
	text-decoration: none;
	}
	
.col_04 .rowHeaderHPDetails img, .col_05 .rowHeaderHPDetails img {
    display: none;
}
	

/* classic shade */
.cell-plan.classic.strongest h2 {
	font-size: 1.8em;
	margin-right: 1.4em;
	}


/* begin sub quirks mode overrides (for classic sites) delete when quirksmode gone */
/* one columns */
#ieAll .sub_columnsContainer.col_01 ul.plansCol_1 {width: 40em;}

/* two columns */
#ieAll .sub_columnsContainer.col_02 ul.plansCol_1 {width: 29em;}
#ieAll .sub_columnsContainer.col_02 ul.plansCol_2 {width: 29em;}

/* three columns */
#ieAll .sub_columnsContainer.col_03 ul.plansCol_1 {width: 18em;}
#ieAll .sub_columnsContainer.col_03 ul.plansCol_2 {width: 18em;}
#ieAll .sub_columnsContainer.col_03 ul.plansCol_3 {width: 18em;}

/* four columns */
#ieAll .sub_columnsContainer.col_04 ul.plansCol_1 {width: 14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_2 {width: 14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_3 {width: 14em;}
#ieAll .sub_columnsContainer.col_04 ul.plansCol_4 {width: 14em;}

/* five columns */
#ieAll .sub_columnsContainer.col_05 ul.plansCol_1 {width: 12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_2 {width: 12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_3 {width: 12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_4 {width: 12em;}
#ieAll .sub_columnsContainer.col_05 ul.plansCol_5 {width: 12em;}

#ieAll .cell-col-header.classic {height: 9.58em;}
#ieAll .plansCol_0 .plansRow_0 {height: 9.64em;}
#ieAll .cell-plan.classic {height: 6.16em;}
#ieAll .cell-col-header.classic {height: 9.58em;}
#ieAll .cell-row-header h2 {white-space: nowrap;margin-right: 0;font-size: 1.8em;padding-top: .4em;}

#ieAll .cell-plan.classic {background-image: none;}
#ieAll .plansCol_1 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_2 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_3 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_4 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_5 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_6 .plansRow_0 .cell-col-header.classic,#ieAll .plansCol_7 .plansRow_0 .cell-col-header.classic {background-image: url(../img/Community/JDate/sub_columnHeader.gif);}
#ieAll .plansRow_1 .cell-plan.classic,#ieAll .plansRow_2 .cell-plan.classic,#ieAll .plansRow_3 .cell-plan.classic,#ieAll .plansRow_4 .cell-plan.classic,#ieAll .plansRow_5 .cell-plan.classic,#ieAll .plansRow_6 .cell-plan.classic,#ieAll .plansRow_7 .cell-plan.classic,#ieAll .plansRow_8 .cell-plan.classic {height: 80px;}

#ieAll .sub_columnsContainer input {top: 0.55em;}
#ie6only .sub_columnsContainer input {top: 0.45em;}

#ie6only .plansRow_0 .cell-col-header p {background-color: transparent;margin: 4px 7px;padding: 0;}
#ie6only .plansRow_0 .cell-col-header ul {background-color: transparent;border: 0px solid white;}
#ie6only .plansRow_0 .cell-col-header ul li {margin: 0;padding: 0;border: none;height: auto;background-color: transparent;font-weight: bold;margin-right: 29px;padding-right: 0px;list-style-type: disc;float: none;font-size:10px;}

#ieAll .cell-plan p.fine-print {margin: 0 2.6em 0 0;}
#ieAll .cell-col-header h2 {margin-right: .4em;padding: 0;font-size: 1.6em;}
/* end quirks mode overrides */

/* fix for ie z-index bug */
#ieAll .plansCol_1 .plansRow_0 {z-index: 107}#ieAll .plansCol_2 .plansRow_0 {z-index: 106}#ieAll .plansCol_3 .plansRow_0 {z-index: 105}#ieAll .plansCol_4 .plansRow_0 {z-index: 104}#ieAll .plansCol_5 .plansRow_0 {z-index: 103}#ieAll .plansCol_6 .plansRow_0 {z-index: 102}#ieAll .plansCol_7 .plansRow_0 {z-index: 101}#ieAll .plansCol_8 .plansRow_0 {z-index: 100}
#ieAll .plansCol_1 .plansRow_1 {z-index: 99}#ieAll .plansCol_1 .plansRow_2 {z-index: 98}#ieAll .plansCol_1 .plansRow_3 {z-index: 97}#ieAll .plansCol_1 .plansRow_4 {z-index: 96}#ieAll .plansCol_1 .plansRow_5 {z-index: 95}#ieAll .plansCol_1 .plansRow_6 {z-index: 94}#ieAll .plansCol_1 .plansRow_7 {z-index: 93}#ieAll .plansCol_1 .plansRow_8 {z-index: 92}
#ieAll .plansCol_2 .plansRow_1 {z-index: 91}#ieAll .plansCol_2 .plansRow_2 {z-index: 90}#ieAll .plansCol_2 .plansRow_3 {z-index: 89}#ieAll .plansCol_2 .plansRow_4 {z-index: 88}#ieAll .plansCol_2 .plansRow_5 {z-index: 87}#ieAll .plansCol_2 .plansRow_6 {z-index: 86}#ieAll .plansCol_2 .plansRow_7 {z-index: 85}#ieAll .plansCol_2 .plansRow_8 {z-index: 84}
#ieAll .plansCol_3 .plansRow_1 {z-index: 83}#ieAll .plansCol_3 .plansRow_2 {z-index: 82}#ieAll .plansCol_3 .plansRow_3 {z-index: 81}#ieAll .plansCol_3 .plansRow_4 {z-index: 80}#ieAll .plansCol_3 .plansRow_5 {z-index: 79}#ieAll .plansCol_3 .plansRow_6 {z-index: 78}#ieAll .plansCol_3 .plansRow_7 {z-index: 77}#ieAll .plansCol_3 .plansRow_8 {z-index: 76}
#ieAll .plansCol_4 .plansRow_1 {z-index: 75}#ieAll .plansCol_4 .plansRow_2 {z-index: 74}#ieAll .plansCol_4 .plansRow_3 {z-index: 73}#ieAll .plansCol_4 .plansRow_4 {z-index: 72}#ieAll .plansCol_4 .plansRow_5 {z-index: 71}#ieAll .plansCol_4 .plansRow_6 {z-index: 70}#ieAll .plansCol_4 .plansRow_7 {z-index: 69}#ieAll .plansCol_4 .plansRow_8 {z-index: 68}
#ieAll .plansCol_5 .plansRow_1 {z-index: 67}#ieAll .plansCol_5 .plansRow_2 {z-index: 66}#ieAll .plansCol_5 .plansRow_3 {z-index: 65}#ieAll .plansCol_5 .plansRow_4 {z-index: 64}#ieAll .plansCol_5 .plansRow_5 {z-index: 63}#ieAll .plansCol_5 .plansRow_6 {z-index: 62}#ieAll .plansCol_5 .plansRow_7 {z-index: 61}#ieAll .plansCol_5 .plansRow_8 {z-index: 60}

.resourceHint
{
	visibility: hidden;
	padding: 4px;
	position: absolute;
	white-space: nowrap;
	border-width: 1;
	border-style: solid;
	background: #FFFACD;
	font-family: Courier New;
	font-size: 11px;
	line-height:12px;
	color: #000000;
	z-index: 99;
}

.twoColumnCheckList tr td
{
	width: 50%;
}

.threeColumnCheckList tr td
{
	width: 33%;
}

/*one-click-paragraph-centering*/
.sub-one-click-para
{
    width: 250px;
    margin-left: 180px;
    margin-right: 300px;
}

#divPpContainer .sub-one-click-para 
{   
    width: 250px;
    margin-left: 110px;
    margin-right: 222px; 
}

/*
	This class houses the elements that use Listmenu, for the add2list control.
*/

.listMenuContainer
{
	MARGIN-TOP: 1px; 
	DISPLAY: inline; 
	Z-INDEX: 200; 
	LEFT: 0px; 
	POSITION: relative; 
	TOP: 0px;
}
#newProfileView .listMenuContainer
{
	display: inline;
	position: static;
}
/* This style governs the position of the dropdown menu when you 
click to hotlist a member profile by clicking on an "Icon Only", "Horizontal" 
or "Vertical" hotlist link. Notice that there is no top value. The top value
is set programmatically and governs how far down the dropdown menu should appear 
after clicking. When "Vertical" orientation is chosen, the dropdown menu
needs to go further down as not to overlap the icon.
 */

.ListMenu
{
	position: absolute; 
	left: -70px;
	width: 150px;
	display: none; 
	padding: 0px;
	margin: 0px;
}
#newProfileView .ListMenu
{
	left: -20px;
	margin-top: 40px;
}
.ListElementItem
{
	display:block;
	text-align:right;
	width:150px;
	font-size: 12px;
	line-height:14px;
}

.ListElementPadding
{
	display:block;
	width:150px;
	padding:2px;
}

.ListElementItem :hover
{
	width:150px;
	display:block;
	text-decoration:none;
	line-height:14px;
}
.emailicon {
	float: right;
}

.subscriptionFormDivider {
	border-right: #dddcd3 1px dotted;
	padding-right: 10px;
	padding-left: 10px;
}

.PageMessage
{
	display: block;
	margin: 6px 0;
}

.PageMessage img, .PageError img, .error img {
	vertical-align: middle;
}

.PageError
{
	width:90%;
	font-family: Verdana;
	font-size: 11px;
	color: Red;
	font-weight: bold;
	display: block;
	margin: 6px 0;
}

.error
	{
	width:90%;
	margin: 4px;
	font-weight: bold;
	font-size: 11px;
	padding:4px;
	border:1px solid red;
	display: block;
	color:#F02E0C;
	background:#FFECE9;
	}
*html .error 
	{
	width:100%;
	}

#ie7only .jmeterLookupByUsername .error { zoom: 1; }

.imBody 
{
	margin: 0px;
    direction: rtl;
}

.imBodyPadding
{
	padding:40 30 0 30;
	font-weight:bold;
}

.imErrorText
{
	padding-left: 10px;
	padding-right: 10px;
	direction: rtl;
}

.ppContainer
{
	width:600px;
}

.pp 
{
	right: 540px;
	top: 4px;
	position: absolute;
	z-index: 1;
}

.ppSubNavBottom 
{
	width:600px;
	display:block;
	height:25px;
	margin-bottom:10px;
}

a.ppLink:link, a.ppLink:active, a.ppLink:visited
	{
	text-decoration: none;
	}

a.ppLink:hover
	{
	text-decoration: underline;
	}
	
/* noMatches box */

#noMatches {
	margin: 0px;
	padding: 4px;
	width: auto%;
	}
		
		*html #noMatches
			{
			width: 100%;
			}

#noMatchesBorder
	{
	padding: 4px;
	position: relative;
	margin-left: 8px;
	margin-bottom: 16px;
	width: auto;
	}
	
			*html #noMatchesBorder
			{
			width: 100%;
			margin-left: 8px;
			}

#noMatches p {
	margin-top: 0px;
}

#noMatches h2 {
	margin-bottom: 4px;
	margin-top: 4px;
}

#noMatches .noMatchesLeft {
	float: left;
	width: 260px;
	padding: 4px;
	margin-left: 0px;
	position: absolute;
}

#noMatches .noMatchesRight {
	float: right;
	width: 260px;
	padding: 4px;
	position: relative;
	margin-bottom: 16px;
}

#noMatches li {
	margin-left: 16px;
	font-size: 11px;
	padding: 0px;
	font-weight: normal;
	list-style: square;
}

#noMatches ul {
	margin-left: 24px;
	padding-left: 0px;
	border: none;
}

.noMatchesHomePage 
{
	line-height: 15px;
	list-style-type: square;
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 0px;
}
	
	#noMatches:after {
    	content: "."; 
    	display: block; 
    	height: 0; 
    	clear: both; 
    	visibility: hidden;
	}

#mailPhotoAddress {
	z-index: 1;
	left: 180px;
	position: relative;
	top: -180px;
	visibility: hidden;
}

#mailPhotoAddress p {
	margin: 4px 0 4px 0;
}

#mailPhotoAddress blockquote {
	margin: 8px;
}

.mailPhotoAddressStyle {
	padding: 4px;
	width: 200px;
}

.iconTips 
{
	float: left;
	margin-right: 4px;
}

a.closeBox:link, a.closeBox:active, a.closeBox:visited
{
	width: 14px;
	height: 14px;
	font-size: 10px;
}

a.closeBox:hover 
{
	width: 14px;
	height: 14px;
	font-size: 10px;
}

.floatRight {
	float: right;
}

.gpYNM
{
	display:block;
	height:23px;
	padding:3px;
	margin-top:1px;
}

/* generic shadow box */
.shadowBox
{
	float: right;
}

#shadowBoxContent
{
	border: none;
	position: relative;
	right: -4px;
	top: -4px;
}

#shadowBoxContainer
{
	position: relative;
	margin: 4px;
}
/* end generic shadow box */

/*
for css based versions extend the li
below the menu so that the mouse will
stay over the li and keep the hover active
*/

ul.nde-menu-system li.submenu:hover
{
  padding-bottom: 30em;
}

ul.nde-menu-system li.submenu:hover ul 
{
  left: 0;
  visibility: visible;
}

#applicationNew
{
	font-size: 12px;
}

	/* Hack for IE on WIndows-Based Machines */
	* html #applicationNew
		{
			font-size: 12px;
		}

#fullPageView {
	width:750px;
	margin:10px 20px 20px 0
}

.fullPageViewAS {
	width:750px;
	margin:10px 20px 20px 0;
}

.fullPageViewAS #rightNew {
	width:604px;
	margin-right: 140px;
	float: none;
}

/* Keep values the same as original so nav does not resize */
UL.nde-menu-system
{
   font-size: 11px;
}

.navSecondary
	{
		font-size: 11px;
	}
	
/* For Add to home and Add to Favorites in home left nav */
a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-decoration:none;
	display: block;
	width: 152px;
}

	*html a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
	{
		width: 160px;
	}

a:hover.homePageAddTo
{
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-decoration:underline;
	display: block;
	width: 152px;
}

	*html a:hover.homePageAddTo 
	{
		width: 160px;
	}

.leftNavNewMessages 
{
	padding: 2px;
	display: block;
	margin-top: 4px;
	width: 156px;
}

	*html .leftNavNewMessages 
	{
		width: 160px;
	}
	
	#leftNavSimple
	{
	width: 160px;
	margin-right: 4px;
	margin-bottom: 8px;
	}
	
textarea
	{
		font-family:arial, sans-serif;
		font-size:12px;
	}
.show
	{
	display: block;	
	}
	
.hide
	{
	display: none;
	}

.showSpan
	{
	display: inline;	
	}
	
.hideSpan
	{
	display: none;
	}

/* activity center */

.activityCenterContainer
{
	padding: 4px;
	margin-bottom: 8px;
	margin-right: 4px;
	width: 152px;
}

.activityCenterContainerCap
{
	padding-right: 4px;
}

.activityCenterTopLinks
{
	margin-bottom: 8px;
	line-height: 20px;
}

.activityCenterMessages
{
	width: 152px;
}

.activityCenterMessagesMiddle
{
	width: 152px;
	padding: 2px 0px 2px 0px;
	margin: 0px;
}

.activityCenterMessagesMiddle iframe {
	float: right;
}

.activityCenterMessagesMiddle hr
{
	margin: 0px 6px 6px 6px;
	width: 140px;
	border: 0;
}

.activityCenterMessagesMessage
{
	width: 136px;
}

.activityCenterMessagesMessage:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.activityCenterIcon
{
	float: right;
}

.iconList 
{
	padding:4px;
	margin:10px 4px;
	WIDTH: 152px; 
}

	*html .iconList
	{
		width:160;
	}

.leftNavImageAlign
{
	float:right;
	margin:3 2 0 4;	
}

/* Begin AdUnit related Styles */
.mediumPadding 
{
 margin:10px 0px 20px 20px;	
 clear:both;
}

.leftNavElement
{
	margin-top: 10px;
	overflow: hidden;
	width: 160px;
	position: static;
	text-align: center;
}

.wideSkyscraperBannerAd
{
	right: 780px;
	position: absolute;
	top: 0px;
}

.wideSkyscraperArticleBannerAd
{	position:absolute;
	width:160px;
	display:inline;
	margin:0 0 0 4px;
	padding: 0;
	top: 8px;
	right:607px;
	float:left;
}

.quickSearchAd
{
	margin-right:146px;
	margin-top: 24px;
	width: 300px;
	height: 250px;
}

.adspace_header
{
	text-align: center;
}

/* End AdUnit related Styles */

#blockUI
{
	background-color: black;
	width: 100%;
	height:0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 50000;
	-moz-opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=50);
	visibility: hidden;
}

#blockUI_adunit
{
	position:absolute;
	top:200px;
	right:0px;
	z-index:50001;
	width: 770px;
	text-align: center;
	margin: 0 auto;
}

.sms-alerts-popup
{
	position:absolute;
	top:170px; /*80px;*/
	right:186px; /*16px;*/
	z-index:50001;
	width: 552px; /*601px;*/
}

.sms-alerts-popup #sms-alerts-cancel
{
	margin-right: 138px;
}

.blockUI_subContainer
{
	margin: 0 auto;
	position: relative;
}

.blockUI_close
{
	text-align: center;
	padding: 6px;
	margin: 0;
}

/* blockUI info */

.blockUI_info p.closeInside {
	text-align: left;
	margin:0;
	padding-top:0;
}

.blockUI_info ul {
	 line-height:2em;
}

.blockUI_info .blockUI_infoOuter {
	padding: 4px;
	width:360px;
}

.blockUI_info .blockUI_subContainer {
	padding: 4px;
	text-align:right;
}

.blockUI_info .footerLink {
	font-size: 1.1em;
	text-align:left;
}

#ieAll #article { zoom:1; }

#articleCont {
	float: right;
	width: 424px;
	min-height:50em; 
	height:auto;
}

#articleCont a:link, #articleCont a:active, #articleCont a:visited {
	text-decoration: underline;
}


/* new styles for message settings page */
.prefContainer
{
	padding: 8px 0 8px 0;
}

.prefContainer p
{
	margin: 4px;
	line-height: 20px;
}

.prefContainer:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.prefContainer input
{
	margin: 0;
	padding: 0;
}

.prefSubContainer
{
	padding: 4px 8px 0 8px;
	_padding: 0px 8px 0 8px;
	display:block;
	_height:0;
	
}

.prefMSDivider
{
	margin: 32px 8px 4px 8px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom:4px;
}

.messageSettingsHelpParagraph
{
	padding: 0 24px 0 24px;
}

.messageSettingsHelpParagraphHide
{
	text-align: left;	
}

/* hides new error page from hebrew sites */
#errorPageContainerEnglish
{
	display: none;
}

/* begin styles added to fix line break bug in IE6+7 */
.profileAboutMe
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:324px;
	margin: 0 0 16px 0;
}

.profileAboutMeFull
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:582px;
}

.microProfileAboutMe
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:130px;
	margin: 0;
}

.mp4 {
    width: 200px;
}

#ieAll .mp4 {
	word-wrap: break-word;
	overflow: hidden;
}

.mp5-td	{
    padding-right: 6px;
}	
/* end styles added to fix line break bug in IE6+7 */

/* Search results page sort tabs */

.sortTabResultsView
{
	padding: 4px 4px 8px 8px;
	margin: 0 4px 0 4px;
	font-weight: bold;
	float: right;
	display: block;
	position: relative;
	top: 3px;
}

.sortTabResultsViewSelected
{
	padding: 4px 4px 10px 8px;
	margin: 0 4px 0 4px;
	font-weight: bold;
	float: right;
	display: block;
	position: relative;
	top: 1px;
}

.sortTabView
{
	padding: 4px;
	font-weight: normal;
	float: right;
	display: block;
}

#sortTabs
{
	margin-bottom: 5px;
	padding: 6px 0 0 0;
	width: 592px;
}

.sortTabsViewAs
{
	padding: 4px 8px 4px 8px;
	font-weight: normal;
	float: left;
	display: block;
}

.sortTabsViewAs img
{
	padding: 0 4px 0 4px;
}

.searchHdrCont
{
	position: relative;
	width: 96.5%;
	*width: 592px;
	margin-bottom: 5px;
	padding: 2px;
}

	.searchHdrCont:after {
    	content: "."; 
    	display: block; 
    	height: 0; 
    	clear: both; 
    	visibility: hidden;
	}

.searchHdrTitle
{
	float: right;
	padding: 6px;
}

.searchHdrEditPref
{
	float: right;
	padding: 6px;
}

.searchHdrNavLinks
{
	float: left;
	padding-top: 6px;
}

/* search pref 4/10/07 */

.prefBorder
{
	width: 592px;
	margin-top: 0px;
	clear: left;
	position: relative; 
}
	
.prefBorder h2
{
	padding: 4px;
	display: block;
	font-size: 14px;
	line-height: 15px;
}
	
.prefBorder h3
{
	font-size: 12px;
	margin: 0px;
	padding: 6px;
}

.prefBorder h4
{
	font-size: 11px;
	margin: 0px;
	padding: 6px;
	display: inline;
}


.prefSearchItems
{
	padding: 0 8px 0 8px;
	margin: 8px 0 8px 0;
}

.prefSearchPRInfoCont
{
	height: 30px;
	padding-top: 2px;
}

.prefSearchPRInfoContOne
{
	float: right;
	padding: 3px 0 0 0;
}

.prefSearchPRInfoContOne select
{
	margin-top: -2;
}

.prefSearchPRInfoContDynamic
{
	float: right;
	position:relative;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 4px 18px 0px 4px;
}

.search-pref-option-container {
	clear: both;
	*height: 1%;
	padding: 6px;
	margin: 0px;
}

.search-pref-option-container:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.search-pref-option-container li
{
	float: right;
	width: 193px;
	padding-bottom: 6px;
	*padding-bottom: 0;
	margin: 0px;
	list-style: none;
}

.search-pref-option-container input
{
	margin: 0;
	margin-left: 0px;
	*margin-left: 0px;
	float:right
}

.search-pref-option-container label
{
	margin: 0;
	padding-right: 3px;
	*padding-top:2px;
	float:right;
}

.preferencesContainerHeight
{
	width: 100px;
	text-align: left;
	margin: 0;
	padding: 0;
	display: block;	
}

.preferencesContainerHeight .RegDropDown
{
	width: 80px;
}

.search-pref-closed
{
	font-weight: bold;
	font-size: 11px;
	padding: 12px 20px 6px 6px;
	cursor: pointer;
	display: block;
	float: right;
	height: 20px;
}

.search-pref-open
{
	font-weight: bold;
	font-size: 11px;
	padding: 12px 20px 6px 6px;
	cursor: pointer;
	display: block;
	float: right;
	height: 20px;
}

.search-pref-selected-option
{
	font-weight: normal;
	font-size: 11px;
	overflow: hidden;
}
	
.search-pref-container
{
	width: 592px;
}
	
.search-pref-container:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.prefSearchDivider
{
	height:1px;
	overflow:hidden;
	margin:0 0 12px 0;
}

.search-pref-selected-option
{
	display: inline;
}

.prefSearchPrefHeader
{
	font-weight: bold;
	padding: 10px 6px 6px 6px;
}

/* search pref region picker styles */
.prefRegionPickerContainer
{
	width: 340px;
	position: relative;
}

.prefRegionPickerHeader
{
	padding: 6px 4px 6px 8px;
	margin-bottom: 6px;
}

.prefRegionPickerPopupClose
{
	position: absolute;
	left: 8px;
	top: 8px;	
}

.prefRegionPickerTabsContainer
{
	padding: 6px 8px 8px 8px;
	margin-top: 0px;
	margin-bottom: 6px;
}

.prefRegionPickerFormTitle
{
	width: 86px;
	text-align: left;
	float: right;
	position: relative;
	padding: 4px 4px 4px 0px;
}

.prefRegionPickerFormInput
{
	width: 220px;
	float: right;
	position: relative;
	padding: 4px;
}

.prefRegionPickerItems
{
	height:30px;
}

.prefRegionPickerCityLinks
{
	position:absolute;
	width:114px;
	top:2px;
	right: 144px;
}

/* Site Map styles */
#sitemap
{
	margin-top: 8px;
}
	
#sitemap dl
{
	margin: 0;
	padding: 0 0 0 8px;
}
	
#sitemap dt
{
	display: block;
	width: 194px;
	height: 36px;
	padding: 4px 6px 0 0;
	margin: 0;
	float: right;
	clear: right;
}
	
#sitemap dd
{
	display: block;
	height: 36px;
	width: 392px;
	padding: 4px 0 0 0;
	margin: 0;
	float: right;
}
	
#sitemap h2
{
	background-color: #ffffff;
	border-bottom: 1px solid;
	padding-top: 16px;
	padding-right: 6px;
	padding-bottom: 2px;
	width: 586px;
	clear: both;
}
	
#sitemap .toplink 
{
	clear: both;
	text-align: left;
	margin: 8px 8px 8px;
}

#sitemap .toplink img
{
	border: none;
}

/* 
    FREE TEXT APPROVAL  
*/
.FreeTextApprovalStats 
{
    background-color : Yellow;   
}
.suspendReasonsShow
{
    display: block;                
}
.suspendReasonsHide
{
    display: none;                
}

/* inline help dhtml popup - currently broken in Opera, suffers from IE z-index bug if over other nearby relative positioned elements */
/* default module styles, don't change! customize in the override section */
#modSetContainer
{
	clear: left;
	width: 592px;
	margin-top: 0px;
}

#modSetContainer .error
{
	display: inline;
	float: right;
	width: 230px;
	margin-top: -4px;
	margin-bottom: 8px;
}

#modSetContainer p .error
{
	display:block;
	width: 93%;
	float: none;
	margin-top: 8px;
	margin-bottom: 8px;
}

#modSetContainer h2
{
	padding: 3px;
}

#modSetContainer p
{
	margin: 16px;
	padding: 0px;
}

#modSetContainer hr
{
	height: 1px;
	overflow: hidden;
	margin: 8px 0 16px 0;
	*margin: 8px 0 8px 0;
}

.modRowContainer
{
	position: relative;
}

.modRowContainer:after /* used instead of overflow:hidden so dhtml popups don't get cut off */
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

	*html .modRowContainer
	{
		height: 1%;
	}

.modOneColumn
{
	width: 591px;
}

.modTwoColumn
{
	float: right;
	width: 295px;
}

.modThreeColumn
{
	float: right;
	width: 197px;
}

.modFourColumn
{
	float: right;
	width: 148px;
}

/* module set overrides */
#modSetContainer .activityButton {
	margin-right: 4px;
	margin-left: 4px;
}
#paymentProfileDefaultButtons .activityButton {
	margin: 1em 1em 0 0;
}
.CreditCardTypeDropDown
{
	width: 133px;
}

#paymentProfileCC
{
	width: 499px;
	margin-right: 48px;
}

#paymentProfileNewCC
{
	width: 261px;
}

#paymentProfileNewInfo
{
	width: 238px;
}

/* tableless form default styles - designed for 592 width*/
.tablelessForm label
{
	display: block;
	float: right;
	width: 170px;
	margin-bottom: 10px;
	padding: 2px 0 0 4px;
	text-align: left;
}

.tablelessForm input, .tablelessForm select
{
	display: block;
	float: right;
	margin-bottom: 10px;
}

.tablelessFormMultiple
{
	display: block;
	width: 140px;
	float: right;
	margin-bottom: 10px;
}

.tablelessFormMultiple select
{
	display: inline;
	margin-bottom: 0;
	float: none;
}

.tablelessForm br
{
	clear: right;
}

.tablelessFormLabelMimic
{
	display: block;
	float: right;
	width: 170px;
	margin-bottom: 10px;
	padding: 0 0 0 4px;
	text-align: left;
}

.tablelessFormInputMimic
{
	display: block;
	float: right;
	width: 410px;
	margin-bottom: 10px;
	padding: 0;
	text-align: right;
}

/* end tableless form default styles */

/* tabless form customization overrides */

#paymentProfileNewCC label
{
	width: 117px;
}

#paymentProfileNewCC .tablelessFormMultiple, #paymentProfileNewInfo .tablelessFormMultiple
{
	width: 140px;
}

#paymentProfileNewInfo label
{
	width: 90px;
}

#paymentProfileNewCC .error, #paymentProfileNewInfo .error
{
	float: left;
	display: inline;
	width: 210px;
	margin-top: -4px;
	margin-bottom: 8px;
	margin-right: 10px;
}

/* end tabless form customizations */


#divPpContainer .fullPageViewBorder, #divPpContainer .termsViewBorder
{
	width: 582px;
}

/* fix for renewalOld page t&c */
#renewalOldTermsCont .fullPageViewBorder, #renewalOldTermsCont .termsViewBorder
{
	width: 588px;
}

.termsViewBorder
{
	width:736px;
	height: 120px;
	margin-top:8px;
	margin-left:4px;
	overflow: auto;
}

.termsStyle
{
	text-align: left;
	direction: ltr;	
}

.termsStyle h1
{
	text-align: left;
	direction: ltr;
	padding-left: 8px;
}

.clearFloats:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/* Begin help layer */
/* help layer default */
.helpLayerPositionContainer
{
	position: relative;
	float: right; /*float fixes rtl jumping image bug */
}

.helpLayerContainer
{
	position: absolute;
	top: 8px;
	right: 8px;
	visibility: hidden;
	z-index: 10000;
}

.helpLayerMiddle
{
	position: absolute;
	background-color: #BEBEBE;
}

.helpLayerInner
{
	top: -2px;
	right: -2px;
	position: relative;
	padding: 8px 10px 8px 10px;
	width: 280px;
}

.helpLayerInner h5
{
	margin: 0;
	font-size: 12px;
	padding: 0;
}

.helpLayerClose
{
	text-align: left;
	padding: 0px;
	margin: 0 0 4px 0;
	position: absolute;
	top: 8px;
	left: 8px;
}

/* help layer override - Subscription Redesign */
.helpLayerContainerB .helpLayerInner {
	padding: 4px;
	width: 334px;
	border: none;
}

.helpLayerContainerB .borderDark {
	border: none;
}

.helpLayerContainerB .helpLayerMiddle {
	background-color: white;
}

.helpLayerContainerB {
    right: 33.2em;
    top: 7.1em;
	position: absolute;
	visibility: visible;
	z-index: 1000000;
}

#divPpContainer .helpLayerContainerB
{
	right: 34.4em;
    top: 6.1em;
}

.helpLayerContainer.cvc-popup {
	right: 59px;
}

/* help layer override - Payment Profile */

#autoLoginHelp .helpLayerInner
{
	width: 290px;
}

#modSetContainer .helpLayerPositionContainer
{
	margin-right: 8px;
}

#modSetContainer .helpLayerInner
{
	padding: 30px 10px;
}

#highlightedProfilesContainer .helpLayerContainer
{
	top: 54px;
	right: 245px;
}

#highlightedProfilesContainer .helpLayerInner
{
	padding: 10px;
	width: 300px;
}

#memberSpotlightContainer .helpLayerContainer
{
	top: 183px;
	right: 230px;
}

#memberSpotlightContainer .helpLayerInner
{
	padding: 10px;
	width: 300px;
}


/* end help layer overrides */

/* begin UI construction tools */
.clearFloats
{
	*height: 1%;
	_height: 1%;
}

	.clearFloats:after
	{
		content: "";
		display: block;
		height: 0;
		clear: both;
	}

.floatInside
{
	float: right;
}

.floatOutside
{
	float: left;
}

.textOutside
{
	text-align:left;
}

.noWrapClass
{
	white-space: nowrap;
}

.checkboxReset input /* wrap span with this class around checkbox input */
{
	margin: 0;
	padding: 0;
	margin-left: 2px;
	width: 14px;
	height: 14px;
}

.imageAlignInline {
    vertical-align: top;
}

    #ieAll .imageAlignInline {
        vertical-align: middle;
    }

.centered {
    margin: 0 auto;
}

.direction-ltr {
    direction: ltr;
    background-color: #f7f7f7;
}

/* PhotoGallery */

.shuffleContainer {
	display: block;
}
.photoGallery #reviseLinks  
{
	float: left;
	margin: -20px 0 0 0;
	padding-left: 14px;
}
	
.photo {
	margin-bottom: 4px;
}
.photoWrapper {
	display: block;
	text-align: center;
	padding: 20px 0 10px 0;
}
.profileShow {
	position: absolute;
	padding: 6px;
	z-index: 1001;
	visibility: hidden;
	width: 250px;
	height: 388px;
}
.username {
	display: block;
	font-weight: bold;
	font-size: 12px;
}
.usernameAjax {
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	text-align: right;
}
.userdata {
	display: block;
	font-size: 11px;
	margin-bottom: 6px;
	white-space: nowrap;
}
.profileshow .userdata {
	display: block;
	font-size: 11px;
	margin-bottom: 6px;
	white-space: nowrap;
	text-align: right;
}
div.galleryPhotoContainerOuter {
	display: table; 
	#position: relative;
	overflow: hidden;
	text-align: center;
	width: 250px;
	height: 350px;
	margin: auto;
}
div.galleryPhotoContiainerInner {
	#position: absolute;
	 #top: 50%;
	 display: table-cell;
	 vertical-align: middle;
	 text-align: center;
}
img.galleryPhoto {
	#position: relative; 
	#top: -50%;
	#right: -50%;
	height: auto;
	width: auto;
	margin: auto;
}

/* End PhotoGallery */ 

/* Begin Toolbar */

div#toolbarDownload {
	display: inline;
	float: right;
	width: 220px;
	height: 168px;
	text-align: center;
	margin: 12px 0 0 0;
}
div#toolbarDownload a img {
	border: none;
	margin-top: 24px;
}
div#toolbarDownload p {
	margin: 12px 0 0 0;
}

div#toolbarChart {
	width: 372px;
	height: 168px;
	margin: 12px 0 0 8px;
	float:left;
}
div#toolbarChart dl {
	margin: 30px 0 0 0;
	padding: 0;
}
div#toolbarChart dt {
	display: block;
	width: 106px;
	height: 30px;
}
div#toolbarChart dt img {
	margin: 0 16px 0 0;
}
div#toolbarChart dd {
	display: block;
	height: 30px;
	padding: 0;
	margin: -28px 116px -2px 0;
}
div#toolbarCopy {
	clear: both;
	padding-left: 8px;
	margin-bottom: 12px;
}

img.toolbarIcons
{
	vertical-align: middle;
}

img.toolbarIconsMembersOnline
{
	vertical-align: middle;
	margin: 0 4px 0 4px;
}

a.buttonToolbar:link, a.buttonToolbar:visited, a.buttonToolbar:hover, a.buttonToolbar:active 
{
	padding: 1px 3px 2px 3px;
	text-decoration: none; 
	font-weight: bold; 
	font-size: 11px; 
	cursor: pointer; 
	text-align: center;
	line-height: 12px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}

.toolbarText
{
	vertical-align: middle;
}

.mailBoxButton
{
	padding: 4px;
	margin: 4px;
	font-size: 12px;
	display: inline-block;
	font-weight:bold;
}

.mailBoxFooter
{
	height: 31px;
}

/* Premium Profile Settings */

#premiumServiceSettings {
    padding-bottom: 2em;
    padding-right: 2.2em;
}

h2.tips {
    padding: 1em 4em 1em 0;
}

#premiumServiceSettings h3 {
    font-size: 12px;
    margin-bottom: 6px;
}

#premiumServiceSettings ul {
    margin: 0;
    padding: 0;
}

#premiumServiceSettings ul li {
    margin: 0;
    margin-right: 2em;
}

#highlightedMemberControl table {
	margin: 0 1em 0 0;
	padding: 0;
}

#highlightedMemberControl td {
	padding: 4px 0 0 0;
	margin: 4px 0 0 0;
}

#highlightedMemberControl input {
	float: right;
}

.roundedCorners_gradient {
	width: 510px;
	padding-bottom: 8px;
	margin: 12px 0;
	position: relative;
}

.roundedCorners_gradient h2 {
	padding: 1em 1.6em 0 0 ;
	margin: 0;
}

.roundedCorners_gradient p {
    margin: 1em 1em 1em 2em;
}

.regionPickerLink {
	padding: 0px 0px 0px 1.4em;
	margin: 0;
}

#searchPopupDiv {
    display:none;
    z-index:1000;
    position: absolute;
    width:360px;
}

#premiumServiceSettings .helpLayerInner p, highlightedMemberControl .helpLayerInner p {
    margin-right: 0;
}

#highlightedMemberControl .helpLayerContainer
{
	top: 19px;
	right: 125px;
}

#highlightedMemberControl .helpLayerInner
{
	padding: 10px;
	width: 300px;
}

#spotlightMemberControl .helpLayerContainer
{
	top: -48px;
	right: 185px;
}

#spotlightMemberControl .helpLayerInner
{
	padding: 10px;
	width: 300px;
}

/* end Premium Profile settings */




/* Begin profile redesign */
#newProfileView {
	margin: 0px;
	padding: 0px;
	width: 600px;
}
#newProfileView #adspace {
	margin: 0;
}
#newProfileView #profileMasthead {
	height: 44px;
	padding: 6px 8px 0 8px;
	margin: 0;
}
#newProfileView #profileNav, #newProfileView #profileNav a {
	font-weight: bold;
}
#newProfileView ul#profileNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}
#newProfileView ul#profileNav li.previous {
	display: block;
	float: right;
	margin-bottom: 4px;
}
#newProfileView ul#profileNav li.next {
	text-align: left;
}
#newProfileView ul#tabNav {
	font-weight: bold;
	margin: 0 130px 0 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	display: block;
	clear: both;
}
#newProfileView ul#tabNav li {
	display: inline;
}
#newProfileView ul#tabNav li a {
	display: block;
	padding: 5px 16px 6px 16px;
	margin: 0 4px 0 4px;
	float: right;
}
#newProfileView ul#tabNav li a.selected {
	display: block;
	padding: 5px 16px 8px 16px;
	margin: -2px 4px 0 4px;
	text-decoration: none;
	cursor: default;
}
#newProfileView #profileControls {
	width: 250px;
	position: absolute;
	right: 0;
	margin: 0;
}
.ppContainer #newProfileView #profileControls.pinned {
	position: fixed;
	margin: 0;
	top: 0;
}
#newProfileView #profileControls ul#mainControls {
	list-style-type: none;
	margin: 0;
	padding: 4px 1px 0 0;
}
#newProfileView #profileControls ul#mainControls li {
	display: block;
	float: right;
	text-align: center;
	margin: 0 1px 0 0;
}
#newProfileView #profileControls ul#mainControls li#ynm {
	width: 110px;
	height: 29px;
}
#newProfileView #profileControls ul#mainControls li#ynm abbr {
	border-bottom: none;
}
#newProfileView #profileControls ul#mainControls li#ynm img {
	margin: 5px 0 -4px 0;
}
#newProfileView #profileControls ul#mainControls li#email {
	width: 100px;
	height: 29px;
	text-transform: uppercase;
}
#newProfileView #profileControls ul#mainControls li#email img {
	margin: 4px 0 -5px 0;
}
#newProfileView #profileControls ul#mainControls #more_open a img {
	display: block;
}
#newProfileView #profileControls ul#mainControls #more_open a .moreExplanation, #newProfileView #profileControls ul#mainControls #more_close a .moreExplanation {
	display: none;
	padding: 4px;
	position: absolute;
	white-space: nowrap;
}
#newProfileView #profileControls ul#mainControls #more_open a:hover .moreExplanation, #newProfileView #profileControls ul#mainControls #more_close a:hover .moreExplanation {
	display: block;
	text-decoration: none;
}
#newProfileView #profileControls ul#mainControls #more_close {
	display: none;
}
#newProfileView #profileControls ul#secondaryControls {
	display: none;
	clear: both;
	list-style-type: none;
	text-transform: uppercase;
	padding: 0 4px 4px 0;
	margin: 0;
}
#newProfileView #profileControls ul#secondaryControls li {
	display: inline;
}
#newProfileView #profileControls ul#secondaryControls li img {
	margin: 2px 2px -5px 2px;
}
#newProfileView #profileControls ul#secondaryControls li a .description {
 	display: none;
}
#newProfileView #profileControls ul#secondaryControls li a:hover {
	text-decoration: none;
}
#newProfileView #profileControls ul#secondaryControls li a:hover .description {
 	display: inline;
}
#newProfileView #profileControls ul#secondaryControls li div.listMenuContainer ul.ListMenu li.ListElementItem {
	display: block;
}
#newProfileView #profileControls #profilePhoto {
	clear: both;
	vertical-align: middle;
	text-align: center;
	padding: 8px 0 8px 0;
	min-height: 150px;
	height:auto !important;
	height: 150px;
	margin: -1px 0 0 0;
}
#newProfileView #profileControls #profilePhoto img {
	margin: 0 auto 0 auto;
}
#newProfileView #profileControls ul#profileThumbs {
	list-style-type: none;
	margin: 6px 0 0 0;
	padding: 0;
	text-align: center;
}
#newProfileView #profileControls ul#profileThumbs li {
	display: inline;
}
#newProfileView #profileContent {
	width: 322px;
	float: left;
	margin: 16px 0 60px 8px;
	min-height: 400px;
	height:auto !important;
	height: 400px;
}
#newProfileView #profileContent #username {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	display: inline;
}
#newProfileView #profileContent #activityIcons {
	display: inline;
}
#newProfileView #profileContent #activityIcons img {
	margin: 0 4px 0 4px;
}
#newProfileView #profileContent h2 {
	padding-bottom: 4px;
	margin-top: 1em;
}
#newProfileView #profileContent div.essay p {
	margin-top: 4px;
}
#newProfileView #profileContent #membernumber {
	font-weight: bold;
}
#newProfileView #lastLoggedIn {
	margin-top: 1em;
}
#newProfileView #lastUpdate {
	margin-bottom: 1em;
}
#newProfileView #profileContent dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#newProfileView #profileContent dl dt {
	display: block;
	float: right;
	clear: both;
	padding: 4px 4px 6px 4px;
	margin-bottom: -6px;
	font-weight: bold;
	background: none;
}
#newProfileView #profileContent dl dd {
	margin: 0;
	padding: 4px 6px 6px 6px;
}
#newProfileView #profileFooter {
	clear: both;
	height: 30px;
	text-align: left;
	padding: 0;
}
#newProfileView #profileFooter ul#footerControls {
	list-style-type: none;
	margin: 0;
	padding: 8px;
	position: relative;
}
#newProfileView #profileFooter ul#footerControls li {
	display: inline;
}
#newProfileView #profileFooter ul#footerControls li a {
	margin: 0 24px 0 6px;
}
#newProfileView #profileFooter ul#footerControls li a img {
	margin: -2px -24px 0 0;
	position: absolute;
}
#newProfileView #profileFooter ul#footerControls li.next {
	font-weight: bold;
	margin-left: 120px;
}
div.nextProfile 
{
	float: left;
	text-align: left;
	margin: 8px 0 0 8px;
	font-weight: bold;
}
#newProfileView #verifiedIcon {
	float:left;
	margin: 0 8px 0 16px;
}

/* Forced email verification */

#verifyEmail, #verifyEmailConfirmation {
	width: 592px;
}
#verifyEmail #currentEmail {
	margin: 24px 0 16px 0;
	padding: 16px 0 0 0;
	font-size: 14px;
}
#verifyEmail #currentEmail .title {
	display: block;
	width: 40%;
	float: right;
	font-weight: bold;
	padding-left: 4px;
	text-align: left;
	clear: right;
}
#verifyEmail #currentEmail .email {
	display: block;
	margin-bottom: 16px;
}
#verifyEmail #currentEmail .email a {
	font-size: 11px;
}
#verifyEmail #resendVerificationEmail {
	text-align: center;
	margin-bottom: 24px;
}
#verifyEmailConfirmation #confirmationMessage {
	padding: 8px;
	margin: 0 0 4px 0;
}
#verifyEmailConfirmation #confirmationMessage h1, #verifyEmailConfirmation #confirmationMessage p  {
	margin: 4px 0 4px 0;
}
#verifyEmailConfirmation #verifyEmailChecklist h2 {
	display: block;
	padding: 0 8px 0 0;
	line-height: 36px;
	height: 36px;
	margin: 0 0 4px 0;
}
#verifyEmailConfirmation #verifyEmailChecklist ul {
	list-style-type: none;
	margin: 0 0 16px 0;
	padding: 0;
	font-size: 12px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li {
	margin: 20px 16px 20px 16px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink {
	padding: 8px 120px 0 8px;
	height: 68px;
	line-height: 18px;
	margin: 4px;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li a {
	font-weight: bold;
}
#verifyEmailConfirmation #verifyEmailChecklist ul li#profileLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#searchLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#subscribeLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#uploadLink a, #verifyEmailConfirmation #verifyEmailChecklist ul li#onlineLink a {
	display: block;
	font-size: 14px;
	margin-right: -40px;
}
#verifyEmailConfirmation img#btn_homepage {
	float: left;
	border: 0;
}

/* Optout email */
#optout {
	min-height:400px;
	height:auto !important;
	height:400px;

}
#optout #currentEmail {
	margin: 1.25em .25em;
	padding: 1.15em 0;
	font-size: 14px;
	text-align: center;
}
#optout .center {
	text-align: center;
}

#highlightedProfilesContainer table
{
	margin: 0px 36px 0 0;
	padding: 0;
}

#highlightedProfilesContainer td
{
	padding: 4px 0 0 0;
	margin: 4px 0 0 0;
}

#highlightedProfilesContainer input
{
	float: right;
}
.highlightProfileInfo
{
	width: 372px;
	height: 225px;
	position: absolute;
	text-align: center;
	z-index: 201;
}
.highlightProfileInfo h2 
{
	margin: 16px auto 1em auto;
}
.highlightProfileInfo p 
{
	margin: 1em 2em 0 2em;
}
.boxContent1 img.highlightProfileImage
{
	display: block;
	float: left;
	margin: -22px 0 0 2px;
}
.photoGallery img.highlightProfileImage
{
	position: absolute;
	margin: 174px 90px 0px 0px;
}

.spotlightProfile .highlightProfileInfo
{
	top: 0;
	left: -114px;
}

    #ieAll .spotlightProfile .highlightProfileInfo
    {
	    left: 88px;
    }

.highlightProfileImage
{
	display: block;
	float: right;
	margin: 0 0 0 2px;
}

.gp1 {
    height: 24px;
}

.gpInfo {
    height: 70px;
}

.gp1 .highlightProfileImage {
    position:absolute;
    left:4px;
    top:0;
}

.mp6 .highlightProfileInfo
{
	top: 140px;
	left: 0;
}	

#spotlight_curveTop .highlightProfileInfo
{
	top: 16px;
	right: -4px;
}	

.highlightProfileInfo .highlightProfileInfoClose
{
	text-align: right;
	padding: 8px 8px 0 8px;
}

/* new home page matches styles */

.homePageYourMatches {
	margin-bottom: 8px;
	position:relative;
}

.homePageYourMatches h2.blockTitle {
	margin:0;
	line-height: normal;
	padding: 4px;
	text-transform:uppercase;
	font-size: 11px;
}

.homePageYourMatchesMore {
	position: absolute;
	top: 3px;
	left: 4px;
}

    #ieAll .homePageYourMatchesMore {
	    left: -150px;
    }

.homePageYourMatches ul {
	margin:0;
	padding:0;
	font-size: 11px;
}

.homePageYourMatches ul li {
	margin: 0;
	padding: 4px 0 4px 2px;
	list-style-type: none;
	clear: both;
}
	.homePageYourMatches ul li:after
	{
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
	
	#ieAll .homePageYourMatches ul li
	{
		height: 1%;
	}

.homePageYourMatches ul li p {
	padding: 0;
	margin: 0;
}
	
.homePageYourMatches div.memberPic{
	float:right;
	width:35%;
}

.homePageYourMatches div.memberInfo{
	float:left;
	width:61%;
	padding: 2px 0;
	min-height: 126px;
	display: inline;
	font-size:12px;
}

    #ieAll .homePageYourMatches div.memberInfo {
        height: expression( this.scrollHeight < 125 ? "126px" : "auto" ); /* sets min-height in IE6 and IE7 (because of quirks-mode) */
    }
    
.homePageYourMatches div.memberInfo .textOutside {
    text-align: right;
}

.homePageYourMatches ul li.noMatches {
	background-image: none;
	padding: 0;
	list-style-type: none;
	clear: both;
	border: none;
}

.homePageYourMatches ul li.noMatches #noMatchesBorder {
	position: static;
}

/* auto renewal settings */
#autoRenewalSettingsRateHeader {
	padding-right: 420px;
	margin: 8px 0 4px 0;
}

#autoRenewalSettingsPlan {
	width: 66%;
	float: right;
	padding: 8px;
	height: 120px;
	margin-bottom: 4px;
}

    #ieAll #autoRenewalSettingsPlan {
	    width: 69%;
    }

	#autoRenewalSettingsPlan h2, #autoRenewalSettingsPlan p {
		margin-right: 20px;
		padding: 0;
	}
	
	.autoRenewalSettingsCheckBox {
	    float: right;
	}
	
	.autoRenewalSettingsCheckBox input {
	    margin: 0;
	    padding: 0;
	}

#autoRenewalSettingsRate {
	float: right;
	width: 26%;
	text-align: left;
	margin: 0 4px 4px 0;
	padding: 8px;
	height: 120px;
}

    #ieAll #autoRenewalSettingsRate {
	    width: 29%;
    }

#autoRenewalSettingsDate {
	float: right;
	width: 66%;
	padding: 8px;
	text-align: left;
	border: 1px solid white;
}

    #ieAll #autoRenewalSettingsDate {
	    width: 69%;
    }

#autoRenewalSettingsRateTotal {
	float: right;
	width: 26%;
	text-align: left;
	margin-right: 4px;
	padding: 8px;
	margin-bottom: 24px;
}

    #ieAll #autoRenewalSettingsRateTotal {
	    width: 29%;
    }

/* plan credit info popup */    
.planCreditInfo {
	top: 12px;
	right: 180px;
	width: 278px;
	padding: 4px;
	position: absolute;
	text-align: right;
	z-index: 201;
	font-weight: normal;
    color: #333333;	
}

.planCreditInfoArrow {
	top: -1px;
	right: -14px;
	position: absolute;
}

div.planCreditInfo p {
	font-weight: normal;
	padding: 12px 0;
}

.planCreditInfoTable td {
    width: 100%;
}

.planCreditInfoTable td {
    padding: 2px;
}

.planCreditInfoRowDivider {
    margin-top: 4px;
    border-top: 1px solid #333;
}

.HighlightProfileInfoClose {
    text-align: left;
}

.disabledPlan
{
	opacity: 0.3;
    filter:alpha(opacity: 30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

/* admin */

#tabNavAdminContainer {
    width: 770px;
    border-bottom: 2px solid #999;
}

ul#tabNavAdmin {
    white-space: nowrap;
    margin: 1em 1em 0 1em;
    padding: 0;
}

#tabNavAdmin li {
    float:left;
    display:inline;
    list-style-type: none;
    margin-left: 2px;
}

#tabNavAdmin a {
    padding: .8em 1em;
    font-size: 14px;
    display: block;
}

#tabNavAdmin a:link, #tabNavAdmin a:visited {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

#tabNavAdmin a:hover {
    color: #fff;
    background-color: #666;
    text-decoration: none;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

#tabNavAdmin a:link.selected, #tabNavAdmin a:visited.selected {
    color: #333;
    background-color: #eee;
    text-decoration: none;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.adminTabContent {
    margin: 1em;
}

.adminTabContent div {
    margin-top: 1em;
}

.adminIframe {
    width: 746px;
    height: 400px;
    border: 2px solid #999;
}

    #ieAll .adminIframe {
        width: 756px;
    }

#rightNew.adminDisplay {
    float:none;
    margin-right: 8px;
}

/* ------------------------------ JMeter Start ----------------------------------- */

#jmeterCenterWrapper {
	margin: 0;
	padding: 0;
	background-image: url(../img/site/jdate-co-il/jmeter_containerBack.gif); /* content body background image */
	background-repeat: repeat-y;
	background-position: 10px 10px;
	width: 592px;	
}

.jmeterCenterContainer {
	margin: 0;
	padding: 0;
	background-image: url(../img/site/jdate-co-il/jmeter_containerBottomCap.gif); /* bottom round image cap */
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 582px;
}
#jmeterCenterWrapper .cursor { cursor: pointer; }


#jmeterCenterWrapper .jmeterHeader{padding-right:10px;}
/* ------------------------------ JMeter Left ----------------------------------- */
#jmeterLeft {
	width: 170px;
	float: left;
	margin: 10px;
	line-height: 20px;
	min-height:550px;
}
#ieall #jmeterLeft
{
    height:550px;
}

#jmeterLeft .activityButton {
	padding: 0px 5px 1px;
}

#jmeterLeft  h2{
	text-align: center;
	padding-bottom: 10px;

}
#jmeterLeft  div{
	margin-bottom: 10px;
}
#jmeterLeft .yourMatchesLink
{
    margin:40px 0;
}
.jmeterLeftBanner
{
    bottom:0;
    position:absolute;
}

.jmeter_logo{ margin: 0 5px 0 0; }

.jmeter_logoTxt { margin: 0 5px 0 0; }

.jmeter_raanan { margin-top: 80px; }
.jmeter_raanan img { border: 1px solid #B3C5E5; }
	

/* ------------------------------ JMeter Right ----------------------------------- */
#jmeterRight {
	width: 360px;
	float: left;
	margin: 10px 10px 0px;
	padding-bottom: 20px;
	line-height: 16px;
}
#jmeterRight .yourResultMatches
{
    text-align:center;
    padding:30px 0;
}
#jmeterRight .activityButton {
	padding: 0px 5px 1px;
}

#jmeterRight .jmeterProgressDummy {
	border: 1px solid #EFEFEF;
	margin-left: 10px;
	padding: 10px;
	text-align: center;
}
#jmeterRight .jmeterProgressDummy span.textLeft, #jmeterRight .jmeterProgressDummy span.textRight{
	color:#0F1177; 
	font-weight:bold;
	width: 100px;
}
#jmeterRight .textLeft{
	text-align:left; 
	float:left; 
	margin:0px 0px 5px 20px;
}
#jmeterRight .textRight{
	text-align:right; 
	float:right; 
	margin:0px 20px 5px 0px;
}
#jmeterRight .jmeterProgressDummy  img{
	padding-bottom:5px;
}
#jmeterRight .jmeterBtmBdr {
	border-bottom:1px solid #BBC0E9;
	padding: 0px 0px 10px 0px;
}
#jmeterRight h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}
#jmeterRight p.jmeterHowDoWeMatch {
	color: #DA062E;
	font-weight: bold;
	font-size: 16px;
	padding-top: 10px;
}

#jmeterRight #trans2 {
	height: 165px;
	width: 190px; 
	margin-right:-3px;
	top:-13px;
}

.jmeterLogoInfoPopupMicroProfile
{
    background-image: url(/img/Site/JDate-co-il/bknd_vote.gif);
    margin-right: 75px;
    width: 250px;   
}

#jmeterRight .memberPic{
	float:right;
    margin-top: -22px;
    padding: 5px;
    background-color: #EEF1F9;
}

#jmeterRight .memberInfo{
    margin: 5px, 85px, 0px, 35px;
}

#jmeterRight li
{
    list-style-type: none;
    margin-bottom: 10px;
}

.lnkYourMatches1
{
    clear: both;
    display: block;
}

/* ------------------------------ JMeter Completion Page ----------------------------------- */

.jmeterComplete .textLeft {
	float:left; 
	font-weight: bold;
}

.jmeterComplete .textRight {
	float:right; 
	font-weight: bold;
}

.jmeterComplete p{
	clear:both;
	margin:0px 0px 10px 0px; 
	padding:10px 0px; 
	border-bottom:1px solid #BBC0E9;
}

.jmeterCompleteBar {
	display:block; 
	position:relative; 
	margin:10px 0px 0px 0px; 
	height:30px;
	background-image: url(../img/site/jdate-co-il/jmeter_indicateBack.png);
	background-repeat: no-repeat;
	background-position: center center;
	
}

.jmeterCompleteBar  img {
	display:block; 
	position:absolute; 
	top: 4px;
	right: 0px;	
}

#jmeterRight .jmeterCompletionHeader {
	font-size: 18px;
	color: #da062e;
}


/* ------------------------------ Jmeter Popup info control ------------------- */

.gp4 .jmeterLogoInfoPopup {
	position:absolute;
	left:10px;
	bottom:5px;
} #ieAll .gp4 .jmeterLogoInfoPopup {
	left:5px;
}

.mp2 .jmeterLogoInfoPopup {
	position:absolute;
	left:15px;
	top:5px;
} #ieAll .mp2 .jmeterLogoInfoPopup {
	left:5px;
}

.mp2 .jmeterLogoInfoPopup a:hover {
	text-decoration: none;
}

.gp4, profileText {
	position:relative;
}

.jmeterLookupByUsername {
    height:2em;
	position:relative;
}

.mp2 .jmeterLogoInfoPopup .highlightProfileInfo {
	right:-105px;
	top:22px;
}


.gp4 .jmeterLogoInfoPopup .highlightProfileInfo {
	right:-7px;
	top:-7px;
	
}

.profileText .jmeterLogoInfoPopup .highlightProfileInfo {
	right:-50px;
	top:22px;
	
}

#jmeterLeft .highlightProfileInfo {
	left:-155px;

}

.jmeterLookupByUsername .highlightProfileInfo {
	right:-20px;
	top:45px;
}


/* ------------------------------ Jmeter OneOnOne  ------------------- */

#jmeterRight .jmeterOneOnOneBoxGallery {
	float: right;
	margin: 0 0 0 .5em;
	}
#jmeterRight .jmeterButtonSet {
	margin: 2em 0;
	}
#jmeterRight .jmeterOneOnOneEmail, #jmeterRight .jmeterOneOnOneOnline {
	margin: .5em 0;
	} 
#jmeterRight .jmeterOneOnOneEmail .jmeterOneOnOneIconEmail { margin-left: 8px; }


/* ------------------------------ JMeter End ----------------------------------- */


span.close {
    font-size: 1.08em;
    color: #999999;
    font-weight: bold;
    font-family: Verdana;
}

.error-message li 
{
    clear: both;
}

.close-color
{
    color: #0F1177;
}

.padding-right-5px
{
    padding-right: 5px;
}

/*SMS Alert for Jdate.co.il*/

.sms-alerts-success
{
    background-image: url(../img/Site/JDate-co-il/bg-sms-alerts-success.gif);
    background-repeat:no-repeat;
    height: 650px;
    width: 585px;
    position:relative;
}

.sms-alerts-success-text
{
    position: absolute;
    top:140px;
    right:120px;
    width: 320px; 
}

    .sms-alerts-success-text li
    {
        margin-right: -25px;
        margin-bottom: 10px;   
    }

#sms-alerts-success-button
{
    position: absolute;
    top:303px;
    left:222px;
    width: 146px;
    height: 36px;
}

#sms-alerts-code-error
{
    border: solid 1px #A2A3B8;
    width: 590px;
}

    #sms-alerts-code-error h2
    {
        background-color: #EEF7FF;
        border: solid 1px #A2A3B8;
        margin:0;
        padding:0;
        padding-right: 8px;
        /*height: 30px;*/
        
    }

#sms-alerts-code-error-text
{
    padding-right: 8px;
    margin-bottom: 8px;
}

.heading-red
{
    color: #DA062E;
}

#sms-alerts-settings
{
    width: 552px; 
}

    #sms-alerts-settings h2
    {
        background-image: url(../img/Site/JDate-co-il/tbl_blue_header.gif);
        margin:0;
        padding: 5px 10px 5px 0px;
        color:White;
    }

#sms-alerts-settings-text
{
    padding-right: 10px;
    height: 284px;
}

#changeNumber
{
    float:left;
}

#phoneValidator
{
    position:relative;
    top:10px;    
}

#sms-alerts-settings-phone
{
    background-color: #D9E1F4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#sms-alerts-settings .textOutside
{
	padding-left: 20px;
	padding-top: 10px;
    /*padding-bottom: 10px;*/
}

/*.sms-alerts-settings-checkbox
{
    position:relative;
}

    .sms-alerts-settings-checkbox checkbox
    {
        position: absolute;
        top:0;
        right:0;
    }
*/

#sms-alerts-bottom-left
{
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

#sms-alerts-bottom-left-button
{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;

}

#sms-alerts-bottom-image
{
    background-image: url(../img/Site/JDate-co-il/tbl_blue_bottom.gif);  
    height: 18px;
}

#sms-alerts #sms-alerts-bottom-image
{
    display:none;
}


#sms-alerts-code-auth #sms-alerts-bottom-image
{
    background-image: url(../img/Site/JDate-co-il/tbl_blue_bottom.gif);  
    height: 18px;
}

#sms-alerts #sms-alerts-settings #divBtnServer
{
    padding-left: 20px;
    padding-bottom: 10px;
}

#sms-alerts-top-image h2
{
    background-image: url(../img/Site/JDate-co-il/tbl_blue_header.gif);  
    height: 30px;
    padding: 5px 10px 5px 0px;
    color:White;    
}

#sms-alerts #sms-alerts-settings
{
    width: 590px;
    border-bottom: solid 1px #A2A3B8;
    background-color: White;
}
    #sms-alerts #sms-alerts-settings h2
    {
        border: solid 1px #A2A3B8;
        background-color: #EEF1FA;
        background-image: none;
        color: #333333;
    }

#sms-alerts #sms-alerts-settings-text
{
    padding-right: 0;
    border-left: solid 1px #A2A3B8;
    border-right: solid 1px #A2A3B8;
    border-top: solid 1px #A2A3B8;
    height: auto;
    background-color:#F5F8FF;
}

#sms-alerts #sms-alerts-settings-phone
{
    background-color: #D9E1F4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#sms-alerts #sms-alerts-settings .textOutside
{
	padding-left: 20px;
    padding-bottom: 10px;
}

#sms-alerts .sms-alerts-settings-checkbox
{
    position:relative;
}

    #sms-alerts .sms-alerts-settings-checkbox checkbox
    {
        position: absolute;
        top:0;
        right:0;
    }

#sms-alerts #sms-alerts-bottom-left
{
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

#sms-alerts #sms-alerts-bottom-left-button
{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;

}

#sms-alerts-code-auth
{
    width: 552px;
    /*height: 330px;*/
    background-repeat: no-repeat;
    background-image: url(../img/Site/JDate-co-il/tbl_blue_bottom.gif);  
    background-position: bottom;
    padding-bottom: 18px;
    
}

#sms-alerts-code-auth-text
{
    background-color: #EEF1FA;  
    border-left: solid 3px #6576BE;
    border-right: solid 3px #6576BE;
    text-align:center;
    /*min-height: 284px;*/
    height: 284px;
}

#sms-alerts-last-text #sms-alerts-code-auth-text
{ 
    border: 0px;
}


#sms-alerts-code-auth-text .sms-alerts-padding.sms-alerts-text
{
    padding-top: 100px;
}

.smsAlert
{
    background-image: url(../img/Site/JDate-co-il/bg-sms-alerts-main.gif);
    height: 772px;
    width: 586px;
    position:relative;
}

.smsAlert #sms-alerts-settings-phone
{
    background:none;
    padding:0;
}

.smsAlert #sms-alerts-settings
{
    position:relative;
    top:331px;
}

.smsAlert #sms-alerts-settings-text
{
    width:300px;
    text-align:right;
    position:relative;
    right:188px;
}

.smsAlert #divBtnServer
{
    padding:10px 19px;
    text-align:right;
}

.smsAlert #lnkBackToSubConfirm
{
    padding-right:21px;
    padding-top:0;
    text-align:right;
}

#sms-alert-button
{
    position: absolute;
    top:360px;
    left:220px;
    width: 149px;
    height: 43px;
    cursor: pointer;
}

.sms-j-alerts-link
{
    position: absolute;
    top:420px;
    left:205px;
    font-size: 14px;
}

/*#blockUI_sms
{
	position:absolute;
	top:200px;
	right:0px;
	z-index:50001;
	width: 552px;
	text-align: center;
	margin: 0 auto;
}*/

#sms-alert-button1
{
    position: absolute;
    top:308px;
    left:177px;
    width: 231px;
    height: 44px;
    cursor: pointer;
}

#sms-link
{
    position:absolute;
    background-image:url(images/jDateManuy_08.jpg);
    background-repeat:no-repeat;
    color:#000251;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    height:22px;
    left:155px;
    position:absolute;
    top:358px;
    width:231px;
}

#sms-alerts-cancel
{
    width: 260px;
    background-repeat: no-repeat;
    background-image: url(../img/Site/JDate-co-il/tbl_blue_bottom_sm.gif);      
    background-position: bottom;
    padding-bottom: 18px;
       
}

    #sms-alerts-cancel h2
    {
        background-image: url(../img/Site/JDate-co-il/tbl_blue_header_sm.gif);
        /*height:30px;*/
        margin:0;
        padding: 5px 10px 5px 0px;
        color: White;
    }
    
#sms-alerts-cancel-text
{
    background-color: #EEF1FA; 
    border-left: solid 3px #6576BE;
    border-right: solid 3px #6576BE;
    padding: 20px 40px;
    text-align: center;
    
}

.sms-alerts-text
{
    color: #0F1177;
    font-size: 12px;
    font-weight: bold;
}

.sms-alerts-padding
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.close-button-text
{
    position: absolute;
    top: 5px;
    left: 10px;
    /*float:left;
    padding-left:10px;*/
}

.close-button-text-cancel
{
    left: 160px;
}

/*#ieAll .close-button-text
{
    margin-top:20px;    
}*/

.close-button-text-top
{
    float:left;
    padding-top: 5px;
    padding-left:10px;
}

#sms-alerts-last
{
    width: 552px;
    background-repeat: no-repeat;
    background-image: url(../img/Site/JDate-co-il/tbl_blue_bottom.gif);  
    background-position: bottom;
    padding-bottom: 18px;
}

    #sms-alerts-last h2
    {
        background-image: url(../img/Site/JDate-co-il/tbl_blue_header.gif);
        margin:0;
        padding: 5px 10px 5px 0px;
        color:White;
        /*height: 30px;*/
    }

#sms-alerts-last-text
{
    background-color: #EEF1FA;  
    border-left: solid 3px #6576BE;
    border-right: solid 3px #6576BE;
    text-align:center;
    height: 284px;
}

#sms-alerts-last-text .sms-alerts-padding.sms-alerts-text
{
    padding-top: 100px;
}

#sms-alerts-j-header
{
    font-size: 24px;
    color: #DA062E;
    font-weight: normal;
    padding-top: 10px;
}

#sms-alerts-cancel-success-button
{
    text-align: left;
    padding-left:90px;
    padding-top:57px;
}



/* Checklist lists - supports one nested level */
ul.check-lists {
    background-color: white;
}

ul.check-lists, ul.check-lists li, ul.check-lists li ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.check-lists li ul {
    padding-top: 8px;
}

ul.check-lists ul {
    margin: 8px 16px 0 0;
    padding: 0;
}

ul.check-lists ul li {
    position: relative;
    height: 2em;
    padding: 0 24px 0 0;
    margin: 0 6px .5em 0;
}

ul.check-lists ul  input {
    position: absolute;
    top: 0px;
    right: 4px;
}
    #ieAll ul.check-lists ul  input {top: -3px;}

ul li.check-list-01-col {
    float:right;
    width: 194px;
}
    #ie6only ul li.check-list-01-col {width: 194px}

ul li.check-list-01-col ul li {
    float: right;
    width: 176px;
}
    #ie6only ul li.check-list-01-col ul li {width:170px;}
 
ul li.check-list-02-col {
    float:right;
    width: 396px;
}
    #ie6only ul li.check-list-02-col {width: 396px}

ul li.check-list-02-col ul li {
    float: right;
    width: 42%;
}
    #ie6only ul li.check-list-02-col ul li {width: 40%;}

span.text-highlight {
    color:#DA062E;
}

.displayNone{display:none;}
.lnkMatchMeter{
    cursor:pointer;
}