/* Date.ca Splash Page */

#BodyTag
{
  background:#EFEFEF;
  background-image:url(../img/bknd.gif);
  font-family: verdana, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin-top: 0px;
  margin-left:0px; 
  padding: 0px;
  color: #333333;
  voice-family: "\"}\""; voice-family:inherit;
}

table
{
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: #333333;
}

.top
{
  background-image:url(../img/Site/Date-ca/spl_top.jpg);
}

.topRow
{
  background:#396646;
}

.splSearch
{
	font-size:11px;
}

/*///////////////*/
/* PAGE REGIONS  */
/*///////////////*/

div.tabArea 
{
  font-size: 11px;
  background:#BFD9ED;
  color: #333333;
  margin-bottom:1px;
}

a.tab 
{
  background:#ffffff;
  color:#174495;
  padding: 4px 1em 2px 1em;
  height:10px;
  text-decoration: none;
  position: relative;
  top: 0px;
  z-index: 100;
  color: #333333;
}

a.tab:hover 
{
  text-decoration: none;
  height:10px;
  background:#94AD9D;
  color:#ffffff;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background: #7EA19A;
  height:10px;
  color: #333333;
  margin-bottom:0px;
  z-index: 102;
}

.splashButton
{
  border:1px solid black;
  background:#E86722;
  color:white;
  font-weight:bold;
  padding:0px;
  font-size:11px;
  padding:2px;
  cursor:pointer;
  width:45px;
}

#searchField 
{
  z-index: 0;
  padding: 1px;  
}

#search 
{
  width: 282px;
  margin-top: 11px;
  font-family: verdana, sans-serif;
}

#footer
{
  text-align: center;
  width: 770px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link, a:active, a:visited
{
  color: #396646;
  text-decoration: none;
}

a:hover
{
  color: #396646;
}

a.help:link, a.help:active, a.help:visited
{
  color: #396646;
}
a:link, a:active, a:visited 
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a.nav 
{
  color:#0C1C95;
  font-size:11px;
  font-family: verdana;
  line-height:18px;
  text-decoration:none;
}

a.nav:hover
{
  color: #4555C9;
  text-decoration:underline;
}

a.nav:visited, a.nav:active 
{
  color: #0C1C95;
  text-decoration:none;
}

.QuickSearchCell
{
  background-image:url(../img/Site/Date-ca/spl_form_bg.jpg);
  background-repeat: no-repeat;
  background-position: top left; 
  background-color: #F6E8BB;
}

.QuickSearchImageCell
{
  padding-top: 0px;
  height: 46px;     
}

.QuickSearchTab
{
  padding-left: 10px;
  width: 280px;
  height:135px;
}

.QuickSearchButtonCell
{
  padding-top: 1px;
  padding-bottom: 2px;
  text-align: right;
}


a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
  color: #333333;
  text-decoration: none;
}

a.footerLink:hover 
{
  color: #333333;
  text-decoration: underline;
}

.copyright
{
  color: #999999;
}

.splashCopy
{
	color: #000000;
	width: 726px;
	text-align: center;
	padding-top: 24px;
	padding-left:24px;
	padding-right:24px;
}

.error
{
	width: 266px;
	top: 96px;
	left: 4px;
	font-weight: bold;
	font-size: 10px;
	padding:8px 4px 8px 4px;
	border:1px solid red;
	color:#F02E0C;
	background:#FFECE9;
	display:block;
	z-index: 10000;
	position: absolute;
}
*html .error 
	{
	width:276px;
	}

	
a.lookuplink:link, a.lookuplink:active, a.lookuplink:visited
{
	color:White;
	font-size:12px;
	font-weight:bold;
}

/* SPLASH BOTTOM - LOGIN, ONLINE AND REGISTRATION LINK */
#splashBottomContainer
{
	width:770px;
	position: relative;
	background-image:url(../img/Site/Date-ca/spl_bottom_bg.gif);
	height:160px;
}

#splashBottomOnline
{
	width:283px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 16px;
}

#splashBottomLogin
{
	width: 276px;
	z-index:1000;
	position: absolute;
	top: 0px;
	left: 282px;
	padding-top: 3px;
	padding-left: 3px;
}

#splashBottomRegister
{
	width: 210px;
	position: absolute;
	top: 0px;
	left: 560px;
	border-left:0px solid #D4BABD;
	border-right:0px solid #D4BABD;
}


.highlight
{
	color: #EF7518;
}

.secondaryCopy
{
	color: #808080;
	font-size: 9px;
}

.loginForgotLink
{
	font-size: 9px;
}

.helpLayerPositionContainer
{
	position: relative;
	display: inline;
}

/* target opera only hack - this hack is bad, but no other known fix for opera's inline/relative/absolute bug as of now EP 8/27 */
@media all and (min-width:0px) {
    .helpLayerPositionContainer { 
		position: static;
	}
}

.helpLayerContainer
{
	position:absolute;
	top: 8px;
	left: 8px;
	visibility: hidden;
	z-index: 10000;
}

.helpLayerMiddle
{
	position: absolute;
	background-color: #BEBEBE;
}

.helpLayerInner
{
	top: -2px;
	left: -2px;
	position: relative;
	padding: 8px 10px;
	text-align: left;
	width: 280px;
}

.helpLayerInner h5
{
	margin: 0;
	font-size: 12px;
	padding: 0;
}

.helpLayerClose
{
	text-align: right;
	padding: 0px;
	margin: 0 0 4px 0;
	position: absolute;
	top: 8px;
	right: 8px;
}

.checkboxReset input
{
	margin: 0;
	padding: 0;
	margin-right: 2px;
	width: 14px;
	height: 14px;
}

/* duplicated from color stylesheet */

.lightest
{
	background: #FAFAF8;
}

.borderDark
{
	border: 1px solid #8C9C94;
}

.formItemLabel
{
	width: 70px;
	text-align: right;
	float: left;
	position: relative;
	padding: 7px 0px 4px 4px;
}

*html .formItemInput
	{
	width: 74px;
	}

.formItemInput
{
	width: 194px;
	float: left;
	padding: 4px 4px 0px 4px;
}

*html .formItemInput
	{
	width: 202px;
	}

.formItem:after /* used instead of overflow:hidden so dhtml popups don't get cut off */
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

	*html .formItem
	{
		height: 1%;
	}

img.regButton
{
	padding-right: 4px;
	padding-left: 4px;
	display: block;
}
p#bgCheck
{	
	font-family: "Arial Narrow", Impact, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 2em;
} #ie7only p#bgCheck{ font-family: Arial, "Arial Narrow"; }

/* adunit styles */

.splashLeaderboardAd {
    color:#000000;
    width: 726px;
    text-align: center;
    padding: 24px 22px 0 22px;
    margin-bottom: 0;
}

.homePageVisitorBottom {
    color:#000000;
    width: 770px;
    text-align: center;
    margin-bottom: 0;
}

.homePageVisitorBottom p {
    padding: 24px 42px 0 42px;
    margin: 0;
}