/* SparkSplash Page */

#BodyTag
{
  background:#EFEFEF;
  background: url("/img/bkndHeb.gif") right top;
  font-family: verdana, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin-top: 0px;
  margin-right:0px; 
  padding: 0px;
  color: #333333;
  voice-family: "\"}\""; voice-family:inherit;
}

a:link, a:active, a:visited
{
	color: #5362B5;
	text-decoration: none;
}

a:hover
{
	color: #5362B5;
	text-decoration: underline;
}

.error
{
	width: 266px;
	top: 78px;
	right: 2px;
	font-weight: bold;
	font-size: 10px;
	padding:8px 4px 8px 4px;
	border:1px solid red;
	color:#F02E0C;
	background:#FFECE9;
	display:block;
	z-index: 10000;
	position: absolute;
}
*html .error 
	{
	width:278px;
	}

table
{
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #333333;
}

.top
{
  background-image:url(../img/Site/jdate-co-il/spl_top.jpg);
  height:75px;
}

.topUpperText
{
	margin: 54px 180px 0 0;
	color: #0C1C95;
	font-size: 11px;
	font-weight: bold;
}

.topHeadline
{
	background-image: url(../img/Site/jdate-co-il/spl_top_tile.gif);
	background-repeat: repeat-x;
	height: 28px;
	width: 770px;

}

.topUpperText h2
{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	margin: 8px 60px 8px 0;
}

.bottom
{
  background-image:url(../img/Community/JDate/spl_bottom_tile.gif);
}

#onlineLinks
{
	margin-right: 32px;
	margin-top: 12px;
}

#onlineLinks p
{
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
}

.marriedPopupDiv
{
	padding:8px;
	border:1px solid #7191CC;
	position:absolute;
	width:486px;
	z-index:1;
	right:280px;
	top:-232px;
	visibility:hidden;
	background-color:#EEF1F9;
}

.marriedPopupDiv p
{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0px;
}

.languageLink
{
  position:absolute;
  z-index:1000;
  width: 760px;
  text-align: left;
  padding: 4px 0 0 16px;
}

*html .languageLink
{
	width: 770px;
}

.languageLink a:link, .languageLink a:active, .languageLink a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

.languageLink a:hover 
{
	color: #FFFFFF;
	text-decoration: underline;
}

.splSearch
{
	font-size:11px;
}

.spLogo
{
	display:block;	
	position:absolute;
	width: 200px;
	height:75px;
	z-index:1100;
}

.border
{
  position:absolute;
  display:inline;
}

/*///////////////*/
/* PAGE REGIONS  */
/*///////////////*/

div.tabArea 
{
  font-size: 11px;
  margin-bottom:1px;
  margin-top:0px;
}

a.tab 
{
  background:#ffffff;
  font-size:11px;
  color:#174495;
  height:12px;
  font-weight:bold;
  padding: 4px 1em 2px 1em;
  text-decoration: none;  
  border: 1px solid #3875C2;
  top: 0px;
  z-index: 1000;
  margin-bottom:-4px;
}

a.tab:hover 
{
  text-decoration: none;
  font-size:11px;
  color:#ffffff;
  border-left: 1px solid #3875C2;
  border-top: 1px solid #3875C2;
  border-right: 1px solid #3875C2;
  border-bottom: 1px solid #7FA7D8;
  background:#7FA7D8;
  margin-bottom:-4px;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color: #7FA7D8;
  font-size:11px;
  border-left: 1px solid #3875C2;
  border-top: 1px solid #3875C2;
  border-bottom: 1px solid #7FA7D8;
  border-right: 1px solid #3875C2;
  color: #ffffff;
  margin-bottom:-4px;
}

.splashButton
{
	border:1px solid black;
	background-color:#174495;
	color:white;
	font-weight:bold;
	padding:0px;
	font-size:11px;
	padding:2px;
	cursor: hand;
	width:45px;
}

#searchField 
{
	background: #7FA7D8;
	border-top: 1px solid #3875C2;
	z-index: 101;
	padding: 1px 4px 1px 1px;
	 
}

#search 
{
	width: 282px;
	margin-top:0px;
	font-family: verdana, sans-serif;
	background-color: #AFC8E7;
}

#footer
{
	text-align:center;
	width:770px;
	/*padding-top: 42px;*/
	padding-bottom: 10px;
	/*margin-top: 80px;*/
}

a.help:link, a.help:active, a.help:visited
{
	color: #5362B5;
}
a:link, a:active, a:visited 
	{
	text-decoration: none;
	}

a.nav 
{
	color:#0C1C95;
	font-size:11px;
	font-family: verdana;
    line-height:18px;
	text-decoration:none;
}

a.nav:hover
{
	color: #4555C9;
	text-decoration:underline;
}

a.nav:visited, a.nav:active 
{
	color: #0C1C95;
	text-decoration:none;
}

.QuickSearchCell
{
	background:EFEFEF;
	background-color: #ffffff;
}

.QuickSearchTable
{
	background-color: #AFC8E7;
}

.QuickSearchImageCell
{
	padding-top: 0px;
    background-image:url(../img/Site/JDate-fr/find_a_date_today1.gif);
    background-repeat: repeat-x;
    height: 42px;
    text-align: center;	
}

.QuickSearchTab
{
	padding-left: 10px;
	width: 265px;
	height: 152px;
	font-size: 12px;
}

.text-white{
    color:White;
    font-size: 22px;    
}

.QuickSearchButtonCell
{
	margin-top:-10;
	text-align: right;
	height:30px;
}

.SearchCont
{
	font-size: 12px;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
	color: #333333;
	text-decoration: none;
}

a.footerLink:hover 
{
	color: #333333;
	text-decoration: underline;
}

.copyright
{
	color: #999999;
}

a.lookuplink:link, a.lookuplink:active, a.lookuplink:visited
{
	color:White;
	font-size:12px;
	font-weight:bold;
}

/* SPLASH BOTTOM - LOGIN, ONLINE AND REGISTRATION LINK */
#splashBottomContainer
{
	height:161px;
	width:770px;
	position: relative;
	background-image:url(../img/Community/JDate/spl_bottom_tile.gif);
	background-position: top;
	background-repeat: repeat-x;
	border-top:1px solid #7F9CD3;
	border-bottom: 1px solid #7F9CD3;
}

#splashBottomOnline
{
	width:281px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 10px 0 0;
}

#splashBottomLogin
{
	width: 307px;
	border-left:1px solid #7F9CD3;
	border-right:1px solid #7F9CD3;
	z-index:1000;
	position: absolute;
	top: 0px;
	right: 281px;
	height: 161px;
}

#splashBottomRegister
{
	width: 180px;
	position: absolute;
	top: 0px;
	right: 588px;
}

.highlight
{
	color: #da062e;
}

.secondaryCopy
{
	color: #808080;
	font-size: 9px;
}

.loginForgotLink
{
	font-size: 9px;
}

.helpLayerPositionContainer
{
	position: relative;
	z-index: 10000;
}

.helpLayerContainer
{
	position: absolute;
	top: -90px;
	right: -70px;
	visibility: hidden;
	z-index: 10000;
}

.helpLayerMiddle
{
	position: absolute;
	background-color: #BEBEBE;
}

.helpLayerInner
{
	top: -2px;
	right: -2px;
	position: relative;
	padding: 8px 10px 8px 10px;
	width: 360px;
}

.helpLayerInner h5
{
	margin: 0;
	font-size: 12px;
	padding: 0;
}

.helpLayerClose
{
	text-align: left;
	padding: 0px;
	margin: 0 0 4px 0;
	position: absolute;
	top: 8px;
	left: 8px;
}

/* duplicated from color stylesheet */

.lightest
{
	background: #FAFAF8;
}

.borderDark
{
	border: 1px solid #969EDB;
}

.formItemLabel
{
	width: 110px;
	text-align: left;
	float: right;
	
	padding: 7px 4px 4px 0px;
}

.formItemInput
{
	width: 180px;
	float: right;
	
	padding: 4px 4px 0px 4px;
}

.formItem
{
	
}

.formItem:after /* used instead of overflow:hidden so dhtml popups don't get cut off */
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

	*html .formItem
	{
		height: 1%;
	}

.splLoginImage
{
	margin: 1px 30px 0 0;
}

#regButtonBlock
{
	position:absolute;
	top:0px;
	right:20px;
}

img.regButton
{
	margin-right: 16px;
	margin-left: 16px;
	display: block;
}

/* adunit styles */

.splashLeaderboardAd {
    color:#000000;
    width: 760px;
    text-align: center;
    padding: 5px;
    margin-bottom: 1em;
}

.homePageVisitorBottom {
    color:#000000;
    width: 770px;
    text-align: center;
    margin-bottom: 0;
}

.homePageVisitorBottom p {
    padding: 24px 42px 0 42px;
    margin: 0;
}