/* JDate.co.uk Splash Page */

#BodyTag
{
	background:#EFEFEF;
	background-image:url(../img/Community/JDate/bknd.gif);
	font-family: verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	margin-top: 0px;
	margin-left:0px; 
	padding: 0px;
	color: #333333;
}

table
{
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #333333;
}

a:link, a:active, a:visited
{
	color: #5362B5;
	text-decoration: none;
}

a:hover
{
	color: #5362B5;
	text-decoration: underline;
}

a.help:link, a.help:active, a.help:visited
{
	color: #5362B5;
}

.error
{
	width: 268px;
	top: 104px;
	left: 2px;
	font-weight: bold;
	font-size: 10px;
	padding:8px 4px 8px 4px;
	border:1px solid red;
	color:#F02E0C;
	background:#FFECE9;
	display:block;
	z-index: 10000 !important;
	position: absolute;
}
*html .error 
	{
	width:278px;
	}
	
.hebrewLink
{
	position:absolute;
	z-index:1000;
	top:6px;
	left: 0px;
	width: 766px;
	text-align: right;
	padding-right: 4px;
	color: white;
}

.hebrewLink a:link, .hebrewLink a:active, .hebrewLink a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

.hebrewLink a:hover 
{
	color: #FFFFFF;
	text-decoration: underline;
}

/* QUICK SEARCH */
div.tabArea 
{
	font-size: 11px;
	color:black;
	margin-bottom:1px;
}

a.tab 
{
	background:#ffffff;
	color:#5362B5;
	font-weight:bold;
	padding: 4px 1em 2px 1em;
	text-decoration: none;
	position: relative;
	border-left: 1px solid #5362B5;
	border-top: 1px solid #5362B5;
	border-right: 1px solid #5362B5;
	top: -1px;
	z-index: 100;
}

a.tab:hover 
{
	text-decoration: none;
	color:#ffffff;
	border-left: 1px solid #5362B5;
	border-top: 1px solid #5362B5;
	border-right: 1px solid #5362B5;
	background:#7FA7D8;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
	background-color: #7FA7D8;
	border-left: 1px solid #5362B5;
	border-top: 1px solid #5362B5;
	border-right: 1px solid #5362B5;
	border-bottom:2px solid #7FA7D8;
	color: #ffffff;
	z-index: 102;
}

.splSearch
{
	font-size:11px;
}

.splashButton
{
	border:1px solid black;
	background-color:#5362B5;
	color:white;
	font-weight:bold;
	padding:0px;
	font-size:11px;
	padding:2px;
	cursor:pointer;
	width:45px;
}

#searchField
{
	background: #7FA7D8;
	border-top: 1px solid #5362B5;
	z-index: 101;
	padding: 1px;	
}

#search
{
	width: 283px;
	margin-top:0px;
	font-family: verdana, sans-serif;
	background-color: #AFC8E7;
}


.QuickSearchCell
{
	height: 143px;
	background-color: #7FA7D8;
	
}

.QuickSearchTable
{
	background-color: #AFC8E7;
}

.QuickSearchImageCell
{
	padding-top: 0px;
    background-image:url(../img/Site/JDate-fr/find_a_date_today1.gif);
    background-repeat: repeat-x;
    height: 46px;
    text-align: center;
}

.text-white{
    color:White;
    font-size: 22px;    
}

.QuickSearchTab
{
	padding-left: 10px;
	width: 265px;
	height: 152px;
}

.QuickSearchButtonCell
{
	padding-top: 1px;
	padding-bottom: 2px;
	text-align: right;
}

a.lookuplink:link, a.lookuplink:active, a.lookuplink:visited
{
	color:White;
	font-size:12px;
	font-weight:bold;
}

/* SPLASH BOTTOM - LOGIN, ONLINE AND REGISTRATION LINK */
#splashBottomContainer
{
	height:160px;
	width:770px;
	position: relative;
	background-image:url(../img/Community/JDate/spl_bottom_tile.gif);
	background-position: top;
	background-repeat: repeat-x;
	border-top:1px solid #7F9CD3;
	border-bottom: 1px solid #7F9CD3;
}

#splashBottomOnline
{
	width:281px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px 0 0 16px;
}

#splashBottomLogin
{
	width: 307px;
	border-left:1px solid #7F9CD3;
	border-right:1px solid #7F9CD3;
	z-index:1000;
	position: absolute;
	top: 0px;
	left: 281px;
	height: 159px;
}

#splashBottomRegister
{
	width: 180px;
	position: absolute;
	top: 0px;
	left: 588px;
}

.highlight
{
	color: #da062e;
}

.secondaryCopy
{
	color: #808080;
	font-size: 9px;
}

.loginForgotLink
{
	font-size: 9px;
}

.helpLayerPositionContainer
{
	position: relative;
	display: inline;
}

/* target opera only hack - this hack is bad, but no other known fix for opera's inline/relative/absolute bug as of now EP 8/27 */
@media all and (min-width:0px) {
    .helpLayerPositionContainer { 
		position: static;
	}
}

.helpLayerContainer
{
	position:absolute;
	top: 8px;
	left: 8px;
	visibility: hidden;
	z-index: 10000;
}

.helpLayerMiddle
{
	position: absolute;
	background-color: #BEBEBE;
}

.helpLayerInner
{
	top: -2px;
	left: -2px;
	position: relative;
	padding: 8px 10px;
	text-align: left;
	width: 280px;
}

.helpLayerInner h5
{
	margin: 0;
	font-size: 12px;
	padding: 0;
}

.helpLayerClose
{
	text-align: right;
	padding: 0px;
	margin: 0 0 4px 0;
	position: absolute;
	top: 8px;
	right: 8px;
}

.checkboxReset input
{
	margin: 0;
	padding: 0;
	margin-right: 2px;
	width: 14px;
	height: 14px;
}

/* duplicated from color stylesheet */

.lightest
{
	background: #FAFAF8;
}

.borderDark
{
	border: 1px solid #969EDB;
}

.formItemLabel
{
	width: 74px;
	text-align: right;
	float: left;
	position: relative;
	padding: 7px 0px 4px 4px;
}

.formItemInput
{
	width: 200px;
	float: left;
	padding: 4px 4px 0px 4px;
}

.formItem:after /* used instead of overflow:hidden so dhtml popups don't get cut off */
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

	*html .formItem
	{
		height: 1%;
	}

img.regButton
{
	margin-right: 16px;
	margin-left: 16px;
	display: block;
}

/* FOOTER */
#footer
{
	text-align:center;
	width:770px;
	padding-top: 0px;
	padding-bottom: 10px;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
	color: #333333;
	text-decoration: none;
}

a.footerLink:hover 
{
	color: #333333;
	text-decoration: underline;
}

.copyright
{
	color: #999999;
}
p#bgCheck {	
	font-family: "Arial Narrow", Impact, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 2em;
} #ie7only p#bgCheck{ font-family: Arial, "Arial Narrow"; }

/* adunit styles */

.splashLeaderboardAd {
    color:#000000;
    width: 760px;
    text-align: center;
    padding: 5px;
    margin-bottom: 1em;
    
}

.homePageVisitorBottom {
    color:#000000;
    width: 770px;
    text-align: center;
    margin-bottom: 0;
}

.homePageVisitorBottom p {
    padding: 24px 42px 0 42px;
    margin: 0;
}