﻿@charset "UTF-8";
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6{margin-bottom:.4em;color:#333}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;margin:0 0 .5em 8px;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
	font-size:.68em;
	font-weight:normal;
}
body a:link{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:hover{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
body a:active{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
p{
	margin-bottom:.4em;
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
	border-top:1px dotted #CCCCCC;
	border-color:#CCCCCC;
}
	hr.hr-thin{
		width:98%;
	}
	hr.hr-vertical-spacer{
		margin:.5em 0;
	}
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
/* ++Base--classes -----*/
.serif{
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help{
	cursor:help;
    cursor:help;
    border-bottom:1px dotted #999999;
}
span.close{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
    color:#999999;
}
em.accent {
	font-style:normal;
	font-weight:bold;
	color:#936;
}
.selected em.accent {
	color:#d7a6bf;
}
.error{
	font-weight:normal;
    color:Red;
}
p.disclaimer{
	margin:1em 8px;
	padding:0;
	font-size:.92em;
	color:#666666;
}
ul.ul-arrow li{
	margin:0 0 .65em 0;
	padding:0 0 0 1em;
	background:url(../img/Community/JDate/bullet-arrow-blk-sm.gif) no-repeat 0 4px;	
}
span.remove-x{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
	color:#999999;
}
.semantic-html label{
	cursor:pointer;
}
.content-headline{
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0;
	padding:0 0.4em;
    background-color:#E8F0D7;
    border-bottom:1px dotted #CCCCCC;
    border-top:1px dotted #CCCCCC;
}
.content-headline {background-color:#eceff2;}
/* ++Base--Notifications/Errors -----*/
.notification{
	display:block;
	padding:1em;
	clear:both;
	font-weight:bold;
	margin:0 6px 0.5em 0;
    border:2px solid #999999;
    background-color:#f2f1df;
}
.notification.error{
    color:#F02E0C;
}
/* ++Base--Buttons -----*/
input, textarea, select{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size:1em;
	padding:.1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:pointer;
}
input[type="submit"], input[type="button"]{
	border:none;
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	background-color:#993366;
	color:White;
}.ie7 input[type="submit"], input[type="button"]{overflow:visible;}
h3 input[type="submit"], h3 input[type="button"]{
	font-size:.82em;
}
input[type="submit"].secondary, input[type="button"].secondary{
	padding:.4em 1em;
	border:1px solid #cccccc;
	background:#ffffff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
	.ie7 input[type="submit"].secondary, input[type="button"].secondary{padding:.3em 1em}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover{
	text-decoration:underline;
	display:inline-block;
	background-position:50% 47%;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover{
	text-decoration:underline;
	display:inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active{
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
    background-color:#993366;
    color:white;
}
a.link-primary:hover{
	text-decoration:underline;
	color:White;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active{
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
	border:1px solid #cccccc;
	background:#ffffff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
a.link-secondary:hover{
	text-decoration:underline;
    background-position:50% 47%;
    color:#936;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial ul, .editorial ul ul{
	margin-top:0em;
	margin-bottom:0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-left:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
/* ==Tools  -----*/
.border-gen {
	border:5px solid #ECEFF2;
	margin:.5em;
	padding:1em;
}
.wrapper{
	float:left;
	width:100%;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:left;display:inline;}
.float-outside{float:right;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:left;}
.text-outside{text-align:right;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.two-column{
	float:left;
	width:49.5%;
}
.three-column{
	float:left;
	width:33.3%;
}
.four-column{
	float:left;
	width:24%;
}
.image-text-pair a:hover{
	text-decoration:none;
}
.image-text-pair a span:hover{
	text-decoration:underline;
}	
.border-gen{
	margin:.5em;
	padding:1em;
}
.border-gen img{
	margin-right:.5em;
}
.border-gen img.border-gen-icon{
	margin:.5em .5em 0 0;
}
	.border-gen:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
.border-btm-dotted{
	display:block;
	margin:1em 0;
	padding-bottom:1em;
}
.border-top-dotted{
	margin:1em 0;
	padding-top:1em;
}
.rbox-style-clear, .rbox-style-gradient, .rbox-style-high{
    border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;
}
.rbox-style-clear, .rbox-style-gradient{
    border:4px solid #eceff2;
    background-color:white;
}
.rbox-style-high{
    border:4px solid #E6EFD4;
    background-color:#F2F7E8;
}
.rel-layer-container{
	position:relative;
	display:inline;
}.ie7 .rel-layer-container .rel-layer-div p{width:100%;}
.rel-layer-div{
	position:absolute;
	left:0;
	top:2em;
	padding:8px;
	display:none;
	z-index:1000000;
	width:28em;
    background-color:white;
    border:1px solid #999999;
}
.rel-layer-div h2{
	width:100%;
	white-space:nowrap;
}
.list-of-benefits.rel-layer-div{
	width:556px;
}
/* ++Tools--sprites icons */
.spr-splash{
	display:inline-block;
	vertical-align:text-top;
	text-indent:-9999px;
	text-align:left;
}
/* IE6 */
.ie7 .spr-splash{text-indent:0;}
.ie7 .spr-splash span{text-indent:0;display:none;}
a.spr-parent{
	vertical-align:text-top;
}
a.spr-parent:hover{
	text-decoration:none;
	cursor:pointer;
}

/* ==Structure  -----*/
#min-max-container{
	margin:0 auto;
	padding:0 6px;
	width:1010px;
}
#content-main{
	padding:12px;
	margin:8px;
	background-color:#96b1cc;
}

/* ==Components -----*/
/* ++Com--header -----*/
#header{
	margin:12px 0 6px;
}
#header-logo{
	float:left;
	width:87%;
}
#header-logo p {
	padding-top:12px;
}
#header-logo .header-message a.logo{
	float:left;
	margin-right:8px;
	top:-12px;
	position:relative;
}
#header-login{
	float:left;
	width:179px;
}
#header-login a{
	display:block;
	padding:10px 4px;
	margin:4px;
	background-color: #936;
	color:white;
	text-align:center;
	font-size:14px;
}
#header-nav{
	float:left;
	font-size:1.17em;
	margin:6px 8px 0 0;
	width:132px;
}
#header-nav li{
	display:block;
	text-align:right;
	vertical-align:middle;
}
#header-nav li a{
	font-weight:normal;
}
#header-nav li.header-nav-filler{
	padding-top:0.67em;
}
#medialogo{
    margin-top:28px;
}
#medialogo big{
    font-size:12px;
    font-weight:bold;
    text-align: center;
    display:block;
}
#footer{
	clear:both;
	margin:0 auto 0;
	padding:0 12px;
	background-color:#25426B;
	color:#96b1cc;
}
#footer-content{
	width:78em;
	margin:0 auto;
	padding:1em 0;
	background-color:#25426B;
}
#footer ul{
	margin-bottom:1em;
	margin-bottom:1em;
}
#footer ul.nav-footer:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}.ie7 #footer ul.nav-footer{height:1%}
#footer ul.nav-footer li{
	float:left;
	padding-right:.2em;
	white-space:nowrap;
}
#footer .legal-copyright{
	margin-bottom:0;
}
#footer .legal-background-checks{
	text-transform:uppercase;
	font-weight:bold;
	margin-top:.2em;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active{
	font-weight:normal;
	color:#96b1cc;
}
#footer a:hover{
	color:#FFFFFF;
}
#footer #footer-links-main{
	width:100%;
	margin:0 auto;
	text-align:center;
}
#footer #footer-links-main .footer-group-title{
	font-size:20px;
    margin-bottom:5px;
}


#marketing-wrap{
	float:left;
	padding:4px;
	position:relative;
	text-align:left;
	width:374px;
}
#marketing-wrap #main-title-img
{
	padding-bottom:16px;
}
ul#splash-bullets{
	display:block;
	float:left;
	margin:0 0 20px 0;
	padding:0 20px 0 0;
	width:350px; 
}
ul#splash-bullets li {
	padding:0 0 5px 23px;
	font-size:16px;
	font-weight:bold;
	background:url(../img/Community/JDate/splash_checkmark.png) no-repeat top left;
	color:#264061;
}

#marketing-wrap big{
	display:block;
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size:3.33em;
	line-height:.95em;
	margin:12px 0 18px;
	text-align:center;
}
#marketing-wrap big span{
	color:#fff;
}
#marketing-wrap big em { display:block;font-size:.53em;font-style:normal;}

#marketing-wrap #cta{
	text-align:center;
	clear:both;
}
#marketing-wrap #cta .link-primary{
	font-size:16px;
	padding:12px;
}
#vis-info{
	padding:12px 0 0;
	color:#666;
} 
#vis-info h1{
	margin-left:0;
}
#vis-info h2{
	margin-bottom:.5em;
	font:2em Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
#vis-info h2 sup{
	font-size:.45em;
	margin-left:-.75em
}

/* img rotator */
#rotator{
	position:relative;
	width:536px;
	height:296px;
	float:left;
	margin-right:1em;
}
#img_contents{
	width:536px;
	height:296px;
	overflow:hidden;
	position:relative;	
}
#img_contents a, 
#fw_Content a:link, 
#img_contents a:visited, 
#img_contents a:hover, 
#img_contents:active{
	border:none;
}
#img_contents img{
	width:536px;
	height:296px;
	border:none;
	position:absolute;
	top:0;
}
#img_controls{
	position:absolute;
	left:0px;
	bottom:0px;
	width:120px;
	height:26px;
	margin:5px;
	display:block;
	z-index:100;
}
#img_controls a{
	float:left;
	width:30px;
	height:24px;
	padding-top:6px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#img_controls ul li, #img_contents ul li{
	list-style-type:none;
}.ie7 #img_controls ul li, .ie7 #img_contents ul li{display:inline;}
#img_controls{
	background-color:#96b1cc;
}
#img_controls a{
	color:#202e42; 
}
#img_controls a.activeSlide, #img_controls a:hover{
	color:#fff; 
	background-position:0 -30px;
	background-color:#202e42;
}

/* CSS3 */
#header-login a{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#cta a{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	border-top:1px solid #936;
	border-left:1px solid #936;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}
#content-main {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow:0 0 9px #333333;
	-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
}
/* ++splash-seo */
.sub-page-splash20 .vis-info {
padding:0 0;
}
.sub-page-splash20 .vis-info, .sub-page-splash20 #footer{margin-top:0em;}
.sub-page-splash20 .rotator, .sub-page-splash20 .vis-registration{margin-right:0em;}
.sub-page-splash20 .marketing-wrap big{margin:0.25em 10px 0.5em;}
.sub-page-splash20 .marketing-wrap fieldset.primary-content div.cta-wrapper {
padding:0 0 0 5.5em;
}
#splash-seo{width:960px;padding:0 10px;}
#splash-seo #seo-text h2{font-family:arial;font-size:13px;font-weight:bold;}
#splash-seo #seo-text p{font-size:12px;}
#splash-seo #seo-text{width:78%;float:left;}
#splash-seo #seo-text .item-column{background-color:white;float:left;margin-right:1%;padding:8px 1%;text-align:justify;width:30%;min-height:291px;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;}
#splash-seo #seo-text .item{background-color:white;clear:both;margin-bottom:10px;margin-right:1.5%;margin-top:10px;padding:8px 1%;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;}
#splash-seo #seo-sidebar{width:22%;float:right;}
#splash-seo #seo-sidebar .item{background-color:white;clear:both;margin-bottom:10px;margin-right:1%;padding:8px 2%;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;min-height:150px;}
#splash-seo #seo-sidebar .item p{height:35px;padding-top:15px;margin-bottom:0;}
#splash-seo #seo-sidebar #btn-seo-jmag{margin:10px 0 0;}
#splash-seo #seo-sidebar #btn-seo-register{margin-left:10px;}
.ie7 #splash-seo #seo-sidebar #btn-seo-register img{margin-left:0px;}
#splash-seo .splash-seo-links{color:#666666;font-weight:normal;text-decoration:underline;}
#splash-seo .item h2{font-family:arial;font-size:13px;font-weight:bold;}
#splash-seo .item p{font-size:12px;}


/* ==One Page Reg  -----*/
#languages
{
float:right;
padding-right:15px;
}
#languages a
{
	color:#1D5181;
	text-decoration:underline;
}
#login-form-btn
{
	float:right;
padding-top:18px;
padding-right:15px;
}
#login-form-btn a
{
	background: none repeat scroll 0pt 0pt rgb(30, 56, 91); 
	color: rgb(255, 255, 255); 
	padding: 5px 16px; 
	display: block; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#loginForm
{
	border:2px solid #285588;
float:right;
width:320px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
display:none;
position:absolute;
background:none repeat scroll 0 0 #FFFFFF;
margin:19px 677px 0;
z-index:1;
}
.ie7 #loginForm
{
	margin:10px -136px 0;
}
#loginForm a
{
	color:#333333;
}
#loginForm  #title
{
padding:8px 8px 0;
}
#loginForm #title div
{
	color:#8B92A2;
	float:left;
	width:45%;
}
#loginForm #close-login-div
{
	float:right;
}
#loginForm #login-btn-div
{
	text-align:center;
}
#loginForm #login-inputs
{
	padding:8px;
}
#loginForm #rememberme-div
{
	float:left;
}
#loginForm #forgot-pass-div
{
	float:right;
	margin-top: 3px;
}
#loginForm #rememberme-div,#loginForm #forgot-pass-div{padding:0 8px;}
#content
{
	background:none repeat scroll 0 0 #FFFFFF;
padding:10px;
width:979px;
margin-bottom:15px;
border: 1px solid;
}
#content #one-page-reg-content
{
background:url("../img/site/jdate-co-il/browned-whiteBg.jpg") repeat scroll 0 0 transparent;
height:571px;
}
#content #one-page-reg-form-bg
{
	-moz-border-radius:12px 12px 12px 12px;
    -webkit-border-radius:12px 12px 12px 12px;
    border-radius:12px 12px 12px 12px;
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #617506;
    height:456px;
    margin:6px 537px;
    opacity:0.5;
    position:absolute;
    width:433px;
}
#content #one-page-reg-form
{
	-moz-border-radius:12px 12px 12px 12px;
	-webkit-border-radius:12px 12px 12px 12px;
	border-radius:12px 12px 12px 12px;
    background:none repeat scroll 0 0 #FFFFFF;
    font-size:18px;
    margin:13px 545px;
    padding:13px;
    position:absolute;
    width:393px;
}
#content #ajax-loader
{
	-moz-border-radius:12px 12px 12px 12px;
	-webkit-border-radius:12px 12px 12px 12px;
background:none repeat scroll 0 0 #FFFFFF;
font-size:18px;
margin:13px 545px;
padding:13px;
position:absolute;
width:393px;
opacity:0.8;
display:none;
}
#content #ajax-loader div
{
padding:50%;
}
#content #one-page-reg-form .Gender,#content #one-page-reg-form .BirthDate,#content #one-page-reg-form .JDateReligion,#content #one-page-reg-form .Password,#content #one-page-reg-form .EmailAddress
,#content #one-page-reg-form .PartnersOffers2,#content #one-page-reg-form .TermsAndConditions,#content #one-page-reg-form #idRegion_divCountry,#content #one-page-reg-form #idRegion_divState,
#content #one-page-reg-form #idRegion_divCity
{
	float:left;
	padding-bottom:10px;
	width:100%;
}
#content #one-page-reg-form .TermsAndConditions
{
	font-size:14px;
padding-bottom:10px;
text-align:justify;
}
#content #one-page-reg-form .PartnersOffers2 .label
{
	display:none;
}
#content #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:14px;
	text-align:justify;
}
#content #one-page-reg-form .PartnersOffers2 .field
{
	width:auto;
}
#content #one-page-reg-form .PartnersOffers2 input
{
	width:auto !important;
}
#content #one-page-reg-form .label
{
	float:left;
width:143px;
font-size:14px;
}
#content #one-page-reg-form .field
{
font-size:18px;
float:left;
}
#content #one-page-reg-form .field input.error
{
	color:#000;
}
#content #one-page-reg-form div.error
{
	color:red;
	font-size:12px;
	width: 244px;
	text-align:justify;
}
#content #one-page-reg-form #TNCText div.error
{
	width:100%;
}
#content #one-page-reg-form select{width:250px;}
#content #one-page-reg-form .field input
{
	width:242px;
}
#content #one-page-reg-form label.error
{
	display:block;
}
#content #one-page-reg-form .submit-btn
{
	cursor:pointer;
	float:right;
	background: url('../img/Site/JDate-co-uk/join-free-btn.png') top left no-repeat;
	width:133px;
	height:38px;
}
#content #one-page-reg-form #general-error
{
	text-align:justify;
	display:none;
	font-size:12px;
	color:Red;
}
#content #one-page-reg-form #LookupCityLink
{
  float: left;
    font-size: 14px;
    margin-left: 142px;
     margin-bottom: 5px;
}
#content #one-page-reg-form .Region .field
{
	padding-bottom: 8px;
}
#content #one-page-reg-form .select-day
{
	margin-right: 5px;
}
#content #one-page-reg-form .select-month
{
	margin-right: 5px;
}
#content #one-page-reg-form #TNCInput
{
	float: left;
}
#content  #one-page-reg-form #TNCText
{
	float: left;
    width: 93%;
}
#content #one-page-reg-form  .Captcha .field 
{
	width:250px;
}
#content #one-page-reg-form  .Captcha .field input
{
	height: 32px;
    width: 69px;
    float:left;
}
#content #one-page-reg-form  .Captcha img
{
	  border: 1px inset;
    float: left;
    height: 36px;
    width: 117px;
    margin-left: 5px;
}
#content #one-page-reg-form  .Captcha #refresh-captcha
{
	border: 1px solid;
    float: left;
    height: 22px;
    margin-left: 5px;
    padding: 7px;
}
#content #one-page-reg-form  .Captcha .refresh-capcha
{
	border: 0 none;
    cursor: pointer;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
#content #one-page-reg-form .Captcha div.error
{
	float:left;
}
/******** one page reg autocomplete cities *********/
.ac_results iframe
{
	display:none;
}
.ac_results select
{
	font-size:18px;
}

/******** one page reg footer *************/
    #footerWrapper
    {
background-image:url("../img/site/jdate-co-uk/footerBck.jpg");
background-position:center top;
background-repeat:no-repeat;
background-color:#FFFFFF;
}
#footerWrapper #content
{
	border:0;
}
#footerWrapper #header
{
    padding-top:18px;
text-align:center;
margin:0;
}
#footerWrapper #header1
{
    font-size:35px;
font-weight:bold;
 height: 97px;
}
#footerWrapper #header2
{
    font-size:25px;
}
#footerWrapper p,#footerWrapper h1,#footerWrapper h2
{
    color:#475D73;
    margin-bottom:0;
    font-family:Arial;
}
#footerWrapper #footer-content
{
    padding-left:20px;
padding-top:26px;
width:90%;
}
#footerWrapper .contentTitle
{
    font-size:16px;
font-weight:bold;
padding-bottom:3px;
padding-top:19px;
}
#footerWrapper .contentText
{
    line-height:20px;
padding-bottom:20px;
}
#footerWrapper hr
{
    border:1px solid #475D73;
width:61%;
height:0;
}
ul.four-column li{font-size:16px;}
ul.four-column li a{font-size:12px;}



/*Facebook iFrames css code START*/

#iframe-container #mol-counter{display:none;}

/* --- male 20-35 START --- */
.fb-reg-male-20-35-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-20-35-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/man_20_35.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-20-35-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .select-day, .fb-reg-male-20-35-container #content #one-page-reg-form .select-month, .fb-reg-male-20-35-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-20-35-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-20-35-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-male-20-35-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .Gender,
.fb-reg-male-20-35-container #content #one-page-reg-form .BirthDate,
.fb-reg-male-20-35-container #content #one-page-reg-form .JDateReligion,
.fb-reg-male-20-35-container #content #one-page-reg-form .Password,
.fb-reg-male-20-35-container #content #one-page-reg-form .EmailAddress,
.fb-reg-male-20-35-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-male-20-35-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-male-20-35-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-male-20-35-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-male-20-35-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- male 20-35 END --- */

/* --- male 36-49 START --- */
.fb-reg-male-36-49-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-36-49-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/man_36_49.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-36-49-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .select-day, .fb-reg-male-36-49-container #content #one-page-reg-form .select-month,.fb-reg-male-36-49-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-36-49-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-36-49-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-male-36-49-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .Gender,
.fb-reg-male-36-49-container #content #one-page-reg-form .BirthDate,
.fb-reg-male-36-49-container #content #one-page-reg-form .JDateReligion,
.fb-reg-male-36-49-container #content #one-page-reg-form .Password,
.fb-reg-male-36-49-container #content #one-page-reg-form .EmailAddress,
.fb-reg-male-36-49-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-male-36-49-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-male-36-49-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-male-36-49-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-male-36-49-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- male 36-49 END --- */

/* --- male 50-70 START --- */
.fb-reg-male-50-70-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-50-70-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/man_50_70.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-50-70-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .select-day, .fb-reg-male-50-70-container #content #one-page-reg-form .select-month,.fb-reg-male-50-70-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-50-70-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-50-70-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-male-50-70-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .Gender,
.fb-reg-male-50-70-container #content #one-page-reg-form .BirthDate,
.fb-reg-male-50-70-container #content #one-page-reg-form .JDateReligion,
.fb-reg-male-50-70-container #content #one-page-reg-form .Password,
.fb-reg-male-50-70-container #content #one-page-reg-form .EmailAddress,
.fb-reg-male-50-70-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-male-50-70-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-male-50-70-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-male-50-70-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-male-50-70-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- male 50-70 END --- */


/* --- female 20-35 START --- */
.fb-reg-female-20-35-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-20-35-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/woman_20_35.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-20-35-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .select-day, .fb-reg-female-20-35-container #content #one-page-reg-form .select-month, .fb-reg-female-20-35-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-20-35-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-20-35-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-female-20-35-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .Gender,
.fb-reg-female-20-35-container #content #one-page-reg-form .BirthDate,
.fb-reg-female-20-35-container #content #one-page-reg-form .JDateReligion,
.fb-reg-female-20-35-container #content #one-page-reg-form .Password,
.fb-reg-female-20-35-container #content #one-page-reg-form .EmailAddress,
.fb-reg-female-20-35-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-female-20-35-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-female-20-35-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-female-20-35-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-female-20-35-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- female 20-35 END --- */

/* --- female 36-49 START --- */
.fb-reg-female-36-49-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-36-49-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/woman_36_49.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-36-49-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .select-day, .fb-reg-female-36-49-container #content #one-page-reg-form .select-month, .fb-reg-female-36-49-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-36-49-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-36-49-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-female-36-49-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .Gender,
.fb-reg-female-36-49-container #content #one-page-reg-form .BirthDate,
.fb-reg-female-36-49-container #content #one-page-reg-form .JDateReligion,
.fb-reg-female-36-49-container #content #one-page-reg-form .Password,
.fb-reg-female-36-49-container #content #one-page-reg-form .EmailAddress,
.fb-reg-female-36-49-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-female-36-49-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-female-36-49-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-female-36-49-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-female-36-49-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- female 36-49 END --- */

/* --- female 50-70 START --- */
.fb-reg-female-50-70-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-50-70-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/woman_50_70.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-50-70-container #content #one-page-reg-form
{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form-bg
{
    width:388px;
    margin:32px 315px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .select-day, .fb-reg-female-50-70-container #content #one-page-reg-form .select-month, .fb-reg-female-50-70-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .select-month{
    margin-right:0px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-50-70-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-50-70-container #content #one-page-reg-form div.error{width:200px;}
.fb-reg-female-50-70-container #content #ajax-loader{
    width:344px;
    margin:40px 325px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .Gender,
.fb-reg-female-50-70-container #content #one-page-reg-form .BirthDate,
.fb-reg-female-50-70-container #content #one-page-reg-form .JDateReligion,
.fb-reg-female-50-70-container #content #one-page-reg-form .Password,
.fb-reg-female-50-70-container #content #one-page-reg-form .EmailAddress,
.fb-reg-female-50-70-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-female-50-70-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-female-50-70-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-female-50-70-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-female-50-70-container #content #one-page-reg-form #idRegion_divCity
{
	padding-bottom:4px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
/* --- female 50-70 END --- */
/*Facebook iFrames css code END*/
/*JMag iFrame css code START */
.jmag-uk-iframe-container #content{
    background:none repeat scroll 0 0 #fff;
    width:310px;
    height:500px;
    border:0px;
    padding:0px;
}
.jmag-uk-iframe-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/jmag_iframe_bg_big.jpg") no-repeat scroll 0 0 transparent;
    height:570px;    
}

.jmag-uk-iframe-container #content #one-page-reg-form select{
    width:226px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.jmag-uk-iframe-container #content #one-page-reg-form #LookupCityLink{margin-left:137px;}
.jmag-uk-iframe-container #content #one-page-reg-form .select-day, 
.jmag-uk-iframe-container #content #one-page-reg-form .select-month,
.jmag-uk-iframe-container #content #one-page-reg-form .select-year{width:72px !important;}
.jmag-uk-iframe-container #content #one-page-reg-form .select-month{margin-right:0px;}
.jmag-uk-iframe-container #content #one-page-reg-form .field input[type="text"],
.jmag-uk-iframe-container #content #one-page-reg-form .field input[type="password"]{
    width:219px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.jmag-uk-iframe-container #content #one-page-reg-form .Gender,
.jmag-uk-iframe-container #content #one-page-reg-form .BirthDate,
.jmag-uk-iframe-container #content #one-page-reg-form .JDateReligion,
.jmag-uk-iframe-container #content #one-page-reg-form .Password,
.jmag-uk-iframe-container #content #one-page-reg-form .EmailAddress,
.jmag-uk-iframe-container #content #one-page-reg-form .PartnersOffers2,
.jmag-uk-iframe-container #content #one-page-reg-form .TermsAndConditions,
.jmag-uk-iframe-container #content #one-page-reg-form #idRegion_divCountry,
.jmag-uk-iframe-container #content #one-page-reg-form #idRegion_divState,
.jmag-uk-iframe-container #content #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.jmag-uk-iframe-container #content #one-page-reg-form .Region .field{padding-bottom:4px;}
.jmag-uk-iframe-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe2-container #content #one-page-reg-form .EmailAddress
{
    padding-top:2px;
}
.jmag-uk-iframe-container #content #one-page-reg-form .IframeCountry{display:none !important;}
.jmag-uk-iframe-container #content #one-page-reg-form .label{display:none;}
.jmag-uk-iframe-container #content #one-page-reg-form .Gender .label,
.jmag-uk-iframe-container #content #one-page-reg-form .BirthDate .label{display:block;}
.jmag-uk-iframe-container #content #one-page-reg-form{
    width:226px;
    margin:73px 30px;
}
.jmag-uk-iframe-container #content #one-page-reg-form-bg{
    width:270px;
    margin:63px 20px;
}
.jmag-uk-iframe-container #content #one-page-reg-form #TNCText
{
	float: right;
    width: 88%;
    font-size: 12px;
}
.jmag-uk-iframe-container #content #one-page-reg-form div.error{width: 175px;}
.jmag-uk-iframe-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:0;
}
.jmag-uk-iframe-container #content #one-page-reg-form .submit-btn{
	margin:10px 0;
}
.jmag-uk-iframe-container #content #one-page-reg-form .PartnersOffers2 .field label{
    font-size:12px;
    float:left;
    width:86%;
    padding-left:7px;
}
.jmag-uk-iframe-container #content #ajax-loader{
    width:246px;
    margin:63px 20px;
}
.jmag-uk-iframe-container #content #ajax-loader div{padding:39%;}
.jmag-uk-iframe-container #content #logo_link{
    display: none!important;
}
.jmag-uk-iframe-container #content #after_reg{
    background: url("../img/site/jdate-co-uk/after_reg_bg1.jpg") no-repeat scroll 0 0 transparent;
    height:455px;
    width:237px;
    left: 37px;
    top: 70px;
    position:relative;
}
.jmag-uk-iframe-container #content #after_reg_link_container{
    left: 62px;
    top: 413px;
    position:absolute;
}
.jmag-uk-iframe-container #content #one-page-reg-form #LookupCityLink{margin-bottom:0px;}
.jmag-uk-iframe-container #content #one-page-reg-form .PartnersOffers2 input{float:left;}
.ie7 .jmag-uk-iframe-container #content #one-page-reg-form .BirthDate .field {clear:both;width:230px;}
/*JMag iFrame css code END */
/* --- facebook reg iframe START --- */
.fb-reg-iframe-container #content{
    background:none repeat scroll 0 0 #fff;
    width:510px;
    height:730px;
    border:0px;
    padding:0px;
}
.fb-reg-iframe-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/fb_reg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:730px;    
}
.fb-reg-iframe-container #content #one-page-reg-form{
    width:359px;
    left:62px;
    top:108px;
    padding:5px;
    margin:0;
}
.fb-reg-iframe-container #content #one-page-reg-form-bg{display:none;}
.fb-reg-iframe-container #content #one-page-reg-form select{
    width:187px;
    font-size:12px;
    border:2px solid #CDCEDC;
}
.fb-reg-iframe-container #content #one-page-reg-form .select-day, .fb-reg-iframe-container #content #one-page-reg-form .select-month, .fb-reg-iframe-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-iframe-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-iframe-container #content #one-page-reg-form .field input[type="text"], .fb-reg-iframe-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:12px;
    border:2px solid #CDCEDC;
}
.fb-reg-iframe-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-iframe-container #content #ajax-loader{
    width:330px;
    margin:106px 64px;
}
.fb-reg-iframe-container #content #one-page-reg-form .TermsAndConditions{padding-bottom:4px;}
.fb-reg-iframe-container #content #one-page-reg-form .field{font-size:14px;}
.fb-reg-iframe-container #content #one-page-reg-form .Gender,
.fb-reg-iframe-container #content #one-page-reg-form .BirthDate,
.fb-reg-iframe-container #content #one-page-reg-form .JDateReligion,
.fb-reg-iframe-container #content #one-page-reg-form .Password,
.fb-reg-iframe-container #content #one-page-reg-form .EmailAddress,
.fb-reg-iframe-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-iframe-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divCity{padding-bottom:4px}

.fb-reg-iframe-container #content #one-page-reg-form .select-month {margin-right:1px;}
.fb-reg-iframe-container #content #one-page-reg-form .Region .field {padding-bottom:4px;}
.fb-reg-iframe-container #content #one-page-reg-form {font-size:14px;}
.fb-reg-iframe-container #content #one-page-reg-content #fb_after_reg {width:397px;height:560px;background:url("../img/site/jdate-co-uk/fb_after_reg_bg.jpg") no-repeat scroll 0 0 transparent;position:relative;}
.fb-reg-iframe-container #content #one-page-reg-content #fb_after_reg > div {position:absolute;right:26px;}
.fb-reg-iframe-container #content #one-page-reg-content #fb_after_reg > div#buy_container {top:260px;right:60px;}
.fb-reg-iframe-container #content #one-page-reg-content #fb_after_reg > div#complete_container {top:391px}
.fb-reg-iframe-container #content #one-page-reg-content #fb_after_reg > div#matches_container {top:515px}
/* --- facebook reg iframe END --- */

/* --- One Page Reg Template With Top Header START --- */
#min-max-container.splash-header-top #header-logo hr {border: 1px solid #475D73;height: 0;width: 61%;}
#min-max-container.splash-header-top #header-logo div div#header.top_header h1 {clear:both;font-size:23px;text-align:right;padding-top:8px;background:url("../img/site/jdate-fr/splash-new-header-bg.png") top left no-repeat transparent;}
#min-max-container.splash-header-top #content #one-page-reg-content {height:570px;}
#min-max-container.splash-header-top #content #one-page-reg-form {margin:23px 480px;padding:13px 30px;}
#min-max-container.splash-header-top #content #one-page-reg-form > div {padding-bottom:6px;}
#min-max-container.splash-header-top #content #one-page-reg-form-bg {margin:15px 470px;width:470px;}
#min-max-container.splash-header-top #content #ajax-loader {width:427px;margin:23px 480px;}
#min-max-container.splash-header-top #content #one-page-reg-form .Gender select, #min-max-container.splash-header-top #content #one-page-reg-form .SeekingGender select {height:auto;}
#content-container.reg-opr-women .PartnersOffers2 {margin-bottom:6px;}
#content-container.reg-opr-women #footerWrapper #header {height: 9px;}
/* --- One Page Reg Template With Top Header END --- */

/* --- OPR Women START --- */
#content-container.reg-opr-women #content #one-page-reg-content {background:url("../img/site/jdate-co-uk/opr-women.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Women END --- */

/* --- OPR Mature START --- */
#content-container.reg-opr-mature #content #one-page-reg-content {background:url("../img/site/jdate-co-uk/opr-mature.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Mature END --- */

/* --- OPR Winter START --- */
#content-container.reg-opr-winter #content #one-page-reg-content {background:url("../img/site/jdate-co-uk/opr-winter-bg.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Winter END --- */

/* --- OPR Valentine START --- */
#content-container.reg-opr-valentine #content #one-page-reg-content {;background:url("../img/site/jdate-co-uk/opr-valentine-bg.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-valentine #content #one-page-reg-form {margin:23px 547px;padding:13px 10px;}
#content-container.reg-opr-valentine #content #one-page-reg-form-bg {margin:15px 536px;width:433px;}
#content-container.reg-opr-valentine #content #ajax-loader {width:387px;margin:23px 547px;}
/* --- OPR Valentine END --- */

/* Old FB iframes fixes START */
.fb-reg-male-20-35-container #content #fb_after_reg,
.fb-reg-female-20-35-container #content #fb_after_reg,
.fb-reg-female-36-49-container #content #fb_after_reg,
.fb-reg-female-50-70-container #content #fb_after_reg,
.fb-reg-male-50-70-container #content #fb_after_reg,
.fb-reg-male-36-49-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-uk/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:560px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}
.fb-reg-male-20-35-container #content #buy_container,
.fb-reg-female-20-35-container #content #buy_container,
.fb-reg-female-36-49-container #content #buy_container,
.fb-reg-female-50-70-container #content #buy_container,
.fb-reg-male-50-70-container #content #buy_container,
.fb-reg-male-36-49-container #content #buy_container,
.fb-reg-male-20-35-container #content #buy_container{
    left: 98px;
    top: 471px;
    position:absolute;
}
.fb-reg-male-20-35-container #content #complete_container,
.fb-reg-female-20-35-container #content #complete_container,
.fb-reg-female-36-49-container #content #complete_container,
.fb-reg-female-50-70-container #content #complete_container,
.fb-reg-male-50-70-container #content #complete_container,
.fb-reg-male-36-49-container #content #complete_container,
.fb-reg-male-20-35-container #content #complete_container{
    left: 490px;
    top: 477px;
    position:absolute;
}
.fb-reg-male-20-35-container #content #matches_container,
.fb-reg-female-20-35-container #content #matches_container,
.fb-reg-female-36-49-container #content #matches_container,
.fb-reg-female-50-70-container #content #matches_container,
.fb-reg-male-50-70-container #content #matches_container,
.fb-reg-male-36-49-container #content #matches_container,
.fb-reg-male-20-35-container #content #matches_container{
    left: 490px;
    top: 253px;
    position:absolute;
}
/* Old FB iframes fixes END */

/*Mobile reg css code START */
.mobile-reg-container #content{
    background:none repeat scroll 0 0 #fff;
    width:100%;
    height:1200px;
    border:0px;
    padding:0px;
}
.mobile-reg-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-uk/mobile-reg-bg.png") no-repeat scroll 0 0 transparent;
    height:1200px;
    background-size:100% 100%;
    width:100%;
    position:relative;
}
.mobile-reg-container #content #one-page-reg-form select{
    width:100%;
    font-size:36px;
    border:2px solid #CDCEDC;
}
.mobile-reg-container #content #one-page-reg-form .select-day, 
.mobile-reg-container #content #one-page-reg-form .select-month,
.mobile-reg-container #content #one-page-reg-form .select-year
{
    width:33% !important;
}
.mobile-reg-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form .field input
{
    width:100%;
    font-size:36px;
}
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form #TNCInput,
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form #TNCInput input 
{
    font-size:36px;
}
.mobile-reg-container #content #one-page-reg-form .field input[type="text"],
.mobile-reg-container #content #one-page-reg-form .field input[type="password"]{
    width:177px;
    font-size:36px;
    border:2px solid #CDCEDC;
}
.mobile-reg-container #content #one-page-reg-form .Gender,
.mobile-reg-container #content #one-page-reg-form .BirthDate,
.mobile-reg-container #content #one-page-reg-form .JDateReligion,
.mobile-reg-container #content #one-page-reg-form .Password,
.mobile-reg-container #content #one-page-reg-form .EmailAddress,
.mobile-reg-container #content #one-page-reg-form .PartnersOffers2,
.mobile-reg-container #content #one-page-reg-form .TermsAndConditions,
.mobile-reg-container #content #one-page-reg-form #idRegion_divCountry,
.mobile-reg-container #content #one-page-reg-form #idRegion_divState,
.mobile-reg-container #content #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.mobile-reg-container #content #one-page-reg-form .Password 
{
    margin-top:-17px;
}
.mobile-reg-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
.mobile-reg-container #content #one-page-reg-form .field 
{
    float:none;
    font-size:38px;
}
.mobile-reg-container #content #one-page-reg-form .EmailAddress
{
    padding-top:2px;
}
.mobile-reg-container #content #one-page-reg-form .IframeCountry
{
    display:none !important;
}
.mobile-reg-container #content #one-page-reg-form .label
{
    display:none;
    float:none;
    width:auto;
    font-size:38px;
}
.mobile-reg-container #content #one-page-reg-form .select-year 
{
    width:32% !important;
}
.mobile-reg-container #content #one-page-reg-form .BirthDate .field {white-space:nowrap;}
.mobile-reg-container #content #one-page-reg-form .Gender .label,
.mobile-reg-container #content #one-page-reg-form .BirthDate .label
{
    display:block;
}
.mobile-reg-container #content #one-page-reg-form
{
    width:85%;
    right:6%;
    top:15%;
    margin:0;
}
.mobile-reg-container #content #one-page-reg-form-bg
{
    width:93%;
    top:14%;
    right:4%;
    margin:0;
}
.mobile-reg-container #content #one-page-reg-form #TNCText
{
	float: left;
    width: 88%;
    font-size: 36px;
}
.mobile-reg-container #content #one-page-reg-form div.error
{
    width: 165px;
}
.mobile-reg-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:0;
}
.mobile-reg-container #content #one-page-reg-form .submit-btn
{
	margin:10px 0 16px;
	background:url('../img/site/jdate-co-uk/mobile-submit-uk.png') top left no-repeat;
	width:300px;
	height:82px;
}
.mobile-reg-container #content #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:36px;
}
.mobile-reg-container #content #ajax-loader{
    width:84%;
    margin:180px 0 0 7%;
    height:830px !important;
}
.mobile-reg-container #content #ajax-loader div
{
    padding:36% 46%;
}
.mobile-reg-container #content #logo_link
{
    height:40px;
    width:234px;
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
.mobile-reg-container #content #one-page-reg-form div.error {font-size:30px;width:80%}

.mobile-reg-container #content #mobile_after_reg_uk{
    background: url("../img/site/jdate-co-uk/mobile-reg-after-bg-uk.png") no-repeat scroll 0 0 transparent;
    width:100%;
    min-height:1475px;
    background-size:100% 100%;
    right: 0;
    top: 0;
    position:relative;
}

.mobile-reg-container #content #mobile_after_reg_uk #matches_container{
    left: 35%;
    bottom: 135px;
    position:absolute;
    width:30%;
}
.mobile-reg-container #content #mobile_after_reg_uk #matches_container img 
{
    width:300px;
}
.mobile-reg-container #TNCText {
       text-indent:30px;
}
.mobile-reg-container .PartnersOffers2 label 
{
    padding-left:20px;
}
.mobile-reg-container #TNCInput input[type=checkbox]  
{
    width:auto;
    padding-left:10px;
}
.mobile-reg-container input.mandatory.autocomplete.ac_input,
.mobile-reg-container #content #one-page-reg-form #LookupCityLink {display:none;}
/*Mobile reg css code END */

/* Links back to mobile site from FWS */
#linkToMobile {
    background-color: #993366;
    background-image: -moz-linear-gradient(90deg, #521A36 28%, #993366);
    color: white;
    display: block;
    font: bold 24px Arial;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#footer-mobile-nav 
{
    font-size:30px;
    width:952px;
    margin:0 auto;
}
/* --- OPR Rosh Hashana START --- */
#content-container.reg-opr-rosh #content #one-page-reg-content {;background:url("../img/site/jdate-co-uk/splash-rosh-hashana.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-rosh #content #one-page-reg-form {margin:23px 547px;padding:13px 10px;}
#content-container.reg-opr-rosh #content #one-page-reg-form-bg {margin:15px 536px;width:433px;}
#content-container.reg-opr-rosh #content #ajax-loader {width:387px;margin:23px 547px;}
/* --- OPR Rosh Hashana END --- */

/* --- OPR Autumn START --- */
#content-container.reg-opr-autumn #content #one-page-reg-content {;background:url("../img/site/jdate-co-uk/UK_SplashPage_Automn.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-autumn #content #one-page-reg-form {margin:23px 547px;padding:13px 10px;background:url('../img/site/jdate-co-uk/splash-form-opa.png') repeat 0 0 transparent;border:1px solid #FFC500;}
#content-container.reg-opr-autumn #content #one-page-reg-form-bg {display:none;margin:15px 536px;width:433px;}
#content-container.reg-opr-autumn #content #ajax-loader {width:387px;margin:23px 547px;}
#content-container.reg-opr-autumn #content .submit-btn {width:138px;height:45px;margin-top: 8px;background-image:url('../img/site/jdate-co-uk/UK_splash-btn-yellow.png');}
#content-container.reg-opr-autumn #content #one-page-reg-form a {color:#FF0000}
/* --- OPR Autumn END --- */