﻿@charset "UTF-8";
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p{margin-bottom:.4em;}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;margin:0 8px .5em 0;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
    font-size:.68em;
    font-weight:normal;
}
body a, body a:link{
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
body a:visited{
	font-weight:bold;
	text-decoration:none;
}
body a:hover{
	font-weight:bold;
	text-decoration:underline;
}
body a:active{
	font-weight:bold;
	text-decoration:underline;
}
strong{
	font-weight:bold;
}
.not-strong{font-weight:normal;}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
}
    hr.hr-thin{
	    width:98%;
    }
    hr.hr-vertical-spacer{
	    margin:.5em 0;
    }
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
.hide{display:none;}
input, textarea, select {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1em;
    padding: 0.1em;
}
/* ==Base -----*/
body
{
    color: #333333;
}
body a:link
{
    color: #a20405;
}
body a:visited
{
    color: #a20405;
}
body a:hover
{
    color: #a20405;
}
body a:active
{
    color: #a20405;
}
hr
{
    border-top: 1px dotted #CCCCCC;
    border-color: #CCCCCC;
}
/*========= Splash ========*/
#main-splash {
background-image:url("../img/Site/Cupid-co-il/one-page-reg-bck.jpg");
background-repeat:no-repeat;
height:595px;
margin:0 auto;
width:798px;
position: relative;
}

/***** login form ***********/
#login-btn-div {
float:right;
height:33px;
width:109px;
}
#login-img-div {
padding-right:7px;
padding-top:5px;
}
#login-img-div img {
cursor:pointer;
}
#div-login-form {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-topleft:5px;
display:none;
float:right;
line-height:33px;
padding-left:10px;
padding-right:10px;
width:561px;
}
#div-login-form #email {
float:right;
}
#div-login-form #password {
float:right;
padding-right:5px;
}
#div-login-form #btn-send {
float:right;
padding-left:5px;
padding-right:5px;
}
#div-login-form #btn-send img {
    cursor: pointer;
}
/******** Registration box **********/
#registration-box {
float:right;
width:100%;
}
#registration-box #splash-logo {
background:url("../img/Site/Cupid-co-il/splash-logo.jpg") no-repeat scroll 0 0 transparent;
height:83px;
margin-right:138px;
margin-top:11px;
width:120px;
}
#register-form #join-now {
color:#9F0404;
font-size:38px;
}

/************ search box *******/
#div-splash
{
	padding: 10px;
}
#div-splash #search-carousel {
margin:0 auto;
width:798px;
}
#div-splash #search-carousel {
direction:ltr;
}
#div-splash #online-div {
background:url("../img/Site/Cupid-co-il/search-bg.png") no-repeat scroll 0 0 transparent;
height:109px;
margin:10px 0;
}
#div-splash #online-div #search-title {
font-size:25px;
padding:10px 63px 0;
text-align:right;
}
#div-splash #online-div #carousel-title, #search-title {
color:#980000;
font-family:Arial;
font-size:17px;
font-weight:bold;
}
#div-splash #search-carousel #searchDiv {
direction:rtl;
padding-top:15px;
}
#div-splash #online-div #searchDiv div {
float:right;
font-size:16px;
font-weight:bold;
padding-right:15px;
}
.searchSelect {
font-size:14px;
width:80px;
}
#div-splash #online-div #searchDiv #find-btn-div {
position:relative;
right:13px;
top:-25px;
}
/******** Splash Content ***********/
#splash-content {
display:table;
margin:0 auto;
width:798px;
}
#splash-content #splash-content-header {
width:100%;
}
#splash-content #splash-content-header .hover {
background-color:#DEDEDE;
color:#980000;
}
#splash-content #splash-content-header .unhover {
background-color:#7A959C;
color:#FFFFFF;
}
#splash-content #splash-content-header h2 {
-moz-border-radius-topleft:30px;
-moz-border-radius-topright:30px;
cursor:pointer;
line-height:30px;
margin-bottom:0;
margin-left:4px;
text-align:center;
width:24.3%;
}
#splash-content #splash-content-container {
background-color:#DEDEDE;
float:right;
letter-spacing:0.07em;
min-height:360px;
width:788px;
}
#splash-content #splash-content-container .content-title {
font-weight:bold;
line-height:28px;
width:100%;
}
#splash-content #splash-content-container .content-title-2 {
font-weight:bold;
line-height:28px;
padding-top:36px;
width:100%;
}
#splash-content #splash-content-container .content-wrapper {
padding:10px 10px 0;
}
#splash-content #splash-content-container #splash-success-div-2 {
padding-top:24px;
}
/******* Splash Footer ******/
.text-center {
text-align:center;
}
.sub-page-splash20 .vis-info, .sub-page-splash20 #footer{
	margin-top:1.25em;
	}
	
#footer, #footer-narrow {
background-image:url("../img/Site/Cupid-co-il/bg-footer.gif");
background-repeat:repeat-x;
color:#D3DDE7;
}
#footer, #footer-narrow {
clear:both;
direction:rtl;
margin:6em auto 0;
padding:0.4em 0;
width:100%;
}
#footer-container {
margin:0 auto;
padding:0 24px;
width:1014px;
}
#footer ul {
margin-bottom:1em;
}
#footer ul {
margin-bottom:1em;
text-align:right;
}
#footer #footer-links-main {
margin:0 auto;
text-align:center;
width:80%;
 height: 170px;
}
#footer ul {
margin-bottom:1em;
}
#footer ul {
margin-bottom:1em;
text-align:right;
}
.four-column {
float:right;
width:24%;
}
#footer #footer-links-main .footer-group-title {
font-weight:bold;
margin-bottom:5px;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active {
color:#D3DDE7;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active {
font-weight:normal;
}
/******* One Page Reg ******/

#register-form #one-page-reg-form
{
	-moz-border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
    -moz-box-shadow: 0 4px 17px 0 #000000;
    -webkit-box-shadow: 0 4px 17px 0 #000000;
    box-shadow: 0 4px 17px 0 #000000;
    background: url("../img/site/cupid-co-il/arrow-bck.jpg") no-repeat scroll 0 0 #FFFFFF;
    font-size: 18px;
    top: 133px;
    right: 12px;
    padding: 10px;
    position: absolute;
    width: 365px;
}
#register-form #ajax-loader
{
	-moz-border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
    -moz-box-shadow: 0 4px 17px 0 #000000;
    -webkit-box-shadow: 0 4px 17px 0 #000000;
    box-shadow: 0 4px 17px 0 #000000;
    background: url("../img/site/cupid-co-il/arrow-bck.jpg") no-repeat scroll 0 0 #FFFFFF;
    font-size: 18px;
    margin: 6px 12px;
    padding: 10px;
    position: absolute;
    width: 365px;
opacity:0.8;
display:none;
}

#register-form #ajax-loader div
{
padding:50%;
}
#register-form #one-page-reg-form .Gender,#register-form #one-page-reg-form .BirthDate,#register-form #one-page-reg-form .JDateReligion,#register-form #one-page-reg-form .Password,#register-form #one-page-reg-form .EmailAddress
,#register-form #one-page-reg-form .PartnersOffers2,#register-form #one-page-reg-form .TermsAndConditions,#register-form #one-page-reg-form #idRegion_divCountry,#register-form #one-page-reg-form #idRegion_divState,
#register-form #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:10px;
	width:100%;
}
#register-form #one-page-reg-form .Gender
{
	padding-top:30px;
}
#register-form #one-page-reg-form .TermsAndConditions
{
	font-size:14px;
padding-bottom:10px;
text-align:justify;
}
#register-form #one-page-reg-form .PartnersOffers2 .label
{
	display:none;
}
#register-form #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:14px;
	text-align:justify;
}
#register-form #one-page-reg-form .PartnersOffers2 .field
{
	width:auto;
}
#register-form #one-page-reg-form .PartnersOffers2 input
{
	width:auto !important;
}
#register-form #one-page-reg-form .label
{
	float:right;
width:116px;
font-size:14px;
}
#register-form #one-page-reg-form .field
{
font-size:18px;
float:right;
}
#register-form #one-page-reg-form .field input.error
{
	color:#000;
}
#register-form #one-page-reg-form div.error
{
	color:red;
	font-size:12px;
	width: 242px;
	text-align:justify;
}
#register-form #one-page-reg-form .BirthDate .field select
{
	/*width:auto !important;*/
}
#register-form #one-page-reg-form select{width:249px;}
#register-form #one-page-reg-form .field input
{
	width:240px;
}
#register-form #one-page-reg-form label.error
{
	display:block;
}
#register-form #one-page-reg-form .submit-btn
{
	cursor:pointer;
	float:left;
}
#register-form #one-page-reg-form #general-error
{
	text-align:justify;
	display:none;
	font-size:12px;
	color:Red;
}
#register-form #one-page-reg-form #LookupCityLink
{
    float: right;
    font-size: 14px;
    margin-right: 116px;
}
#register-form #one-page-reg-form .Region .field
{
	padding-bottom: 8px;
}
#register-form #one-page-reg-form .select-day
{
	margin-left: 5px;
}
#register-form #one-page-reg-form .select-month
{
	margin-left: 5px;
}
#register-form #one-page-reg-form #TNCInput
{
	float: right;
}
#register-form  #one-page-reg-form #TNCText
{
	float: right;
    width: 93%;
}
#register-form #one-page-reg-form  .Captcha .field 
{
	width:247px;
}
.ie7 #register-form #one-page-reg-form  .Captcha .field
{
	width:249px;
}
#register-form #one-page-reg-form .Captcha .field input
{
	height: 32px;
    width: 69px;
    float:right;
}
.ie7 #register-form #one-page-reg-form  .Captcha .field input
{
	height: 30px;
}
#register-form #one-page-reg-form .Captcha img
{
	  border: 1px inset;
    float: right;
    height: 36px;
    width: 116px;
    margin-right: 5px;
}
#register-form #one-page-reg-form .Captcha #refresh-captcha
{
	border: 1px solid;
    float: right;
    height: 22px;
    margin-right: 5px;
    padding: 7px;
}
#register-form #one-page-reg-form .Captcha .refresh-capcha
{
	border: 0 none;
    cursor: pointer;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
.ie7 #register-form #one-page-reg-form .Captcha .refresh-capcha
{
	float:left;
}
#register-form #one-page-reg-form  .Captcha div.error
{
	float:right;
}
/******** one page reg autocomplete cities *********/
.ac_results iframe
{
	display:none;
}
.ac_results select
{
	font-size:18px;
}