﻿@charset "UTF-8";
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
	color:#333333;
	background:#d8d8d8 url(../img/Community/JDate/bg.png) repeat-x 0 0;
}
h1, h2, h3, h4, h5, h6{margin-bottom:.4em;color:#333}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;margin:0 0 .5em 8px;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
	font-size:.68em;
	font-weight:normal;
}
body a:link{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:hover{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
body a:active{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
p{
	margin-bottom:.4em;
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
	border-top:1px dotted #CCCCCC;
	border-color:#CCCCCC;
}
	hr.hr-thin{
		width:98%;
	}
	hr.hr-vertical-spacer{
		margin:.5em 0;
	}
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
/* ++Base--classes -----*/
.serif{
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help{
	cursor:help;
    cursor:help;
    border-bottom:1px dotted #999999;
}
span.close{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
    color:#999999;
}
em.accent {
	font-style:normal;
	font-weight:bold;
	color:#936;
}
.selected em.accent {
	color:#d7a6bf;
}
.error{
	font-weight:normal;
    color:Red;
}
p.disclaimer{
	margin:1em 8px;
	padding:0;
	font-size:.92em;
	color:#666666;
}
ul.ul-arrow li{
	margin:0 0 .65em 0;
	padding:0 0 0 1em;
	background:url(../img/Community/JDate/bullet-arrow-blk-sm.gif) no-repeat 0 4px;	
}
span.remove-x{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
	color:#999999;
}
.semantic-html label{
	cursor:pointer;
}
.content-headline{
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0;
	padding:0 0.4em;
    background-color:#E8F0D7;
    border-bottom:1px dotted #CCCCCC;
    border-top:1px dotted #CCCCCC;
}
.content-headline {background-color:#eceff2;}
/* ++Base--Notifications/Errors -----*/
.notification{
	display:block;
	padding:1em;
	clear:both;
	font-weight:bold;
	margin:0 6px 0.5em 0;
    border:2px solid #999999;
    background-color:#f2f1df;
}
.notification.error{
    color:#F02E0C;
}
/* ++Base--Buttons -----*/
input, textarea, select{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size:1em;
	padding:.1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:pointer;
}
input[type="submit"], input[type="button"]{
	border:none;
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	background-color:#993366;
	color:White;
}.ie7 input[type="submit"], input[type="button"]{overflow:visible;}
h3 input[type="submit"], h3 input[type="button"]{
	font-size:.82em;
}
input[type="submit"].secondary, input[type="button"].secondary{
	padding:.4em 1em;
	border:1px solid #cccccc;
	background:#fff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
	.ie7 input[type="submit"].secondary, input[type="button"].secondary{padding:.3em 1em}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover{
	text-decoration:underline;
	display:inline-block;
	background-position:50% 47%;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover{
	text-decoration:underline;
	display:inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active{
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
    background-color:#993366;
    color:white;
}
a.link-primary:hover{
	text-decoration:underline;
	color:White;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active{
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
	border:1px solid #cccccc;
	background:#fff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
a.link-secondary:hover{
	text-decoration:underline;
    background-position:50% 47%;
    color:#936;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial ul, .editorial ul ul{
	margin-top:0em;
	margin-bottom:0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-left:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
/* ==Tools  -----*/
.border-gen {
	border:5px solid #ECEFF2;
	margin:.5em;
	padding:1em;
}
.wrapper{
	float:left;
	width:100%;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:left;display:inline;}
.float-outside{float:right;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:left;}
.text-outside{text-align:right;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.two-column{
	float:left;
	width:49.5%;
}
.three-column{
	float:left;
	width:33.3%;
}
.four-column{
	float:left;
	width:24%;
}
.image-text-pair a:hover{
	text-decoration:none;
}
.image-text-pair a span:hover{
	text-decoration:underline;
}	
.border-gen{
	margin:.5em;
	padding:1em;
}
.border-gen img{
	margin-right:.5em;
}
.border-gen img.border-gen-icon{
	margin:.5em .5em 0 0;
}
	.border-gen:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
.border-btm-dotted{
	display:block;
	margin:1em 0;
	padding-bottom:1em;
}
.border-top-dotted{
	margin:1em 0;
	padding-top:1em;
}
.rbox-style-clear, .rbox-style-gradient, .rbox-style-high{
    border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;
}
.rbox-style-clear, .rbox-style-gradient{
    border:4px solid #eceff2;
    background-color:white;
}
.rbox-style-high{
    border:4px solid #E6EFD4;
    background-color:#F2F7E8;
}
.rel-layer-container{
	position:relative;
	display:inline;
}.ie7 .rel-layer-container .rel-layer-div p{width:100%;}
.rel-layer-div{
	position:absolute;
	left:0;
	top:2em;
	padding:8px;
	display:none;
	z-index:1000000;
	width:28em;
    background-color:white;
    border:1px solid #999999;
}
.rel-layer-div h2{
	width:100%;
	white-space:nowrap;
}
.list-of-benefits.rel-layer-div{
	width:556px;
}
/* ++Tools--sprites icons */
.spr-splash{
	display:inline-block;
	vertical-align:text-top;
	text-indent:-9999px;
	text-align:left;
}
/* IE6 */
.ie7 .spr-splash{text-indent:0;}
.ie7 .spr-splash span{text-indent:0;display:none;}
a.spr-parent{
	vertical-align:text-top;
}
a.spr-parent:hover{
	text-decoration:none;
	cursor:pointer;
}

/* ==Structure  -----*/
#min-max-container{
	margin:0 auto;
	padding:0 6px;
	width:974px;
}
#content-main{
	padding:12px;
	margin:8px;
	background-color:#96b1cc;
}

/* ==Components -----*/
/* ++Com--header -----*/
#header{
	margin:12px 0 6px;
}
#header-logo{
	float:left;
	width:655px;
}
#header-logo p {
	padding-top:12px;
}
#header-logo .header-message a.logo{
	float:left;
	margin-right:8px;
	top:-12px;
	position:relative;
}
#header-login{
	float:left;
	width:179px;
}
#header-login a{
	display:block;
	padding:10px 4px;
	margin:4px;
	background-color: #936;
	color:white;
	text-align:center;
	font-size:14px;
}
#header-nav{
	float:left;
	font-size:1.17em;
	margin:6px 8px 0 0;
	width:132px;
}
#header-nav li{
	display:block;
	text-align:right;
	vertical-align:middle;
}
#header-nav li a{
	font-weight:normal;
}
#header-nav li.header-nav-filler{
	padding-top:0.67em;
}
#medialogo{
    margin-top:28px;
}
#medialogo big{
    font-size:12px;
    font-weight:bold;
    text-align: center;
    display:block;
}
#footer{
	clear:both;
	margin:0 auto 0;
	padding:0 12px;
	background-color:#25426B;
	color:#96b1cc;
}
#footer-content{
	width:78em;
	margin:0 auto;
	padding:1em 0;
	background-color:#25426B;
}
#footer ul{
	margin-bottom:1em;
	margin-bottom:1em;
}
#footer ul.nav-footer:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}.ie7 #footer ul.nav-footer{height:1%}
#footer ul.nav-footer li{
	float:left;
	padding-right:.2em;
	white-space:nowrap;
}
#footer .legal-copyright{
	margin-bottom:0;
}
#footer .legal-background-checks{
	text-transform:uppercase;
	font-weight:bold;
	margin-top:.2em;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active{
	font-weight:normal;
	color:#96b1cc;
}
#footer a:hover{
	color:#fff;
}
#footer #footer-links-main{
	width:80%;
	margin:0 auto;
	text-align:center;
}
#footer #footer-links-main .footer-group-title{
	font-size:20px;
    margin-bottom:5px;
}


#marketing-wrap{
	float:left;
	padding:4px;
	position:relative;
	text-align:left;
	width:374px;
}
#marketing-wrap #main-title-img
{
	padding-bottom:16px;
}
ul#splash-bullets{
	display:block;
	float:left;
	margin:0 0 20px 0;
	padding:0 20px 0 0;
	width:350px; 
}
ul#splash-bullets li {
	padding:0 0 5px 23px;
	font-size:16px;
	font-weight:bold;
	background:url(../img/Community/JDate/splash_checkmark.png) no-repeat top left;
	color:#264061;
}

#marketing-wrap big{
	display:block;
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size:3.33em;
	line-height:.95em;
	margin:12px 0 18px;
	text-align:center;
}
#marketing-wrap big span{
	color:#fff;
}
#marketing-wrap big em { display:block;font-size:.53em;font-style:normal;}

#marketing-wrap #cta{
	text-align:center;
	clear:both;
}
#marketing-wrap #cta .link-primary{
	font-size:16px;
	padding:12px;
}
#vis-info{
	padding:12px 0 0;
	color:#666;
} 
#vis-info h1{
	margin-left:0;
}
#vis-info h2{
	margin-bottom:.5em;
	font:2em Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
#vis-info h2 sup{
	font-size:.45em;
	margin-left:-.75em
}

/* img rotator */
#rotator{
	position:relative;
	width:536px;
	height:296px;
	float:left;
	margin-right:1em;
}
#img_contents{
	width:536px;
	height:296px;
	overflow:hidden;
	position:relative;	
}
#img_contents a, 
#fw_Content a:link, 
#img_contents a:visited, 
#img_contents a:hover, 
#img_contents:active{
	border:none;
}
#img_contents img{
	width:536px;
	height:296px;
	border:none;
	position:absolute;
	top:0;
}
#img_controls{
	position:absolute;
	left:0px;
	bottom:0px;
	width:120px;
	height:26px;
	margin:5px;
	display:block;
	z-index:100;
}
#img_controls a{
	float:left;
	width:30px;
	height:24px;
	padding-top:6px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#img_controls ul li, #img_contents ul li{
	list-style-type:none;
}.ie7 #img_controls ul li, .ie7 #img_contents ul li{display:inline;}
#img_controls{
	background-color:#96b1cc;
}
#img_controls a{
	color:#202e42; 
}
#img_controls a.activeSlide, #img_controls a:hover{
	color:#fff; 
	background-position:0 -30px;
	background-color:#202e42;
}

/* CSS3 */
#header-login a{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}
#cta a{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	border-top:1px solid #936;
	border-left:1px solid #936;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}
#content-main {
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	box-shadow:0 0 9px #333333;-moz-box-shadow:0 0 9px #333333;-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
}
/* ++splash-seo */
.sub-page-splash20 .vis-info {
padding:0 0;
}
.sub-page-splash20 .vis-info, .sub-page-splash20 #footer{margin-top:0em;}
.sub-page-splash20 .rotator, .sub-page-splash20 .vis-registration{margin-right:0em;}
.sub-page-splash20 .marketing-wrap big{margin:0.25em 10px 0.5em;}
.sub-page-splash20 .marketing-wrap fieldset.primary-content div.cta-wrapper {
padding:0 0 0 5.5em;
}
#splash-seo{width:960px;padding:0 10px;}
#splash-seo #seo-text h2{font-family:arial;font-size:13px;font-weight:bold;}
#splash-seo #seo-text p{font-size:12px;}
#splash-seo #seo-text{width:78%;float:left;}
#splash-seo #seo-text .item-column{background-color:white;float:left;margin-right:1%;padding:8px 1%;text-align:justify;width:30%;min-height:291px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;}
#splash-seo #seo-text .item{background-color:white;clear:both;margin-bottom:10px;margin-right:1.5%;margin-top:10px;padding:8px 1%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;}
#splash-seo #seo-sidebar{width:22%;float:right;}
#splash-seo #seo-sidebar .item{background-color:white;clear:both;margin-bottom:10px;margin-right:1%;padding:8px 2%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;min-height:150px;}
#splash-seo #seo-sidebar .item p{height:35px;padding-top:15px;margin-bottom:0;}
#splash-seo #seo-sidebar #btn-seo-jmag{margin:10px 0 0;}
#splash-seo #seo-sidebar #btn-seo-register{margin-left:10px;}
.ie7 #splash-seo #seo-sidebar #btn-seo-register img{margin-left:0px;}
#splash-seo .splash-seo-links{color:#666666;font-weight:normal;text-decoration:underline;}
#splash-seo .item h2{font-family:arial;font-size:13px;font-weight:bold;}
#splash-seo .item p{font-size:12px;}