﻿@charset "UTF-8";
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6{margin-bottom:.4em;color:#333}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;margin:0 0 .5em 8px;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
	font-size:.68em;
	font-weight:normal;
}
body a:link{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:hover{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
body a:active{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
p{
	margin-bottom:.4em;
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
	border-top:1px dotted #CCCCCC;
	border-color:#CCCCCC;
}
	hr.hr-thin{
		width:98%;
	}
	hr.hr-vertical-spacer{
		margin:.5em 0;
	}
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
/* ++Base--classes -----*/
.serif{
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help{
	cursor:help;
    cursor:help;
    border-bottom:1px dotted #999999;
}
span.close{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
    color:#999999;
}
em.accent {
	font-style:normal;
	font-weight:bold;
	color:#936;
}
.selected em.accent {
	color:#d7a6bf;
}
.error{
	font-weight:normal;
    color:Red;
}
p.disclaimer{
	margin:1em 8px;
	padding:0;
	font-size:.92em;
	color:#666666;
}
ul.ul-arrow li{
	margin:0 0 .65em 0;
	padding:0 1em 0 0;
	background:url(../img/Community/JDate/bullet-arrow-blk-sm.gif) no-repeat 0 4px;	
}
span.remove-x{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
	color:#999999;
}
.semantic-html label{
	cursor:pointer;
}
.content-headline{
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0;
	padding:0 0.4em;
    background-color:#E8F0D7;
    border-bottom:1px dotted #CCCCCC;
    border-top:1px dotted #CCCCCC;
}
.content-headline {background-color:#eceff2;}
/* ++Base--Notifications/Errors -----*/
.notification{
	display:block;
	padding:1em;
	clear:both;
	font-weight:bold;
	margin:0 0 0.5em 6px;
    border:2px solid #999999;
    background-color:#f2f1df;
}
.notification.error{
    color:#F02E0C;
}
/* ++Base--Buttons -----*/
input, textarea, select{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size:1em;
	padding:.1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:pointer;
}
input[type="submit"], input[type="button"]{
	border:none;
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	background-color:#993366;
	color:White;
}.ie7 input[type="submit"], input[type="button"]{overflow:visible;}
h3 input[type="submit"], h3 input[type="button"]{
	font-size:.82em;
}
input[type="submit"].secondary, input[type="button"].secondary{
	padding:.4em 1em;
	border:1px solid #cccccc;
	background:#fff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
	.ie7 input[type="submit"].secondary, input[type="button"].secondary{padding:.3em 1em}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover{
	text-decoration:underline;
	display:inline-block;
	background-position:50% 47%;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover{
	text-decoration:underline;
	display:inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active{
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
    background-color:#993366;
    color:white;
}
a.link-primary:hover{
	text-decoration:underline;
	color:White;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active{
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
	border:1px solid #cccccc;
	background:#fff url(../img/Community/JDate/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
a.link-secondary:hover{
	text-decoration:underline;
    background-position:50% 47%;
    color:#936;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial ul, .editorial ul ul{
	margin-top:0em;
	margin-bottom:0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-right:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
/* ==Tools  -----*/
.border-gen {
	border:5px solid #ECEFF2;
	margin:.5em;
	padding:1em;
}
.wrapper{
	float:right;
	width:100%;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:right;display:inline;}
.float-outside{float:left;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:right;}
.text-outside{text-align:left;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.two-column{
	float:right;
	width:49.5%;
}
.three-column{
	float:right;
	width:33.3%;
}
.four-column{
	float:right;
	width:20%;
}
.image-text-pair a:hover{
	text-decoration:none;
}
.image-text-pair a span:hover{
	text-decoration:underline;
}	
.border-gen{
	margin:.5em;
	padding:1em;
}
.border-gen img{
	margin-left:.5em;
}
.border-gen img.border-gen-icon{
	margin:.5em 0 0 .5em;
}
	.border-gen:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
.border-btm-dotted{
	display:block;
	margin:1em 0;
	padding-bottom:1em;
}
.border-top-dotted{
	margin:1em 0;
	padding-top:1em;
}
.rbox-style-clear, .rbox-style-gradient, .rbox-style-high{
    border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;
}
.rbox-style-clear, .rbox-style-gradient{
    border:4px solid #eceff2;
    background-color:white;
}
.rbox-style-high{
    border:4px solid #E6EFD4;
    background-color:#F2F7E8;
}
.rel-layer-container{
	position:relative;
	display:inline;
}.ie7 .rel-layer-container .rel-layer-div p{width:100%;}
.rel-layer-div{
	position:absolute;
	right:0;
	top:2em;
	padding:8px;
	display:none;
	z-index:1000000;
	width:28em;
    background-color:white;
    border:1px solid #999999;
}
.rel-layer-div h2{
	width:100%;
	white-space:nowrap;
}
.list-of-benefits.rel-layer-div{
	width:556px;
}
/* ++Tools--sprites icons */
.spr-splash{
	display:inline-block;
	vertical-align:text-top;
	text-indent:-9999px;
	text-align:right;
}
/* IE6 */
.ie7 .spr-splash{text-indent:0;}
.ie7 .spr-splash span{text-indent:0;display:none;}
a.spr-parent{
	vertical-align:text-top;
}
a.spr-parent:hover{
	text-decoration:none;
	cursor:pointer;
}

/* ==Structure  -----*/
#min-max-container{
	margin:0 auto;
	padding:0 6px;
	width:1010px;
}
#content-main{
	padding:12px;
	margin:8px;
	background-color:#96b1cc;
}

/* ==Components -----*/
/* ++Com--header -----*/
#header{
	margin:12px 0 6px;
	position:relative;
}
.ie7 #header{
    z-index: 10010;
}

.ie7 #footerWrapper #header
{
   z-index: 1000; 
}
#header-logo{
	float:right;
	width: 87%;
}
#header-logo div{padding-top:9px;}
#header-logo .header-message a.logo{
	float:right;
	margin-left:8px;
}
#header-login{
	float:right;
	width:144px;
}
#header-login a{
	display:block;
	padding:10px 4px;
	margin:4px;
	background-color: #936;
	color:white;
	text-align:center;
	font-size:14px;
}
#header-nav{
	float:right;
	font-size:1.17em;
	margin:6px 8px 0 0;
	width:132px;
}
#header-nav li{
	display:block;
	text-align:left;
	vertical-align:middle;
}
#header-nav li a{
	font-weight:normal;
}
#header-nav li.header-nav-filler{
	padding-top:0.67em;
}

#footer, #footer-narrow{
	color:#D3DDE7;
	background-image:url(../img/site/JDate-co-il/bg-footer.gif);
	background-repeat:repeat-x;
	margin-top:1.25em;
	clear:both;
	margin-top:1.25em;
	padding:.4em 0;
	direction:rtl;
	width:100%;
}
#footer-narrow{display:none;}

#footer-content{
	width:78em;
	margin:0 auto;
}
.ie7 #footer-content
{
    height:255px;
}
#footer ul{
	margin-bottom:1em;
	margin-bottom:1em;
}
#footer ul.nav-footer:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}.ie7 #footer ul.nav-footer{height:1%}
#footer ul.nav-footer li{
	float:right;
	padding-right:.2em;
	white-space:nowrap;
}
#footer .legal-copyright{
	margin-bottom:0;
}
#footer .legal-background-checks{
	text-transform:uppercase;
	font-weight:bold;
	margin-top:.2em;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active{
	color:#D3DDE7;
}
#footer a:hover{
	color:#fff;
}
#footer #footer-links-main{
	width:100%;
	margin:0 auto;
	text-align:right;
	float:right;
	 height: 222px;
}
#footer #footer-links-main .footer-group-title
{
    font-weight:bold;
    margin-bottom:5px;
}
.fixed-width .footer-container{
	width:78em;
	margin:0 auto;
	}  	

#marketing-wrap{
	float:right;
	padding:4px;
	/*position:relative;*/
	text-align:right;
	/*width:324px;*/
}
ul#splash-bullets{
	display:block;
	float:right;
	margin:0 12px 20px 0;
	padding:0 0 0 10px;
	width:350px; 
}
ul#splash-bullets li {
	padding:0 23px 5px 0;
	font-size:16px;
	font-weight:bold;
	background:url(../img/Community/JDate/splash_checkmark.png) no-repeat top right;
	color:#264061;
}

#marketing-wrap big{
	display:block;
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size:2.93em;
	line-height:.95em;
	margin:12px 0 18px;
	text-align:center;
}
#marketing-wrap big span{
	color:#fff;
}
#marketing-wrap big em { display:block;font-size:.53em;font-style:normal;}

#marketing-wrap #cta{
	text-align:center;
	clear:both;
}
#marketing-wrap #cta .link-primary{
	font-size:16px;
	padding:12px;
}
#vis-info{
	padding:12px 0.5em 0;
	color:#666;
} 
#vis-info h1{
	margin-right:0;
}
#vis-info h2{
	margin-bottom:.5em;
	font:2em Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
#vis-info h2 sup{
	font-size:.45em;
	margin-right:-.75em
}

/* img rotator */
#rotator{
	/*position:relative;*/
	height:296px;
	float:left;
	margin-right:1em;
}
#img_contents{
	width:536px;
	height:296px;
	overflow:hidden;
	position:relative;	
}
#img_contents a, 
#fw_Content a:link, 
#img_contents a:visited, 
#img_contents a:hover, 
#img_contents:active{
	border:none;
}
#img_contents img{
	width:536px;
	height:296px;
	border:none;
	position:absolute;
	top:0;
}
#img_controls{
	position:absolute;
	right:0px;
	bottom:0px;
	width:120px;
	height:26px;
	margin:5px;
	display:block;
	z-index:100;
}
#img_controls a{
	float:right;
	width:30px;
	height:24px;
	padding-top:6px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#img_controls ul li, #img_contents ul li{
	list-style-type:none;
}.ie7 #img_controls ul li, .ie7 #img_contents ul li{display:inline;}
#img_controls{
	background-color:#96b1cc;
}
#img_controls a{
	color:#202e42; 
}
#img_controls a.activeSlide, #img_controls a:hover{
	color:#fff; 
	background-position:0 -30px;
	background-color:#202e42;
}

/* CSS3 */
#header-login a{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#cta a{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	border-top:1px solid #936;
	border-right:1px solid #936;
	border-left:1px solid #333;
	border-bottom:1px solid #333;
}
#content-main {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow:0 0 9px #333333;
	-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
}
/* ++splash-seo */
#splash-seo{width:960px;padding:0 10px;}
#splash-seo #seo-text h2{font-size:13px;font-weight:bold;}
#splash-seo #seo-text p{font-size:12px;}
#splash-seo #seo-text{width:75%;float:right;}
#splash-seo #seo-text .item-column{background-color:white;float:right;margin-left:1%;padding:8px 2%;text-align:justify;width:28%;min-height:320px;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;}
#splash-seo #seo-text .item{background-color:white;clear:both;margin-bottom:10px;margin-left:2%;margin-top:10px;padding:8px 2%;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;}
#splash-seo #seo-sidebar{width:25%;float:left;}
#splash-seo #seo-sidebar .item{background-color:white;clear:both;margin-bottom:10px;margin-left:5%;padding:8px 2%;-moz-border-radius:4px;border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;}
#splash-seo #seo-sidebar #btn-seo-jmag{margin:10px 35px;}
#splash-seo #seo-sidebar #btn-seo-register{margin-right:27px;}
.ie7 #splash-seo #seo-sidebar #btn-seo-register img{margin-right:27px;}
#splash-seo .splash-seo-links{color:#666666;font-weight:normal;text-decoration:underline;}


/* ==One Page Reg  -----*/
#languages
{
float:left;
padding-left:15px;
}
#languages a
{
	color:#1D5181;
	text-decoration:underline;
}
#login-form-btn
{
	float:left;
padding-top:10px;
padding-left:15px;
}
#login-form-btn a
{
	background: none repeat scroll 0pt 0pt rgb(30, 56, 91); 
	color: rgb(255, 255, 255); 
	padding: 5px 16px; 
	display: block; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#loginForm
{
	border:2px solid #285588;
    float:left;
    width:320px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
    display:none;
    position:absolute;
    background:none repeat scroll 0 0 #fff;
    top:19px;
    left:0px;
    z-index:2;
}
.ie7 #loginForm {z-index:10021;}
#loginForm a
{
	color:#333333;
}
#loginForm  #title
{
padding:8px 8px 0;
}
#loginForm #title div
{
	color:#8B92A2;
	float:right;
	width:45%;
}
#loginForm #close-login-div
{
	float:left;
}
#loginForm #login-btn-div
{
	text-align:center;
}
#loginForm #login-inputs
{
	padding:8px;
}
#loginForm #rememberme-div
{
	float:right;
}
#loginForm #forgot-pass-div
{
	float:left;
	margin-top: 3px;
}
#loginForm #rememberme-div,#loginForm #forgot-pass-div{padding:0 8px;}
#content
{
    background:none repeat scroll 0 0 #fff;
    padding:10px;
    width:979px;
    border: 1px solid;
}
#content #one-page-reg-content
{
    /*background:url("../img/site/jdate-co-il/browned-whiteBg.jpg") repeat scroll 0 0 transparent;*/
    position: relative;
}


#content #one-page-reg-form-bg
{
	-moz-border-radius:12px 12px 12px 12px;
	-webkit-border-radius:12px 12px 12px 12px;
	border-radius:12px 12px 12px 12px;
    background:none repeat scroll 0 0 #fff;
    border:1px solid #617506;
    opacity:0.5;
    position:absolute;
    right: 6px;
    top: 48px;
    width: 415px;
}
#content #one-page-reg-form
{
	-moz-border-radius:12px 12px 12px 12px;
	-webkit-border-radius:12px 12px 12px 12px;
	border-radius:12px 12px 12px 12px;
    background:none repeat scroll 0 0 #fff;
    font-size:18px;
    padding: 13px;
    position:absolute;
    right: 13px;
    top: 58px;
    width:377px;
}
#content #ajax-loader
{
	-moz-border-radius:12px 12px 12px 12px;
	-webkit-border-radius:12px 12px 12px 12px;
background:none repeat scroll 0 0 #fff;
font-size: 18px;
    margin: 15px 13px;
    opacity: 0.8;
    padding: 13px;
    position: absolute;
    width: 377px;
    display:none;
}

/*added by Sergey for splash pages --START--*/
#content .default
{
   height:571px;
   background:url("../img/site/jdate-co-il/browned-whiteBg.jpg") repeat scroll 0 0 transparent; 
}
#content .student-dating-signup
{
   background:url("../img/site/jdate-co-il/student-dating-signupBg.jpg") no-repeat scroll 0 0 transparent; 
   height:610px;
}
#content .student-dating-signup #mol-counter{padding-right:20px;}
#content .student-dating-signup #one-page-reg-form-bg{right:20px;top:85px;}
#content .student-dating-signup #one-page-reg-form{right:27px;top:94px;}
#content .student-dating-signup #ajax-loader {margin:51px 27px;}
#content .religious-dating-signup
{
   background:url("../img/site/jdate-co-il/religious-dating-signupBg.jpg") no-repeat scroll 0 0 transparent;
   height:610px; 
}
#content .religious-dating-signup #mol-counter{padding-right:20px;}
#content .religious-dating-signup #one-page-reg-form-bg{right:59px;top:85px;}
#content .religious-dating-signup #one-page-reg-form{right:66px;top:94px;}
#content .religious-dating-signup #ajax-loader {margin:51px 66px;}
#content .dating-for-divorced-signup
{
   background:url("../img/site/jdate-co-il/dating-for-divorced-signupBg.jpg") no-repeat scroll 0 0 transparent; 
   height:610px;
}
#content .dating-for-divorced-signup #mol-counter{padding-right:20px;}
#content .dating-for-divorced-signup #one-page-reg-form-bg{right:20px;top:85px;}
#content .dating-for-divorced-signup #one-page-reg-form{right:27px;top:94px;}
#content .dating-for-divorced-signup #ajax-loader {margin:51px 27px;}
#content .silver-dating-signup
{
   background:url("../img/site/jdate-co-il/silver-dating-signupBg.jpg") no-repeat scroll 0 0 transparent;
   height:610px; 
}
#content .silver-dating-signup #mol-counter{padding-right:20px;}
#content .silver-dating-signup #one-page-reg-form-bg{right:20px;top:85px;}
#content .silver-dating-signup #one-page-reg-form{right:27px;top:94px;}
#content .silver-dating-signup #ajax-loader {margin:51px 27px;}

/*text under bg image div*/
#one-page-reg-tip .student-dating-signup{color:#455425;}
#one-page-reg-tip .silver-dating-signup{color:#30445A;}
#one-page-reg-tip .religious-dating-signup{color:#0B090C;}
#one-page-reg-tip .dating-for-divorced-signup{color:#455425;}


/*added by Sergry for splash pages --END--*/
.ie7 #content-container #content{position:relative;z-index:10007;}
#content #ajax-loader div{padding:50%;}
#content #one-page-reg-form .submit-btn {cursor:pointer;float:left;position: relative;z-index: 10000;background: url('../img/Site/JDate-co-il/join-free-btn.png') top left no-repeat;width:125px;height:34px;}
#content #one-page-reg-form .Gender,#content #one-page-reg-form .BirthDate,#content #one-page-reg-form .JDateReligion,#content #one-page-reg-form .Password,#content #one-page-reg-form .EmailAddress
,#content #one-page-reg-form .PartnersOffers2,#content #one-page-reg-form .TermsAndConditions,#content #one-page-reg-form #idRegion_divCountry,#content #one-page-reg-form #idRegion_divState,
#content #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:10px;
	width:100%;
}
#content #one-page-reg-form .TermsAndConditions
{
	font-size:14px;
padding-bottom:10px;
text-align:justify;
}
#content #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:14px;
	text-align:justify;
}
#content #one-page-reg-form .PartnersOffers2 .label
{
	display:none;
}
#content #one-page-reg-form .PartnersOffers2 .field
{
	width:auto;
}
#content #one-page-reg-form .label
{
	float:right;
width:127px;
font-size:14px;
}
#content #one-page-reg-form .field
{
font-size:18px;
float:right;
}
#content #one-page-reg-form .field input.error
{
	color:#000;
}
#content #one-page-reg-form div.error
{
	color:red;
	font-size:12px;
	width: 243px;
	text-align:justify;
}
#content #one-page-reg-form select
{
	width:249px;
}
#content #one-page-reg-form .field input
{
	width:240px;
}
#content #one-page-reg-form .PartnersOffers2 .field input
{
	width:auto;
}
#content #one-page-reg-form label.error
{
	display:block;
}
#content #one-page-reg-form #general-error
{
	text-align:justify;
	display:none;
	font-size:12px;
	color:Red;
}
#content #one-page-reg-form #LookupCityLink
{
    float: right;
    font-size: 14px;
    margin-right: 130px;
     margin-bottom: 5px;
}
#content #one-page-reg-form .Region .field
{
	padding-bottom: 8px;
}
#content #one-page-reg-form .select-day
{
	margin-left: 5px;
}
#content #one-page-reg-form .select-month
{
	margin-left: 5px;
}
#content #one-page-reg-form #TNCInput
{
	float: right;
}
#content #one-page-reg-form #TNCText
{
	float: right;
    width: 93%;
}
#content #one-page-reg-form  .Captcha .field 
{
	width:250px;
}
#content #one-page-reg-form  .Captcha .field input
{
	height: 32px;
    width: 69px;
    float:right;
}
#content #one-page-reg-form  .Captcha img
{
	  border: 1px inset;
    float: right;
    height: 36px;
    width: 117px;
    margin-right: 5px;
}
#content #one-page-reg-form  .Captcha #refresh-captcha
{
	border: 1px solid;
    float: right;
    height: 22px;
    margin-right: 5px;
    padding: 7px;
}
.ie.lte9.lte8.lte7 #content #one-page-reg-form  .Captcha #refresh-captcha 
{
    margin-right:3px;
}
#content #one-page-reg-form  .Captcha .refresh-capcha
{
	border: 0 none;
    cursor: pointer;
    height: auto;
    padding: 0;
    margin:0;
    width: auto;
}
.ie7 #content #one-page-reg-form  .Captcha .refresh-capcha
{
	margin-right:5px;
}
#content #one-page-reg-form .Captcha div.error
{
	float:right;
}
/******** one page reg autocomplete cities *********/
.ac_results iframe
{
	display:none;
}
.ac_results select
{
	font-size:18px;
}

/******** one page reg footer *************/
    #footerWrapper
    {
background-image:url("../img/site/jdate-co-il/footerBck.jpg");
background-position:center top;
background-repeat:no-repeat;
background-color:#fff;
}
#footerWrapper #content
{
	border:0;
}
#footerWrapper #header
{
    padding-top:18px;
text-align:center;
margin:0;
height: 97px;
}
#footerWrapper #header1
{
    font-size:35px;
font-weight:bold;
 
}
#footerWrapper #header2
{
    font-size:25px;
}
#footerWrapper p,#footerWrapper h1,#footerWrapper h2
{
    color:#475D73;
    margin-bottom:0;
    font-family:Arial;
}
#footerWrapper #footer-content
{
    padding-right:20px;
padding-top:26px;
width:90%;
}
#footerWrapper .contentTitle
{
    font-size:16px;
font-weight:bold;
padding-bottom:3px;
padding-top:19px;
}
#footerWrapper .contentText
{
    line-height:20px;
padding-bottom:20px;
}
#footerWrapper hr
{
    border:1px solid #475D73;
width:61%;
height:0;
}
ul.four-column li{font-size:16px;}
ul.four-column li a{font-size:12px;}
#mol-counter
{
	color: #FFFFFF;
    font-size: 20px;
}
#mol-counter .pink
{
	color:#7D1C4C;
}

/*Ynet iFrame css code START */
.ynet-iframe1-container #content,
.ynet-iframe2-container #content{
    background:none repeat scroll 0 0 #fff;
    width:256px;
    height:500px;
    border:0px;
    padding:0px;
}
.ynet-iframe1-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/ynet_iframe_bg1.png") no-repeat scroll 0 0 transparent;
    height:500px;    
}
.ynet-iframe2-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/ynet_iframe_bg2.png") no-repeat scroll 0 0 transparent;
    height:500px;    
}
.ynet-iframe1-container #content #one-page-reg-form select,
.ynet-iframe2-container #content #one-page-reg-form select{
    width:184px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.ynet-iframe1-container #content #one-page-reg-form .select-day, 
.ynet-iframe1-container #content #one-page-reg-form .select-month,
.ynet-iframe1-container #content #one-page-reg-form .select-year,
.ynet-iframe2-container #content #one-page-reg-form .select-day, 
.ynet-iframe2-container #content #one-page-reg-form .select-month,
.ynet-iframe2-container #content #one-page-reg-form .select-year{
    width:58px !important;
}
.ynet-iframe1-container #content #one-page-reg-form .select-month,
.ynet-iframe2-container #content #one-page-reg-form .select-month{
    margin-left:0px;
    padding:1px 0 1px 1px;
}
.ynet-iframe2-container #content #one-page-reg-form .PartnersOffers2 .field,
.ynet-iframe1-container #content #one-page-reg-form .PartnersOffers2 .field 
{
    font-size:12px;
}
.ynet-iframe1-container #content #one-page-reg-form .field input[type="text"],
.ynet-iframe1-container #content #one-page-reg-form .field input[type="password"],
.ynet-iframe2-container #content #one-page-reg-form .field input[type="text"],
.ynet-iframe2-container #content #one-page-reg-form .field input[type="password"]{
    width:177px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.ynet-iframe1-container #content #one-page-reg-form .Gender,
.ynet-iframe1-container #content #one-page-reg-form .BirthDate,
.ynet-iframe1-container #content #one-page-reg-form .JDateReligion,
.ynet-iframe1-container #content #one-page-reg-form .Password,
.ynet-iframe1-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe1-container #content #one-page-reg-form .PartnersOffers2,
.ynet-iframe1-container #content #one-page-reg-form .TermsAndConditions,
.ynet-iframe1-container #content #one-page-reg-form #idRegion_divCountry,
.ynet-iframe1-container #content #one-page-reg-form #idRegion_divState,
.ynet-iframe1-container #content #one-page-reg-form #idRegion_divCity,
.ynet-iframe2-container #content #one-page-reg-form .Gender,
.ynet-iframe2-container #content #one-page-reg-form .BirthDate,
.ynet-iframe2-container #content #one-page-reg-form .JDateReligion,
.ynet-iframe2-container #content #one-page-reg-form .Password,
.ynet-iframe2-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe2-container #content #one-page-reg-form .PartnersOffers2,
.ynet-iframe2-container #content #one-page-reg-form .TermsAndConditions,
.ynet-iframe2-container #content #one-page-reg-form #idRegion_divCountry,
.ynet-iframe2-container #content #one-page-reg-form #idRegion_divState,
.ynet-iframe2-container #content #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.ynet-iframe1-container #content #one-page-reg-form .Region .field,
.ynet-iframe2-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
.ynet-iframe1-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe2-container #content #one-page-reg-form .EmailAddress
{
    padding-top:2px;
}
.ynet-iframe1-container #content #one-page-reg-form .IframeCountry ,
.ynet-iframe2-container #content #one-page-reg-form .IframeCountry
{
    display:none !important;
}
.ynet-iframe1-container #content #one-page-reg-form .label,
.ynet-iframe2-container #content #one-page-reg-form .label
{
    display:none;
}
.ynet-iframe1-container #content #one-page-reg-form .Gender .label,
.ynet-iframe2-container #content #one-page-reg-form .Gender .label,
.ynet-iframe1-container #content #one-page-reg-form .BirthDate .label,
.ynet-iframe2-container #content #one-page-reg-form .BirthDate .label
{
    display:block;
}
.ynet-iframe1-container #content #one-page-reg-form,
.ynet-iframe2-container #content #one-page-reg-form
{
    width:186px;
    right:22px;
    top:78px;
}
.ynet-iframe1-container #content #one-page-reg-form-bg,
.ynet-iframe2-container #content #one-page-reg-form-bg
{
    width:228px;
    top:68px;
    right:13px;
}
.ynet-iframe1-container #content #one-page-reg-form #TNCText,
.ynet-iframe2-container #content #one-page-reg-form #TNCText
{
	float: right;
    width: 88%;
    font-size: 12px;
}
.ynet-iframe1-container #content #one-page-reg-form div.error,
.ynet-iframe2-container #content #one-page-reg-form div.error
{
    width: 165px;
}
.ynet-iframe1-container #content #one-page-reg-form,
.ynet-iframe2-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:0;
}
.ynet-iframe1-container #content #one-page-reg-form .submit-btn,
.ynet-iframe2-container #content #one-page-reg-form .submit-btn
{
	margin:0 0 4px;
}
.ynet-iframe1-container #content #one-page-reg-form .PartnersOffers2 .field label,
.ynet-iframe2-container #content #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:12px;
}
.ynet-iframe1-container #content #ajax-loader,
.ynet-iframe2-container #content #ajax-loader{
    width:186px;
    margin:78px 22px;
}
.ynet-iframe1-container #content #ajax-loader div, .ynet-iframe2-container #content #ajax-loader div{padding:39%;}
.ynet-iframe1-container #content #logo_link,
.ynet-iframe2-container #content #logo_link
{
    height:40px;
    width:234px;
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
.ynet-iframe1-container #content #after_reg,
.ynet-iframe2-container #content #after_reg
{
    background: url("../img/site/jdate-co-il/after_reg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:439px;
    width:237px;
    right: 9px;
    top: 51px;
    position:relative;
}
.ynet-iframe1-container #content #after_reg_link_container,
.ynet-iframe2-container #content #after_reg_link_container
{
    left: 54px;
    top: 380px;
    position:absolute;
}
/*Ynet iFrame css code END */

/*Facebook iFrames css code START*/

#iframe-container #mol-counter{display:none;}

/* --- male 20-35 START --- */
.fb-reg-male-20-35-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-20-35-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/man_20_35.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-20-35-container #content #one-page-reg-form
{
    width:344px;
    right:42px;
    top:73px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form-bg
{
    width:388px;
    top:63px;
    right:32px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .select-day, .fb-reg-male-20-35-container #content #one-page-reg-form .select-month, .fb-reg-male-20-35-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-male-20-35-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-20-35-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-20-35-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-male-20-35-container #content #ajax-loader{
    width:344px;
    margin:73px 42px;
}
/* --- male 20-35 END --- */

/* --- male 36-49 START --- */
.fb-reg-male-36-49-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-36-49-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/man_36_49.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-36-49-container #content #one-page-reg-form
{
    width:344px;
    right:33px;
    top:69px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form-bg
{
    width:388px;
    top:59px;
    right:23px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .select-day,.fb-reg-male-36-49-container #content #one-page-reg-form .select-month, .fb-reg-male-36-49-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-male-36-49-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-36-49-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-36-49-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-male-36-49-container #content #ajax-loader{
    width:344px;
    margin:69px 33px;
}
/* --- male 36-49 END --- */

/* --- male 50-70 START --- */
.fb-reg-male-50-70-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-male-50-70-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/man_50_70.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-male-50-70-container #content #one-page-reg-form
{
    width:344px;
    right:30px;
    top:71px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form-bg
{
    width:386px;
    top:62px;
    right:21px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .select-day, .fb-reg-male-50-70-container #content #one-page-reg-form .select-month, .fb-reg-male-50-70-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-male-50-70-container #content #one-page-reg-form .field input[type="text"], .fb-reg-male-50-70-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-male-50-70-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-male-50-70-container #content #ajax-loader{
    width:344px;
    margin:71px 30px;
}
/* --- male 50-70 END --- */


/* --- female 20-35 START --- */
.fb-reg-female-20-35-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-20-35-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/woman_20_35.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-20-35-container #content #one-page-reg-form
{
    width:344px;
    right:41px;
    top:67px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form-bg
{
    width:386px;
    top:57px;
    right:32px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .select-day, .fb-reg-female-20-35-container #content #one-page-reg-form .select-month, .fb-reg-female-20-35-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-female-20-35-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-20-35-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-20-35-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-female-20-35-container #content #ajax-loader{
    width:344px;
    margin:67px 41px;
}
/* --- female 20-35 END --- */
/* --- new female 20-35 START --- */
.fb-reg-female-new-20-35-container #content #buy_container
{
    left: 478px;top: 360px;position:absolute;
}
.fb-reg-female-new-20-35-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/woman_new_20_35.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form
{
    width:344px;
    right:41px;
    top:67px;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form-bg
{
    width:386px;
    top:57px;
    right:32px;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form .select-day, .fb-reg-female-new-20-35-container #content #one-page-reg-form .select-month, .fb-reg-female-new-20-35-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-new-20-35-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-new-20-35-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-female-new-20-35-container #content #ajax-loader{
    width:344px;
    margin:67px 41px;
}
/* ---new female 20-35 END --- */
/* --- female 36-49 START --- */
.fb-reg-female-36-49-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-36-49-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/woman_36_49.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-36-49-container #content #one-page-reg-form
{
    width:344px;
    right:40px;
    top:69px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form-bg
{
    width:387px;
    top:59px;
    right:31px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .select-day,.fb-reg-female-36-49-container #content #one-page-reg-form .select-month, .fb-reg-female-36-49-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-female-36-49-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-36-49-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-36-49-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-female-36-49-container #content #ajax-loader{
    width:344px;
    margin:69px 40px;
}
/* --- female 36-49 END --- */

/* --- female 50-70 START --- */
.fb-reg-female-50-70-container #content{
    background:none repeat scroll 0 0 #fff;
    width:724px;
    height:600px;
    border:0px;
    padding:0px;
}
.fb-reg-female-50-70-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/woman_50_70.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}
.fb-reg-female-50-70-container #content #one-page-reg-form
{
    width:344px;
    right:34px;
    top:75px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form-bg
{
    width:387px;
    top:65px;
    right:24px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .select-day, .fb-reg-female-50-70-container #content #one-page-reg-form .select-month, .fb-reg-female-50-70-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-female-50-70-container #content #one-page-reg-form .field input[type="text"], .fb-reg-female-50-70-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.fb-reg-female-50-70-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-female-50-70-container #content #ajax-loader{
    width:344px;
    margin:75px 34px;
}
/* --- female 50-70 END --- */
/* --- facebook reg iframe START --- */
.fb-reg-iframe-container #content{
    background:none repeat scroll 0 0 #fff;
    width:510px;
    height:730px;
    border:0px;
    padding:0px;
}
.fb-reg-iframe-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/fb-reg.jpg") no-repeat scroll 0 0 transparent;
    height:730px;    
}
.fb-reg-iframe-container #content #one-page-reg-form{
    width:344px;
    right:70px;
    top:83px;
    padding:5px;
}
.fb-reg-iframe-container #content #one-page-reg-form-bg{display:none;}
.fb-reg-iframe-container #content #one-page-reg-form select{
    width:187px;
    font-size:12px;
    border:2px solid #CDCEDC;
}
.fb-reg-iframe-container #content #one-page-reg-form .select-day, .fb-reg-iframe-container #content #one-page-reg-form .select-month, .fb-reg-iframe-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.fb-reg-iframe-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.fb-reg-iframe-container #content #one-page-reg-form .field input[type="text"], .fb-reg-iframe-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:12px;
    border:2px solid #CDCEDC;
}
.fb-reg-iframe-container #content #one-page-reg-form div.error{width:212px;}
.fb-reg-iframe-container #content #ajax-loader{
    width:330px;
    margin:80px 69px;
}
.fb-reg-iframe-container #content #one-page-reg-form .TermsAndConditions{padding-bottom:4px;}
.fb-reg-iframe-container #content #one-page-reg-form .field{font-size:14px;}
.fb-reg-iframe-container #content #one-page-reg-form .Gender,
.fb-reg-iframe-container #content #one-page-reg-form .BirthDate,
.fb-reg-iframe-container #content #one-page-reg-form .JDateReligion,
.fb-reg-iframe-container #content #one-page-reg-form .Password,
.fb-reg-iframe-container #content #one-page-reg-form .EmailAddress,
.fb-reg-iframe-container #content #one-page-reg-form .PartnersOffers2,
.fb-reg-iframe-container #content #one-page-reg-form .TermsAndConditions,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divCountry,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divState,
.fb-reg-iframe-container #content #one-page-reg-form #idRegion_divCity{padding-bottom:4px}
.fb-reg-iframe-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:560px;
    width:397px;
    right: 15px;
    top: 10px;
    position:relative;
}
.fb-reg-iframe-container #content #buy_container{
    left: 30px;
    top: 238px;
    position:absolute;
}
.fb-reg-iframe-container #content #complete_container{
    left: 30px;
    top: 503px;
    position:absolute;
}
.fb-reg-iframe-container #content #matches_container{
    left: 30px;
    top: 368px;
    position:absolute;
}
/* --- facebook reg iframe END --- */
/*Facebook iFrames css code END*/
/*JMag iFrame css code START */
.jmag-il-iframe-container #content{
    background:none repeat scroll 0 0 #fff;
    width:310px;
    height:500px;
    border:0px;
    padding:0px;
}
.jmag-il-iframe-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/jmag-iframe-bg.jpg") no-repeat scroll 0 0 transparent;
    height:535px;    
}

.jmag-il-iframe-container #content #one-page-reg-form select{
    width:225px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.jmag-il-iframe-container #content #one-page-reg-form .select-day, 
.jmag-il-iframe-container #content #one-page-reg-form .select-month,
.jmag-il-iframe-container #content #one-page-reg-form .select-year{width:72px !important;}
.jmag-il-iframe-container #content #one-page-reg-form .select-month{margin-left:0px;}
.jmag-il-iframe-container #content #one-page-reg-form .field input[type="text"],
.jmag-il-iframe-container #content #one-page-reg-form .field input[type="password"]{
    width:219px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.jmag-il-iframe-container #content #one-page-reg-form .Gender,
.jmag-il-iframe-container #content #one-page-reg-form .BirthDate,
.jmag-il-iframe-container #content #one-page-reg-form .JDateReligion,
.jmag-il-iframe-container #content #one-page-reg-form .Password,
.jmag-il-iframe-container #content #one-page-reg-form .EmailAddress,
.jmag-il-iframe-container #content #one-page-reg-form .PartnersOffers2,
.jmag-il-iframe-container #content #one-page-reg-form .TermsAndConditions,
.jmag-il-iframe-container #content #one-page-reg-form #idRegion_divCountry,
.jmag-il-iframe-container #content #one-page-reg-form #idRegion_divState,
.jmag-il-iframe-container #content #one-page-reg-form #idRegion_divCity{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.jmag-il-iframe-container #content #one-page-reg-form .Region .field{padding-bottom:4px;}
.jmag-il-iframe-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe2-container #content #one-page-reg-form .EmailAddress{
    padding-top:2px;
}
.jmag-il-iframe-container #content #one-page-reg-form .IframeCountry{display:none !important;}
.jmag-il-iframe-container #content #one-page-reg-form .label{display:none;}
.jmag-il-iframe-container #content #one-page-reg-form .Gender .label,
.jmag-il-iframe-container #content #one-page-reg-form .BirthDate .label{display:block;}
.jmag-il-iframe-container #content #one-page-reg-form
{
    width:226px;
    right:27px;
    top:80px;
}
.jmag-il-iframe-container #content #one-page-reg-form-bg{
    width:268px;
    top:70px;
    right:18px;
}
.jmag-il-iframe-container #content #one-page-reg-form #TNCText
{
	float: right;
    width: 88%;
    font-size: 12px;
}
.jmag-il-iframe-container #content #one-page-reg-form div.error{width: 175px;}
.jmag-il-iframe-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:0;
}
.jmag-il-iframe-container #content #one-page-reg-form .submit-btn{
	margin:10px 0;
}
.jmag-il-iframe-container #content #one-page-reg-form .PartnersOffers2 .field label{
    font-size:12px;
}
.jmag-il-iframe-container #content #ajax-loader{
    width:242px;
    margin:71px 19px;
}
.jmag-il-iframe-container #content #ajax-loader div{padding:39%;}
.jmag-il-iframe-container #content #logo_link{
    display: none!important;
}
.jmag-il-iframe-container #content #after_reg{
    background: url("../img/site/jdate-co-il/after_reg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:439px;
    width:237px;
    right: 34px;
    top: 73px;
    position:relative;
}
.jmag-il-iframe-container #content #after_reg_link_container{
    left: 54px;
    top: 380px;
    position:absolute;
}
.ie7 .jmag-il-iframe-container #content #one-page-reg-form .BirthDate .field {clear:both;width:230px;}
/*JMag iFrame css code END */

/* Splash Hanukkah Reg START */
#content .reg-hanukkah 
{
    background: url("../img/site/jdate-co-il/regHanukkah_bg.jpg") repeat scroll 0 0 transparent;
    height: 570px;
}
#content .reg-hanukkah #mol-counter .pink {color:#B3A38A}
#content .reg-hanukkah #mol-counter {padding:18px 50px 0 0;}
#content .reg-hanukkah #one-page-reg-form-bg {right:50px;top:70px}
#content .reg-hanukkah #one-page-reg-form {right:57px;top:80px;}
/*#content .reg-hanukkah #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
#content .reg-hanukkah #one-page-reg-form .select-day, #content .reg-hanukkah #one-page-reg-form .select-month, #content .reg-hanukkah #one-page-reg-form .select-year{
    width:59px !important;
}
#content .reg-hanukkah #one-page-reg-form .select-month{
    margin-left:0px;
}
#content .reg-hanukkah #one-page-reg-form .field input[type="text"], #content .reg-hanukkah #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
#content .reg-hanukkah #one-page-reg-form div.error{width:212px;}
#content .reg-hanukkah #ajax-loader{
    width:354px;
    margin:19px 68px;
}
#content .reg-hanukkah #one-page-reg-form .Region .field {padding-bottom:4px}
#content .reg-hanukkah #one-page-reg-form .Gender, #content .reg-hanukkah #one-page-reg-form .BirthDate, #content .reg-hanukkah #one-page-reg-form .JDateReligion, #content .reg-hanukkah #one-page-reg-form .Password, #content .reg-hanukkah #one-page-reg-form .EmailAddress, #content .reg-hanukkah #one-page-reg-form .PartnersOffers2, #content .reg-hanukkah #one-page-reg-form .TermsAndConditions, #content .reg-hanukkah #one-page-reg-form #idRegion_divCountry, #content .reg-hanukkah #one-page-reg-form #idRegion_divState, #content .reg-hanukkah #one-page-reg-form #idRegion_divCity {padding-bottom:4px;}
#content .reg-hanukkah #one-page-reg-form .EmailAddress {padding-top:10px;}*//
#content-container.reg-hanukkah #footerWrapper {background:none;}
#content .reg-hanukkah #one-page-reg-form .submit-btn {background: url('../img/Site/JDate-co-il/regHanukkah_btn.png') top left no-repeat;width:163px;height:33px;}
#content .reg-hanukkah #ajax-loader { margin: 19px 57px;}

/*New Year Splash Page START*/
.reg-newyear #content #one-page-reg-content {background: url("../img/site/jdate-co-il/newYearSplash_bg.jpg") no-repeat scroll 0 0 transparent;height:570px;}
.reg-newyear #content #mol-counter {padding:18px 50px 0 0;}
.reg-newyear #content #one-page-reg-form-bg {right:50px;top:70px}
.reg-newyear #content #one-page-reg-form {right:57px;top:80px;}
.reg-newyear #content #one-page-reg-form .submit-btn {background: url('../img/Site/JDate-co-il/regEnterSite_btn.png') top left no-repeat;width:163px;height:33px;}
.reg-newyear #content #ajax-loader { margin: 19px 57px;}
.reg-newyear #content #mol-counter .pink {color:#B3A38A}
.reg-newyear #content #flashOverlay {position:absolute;top:200px;left:40px;width:400px;height:148px;}
/*New Year Splash Page END*/

/* --- One Page Reg Template With Top Header START --- */
#min-max-container.splash-header-top #header-logo hr {border: 1px solid #475D73;height: 0;width: 61%;}
#min-max-container.splash-header-top #header-logo div div#header.top_header h1 {background: url("../img/site/jdate-co-il/splash-new-header-bg.png") no-repeat scroll -95px top transparent;padding-right: 100px;clear:both;font-size:32px;text-align:center;padding-top:8px;}
.ie7 #min-max-container.splash-header-top #header-logo div div#header.top_header h1 {font-size:31px;background-position:569px top;}
#min-max-container.splash-header-top #content #one-page-reg-content {height:570px;}
#min-max-container.splash-header-top #content #one-page-reg-form {margin:0 14px;padding:13px 30px;}
#min-max-container.splash-header-top #content #one-page-reg-form > div {padding-bottom:6px;}
#min-max-container.splash-header-top #content #one-page-reg-form-bg {margin:0 10px;width:456px;}
#min-max-container.splash-header-top #content #ajax-loader {width:411px;margin:16px 27px;}
#min-max-container.splash-header-top #content #one-page-reg-form .Gender select, #min-max-container.splash-header-top #content #one-page-reg-form .SeekingGender select {height:auto;}
#min-max-container.splash-header-top #content .PartnersOffers2 {margin-bottom:6px;}
#min-max-container.splash-header-top #footerWrapper #header {height: 66px;padding-top: 49px;}
/* --- One Page Reg Template With Top Header END --- */

/* --- OPR Women START --- */
#content-container.reg-opr-women #content #one-page-reg-content {background:url("../img/site/jdate-co-il/opr-women.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Women END --- */

/* --- OPR Mature START --- */
#content-container.reg-opr-mature #content #one-page-reg-content {background:url("../img/site/jdate-co-il/opr-mature.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Mature END --- */

/* --- OPR Winter START --- */
#content-container.reg-opr-winter #content #one-page-reg-content {background:url("../img/site/jdate-co-il/opr-winter-bg.jpg") repeat scroll 0 0 transparent;}
/* --- OPR Winter END --- */

/* --- OPR Valentine START --- */
#content-container.reg-opr-valentine #content #one-page-reg-content {background:url("../img/site/jdate-co-il/opr-valentine-bg.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-valentine #content #one-page-reg-form {margin:-5px 2px;padding:13px 10px;}
#content-container.reg-opr-valentine #content #one-page-reg-form-bg {margin:-5px -1px;width:415px;}
#content-container.reg-opr-valentine #content #ajax-loader {width:371px;margin:10px 15px;}
#content-container.reg-opr-valentine #content #mol-counter {color:#000000;}
/* --- OPR Valentine END --- */

/* --- OPR ValentinesV3 START --- */
#content-container.reg-opr-valentines-v3 #content #one-page-reg-content {background:url("../img/site/jdate-co-il/valentinesV3_bg.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-valentines-v3 #content #one-page-reg-content #one-page-reg-form {margin:-5px 2px;padding:13px 10px;}
#content-container.reg-opr-valentines-v3 #content #one-page-reg-content #one-page-reg-form-bg {margin:-5px -1px;width:415px;}
#content-container.reg-opr-valentines-v3 #content #one-page-reg-content #ajax-loader {width:371px;margin:10px 15px;}
#content-container.reg-opr-valentines-v3 #content #one-page-reg-content #mol-counter {color:#000000;}
/* --- OPR ValentinesV3 END --- */

/* --- OPR ValentinesV2 START --- */
#content-container.reg-opr-valentines-v2 #content #one-page-reg-content {background:url("../img/site/jdate-co-il/valentinesV2_bg.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-valentines-v2 #content #one-page-reg-content #one-page-reg-form {margin:-5px 2px;padding:13px 10px;}
#content-container.reg-opr-valentines-v2 #content #one-page-reg-content #one-page-reg-form-bg {margin:-5px -1px;width:415px;}
#content-container.reg-opr-valentines-v2 #content #one-page-reg-content #ajax-loader {width:371px;margin:10px 15px;}
#content-container.reg-opr-valentines-v2 #content #one-page-reg-content #mol-counter {color:#000000;}
/* --- OPR ValentinesV2 END --- */

/* Old FB iframes fixes START */
.fb-reg-male-20-35-container #content #fb_after_reg,
.fb-reg-female-20-35-container #content #fb_after_reg,
.fb-reg-female-36-49-container #content #fb_after_reg,
.fb-reg-female-50-70-container #content #fb_after_reg,
.fb-reg-male-50-70-container #content #fb_after_reg,
.fb-reg-male-36-49-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}
.fb-reg-female-20-35-container #content #buy_container,
.fb-reg-female-36-49-container #content #buy_container,
.fb-reg-female-50-70-container #content #buy_container,
.fb-reg-male-50-70-container #content #buy_container,
.fb-reg-male-36-49-container #content #buy_container,
.fb-reg-male-20-35-container #content #buy_container{
    left: 478px;
    top: 360px;
    position:absolute;
}
.fb-reg-female-20-35-container #content #complete_container,
.fb-reg-female-36-49-container #content #complete_container,
.fb-reg-female-50-70-container #content #complete_container,
.fb-reg-male-50-70-container #content #complete_container,
.fb-reg-male-36-49-container #content #complete_container,
.fb-reg-male-20-35-container #content #complete_container{
    left: 200px;
    top: 428px;
    position:absolute;
}
.fb-reg-female-20-35-container #content #matches_container,
.fb-reg-female-36-49-container #content #matches_container,
.fb-reg-female-50-70-container #content #matches_container,
.fb-reg-male-50-70-container #content #matches_container,
.fb-reg-male-36-49-container #content #matches_container,
.fb-reg-male-20-35-container #content #matches_container{
    left: 200px;
    top: 217px;
    position:absolute;
}

.fb-reg-male-new-20-35-container #content #fb_after_reg,
.fb-reg-female-new-20-35-container #content #fb_after_reg,
.fb-reg-female-new-36-49-container #content #fb_after_reg,
.fb-reg-female-new-50-70-container #content #fb_after_reg,
.fb-reg-male-new-50-70-container #content #fb_after_reg,
.fb-reg-male-new-36-49-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}
.fb-reg-female-new-20-35-container #content #buy_container,
.fb-reg-female-new-36-49-container #content #buy_container,
.fb-reg-female-new-50-70-container #content #buy_container,
.fb-reg-male-new-50-70-container #content #buy_container,
.fb-reg-male-new-36-49-container #content #buy_container,
.fb-reg-male-new-20-35-container #content #buy_container{
    left: 478px;
    top: 360px;
    position:absolute;
}
.fb-reg-female-new-20-35-container #content #complete_container,
.fb-reg-female-new-36-49-container #content #complete_container,
.fb-reg-female-new-50-70-container #content #complete_container,
.fb-reg-male-new-50-70-container #content #complete_container,
.fb-reg-male-new-36-49-container #content #complete_container,
.fb-reg-male-new-20-35-container #content #complete_container{
    left: 200px;
    top: 428px;
    position:absolute;
}
.fb-reg-female-new-20-35-container #content #matches_container,
.fb-reg-female-new-36-49-container #content #matches_container,
.fb-reg-female-new-50-70-container #content #matches_container,
.fb-reg-male-new-50-70-container #content #matches_container,
.fb-reg-male-new-36-49-container #content #matches_container,
.fb-reg-male-new-20-35-container #content #matches_container{
    left: 200px;
    top: 217px;
    position:absolute;
}
/* Old FB iframes fixes END */

/* --- Spring Splash '12 START --- */
#content-container.reg-spring12 #content #one-page-reg-content {background:url("../img/site/jdate-co-il/spring12_bg.jpg") repeat scroll 0 0 transparent;}
/* --- Spring Splash '12 --- */

/*Mobile reg css code START */
.mobile-reg-container #content{
    background:none repeat scroll 0 0 #fff;
    width:100%;
    height:1200px;
    border:0px;
    padding:0px;
}
.mobile-reg-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/mobile-reg-bg.png") no-repeat scroll 0 0 transparent;
    height:1200px;
    background-size:100% 100%;
    width:100%;
}
.mobile-reg-container #content #one-page-reg-form select{
    width:100%;
    font-size:36px;
    border:2px solid #CDCEDC;
    text-align:right;
    direction:rtl;
}
.mobile-reg-container #content #one-page-reg-form .select-day, 
.mobile-reg-container #content #one-page-reg-form .select-month,
.mobile-reg-container #content #one-page-reg-form .select-year
{
    width:33% !important;
}
.mobile-reg-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form .field input
{
    width:100%;
    font-size:36px;
}
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form #TNCInput,
.mobile-reg-container #content #one-page-reg-content #one-page-reg-form #TNCInput input 
{
    font-size:36px;
}
.mobile-reg-container #content #one-page-reg-form .field input[type="text"],
.mobile-reg-container #content #one-page-reg-form .field input[type="password"]{
    width:177px;
    font-size:36px;
    border:2px solid #CDCEDC;
}
.mobile-reg-container #content #one-page-reg-form .Gender,
.mobile-reg-container #content #one-page-reg-form .BirthDate,
.mobile-reg-container #content #one-page-reg-form .JDateReligion,
.mobile-reg-container #content #one-page-reg-form .Password,
.mobile-reg-container #content #one-page-reg-form .EmailAddress,
.mobile-reg-container #content #one-page-reg-form .PartnersOffers2,
.mobile-reg-container #content #one-page-reg-form .TermsAndConditions,
.mobile-reg-container #content #one-page-reg-form #idRegion_divCountry,
.mobile-reg-container #content #one-page-reg-form #idRegion_divState,
.mobile-reg-container #content #one-page-reg-form #idRegion_divCity
{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.mobile-reg-container #content #one-page-reg-form .Password 
{
    margin-top:-17px;
}
.mobile-reg-container #content #one-page-reg-form .Region .field
{
    padding-bottom:4px;
}
.mobile-reg-container #content #one-page-reg-form .field 
{
    float:none;
    font-size:38px;
    text-align:right;
    direction:rtl;
}
.mobile-reg-container #content #one-page-reg-form .EmailAddress
{
    padding-top:2px;
}
.mobile-reg-container #content #one-page-reg-form .IframeCountry
{
    display:none !important;
}
.mobile-reg-container #content #one-page-reg-form .label
{
    display:none;
    float:none;
    width:auto;
    font-size:38px;
}
.mobile-reg-container #content #one-page-reg-form .select-year 
{
    width:32% !important;
}
.mobile-reg-container #content #one-page-reg-form .BirthDate .field {white-space:nowrap;}
.mobile-reg-container #content #one-page-reg-form .Gender .label,
.mobile-reg-container #content #one-page-reg-form .BirthDate .label
{
    display:block;
}
.mobile-reg-container #content #one-page-reg-form
{
    width:85%;
    right:6%;
    top:15%;
}
.mobile-reg-container #content #one-page-reg-form-bg
{
    width:93%;
    top:14%;
    right:4%;
}
.mobile-reg-container #content #one-page-reg-form #TNCText
{
	float: right;
    width: 88%;
    font-size: 36px;
}
.mobile-reg-container #content #one-page-reg-form div.error
{
    width: 165px;
}
.mobile-reg-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:0;
}
.mobile-reg-container #content #one-page-reg-form .submit-btn
{
	margin:10px 0 16px;
	background:url('../img/site/jdate-co-il/mobile-submit.png') top left no-repeat;
	width:300px;
	height:82px;
}
.mobile-reg-container #content #one-page-reg-form .PartnersOffers2 .field label
{
	font-size:36px;
}
.mobile-reg-container #content #ajax-loader{
    width:84%;
    margin:180px 7% 0 0;
    height:733px !important;
}
.mobile-reg-container #content #ajax-loader div
{
    padding:36% 46%;
}
.mobile-reg-container #content #logo_link
{
    height:40px;
    width:234px;
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
.mobile-reg-container #content #one-page-reg-form div.error {font-size:30px;width:80%}

.mobile-reg-container #content #mobile_after_reg{
    background: url("../img/site/jdate-co-il/mobile-reg-after-bg.png") no-repeat scroll 0 0 transparent;
    width:100%;
    min-height:1475px;
    background-size:100% 100%;
    right: 0;
    top: 0;
    position:relative;
}

.mobile-reg-container #content #mobile_after_reg #matches_container{
    left: 30%;
    bottom: 95px;
    position:absolute;
    width:20%;
}
.mobile-reg-container #content #mobile_after_reg #matches_container img 
{
    min-width:300px;
}
.mobile-reg-container #TNCText {
       text-indent:40px;
}
.mobile-reg-container .PartnersOffers2 label 
{
    padding-right:30px;
}
.mobile-reg-container input[type=checkbox]  
{
    width:20px !important;
	-webkit-transform: scale(3,3) !important;
}
.mobile-reg-container input.mandatory.autocomplete.ac_input {display:none;}
/*Mobile reg css code END */

/* Links back to mobile site from FWS */
#linkToMobile {
    background-color: #993366;
    background-image: -moz-linear-gradient(90deg, #521A36 28%, #993366);
    color: white;
    display: block;
    font: bold 24px Arial;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#footer-mobile-nav 
{
    font-size:30px;
}
/* --- Summer Splash '12 START --- */
#content-container.reg-summer #content #one-page-reg-content {background:url("../img/site/jdate-co-il/summer_splash_bg.jpg") repeat scroll 0 0 transparent;}
/* --- Spring Splash '12 --- */

/*Walla iFrame css code START */
.walla-iframe-container #content{
    background:none repeat scroll 0 0 #fff;
    width:300px;
    height:600px;
    border:0px;
    padding:0px;
}
.walla-iframe-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/walla-iframe-bg.jpg") no-repeat scroll 0 0 transparent;
    height:600px;    
}

.walla-iframe-container #content #one-page-reg-form select{
    width:225px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.walla-iframe-container #content #one-page-reg-form .select-day, 
.walla-iframe-container #content #one-page-reg-form .select-month,
.walla-iframe-container #content #one-page-reg-form .select-year{width:72px !important;}
.walla-iframe-container #content #one-page-reg-form .select-month{margin-left:0px;}
.walla-iframe-container #content #one-page-reg-form .field input[type="text"],
.walla-iframe-container #content #one-page-reg-form .field input[type="password"]{
    width:219px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.walla-iframe-container #content #one-page-reg-form .Gender,
.walla-iframe-container #content #one-page-reg-form .BirthDate,
.walla-iframe-container #content #one-page-reg-form .JDateReligion,
.walla-iframe-container #content #one-page-reg-form .Password,
.walla-iframe-container #content #one-page-reg-form .EmailAddress,
.walla-iframe-container #content #one-page-reg-form .PartnersOffers2,
.walla-iframe-container #content #one-page-reg-form .TermsAndConditions,
.walla-iframe-container #content #one-page-reg-form #idRegion_divCountry,
.walla-iframe-container #content #one-page-reg-form #idRegion_divState,
.walla-iframe-container #content #one-page-reg-form #idRegion_divCity{
	float:right;
	padding-bottom:4px;
	width:100%;
}
.walla-iframe-container #content #one-page-reg-form .Region .field{padding-bottom:4px;}
.walla-iframe-container #content #one-page-reg-form .EmailAddress,
.ynet-iframe2-container #content #one-page-reg-form .EmailAddress{
    padding-top:2px;
}
.walla-iframe-container #content #one-page-reg-form .IframeCountry{display:none !important;}
.walla-iframe-container #content #one-page-reg-form .label{display:none;}
.walla-iframe-container #content #one-page-reg-form .Gender .label,
.walla-iframe-container #content #one-page-reg-form .BirthDate .label{display:block;}
.walla-iframe-container #content #one-page-reg-form
{
    width:226px;
    right:27px;
    top:140px;
}
.walla-iframe-container #content #one-page-reg-form-bg{
    width:268px;
    top:130px;
    right:18px;
    border:none;
    padding-bottom:56px;
}
.walla-iframe-container #content #one-page-reg-form #TNCText
{
	float: right;
    width: 87%;
    font-size: 12px;
}
.walla-iframe-container #content #one-page-reg-form div.error{width: 175px;}
.walla-iframe-container #content #one-page-reg-form
{
    padding-top: 5px;
    padding-bottom:30px;
}
.walla-iframe-container #content #one-page-reg-form .submit-btn{
	margin:10px 0;
	position:absolute;
	bottom:-36px;
	left:56px;
	width:141px;
	background-image:url("../img/site/jdate-co-il/jmag_iframe_btn.png");
}
.walla-iframe-container #content #one-page-reg-form .PartnersOffers2 .field label{
    font-size:12px;
}
.walla-iframe-container #content #ajax-loader{
    width:221px;
    margin:131px 27px;
    padding-bottom:30px;
}
.walla-iframe-container #content #ajax-loader div{padding:39%;}
.walla-iframe-container #content #logo_link{
    display: none!important;
}
.walla-iframe-container #content #after_reg_walla{
    background: url("../img/site/jdate-co-il/walla-iframe-thank.jpg") no-repeat scroll 0 0 transparent;
    height:600px;
    width:300px;
    right: 0;
    top: 0;
    position:relative;
}
.walla-iframe-container #content #after_reg_walla #matches_container{
    left: 64px;
    bottom: 13px;
    position:absolute;
}
.ie7 .walla-iframe-container #content #one-page-reg-form .BirthDate .field {clear:both;width:230px;}
/*Walla iFrame css code END */

/* --- walla fb reg iframe START --- */
.walla-fb-container #content{
    background:none repeat scroll 0 0 #fff;
    width:810px;
    height:560px;
    border:0px;
    padding:0px;
}
.walla-fb-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/walla-fb-bg.jpg") no-repeat scroll 0 0 transparent;
    height:560px;    
}
.walla-fb-container #content #one-page-reg-form{
    width:324px;
    right:40px;
    top:123px;
    padding:25px 25px 15px;
}
.walla-fb-container #content #one-page-reg-form .label {font-size;16px;}
.walla-fb-container #content #one-page-reg-form-bg{top:114px;right:31px;border:none;padding:13px 13px 3px;width:367px;}
.walla-fb-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.walla-fb-container #content #one-page-reg-form .select-day, .walla-fb-container #content #one-page-reg-form .select-month, .walla-fb-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.walla-fb-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.walla-fb-container #content #one-page-reg-form .field input[type="text"], .walla-fb-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.walla-fb-container #content #one-page-reg-form div.error{width:auto;}
.walla-fb-container #content #ajax-loader{
    width:348px;
    margin:124px 40px;
}
.walla-fb-container #content #one-page-reg-form .TermsAndConditions{padding-bottom:8px;}
.walla-fb-container #content #one-page-reg-form .field{font-size:14px;}
.walla-fb-container #content #one-page-reg-form .Gender,
.walla-fb-container #content #one-page-reg-form .BirthDate,
.walla-fb-container #content #one-page-reg-form .JDateReligion,
.walla-fb-container #content #one-page-reg-form .Password,
.walla-fb-container #content #one-page-reg-form .EmailAddress,
.walla-fb-container #content #one-page-reg-form .PartnersOffers2,
.walla-fb-container #content #one-page-reg-form .TermsAndConditions,
.walla-fb-container #content #one-page-reg-form #idRegion_divCountry,
.walla-fb-container #content #one-page-reg-form #idRegion_divState,
.walla-fb-container #content #one-page-reg-form #idRegion_divCity{padding-bottom:8px}
.walla-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:560px;
    width:397px;
    right: 15px;
    top: 10px;
    position:relative;
}
.walla-fb-container #content #buy_container{
    left: 30px;
    top: 238px;
    position:absolute;
}
.walla-fb-container #content #complete_container{
    left: 30px;
    top: 503px;
    position:absolute;
}
.walla-fb-container #content #matches_container{
    left: 30px;
    top: 368px;
    position:absolute;
}
.walla-fb-container #content #one-page-reg-form .submit-btn {width:215px;height:33px;margin-top:7px;background-image:url('../img/site/jdate-co-il/sign-now-blue.png');}

.walla-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}
.walla-fb-container #content #buy_container{
    left: 478px;
    top: 360px;
    position:absolute;
}
.walla-fb-container #content #complete_container{
    left: 200px;
    top: 428px;
    position:absolute;
}
.walla-fb-container #content #matches_container{
    left: 200px;
    top: 217px;
    position:absolute;
}

.walla-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}

.walla-fb-container #content #buy_container{
    left: 478px;
    top: 360px;
    position:absolute;
}

.walla-fb-container #content #complete_container{
    left: 200px;
    top: 428px;
    position:absolute;
}

.walla-fb-container #content #matches_container{
    left: 200px;
    top: 217px;
    position:absolute;
}
/* --- facebook reg iframe END --- */

/* --- dating in the dark fb reg iframe START --- */
.ditd-fb-container #content{
    background:none repeat scroll 0 0 #fff;
    width:810px;
    height:560px;
    border:0px;
    padding:0px;
}
.ditd-fb-container #content #one-page-reg-content{
    background: url("../img/site/jdate-co-il/ditd-fb-bg.jpg") no-repeat scroll 0 0 transparent;
    height:560px;    
}
.ditd-fb-container #content #one-page-reg-form{
    width:324px;
    right:40px;
    top:123px;
    padding:25px 25px 15px;
}
.ditd-fb-container #content #one-page-reg-form .label {font-size;16px;}
.ditd-fb-container #content #one-page-reg-form-bg{top:114px;right:31px;border:none;padding:13px 13px 3px;width:367px;}
.ditd-fb-container #content #one-page-reg-form select{
    width:187px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.ditd-fb-container #content #one-page-reg-form .select-day, .ditd-fb-container #content #one-page-reg-form .select-month, .ditd-fb-container #content #one-page-reg-form .select-year{
    width:59px !important;
}
.ditd-fb-container #content #one-page-reg-form .select-month{
    margin-left:0px;
}
.ditd-fb-container #content #one-page-reg-form .field input[type="text"], .ditd-fb-container #content #one-page-reg-form .field input[type="password"]{
    width:180px;
    font-size:14px;
    border:2px solid #CDCEDC;
}
.ditd-fb-container #content #one-page-reg-form div.error{width:auto;}
.ditd-fb-container #content #ajax-loader{
    width:348px;
    margin:124px 40px;
}
.ditd-fb-container #content #one-page-reg-form .TermsAndConditions{padding-bottom:8px;}
.ditd-fb-container #content #one-page-reg-form .field{font-size:14px;}
.ditd-fb-container #content #one-page-reg-form .Gender,
.ditd-fb-container #content #one-page-reg-form .BirthDate,
.ditd-fb-container #content #one-page-reg-form .JDateReligion,
.ditd-fb-container #content #one-page-reg-form .Password,
.ditd-fb-container #content #one-page-reg-form .EmailAddress,
.ditd-fb-container #content #one-page-reg-form .PartnersOffers2,
.ditd-fb-container #content #one-page-reg-form .TermsAndConditions,
.ditd-fb-container #content #one-page-reg-form #idRegion_divCountry,
.ditd-fb-container #content #one-page-reg-form #idRegion_divState,
.ditd-fb-container #content #one-page-reg-form #idRegion_divCity{padding-bottom:8px}
.ditd-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg.jpg") no-repeat scroll 0 0 transparent;
    height:560px;
    width:397px;
    right: 15px;
    top: 10px;
    position:relative;
}
.ditd-fb-container #content #one-page-reg-form .submit-btn {width:215px;height:33px;margin-top:7px;background-image:url('../img/site/jdate-co-il/sign-now-blue.png');}

.ditd-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}

.ditd-fb-container #content #fb_after_reg{
    background: url("../img/site/jdate-co-il/fb_afterreg_bg_old.jpg") no-repeat scroll 0 0 transparent;
    height:503px;
    width:739px;
    right: 15px;
    top: 10px;
    position:relative;
}

.ditd-fb-container #content #buy_container{
    left: 402px;
    top: 421px;
    position:absolute;
}

.ditd-fb-container #content #complete_container{
    left: 65px;
    top: 455px;
    position:absolute;
}

.ditd-fb-container #content #matches_container{
    left: 65px;
    top: 245px;
    position:absolute;
}
#after-reg-ditd{
    background: url("../img/site/jdate-co-il/fb-thankyou-tl.jpg") no-repeat scroll 0 0 #fff;
    height:562px;
    width:860px;
    right: 0;
    top: 0;
    position:relative;
}
/* --- ditd facebook reg iframe END --- */

/* adding new column to the footer menu only on il */
#footer #footer-links-main .four-column.hide {display:block;}

/* --- OPR Rosh Hashana START --- */
#content-container.reg-opr-rosh #content #one-page-reg-content {background:url("../img/site/jdate-co-il/splash-rosh-hashana.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-rosh #content #one-page-reg-content #mol-counter {color:#938F83}
#content-container.reg-opr-rosh #content #one-page-reg-form {padding:13px 6px;width:380px;right:0;}
#content-container.reg-opr-rosh #content #one-page-reg-form-bg {width:406px;right:-4px;}
#content-container.reg-opr-rosh #content #ajax-loader {width:364px;margin:14px;}
#content-container.reg-opr-rosh #content #ajax-loader div {padding:45%}
/* --- OPR Rosh Hashana END --- */

/* --- OPR Autumn START --- */
#content-container.reg-opr-autumn #content #one-page-reg-content {background:url("../img/site/jdate-co-il/splash-fall-bg.jpg") repeat scroll 0 0 transparent;}
#content-container.reg-opr-autumn #content #one-page-reg-content #mol-counter {background:url('../img/site/jdate-co-il/splash-fall-mol.png') repeat 0 0 transparent;color: #000000;float: right;font-weight: bold;margin: 15px 30px;padding: 0 10px 0 30px;}
#content-container.reg-opr-autumn #content #one-page-reg-form {padding:13px 6px;width:380px;right:25px;top:85px;}
#content-container.reg-opr-autumn #content #one-page-reg-form-bg {width:413px;right:19px;top:76px;border:0 none;}
#content-container.reg-opr-autumn #content #ajax-loader {width:365px;margin:14px;margin: 85px 39px;border-radius:12px;}
#content-container.reg-opr-autumn #content #ajax-loader div {padding:45%;}
/* --- OPR Autumn END --- */
