@import url('structure-ltr-blessed1.css');
#video-navlist li { display: inline; padding-left: 10px; }
#video-navlist li a { padding-left: 10px; }

.video-preview { float: left; width: 48%; margin-left: 10px; min-width: 308px; }
.video-preview p { padding-right: 10px; }
.video-preview .week-on { font-weight: bold; }
.video-preview h2 { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-weight: lighter; }
.video-preview h3 { margin-right: 10px; }
.video-preview .small-test { font-weight: normal; }
.video-preview .screen { margin-bottom: 10px; }

#video-background { width: 100%; }
#video-background .video-player { width: 956px; margin: 0 auto; }

.small-register-logo { font-size: small; }

.page-video #content-main-video { margin: 1em 300px 0 0; }

.page-video #content-promo-video { float: left; display: inline; width: 300px; margin: 1em 0 0 -300px; }

/* ++Pages--Account history */
#account-current { padding: 1em; }

#account-history { padding: 1em 0; }
#account-history h2.account-history { font-size: 1.25em; padding: 0.2em 0.5em; }
#account-history h3.account-history { font-size: 1em; padding: 0.2em 1em; margin-bottom: 0; }
#account-history p.account-history { padding: 1em; }
#account-history .account-history-item { padding: 4px 1em 3em; }
#account-history dd.account-history-cell-plan { width: 100%; margin: 0; }

#account-current .cell-plan h2, #account-history .cell-plan h2, #account-history .sub_planContent h2 { font-weight: normal; font-size: 1em; margin: 0; padding: 0; }

#financialaccount-history h2.financialaccount-history { font-size: 1.25em; padding: 0.2em 0.5em; }
#financialaccount-history h3.financialaccount-history { font-size: 1em; padding: 0.2em 1em; margin-bottom: 0; }
#financialaccount-history p.financialaccount-history { padding: 1em; }
#financialaccount-history .financialaccount-history-item { padding: 4px 1em 3em; }
#financialaccount-history dd.financialaccount-history-cell-plan { width: 100%; margin: 0; }

#nonfinancialaccount-history h2.nonfinancialaccount-history { font-size: 1.25em; padding: 0.2em 0.5em; }
#nonfinancialaccount-history h3.nonfinancialaccount-history { font-size: 1em; padding: 0.2em 1em; margin-bottom: 0; }
#nonfinancialaccount-history p.nonfinancialaccount-history { padding: 1em; }
#nonfinancialaccount-history .nonfinancialaccount-history-item { padding: 4px 1em 3em; }
#nonfinancialaccount-history dd.nonfinancialaccount-history-cell-plan { width: 100%; margin: 0; }

.sub-page-history20 .no-col-header .rel-layer-container, .sub-page-history20 .no-col-header .plan-includes { display: none; }

.sub-page-history20 .cell-plan.no-col-header { height: 5.67em; }

#sub-conf-continue { position: relative; }
#sub-conf-continue .primary { position: absolute; top: -4em; right: 0em; }

#opt-out { border: 0px; text-align: center; }

#email-address { display: block; }

/* ++Pages--Groups */
.group, #group-tabs, #group-members, #group-create, #group-member-list, .sub-page-groupmembers #results-container { margin: 0 12px; }

#group-list li { margin: 16px 0; }

#group-list li h2, .featured-group h2, #group-prelogin-cta h2, #group-postlogin-cta h2 { font-size: 1.5em; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-weight: normal; margin: 0; }

#group-list li h2 a { font-weight: normal; }

#group-list .group-tmb { float: left; width: 100px; height: 80px; }

.header-options .group-tmb { float: left; width: 92px; height: 80px; }

#group-list .group-info { padding-left: 100px; }

#group-list .group-info .group-creator { display: block; }

.featured-group h1, .group h1 { margin-left: 0; display: block; float: none; }

#group-member-list .group-info { padding-left: 92px; }

.group-info h1 { margin: 0; }

.featured-group h2, .group h2 { font-weight: normal; }

.featured-group h2 a, .group h2 a { font-weight: normal; }

.featured-group .group-info, .group .group-info { padding-left: 192px; }

.featured-group .group-photo, .group .group-photo { float: left; margin: 0 0 24px; width: 192px; }

#group-prelogin-cta, #group-postlogin-cta { padding: 12px; clear: both; margin: 24px 12px; }

#group-postlogin-cta { text-align: center; }

#group-prelogin-cta a { display: block; float: right; color: #fff; text-decoration: none; width: 120px; height: 58px; text-align: center; text-transform: uppercase; padding: 12px 22px 0; margin: 0 0 0 12px; font-weight: bold; }

.group input.group-join { font-size: .5em; position: relative; top: -.5em; }

.group .group-contact { margin-top: 1em; }

.group .group-summary { clear: both; margin: 16px 0 24px; }

.featured-group .group-summary { clear: none; margin: 16px 0 24px; }

#group-create h1 { margin-left: 0; }
#group-create dl { max-width: 550px; margin: 2em 0; }
#group-create dl input[type="submit"] { width: auto; }
#group-create dl input[type="text"], #group-create dl select { width: 250px; }
#group-create dl textarea { width: 90%; height: 8em; }

/* ++ Pages - Omnidate */
div.item.omnidate { position: relative; z-index: 1; }

.results .actions div.item.omnidate, .action-omnidate div.item.omnidate { display: inline; float: none; }

.results .actions div.item.omnidate input[type="button"], .action-omnidate div.item.omnidate input[type="button"] { padding: 0; vertical-align: middle; }

.results.list-view .actions div.item.omnidate { display: block; float: left; }

div.omnidate-hover { position: absolute; left: -40px; text-align: left; width: 250px; padding: 6px 6px 12px; z-index: 2; white-space: normal; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

div.omnidate-hover img { float: left; margin: 0 6px 12px 0; }

div.omnidate-hover h3 { font-size: 1.3em; font-weight: normal; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; }

div.omnidate-hover strong.currently-dating { display: block; clear: both; margin: .5em 0 0; }

li.action-omnidate { width: 33%; }

#profile-full-comm.omnidate-on li.action-online, #profile-full-comm.omnidate-on li.action-hot-list { width: 33%; }

.ie8 input#Avatar1 { vertical-align: middle; margin-top: -2px; }

#memberPhotoEdit .btnEditPhoto { height: 25px; vertical-align: bottom; }

/* ++Pages Bogo management */
.bogo-management .bogo-management-cont { margin-left: 6%; }
.bogo-management .bogo-management-cont .spr-bullets { margin-left: -21px; }
.bogo-management > h1, .bogo-management p { margin: 1em 0; }
.bogo-management input[type="text"] { border: 1px solid grey; }
.bogo-management input[type="text"].email-bad { border: 1px solid red; }
.bogo-management input[type="text"].email-good { border: 1px solid green; }

/* ==Retrofitted classic CSS - classic controls that show up on 2.0 pages */
/* Message settings */
/* new styles for message settings page */
.prefContainer p { margin: 0; line-height: 2em; }

.prefContainer:after { content: ""; display: block; height: 0; clear: both; }

.prefContainer input { margin: 0; padding: 0; }

.prefSubContainer { padding: 4px 8px 0 8px; display: block; }

.prefMSDivider { margin: 32px 8px 4px 8px; font-weight: bold; font-size: 12px; padding-bottom: 4px; }

.messageSettingsHelpParagraph { padding: 0 24px 0 24px; }

.messageSettingsHelpParagraphHide { text-align: right; }

.page-email.sub-page-messagesettingsnew .prefHeader { padding-left: .4em; }

/* edit registration */
.js body.page-memberprofile #content-main #prefBorder { display: none; }

.profile-edit-row .item { width: 32%; max-width: 20em; float: left; display: inline; min-width: 16em; }

body.page-memberprofile .full-width { width: 98%; margin-top: 1em; }

body.page-memberprofile .full-width-20em { width: 20em; }

.edit-profile-form-table { width: 100%; }

/* show/hide settings */
.sub-page-displaysettings .displaysettings-wrapper { margin: 1em; }

.sub-page-displaysettings .displaysettings-wrapper p strong { display: block; margin-top: 1em; padding: .5em 0; }

.sub-page-displaysettings .displaysettings-wrapper p span { display: block; margin: 1em 0 1em 3em; }

/* ARICLE PAGE POSITIONING ELEMENTS*/
.imgLeft { clear: left; float: left; margin-right: .5em; }

.imgRight { clear: right; float: right; margin-left: .5em; }

.alignRTL { text-align: right; }

.alignLTR { text-align: left; }

.essaytitle { font-weight: bold; }

/* Quick Search */
#searchPopupDiv { display: none; z-index: 1000; position: absolute; width: 360px; }

.shadowBox { float: left; }

#shadowBoxContent { border: none; position: relative; left: -4px; top: -4px; }

#shadowBoxContainer { position: relative; margin: 4px; }

/* reg perferences */
.prefBorder { width: 592px; margin-top: 0px; clear: right; position: relative; }

.prefBorder h2 { padding: 4px; display: block; font-size: 14px; line-height: 15px; }

.prefBorder h3 { font-size: 12px; margin: 0px; padding: 6px; }

.prefBorder h4 { font-size: 11px; margin: 0px; padding: 6px; display: inline; }

.prefSearchPRInfoCont { height: 16px; padding-top: 2px; }

.prefSearchPRInfoContOne { float: left; padding: 3px 0 0 0; }

.prefSearchPRInfoContOne select { margin-top: -2px; }

.prefSearchPRInfoContDynamic { float: left; position: relative; padding: .5em .5em .5em 1.7em; margin-top: 1.35em; margin-bottom: 1em; width: auto; z-index: 1000; }

/* search preferences */
.search-pref-option-container { clear: both; padding: 8px 6px 6px 20px; margin: 0px; /*max-width:58em;*/ }

.search-pref-option-container:after { content: ""; display: block; height: 0; clear: both; }

.search-pref-option-container li { float: left; width: 32%; padding-bottom: 6px; margin: 0px; list-style: none; }

.search-pref-option-container input { margin: 0; margin-right: 4px; }

.preferencesContainerHeight { width: 150px; text-align: right; margin: 0; padding: 0; display: block; }

/* Search pref */
.search-pref-header { font-weight: bold; cursor: pointer; display: block; clear: both; overflow: hidden; padding: .5em 11.5em .5em 1em; position: relative; }

.search-pref-header .s-icon-arrow-down { margin-left: -5px; }

.search-pref-selected-option { font-weight: normal; padding: 0 .5em; overflow: hidden; display: inline; }

.search-pref-container { clear: both; width: 100%; }

.search-pref-container:after { content: ""; display: block; height: 0; clear: both; }

.search-pref-container .RegDropDown { width: 100px; }

.prefSearchPrefHeader { font-weight: bold; padding: 1.5em .5em .5em .5em; }

/* search pref region picker styles */
.prefRegionPickerContainer { width: 350px; position: relative; }

.prefRegionPickerHeader { padding: 6px 8px 6px 4px; margin-bottom: 6px; }

.prefRegionPickerHeader img { vertical-align: baseline; }

.prefRegionPickerPopupClose { position: absolute; right: 6px; top: 6px; }

.prefRegionPickerTabsContainer { padding: 6px 8px 8px 8px; margin-top: 0px; margin-bottom: 6px; }

.prefRegionPickerFormTitle { width: 86px; text-align: right; float: left; position: relative; padding: 4px 0px 4px 4px; }

.prefRegionPickerFormInput { width: 220px; float: left; position: relative; padding: 4px; }

.prefRegionPickerItems { height: 40px; }

.prefRegionPickerCityLinks { position: absolute; width: 114px; top: 2px; left: 144px; }

/* TABLE AREA WITH BORDER USED IN PREFERENCES PAGE, ETC. */
#prefTab { width: 97%; float: none; display: block; margin: 0 auto; margin-top: 1em; }

#prefTab .prefTabItem { cursor: pointer; display: inline-block; padding: .5em; text-align: center; }

#prefTab .prefTabItemActive { display: inline-block; padding: .5em; text-align: center; font-weight: bold; }

/* ++IM ALERT */
#content-promo #IMAlerts { position: fixed !important; }

#content-container #IMAlert { display: block; width: 20em; margin-bottom: .4em; z-index: 1000; }

#content-container .AlertTable td { float: left; vertical-align: top; }

#content-container .AlertTable td.alertTableProfileImage { width: 56px; }

#content-container .AlertTable td.alertTableProfileInfo { width: 150px; padding-top: .4em; }

#content-container .IMAlert .profileImageHover { margin: .4em; }

#content-container .IMAlertHeader { line-height: 1.8em; }

#content-container .IMAlertHeader img { vertical-align: middle; }

#content-container .IMAlertHeader td { padding: .4em; }

#content-container .IMAlert { display: block; width: 20em; margin-bottom: .4em; line-height: 1em; }

#content-container .AlertHead { width: 100%; padding: .4em; font-weight: bold; }

.alertTableProfileInfo .IM-mutual-yes { display: block; }

.alertTableProfileInfo .IM-cta { display: block; margin: .5em 0; }

#content-container .highlightProfileInfo { position: absolute; text-align: center; z-index: 201; padding-bottom: 1em; }

#content-container #hp-hero .highlightProfileInfo { width: 27em; top: 0px; left: 20px; }

#content-container .hotlist-home .highlightProfileInfo { width: 23em; top: -16em; left: 0px; }

#content-container .your-matches .highlightProfileInfo { width: 23em; top: -16em; right: 0px; }

#content-container .results.gallery-view .highlightProfileInfo { width: 93%; top: 1em; right: 0.6em; }

#content-container .results.list-view .highlightProfileInfo { top: 1.6em; width: 31em; right: 0.6em; }

#content-container .results .highlightProfileInfo h2 { margin: 16px auto 1em auto; float: none; }

#content-container .results .highlightProfileInfo p { margin: 1em 2em 0 2em; }

#content-container .results .boxContent1 img.highlightProfileImage { display: block; float: right; margin: -22px 2px 0 0; }

#content-container .results .photoGallery img.highlightProfileImage { position: absolute; margin: 174px 0 0 -22px; }

#content-container .results .spotlightProfile .highlightProfileInfo { top: 0; left: -114px; }

#content-container .results .highlightProfileImage { display: block; float: right; margin: 0 2px 0 0; }

#content-container .highlightProfileInfo .highlightProfileInfoClose { text-align: right; padding: 1em 1em 0 1em; }

#content-container .results.photo-view .highlightProfileInfo .highlightProfileInfoClose { position: absolute; right: 4px; top: 2px; margin: 0; padding: 0; }

#content-container .results.photo-view .highlightProfileInfo h2 { margin: 0px 1em .5em 1em; float: none; }

#content-container .results.photo-view .highlightProfileInfo p { margin: 0 2px; padding: 0 0 0.5em; }

#content-container .results.photo-view .highlightProfileInfo { top: 0; right: 0; font-size: .92em; width: 13em; }

.comment-block { clear: both; padding: 12px; position: relative; margin-top: 16px; background-color: #E8F0D7; }
.comment-block:before { content: "\25B2"; left: 24px; display: block; position: absolute; top: -18px; font-size: 18px; color: #E8F0D7; }
.comment-block input[type="submit"] { vertical-align: bottom; margin-top: 8px; }
.comment-block textarea { min-height: 60px; padding: 2px; width: 100%; }
.comment-block .close { position: absolute; top: 0; right: 2px; display: block; font-weight: bold; padding: 4px; cursor: pointer; color: #993366; }
.comment-block .close:hover { text-decoration: underline; }
.comment-block h2 { font-size: 12px; }
.comment-block .confirmation { font-weight: bold; }

/* Notification on Profile Activity - from structure - notification */
#activityFeedTabContent .outer-wrapper { min-height: 93px; }
#activityFeedTabContent li.item { font-size: .92em; float: left; line-height: 29px; width: 626px; margin-bottom: 2px; }
#activityFeedTabContent li.item img { float: left; margin-right: .5em; }
#activityFeedTabContent .feed .message { float: left; width: auto; padding: 0; margin-right: .5em; }
#activityFeedTabContent .feed .date { float: left; width: auto; padding: 0; }
#activityFeedTabContent .control button.vertstrip-next { margin-top: 50px; }
#activityFeedTabContent .feed .view-more { border-top: 1px dotted #333; padding: 0 1%; margin-top: .5em; }

/* Notification Nav Module - from structure - notification */
#vertstripNotificationsNav { border: 2px solid #212c42; border-top: none; background: url("../img/Community/JDate/ui-favs-bdr.png") no-repeat left -98px #fff; min-height: 196px; position: absolute !important; top: 2.75em; width: 400px; z-index: 10000; }
#vertstripNotificationsNav .feed { float: left; margin: .5em 0 0 .5em; overflow: hidden; width: 368px; }
#vertstripNotificationsNav .control { float: right; position: relative; width: 20px; }
#vertstripNotificationsNav .control button { background: none; border: none; }
#vertstripNotificationsNav li.item { min-height: 40px; margin: 0 2px 2px 0; padding: 3px 0; font-size: .92em; }
#vertstripNotificationsNav .edit { border-top: 1px dotted #999; padding: .25em .5em; font-size: .92em; }
#vertstripNotificationsNav .edit a { font-weight: normal; }
#vertstripNotificationsNav button.vertstrip-next-notifications-nav { margin-top: 130px; }
#vertstripNotificationsNav li.view-more { background-color: #fff; font-weight: normal; padding: .5em; }
#vertstripNotificationsNav li.item img, #vertstripNotificationsNav li.item .message { margin-right: .5em; }
#vertstripNotificationsNav li.item img.thumb-news { float: left; }
#vertstripNotificationsNav .feed-wrapper { padding-bottom: 8px; }

.s-icon-notification-sub, .s-icon-notification-match, .s-icon-notification-nudges { float: left; margin: .5em; }

/* Notification Newsfeed - from structure - notification */
#notifications .feed { min-height: 40em; clear: both; }
#notifications .feed ul { padding: 10px 0px 20px 20px; }
#notifications .feed li { font-size: 1.2em; font-weight: bold; margin-bottom: .5em; border-bottom: 1px dotted #ccc; }
.ie #notifications .feed li { margin-bottom: 0px; }
#notifications .feed li.item { font-size: 1em; font-weight: normal; border-bottom: none; line-height: 29px; height: 29px; }

/* ++Social Nav - from 101 notification */
div.announcement { background-color: #fee89f; }

/* Notification - from 101 notification */
#vertstripNotificationsNav li.item:nth-child(2n+1), #notifications li.item:nth-child(2n+1) { background-color: #F7F7F7; }

.feed li.item .date { color: #999; }

/* ++Com -- Newsfeed */
.newsfeed { clear: both; }
.newsfeed .item { clear: both; padding: 15px 0 15px 10px; border-top: 1px dotted #ccc; }
.newsfeed .item > div, .newsfeed .item > ul { float: left; }
.newsfeed .item .image { width: 54px; min-height: 24px; margin: 0 1em 0 0; }
.newsfeed .item .image > a { width: 54px; height: 70px; border: 1px solid #fff; display: inline-block; }
.newsfeed .item .image > a:hover { border: 1px solid #936; }
.newsfeed .item .image img { width: 54px; height: 70px; }
.newsfeed .item .image .spr { margin: 1em; }
.newsfeed .item .message > li { line-height: 1.5em; }
.newsfeed .item .info, .newsfeed .item .time { display: block; color: #999; }
.newsfeed .item .action { float: right; text-align: center; }
.newsfeed .action .notice { min-height: .25em; }
.newsfeed .action .notice .spr { vertical-align: -4px; }
.newsfeed .action .notice em { display: inline-block; padding: 0 0 0 4px; font: normal 11px Arial; text-transform: uppercase; }
.newsfeed .action .cta { width: 106px; padding: 10px; }

.newsfeed-container { position: relative; clear: both; }
.newsfeed-container .more-link, .newsfeed-container .no-more-message { display: block; padding: .5em; clear: both; text-align: center; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; }
.newsfeed-container .no-more-message { display: none; }
.newsfeed-container .loading.spinner-only { background: #fff url(../img/ajax-loader.gif) no-repeat 50% 50%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

.no-newsfeed-container { clear: both; padding: 20px 60px; border: 1px solid #eee; border-radius: 8px; }
.no-newsfeed-container > em { font: normal normal 11px Arial; line-height: 2em; color: #999; }
.no-newsfeed-container li { clear: both; padding: 1.25em 0 0 0; color: #999; }
.no-newsfeed-container li img { float: left; margin: 0 1.5em 0 0; border: 1px solid #ddd; }
.no-newsfeed-container h3 { font: 14px Georgia; }

/* ++Com -- Newsfeed - Homepage 4.0 */
.page-home .newsfeed .message { max-width: 460px; }

.page-home .newsfeed .action { width: 140px; }

.full-width .newsfeed { clear: none; }
.full-width .newsfeed .item { padding-left: 0; border-top: none; }
.full-width .newsfeed .item .image { background-color: #c4d8e4; }
.full-width .newsfeed .item .image, .full-width .newsfeed .item .image > a, .full-width .newsfeed .item .image img { width: 78px; max-width: 78px; height: 100px; overflow: hidden; }
.full-width .newsfeed .item .image .spr { margin: 2em 0 0 2.5em; }
.full-width .newsfeed .item .image .s-icon-b-notification-nudges { margin: 28px 0 0 10px; }
.full-width .newsfeed .message { color: #7c7c7c; font-size: 13px; }
.full-width .newsfeed .message a { color: #202E42; }
.full-width .newsfeed .message .time { font-style: italic; color: #7c7c7c; }
.full-width .newsfeed + .more-link { display: block; clear: both; padding-top: 1em; font-size: 16px; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; color: #25426B; text-align: center; }

.full-width .feeds blockquote { padding: 1em; margin-bottom: 2em; font-size: 16px; font-weight: bold; text-align: center; color: #25426B; }

.full-width .no-newsfeed { color: #7c7c7c; font-size: 14px; }
.full-width .no-newsfeed a { color: #25426B; }
.full-width .no-newsfeed > li { margin: 1em 0; }
.full-width .no-newsfeed .image { float: left; display: block; width: 148px; overflow: hidden; margin-right: 1em; margin-bottom: 2em; }
.full-width .no-newsfeed .image > img { margin-left: -20px; }
.full-width .no-newsfeed h3 { font-size: 16px; }

/* ++Com -- More */
.more-content { position: absolute; left: 0; bottom: 0; width: 1000px; padding: 16px; clear: both; background-color: #ECEFF2; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.more-content > ul { padding: 20px 0; background-color: #fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.more-content > ul > li { float: left; width: 33.3%; padding: 0 20px; }
.more-content > ul > li:first-child + li { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.more-content .thumb { display: block; float: left; padding: 2px; margin: 0 1em 3em 0; border: 1px solid #ccc; }
.more-content .thumb + h2, .more-content .thumb ~ p { margin: 0 0 4px 100px; }
.more-content .desc, .more-content ol a { font: normal 11px Arial; color: #999; }
.more-content .desc a { font: normal 11px Arial; }
.more-content .desc .read-more { margin: 0 0 0 .5em; }
.more-content ol { clear: both; min-height: 4.5em; }
.more-content ol li { line-height: 1.5em; margin: 0; padding: 0; }
.more-content ol li.col-1 { margin-left: 0em; }
.more-content ol li.col-2 { margin-left: 11em; }
.more-content ol li.reset { margin-top: -4.5em; }
.more-content .ir { display: block; text-indent: -9999em; background: url(../img/Community/JDate/ui-sprite-more-items.png) no-repeat 0 0; }
.more-content .ir.jmag { width: 72px; height: 38px; background-position: 0 -36px; }
.more-content .ir.success { width: 184px; height: 28px; background-position: 0 0; }
.more-content .ir.events { width: 136px; height: 44px; background-position: -72px -36px; }
.more-content .ir.mobile { width: 171px; height: 22px; background-position: 0 -78px; }

/* ++Com -- Profile activity */
.hotlist-stats .profile-activity { padding: 4px 6px; }
.profile-activity .pic { float: left; }
.profile-activity .no-photo { width: 38px; height: 50px; padding: 12px 0 0 0; font-size: 10px !important; }
.ie9 .profile-activity .no-photo { width: 39px; }
.profile-activity .info { float: left; text-align: left; margin: 2px 0 0 8px; }
.profile-activity .info h2 { font-size: 12px; margin: 0; }
.profile-activity .info h2 a { color: #202e42; }
.profile-activity .info > a { display: block; font-size: 11px; }

/* ++Pages--Activity center */
#activity-center { padding: 4px; }
#activity-center h2 { margin: 0; font-size: 13px; }
#activity-center .activity { display: none; }
#activity-center .activity-profile-info { float: left; width: 214px; position: relative; padding: 4px; }
#activity-center .activity-profile-pic { width: 62px; float: left; padding: 4px; }
#activity-center .activity-profile-pic .no-photo { width: 54px; height: 70px; display: block; padding-top: 20px; }
#activity-center .activity-profile-info-short { float: right; width: 220px; position: relative; padding-top: 1em; }
#activity-center ul.profile-completion { display: block; width: 66px; float: left; padding: 0; margin: 0; }
#activity-center .profile-completion li { float: left; margin: 0 1px; padding: 0; width: 11px; height: 11px; padding-top: 2px; display: block; }
#activity-center .profile-completion li a { display: block; width: 11px; height: 11px; }
#activity-center .profile-completion li img { vertical-align: baseline; }
#activity-center .manage-item { display: block; padding-left: 8px; background: transparent url(../img/Community/Spark/icon-arrow-nolink.gif) no-repeat left center; margin-top: 2px; }

.sub-page-error #activity-center .activity-profile-info { width: 265px; }

/* ++Com -- Viewed your profile */
.viewed-your-profile { min-height: 300px; }
.viewed-your-profile .more { display: block; clear: both; margin: 10px; text-align: center; }
.viewed-your-profile .picture { width: 72px; height: 92px; }
.viewed-your-profile .picture a:link, .viewed-your-profile .picture .ask a:link { width: 72px; height: 92px; }
.viewed-your-profile .picture img { width: 70px !important; height: 90px !important; }
.viewed-your-profile .picture .ask { background-size: 70px 90px; background-position: center top; }
.viewed-your-profile .picture .ask-me { display: inline-block; margin: 34px 0 0 0; }
.viewed-your-profile .no-profile { clear: both; padding: 14px; }

/* ++Pages--Question and Answer COMBINED */
.qanda { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; margin: 0 auto; position: relative; background-color: #ECEFF2; }

.page-home .qanda { margin: 6px 0; width: auto; border: none; border-top: 1px dotted #999; position: static; background-color: #F7F7F7; }

#qanda-no-answers { background-color: white; margin: 8px; padding: 8px 8px 8px 53px; }

#qanda-no-answers big { font-size: 150%; color: #25426b; }

.page-home .qanda h2.component-header { margin: 2px 12px 0; color: #333; }

.page-questionanswer .qanda.border-box { border: none; margin-right: 8px; }

.page-questionanswer .qanda h2.component-header { display: none; }

.qanda .mini-a-module { margin: 0 8px 12px; background-color: #fff; padding: 4px; overflow: hidden; border-top: 1px dotted #ccc; }

.qanda .mini-a-module h2.component-header { margin: 2px 4px 0; font-size: 12px; }

.qanda .mini-a-module h2.component-header a { font-weight: normal; }

.qanda .mini-a-module h2.component-header #answer-count { font-size: 12px; font-weight: normal; }

.qanda .mini-q-module, .qanda .q-module { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; clear: both; position: relative; background-color: #eceff2; }

.qanda .mini-q-module { padding: 12px 20px; margin: 0 8px 0; }

.qanda .q-module { padding: 12px 24px 0; }

.qanda .question { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; }

.qanda .question a { font-weight: normal; }

.qanda .mini-q-module .question, .qanda .q-module .question { font-size: 1.5em; }

.qanda .mini-q-module .q, .qanda .q-module .q { font-size: 30px; }

.qanda .mini-q-module .answer, .qanda .q-module .answer { margin-left: 30px; text-indent: -30px; }

.qanda .mini-q-module .a, .qanda .q-module .a { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 30px; }

.mini-q-module .answer .answer-input, .q-module .answer .answer-input { margin-top: -2.5em; }

.mini-q-module .answer .answer-input textarea, .q-module .answer .answer-input textarea { display: block; width: 100%; height: 50px; padding: 4px; overflow-x: hidden; }

.mini-q-module .answer .answer-links { text-align: right; }

.mini-q-module .answer .answer-links, .q-module .answer .answer-links { margin-top: 4px; text-indent: 0; }

.answer-links a.stf { float: left; display: block; margin: 4px 0; }

.answer-links a.next { float: left; display: block; margin: 4px 0; border-left: 1px solid #999999; margin-left: 1em; padding-left: 1em; }

.like-your-answer, .like-your-answer a:link { font-weight: normal; font-size: 11px; }

.q-module .like-your-answer, .mini-q-module .like-your-answer { float: right; padding-top: 4px; color: #777; }

.q-module .answer .answer-links input.secondary { float: right; }

.mini-a-module .answer-profile { clear: both; margin: 16px 0; }

.a-module { background-color: #fff; margin: 18px 8px 8px; padding: 0 0 8px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

/* answer profile base class */
.answer-profile { clear: both; margin: 20px 12px 0 0; padding: 0 0 0 12px; }

.answer-profile .actions { width: 20px; float: right; text-align: left; position: relative; }

.answer-profile .member-pic { float: left; width: 75px; height: 74px; position: relative; z-index: 2; background: transparent url(../img/ui-qanda-bubble-tip-bg.png) no-repeat 0 -10px; margin-right: -1px; }

.answer-profile .answer-container { float: left; width: 548px; }

.answer-profile .answer-body { min-height: 32px; padding: 16px; position: relative; margin-bottom: 4px; border: 1px solid #ccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: 0 1px 6px #ccc; -webkit-box-shadow: 0 1px 6px #ccc; box-shadow: 0 1px 6px #ccc; }

.answer-profile .member-comment { clear: both; padding: 12px; position: relative; margin-top: 16px; background-color: #eceff2; }

.answer-profile .member-comment:before { content: "\25B2"; left: 24px; display: block; position: absolute; top: -18px; font-size: 18px; color: #eceff2; }

.answer-profile .member-comment input { vertical-align: bottom; position: relative; left: 12px; margin-bottom: 8px; }

.answer-profile .member-comment textarea { width: 392px; min-height: 56px; padding: 2px; }

.answer-profile .member-comment .close { position: absolute; top: 0; right: 0; display: block; padding: 4px; cursor: pointer; font-weight: bold; color: #936; }

.answer-profile .member-comment .close:hover { text-decoration: underline; }

.answer-profile .member-comment h2 { font-size: 12px; }

.answer-profile .member-info-cont { float: left; display: block; width: 74%; }

.answer-profile .answer-info { float: right; display: block; width: 24%; text-align: left; }

.answer-profile .member-info-cont .member-values { font-size: 11px; }

.answer-profile .member-info-cont .timestamp { white-space: nowrap; }

/* .mini-a-module answer profile overrides */
.mini-a-module .answer-profile { padding: 0; }

.mini-a-module .answer-profile .answer-container { width: 586px; }

.mini-a-module .answer-profile .member-comment textarea { width: 432px; }

/* full profile answer styles and overrides */
.profile-content .answer-profile { margin: 0; padding: 0; }

.profile-content .answer-footer .timestamp { float: left; display: block; }

.profile-content .answer-footer .answer-actions { float: right; display: block; }

.profile-content .answer-footer .like-your-answer { float: right; display: block; }

.profile-content .answer-footer .link-label { padding-top: 1px; }

.profile-content .answer-profile .member-comment { margin-top: 12px; }

.profile-content .answer-profile .member-comment textarea { width: 338px; }

.sub-page-viewmessage .profile-content .answer-profile .member-comment textarea { width: 326px; }

.profile-content .answer-profile .member-comment input { float: right; margin: 12px 18px 0; }

.profile-content .answer-profile .answer-footer { padding: 2px 2px 2px 21px; clear: both; font-size: 11px; font-weight: normal; }

.a-module.noanswer { margin: 12px; }

.a-module.noanswer h2 { font: 15px Georgia; padding: 0 0 .5em 0; border-bottom: 1px solid #eee; }

.a-module.noanswer .confirmation .add-favorite { margin: 0 0 0 2em; }

label.link-label { cursor: pointer; color: #936; font-size: 11px; font-weight: normal; }

label.link-label:hover { text-decoration: underline; }

.mini-q-module .member-answer, .q-module .member-answer, .answer-input .radio-list { display: block; position: relative; text-indent: 0; padding: 16px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; background-color: #fff; -moz-box-shadow: 0 1px 6px #ccc; -webkit-box-shadow: 0 1px 6px #ccc; box-shadow: 0 1px 6px #ccc; margin-top: -2.5em; zoom: 1; }

.mini-q-module .member-answer .edit-multiple, .q-module .member-answer .edit-multiple { position: absolute; top: 12px; right: 12px; }

.mini-q-module .member-answer .edit-inline, .q-module .member-answer .edit-inline { margin-left: 8px; }

.mini-q-module .answer .notification, .q-module .answer .notification { border: none; text-indent: -20px; padding: 6px 12px 6px 36px; margin: 4px 0; }

.qanda .mini-q-module .a.answered, .qanda .q-module .a.answered { display: block; position: relative; z-index: 2; text-indent: 2px; left: -34px; background: url(../img/ui-qanda-bubble-tip-high-bg.png) no-repeat top left; width: 35px; }

/* answer module specific */
.a-module #answer-count { font-weight: normal; }

.a-module .header-options { margin: 0 0 8px 0; padding: 8px 12px 4px 12px; border-top: 1px dotted #ccc; background-color: #fff; }

.a-module .header-options h1 { margin: 4px 0 0 0; float: left; font-size: 12px; }

.a-module .paging { float: right; width: auto; margin: 2px 4px 0 24px; }

.a-module .paging.lower { margin: 12px 8px 8px 4px; }

.a-module .sort { margin-left: 4px; display: inline-block; }

.a-module #a-module-sort { float: right; margin-right: 24px; }

.a-module .answer-profile .actions a.spr { margin: 0 0 2px 0; display: block; }

.a-module .answer-profile .actions img { margin: 0 0 2px 0; }

.a-module .answer-profile .actions .description { display: none; }

.a-module #qanda-bottom { clear: both; padding: 0 20px; margin: 16px 0; border-top: 1px dotted #ccc; }

/* #qanda-view-profile */
#qanda-view-profile { margin: 0 .4em; }

#qanda-view-profile dt { clear: both; }

#qanda-view-profile.noanswer { margin: 8px; background: transparent url("../img/Community/JDate/icon-tips.gif") no-repeat left top; border: 5px solid #F7F7F7; padding: 0.4em 0.4em 0.4em 64px; min-height: 74px; }

#qanda-view-profile .q, #qanda-view-profile .a, #qanda-edit-questions .q, #qanda-edit-questions .a { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 1.5em; }

#qanda-view-profile .answer, #qanda-edit-questions dd { margin-left: 21px; text-indent: -21px; }

#qanda-view-profile dd .notification { padding: .5em .5em .5em 2.25em; border: none; }

#qanda-edit-questions dd .notification { padding: .5em .5em .5em 2.25em; margin-left: -21px; border: none; }

#qanda-view-profile dd, #qanda-edit-questions dd { margin-bottom: 34px; }

#qanda-edit-questions { margin: 0 10px; }

#qanda-edit-question dt { clear: both; }

#qanda-edit-questions dd, #qanda-edit-questions dt { margin-right: 100px; }

#qanda-edit-questions .delete { display: block; float: right; margin: 0 0 0 1em; text-indent: 0; position: relative; left: 100px; }

#qanda-delete-message { cursor: auto; padding: .67em 1em; color: #333333; }

#qanda-delete-message .link-secondary { margin: 0 4px; }

.qanda .no-photo-container { background-repeat: no-repeat; background-position: 0 0; }

.qanda .no-photo { width: 54px; height: 70px; padding-top: 20px; }

#miniAnswerSort { min-width: 140px; }

.answer-links input.secondary[type="submit"] { padding: 4px 0; width: 125px; }

.ie8 .answer-links input.secondary[type="submit"] { width: 130px; }

/* Q & A User Submitted Question */
.send-your-question { margin: 12px 8px; }

.send-your-question strong { font: 18px normal Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; }

.send-your-question .link-primary { float: right; margin-top: -2px; }

#questionForm { padding: 16px 24px 0; }

#questionForm p { margin-bottom: 1em; }

#questionForm dl { margin: 12px 0 0; }

#questionForm dt { width: 19%; font-weight: bold; float: left; clear: both; margin: 4px 0 0; }

#questionForm dd { width: 80%; float: right; margin: 4px 0 0; }

#questionForm input[type="text"] { width: 200px; }

#questionForm textarea { width: 380px; height: 100px; }

#send-question-anonymous { clear: both; padding: 0 0 0 18px; margin-left: 20%; text-indent: -22px; }

#send-question-anonymous input[type="checkbox"] { margin-right: 8px; }

#questionForm input[type="submit"] { width: 160px; display: block; padding-left: 0; padding-right: 0; margin: 12px auto 0; }

#questionForm .notification.error, #feedbackForm .error { display: inline-block; background: none; border: none; margin-left: 8px; padding: 0; }

#questionForm .blockUI { background-image: none; }

.ui-dialog .loading-gif { margin: 140px auto 0; width: 31px; display: block; text-align: center; }

/* double-q global styles */
.double-q-cont .answer-profile .radio-list { border: 1px solid #CCCCCC; padding: 8px; background-color: white; }

/*.double-q-cont .answer-profile .radio-item{
	width:auto;
} */
.double-q-cont textarea { overflow-x: hidden; padding: 4px; }

.lte8 .double-q-cont textarea { overflow: hidden; }

.double-q-cont .answer-profile .answer-body { background-color: white; }

.double-q .answer-profile { margin: 4px; padding: 4px; }

.double-q .answer-container { width: 75%; }

.double-q .answer-profile .answer-info { width: 100%; clear: both; text-indent: 2px; }

.double-q .double-q-thiers, .double-q .double-q-yours { float: left; width: 49.8%; }

.double-q .answer-profile .member-comment { margin-bottom: 16px; top: 16px; }

.double-q .answer-profile .member-comment > h2 { margin-right: 12px; }

.double-q .answer-profile .member-comment textarea { width: 97%; height: 42px; }

.double-q .answer-profile .member-comment input[type=submit] { float: right; margin: 8px 8px 0 8px; }

.double-q, .double-q-answer { border-bottom: 1px dotted #ccc; }

.double-q:nth-child(even), .double-q-answer:nth-child(even) { background-color: #f7f7f7; }

.double-q > h2, .double-q-answer > h2 { color: #993366; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-weight: normal; margin: 0; padding: 8px 8px 0 8px; }

.double-q > h2 a, .double-q-answer > h2 a { font-weight: normal; }

.double-q-answer .answer-profile { margin: 4px; padding: 4px; }

.double-q-answer .answer-profile .answer-container { width: 240px; float: left; }

.double-q-answer .answer-profile .answer-yours { width: 310px; float: left; margin-left: 20px; }

#double-q-cont .answer-profile .answer-yours textarea { width: 95%; height: 54px; }

.double-q-answer .answer-profile .answer-yours input[type=submit] { float: right; margin-top: 12px; }

/* double-q headers */
.double-q-header { border-bottom: 1px dotted #ccc; margin: 12px 0 0; }

.double-q-header > h2 { text-align: center; color: #202e42; margin-bottom: 4px; }

.double-q-header > p { text-align: center; color: #999; margin-top: 0; }

.double-q-header.with-paging > h2 { text-align: left; float: left; padding-left: 8px; }

.double-q-header.with-paging > p { text-align: left; clear: both; padding-left: 8px; }

.double-q-header.with-paging .paging { float: right; padding-top: 2px; }

/* global css - replace .qanda .cc-pic-tag-sm */
.answer-profile .cc-pic-tag-sm { margin-left: 0; width: 54px; }

.answer-profile .member-pic { height: 78px; }

.answer-profile .answer-info a { font-size: 11px; font-weight: normal; }

.answer-profile .member-answer.messaging { color: #999; }

.answer-profile .member-answer .timestamp { white-space: nowrap; }

.answer-profile .answer-review-message.notification { margin: 4px 0 0; padding: 4px 4px 4px 28px; border: 0px solid white; background-image: url(../img/Community/JDate/icon-page-message.gif); background-position: 4px 4px; background-repeat: no-repeat; }

/* qanda home page */
.qna-home-cont .pagination { float: right; display: block; margin: 0; }

.qna-home-cont .a-module { padding-top: 12px; margin-top: 0; }

.qna-home-cont .sort-display { margin: 0 8px; padding: 8px 0; }

.qna-home-cont .sort-display.lower { border-bottom: 0px solid white; border-top: 1px dotted #ccc; }

.qna-home-cont .sort-options { float: left; font-weight: normal; margin-top: 4px; }

.qna-home-cont .sort-options a { font-weight: normal; }

.qna-home-cont .sort-options .selected a { font-weight: bold; }

.qna-home-cont .sort-options .divider { display: inline-block; margin: 0 6px; }

.qna-home-cont .q-all { margin: 12px 8px; }

.qna-home-cont .q-all > li { margin: 12px 0; color: #936; text-indent: -16px; padding-left: 16px; }

.qna-home-cont .q-all > li > a { font-weight: normal; }

.page-questionanswer .qna-home-cont .qanda.border-box { margin-right: 0; }

.qna-home-cont .answer-profile .answer-container { width: 538px; }

.qna-home-cont .a-module .header-options { margin: 0; border-top: 0px dotted #CCCCCC; border-bottom: 1px dotted #CCCCCC; padding-top: 0; }

.qna-home-cont .a-module .header-options h1 { margin: 4px 0; }

.qna-home-cont .question-container { margin: 4px 0; background-color: #fff; padding: 4px 0px 4px 21px; text-indent: -21px; }

.qna-home-cont .question-container .question { font-size: 18px; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; color: #202e42; line-height: 25px; }

.qna-home-cont .question-container .question .q { color: #936; }

.qna-home-cont .question-container .question a { font-weight: normal; }

.qna-home-cont .question-container input.btn.primary { float: right; margin-left: 4px; text-indent: 0; }

/* tab-specific */
.qna-home-cont #qna-tab-recent .component-header { display: none; }

.qna-home-cont .paging { float: right; margin: 4px 0 4px 8px; }

.qna-home-cont #qna-tab-recent .sort { float: left; }

.qna-home-cont #qna-tab-question .sort { float: right; margin-top: 3px; }

#content-container .qna-home-cont .listMenuContainer { display: block; }

#content-container .qna-home-cont .listMenuContainer .ListMenu { left: -15em; z-index: 2; }

.ui-dialog .qanda { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; position: static; padding-bottom: 16px; top: 0; }

/* ie hacks used temporarily until conditional classes added to html tag */
.ui-dialog .qanda { *padding: 16px; }

.ui-dialog .qanda .q-module { *padding: 0; }

.no-matches-answer { padding: 1em 1em 1em 40px; margin: 4px 6px; background: url(../img/Community/JDate/icon-page-message.gif) no-repeat 16px 10px; }

/* ++Com -- member filmstrip */
#hp-hero.rbox-style-high { background-color: #F7F7F7; border-color: #F7F7F7; }
#hp-hero #hp-hotlist-stats { float: left; padding: 4px; width: 198px; background-color: white; min-height: 361px; }
#hp-hero #hp-hero-profile { float: right; padding: 0 2px 0 0; width: 476px; }
#hp-hero #hp-hero-profile #hp-hero-profile-pic { background-color: #FFF; float: left; height: 237px; margin: 0 0 0 21px; position: relative; width: 185px; }
#hp-hero #hp-hero-profile #hp-hero-profile-pic td.content-centered img { max-height: 237px; max-width: 185px; }
.lte8 #hp-hero #hp-hero-profile #hp-hero-profile-pic td.content-centered a.hero-link { max-height: 237px; max-width: 185px; display: block; }
#hp-hero #hp-hero-profile-cont { float: left; margin: 0; padding: 0 0 0 8px; width: 258px; }
#hp-hero #hp-hero-profile-cont .top-header { font-size: 2em; float: none; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; margin: 14px 0 0; font-weight: normal; color: #212c42; }
#hp-hero #hp-hero-profile-cont .top-header small a, #hp-hero #hp-hero-profile-cont .top-header small { font-size: 12px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; padding-left: 2px; }
#hp-hero #hp-hero-profile-cont .top-header small.tooltip { padding-left: 0px; margin-left: -3px; }
#hp-hero #hp-hero-profile-cont .info-basics .overview li { margin-bottom: 2px; }
#hp-hero #hp-hero-profile-cont .username { font-size: 16px; font-weight: bold; margin: 12px 0 0; }
#hp-hero #hp-hero-profile-cont .username a { color: #212c42; }
#hp-hero #hp-hero-profile-cont .action-email { margin: 20px 0 0; }
#hp-hero #hp-hero-profile-cont .info-basics { min-height: 52px; }
#hp-hero #hp-hero-strip { float: right; padding: 8px 8px 0px 8px; width: 476px; }

#nano-filmstrip-cont { background-color: white; padding: 0; float: left; margin-left: 12px; width: 438px; height: 106px; position: relative; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: 0 0 8px #999; -webkit-box-shadow: 0 0 8px #999; box-shadow: 0 0 8px #999; }
#nano-filmstrip-cont .ajax-loading { width: 80px; height: 60px; margin: 24px auto 0; float: none; }
.lte8 #nano-filmstrip-cont { border: 1px solid #dedede; }

.nano-filmstrip { visibility: hidden; position: relative; margin: 0 auto; }
.nano-filmstrip.results ul { margin-left: -10000px; float: left; }
.nano-filmstrip li.item { display: block; float: left; margin: 4px 1px; height: auto !important; position: relative; padding-top: 8px; }
.nano-filmstrip li.item.view-more a.memberpic { display: block; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 13px; height: 52px; padding: 20px 2px 8px; }
.nano-filmstrip li.item .picture img { width: 58px; height: 75px; }
.results .nano-filmstrip .picture a:link, .results .nano-filmstrip .picture a:visited, .results .nano-filmstrip .picture a:active { border: 5px solid white; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.results .nano-filmstrip .picture.turn-on a { border: 5px solid #212c42; }
.results .nano-filmstrip .picture.turn-on:before { content: "\25B2"; left: 40%; display: block; position: absolute; top: -6px; font-size: 14px; color: #212c42; }
.results .nano-filmstrip .picture .no-photo-container .no-photo { font-size: 11px; height: 85px; padding: 10px 2px 2px; width: 68px; }
.results .nano-filmstrip .picture .no-photo-container, .results .nano-filmstrip .picture.turn-on .no-photo-container { background-position: 5px 5px; background-repeat: no-repeat; }
.results .nano-filmstrip .cc-pic-tag-sm { position: absolute; width: 58px; bottom: 5px; left: 5px; }

#hp-hero-strip button.filmstrip-prev, #hp-hero-strip button.filmstrip-next { background-image: none; float: none; position: absolute; margin: 0; top: 44px; background-color: white; border: 1px solid white; -moz-box-shadow: 0 1px 4px #999; -webkit-box-shadow: 0 1px 4px #999; box-shadow: 0 1px 4px #999; font-size: 11px; padding: 4px; width: 22px; }
.lte8 #hp-hero-strip button.filmstrip-prev, .lte8 #hp-hero-strip button.filmstrip-next { width: 20px; border: 1px solid #dedede; }
#hp-hero-strip button.filmstrip-prev { left: 0; -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; border-bottom-left-radius: 20px; }
#hp-hero-strip button.filmstrip-next { right: 0; -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px; }
#hp-hero-strip .nano-filmstrip-message { font-size: 11px; margin: 0px 4px 0px 16px; padding-top: 4px; clear: both; }

#hp-hero-profile-pic .cc-pic-tag.cc-pic-tag-lrg { position: absolute; bottom: 0; left: 0; width: 177px; }
#hp-hero-profile-pic td.content-centered { vertical-align: middle; height: 237px; width: 185px; text-align: center; }

#hp-hero-profile .picture .no-photo { text-align: center; }

/* Favorites on Top Nav */
#vertstripFavsNav { border: 2px solid #212c42; border-top: none; background: url("../img/Community/JDate/ui-favs-bdr.png") no-repeat left -98px #fff; min-height: 196px; position: absolute !important; top: 2.75em; width: 200px; z-index: 10000; }
#vertstripFavsNav li.item { margin: 0 2px 2px 0; }
#vertstripFavsNav .vertstrip-favs-nav { min-height: 174px; }
#vertstripFavsNav .vertstrip-favs-nav-feed { float: left; margin: .5em 0 0 .5em; overflow: hidden; width: 168px; }
#vertstripFavsNav .vertstrip-favs-nav-controls { float: right; position: relative; width: 20px; }
#vertstripFavsNav .edit-favs { border-top: 1px dotted #999; padding: .25em .5em; font-size: .92em; }
#vertstripFavsNav button.vertstrip-next-favs-nav { margin-top: 130px; }
#vertstripFavsNav #online-favs-nav li.view-more { background-color: #fff; font-weight: normal; padding: .5em; }
#vertstripFavsNav li:hover { background-color: #202e42; }
#vertstripFavsNav li.offline { background-position: 20% -107px; }
#vertstripFavsNav li.offline:hover { background-position: 20% -168px; }
#vertstripFavsNav li.online { background-position: 20% 11px; }
#vertstripFavsNav li.online:hover { background-position: 20% -49px; }
#vertstripFavsNav li:hover a { color: #fff; text-decoration: none; }

.vertstrip-favs .item:nth-child(6n+1), .vertstrip-favs .item:nth-child(6n+2), .vertstrip-favs .item:nth-child(6n+3) { background-color: #F7F7F7; }

.favs-online li:hover { background-color: #202e42; }
.favs-online li.offline { background: transparent url(../img/Community/Spark/icon-favs-status.png) no-repeat 16% -107px; }
.favs-online li.offline:hover { background-position: 16% -168px; }
.favs-online li.online { background: transparent url(../img/Community/Spark/icon-favs-status.png) no-repeat 16% 11px; }
.favs-online li.online:hover { background-position: 16% -49px; }
.favs-online li:hover a { color: #fff; text-decoration: none; }

/* Favorites on Profile Activity */
ul.nav-rounded-tabs li.tab.selected .s-icon-favorites { background-position: -1928px -66px; }

.vertstrip-favs { position: relative; visibility: hidden; min-height: 93px; }

.vertstrip-favs li.item { float: left !important; width: 32.5% !important; margin: 0 2px 2px 0; }

.ie .vertstrip-favs li.item { padding: 0; }

.vertstrip-favs li#online-favs-lastli { width: 70% !important; }

.favs-online li.online a, .favs-online li.online a img { float: left; }

.favs-online li.online a span { display: block; float: left; line-height: 29px; }

.favs-online li.item { font-size: .92em; font-weight: bold; min-height: 29px; }

.favs-online li.item img { margin: 0 26px 0 0; }

#favsTab .edit-favs { border-top: 1px dotted #999; margin: .5em 0 -.45em 0; }

.favs-online .edit-favs a { font-weight: normal; }

#online-favs .view-more { background-color: Transparent; float: left; padding: 5px 1%; text-align: left; line-height: 1.5em; font-weight: normal; }

.vertstrip-favs .vertstrip-favs-controls { float: right; width: 20px; position: relative; display: inline; }

.vertstrip-favs .vertstrip-favs-feed { float: left; width: 628px; }

.favs-online button { border: 0px solid white; padding: 0px; background: transparent none; float: left; }

.favs-online button.vertstrip-next-favs { margin-top: 50px; }

#favoritesOnlineTab a { text-decoration: none; }

#favoritesOnlineTab.selected span.underline, #favoritesOnlineTab.selected span.underline:hover { text-decoration: underline; }

.s-icon-favorites, .s-icon-news, .activity-icon.online-icon { margin-right: 4px; vertical-align: text-top; line-height: normal; }

.activity-icon.online-icon img { vertical-align: text-top; }

.spr.s-icon-favorites span, .spr.s-icon-news span { line-height: 12px; text-align: center; min-width: 12px; right: -3px; top: -4px; }

/* ++Com -- Facebook Likes Common */
.fb-likes-list > li img, .fb-likes-widget > li .image img { display: block; width: 75px; }

/* ++Com -- Facebook Likes Badge */
.fb-likes-badge { background-color: #fff; float: right; margin: 1px; min-height: 195px; position: relative; right: -12px; top: -12px; width: 170px; padding: 0 0 10px 10px; z-index: 1; }
.fb-likes-badge :hover { cursor: pointer; }
.fb-likes-badge > .title { display: block; height: 44px; background: url(../img/ui-bg-curl.png) no-repeat 100% 0; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; color: #25426b; font-size: 11px; line-height: 64px; }
.fb-likes-badge > blockquote { position: absolute; top: 33%; left: 18%; width: 60%; margin: 0; padding: 1em 0.25em; background: #25426b; background: rgba(37, 66, 107, 0.7); border: 1px solid #fff; color: #fff; font: bold 12px Georgia; text-align: center; }
.fb-likes-badge.saved > blockquote { background-color: #eceff2; border: 0; clear: both; color: #25426b; font: normal 11px Arial; margin: 0; padding: 2px 8px; position: static; text-align: left; width: 145px; }
.fb-likes-badge > blockquote a { color: #fff; font-family: Arial; font-weight: normal; }
.fb-likes-badge.saved > blockquote a { color: #936; }
.fb-likes-badge.saved > blockquote .status { background-color: #96B1CC; border-bottom: 1px solid #8D9CB1; color: #FFFFFF; font: bold 11px Arial; margin-left: -10px; padding: 4px 0 3px 8px; text-transform: uppercase; width: 150px; }
.fb-likes-badge.hidden > blockquote .status { background-color: #936; border-bottom: 1px solid #660033; }
.fb-likes-badge .fb-likes-list > li { border: 1px solid #ddd; background-color: #eee; float: left; width: 72px; height: 72px; margin: 0 1px 1px 0; }
.fb-likes-badge .spr { border: 1px solid #fff; top: 170px; left: 136px; position: absolute; }
.fb-likes-badge ~ .padding-light .like-container { height: 1em; }
.fb-likes-badge .fb-likes-list > li { background: url(../img/Community/JDate/ui-fb-likes-thumbs.jpg) no-repeat 0 0; text-indent: -9999em; }
.fb-likes-badge .fb-likes-list > li.two { background-position: -72px 0; }
.fb-likes-badge .fb-likes-list > li.three { background-position: -144px 0; }
.fb-likes-badge .fb-likes-list > li.four { background-position: -216px 0; }
.fb-likes-badge.saved .fb-likes-list > li { background-image: none; background-color: transparent; text-indent: 0; overflow: hidden; }
.fb-likes-badge.saved .fb-likes-list > li.none { background-image: none; background-color: #eceff2; text-indent: -9999em; }
.fb-likes-badge ~ .noanswer { margin-right: 210px; }

/* ++Com -- Facebook Likes Widget */
.fb-likes-widget-wrapper > .spr { margin: 2px 8px 0; }
.fb-likes-widget-wrapper > .spr + div { margin: 2px 0 0 0; }
.fb-likes-widget-wrapper .status { font: bold 1em Arial, sans-serif !important; text-transform: uppercase; }
.fb-likes-widget-wrapper .inline-edit .notice { color: #25426B; font: bold 18px arial; float: left; padding: 10px 0 10px 180px; }
.fb-likes-widget-wrapper .inline-edit .notice ~ input { margin: 1em 0 1em .5em; }
.fb-likes-widget-wrapper .fb-logout { float: right; font-weight: normal; line-height: 1.5em; }
.fb-likes-widget-wrapper .notification { background-color: #E8F0D7; border: none; line-height: 2em; margin: 0 0 0.5em; padding: 2px; }
.fb-likes-widget-wrapper .notification .spr { vertical-align: middle; }

.fb-likes-widget-header { background: url(../img/ui-fb-likes-widget-header.png) 0 bottom no-repeat; background: url(../img/ui-fb-likes-widget-header.png) 0 bottom no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eceff2), color-stop(35%, #ffffff)); background: url(../img/ui-fb-likes-widget-header.png) 0 bottom no-repeat, -moz-linear-gradient(top, #eceff2 0%, #ffffff 35%); border: 1px solid #96b1cc; padding: 1em 1em 1em 8em; }
.fb-likes-widget-header > h2 { color: #202e42; font: normal 18px Georgia,serif; margin-right: .25em; }
.fb-likes-widget-header .rel-layer-container { margin: 4px 0 0; }
.fb-likes-widget-header .rel-layer-container h5 { margin-right: 7em; }
.fb-likes-widget-header .status { clear: both; padding: 10px 0 0; }
.fb-likes-widget-header .btn-fb { margin: .5em 0 .5em 7em; }
.fb-likes-widget-header .fb-logout { float: right; font-weight: normal; line-height: 1.5em; }

.fb-likes-widget-intro { padding: 0 0 1em; }
.fb-likes-widget-intro .rel-layer-container { display: inline-block; vertical-align: bottom; }

.fb-likes-widget-command { background-color: #e8f0d7; clear: both; padding: 10px; margin-bottom: 5px; }
.fb-likes-widget-command .desc { float: left; margin: 5px 10px 0 0; }
.fb-likes-widget-command .desc em { text-decoration: underline; font-style: normal; }
.fb-likes-widget-command .setting h5 { display: inline; }
.fb-likes-widget-command input[type="button"] { margin: 0 0 0 10px; }

.fb-likes-widget { clear: both; max-height: 615px; overflow: hidden; position: relative; }
.fb-likes-widget > li { position: relative; padding: 4px 0; overflow: hidden; }
.fb-likes-widget > li h3 { font: bold 12px Arial !important; float: left; width: 13%; }
.fb-likes-widget > li ol { float: left; width: 75%; height: 110px; overflow: hidden; }
.fb-likes-widget > li ol > li { float: left; padding: 0 5px 5px 0; width: 78px; min-height: 110px; position: relative; }
.fb-likes-widget > li ol > li .spr { display: none; position: absolute; top: 8px; right: 10px; }
.fb-likes-widget > li a { text-align: center; text-decoration: none; }
.fb-likes-widget > li .image { border: 4px solid #fff; display: block; width: 74px; height: 74px; overflow: hidden; }
.fb-likes-widget > li .image:hover { border-color: #936 !important; }
.inline-edit .fb-likes-widget > li:hover { background-color: #eee; }
.prof-edit-active:hover .fb-likes-widget > li .image { border-color: #ddd; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
.fb-likes-widget > li .approved .spr { display: block; background-position: -370px -203px; }
.fb-likes-widget > li .name { color: #25426b; display: block; font-size: 11px; line-height: 12px; padding: 2px 0 0; overflow: hidden; height: 25px; }
.fb-likes-widget > li ol input[type="checkbox"] { position: absolute; display: none; }
.fb-likes-widget .toggler { position: absolute; right: -5px; top: 20px; cursor: pointer; color: #936; width: 72px; text-align: left; }
.fb-likes-widget + .toggler { background-color: #e8f0d7; border: 1px solid #d1e2af; cursor: pointer; color: #936; margin: 0 0 1em 13%; padding: 2px 10px; width: 470px; text-align: center; }
.fb-likes-widget .toggler .word.less, .fb-likes-widget + .toggler .word.less { display: none; }
.fb-likes-widget.edit > li .image, .fb-likes-widget.edit > li .name { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
.lte8 .fb-likes-widget.edit > li .name { background-color: #fff; }
.lte8 .fb-likes-widget.edit > li:hover .name { background-color: #eee; }
.fb-likes-widget.edit > li .selected .image, .fb-likes-widget.edit > li .selected.approved .image, .fb-likes-widget.edit > li .selected .name, .fb-likes-widget.edit > li .approved .name { border-color: #25426B; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

#fbLikesView .prof-edit-button { display: none; }
#fbLikesView.prof-edit-active:hover .prof-edit-button { display: block; }

/* ++Com -- Feature Announcement */
.feature-announcement { position: relative; }
.feature-announcement.plain { margin: 1em; padding: 1.5em 2em; border: 3px solid #d7dfe7; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #dce4ea; }
.feature-announcement.plain > blockquote { font-size: 13px; padding-right: 3em; }
.feature-announcement.plain .desc { margin: 1.25em 0 0 0; color: #777; font-size: 11px; }
.feature-announcement.plain .desc em { font-style: normal; font-weight: bold; color: #25426b; }
.feature-announcement.sticky { position: fixed; bottom: 0; width: 100%; height: 53px; z-index: 10000; }
.feature-announcement.sticky > blockquote { position: absolute; bottom: 0; width: 100%; height: 53px; background-color: #202E42; text-align: center; }
.feature-announcement.sticky > blockquote > a { display: block; margin: 0 auto; position: relative; top: -46px; width: 482px; }
.feature-announcement.sticky > blockquote > a img { display: block; }
.feature-announcement.sticky .click-close { top: auto; bottom: 20px; z-index: 1; color: #fff; }
.feature-announcement > h2 { color: #936; font: normal 20px Georgia, serif; }
.feature-announcement .click-close { position: absolute; top: 1em; right: 1em; }
.feature-announcement.im { margin-bottom: 1em; }
.feature-announcement.im .click-close, .feature-announcement.im .close { color: #fff; }

#FBFeatureAnnouncement { min-height: 314px; margin: 1em 1.5em; border: 1px solid #fff; background: url(../img/Community/JDate/img-announcement-fb.jpg) no-repeat 0 0; color: #fff; }
#FBFeatureAnnouncement > h2 { display: none; }
#FBFeatureAnnouncement > blockquote { font-size: 14px; padding: 100px 218px 10px 0; }
#FBFeatureAnnouncement .click-close, #FBFeatureAnnouncement .close { color: #25426B; }
#FBFeatureAnnouncement .btn-fb { font-weight: normal; }

#MutualMatchAnnouncement { min-height: 140px; margin: 1em 0; padding: 1.5em .5em 0 3.5em; background: url(../img/Community/JDate/img-announcement-mutualmatch.jpg) no-repeat 0 0; }
#MutualMatchAnnouncement > h2 { color: #25426B; }
#MutualMatchAnnouncement > h3 { margin: 0 .25em 0 0; float: left; font-size: 14px; font-weight: normal; color: #5a732a; }
#MutualMatchAnnouncement > blockquote { position: absolute; top: 30px; left: 384px; width: 300px; line-height: 1.5; color: #495c21; }
#MutualMatchAnnouncement .click-close { top: 8px; right: 18px; }
#MutualMatchAnnouncement p { line-height: 1.5; }

.btn-fb { display: inline-block; position: relative; margin: 1.25em 1em 1em 0; padding: 6px 10px; background-color: #647eac; border: 1px solid #204099; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNjdiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNkNTdhMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a67b7), color-stop(100%, #3d57a2)); background-image: -moz-linear-gradient(#4a67b7, #3d57a2); background-image: -webkit-linear-gradient(#4a67b7, #3d57a2); background-image: linear-gradient(#4a67b7, #3d57a2); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3); color: #fff !important; font: normal 16px Arial, "Helvetica Neue", Helvetica, sans-serif; }
.btn-fb .spr { vertical-align: middle; margin: 0 .5em 0 0; }
.btn-fb .s-icon-fb-f-md { background-position: -88px -90px; border-right: 1px solid #8093bd; height: 26px; left: 9px; position: absolute; top: 1px; width: 21px; }
.feature-announcement .btn-fb.solo { margin: 1.25em auto; display: block; width: 305px; }

/* ++Com -- Connect members */
.connect-members > li { display: inline-block; width: 24.5%; vertical-align: top; }
.connect-members > li a { padding: 10px 0 4px 6px; margin: 0 0 0 2%; font: 16px Georgia, serif; color: #25426b; text-transform: capitalize; }
.connect-members > li a:hover { background: #dfe7f0; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZTdmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dfe7f0)); background-image: -moz-linear-gradient(#fefefe, #dfe7f0); background-image: -webkit-linear-gradient(#fefefe, #dfe7f0); background-image: linear-gradient(#fefefe, #dfe7f0); cursor: pointer; text-decoration: none; }
.lte8 .connect-members > li a:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dfe7f0',GradientType=0 ); }
.connect-members.vertical > li { display: block; width: auto; }
.connect-members .spr-b { float: left; margin: 0 4px 0 0; }

/* Spark Home 40 adjustment */
.spark-home-40 .connect-members { float: left; width: 274px; margin: 14px 0 0 0; }
.spark-home-40 .connect-members > li a { padding: 4px 0 0px 6px; margin-bottom: 3px; line-height: 44px; }

/* ++Com -- New matches near you */
.match-slider { position: relative; height: 174px; clear: both; overflow: hidden; }
.match-slider li { margin: 10px 9px; }
.match-slider .photo { border: 1px solid #fff; }
.match-slider .photo img { width: 80px; height: 104px; }
.match-slider .info { display: block; text-align: center; }
.match-slider .tips { padding: 10px; margin: 20px; }
.match-slider .rate { position: absolute; top: 8px; right: 6px; padding: 0 1px; background-color: #993366; border: 1px solid #993366; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; }

.match-slider button, .new-matches button { width: 42px; padding: 0; background-color: #4c4c4c; border: none; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.match-slider button:hover, .new-matches button:hover { background-color: #202e42; }

.match-slider button.disabled, .new-matches button.disabled { background-color: #ccc; }

.match-slider .button, .new-matches .button { display: block; width: 23px; position: absolute; top: 40%; overflow: hidden; z-index: 1; }

.match-slider .button.prev { left: 10px; }

.match-slider .button.next { right: 10px; }

.match-slider .button.next button, .new-matches .button.next button { position: relative; left: -20px; }

.match-slider .ajax-loader { position: absolute; top: 30%; left: 45%; text-align: center; }

.match-slider-container { width: 914px; height: 174px; position: relative; overflow: hidden; margin: 4px auto; text-align: left; }
.match-slider-container > ul { display: block; position: absolute; left: 0; margin: 0; padding: 0; float: left; }

/* ++Com -- New matches near you - Hero profile */
.t-layout .new-matches-wrap.static { width: 710px; float: left; }

.new-matches-wrap.static .component-header { margin-top: 0; }

.new-matches { min-height: 278px; clear: both; padding: 8px 0 8px 8px; position: relative; }
.new-matches .button.prev { left: -5px; }
.new-matches .button.next { right: -5px; }
.new-matches .ajax-loader { position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding: 15% 0 0 0; background-color: rgba(255, 255, 255, 0.4); text-align: center; }
.new-matches .mini-profile.hero { width: 298px; padding: 8px 0 8px 0; margin: 0 0 0 16px; }
.new-matches .profiles > ul { margin: 0 0 0 324px; }
.new-matches .profiles .mini-profile { margin: 12px 8px 0 0; padding: 7px; }
.new-matches .profiles .mini-profile h4 { margin: 2px 0 0 0; }
.new-matches .profiles .mini-profile h4 a { display: block; width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; font: bold 12px Georgia, serif; }
.new-matches .profiles .photo > img { width: 58px; height: 75px; }
.new-matches .tips { padding: 10px; margin: 20px; }

.mini-profile.hero .photo { display: block; width: 185px; height: 237px; float: left; margin: 0 6px 0 0; background-color: #fff; text-align: center; }
.mini-profile.hero .photo > a { display: block; width: 185px; height: 237px; min-height: 237px; position: relative; }
.mini-profile.hero .photo img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; max-width: 185px; max-height: 237px; }
.mini-profile.hero .info { margin: 80px 0 0 0; }
.mini-profile.hero .info h2 a { display: block; width: 98px; overflow: hidden; text-overflow: ellipsis; font: bold 18px Arial, sans-serif; color: #202e42; }

/* ++Com -- Tabbed menu --*/
.tabbed.active .title.header { background-color: #f2f7e8; border-top: 1px solid #d1e2af; border-bottom: 1px solid #d1e2af; color: #202E42; display: block; font-size: 12px; margin: 0 -4px 4px; padding: 4px 0; text-indent: 5px; }

.tabbed.active p.description { margin: 5px; }

/* ++Pages--Tabs rounded - profile, lists, etc */
ul.nav-rounded-tabs { margin: 0; padding: 0; clear: both; margin-bottom: 5px; width: 99%; }

ul.nav-rounded-tabs img { vertical-align: top; }

ul.nav-rounded-tabs li.tab { float: left; margin: 5px .2em 0 .2em; padding: 0; position: relative; }

ul.nav-rounded-tabs li.tab:hover { color: #993366; }

ul.nav-rounded-tabs li.tab a:link, ul.nav-rounded-tabs li.tab a:visited, ul.nav-rounded-tabs li.tab a:active, ul.nav-rounded-tabs li.tab a:hover { line-height: 2.8em; height: 2.8em; display: block; padding: .2em 1em; margin: 0; white-space: nowrap; }

ul.nav-rounded-tabs li.tab a:link, ul.nav-rounded-tabs li.tab a:visited, ul.nav-rounded-tabs li.tab a:active { text-decoration: none; }

ul.nav-rounded-tabs li.tab a:hover { text-decoration: underline; }

ul.nav-rounded-tabs li.tab .nav-profile-full-indicator { display: block; position: absolute; bottom: -5px; left: 42%; width: 10px; height: 5px; }

ul.nav-rounded-tabs li.tab .nav-profile-full-selector-indicator { display: block; position: absolute; bottom: -5px; left: 42%; width: 10px; height: 5px; }

ul.nav-rounded-tabs li.tab.selected { background-position: 100% -300px; }

ul.nav-rounded-tabs li.tab.selected .x, ul.nav-rounded-tabs li.tab.selected a { line-height: 2.8em; height: 2.8em; display: block; padding: .2em 1em; margin: 0; white-space: nowrap; text-decoration: underline; font-weight: bold; cursor: text; }

ul.nav-rounded-tabs li.no-tab.search-type { padding: 1em 1em 0 1em; border: none; }

ul.nav-rounded-tabs li.no-tab.view-type { float: right; padding: 1em 0 0 1em; font-weight: normal; border: none; white-space: nowrap; }

ul.nav-rounded-tabs li.no-tab { background-image: none; float: left; }

ul.nav-rounded-tabs li.no-tab a { background-image: none; padding: 0; }

/* Tabs page specific overrides - hotlist */
.page-hotlist ul.nav-rounded-tabs li.tab a:link, .page-hotlist ul.nav-rounded-tabs li.tab a:visited, .page-hotlist ul.nav-rounded-tabs li.tab a:active, .page-hotlist ul.nav-rounded-tabs li.tab a:hover { padding: 0.2em 0.5em; }

/* Tabs page specific overrides - full-profile */
.page-memberprofile ul.nav-rounded-tabs li.tab a:link, .page-memberprofile ul.nav-rounded-tabs li.tab a:visited, .page-memberprofile ul.nav-rounded-tabs li.tab a:active, .page-memberprofile ul.nav-rounded-tabs li.tab a:hover { padding: 0.2em 1.5em; }

/* hollow tabs */
.tabs-hollow-cont { top: 30px; margin: 12px 0px 54px 0px; border: 1px solid #ccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; padding: 4px; position: relative; }

.tabs-hollow-cont .tabs-hollow { position: absolute; top: -30px; left: -1px; }

.tabs-hollow-cont .tabs-hollow > li { float: left; border-bottom: 1px solid #eceff2; background-color: #eceff2; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; margin-right: 8px; }

.tabs-hollow-cont .tabs-hollow > li.selected { border: 1px solid #ccc; border-bottom: 1px solid #fff; background-color: White; }

.tabs-hollow-cont .tabs-hollow > li > a { display: inline-block; padding: 6px 24px; line-height: 16px; }

/* New Tab CSS */
.sp-tab { padding: 1em .2em .2em; }

.sp-tab .tab-nav > li { background-color: #96B1CC; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-right-radius: 8px; float: left; list-style: none; margin: 0 .2em 1px 0; padding: 0; position: relative; top: 1px; white-space: nowrap; }

.sp-tab .tab-nav > li a { color: #202E42; display: block; font: 18px Georgia,serif; padding: 0.5em 1em; }

.sp-tab li.active { background-color: #fff; border: 1px solid #e1e1e1; border-bottom: none; -moz-box-shadow: 0px -1px 1px #e1e1e1; -webkit-box-shadow: 0px -1px 1px #e1e1e1; box-shadow: 0px -1px 1px #e1e1e1; margin-bottom: 0; padding-bottom: 1px; }

.sp-tab .tab-body { border: 1px solid #e1e1e1; display: none; padding: 1em; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; -moz-box-shadow: 0 1px 6px #ccc; -webkit-box-shadow: 0 1px 6px #ccc; box-shadow: 0 1px 6px #ccc; }

.sp-tab .tab-nav + div, .sp-tab .tab-body.active { display: block; }

.sp-tab .tab-body h3 { color: #202E42; font: bold 14px Georgia, serif; margin-top: 2px; }

/* jQuery UI Core CSS */
.ui-widget-overlay { background: #000; opacity: 0.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); z-index: 1001; }

/* .ui-widget-overlay is customized from core */
.ui-tabs .ui-tabs-hide { display: none; }

.ui-resizable { position: relative; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }

.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }

.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }

.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }

.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }

.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }

.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2008 AUTHORS.txt (http://ui.jquery.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.ui-helper-clearfix { display: inline-block; }

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height: 1%; }

.ui-helper-clearfix { display: block; }

/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* jQuery UI - Override */
.ui-dialog { padding: 0; }

/* tab specific styles */
#profileTabGroup #tab-Essays.ui-widget-content h3, #profileTabGroup #tab-MoreEssays.ui-widget-content h3, #profileTabGroup #tab-Interests.ui-widget-content h3 { font: bold 14px Georgia, serif; color: #202e42; margin-top: 4px; }

#profileTabGroup #tab-Essays.ui-widget-content h3:first-child, #profileTabGroup #tab-MoreEssays.ui-widget-content h3:first-child, #profileTabGroup #tab-Interests.ui-widget-content h3:first-child { margin-top: 2px; }

#tab-Questions.ui-tabs-panel { padding: 8px; }

#tab-Questions .btn.delete { float: right; }

/*#profileTabGroup .like-module a:link{font-size:12px;}*/
/* tab specific styles - color code */
#tab-ColorCode .two-column { margin-right: 1%; width: 48.5%; }

#tab-ColorCode .two-column { width: 48.5%; margin-right: 1%; }

#tab-ColorCode .info.color-code h3.cc-color-heading { font-size: 1em; color: white; padding: 2px; font-weight: normal; }

#tab-ColorCode .info.color-code h3.cc-color-heading a { color: white; font-weight: normal; text-decoration: underline; }

#tab-ColorCode .info.color-code h3.cc-color-heading a:hover { text-decoration: none; }

#tab-ColorCode .info.color-code h3.cc-color-heading-none { font-size: 1em; padding: 2px; font-weight: normal; background-color: #eceff2; margin-bottom: 1px; }

#tab-ColorCode .info h3 { font-size: 1.17em; margin: 0.8em 0 0; padding: 0; }

.spark-home-50 > .aside { padding: 40px 0 100px 0; background-color: #fff; }
.spark-home-50 > .aside > ul > li > h2, .spark-home-50 > .aside > ul > li > p, .spark-home-50 > .aside > ul > li > ol, .spark-home-50 > .aside > ul > li > ul { padding-left: 10px; }
.spark-home-50 > .aside h2 { margin-top: .5em; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 26px; font-weight: normal; color: #993366; }
.spark-home-50 > .aside h2 a { font-weight: normal; }
.spark-home-50 > .aside .desc { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 16px; color: #7c7c7c; }
.spark-home-50 > .aside .view-more { display: block; margin-top: 1em; color: #25426B; }
.spark-home-50 > .aside ol { margin-top: 2em; }
.spark-home-50 > .aside ol a { color: #7c7c7c; line-height: 1.75em; }

.full-width .communications { background-color: #fff; padding: 1em 0 0 0; }
.communications .tabs-primary > li { background-color: whitesmoke; display: inline-block; }
.communications .tabs-primary > li > a { display: block; padding: 12px; margin-bottom: -1px; border: 1px solid #e1e1e1; border-bottom-color: transparent; font: normal 26px Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; text-align: center; }
.communications .tabs-primary > li.active { background-color: #eff9ff; }
.communications .tabs-primary > li.active > a { border-bottom-color: #eff9ff; }
.communications .content { padding: 40px; background-color: #eff9ff; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; }
.communications .hint, .communications .spark-home-50 .hotlist-stats .hotlist-stats-wrapper > em, .spark-home-50 .hotlist-stats .communications .hotlist-stats-wrapper > em { min-width: 24px; margin-top: -2px; padding: 4px; -moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px; }

.hint, .spark-home-50 .hotlist-stats .hotlist-stats-wrapper > em { display: inline-block; background-color: #993366; font: bold 14px Arial, "Helvetica Neue", Helvetica, sans-serif; color: #fff; text-align: center; vertical-align: middle; }

.panel, .panel-scroll { padding: 0 20px 20px 20px; color: #7c7c7c; font-size: 13px; line-height: 1.5em; }
.panel h2, .panel-scroll h2 { margin-bottom: 1em; text-align: center; font-size: 18px; font-weight: normal; color: #526680; }
.panel h2 > a, .panel-scroll h2 > a { color: #526680; }
.panel .view-more, .panel-scroll .view-more { display: block; margin-top: 1em; color: #25426B; text-align: center; }
.panel .hint, .panel-scroll .hint, .panel .spark-home-50 .hotlist-stats .hotlist-stats-wrapper > em, .spark-home-50 .hotlist-stats .panel .hotlist-stats-wrapper > em, .panel-scroll .spark-home-50 .hotlist-stats .hotlist-stats-wrapper > em, .spark-home-50 .hotlist-stats .panel-scroll .hotlist-stats-wrapper > em { background-color: #96B1CC; }

.panel.no-activity blockquote, .panel blockquote.allaccess { position: absolute; top: 84px; left: 64px; width: 204px; margin: 0; padding: 0; color: #fff; font-size: 1.75em; font-weight: normal; line-height: 1.25em; }
.panel.non-sub .cta-wrapper, .panel .allaccess.cta-wrapper { position: absolute; top: 105px; left: 50px; width: 232px; }
.panel.non-sub .cta-wrapper .ribbon-fold-both, .panel .allaccess.cta-wrapper .ribbon-fold-both { height: 70px; background-color: #993366; }
.panel.non-sub .cta-wrapper .cta, .panel .allaccess.cta-wrapper .cta { padding-top: 1em; display: block; color: #fff; line-height: 1.75em; }
.panel.non-sub .cta-wrapper .cta strong, .panel .allaccess.cta-wrapper .cta strong { display: block; font-size: 18px; }
.panel.non-sub, .panel.no-activity { text-align: center; }
.panel.non-sub .image, .panel.no-activity .image { width: 210px; height: 210px; margin: 0 auto 2em; overflow: hidden; border: 2px solid #cccccc; }
.panel.non-sub .image > a, .panel.no-activity .image > a { display: block; }
.panel.non-sub .image:hover, .panel.no-activity .image:hover { border: 2px solid #993366; cursor: pointer; }
.panel.non-sub .image img, .panel.no-activity .image img { width: 210px; }
.panel.non-sub a, .panel.no-activity a { color: #25426B; }
.panel.non-sub h2 > a, .panel.no-activity h2 > a { color: #526680; }
.panel.non-sub h3, .panel.no-activity h3 { width: 170px; margin-left: auto; margin-right: auto; text-align: center; font-size: 18px; font-weight: normal; color: #526680; }
.panel.non-sub .view-more, .panel.no-activity .view-more { width: 130px; margin-left: auto; margin-right: auto; }
.panel.non-sub blockquote ~ p, .panel.non-sub .cta-wrapper ~ p, .panel.no-activity blockquote ~ p, .panel.no-activity .cta-wrapper ~ p { width: 205px; margin: 0 auto 0; }
.panel.no-activity { position: relative; }
.panel.no-activity blockquote .cta { display: inline-block; max-width: 196px; margin: 1em auto; padding: .55em 1em; font-size: 18px; color: #fff; background-color: #25426B; }
.panel.non-sub { position: relative; }
.panel .allaccess.cta-wrapper { top: 156px; }
.panel .allaccess.cta-wrapper .ribbon-fold-both { height: 54px; }
.panel .allaccess.cta-wrapper .cta { padding-top: .5em; font-size: 18px; }
.panel .allaccess.cta-wrapper ~ p { width: 220px; }

.panel-scroll ul > li { margin: 0 0 1em 0; height: 100px; max-height: 100px; clear: both; overflow: hidden; }
.panel-scroll .scroll { height: 336px; width: 100%; overflow: hidden; }
.panel-scroll .picture { float: left; margin-right: 1.25em; }
.panel-scroll .photo img { max-width: 78px; }
.panel-scroll .info > span, .panel-scroll .info > em { display: block; }
.panel-scroll .info > a { display: block; margin-top: 1em; font-size: 16px; color: #25426B; }
.panel-scroll .hint, .panel-scroll .spark-home-50 .hotlist-stats .hotlist-stats-wrapper > em, .spark-home-50 .hotlist-stats .panel-scroll .hotlist-stats-wrapper > em { background-color: #96B1CC; }

.view-more { font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 16px; color: #25426B; }

.match-slider-20-wrap { position: relative; }
.full-width .match-slider-20-wrap { padding: 10px 30px 10px; background-color: #ECEFF2; }
.full-width .match-slider-20-wrap h2.component-header { float: none; display: block; margin: 0 48px; font-size: 32px; font-weight: normal; color: #993366; }
.full-width .match-slider-20-wrap h2.component-header > a { font-weight: normal; }
.full-width .match-slider-20-wrap h2.component-header .view-more { float: right; margin-top: 18px; color: #25426B; }
.full-width .match-slider-20-wrap .nav-away { text-align: center; }
.full-width .match-slider-20-wrap .nav-away > li { display: inline-block; margin: 1em 0; padding: 0 10px; border-left: 1px solid #999999; }
.full-width .match-slider-20-wrap .nav-away > li:first-child { border-left: none; }
.full-width .match-slider-20-wrap .nav-away > li a { color: #25426B; font-size: 14px; }

.match-slider-20 { position: relative; margin: .25em 0; clear: both; }
.match-slider-20 .match-slider-20-container { position: relative; width: 865px; height: 280px; margin: 0 0 0 40px; padding: 0; overflow: hidden; }
.match-slider-20 .match-slider-20-container.ynm { height: 320px; }
.match-slider-20 .match-slider-20-container.ynm .mini-profile { position: absolute; }
.match-slider-20 .match-slider-20-container > ul { display: block; position: absolute; }
.match-slider-20 button { display: block; position: absolute; top: 40%; border: none; outline: none; z-index: 1; }
.match-slider-20 button.disabled { background-color: transparent; border: none; opacity: .1; }
.match-slider-20 button[class*="next"] { right: 0; }
.match-slider-20 .ajax-loader { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 10; background-color: rgba(236, 239, 242, 0.8); }
.match-slider-20 .ajax-loader .info { position: absolute; top: 40%; left: 45%; text-align: center; }
.match-slider-20 .ajax-loader .info img { display: block; margin: 0 auto .5em; }
.match-slider-20 .mini-profile { float: left; margin: 0 5px 10px; padding: 1.25em; background-color: #fff; border: 1px solid #eee; text-align: center; list-style: none; }
.match-slider-20 .mini-profile:hover { background-color: #f8f9fa; }
.match-slider-20 .mini-profile > a, .match-slider-20 .mini-profile > span { display: block; }
.match-slider-20 .mini-profile .photo { display: block; border: 1px solid #fff; }
.match-slider-20 .mini-profile .photo:hover { border: 1px solid #993366; }
.match-slider-20 .mini-profile .photo > img { width: 128px; max-width: 128px; height: 166px; max-height: 166px; }
.match-slider-20 .mini-profile .name { display: block; max-width: 130px; overflow: hidden; white-space: nowrap; color: #25426B; font-weight: bold; font-size: 14px; }
.match-slider-20 .mini-profile .rate { color: #993366; font-family: Georgia, Palatino, Palatino Linotype, Times, "Times New Roman", serif; font-size: 21px; font-weight: bold; line-height: 1.5em; }
.match-slider-20 .mini-profile .info { display: block; max-width: 130px; overflow: hidden; white-space: nowrap; color: #666666; font-size: 10px; font-style: italic; }
.match-slider-20 .mini-profile .more-photo { font-size: 10px; color: #25426B; }
.match-slider-20 .mini-profile .ynm-container { margin-top: 1em; }
.match-slider-20 .mini-profile .ynm-container > a { display: inline-block; margin: 0 4px; }
.match-slider-20 .tips { margin: 2em; }
.match-slider-20 .tips > p { padding: 1em 0 0 .5em; font-size: 13px; }

/* CSS Styles that are needed by jScrollPane for it to operate correctly. */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 20px; height: 100%; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { background: transparent; position: relative; background: #eeeeee; background: -moz-linear-gradient(left, #eeeeee 0%, #ffffff 25%, #ffffff 75%, #eeeeee 100%, #ffffff 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eeeeee), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #eeeeee), color-stop(100%, #ffffff)); background: -webkit-linear-gradient(left, #eeeeee 0%, #ffffff 25%, #ffffff 75%, #eeeeee 100%, #ffffff 100%); background: -o-linear-gradient(left, #eeeeee 0%, #ffffff 25%, #ffffff 75%, #eeeeee 100%, #ffffff 100%); background: -ms-linear-gradient(left, #eeeeee 0%, #ffffff 25%, #ffffff 75%, #eeeeee 100%, #ffffff 100%); background: linear-gradient(to right, #eeeeee 0%, #ffffff 25%, #ffffff 75%, #eeeeee 100%, #ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 ); }
.jspTrack:hover { cursor: pointer; }

.jspDrag { background: #b3b3b3; position: relative; top: 0; left: 0; margin: 0 4px; cursor: pointer; z-index: 1; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { display: block; padding: 0; margin: 0; background: transparent url(../img/Community/JDate/ui-sprite-buttons.png) no-repeat 0 0; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspArrow.jspArrowUp { background-position: -120px -1920px; width: 24px; height: 13px; }
.jspArrow.jspArrowUp:hover { background-position: -170px -1920px; }
.jspArrow.jspArrowDown { background-position: -120px -1933px; width: 24px; height: 13px; }
.jspArrow.jspArrowDown:hover { background-position: -170px -1933px; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

.blurred-area { position: relative; }

.modal-over-blurred { position: absolute; top: 5%; left: 5%; width: 90%; padding: 35px 0; border: 3px solid #202E42; -moz-border-radius: 14px; -webkit-border-radius: 14px; border-radius: 14px; -moz-box-shadow: 0 0 21px #333333; -webkit-box-shadow: 0 0 21px #333333; box-shadow: 0 0 21px #333333; background: url('/../../img/Community/JDate/ui-modal-over-blurred-bg.png') no-repeat 50% 0%, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3ZGZlNSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background: url('/../../img/Community/JDate/ui-modal-over-blurred-bg.png') no-repeat 50% 0%, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d7dfe5), color-stop(25%, #ffffff), color-stop(100%, #ffffff)); background: url('/../../img/Community/JDate/ui-modal-over-blurred-bg.png') no-repeat 50% 0%, -moz-linear-gradient(#d7dfe5, #ffffff 25%, #ffffff); background: url('/../../img/Community/JDate/ui-modal-over-blurred-bg.png') no-repeat 50% 0%, -webkit-linear-gradient(#d7dfe5, #ffffff 25%, #ffffff); background: url('/../../img/Community/JDate/ui-modal-over-blurred-bg.png') no-repeat 50% 0%, linear-gradient(#d7dfe5, #ffffff 25%, #ffffff); text-align: center; font-size: 16px; z-index: 1; }
.ie9 .modal-over-blurred { background: #e6ebef url("../img/Community/JDate/ui-modal-over-blurred-bg.png") no-repeat 50% 0%; }
.modal-over-blurred h2 { margin: 0 auto 5px; font: normal 1.75em museo, georgia, palantino, times, serif; color: #936; }
.modal-over-blurred > h3 { padding-top: 8px; color: #000; }
.modal-over-blurred ul { width: 220px; margin: 20px auto 0; list-style-image: url("../img/Community/JDate/ui-checkmark-thin.png"); text-align: left; font-size: .875em; }
.modal-over-blurred li { margin-bottom: 10px; }
.modal-over-blurred .link-primary { display: block; width: 190px; margin: 30px auto 5px; text-decoration: none; font: bold 1.25em Arial, "Helvetica Neue", Helvetica, sans-serif; }
.modal-over-blurred .link-primary:hover { text-decoration: underline; }
.modal-over-blurred .link-primary + a { font-size: .75em; }