﻿/* For new style.101.css file */
body {
	background-color:#f1f1f1;
}
body a:link,body a:visited,
body a:hover,body a:active  {
	color:#BD7945;
}

input[type="submit"], input[type="button"] {
background-color:#9c042a;
} #ie6only .activityButton, #ie6only .primary, #ie6only .btnEditPhoto { background-color:#9c042a; }

input[type="submit"].secondary, input[type="button"].secondary {
    color: #9c042a;
	}
	#ie6only .activityButton.secondary {
        color: #9c042a;
    }

h1, h2 {
	font-family:Trebuchet MS, Arial, sans-serif;
}


#footer, #footer-narrow {
	background-color:#a59498;
	color:#333333;
}
#footer a:link, #footer a:visited,
#footer a:active, #footer-narrow a:link, 
#footer-narrow a:visited, #footer-narrow a:active {
		color:#333333;
}
#min-max-container {
	max-width: 1100px;
	min-width: 1100px;
}