﻿@model Spark.Web.Mobile.CM.ViewData.HomeViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}
<h2 class="page-header home-header"><a href="" data-role="none" class="back-button"></a>Cookie Policy</h2>
<div class="cookie-policy">
    <!-- start of cookie policy -->
  
    <p>
        We use data collection devices such as "cookies" on certain pages of our Websites. "Cookies" are small files placed on your device that assist us in providing customized services. We offer certain features that are only available through the use of a "cookie." These cookies are essential in order to enable you to move around the website and use its features. 
    </p>
    <p>
        In addition, we place cookies that collect information about how you use our website. These cookies aggregate anonymous information regarding how visitors use our site so that we can improve how our website works. For example, it will let us know which pages visitors go to the most or if our visitors are seeing an error page on our site. We also place cookies to remember the choices you make on our site so that we can provide you with a more enhanced and personalized experience.
    </p>
    <p>
        Cookies can also help us provide information which is targeted to your interests. We use this information to determine our members' demographics, interests, and behavior to better understand and serve you and our community. This information may include the URL of the website that you visited prior to our Website (whether this is on our site or not), the URL of the website you next go to (whether this URL is on our site or not), what browser you are using, and your Internet Protocol ("IP") address. 
    </p>
    <p>
        Most of our cookies are "session cookies", meaning that they are automatically deleted from your device at the end of a session. However, some cookies are persistent. This means that those cookies are stored on your device in between your sessions so that we can remember your preferences and choices. 
    </p>
    <p>
        You are always free to decline our cookies if your browser permits. To do this look in the Tools or Preference menu option for your browser. You can also look at the Help menu to learn more information about your specific browser and how it manages cookies. Disabling cookies will restrict your use of our site and affect the way in which it operates. 
    </p>
    <p>
        We use a third party advertising company to serve ads on our behalf across the Internet. That advertising company may also collect anonymous information about your visits to our Websites. This is primarily accomplished through the use of a technology device, commonly referred to as a Web beacon, cookie or an action tag, which is placed on various Web pages within our Websites or in an HTML e-mail that allows the third party advertising company to collect anonymous information. There may also be a number of services offered by external service providers that help you use our Websites. If you choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about you, then their use of your information is governed by their privacy policies, if any.
    </p>
    <p>
        Some of the third party advertisers that we use have their own privacy policies and may allow you to opt out of having your information collected as discussed above. The privacy policies of third party advertisers that we may be using during your use of our services can be found at the following URL(s): 
        <br />
        <a href="http://www.247realmedia.com/privacy.html" target="_blank">http://www.247realmedia.com/privacy.html</a>,
        <br />
        <a href="http://www.valueclickmedia.com/member_privacy.shtml" target="_blank">http://www.valueclickmedia.com/member_privacy.shtml</a>,
        <br />
        <a href="http://www.advertising.com/privacy" target="_blank">http://www.advertising.com/privacy</a><br />
        <a href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">http://www.networkadvertising.org/managing/opt_out.asp</a>
        <br />
        <a href="http://www.adsrvr.org" target="_blank">http://www.adsrvr.org</a>
    </p>
    <p>
        Notwithstanding any other provision in this policy, in visiting this site, a third-party advertiser (or its partners) may place or recognize a unique cookie on your browser. These cookies enable more customized ads, content or services to be provided to you. To trigger these cookies, we may pass an encrypted or “hashed” (non-human readable) identifier corresponding to your email address to a Web advertising partner, who may place a cookie on your computer. No personally identifiable information is on, or is connected to, these cookies. To opt-out of these cookies, please go to <a href="http://www.privacychoice.org/companies">
            www.privacychoice.org/companies
        </a> or <a href="http://www.aboutads.info/choices">www.aboutads.info/choices</a>.
    </p>
    <p>
        By visiting or using the Websites, you may have access to certain third party functionalities and applications that may use tracking technologies to enhance your experience, and provide services and content to you. One of these technologies is a Flash cookie that is embedded in the Adobe Flash Player, which is a web tool that allows rapid development of dynamic content. Adobe Flash cookies may be used in certain situations where we use Flash to provide some content such as video clips or animation and to remember settings, preferences and usage. They are similar to browser cookies (as described herein) but are managed through a different interface than the one provided by your web browser. You may access Flash management tools from <a href="http://www.adobe.com">
            Adobe’s web site
        </a> directly at <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html">
            www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html
        </a>.
        Please note that if you reject all or some cookies, you may not be able to take full advantage of all offerings on the Website or those that require you to “sign in.” 
    </p>
    <!-- end of cookie policy -->
</div>