﻿@model Spark.Web.Mobile.CM.ViewData.HomeViewData
@*@{
    Layout = "../Shared/_PageLayout.cshtml";
}*@
<!doctype html>
@{
    ViewBag.Title = "MobileApp";
}

<!--[if lte IE 7]> <html class="ie ie7 lte9 lte8 lte7 no-js" xml:lang="en" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8 lte9 lte8 no-js" xml:lang="en" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9 lte9 no-js" xml:lang="en" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" xml:lang="en" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<!--<![endif]-->

<head>

    <meta charset="utf-8">

    <title>JDate.com - The Leading Jewish Singles Network! Explore the possibilities.</title>
    <meta name="title" content="Jewish Dating and Jewish Singles &#64; JDate" />
    <meta name="keywords" content="Jewish dating, JDate, Jewish, chat rooms, love, free personals, Jewish singles, personal ads, romance, relationships, marriage, friendship, Jewish single women, online personals, date, relationship, Jewish matchmaking, photo personal ads, meet people, Jewish single men, soul mates, shiduch, Jewish match maker service, reform, conservative, orthodox, hupa, TRI religious, beshert, shidduchim, secular, traditional, synagogues, yeshiva, events, parties" />
    <meta name="classification" content="JDate, Jewish, singles, Jewish singles, chat rooms, love, free personals, dating, personal ads, romance, relationships, marriage, friendship, single women, men, internet, online personals, date, relationship, matchmaking, match, photo personal ads, IM buddies, meet people, soul mates, shiduch, many high quality professionals, match maker service, reform, conservative, orthodox, hupa, TRI religious, beshert, shidduchim, secular, traditional, synagogues, yeshiva, best travel, events, parties, fun jews, clean anonymous" />
    <meta name="author" content="http://www.JDate.com" />
    <meta name="robots" content="all" />
    <meta name="Rating" content="genera" />
    <meta name="Distribution" content="GLOBAL" />
    <meta name="revisit-after" content="1 days" />
    <meta name="verify-v1" content="9m1CDmyZQ6qglJfn5AUTSzRNhkFqJzhNbfZxmjtJV3A=" />
    <meta name="description" content="Meet Jewish singles in your area for dating and romance &#64; JDate.com - the most popular online Jewish dating community." />

</head>
<body>
    <div class="mobile-app-page-content">
        <h1></h1>
        <h1></h1>
        <div class="jdate-section">
            <a href='https://itunes.apple.com/us/app/jdate/id484715536?ls=1&amp;mt=8' target="_blank"><h2></h2></a>
           <a href='https://itunes.apple.com/us/app/jdate/id484715536?ls=1&amp;mt=8' target="_blank"><h1></h1></a>
           <p>With our full-featured iOS app, you can search, browse and IM- straight from your smartphone - you're just a few clicks away!</p>
            <a href="https://itunes.apple.com/us/app/jdate/id484715536?ls=1&amp;mt=8" target="_blank"><h3 class="download-app-itunes"></h3></a>
        </div>

        <div class="divider"></div>

        <div class="jpix-section">
            <a href="https://play.google.com/store/apps/details?id=com.spark.android.jpix" target="_blank"><h2></h2></a>
            <a href="https://play.google.com/store/apps/details?id=com.spark.android.jpix" target="_blank"><h1></h1></a>
      
            <p>A fun complement to our mobile site, JPix was created to give you an easy way to connect on JDate. Browse profiles, send Flirts, and Favorite your top picks in minutes!</p>
            <a href="https://play.google.com/store/apps/details?id=com.spark.android.jpix" target="_blank"><h3 class="download-playstore"></h3></a>
        </div>
        
    </div>   
</body>
</html>
