﻿@model Spark.Web.Mobile.CM.ViewData.HomeViewData   
@{
    Layout = "../Shared/_PageLayout.cshtml";
}

<div class="selfsuspended">
    <div class="logo"></div>
    <h3>Your ChristianMingle Profile has been removed.</h3>
    <p>We hope you're coming back to reactivate it and start meeting new people!</p>

    <a href="/settings/unsuspend" data-ajax="false" data-role="none" class="btn-purple">Reactivate my profile</a>
    
    <a href="/logout" data-ajax="false" data-role="none" class="btn-blue">Log Out</a>

</div>

