﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Landing1.ascx.cs" Inherits="Matchnet.Web.Applications.Registration.Landing1" %>
<%@ Register TagPrefix="uc1" TagName="RegistrationStep" Src="/Applications/Registration/Registration.ascx" %>
<%@ Register TagPrefix="uc1" TagName="ImageRotator" Src="/Framework/Ui/BasicElements/ImageRotator.ascx" %>
<%@ Register TagPrefix="mn" TagName="AdUnit" Src="../../Framework/Ui/Advertising/AdUnit.ascx" %>
<%@ Register TagPrefix="mn" Namespace="Matchnet.Web.Framework" Assembly="Matchnet.Web" %>
 
 BOOYABAAAA
<asp:PlaceHolder ID="phContent" runat="server"/>               