/* element styles */
html{
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
  font-size:medium;
}
body{
  color:$c-body;
  min-height: 100%;
  z-index:1;
  @extend .font-subjects;
}
h1{
  font-weight:normal;
  @extend .font-royalty;
}
a{
  font-weight:bold;
  cursor:pointer;
  outline:none;
  @include hover-link;
  @include link-colors($c-primary, $c-primary, $c-primary, $c-primary, $c-primary);
}
a:focus{
  text-decoration:underline;
  outline:none;
}
ul, ol, dl{
  margin:0;
  padding:0;
  list-style:none;
}