/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-left:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
.editorial .ui-arrows > li, .editorial.ui-arrows > li{
	padding: 0 0 0 12px;
	margin: 0 0 .65em 0;
	list-style-type:none;
	position:relative;
}
.editorial .ui-arrows > li:before,.editorial.ui-arrows > li:before{
	content:"\25B6";
	position:absolute;
	top:0;
	left:0;
	vertical-align:middle;
	display:block;
	font-size:70%;
	color:#333;
}
.editorial .list-paragraphs{
	margin:12px 30px;
	padding:0;
	list-style-type:none;
}
.editorial .list-paragraphs li{
	margin:0 0 1em 0;
	padding:0;
}