@function toggleDirection($direction) {
    @if $direction == left {
		@return right;
	}
    @if $direction == right {
		@return left;
	}
    @if $direction == ltr {
		@return rtl;
	}
    @if $direction == rtl {
		@return ltr;
	}
}