﻿@using RegistrationAdminTool.Models
@model EditScenarioViewModel

@{
    ViewBag.Title = "EditScenario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="frmEditScenario">

 <span style="display:inline-block;"><h2>Edit a Scenario</h2></span><span style="display:inline-block;float:right;"><button type="button" id="btnCopyScenario" style="margin-right: 5px; cursor:pointer;">Copy</button></span>
    
<hr />
<ul class="scenario-name">
    <li>
        <div><strong>Site:</strong></div>
        <div>@Model.SiteName</div>
    </li>
    <li>
        <div><strong>Scenario Name:</strong></div>
        <div>@Html.TextBoxFor(m => m.Name, new { id = "txtScenarioName", style = "width:170px;", maxlength = "30" })<br/>
        <span id="spnScenarioNameError" style="color: red"></span></div>
    </li>
</ul>
<ul class="scenario-desc">
    <li>
        <div><strong>Device Type:</strong></div>
        <div>@Model.DeviceTypeName</div>
    </li>
    <li>
        <div><strong>Description:</strong></div>
        <div>@Html.TextBoxFor(m => m.Description, new { id = "txtDescription", style = "width:500px;", maxlength = "255" })<br/>
        <span id="spnDescriptionError" style="color: red"></span></div>
    </li>
</ul>
<ul class="scenario-desc">
    <li><strong>Splash Template:</strong></li><li>@Html.DropDownList("ddlSplashTemplates", Model.SplashTemplates, new { id = "ddlSplashTemplates" })</li>
    <li><strong>Registration Template:</strong></li><li>@Html.DropDownList("ddlRegistrationTemplates", Model.RegistrationTemplates, new { id = "ddlRegistrationTemplates" })</li>
    <li><strong>Confirmation Template:</strong></li><li>@Html.DropDownList("ddlConfirmationTemplates", Model.ConfirmationTemplates, new { id = "ddlConfirmationTemplates" })</li>
</ul>
    <div style=" clear: both; width:100%;">
        <strong>Available Fields: ** (User Optional)</strong>
        <div id="fields">
            <div id="siteControls">
        
            </div>
        </div>
        
        <div class="scenarioError"> 
            <div id="divPageControlErrors" style="color: red"></div>
            <div id="divCreateError" style="color: red"></div>    
        </div>

        <div id="pages">
            <img id="add-page" src="../../Images/icon-add.png" /><br/>
        </div>
        
        

        <div>
            <a id="editField" rel="#promptEditField">Edit Field</a>
        </div>
        <div>
            <a id="editPage" rel="#promptEditPage">Edit Page
            </a>
        </div>
        @Html.Partial("Controls/EditField")
        @Html.Partial("Controls/EditPage")
        @Html.HiddenFor(m => m.SiteId, new { id = "hdnSiteId" })
        @Html.HiddenFor(m => m.IsActive, new { id = "hdnActive" })
        @Html.HiddenFor(m => m.Weight, new { id = "hdnWeight" })
        @Html.HiddenFor(m => m.DeviceTypeId, new { id = "hdnDeviceTypeId" })
        @Html.HiddenFor(m => m.RegScenarioId, new { id = "hdnScenarioIdForCopy" })
    </div>
    
  <div style="clear:both;"></div>
 <div class="action" style="float: right; margin: 10px 10px 10px 10px;">
     @if(!Model.IsActive)
     { 
        <button type="button" id="btnSaveEditedScenario" style="margin-right: 5px;">Save</button>
     }
     else
     {
         <div id="divPageControlErrors" style="color: red">Active Scenarios may not be edited.</div>
     }
</div>
<div id="ajaxspin">
    <img src="/Images/ajax-loader.gif" alt="Spinner" />
</div>

</form>
@section scripts
{
    
}

<script type="text/javascript">
    $(document).ready(function () {
        spark.CreateScenarioManager.initializeExistingScenario(@Model.RegScenarioId);
        spark.CreateScenarioManager.getControlsForSiteAndDevice(@Model.SiteId , @Model.DeviceTypeId ,  @Model.RegScenarioId);
        @{int x = 1;}
        @foreach (var step in Model.Steps)
        {
            <text>spark.CreateScenarioManager.addExistingPage("pages", @step.StepId, '@step.TitleText', '@step.TipText', '@step.HeaderText');</text>
            foreach(var control in step.Controls)
            {
                <text>spark.CreateScenarioManager.addControlToPage(@control.RegControlSiteID , @x);</text>
                <text>spark.CreateScenarioManager.removeControlFromAvailableList(@control.RegControlSiteID);</text>
            }
            x++;
        }

    });
</script>
