﻿@using RegistrationAdminTool.Models
@model CreateScenarioViewModel

@{
    ViewBag.Title = "NewScenario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="frmNewScenario">
<h2>Create a Scenario</h2>
<hr />
<ul class="scenario-name">
    <li>
        <div><strong>Site:</strong></div>
        <div>@Model.SiteName<br/>
        <span id="spnSiteListError" style="color: red"></span>
        </div>
    </li>
    <li>
        <div><strong>Scenario Name:</strong></div>
        <div><input type="text" id="txtScenarioName" style="width:170px;" maxlength="30"/><br/>
        <span id="spnScenarioNameError" style="color: red"></span></div>
    </li>
</ul>
<ul class="scenario-desc">
    <li>
        <div><strong>Device Type:</strong></div>
        <div>@Model.DeviceTypeName</div>
    </li>
    <li>
        <div><strong>Description:</strong></div>
        <div><input type="text" id="txtDescription" style="width:500px;" maxlength="255" /><br/>
        <span id="spnDescriptionError" style="color: red"></span></div>
    </li>
</ul>
<ul class="scenario-desc">
    <li><strong>Splash Template:</strong> <select id="ddlSplashTemplates" style="width: 200px;"></select></li>
    <li><strong>Registration Template:</strong> <select id="ddlRegistrationTemplates" style="width: 200px;"></select></li>
    <li><strong>Confirmation Template:</strong> <select id="ddlConfirmationTemplates" style="width: 200px;"></select></li>
</ul>
<div style=" clear: both; width:100%;">
    <strong>Available Fields: ** (User Optional)</strong>
    <div id="fields">
        
        <div id="siteControls">
        
        </div>
    </div>
    
    <div class="scenarioError"> 
            <div id="divPageControlErrors" style="color: red"></div>
            <div id="divCreateError" style="color: red"></div>    
        </div>

    <div id="pages">
        <img id="add-page" src="../../Images/icon-add.png" /><br/>

    </div>
    
    <div>
        <a id="editField" rel="#promptEditField">Edit Field</a>
    </div>
    <div>
        <a id="editPage" rel="#promptEditPage">Edit Page
        </a>
    </div>
     @Html.HiddenFor(m => m.SiteId, new { id = "hdnSiteId" })
    @Html.HiddenFor(m => m.DeviceTypeId, new { id = "hdnDeviceTypeId" })
    @Html.Partial("Controls/EditField")
    @Html.Partial("Controls/EditPage")
</div>

<div id="ajaxspin">
    <img src="/Images/ajax-loader.gif" alt="Spinner" />
</div>
</form>
@section scripts
{
}

<script type="text/javascript">
$(document).ready(function () {
    spark.CreateScenarioManager.initializeNewScenario();
    spark.CreateScenarioManager.initializePage();
    spark.CreateScenarioManager.addNewPage("pages");
    spark.CreateScenarioManager.addNewPage("pages");
    spark.CreateScenarioManager.addNewPage("pages");
});
</script>

<div style="clear:both;"></div>
 <div class="action" style="float: right; margin: 10px 10px 10px 10px;">
     <button type="button" id="btnSaveScenario" style="margin-right: 5px;">Save</button>
</div>
