﻿@using RegistrationAdminTool.Models
@model ScenariosViewModel
           
@{
    ViewBag.Title = "Scenarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h2>Scenario Manager</h2>
    <hr />
    <h3>Site</h3>
    @Html.DropDownListFor(m => m.SiteId, Model.Sites, new { id = "siteList" })
    <span><input id="chkShowActive" type="checkbox" checked="checked" /> Active</span>
    <span><input id="chkShowInactive" type="checkbox" checked="checked" /> Inactive</span>
    <span><input id="chkShowFWS" type="checkbox" checked="checked" /> FWS</span>
    <span><input id="chkShowMOS" type="checkbox" checked="checked" /> MOS</span>
    <span><input id="chkShowTOS" type="checkbox" checked="checked" /> TOS</span>
</header>

<div id="scenarios" style="display: none;">
    <table id="scenariosList" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('name');">Name</a></th>
                <th>Preview</th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('device');">Device</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('active');">Active</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('weight');">Weight</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('steps');">Steps</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('created');">Created</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('updated');">Updated</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('splash');">Splash</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('registration');">Registration</a></th>
                <th><a href="#" onclick="return spark.RegAdminManager.SortScenarios('confirm');">Confirm</a></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="ajaxspin">
    <img src="/Images/ajax-loader.gif" alt="Spinner" />
</div>

<!--TODO: THIS DIV WILL BE DELETED LATER AFTER WE MOVE BUTTONS TO DETAILS PAGE, NO LONGER NEEDED-->
<div id="scenarioDetails" style="display: none;">
    <div class="desc">
        <div class="sectionTitle">
            <strong>Description</strong><br />
            <span id="desc"></span>
        </div>
        
    </div>
    <div class="features">
        <div class="sectionTitle">
            <strong>Features & Settings</strong>
        </div>
        <ul>
            <li>
                <div>
                    Name:
                </div>
                <div>
                    <span id="scenarioName"></span>
                </div>
            </li>
            <li class="even">
                <div>
                    Active:
                </div>
                <div>
                    <span id="status"></span>
                </div>
            </li>
            <li>
                <div>
                    Auto Advance:
                </div>
                <div>
                    <span id="autoadvance"></span>
                </div>
            </li>
            <li class="even">
                <div>
                    Device Type:
                </div>
                <div>
                    <span id="deviceType"></span>
                </div>
            </li>
            <li>
                <div>
                    Created By:
                </div>
                <div>
                    <span id="createdBy"></span>
                </div>
            </li>
            <li class="even">
                <div>
                    Last Edited Date:
                </div>
                <div>
                    <span id="editDate"></span>
                </div>
            </li>
            <li>
                <div>
                    Last Edited By:
                </div>
                <div>
                    <span id="editedBy"></span>
                </div>
            </li>
            <li class="even">
                <div class="s">
                    Percent of Traffic:
                </div>
                <div>
                    <span id="split"></span>
                </div>
            </li>
            <li>
                <div>
                    URL:
                </div>
                <div>
                    <div id="url"></div>
                </div>
            </li>
            <li class="even">
                <div>
                    # of Pages:
                </div>
                <div>
                    <span id="pageCount"></span>
                </div>
            </li>
            <li>
                <div> 
                    # of Fields:
                </div>
                <div>
                    <span id="fieldCount"></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="action">
        <button type="button" id="btnActivateScenario">Activate</button>
        <button type="button" id="btnDeactivateScenario">Deactivate</button>
        <!--<button type="button" id="btnNewScenario">New</button><br />-->
        <button type="button" id="btnEditScenario">Edit</button>
        <button type="button" id="btnCopyScenario">Copy</button>
        <button type="button" id="btnRemoveScenario">Remove</button>
        <button type="button" id="btnPreviewScenario">Preview</button>
    </div>
    <input type="hidden" id="regScenarioId" />
    
    
</div>

<div class="modal" id="promptEditActive">
    <h2 id="confirmMessage"></h2>
    <div id="divEditActiveError" style="color: red"></div>
    <div class="action">
        <button type="button" id="btnCancelActive">Cancel</button>
        <button type="button" id="btnSaveActive">OK</button>
    </div>
    <input type="hidden" id="closePromptEditActive" />
    <input type="hidden" id="editActiveSelectedWeight"/>
    <input type="hidden" id="editActiveSelectedScenarioID" />
    <input type="hidden" id="editActiveSelectedIsCurrentlyActive" />
    <input type="hidden" id="editActiveSelectedDeviceTypeID" />
</div>


<div class="modal" id="promptEditWeights">
    <h2>Update weights for Active Scenarios</h2>
    
    <table id="scenariosWeightList" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Device</th>
                <th>Active</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="divEditWeightError" style="color: red"></div>
    <div class="action">
        <button type="button" id="btnCancelWeights">Cancel</button>
        <button type="button" id="btnSaveWeights">Save</button>
    </div>
    <input type="hidden" id="closePromptEditWeights" />
    <input type="hidden" id="editWeightSelectedScenarioID" />
    <input type="hidden" id="editWeightSelectedIsCurrentlyActive" />
    <input type="hidden" id="editWeightSelectedDeviceTypeID" />
</div>

    @section scripts
{

    }

    <script type="text/javascript">

        $(document).ready(function () {

            $('#siteList').change(function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#chkShowActive').live("click", function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#chkShowInactive').live("click", function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#chkShowFWS').live("click", function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#chkShowMOS').live("click", function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#chkShowTOS').live("click", function () {
                spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);
            });

            $('#btnCancelWeights').click(function () {
                spark.RegAdminManager.clearEditActiveConfirmationValues();

                $('#closePromptEditWeights').lightbox_me();
                $('#closePromptEditWeights').trigger('close');
            });

            $('#btnSaveWeights').click(function () {
                spark.RegAdminManager.saveWeights();
            });

            $('#btnCancelActive').click(function () {
                spark.RegAdminManager.clearEditActiveConfirmationValues();

                $('#closePromptEditActive').lightbox_me();
                $('#closePromptEditActive').trigger('close');
            });

            $('#btnSaveActive').click(function () {
                spark.RegAdminManager.saveEditActive($("#editActiveSelectedScenarioID").val(), $("#editActiveSelectedDeviceTypeID").val(), $("#editActiveSelectedIsCurrentlyActive").val(), $("#editActiveSelectedWeight").val());
            });

            $(document).on('blur', '.weight-scenarios', function(){
                if ($.isNumeric($(this).val())){
                    var weight = parseFloat($(this).val());
                    var weightFixed = parseFloat($(this).val()).toFixed(2);
                    if (weight >= 0){
                        if (weight != weightFixed){
                            $(this).val(parseFloat(weight).toFixed(2));
                        }                    
                    }
                    else{
                        $(this).val("0");
                    }
                }
                else{
                    $(this).val("0");
                }

                var total = 0;
                $('.weight-scenarios').each(function(){
                    total += parseFloat($(this).val());
                });
                $('#scenarioWeightTotal').text(total);
            });

            spark.RegAdminManager.loadScenariosForSite(spark.RegAdminManager.currentSort, spark.RegAdminManager.currentSortDirection);

        });

    </script>


    <script id="scenarioListItemTemplate" type="text/template">
        <tr>
            <td><a href="/editscenario/{{id}}">{{name}}</a></td>
            <td><a href="{{preview}}" target="_blank">Preview</a></td>
            <td class="{{deviceType}}">{{deviceType}}</td>
            <td><a href="#" onclick="return spark.RegAdminManager.loadEditActiveConfirmation({{id}},'{{nameEscaped}}',{{deviceTypeID}},{{isActive}},{{weight}});">{{active}}</a></td>
            <td><a href="#" onclick="return spark.RegAdminManager.loadEditWeightsForSite({{id}},{{deviceTypeID}},{{isActive}});">{{weight}}</a></td>
            <td>{{steps}}</td>
            <td>{{created}}</td>
            <td>{{updated}}</td>
            <td>{{splashTemplate}}</td>
            <td>{{registrationTemplate}}</td>
            <td>{{confirmationTemplate}}</td>
        </tr>
    </script>

    <script id="scenarioWeightListItemTemplate" type="text/template">
        <tr>
            <td>{{name}}</td>
            <td class="{{deviceType}}">{{deviceType}}</td>
            <td>{{active}}</td>
            <td>
                <input id="hidWeightScenarioid" type="hidden" value="{{id}}" class="weight-scenario-ids" />
                <input id="hidWeight{{id}}" type="hidden" value="{{weight}}" />
                <input id="txtWeight{{id}}" type="text" value="{{weight}}" class="weight-scenarios"  />
            </td>
        </tr>
    </script>

    <script id="scenarioWeightTotalTemplate" type="text/template">
        <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td><span id="scenarioWeightTotal">{{total}}</span></td>
        </tr>
    </script>
