﻿@model Spark.Web.Mobile.CM.ViewData.SearchViewData
@{
    Layout = "../Shared/_SearchLayout.cshtml";
}

<ul class="generic-list">
    @foreach (var profile in Model.Results.Members)
    {
        <li data-memberid="@profile.Id">
            <a data-role="none">
                <img src="@profile.DefaultPhoto.ThumbPath" alt="@profile.Username" />
                <span>@profile.Username</span>
            </a>
        </li>
    }
</ul>

