﻿<footer role="siteinfo">
    <div class="footer-container">
        <nav>
            <ul class="horizontal-list cf">
                <li><a href="http://@ViewBag.BedrockHost/singles/">Meet Adventist Singles</a></li>
                <li><a href="http://@ViewBag.BedrockHost/contact.html">Contact</a></li>
                <li><a href="http://@ViewBag.BedrockHost/about.html">About</a></li>
                <li><a href="http://@ViewBag.BedrockHost/faq.html">FAQ</a></li>
                <li><a href="http://@ViewBag.BedrockHost/safety.html">Adventist Singles Online Safety</a></li>
                <li><a href="http://@ViewBag.BedrockHost/">Adventist Dating</a></li>
                <li><a href="http://@ViewBag.BedrockHost/account/gift/">Gift Subscription</a></li>
                <li><a href="https://affiliates.spark.net/en/">Affiliates</a></li>
                <li><a href="http://www.spark.net/advertise.asp">Advertise With Us</a></li>
            </ul>
            <ul class="horizontal-list cf">
                <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#privacy_policy">Privacy</a></li>
                <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#service_terms">Terms of Service</a></li>
                <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#service_terms">Terms of Service</a></li>
                <li><a href="http://@ViewBag.BedrockHost/ourip.html">Our IP</a></li>
                <li><a href="http://@ViewBag.BedrockHost/sitemap.html">Site Map</a></li>
            </ul>
        </nav>
        <p class="copyright">
            Copyright © <span id="theYear">2015</span> Spark Networks<sup>®</sup> USA, LLC. All rights reserved.<br />
            Spark Networks USA, LLC is a wholly-owned subsidiary of Spark Networks, Inc., a NYSE MKT Company (<a href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV" target="_blank">LOV</a>).
        </p>
        <p class="disclosure">
            SPARK NETWORKS USA, LLC DOES NOT CONDUCT BACKGROUND CHECKS ON THE
            MEMBERS OR SUBSCRIBERS OF THIS WEBSITE. HOWEVER, THE SAFETY AND SECURITY
            OF OUR MEMBERS IS OUR TOP PRIORITY. WE URGE ALL MEMBERS TO FOLLOW OUR <a target="_blank" href="http://www.adventistsinglesconnection.com/safety.html">ONLINE SAFETY TIPS</a>.
        </p>
        <p class="legal">
            Spark Networks USA, LLC and <a href="http://www.adventistsinglesconnection.com/">www.adventistsinglesconnection.com</a>
            are not affiliated with the General Conference of Seventh-day
            Adventists or any entity of the Seventh-day Adventist Church®
            organization. The views expressed on this Web site and in other Spark or
            AdventistSinglesConnection sponsored media do not necessarily represent
            the Seventh-day Adventist® Church. For the official website of the
            Seventh-day Adventist church, please see <a href="http://www.adventist.org/">http://www.adventist.org/</a>.
        </p>
    </div>
</footer>