﻿@{
    ViewBag.Title = "Adventist Singles Connection -- we bring singles together.";
}

<!doctype html>
<!--[if lte IE 7]> <html class="ie ie7 lte9 lte8 lte7 no-js" xml:lang="en" lang="en" dir="ltr"> <![endif]--> 
<!--[if IE 8]> <html class="ie ie8 lte9 lte8 no-js" xml:lang="en" lang="en" dir="ltr"> <![endif]--> 
<!--[if IE 9]> <html class="ie ie9 lte9 no-js" xml:lang="en" lang="en" dir="ltr"> <![endif]--> 
<!--[if (gte IE 10)|!(IE)]><!--><html class="no-js" xml:lang="en" lang="en" dir="ltr"><!--<![endif]--> 

<head>
	<meta charset="utf-8">
@* DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/ *@
@{
  if (ViewBag.DNSPrefetch != null) {
    foreach (var dns in ViewBag.DNSPrefetch) {
      <link rel="dns-prefetch" href="//@dns" />
    }
  }
}
	<title>@ViewBag.Title</title>
    @if (IsSectionDefined("HeadUI")) {
        @RenderSection("HeadUI")
    }
    else {
        @Html.Partial("_MetaTags")
        <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.css")" />
        
	    @* All JavaScript at the bottom, except this Modernizr build *@
	    <script src="@Url.Content("~/RegContent/Scripts/Libs/modernizr.2.6.custom.js")"></script>
    }
@{
     @* Facebook pixel *@
    if (ViewBag.FacebookPixel != null)
    {
    <script>
        (function () {
           window._fbds = window._fbds || {};
           _fbds.pixelId = 275022532663910;
           var fbds = document.createElement('script');
           fbds.async = true;
           fbds.src = '//connect.facebook.net/en_US/fbds.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(fbds, s);
           })();
           window._fbq = window._fbq || [];
           window._fbq.push(["track", "PixelInitialized", {}]);
    </script>
    <noscript>
        <img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=275022532663910&amp;ev=NoScript" />
    </noscript>
    }
}
</head>

<body class="@ViewBag.BodyClass">

@RenderBody()

@if (IsSectionDefined("BottomJavaScript"))
{
    @RenderSection("BottomJavaScript")
}

@if (IsSectionDefined("IE6Chromeframe"))
{
    @RenderSection("IE6Chromeframe")
}
else
{
    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
}

</body>
</html>
