﻿<meta name="title" content="TODO" />
<meta name="keywords" content="Jewish dating, JDate, Jewish, chat rooms, love, free personals, Jewish singles, personal ads, romance, relationships, marriage, friendship, Jewish single women, online personals, date, relationship, Jewish matchmaking, photo personal ads, meet people, Jewish single men, soul mates, shiduch, Jewish match maker service, reform, conservative, orthodox, hupa, TRI religious, beshert, shidduchim, secular, traditional, synagogues, yeshiva, events, parties" />
<meta name="classification" content="JDate, Jewish, singles, Jewish singles, chat rooms, love, free personals, dating, personal ads, romance, relationships, marriage, friendship, single women, men, internet, online personals, date, relationship, matchmaking, match, photo personal ads, IM buddies, meet people, soul mates, shiduch, many high quality professionals, match maker service, reform, conservative, orthodox, hupa, TRI religious, beshert, shidduchim, secular, traditional, synagogues, yeshiva, best travel, events, parties, fun jews, clean anonymous" />
<meta name="author" content="http://www.JDate.com" />
<meta name="robots" content="all" />
<meta name="Rating" content="genera" />
<meta name="Distribution" content="GLOBAL" />
<meta name="revisit-after" content="1 days" />
<meta name="description" content="TODO" />

<link rel="shortcut icon" type="image/ico" href="@Url.Content("~/RegContent/Images/favicon.ico")">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width">