﻿<style>
     .footer-links li {
         display: inline-block;
         font-size: 13px;
     }
     .legal-copyright {
         font-weight: normal;
         font-size: 10px;
         text-align: center;
     }
    
     .bg-check {
         text-align: center;
         font-size: 13px;
     }
    
 </style>
<br/>
<br/>
<footer data-role="footer" data-theme="e">
    <div data-role="navbar" role="navigation">
        
    </div>
    <p class="legal-copyright">Copyright &copy; @DateTime.Now.Year Spark Networks&reg; USA, LLC. <span class="no-br">All rights reserved.</span></p>
    <p class="bg-check">
        Spark Networks USA, LLC does not conduct background checks on the members or subscribers of this website. However, the safety and security of our members is our top priority. We urge all members to follow our <a href="http://m.jdate.com/home/safety/" target="_blank"><span style="font-weight:bold;text-decoration:underline; color: gray;">online dating tips</span></a>.
    </p>
</footer>