﻿<footer role="siteinfo">
    <p class="legal-copyright editorial">Copyright © @DateTime.Now.Year Spark Networks® USA, LLC. All rights reserved.<br>Spark Networks USA, LLC is a wholly-owned subsidiary of Spark Networks, Inc., a NYSE MKT Company (<a href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV" target="_blank">LOV</a>)</p>
    <p class="legal-background-checks"><b>Spark Networks USA, LLC does not conduct background checks on the members or subscribers of this website. However, the safety and security of our members is our top priority. We urge all members to follow our <a href="http://m.jdate.com/home/safety/" target="_blank"><span style="font-weight:bold;text-decoration:underline;">online safety tips</span></a></b>.</p>
</footer>