.ui-field-contain, .ui-mobile fieldset.ui-field-contain{
  border-width: 0px;
}











//.ui-header .logo-header { margin: 4px 90px 0; }

//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//  .ui-header h1.ir.ui-title {
//      -moz-background-size: 40px 28px;
//    -o-background-size: 40px 28px;
//    -webkit-background-size: 40px 28px;
//    background-size: 40px 28px;
//    background-image: url(../images/logo-small-hires.png);
//  }
//}
//.page-title .ui-title { margin: 6px 0 4px; }

//.dlform dt { font-weight: bold; margin: 0 0 .3em; }
//.dlform dd { margin: 0 0 12px; padding: 0; }
//@media (min-width:480px) {
//  .dlform dt {
//    display: inline-block;
//    margin: 0 2% 12px 0;
//    width: 30%;
//    vertical-align: top;
//  }
//  .dlform dd {
//    display: inline-block;
//    width: 60%;
//    white-space: normal;
//    margin: 0 0 12px 0;
//    vertical-align: top;
//  }
//}
//.ui-collapsible-content {
//  background: #ffffff;
//  margin: 0 -6px;
//  padding: 10px 16px;
//}

//.ui-icon.ui-icon-custom { background-image: url(../images/icons-custom.png); }
//.icon-profile .ui-icon, .ui-icon.icon-profile   { background-position: -5px center; }
//.icon-flirt .ui-icon,   .ui-icon.icon-flirt     { background-position: -45px center; }
//.icon-email .ui-icon,   .ui-icon.icon-email     { background-position: -85px center; }
//.icon-question .ui-icon, .ui-icon.icon-question { background-position: -165px center; }
//.ui-icon.message-status { right: 38px; background-color: rgb(153, 51, 102); }
//.ui-icon.icon-facebook { 
//    background-position: -234px center; 
//    background-color:transparent; 
//    border-radius:0px; 
//    display:inline-block; 
//    width:32px; 
//    height:32px;  
//    vertical-align:middle;
//}

//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//  .ui-icon.ui-icon-custom {
//    -moz-background-size: 400px 32px;
//    -o-background-size: 400px 32px;
//    -webkit-background-size: 400px 32px;
//    background-size: 400px 32px;
//    background-image: url(../images/icons-custom-hires.png);
//  }
//}

//.main-footer {
//  padding: 0 0 15px;
//  font-size: 12px;
//  font-weight: normal;
//  color: #666666;
//  text-align: center;
//}
//.main-footer.ui-bar-a { color: #aaaaaa; }
//.main-footer p, .main-footer .footer-links { margin: 0 15px; }
//.main-footer .footer-links {
//  list-style: none;
//  padding: 0;
//  margin-top: 15px;
//  margin-bottom: 8px;
//}
//.footer-links li { display: inline-block; margin: 0 1em 0 0; }
//.footer-links li:last-child { margin: 0; }
//.footer-links li a.ui-link { color: #666666; }
//.main-footer .bg-check { font-weight: bold; text-transform: uppercase; }
//.main-footer div[data-role="navbar"] { border-bottom: 1px solid #d9d9d9; }
//.main-footer div[data-role="navbar"] .ui-btn-inner {
//    padding: .3em 8px .4em;
//    color: #666666;
//}

//.m_login .ui-content{ padding-top: 5px; }
///*div[data-role="page"] > div[data-role="navbar"]{
//    width: 100%;
//    background: #0F3258;
//}*/

//div[data-role="dialog"] div.ui-header{
//    display: none;
//}
//.ui-dialog header .ui-btn-right {
//    visibility: hidden;
//}


//.ui-dialog footer { display: none; }
//.small { font-size: 13px; }
//.tagline { display:inline-block; font-size:12px; }
//.taglineitalic { display:inline-block; font-size:12px; font-style:italic; width: 200px;top:-15px; }
//input ~ .tagline { margin-bottom:0; }

///* Page - Index */
//.m_home .ui-header h1.ir.ui-title {
//    cursor: default;
//}
//.m_home header .ui-btn-right {
//    visibility: hidden;
//}
//.m_home div[data-role="content"] {
//    padding-top: 0;
//}
//.m_home div[data-role="content"] .ui-btn:first-child {
//    margin-top: 15px;
//}
//.m_home .ui-li-count.new {
//  background: #993366;
//  color: #ffffff;
//  border-color: #993366;
//  text-shadow: 0 -1px 1px black;
//}
//.m_home .total-count {
//    font-weight: normal;
//    color: #666666;
//    display: inline-block;
//    margin-left: .6em;
//}
//.m_home .total-count, .m_home .new, .m_home .message-status {
//    visibility: hidden;
//}
//#rememberMe-fieldset {
//    margin: 5px auto 15px;
//    font-size: 12px;
//}
//#rememberMe-fieldset .ui-checkbox {
//    display: inline-block;
//    min-width: 80%;
//    vertical-align: top;
//}
//#rememberMe-fieldset .icon-question {
//    vertical-align: top;
//}

//li.homelink-uploadphoto.uploadable > div
//{
//    background: transparent url('../images/icon_new_photo_upload.png') no-repeat left top;
//}

//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//        li.homelink-uploadphoto.uploadable > div
//        {
//           -moz-background-size: 25px 25px;
//           -o-background-size: 25px 25px;
//       -webkit-background-size: 25px 25px;
//       background-size: 25px 25px;
//           background: transparent url('../images/icon_new_photo_upload@2x.png') no-repeat left top;
//        }
//}

///*FB interstitial */
//.m_fbreg_interstitial_centerbutton 
//{
//    margin-left: auto; margin-right:auto; width:200px; top:-25px; position:relative; 
//}

///* Page - Login Page */
//#home-header {
//  text-align:center;
//}
//#home-header .logo-header {
//  margin: 15px auto 0;
//  width: 182.759px;
//  height: 106px;
//  background: url('../images/logo-large.png') center center no-repeat;
//  background-size:100%; 100%; 
//}
//.m_login .ui-field-contain {
//    padding: 0;
//    border: none;
//}
//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//  #home-header .logo-header {
//    background-image: url(../images/logo-large-hires.png);
//    -moz-background-size:  182.759px 106px;
//    -o-background-size:  182.759px 106px;
//    -webkit-background-size:  182.759px 106px;
//    background-size:  182.759px 106px;
//  }
//}





//@media (min-width:480px)
//{
    
//   /*
//    .
//  .m_login .ui-content form {
//    max-width: 360px;
//    margin: 0 auto;
//  }
//  .m_login .ui-content a {
//    margin-left: 5px;
//    margin-right: 5px;
//  }
//  .m_login #rememberMe-fieldset {
//      width: 45%;
//      margin-left: 22%;
//      top:10px;
//  }
  
  
//     .m_login #mainloginbutton
//    {
//    max-width:90px; max-height:44px; float:right; right:8px;top:-100px; 

//    }
//*/
   
//   .m_login #mainloginbutton
//    {
       
//    position: absolute;
//    right:80px;
    
   

//    }
   
//    .m_login #rememberMe-fieldset{
//        float:left;
//        height:44px;
//        top:-15px;
//    }
    
//    .m_login #rememberMe-fieldset .ui-checkbox label 
//    {
//    height:25px; font-size:10px; font-weight:bolder;  margin-top:12px; right:-10px; 
    
//    }
//    .m_login #rememberMe-fieldset .ui-checkbox {
//        min-width:20%;
        
//    }
//    .m_login #rememberMe-fieldset + .ui-btn{
       
//        width:25%;
//    }
//    .m_login #rememberMe-fieldset + .ui-btn .ui-btn-inner { padding-right:10px; padding-left:10px; padding-top:0.6em; padding-bottom: 0.6em;}
//    .m_login #register-button {
//        clear:both;
//    }
    


    
       
    
//}


//@media (max-width:479px) {
//    /* adjust login button locaion next to remember me */
//   .m_login #mainloginbutton
//    {
//    max-width:90px; max-height:44px; float:right; right:8px;top:2.5px; 

//    }
   
//    .m_login #rememberMe-fieldset{
//        float:left;
//        height:44px;
//    }
    
//    .m_login #rememberMe-fieldset .ui-checkbox label 
//    {
//    height:25px; font-size:10px; font-weight:bolder;  margin-top:12px; right:-10px; 
    
//    }
//    .m_login #rememberMe-fieldset .ui-checkbox {
//        min-width:20%;
        
//    }
//    .m_login #rememberMe-fieldset + .ui-btn{
       
//        width:25%;
//    }
//    .m_login #rememberMe-fieldset + .ui-btn .ui-btn-inner { padding-right:10px; padding-left:10px; padding-top:0.6em; padding-bottom: 0.6em;}
//    .m_login #register-button {
//        clear:both;
//    }
    





//}

//.m_fbreg_step_2 #regFormDivContainerdiv div.ui-controlgroup-label
//{
    
// min-width:300px;   
    
    
//}

//.m_fbreg_step_2 #regFormDivContainer div.ui-controlgroup-controls 
//{
//   margin-top:-15px; 
    
    
//}

//.m_fbreg_step_2 #formHorizontalRule
//{
//margin-top:10px;  border-top: 1px solid rgba(130, 130, 130, 0.3);
//z-index:10; 

//}

//.m_fbreg_step_1 #fbRegRevisedToggles
//{
    
// min-width:300px;   
    
    
    
//}



//.m_fbreg_step_1 #fbRegRevisedToggles .ui-content .ui-field-contain label.ui-select, .ui-content .ui-field-contain label.ui-slider, .ui-content .ui-field-contain label.ui-input-text, .ui-content .ui-field-contain .ui-controlgroup-label {
//     display: inline-block;
//    width: 30%;
//}

//.m_fbreg_step_1 #fbRegRevisedToggles fieldset .ui-controlgroup-controls
//{
  
//    display: inline-block;
//    width:59%;
//    top:12px;
//}   
    
//    .m_login #mainloginbutton .ui-btn
//    {
//        float:right;
//    }
    




//.m_login #registrationHorizontalRule
//{
//margin-top:60px;  border-top: 1px solid rgba(130, 130, 130, 0.3);
//z-index:10; 

//}

//.m_login #footerHorizontalRule
//{
//margin-top:10px;  border-top: 1px solid rgba(130, 130, 130, 0.3);
//z-index:10; 

//}

//.m_login #login-button {
//  margin-top: 15px;
//}

//.m_login #facebook-button .ui-btn-inner { padding:.2em 20px; }

//#m_login_forgotlink {font-size:12px; font-weight:700; color:Black; text-decoration:none; right:95px;}

//.full-site, .secondary-links {
//  margin: 15px;
//  text-align: center;
//}
//.secondary-links {
//  list-style: none;
//  margin-bottom: 0;
//  padding: 0;
//}
//.secondary-links li {
//  margin: 0 15px;
//  padding: 0;
//  display: inline-block;
//}

//.m_reg_step_1 header a, .m_reg_step_2 header a, .m_reg_step_3 header a { /* display: none; */ }
//#registration-dob-container div.ui-select:nth-of-type(2) {
//    width: 45%;
//  display: inline-block;
//}
//#registration-dob-y {
//    width: 40%;
//  display: inline-block;
//}
//#registration-offers-label .ui-btn-inner,
//#registration-terms-label .ui-btn-inner {
//  white-space: normal;
//}
//#registration-terms-link {
//  text-align:center;
//}
//@media (max-width:480px) {
//  #search-preferences-minage-label,
//  #search-preferences-maxage-label { display:inline-block; width: 15%; }

//  .search-preferences-gender .ui-controlgroup-label,
//    .search-preferences-age label,
//    .search-preferences-options label.ui-slider { display: inline-block; width: 36%; vertical-align:top; }
//    .search-preferences-gender .ui-controlgroup-controls { display: inline-block; width: 62%; white-space: nowrap; }
//  .search-preferences-gender .ui-btn-inner { padding-left:20px; padding-right:20px; }

//    .search-preferences-age input[type="number"] { display:inline-block; width:25%; }
//    .search-preferences-age  div.ui-slider { width: 35%; }
//    .search-preferences-age fieldset { border: none; padding: .1em 0; }

//    .search-preferences-options div.ui-slider { width: 25%; }
//    .search-preferences-options label.ui-slider { width:45%; margin-right:4%; }
//    .search-preferences-options fieldset.ui-field-contain { border: none; padding: 0; }

//  #registration-dob-container label.ui-select,
//  #edit-dob-container label.ui-select { display: block; }

//}
//@media (min-width:480px) {
//    /*#registration-dob-container div.ui-select:first-of-type {  
//        width: 60%;
//    }*/
//    #registration-dob-container div.ui-select:nth-of-type(2) {
//        width: 25%;
//        margin-left: 22%
//    }
//    #registration-dob-y {
//        width: 35%;
//    }
//}

///* Page - Registration */
//.registration .ui-header h1.ir.ui-title{ cursor: default; }
//.registration label.compact { display:none; }
//.registration fieldset { border: none; }

//#compactWholePageWrapper {
//  padding: 0px 0px 0px 0px;
//  text-align: center;
  
  
//  /* BACKGROUND GRADIENT */
//  background: #fefefe; /* Old browsers */
//  background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #e6e6e6)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); /* IE10+ */
//  background: linear-gradient(top, #fefefe 0%, #e6e6e6 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6', GradientType=0 ); /* IE6-9 */

///* BACKGROUND GRADIENT END*/
//}


//.linkTextSubscribeNow {font-size:13.5px; font-weight:bold; text-align:center; margin-top:-10px;}
//.homePageButton{width:80%; margin-left:auto; margin-right:auto; top:15px;}
//#nowText {top:-10px;}
//.smallerText {
//  font-size: 13.5px;
//  margin-top:-80px; 
//  width:80%; margin-left:auto; margin-right:auto;
  
//}
//.compactList {
//  margin: -15px 0px 0px 0px;
//}
//.compactHeader {
//  margin: -35px 0 -22px 0;
//}
//.dualSpacedLine {
//  line-height: 150%;
//}
//.compactSecondaryHeader {
//  margin: -20px 0 -20px 0;
//  width:100%; 
//  text-align: center;
//  font-size: 12.5px;
//  font-weight: bold;
//}
//.compactLineBreak {
//  height: 9px;
//}
//.centeredText {
//  text-align: center;
//}
//.compactListWrapper {
//  width: 300px;
//}
//.lineBreakAdjustableHeight {
//  line-height: 24px;
//}
//.lineBreakAdjustableHeightSmaller {
//  line-height: 14px;
//}
///* Page - Inbox */
//.page-refreshable .ui-listview { margin-bottom: 15px; }
//.btn-showMore, .no-refresh { display: none; }
//.no-refresh, .confirmation { text-align: center; }
//.no-refresh { margin: 15px 0; }
//.confirmation { margin-bottom: 15px; }
//.allaccess:after {
//  content: "AllAccess";
//    display: block;
//    position: absolute;
//    top: 0;
//    height: 17px;
//    line-height: 17px;
//  background-color: rgb(153, 51, 102);
//  padding: 0 8px 0 12px;
//  font-size: 11px;
//  color: #ffffff;
//  text-align: right;
//  right: 0;
//  border-radius: 0 0 0 6px;
//  text-shadow: none;
//}

///* Page - Email */

//.m_mail_email form > fieldset.ui-field-contain {
//    border: none;
//    padding: 0;
//}

///* Page - Profile */
//.report-concern {
//  text-align: center;
//  padding: 10px;
//}
//.timestamp {
//  font-size: 13px;
//}
//.profile-top {
//  margin-bottom: 15px;
//}
//.profile-top h2 {
//  margin: 0;
//}
//.m_profile .ui-content h4 {
//  border-bottom: 1px solid #cccccc;
//}
//.m_profile .ui-collapsible-content h4:first-child {
//  margin-top: 4px;
//}
//.profile-photo-container {
//  margin: 0 -15px 15px;
//  text-align: center;
//  font-size: 11px;
//}
//.profile-photo-list {
//    display: none;
//}
//.profile-photo-m {
//  max-height: 200px;
//}
//.profile-photo-container .profile-photo-m {
//  display: block;
//  margin: 0 auto 8px;
//  max-width: 100%;
//}
//.profile-communication > a:first-child {
//  margin-bottom: 0;
//}
//.icon-favorite.selected  .ui-icon {
//    background-color: #993366;
//    box-shadow: 0 0 3px rgba(256,256,256,.8);
//}
//.no-answer {
//    color: #999999;
//    font-style: italic;
//}

//.m_my_profile .profile-photo-container > a > img {
//    margin-bottom: 15px;
//}

//.managePhotoButtonClass {
//    color: #fff !important;
//    padding: 10px !important;
//    margin-bottom:5px;
//}

//@media (min-width:480px) {
//    .profile-photo-container,
//    .profile-top {
//      display: inline-block;
//        margin-left: 0;
//      margin-right: 15px;
//      vertical-align: middle;
//    }
//    .profile-photo-container {
//        max-width: 30%;
//        margin-bottom: 25px;
//    }
//    .profile-photo-m {
//        max-width: 100%;
//    }
//    .profile-top {
//        width: 50%;
//    }
//}

///* Page - Photolist */

///* photo unapproved */

//.m_photolist ul#ul-photolist > li.list-unapproved > div > div > a > div {
//    background: rgba(0,0,0,.60);
//    width: 100%;
//    height: 100%;
//    padding-bottom: 1px;
//    position: absolute;
//    left: 0;
//    top: -1px;
//    z-index: 500;
//    text-align: center;
//}

//.m_photolist ul#ul-photolist > li.list-unapproved > div > div > a > div > p {
//    font: normal normal normal 16px helvetica, arial, sans-serif;
//    color: #fff;
//    margin-left: -65px;
//    position: relative;
//    top: 37px;
//    text-shadow: 0 1px 1px #333;
//}

//.m_photolist ul#ul-photolist > li.list-unapproved, .m_photolist ul#ul-photolist > li.list-approved {
//    border:1px solid #ccc;
//    background:#eee;
//    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
//    background-image:-webkit-linear-gradient(#fff,#f1f1f1);
//    background-image:-moz-linear-gradient(#fff,#f1f1f1);
//    background-image:-ms-linear-gradient(#fff,#f1f1f1);
//    background-image:-o-linear-gradient(#fff,#f1f1f1);
//    background-image:linear-gradient(#fff,#f1f1f1)
//}

///* add the icons to buttons */
//.m_photolist .ui-btn-inner + .ui-li-link-alt > .ui-btn-inner {
//   background:  rgba(255, 255, 255, 0.4) url(../images/icon_photo_edit.png) no-repeat 50% 50% !important;
//}

//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//    .m_photolist .ui-btn-inner + .ui-li-link-alt > .ui-btn-inner {
//      -moz-background-size: 23px 21px;
//    -o-background-size: 23px 21px;
//    -webkit-background-size: 23px 21px;
//    background-size: 23px 21px;
//       background:  rgba(255, 255, 255, 0.4) url(../images/icon_photo_edit@2x.png) no-repeat 50% 50% !important;
//    }
//}
//    .m_photolist div.ui-content > a > span > span.ui-icon {
//        background: transparent url("../images/btn_icon_photo_upload.png") no-repeat 50% 50% !important;
//        width: 40px;
//        height: 45px;
//        top: 20px;
//        left: 50%;
//        margin-top: -15px;
//        margin-left: -90px;
//        box-shadow: none;
//    }

//    .m_photolist div.ui-content > div.ui-content > a.ui-btn > span.ui-btn-inner {
//        border: none;
//        width: 200px;
//        margin: 7px auto -15px auto;
//        padding: 10px 0 0 0;
//        font-size: 22px;
//        line-height: 18px;
//        overflow: visible;
//    }
    
//    .m_photolist div.ui-content > a > span 
//    {
//        text-align: left;
//        padding-left: 100px;
//    }
    
//    .m_photolist div.ui-content > a > span > span.ui-btn-text 
//    {
//       padding-top: 25px;
//       margin-left: 50px;
//    }

//    .m_photolist div.ui-content > a > span > span.ui-btn-text > .photocount 
//    {
//        margin-left: 55px;
//        font-size: 12px;
//        color: #fff;
//      text-shadow: 0 -1px 1px #000;
//    }

//    .m_photolist div.ui-content > a.btn-UploadAPhotoLimitReached > span > span.ui-btn-text > .photocount 
//    {
//        font-size: 12px;
//        color: #fff;
//      text-shadow: 0 -1px 1px #000;
//    }
    
//    /* photo limit reached - disable upload */

//    .m_photolist div.ui-content > div.ui-content > a.btn-UploadAPhotoLimitReached 
//    {
//  border: 1px solid #222;
//  background: #96b1cc;
//    color: #999;
//  font-weight: bold;
//  text-shadow: 0 1px 1px #fff;
//  background-color: #000;
//  background-image: -moz-linear-gradient(bottom, #999 28%, #ccc 80%);
//  background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0.28, #999), color-stop(.8, #ccc));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', EndColorStr='#999')";
//    }
    
//    .m_photolist div.ui-content > a.btn-UploadAPhotoLimitReached > span > span.ui-icon 
//    {
//        background: transparent url("../images/btn_icon_photo_upload_disabled.png") no-repeat 50% 50% !important;
//    }

//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi) {
//       .m_photolist div.ui-content > a > span > span.ui-icon {
//           -moz-background-size: 40px 45px;
//           -o-background-size: 35px 40px;
//       -webkit-background-size: 35px 40px;
//       background-size: 35px 40px;
//           background: transparent url(../images/btn_icon_photo_upload@2x.png) no-repeat 50% 50% !important;
//       }
       
//       .m_photolist div.ui-content > a.btn-UploadAPhotoLimitReached > span > span.ui-icon {
//           background: url(../images/btn_icon_photo_upload_disabled@2x.png) no-repeat 50% 50% transparent !important;
//       }
//}

///* photo upload */

//.m_photo_upload form#photoForm > div 
//{
//    height: 75px;
//    line-height: 75px;
//}
    
//        /* button disabled */
        
//        .m_photo_upload form#photoForm > div.disabled
//        {
//            color: #999;
//          text-shadow: 0 1px 1px #fff;
//          background-color: #000;
//          background-image: -moz-linear-gradient(bottom, #999 28%, #ccc 80%) !important;
//          background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0.28, #999), color-stop(.8, #ccc));
//          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', EndColorStr='#999')";
//        }
        
//        .m_photo_upload form#photoForm > div.ui-btn > span.ui-btn-inner
//        {
//            padding: 0 !important;
//        }

///* hide the default icon for right button */
//.m_photolist div.ui-btn-inner + a.ui-li-link-alt > span.ui-btn-inner > span.ui-btn {
//    display: none;
//}

///* Page - Photo Edit and Upload Captions */

//    .m_editphoto .caption > textarea#photoCaption, .m_photo_upload .caption > textarea#photoCaption {
//        width: 90%;
//        margin: 0 auto;
//        font: normal normal normal 1em/1.2em helvetica,arial,sans-serif;
//        color: #333;
//        display: block;
//        text-shadow: none;
//    }

//    .m_editphoto .m_editphotoFalse .caption > textarea#photoCaption {
//        background-color: #a8a8a8;
//    }

//    .m_editphoto .m_editphotoTrue .caption > textarea#photoCaption {
//        background-color: #fff;
//    }

//    .m_photo_upload .caption > textarea#photoCaption, .m_photo_upload .caption > #caption {
//        background-color: #fff;
//        margin-top: 25px;
//    }

//    .m_editphoto div.caption + div, .m_photo_upload div.caption + div {
//        width: 90%;
//        margin: .2em auto;
//        text-align: right;
//    }

//    .m_editphoto div.caption + div > label, .m_photo_upload div.caption + div > label {
//        font: normal normal normal .8em/1em helvetica, arial, sans-serif;
//    }

//    .m_editphoto .m_editphotoFalse div.caption + div > label {
//        color: #fff;
//        text-shadow: 0 -1px 0 #000;
//    }

//    .m_editphoto .m_editphotoTrue div.caption + div > label, .m_photo_upload div.caption + div > label {
//        color: #333;
//    }

//    .m_photo_upload #photoForm > input#photoFiles, .m_photo_upload #photoFormAsync > input#photoFiles {
//        margin: 0 auto;
//        padding-bottom: 25px;
//        text-align: center !important;
//        border: none;
//        box-shadow: none;
//        -moz-box-shadow: none;
//        -webkit-box-shadow: none;
//        background: transparent none;
//    }

//    .m_photo_upload #photoForm, .m_photo_upload #photoFormAsync {
//        width: 90%;
//        margin: 0 auto;
//    }

//    .m_photo_upload #photoForm .ui-btn, .m_photo_upload #photoFormAsync .ui-btn {
//        margin: 0 auto;
//    }

//    /* Save Changes & Delte Button */

//    .m_editphoto div.controls {
//        width: 90%;
//        margin: 10px auto;
//        text-align: center;
//    }

//    @media(max-width: 650px) {

//        .m_editphoto #editDeletePhotoButton, .m_editphoto a#editDeletePhotoButton + div.ui-btn {
//            width:95%;
//        }

//        .m_editphoto #editDeletePhotoButton {
//            top: 0;
//            float: none;
//            margin-bottom: 10px !important;
//        }

//        .m_editphoto #editDeletePhotoButton + div.ui-btn {
//            float: none;
//        }
//    }
//    @media(min-width: 651px){
//        .m_editphoto #editDeletePhotoButton, .m_editphoto a#editDeletePhotoButton + div.ui-btn {
//            width:48%; 
//        }

//        .m_editphoto #editDeletePhotoButton {
//            top: 0;
//            float: left;
//        }

//        .m_editphoto #editDeletePhotoButton + div.ui-btn {
//            float: right;
//        }
//    }
//@media(max-width: 650px) {
//    .m_photolist div.ui-content {
//        margin-top: -15px;
//        overflow: hidden;
//    }

//    .m_photolist div.ui-content > div.ui-content {
//        height: 75px;
//        overflow: visible;
//        padding: 0;
//        margin: 0 -15px 15px -15px;
//        clear: both;
//        width: 100%;
//        background-color: #ff0;
//    }

//    .m_photolist div.ui-content > div > a.ui-btn {
//        clear: both;
//        width: 100%;
//        height: 75px;
//        padding: 0 30px 0 0;
//        margin: 0;
//        box-shadow: none;
//        -moz-box-shadow: none;
//        -webkit-box-shadow: none;
//        position: relative;
//        top: 0px;
//        left: 0px;
//    }

//    .m_photolist div.ui-content > div.ui-content .ui-btn-corner-all {
//        border-radius: 0;
//        -moz-border-radius: 0;
//        -webkit-border-radius: 0;
//    }
//}

///* Page - Photo Upload */

//.m_photo_upload form#photoForm {
//    margin-top: 10px;
//    text-align: center;
//}

//.m_photo_upload form#photoForm > div {
//    margin: 15px auto 0 auto;
//}

//.m_photo_upload form#photoForm + p {
//    width: 100%;
//    padding-top: 25px;
//    font: normal normal normal 16px/20px helvetica, arial, sans-serif;
//}

///* non iPad hides */
//@media (max-width:650px) {
//    .m_login .ui-content h2,
//    .m_login .non-member > p{display:none;}
//}

// .ui-listview .ui-li-has-thumb .ui-li-thumb{width:64px; height:82px; max-width:64px; max-height:82px;}

///* iPad layout optimization */
//@media (min-width:650px) {
//    /* page content widths */
//    .m_home .ui-content{width:614px; margin:0 auto;}
//    .m_search_preferences .ui-content,
//    .registration .ui-content{width:694px; margin:0 auto; overflow:hidden;}
//    .m_home .ui-li .ui-btn-inner a.ui-link-inherit, 
//    .m_home .ui-li-static.ui-li{padding:1.33em 15px 1.33em 15px;}

//    /* form reconfiguration - labels */
//    .ui-content .ui-field-contain label.ui-select,
//    .ui-content .ui-field-contain label.ui-slider,
//    .ui-content .ui-field-contain label.ui-input-text,
//    .ui-content .ui-field-contain .ui-controlgroup-label{width:30%;}
    
//    /* form reconfiguration - page-specific stuff */
//    .m_search_preferences .ui-content .ui-field-contain .ui-slider-input ~ div.ui-slider{width:30%;}
//    .m_search_preferences .ui-content .ui-field-contain div.ui-slider-switch{width:20%;}
//    .m_search_preferences .ui-content .ui-field-contain .ui-select .ui-btn{width:50%;}
//    .m_search_preferences .ui-content form > .ui-field-contain ~ .ui-btn{width:30%; margin-left:33%;}
//    .registration .center {margin:0 auto; width:40%;}
//    .ui-block-a > .ui-btn, .ui-block-b > .ui-btn{margin:.5em auto;}
//    .m_reg_step_1 .ui-btn-hidden{width:95%;}

//    #registration-dob-container div.ui-select:nth-of-type(2) {margin-left:33%;margin-right: 10px;padding-top:15px;float:left;}
//    #registration-dob-container div.ui-select:nth-of-type(2) + input {margin-top:15px;}
//    #registration-dob-container div.ui-select:nth-of-type(1) {width:62%;}
//    #registration-dob-y{width:33%}

//    /* common override */
//    .ui-btn-up-k, .ui-btn-hover-k, .ui-btn-down-k, 
//    .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e, 
//    a.ui-btn-corner-all{max-width:260px;}
//    input ~ .tagline { width:60%; margin:1% 0 0 33%; }

//    /* home */
//    .m_home div[data-role="content"] a.ui-btn:first-child{margin:15px auto .5em;}

//    /* logon */
//    .m_login #home-header{float:left; position:relative; text-align:left; top:70px;}
//    .m_login #home-header .logo-header{margin:0 0 0 50px;}
//    .m_login .ui-content{clear:both; padding-bottom:90px;}
//    .m_login .ui-content .non-member{float:left; margin:8% 0 0 4%; width:45%;}
//    .m_login .ui-content .non-member > p{margin-right:1em;}
//    .m_login .ui-content > form{float:left; margin:0 0 0 7%; max-width:inherit; width:40%;}
//    .m_login .ui-content h2{font-family:Georgia; font-weight:normal;}
//    .m_login .ui-input-text{display:block !important;}
//    .m_login form > fieldset{margin:0 0 15px 0 !important;}
//    .m_login #rememberMe-fieldset{margin:0 0 15px 0; width:200px; padding:right:15px;}
//    .m_login #register-button, .m_login #facebook-button{left:-130%; position:relative;}
//    .m_login .ui-btn-up-k, .m_login .ui-btn-hover-k, .m_login .ui-btn-down-k{margin:.5em 0;}
  

//    /* list view */
//    .ui-content .ui-listview {margin:0;}
//    .ui-listview + .ui-btn{clear:both; margin:.5em auto;}
//    .ui-listview .ui-li-has-thumb{
//        width:49%;
//        float:left;
//        padding:.5em;
//        border-radius:.5em;
//        border:1px solid #ccc;
//        margin:0 0.5% 1%;
//        box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
//    }
//    .ui-listview .ui-li-has-thumb .ui-btn-text a.ui-link-inherit{min-height:124px; padding-left:130px;}
//    .ui-listview .ui-li-has-thumb .ui-li-thumb{width:112px; height:144px; max-width:112px; max-height:144px;}
//    .ui-listview .ui-li-has-thumb .ui-li-heading{font-size:1.5em; margin-top:.5em;}
//    .ui-listview .ui-li-has-thumb .ui-li-desc{font-size:1em;}
//    .ui-listview .ui-li-has-thumb .timestamp{color:#999; font-size:13px;}

//    /* inbox */
//    .inbox .ui-icon.message-status{right:10px; top:10%;}

//    /* message */
//    .m_mail_inbox_message .message-view-content{clear:left;}
//        /* override .ui-btn-up-b with .ui-btn-up-c style */
//        .m_mail_inbox_message .ui-btn-up-b{border:1px solid #ccc;background:#eee;font-weight:bold;color:#444;text-shadow:0 1px 1px #f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));background-image:-webkit-linear-gradient(top,#fdfdfd,#eee);background-image:-moz-linear-gradient(top,#fdfdfd,#eee);background-image:-ms-linear-gradient(top,#fdfdfd,#eee);background-image:-o-linear-gradient(top,#fdfdfd,#eee);background-image:linear-gradient(top,#fdfdfd,#eee)}.m_mail_inbox_message .ui-btn-up-b a.ui-link-inherit{color:#2f3e46}.m_mail_inbox_message .ui-btn-hover-b{border:1px solid #bbb;background:#dadada;font-weight:bold;color:#101010;text-shadow:0 1px 1px #fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#ededed),to(#dadada));background-image:-webkit-linear-gradient(top,#ededed,#dadada);background-image:-moz-linear-gradient(top,#ededed,#dadada);background-image:-ms-linear-gradient(top,#ededed,#dadada);background-image:-o-linear-gradient(top,#ededed,#dadada);background-image:linear-gradient(top,#ededed,#dadada)}.m_mail_inbox_message .ui-btn-hover-b a.ui-link-inherit{color:#2f3e46}.m_mail_inbox_message .ui-btn-down-b{border:1px solid #808080;background:#fdfdfd;font-weight:bold;color:#111;text-shadow:0 1px 1px #fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#fdfdfd));background-image:-webkit-linear-gradient(top,#eee,#fdfdfd);background-image:-moz-linear-gradient(top,#eee,#fdfdfd);background-image:-ms-linear-gradient(top,#eee,#fdfdfd);background-image:-o-linear-gradient(top,#eee,#fdfdfd);background-image:linear-gradient(top,#eee,#fdfdfd)}.m_mail_inbox_message .ui-btn-down-b a.ui-link-inherit{color:#2f3e46}.m_mail_inbox_message .ui-btn-up-b,.m_mail_inbox_message .ui-btn-hover-b,.m_mail_inbox_message .ui-btn-down-b{font-family:Helvetica,Arial,sans-serif;text-decoration:none}

//    /* contact */
//    .m_contact_us a.ui-btn-corner-all{margin:.5em auto;}

//    /* registration */
//    .registration label.compact { display:inline-block; text-indent:-9999em; }
    
//   /* .m_fbreg_step_3 div.ui-btn select > option:first-child { color: #a6a6a6; }*/ 


///* positioning top fb logo image */
//.m_fbreg_step_1   h2 img {
//  position:relative;
//  top:3px;
  
//}

//.m_fbreg_step_1 .center {
//                position: relative;
//                top: 10px;
//}


    
//    /* photolist */
//    .m_photolist .ui-btn-inner + .ui-li-link-alt, .m_photolist .ui-btn-inner + .ui-li-link-alt > .ui-btn-inner {
//       border-top-right-radius: 8px;
//       border-bottom-right-radius: 8px;
//       -moz-border-radius-topright: 8px;
//       -moz-border-radius-bottomright: 8px;
//       -webkit-border-top-right-radius: 8px;
//       -webkit-border-bottom-right-radius: 8px;
//    }
   
//    .m_photolist div.ui-content > div.ui-content {
//        width: 100%;
//        margin: -15px -15px 0 -15px;
//        overflow: hidden;
//    }

//    .m_photolist div.ui-content > div > a.ui-btn {
//        clear: both;
//        width: 100%;
//        max-width: 100%;
//        height: 75px;
//        padding: 0;
//        margin: 0;
//        position: relative;
//        top: 0px;
//        left: 0px;
       
//    }
    
//        .m_photolist div.ui-content > div > a.ui-btn .btn-UploadAPhotoLimitReached {
//      border: 1px solid #222;
//      background: #96b1cc;
//      font-weight: bold;
//      color: #fff;
//      text-shadow: 0 -1px 1px #000;
//      background-color: #000;
//      background-image: -moz-linear-gradient(bottom, #999 28%, #ccc 80%);
//      background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0.28, #999), color-stop(.8, #ccc));
//      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', EndColorStr='#999')";
//        clear: both;
//        width: 100%;
//        max-width: 100%;
//        height: 75px;
//        padding: 0;
//        margin: 0;
//        position: relative;
//        top: -15px;
//        left: 0px;
        
//    }

//    /* unapproved photos */

//    .m_photolist ul#ul-photolist > li.list-unapproved > div > div > a > div {
//        margin: -8px 0 0 -8px;
//        padding: 8px 8px 9px 8px;
//        border-radius: 8px;
//        -moz-border-radius: 8px;
//        -webkit-border-radius: 8px;
//    }

//    .m_photolist ul#ul-photolist > li.list-unapproved > div > div > a > div > p {
//        margin-left: -25px;
//        top: 70px;
//    }


//    /* photo upload */

//    .m_photo_upload form#photoForm > div {
//        width: 100%;
//        max-width: 100%;
//        height: 75px;
//    }

//    .m_photo_upload form#photoForm > div > span {
//        line-height: 75px;
//        padding: 0;
//    }

//    .m_photo_upload form#photoForm + p {
//        width: 325px;
//        margin: 0 auto;
//        padding-top: 25px;
//        font: normal normal normal 16px/20px helvetica, arial, sans-serif;
//    }

//    /* ends iPad optimization */

//    /* edit profile */
//    .min-width-480px #edit-weight {
//      width: 45%;
//    }
//    #edit-weight-unit-container {
//      display: inline-block;
//    }
//    #edit-aboutMe {
//      height: 600px;
//    } 

//}

//@media (min-width:950px) {
//    /* .m_profile .profile-photo-container { height: 222px; } */
//    .m_profile .profile-top{display:block; margin-top:30px; width:30%;}
//    .m_profile .ui-collapsible-set{left:35%; margin:0.5em 0; position:relative; top: -300px; width:64%;}
//    .m_profile .ui-collapsible-set.no-photo{top:-100px;}
//    .m_profile .profile-photo-container { min-width: 200px; height: 200px; text-align: center; }
//    .m_profile.m_my_profile .profile-top { margin-top: 60px; }
//    .m_profile.m_my_profile .profile-photo-container > a + a { line-height: 20px; }
//}

//}
//@media (max-width:480px) {
//  #edit-weight {
//    width: 40%;
//    display: inline-block;
//  }
//}
///* Page - Flirt */
//.m_mail_flirt .ui-radio .ui-btn-inner {
//  overflow: auto;
//  white-space: normal;
//}
///* Page - View Message */
//.message-view-content {
//  padding-top: 15px;
//}
//.message-view-content h3 { margin-bottom: 0; }
//.ui-content  .message-inline-reply { margin-top: 1.5em; margin-bottom: 0; }
//.message-inline-reply .ui-li-static.ui-li { padding-right: 15px; padding-left: 15px; }
//.message-inline-reply textarea.ui-input-text { width: 95%; margin: 0 auto; display: block; height: 70px;}
//.ui-content  .message-inline-reply div.ui-btn { max-width: 200px; margin: 10px auto 0; }
///* Search results */
//#search-results-list .timestamp { font-size: 11px; color: #666666; }
///* Search Preference */
//.search-preferences-age input[type="number"] { text-align:center; }
//.search-preferences-options > fieldset:first-child { margin-bottom: 1em; }
///* Report a Concern */
//#report-other-text {
//  display: none;
//}
///* Error Message */
//.input-validation-error { border: 1px solid #F7C942 }
//.input-validation-error:focus { box-shadow: 0 0 12px #993366; }
//.input-validation-valid  { /* Optional: you can set whatever style you want */ }
//.field-validation-error, .validation-summary-errors { font-weight: bold; margin: 15px 0; text-align: center; color: #CC0F15; }
//.field-validation-valid { display: none }
//.validation-summary-errors ul, .validation-summary-errors li { list-style: none; margin: 0; padding: 0;}
//.validation-summary-errors { position: relative; padding: .4em 15px; overflow: hidden; display: block; clear: both; font-weight: bold; color: #CC0F15;
//    border: 1px solid       #F7C942;
//    color:                  #333333;
//    text-shadow: 0 1px 0    #fff;
//    background:             #faeb9e;
//    background-image: -moz-linear-gradient(top, 
//                            #fff, 
//                            #faeb9e);
//    background-image: -webkit-gradient(linear,left top,left bottom,
//        color-stop(0,       #fff),
//        color-stop(1,       #faeb9e));
//    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#faeb9e')"; }
//.validation-summary-errors { font-weight: bold; color: #CC0F15 }
//.validation-summary-valid { display: none }
    
///* Page - Photo Gallery */
//.gallery-row:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
//.gallery-item { float: left; width: 33.333333%; }
//.gallery-item a { display: block; margin: 5px; border: 1px solid #3c3c3c; position: relative; }
//.gallery-item img { display: block; width: 100%; height: auto; }
//.gallery-page .ui-content { overflow: hidden; }
//.not-approved { font-size: 10px; font-weight: normal; color: #ffffff; background: hsla(330, 50%, 40%, .8); text-align: center; position: absolute; bottom: 0; padding: 2px; text-decoration: none; text-transform: uppercase;}
//.gallery-page .no-photos { display: none; font-weight: bold; text-align: center;}

///* Page - Landing Page */
//.m_landing > .ui-content { padding: 0 }
//.m_landing .lp-img { width: 100%; }
//.m_landing .lp-content { padding: 4px 30px 15px; } 
//.m_landing .lp-content h2 { margin: 0 0 2px; }
//.m_landing .lp-content ul {margin: 0; padding: 0; list-style: none; }
//.m_landing .lp-content li {margin: 0 0 4px; padding: 0 0 0 30px; background: url(../images/checkmark-large.png) left top no-repeat; }
//.m_landing #register-button {font-size: 12px; text-transform: uppercase; }
//.m_landing #register-button strong { display: block; font-size: 18px; font-style: italic; }

///* J


//-----------------------------------------------------------------------------------------------------------*/
///* Begin edit page */

//.m_editphoto > .ui-content { padding: 0 }
//.m_editphoto .edit-img { max-height:250px; width: auto;  margin-left: auto;
//    margin-right: auto;}
// #editAwaitCaption {background: rgba(0, 0, 0, 0.55); font: 14px helvetica,arial,sans-serif; position:absolute; bottom:0; text-align:center;padding-top:25px; padding-bottom:25px; width:100%; color:White; text-shadow: 0pt 1px 1px rgb(51, 51, 51);}
///* #editPhotoMainImage {display:block; margin-left:auto; margin-right:auto;max-height:237px; min-height:237px; vertical-align:middle;  }

//*/

//#editPhotoMainImage {display:block; margin-left:auto; margin-right:auto; max-width:100%; max-height:237px; position:relative; 
//    width:auto;}
    
    
// .m_editphotoFalse {background:rgba(0, 0, 0, 0.65);}

// #m_customphoto {margin-bottom:15px; height:237px; position: relative;}
// #editDeletePhotoButton {display:block; margin-left:auto; margin-right:auto; width:200px; position:relative; top:15px;  margin-bottom:60px;}

 
//.ui-bar-j {
//  border: 1px solid     #0f3258;
//  background:       #0f3258;
//  color:          #333;
//  text-shadow: 0 1px 0  #fff;
//  background-image: -moz-linear-gradient(top, 
//              #2c4b70, 
//              #0f3258);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #2c4b70),
//    color-stop(1,     #0f3258));
//    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2c4b70', EndColorStr='#0f3258')";
//}
//.ui-bar-j, 
//.ui-bar-j input, 
//.ui-bar-j select, 
//.ui-bar-j textarea, 
//.ui-bar-j button {
//  font-family: Helvetica, Arial, sans-serif;
//}
//.ui-bar-j .ui-link-inherit {
//  color:          #fff;
//}
//.ui-bar-j .ui-link {
//  color:          #7cc4e7;
//  font-weight: bold;
//}
//.ui-body-j {
//  border: 1px solid     #2A2A2A;
//  background:       #222222;
//  color:          #fff;
//   text-shadow: 0 1px 0   #000;
//  font-weight: normal;
//  background-image: -moz-linear-gradient(top, 
//              #666666, 
//              #222222);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #666666),
//    color-stop(1,     #222222));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#222222)')";
//}
//.ui-body-j,
//.ui-body-j input,
//.ui-body-j select,
//.ui-body-j textarea,
//.ui-body-j button {
//  font-family: Helvetica, Arial, sans-serif;
//}
//.ui-body-j .ui-link-inherit {
//  color:          #fff;
//}
//.ui-body-j .ui-link {
//  color:          #2489CE;
//  font-weight: bold;
//}
//.ui-br {
//  border-bottom: rgb(130,130,130);
//  border-bottom: rgba(130,130,130,.3);
//  border-bottom-width: 1px;
//  border-bottom-style: solid;
//}
//.ui-btn-up-j {
//  border: 1px solid     #0f3258;
//  background:       #2C4B70;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(top, 
//              #2C4B70, 
//              #0F3258);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #2C4B70),
//    color-stop(1,     #0F3258));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2C4B70', EndColorStr='#0F3258')";
//}
//.m_landing .ui-btn-up-j {
//  border: 1px solid     #0f3258;
//  background:       #ffffff;
//  font-weight: bold;
//  color:          #25426b;
//  text-shadow: none;
//  background-image: -moz-linear-gradient(top, 
//              #ffffff, 
//              #cccccc);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #ffffff),
//    color-stop(1,     #cccccc));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#cccccc')";
//}
//.m_landing .ui-btn-left { display: none !important; }
//.ui-btn-up-j a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-hover-j {
//  border: 1px solid     #000;
//  background:       #5178a0;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(top, 
//              #7998b7, 
//              #6d8fb2);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #7998b7),
//    color-stop(1,     #6d8fb2));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7998b7', EndColorStr='#6d8fb2')";
//}
//.ui-btn-hover-j a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-down-j {
//  border: 1px solid     #000;
//  background:       #3d3d3d;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(top, 
//              #96b1cc, 
//              #5178a0);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #96b1cc),
//    color-stop(1,     #5178a0));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#96b1cc', EndColorStr='#5178a0')";
//}
//.ui-btn-down-j a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-up-j,
//.ui-btn-hover-j,
//.ui-btn-down-j {
//  font-family: Helvetica, Arial, sans-serif;
//  text-decoration: none;
//}

///* K
//-----------------------------------------------------------------------------------------------------------*/

//.ui-bar-k {
//  border: 1px solid     #0f3258;
//  background:       #0f3258;
//  color:          #333;
//  text-shadow: 0 1px 0  #fff;
//  background-image: -moz-linear-gradient(top, 
//              #2c4b70, 
//              #0f3258);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #2c4b70),
//    color-stop(1,     #0f3258));
//    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2c4b70', EndColorStr='#0f3258')";
//}
//.ui-bar-k, 
//.ui-bar-k input, 
//.ui-bar-k select, 
//.ui-bar-k textarea, 
//.ui-bar-k button {
//  font-family: Helvetica, Arial, sans-serif;
//}
//.ui-bar-k .ui-link-inherit {
//  color:          #fff;
//}
//.ui-bar-k .ui-link {
//  color:          #993366;
//  font-weight: bold;
//}
//.ui-body-k {
//  border: 1px solid     #2A2A2A;
//  background:       #222222;
//  color:          #fff;
//   text-shadow: 0 1px 0   #000;
//  font-weight: normal;
//  background-image: -moz-linear-gradient(top, 
//              #666666, 
//              #222222);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #666666),
//    color-stop(1,     #222222));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#222222)')";
//}
//.ui-body-k,
//.ui-body-k input,
//.ui-body-k select,
//.ui-body-k textarea,
//.ui-body-k button {
//  font-family: Helvetica, Arial, sans-serif;
//}
//.ui-body-k .ui-link-inherit {
//  color:          #fff;
//}
//.ui-body-k .ui-link {
//  color:          #993366;
//  font-weight: bold;
//}
//.ui-br {
//  border-bottom: rgb(130,130,130);
//  border-bottom: rgba(130,130,130,.3);
//  border-bottom-width: 1px;
//  border-bottom-style: solid;
//}
//.ui-btn-up-k {
//  border: 1px solid     #222;
//  background:       #96b1cc;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(bottom, 
//              #662344 28%, 
//              #936 80%);
//  background-image: -webkit-gradient(linear,left bottom,left top,
//    color-stop(0.28,    #662344),
//    color-stop(.8,    #936));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#662344', EndColorStr='#936')";
//}
//.ui-btn-up-k a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-hover-k {
//  border: 1px solid     #000;
//  background:       #5178a0;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(bottom, 
//              #521A36 28%, 
//              #936 80%);
//  background-image: -webkit-gradient(linear,left bottom,left top,
//    color-stop(0.28,    #521A36),
//    color-stop(.8,    #936));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#521A36', EndColorStr='#936')";
//}
//.ui-btn-hover-k a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-down-k {
//  border: 1px solid     #000;
//  background:       #3d3d3d;
//  font-weight: bold;
//  color:          #fff;
//  text-shadow: 0 -1px 1px #000;
//  background-image: -moz-linear-gradient(bottom, 
//              #662344 28%, 
//              #936 80%);
//  background-image: -webkit-gradient(linear,left bottom,left top,
//    color-stop(0.28,    #662344),
//    color-stop(.8,    #936));
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#662344', EndColorStr='#936')";
//}
//.ui-btn-down-k a.ui-link-inherit {
//  color:          #fff;
//}
//.ui-btn-up-k,
//.ui-btn-hover-k,
//.ui-btn-down-k {
//  font-family: Helvetica, Arial, sans-serif;
//  text-decoration: none;
//}

///*overrides*/
//.ui-li-has-alt .ui-btn-inner a.ui-link-inherit,
//.ui-li-static.ui-li-has-alt {
//  padding-right: 60px;
//}
//.ui-body-c .ui-link {
//  color: #993366;
//}
//.ui-header .ui-title {
//  margin: 2px 50px 2px;
//}
//.ui-header .logo-home .ui-btn-inner {
//  padding: 3px 8px 2px;
//}
//.ui-field-contain {
//  padding: 1em 0;
//}
//.ui-field-contain:first-child {
//  padding-top: 0;
//}
//.ui-btn-active{
//  border:1px solid    #0f3258;
//  background:       #96b1cc;
//  font-weight:bold;
//  color:          #fff;
//  cursor:pointer;
//  text-shadow:0 -1px 1px  #000;
//  text-decoration:none;
//  background-image:-moz-linear-gradient(top,
//              #96b1cc,
//              #5178a0);
//  background-image:-webkit-gradient(linear,left top,left bottom,
//    color-stop(0,   #96b1cc),
//    color-stop(1,   #5178a0));
//  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#96b1cc', EndColorStr='#5178a0')";
//  outline:0
//}
//.ui-li-heading {
//  margin: 0 0 .5em;
//}
//.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,
//.ui-li-static.ui-li-has-thumb {
//    min-height: 60px;
//    padding-left: 80px;
//}
//.ui-btn-icon-top .ui-btn-inner {
//     padding: 28px 2px 10px; 
//}

///* override - dialog alert */
//.ui-dialog { background-color: transparent !important; }
//.ui-overlay-a {
//  background:       #f9f9f9 /*{c-body-background-color}*/;
//  background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
//  background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
//  background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
//  background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
//  background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
//  background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
//}

//html { -webkit-text-size-adjust:none; }

//.ui-navbar {
//    background:       #2C4B70;
//  background-image: -moz-linear-gradient(top, 
//              #2C4B70, 

//              #0F3258);
//  background-image: -webkit-gradient(linear,left top,left bottom,
//    color-stop(0,     #2C4B70),
//    color-stop(1,     #0F3258))
//}
//.ui-field-contain input[type="number"]{ width: 25%; }

///* override - loading icon */
//    /* loading screen */
//    .ui-loader-default { background: none; opacity: .65; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
    
///**
// * jqmTooltip
// * Main container
// *
// */
//.jqmTooltip {
//  z-index:9999;
//  position: absolute;
//  -moz-user-select:none;
//  -webkit-user-select:none;
//  user-select:none;
//  -moz-box-sizing:border-box;
//  -webkit-box-sizing:border-box;
//  box-sizing:border-box;
//  font-size:13px;
//  padding:10px;
//  text-align:left;
//  font-family:helvetica;
//  background: #eeeeee; /* Old browsers */
//    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 2%, #cccccc 98%, #a3a3a3 100%); /* FF3.6+ */
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#eeeeee), color-stop(98%,#cccccc), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 2%,#cccccc 98%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
//    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 2%,#cccccc 98%,#a3a3a3 100%); /* Opera11.10+ */
//    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 2%,#cccccc 98%,#a3a3a3 100%); /* IE10+ */
//    background: linear-gradient(top, #ffffff 0%,#eeeeee 2%,#cccccc 98%,#a3a3a3 100%); /* W3C */
//  border:1px solid #505050;
//  -moz-border-radius:8px;
//  -webkit-border-radius:8px;
//  border-radius:8px;
//  -moz-background-clip:padding-box;
//  -webkit-background-clip:padding-box;
//  background-clip:padding-box;
//  color:#333;
//  text-shadow:0 1px 0 rgba(255,255,255,0.75);
//  line-height:130%;
//  -moz-box-shadow:0 0 4px rgba(0,0,0,0.5);
//  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
//  box-shadow:0 0 4px rgba(0,0,0,0.5);
//}

///**
// *
// * The balloon arrow
// *
// */
//.jqmTooltip .arrow {
//  position:absolute;
//  border-width:0 1px 1px 0;
//  border-style:solid;
//  border-color:#505050;
//  width:16px; height:16px;
//  left:50%;
//  margin-left:-8px;
//  -moz-box-shadow:inset -1px -1px 0 #a9a9a9;
//  -webkit-box-shadow:inset -1px -1px 0 #a9a9a9;
//  box-shadow:inset -1px -1px 0 #a9a9a9;
//  -moz-border-bottom-right-radius:2px;
//  -webkit-border-bottom-right-radius:2px;
//  border-bottom-right-radius:2px;
//}

//.jqmTooltip.over .arrow {
//    -moz-transform: rotate(45deg);
//    -o-transform: rotate(45deg);
//  -webkit-transform:rotateZ(45deg);
//  transform: rotate(45deg);
//    background: #eee;
//  background: -moz-linear-gradient(0 0, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 40%, #ccc 41%); /* FF3.6+ */
//    background: -webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(204,204,204,0)),color-stop(0.4,rgba(204,204,204,0)),color-stop(0.4,#ccc)); /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(0 0, rgba(204,204,204,0) 0%,rgba(204,204,204,0) 40%, #ccc 40%); /* Chrome10+,Safari5.1+ */
//    background: -o-linear-gradient(0 0, rgba(204,204,204,0) 0%,rgba(204,204,204,0) 40%, #ccc 40%);  /* Opera11.10+ */
//    background: linear-gradient(0 0, rgba(204,204,204,0) 0%,rgba(204,204,204,0) 40%, #ccc 40%); /* W3C */
//  bottom:-9px; 
//}
//.jqmTooltip.under .arrow {
//    -moz-transform: rotate(225deg);
//    -o-transform: rotate(225deg);
//    -webkit-transform:rotateZ(225deg);
//    transform: rotate(225deg);
//    background: #eee;
//  background: -moz-linear-gradient(0 0, rgba(238,238,238,0) 0%, rgba(238,238,238,0) 40%, #eee 41%); /* FF3.6+ */
//    background: -webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(238,238,238,0)),color-stop(0.4,rgba(238,238,238,0)),color-stop(0.4,#eee)); /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(0 0, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 40%, #eee 41%); /* Chrome10+,Safari5.1+ */
//    background: -o-linear-gradient(0 0, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 40%, #eee 41%);  /* Opera11.10+ */
//    background: linear-gradient(0 0, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 40%, #eee 41%); /* W3C */
//  top:-9px;
//}

///**
// *
// * Close button
// *
// */
//.jqmTooltip .close {
//  -moz-box-sizing:border-box;
//  -webkit-box-sizing:border-box;
//  box-sizing:border-box;
//  position:absolute;
//  right:2px;
//  top:2px;
//  width:14px;
//  height:14px; line-height:10px;
//  text-align:center;

//  text-indent:1px;
//  text-decoration:none;
//  -moz-border-radius:7px;
//  -webkit-border-radius:7px;
//  border-radius:7px;
//  background:#cecece;
//  background:rgba(0,0,0,0.12);
//  color:#707070;
//  -moz-box-shadow:0 1px 0 #fff;
//  -webkit-box-shadow:0 1px 0 #fff;
//  box-shadow:0 1px 0 #fff;
//  font-size:13px;
//}

///*
// * photoswipe.css
// * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
// * Licensed under the MIT license
// *
// * Default styles for PhotoSwipe
// * Avoid any position or dimension based styles
// * where possible, unless specified already here.
// * The gallery automatically works out gallery item
// * positions etc.
// */

 
//body.ps-active, body.ps-building 
//{
//  background: #000;
//  overflow: hidden;
//}
//body.ps-active * 
//{ 
//  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
//  display: none;
//}
//body.ps-active *:focus 
//{ 
//  outline: 0; 
//}

///* Document overlay */
//div.ps-document-overlay 
//{
//  background: #000;
//}


///* UILayer */
//div.ps-uilayer { 
  
//  background: #000;
//  cursor: pointer;
  
//}


///* Zoom/pan/rotate layer */
//div.ps-zoom-pan-rotate{
//  background: #000;
//}
//div.ps-zoom-pan-rotate *  { display: block; }


///* Carousel */
//div.ps-carousel-item-loading 
//{ 
//  background: url(../images/photoswipe-loader.gif) no-repeat center center; 
//}


///* Caption */
//div.ps-caption
//{ 
//  background: #000000;
//  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
//  border-bottom: 1px solid #42403f;
//  color: #ffffff;
//  font-size: 13px;
//  font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
//  text-align: center;
//}
//div.ps-caption *  { display: inline; }

//div.ps-caption-bottom
//{ 
//  border-top: 1px solid #42403f;
//  border-bottom: none;
//  min-height: 44px;
//}

//div.ps-caption-content
//{
//  padding: 13px;
//  display: block;
//}


///* Toolbar */
//div.ps-toolbar
//{ 
//  background: #000000;
//  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
//  border-top: 1px solid #42403f;
//  color: #ffffff;
//  font-size: 13px;
//  font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
//  text-align: center;
//  height: 44px;
//  display: table;
//  table-layout: fixed;
//}
//div.ps-toolbar * { 
//  display: block;
//}

//div.ps-toolbar-top 
//{
//  border-bottom: 1px solid #42403f;
//  border-top: none;
//}

//div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
//{
//  cursor: pointer;
//  display: table-cell;
//}

//div.ps-toolbar div div.ps-toolbar-content
//{
//  width: 44px;
//  height: 44px;
//  margin: 0 auto 0;
//  background-image: url(../images/photoswipe-icons.png);
//  background-repeat: no-repeat;
//}

//div.ps-toolbar-close div.ps-toolbar-content
//{
//  background-position: 0 0;
//}

//div.ps-toolbar-previous div.ps-toolbar-content
//{
//  background-position: -44px 0;
//}

//div.ps-toolbar-previous-disabled div.ps-toolbar-content
//{
//  background-position: -44px -44px;
//}

//div.ps-toolbar-next div.ps-toolbar-content
//{
//  background-position: -132px 0;
//}

//div.ps-toolbar-next-disabled div.ps-toolbar-content
//{
//  background-position: -132px -44px;
//}

//div.ps-toolbar-play div.ps-toolbar-content
//{
//  background-position: -88px 0;
//}

///* Hi-res display */
//@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//       only screen and (min--moz-device-pixel-ratio: 1.5),
//       only screen and (min-resolution: 240dpi)
//{
//  div.ps-toolbar div div.ps-toolbar-content
//  {
//    -moz-background-size: 176px 88px;
//    -o-background-size: 176px 88px;
//    -webkit-background-size: 176px 88px;
//    background-size: 176px 88px;
//    background-image: url(../images/photoswipe-icons@2x.png);
//  }
//}



///*making the custom gradient for facebook themed color button */

//.ui-bar-facebook_theme, .ui-bar-facebook_theme input, .ui-bar-facebook_theme select, .ui-bar-facebook_theme textarea, .ui-bar-facebook_theme button {
//  font-family:Helvetica, Arial, sans-serif
//}
//.ui-bar-facebook_theme .ui-link-inherit {
//  color:#fff
//}
//.ui-bar-facebook_theme .ui-link {
//  color:#7cc4e7;
//  font-weight:bold
//}
//.ui-bar-facebook_theme {
//  background-color:#647eac;
//  background: -moz-linear-gradient(  top,  #647eac 0%,  #415d96);
//  background: -webkit-gradient(  linear, left top, left bottom,  from(#647eac),  to(#415d96));
//  border-radius: 4px;
//  -moz-border-radius: 4px;
//  -webkit-border-radius: 4px;
//  border: 1px solid #48639b;
//  -moz-box-shadow:
// 0px 1px 3px rgba(000,000,000,0.5),  inset 0px 0px 1px rgba(255,255,255,1);
//  -webkit-box-shadow:
// 0px 1px 3px rgba(000,000,000,0.5),  inset 0px 0px 1px rgba(255,255,255,1);
//  text-shadow:
// 0px 1px 3px rgba(000,000,000,0.5),  0px 1px 0px rgba(255,255,255,0.3);
//  color:#fff !important;
//  display:inline-block;
//  font:bold 13px Arial, Helvetica, sans-serif;
//  margin:1.25em 2em 1em 0;
//  padding: 6px 10px 6px 40px;
//  position:relative;
//}
//.ui-body-facebook_theme, .ui-body-facebook_theme input, .ui-body-facebook_theme select, .ui-body-facebook_theme textarea, .ui-body-facebook_theme button {
//  font-family:Helvetica, Arial, sans-serif
//}
//.ui-body-facebook_theme .ui-link-inherit {
//  color:#333
//}
//.ui-body-facebook_theme .ui-link {
//  color:#2489ce;
//  font-weight:bold
//}
//.ui-btn-up-facebook_theme {
//  border:1px solid #145072;
//  /*background:#eee;*/
//  font-weight:bold;
//  color:#fff;
//  text-shadow:0 -1px 1px #145072;
//  background-color:#647eac;
//  background: #647eac; /* Old browsers */
//  background: -moz-linear-gradient(top, #647eac 0%, #415d96 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #647eac), color-stop(100%, #415d96)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top, #647eac 0%, #415d96 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top, #647eac 0%, #415d96 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top, #647eac 0%, #415d96 100%); /* IE10+ */
//  background: linear-gradient(top, #647eac 0%, #415d96 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#647eac', endColorstr='#415d96', GradientType=0 ); /* IE6-9 */
//}
//.ui-btn-up-facebook_theme a.ui-link-inherit {
//  color:#fff
//}
//.ui-btn-hover-facebook_theme {
//  border:1px solid #00516e;
//  background:#4b88b6;
//  font-weight:bold;
//  color:#fff;
//  text-shadow:0 -1px 1px #014d68;
//  background: #7c8da8; /* Old browsers */
//  background: -moz-linear-gradient(top, #7c8da8 0%, #5a6d91 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c8da8), color-stop(100%, #5a6d91)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top, #7c8da8 0%, #5a6d91 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top, #7c8da8 0%, #5a6d91 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top, #7c8da8 0%, #5a6d91 100%); /* IE10+ */
//  background: linear-gradient(top, #7c8da8 0%, #5a6d91 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8da8', endColorstr='#5a6d91', GradientType=0 ); /* IE6-9 */
//}
//.ui-btn-hover-facebook_theme a.ui-link-inherit {
//  color:#fff
//}
//.ui-btn-down-facebook_theme {
//  border:1px solid #225377;
//  background:#4e89c5;
//  font-weight:bold;
//  color:#fff;
//  text-shadow:0 -1px 1px #225377;
//  background-color:#415d96;
//  background: -moz-linear-gradient(  top,  #415d96 0%,  #647eac);
//  background: -webkit-gradient(  linear, left top, left bottom,  from(#415d96),  to(#647eac));
//}
//.ui-btn-down-facebook_theme a.ui-link-inherit {
//  color:#fff
//}
//.ui-btn-up-facebook_theme, .ui-btn-hover-facebook_theme, .ui-btn-down-facebook_theme {
//  font-family:Helvetica, Arial, sans-serif;
//  text-decoration:none
//}

//.hidden-data-element {
//    display: none;
//}