﻿<%@ Control Language="C#"  Inherits="System.Web.Mvc.ViewUserControl<AdminTool.Models.ModelViews.Approval.PhotoApprovalData>" %>

<div class="theinfo" style="">

<input type="checkbox" onclick="changeIsAlreadyApproved(<%=Model.Id.ToString() %>);"  name="Reapprove<%=Model.Id.ToString() %>" id="Reapprove<%=Model.Id.ToString() %>" />Reapprove photo

</div>
<br /><br />