﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<!-- Sidebar -->
<div id="management-sidebar" align="center">
    <a href="/" class="button" id="return-to-search">Return to Search</a>
</div>