﻿<div style="font-family:Arial;">
	<h5>Free Text Approval Training Report</h5>
	<table style="font-family:Arial; font-size:12px;width:700px;">
		<tr>
			<td style="width:100px;">Date Reviewed:</td>
			<td><%DateReviewed%></td>
		</tr>
		<tr>
			<td>Reviewed by:</td>
			<td><%ReviewedByEmail%></td>
		</tr>
		<tr>
			<td>Review Notes:</td>
			<td style="border:solid 1px grey; padding:5px;">
                <%ReviewNotes%>
            </td>
		</tr>
	</table>
	<br/>
	<table style="width:900px;">
        <tr>
            <td valign="top">
                <table style="font-family:Arial; font-size:12px;">
                    <tbody>
                        <tr>
                            <td><b>Member:</b></td>
                            <td><%MemberId%></td>
                         </tr>
                         <tr>
                            <td><b>Email:</b></td>
                            <td><%Email%></td>
                          </tr>
                          <tr>
                            <td><b>First Name: </b></td>
                            <td><%FirstName%></td>
                           </tr>
                           <tr>
                               <td><b>Last Name:</b></td>
                               <td><%LastName%></td>
                            </tr>
                            <tr>
                                <td ><b>Registration Date:</b></td>
                                <td><%RegistrationDate%></td>
                            </tr>
                            <tr>
                                <td ><b>Subscriber Status:</b></td>
                                <td><%SubStatus%></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top">
                    <table  style="font-family:Arial; font-size:12px;">
                        <tbody>
                            <tr>
                                <td ><b>Username:</b></td>
                                <td><%Username%></td> 
                             </tr>
                             <tr>
                                <td ><b>Status: </b></td>
                                <td><%MaritalStatus%></td>
                              </tr>
                              <tr>
                                <td ><b>Basics:</b></td>
                                <td><%Basics%></td>
                              </tr>
                              <tr>
                                <td ><b>Occupation: </b></td>
                                <td><%Occupation%></td>
                              </tr>
                              <tr>
                                <td ><b>Education: </b></td>
                                <td><%Education%></td>
                              </tr>
                              <tr>
                                <td ><b>Religion: </b></td>
                                <td><%Religion%></td>
                                </tr>
                                <tr>
                                    <td ><b>Ethnicity: </b></td>
                                    <td><%Ethnicity%></td>
                                </tr>
                             </tbody>
                           </table>
                        </td>
                        <td valign="top">
                            <table  style="font-family:Arial; font-size:12px;">
                                <tbody>
                                    <tr valign="top">
                                        <td ><b>Profile Location: </b></td>
                                        <td><%Location%></td>
                                </tr>
                                <tr>
                                    <td ><b>Billing phone #: </b></td>
                                    <td><%BillingPhone%></td>
                                </tr>
                                <tr>
                                    <td ><b>IP Address: </b></td>
                                    <td><%IPAddress%></td>
                                </tr>
                                <tr>
                                    <td ><b>IP Location: </b></td>
                                    <td><%CountryName%><br/><%RegionName%><br/><%City%></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"> 
                                            <div style="float:left; height:100%; text-align:center;width:20px; border-bottom: solid 1px black; border-left: solid 1px black; border-right: solid 1px black; border-top: solid 1px black;">
                                                <span class="score"><%Score%></span>
                                                <!--<span  class="hexColor" style="display:none"><%=ColorHex%></span>-->
                                            </div> 
                                     </td>
                                </tr>   
                           </tbody>
                      </table>
                  </td>
              </tr>
          </table>
    <br/>
    <div>
        <%Attributes%>
    </div>
    <table style="width:1000px;">
        <tr>
            <td style="width:300px;"></td>
            <td style="width:700px;">
                <a align="center" style="width:100%;clear:both;display:block;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #999999; color: #666666; cursor: pointer;font-family: Arial,sans-serif;font-size: 12px; font-weight: bold; margin-right: 5px; padding: 3px 5px;text-align: center; text-decoration:none;" href="<%AcknowledgeURL%>">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acknowledge Training Report &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>    
            </td>
        </tr>
    </table>
        
    
</div>
