﻿<table  style="font-family:Arial; font-size:12px;width:1100px;">
    <tr>
        <td style="font-size:11px;text-align:right;width:200px;">
            <%AttributeName%><br>(original):
        </td>
        <td style="border:1px solid; width:700px;">
            <%TextContent%>
        </td>
        <td style="width:200px;">
            <table style="font-size: 11px;font-family:Arial;">
                <tr>
                    <td>
                        <input type="radio" value="true" <%OldGoodChecked%>>Good 
                    </td>
                    <td>
                        <input type="radio" value="false" <%OldBadChecked%>>Bad 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                         <%OldBadOptions%>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
   
    <tr>
        <td style="width:160px;font-size:11px;text-align:right;width:200px;">
            <%AttributeName%><br>(agent):
        </td>
        <td  style="border:1px solid; width:700px;">
            <%AdminTextContent%>
        </td>
        <td>
            <table style="font-size: 11px;font-family:Arial;">
                <tr>
                    <td>
                        <input type="radio" value="true" disabled="disabled" <%NewGoodChecked%>>Good 
                    </td>
                    <td>
                        <input type="radio" value="false" disabled="disabled" <%NewBadChecked%>>Bad 
                    </td>
                </tr>
                <tr>    
                    <td colspan="2">
                        <%NewBadOptions%>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> 
<br/><br/>
