﻿<div style="font-family:Arial;">
	<h5>SODB - Request more info</h5>
    <table style="font-family:Arial; font-size:12px;width:700px;">
		<tr>
			<td style="width:100px;">SSPBlue ID:</td>
			<td><%SSPBlueID%></td>
		</tr>
		<tr>
			<td>Customer ID:</td>
			<td><%MemberID%></td>
		</tr>
		<tr>
			<td>Calling System ID:</td>
			<td><%SiteID%></td>
		</tr>
        <tr>
			<td>Admin Email:</td>
			<td><%AdminEmail%></td>
		</tr>
        <tr>
			<td>Photo Links:</td>
			<td><%PhotoUrls%></td>
		</tr>
	</table>
</div>