/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

a { background: transparent; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: .67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea { color: #222; }

html { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

audio, canvas, img, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.browsehappy { margin: .2em 0; background: #ccc; color: #000; padding: .2em 0; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* ========== Base ========== */
html { font: 75%/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif; }

body, input, button { -webkit-font-smoothing: antialiased; }

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.17em; }

h4 { font-size: 1em; }

h5 { font-size: 0.83em; }

h6 { font-size: 0.75em; }

ul, ol { list-style-type: none; }

a:link, a:visited, a:active { color: #993366; text-decoration: none; }

/* ========== Base - Structure ========== */
body { min-width: 320px; }

.header { height: 130px; width: 100%; min-width: 320px; }

.body { position: absolute; overflow-y: auto; top: 130px; bottom: 174px; left: 0; width: 100%; min-width: 320px; }

.footer { position: absolute; bottom: 0; width: 100%; min-width: 320px; }

.gradient, .type_bottom { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #cccccc)); background-image: -moz-linear-gradient(#e6e6e6, #cccccc); background-image: -webkit-linear-gradient(#e6e6e6, #cccccc); background-image: linear-gradient(#e6e6e6, #cccccc); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cccccc',GradientType=0 ); }

.gradient-accent { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzM2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2MmQ1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #993366), color-stop(100%, #862d59)); background-image: -moz-linear-gradient(#993366, #862d59); background-image: -webkit-linear-gradient(#993366, #862d59); background-image: linear-gradient(#993366, #862d59); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjIyNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.ie8 .gradient-accent { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993366', endColorstr='#862d59',GradientType=0 ); }

.close { position: absolute; top: 2px; right: 4px; font: bold 10px/10px Verdana, sans-serif; color: #993366; cursor: pointer; }

/* ========== Sprites ========== */
.spr, .command span[class^="icons"] { display: inline-block; text-indent: -9999em; text-align: left; vertical-align: middle; }

.icons-sprite, .icons-bg-m, .icons-bg, .icons-emoticon-m, .icons-emoticon, .icons-font-m, .icons-font, .icons-photo-m, .icons-photo, .icons-smiley-a-0000, .icons-smiley-a-0001, .icons-smiley-a-0002, .icons-smiley-a-0003, .icons-smiley-a-0004, .icons-smiley-a-0005, .icons-smiley-a-0006, .icons-smiley-a-0007, .icons-smiley-a-0008, .icons-smiley-a-0009, .icons-smiley-a-0010, .icons-smiley-a-0011, .icons-smiley-a-0012, .icons-smiley-a-0013, .icons-smiley-a-0014, .icons-smiley-a-0015, .icons-smiley-a-0016, .icons-smiley-a-0017, .icons-smiley-a-0018, .icons-smiley-a-0019, .icons-smiley-a-0020, .icons-smiley-a-0021, .icons-smiley-a-0022, .icons-smiley-a-0023, .icons-smiley-a-0024, .icons-smiley-a-0025, .icons-smiley-a-0026, .icons-smiley-a-0027, .icons-smiley-a-0028, .icons-smiley-a-0029, .icons-smiley-b-0001, .icons-smiley-b-0002, .icons-smiley-b-0003, .icons-smiley-b-0004, .icons-smiley-b-0005, .icons-smiley-b-0006, .icons-smiley-b-0007, .icons-smiley-b-0008, .icons-smiley-b-0009, .icons-smiley-b-0010, .icons-smiley-b-0011, .icons-smiley-b-0012, .icons-smiley-b-0013, .icons-smiley-b-0014, .icons-smiley-b-0015, .icons-smiley-b-0016, .icons-smiley-b-0017, .icons-smiley-b-0018, .icons-smiley-b-0019, .icons-smiley-b-0020, .icons-smiley-b-0021, .icons-smiley-b-0022, .icons-smiley-b-0023, .icons-smiley-b-0024, .icons-smiley-b-0025, .icons-smiley-b-0026, .icons-smiley-b-0027, .icons-smiley-b-0028, .icons-smiley-b-0029, .icons-smiley-b-0030, .icons-smiley-b-0031, .icons-smiley-b-0032, .icons-smiley-b-0033, .icons-smiley-b-0034, .icons-smiley-b-0035, .icons-smiley-b-0036, .icons-smiley-b-0037, .icons-smiley-b-0038, .icons-smiley-b-0039, .icons-smiley-b-0040, .icons-text-bold, .icons-text-italic, .icons-text-underline { background-image: url('../images/icons-s09f45ac0bc.png'); background-repeat: no-repeat; }

.icons-bg-m { background-position: 0 0; height: 24px; width: 26px; }

.icons-bg { background-position: 0 -44px; height: 22px; width: 24px; }

.icons-emoticon-m { background-position: 0 -86px; height: 25px; width: 25px; }

.icons-emoticon { background-position: 0 -131px; height: 21px; width: 21px; }

.icons-font-m { background-position: 0 -172px; height: 21px; width: 21px; }

.icons-font { background-position: 0 -213px; height: 18px; width: 19px; }

.icons-photo-m { background-position: 0 -251px; height: 26px; width: 36px; }

.icons-photo { background-position: 0 -297px; height: 21px; width: 25px; }

.icons-smiley-a-0000 { background-position: 0 -338px; height: 32px; width: 32px; }

.icons-smiley-a-0001 { background-position: 0 -390px; height: 32px; width: 32px; }

.icons-smiley-a-0002 { background-position: 0 -442px; height: 32px; width: 32px; }

.icons-smiley-a-0003 { background-position: 0 -494px; height: 32px; width: 32px; }

.icons-smiley-a-0004 { background-position: 0 -546px; height: 32px; width: 32px; }

.icons-smiley-a-0005 { background-position: 0 -598px; height: 32px; width: 32px; }

.icons-smiley-a-0006 { background-position: 0 -650px; height: 32px; width: 32px; }

.icons-smiley-a-0007 { background-position: 0 -702px; height: 32px; width: 32px; }

.icons-smiley-a-0008 { background-position: 0 -754px; height: 32px; width: 32px; }

.icons-smiley-a-0009 { background-position: 0 -806px; height: 32px; width: 32px; }

.icons-smiley-a-0010 { background-position: 0 -858px; height: 32px; width: 32px; }

.icons-smiley-a-0011 { background-position: 0 -910px; height: 32px; width: 32px; }

.icons-smiley-a-0012 { background-position: 0 -962px; height: 32px; width: 32px; }

.icons-smiley-a-0013 { background-position: 0 -1014px; height: 32px; width: 32px; }

.icons-smiley-a-0014 { background-position: 0 -1066px; height: 32px; width: 32px; }

.icons-smiley-a-0015 { background-position: 0 -1118px; height: 32px; width: 32px; }

.icons-smiley-a-0016 { background-position: 0 -1170px; height: 32px; width: 32px; }

.icons-smiley-a-0017 { background-position: 0 -1222px; height: 32px; width: 32px; }

.icons-smiley-a-0018 { background-position: 0 -1274px; height: 32px; width: 32px; }

.icons-smiley-a-0019 { background-position: 0 -1326px; height: 32px; width: 32px; }

.icons-smiley-a-0020 { background-position: 0 -1378px; height: 32px; width: 32px; }

.icons-smiley-a-0021 { background-position: 0 -1430px; height: 32px; width: 32px; }

.icons-smiley-a-0022 { background-position: 0 -1482px; height: 32px; width: 32px; }

.icons-smiley-a-0023 { background-position: 0 -1534px; height: 32px; width: 32px; }

.icons-smiley-a-0024 { background-position: 0 -1586px; height: 32px; width: 32px; }

.icons-smiley-a-0025 { background-position: 0 -1638px; height: 32px; width: 32px; }

.icons-smiley-a-0026 { background-position: 0 -1690px; height: 32px; width: 32px; }

.icons-smiley-a-0027 { background-position: 0 -1742px; height: 32px; width: 32px; }

.icons-smiley-a-0028 { background-position: 0 -1794px; height: 32px; width: 32px; }

.icons-smiley-a-0029 { background-position: 0 -1846px; height: 32px; width: 32px; }

.icons-smiley-b-0001 { background-position: 0 -1898px; height: 32px; width: 32px; }

.icons-smiley-b-0002 { background-position: 0 -1950px; height: 32px; width: 32px; }

.icons-smiley-b-0003 { background-position: 0 -2002px; height: 32px; width: 32px; }

.icons-smiley-b-0004 { background-position: 0 -2054px; height: 32px; width: 32px; }

.icons-smiley-b-0005 { background-position: 0 -2106px; height: 32px; width: 32px; }

.icons-smiley-b-0006 { background-position: 0 -2158px; height: 32px; width: 32px; }

.icons-smiley-b-0007 { background-position: 0 -2210px; height: 32px; width: 32px; }

.icons-smiley-b-0008 { background-position: 0 -2262px; height: 32px; width: 32px; }

.icons-smiley-b-0009 { background-position: 0 -2314px; height: 32px; width: 32px; }

.icons-smiley-b-0010 { background-position: 0 -2366px; height: 32px; width: 32px; }

.icons-smiley-b-0011 { background-position: 0 -2418px; height: 32px; width: 32px; }

.icons-smiley-b-0012 { background-position: 0 -2470px; height: 32px; width: 32px; }

.icons-smiley-b-0013 { background-position: 0 -2522px; height: 32px; width: 32px; }

.icons-smiley-b-0014 { background-position: 0 -2574px; height: 32px; width: 32px; }

.icons-smiley-b-0015 { background-position: 0 -2626px; height: 32px; width: 32px; }

.icons-smiley-b-0016 { background-position: 0 -2678px; height: 32px; width: 32px; }

.icons-smiley-b-0017 { background-position: 0 -2730px; height: 32px; width: 32px; }

.icons-smiley-b-0018 { background-position: 0 -2782px; height: 32px; width: 32px; }

.icons-smiley-b-0019 { background-position: 0 -2834px; height: 32px; width: 32px; }

.icons-smiley-b-0020 { background-position: 0 -2886px; height: 32px; width: 32px; }

.icons-smiley-b-0021 { background-position: 0 -2938px; height: 32px; width: 32px; }

.icons-smiley-b-0022 { background-position: 0 -2990px; height: 32px; width: 32px; }

.icons-smiley-b-0023 { background-position: 0 -3042px; height: 32px; width: 32px; }

.icons-smiley-b-0024 { background-position: 0 -3094px; height: 32px; width: 32px; }

.icons-smiley-b-0025 { background-position: 0 -3146px; height: 32px; width: 32px; }

.icons-smiley-b-0026 { background-position: 0 -3198px; height: 32px; width: 32px; }

.icons-smiley-b-0027 { background-position: 0 -3250px; height: 32px; width: 32px; }

.icons-smiley-b-0028 { background-position: 0 -3302px; height: 32px; width: 32px; }

.icons-smiley-b-0029 { background-position: 0 -3354px; height: 32px; width: 32px; }

.icons-smiley-b-0030 { background-position: 0 -3406px; height: 32px; width: 32px; }

.icons-smiley-b-0031 { background-position: 0 -3458px; height: 32px; width: 32px; }

.icons-smiley-b-0032 { background-position: 0 -3510px; height: 32px; width: 32px; }

.icons-smiley-b-0033 { background-position: 0 -3562px; height: 32px; width: 32px; }

.icons-smiley-b-0034 { background-position: 0 -3614px; height: 32px; width: 32px; }

.icons-smiley-b-0035 { background-position: 0 -3666px; height: 32px; width: 32px; }

.icons-smiley-b-0036 { background-position: 0 -3718px; height: 32px; width: 32px; }

.icons-smiley-b-0037 { background-position: 0 -3770px; height: 32px; width: 32px; }

.icons-smiley-b-0038 { background-position: 0 -3822px; height: 32px; width: 32px; }

.icons-smiley-b-0039 { background-position: 0 -3874px; height: 32px; width: 32px; }

.icons-smiley-b-0040 { background-position: 0 -3926px; height: 32px; width: 32px; }

.icons-text-bold { background-position: 0 -3978px; height: 16px; width: 16px; }

.icons-text-italic { background-position: 0 -4014px; height: 16px; width: 16px; }

.icons-text-underline { background-position: 0 -4050px; height: 16px; width: 16px; }

.icons-bg-m { height: 24px; width: 26px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { .icons-bg-m { background-image: url('../images/icons2x-sc9cd426f52.png'); background-position: 0 0; -moz-background-size: 36px auto; -o-background-size: 36px auto; -webkit-background-size: 36px auto; background-size: 36px auto; } }

.icons-emoticon-m { height: 25px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { .icons-emoticon-m { background-image: url('../images/icons2x-sc9cd426f52.png'); background-position: 0 -86.5px; -moz-background-size: 36px auto; -o-background-size: 36px auto; -webkit-background-size: 36px auto; background-size: 36px auto; } }

.icons-font-m { height: 21px; width: 21px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { .icons-font-m { background-image: url('../images/icons2x-sc9cd426f52.png'); background-position: 0 -173px; -moz-background-size: 36px auto; -o-background-size: 36px auto; -webkit-background-size: 36px auto; background-size: 36px auto; } }

.icons-photo-m { height: 26px; width: 36px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { .icons-photo-m { background-image: url('../images/icons2x-sc9cd426f52.png'); background-position: 0 -251.5px; -moz-background-size: 36px auto; -o-background-size: 36px auto; -webkit-background-size: 36px auto; background-size: 36px auto; } }

/* ========== Profile ========== */
#chatter_mini_profile { width: 100%; height: 90px; float: left; }
#chatter_mini_profile .thumbnail { margin: 5px 0 0 3px; width: 60px; float: left; }

.profile_text { margin: 5px; float: left; }
.profile_text span.username { display: block; margin-bottom: 10px; font: bold 16px/1 Georgia, Times, "Times New Roman", serif; }

ul.hotlist_buttons { float: right; margin: 30px 10px 0 0; padding: 0; }
ul.hotlist_buttons li { cursor: pointer; margin-bottom: 7px; padding: 1px; border: 1px solid #a0a0a0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* ========== Profile - MOS ========== */
#chatter_mini_profile { float: none; height: inherit; width: inherit; }

.menu-panel { background: transparent url("../images/bg_nav_white.png") 0 0 repeat-x; border-bottom: solid 1px #A0A0A0; display: none; height: 35px; }
.menu-panel a { background: transparent url("../images/btn_back_blue.png") 5px center no-repeat; color: #007AFF; display: inline-block; font-family: Helvetica, Arial; font-size: 12pt; margin: 5px 0; padding: 0 5px 0 22px; }

.profile-panel { background-color: #eaedf1; height: 55px !important; overflow: hidden; padding: 0 5px; }
.profile-panel a { display: inline-block; height: inherit; }
.profile-panel .photo { width: 45px; height: 45px; margin: 5px 5px 0 5px; float: left; background-color: #fff; }
.profile-panel .info { float: left; }
.profile-panel .name { width: 145px; display: block; margin: 5px 0 0 0; overflow: hidden; text-overflow: ellipsis; color: #516889; font-size: 14px; font-weight: bold; }
.profile-panel .age, .profile-panel .location { display: block; padding: 0; color: #3e5069; font-size: 10px; line-height: 12px; }

/* ========== Chat Messages ========== */
.chat_messages { position: absolute; width: 100%; bottom: 150px; left: 0; top: 90px; padding: 0; /* without this line there is extra padding (???) */ margin: 0; background-color: #fff; clear: both; }
.chat_messages li { width: 100%; font-style: normal; font-size: 11px; color: #000; padding: 9px 0 9px 0; }
.chat_messages .bubble_and_profile { position: relative; }
.chat_messages .profile { width: 45px; position: absolute; bottom: 0; padding: 0; margin: 0; text-align: center; }
.chat_messages .me .profile { right: 3px; }
.chat_messages .other .profile { min-height: 45px; left: 3px; top: 4px; }
.chat_messages .system { width: 256px; margin: 20px; padding: 5px; background-color: #ffbaba; border: 1px solid black; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; word-wrap: break-word; }

/* ========== Chat Messages - MOS ========== */
.chat_messages { bottom: auto; position: relative; width: inherit; top: 0; }
.chat_messages li { padding: 10px 5px 15px; width: auto; }

.messages-panel { margin: 0; padding: 0; }
.messages-panel li { overflow: hidden; }
.messages-panel li.system { background-color: #FFBABA; border: 1px solid #A0A0A0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 5px; word-wrap: break-word; }

/* ========== Chat Bubbles ========== */
.other .chat-bubble, .me .chat-bubble { margin: 0 50px 0 20px; padding: 12px; position: relative; border-style: solid; border-width: 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: inset 0px 46px 28px -30px white; -webkit-box-shadow: inset 0px 46px 28px -30px white; box-shadow: inset 0px 46px 28px -30px white; line-height: 1.5em; color: #333; word-wrap: break-word; }

.other .chat-bubble:before, .me .chat-bubble:before, .other .chat-bubble:after, .me .chat-bubble:after { content: ""; position: absolute; right: 5px; }

.other .chat-bubble:before, .me .chat-bubble:before { height: 10px; bottom: -19px; border-left: 26px solid #eaf5bf; background: #e3f1a9; -moz-border-radius-bottomleft: 50px 30px; -webkit-border-bottom-left-radius: 50px 30px; border-bottom-left-radius: 50px 30px; -moz-transform: translate(0, -8px); -ms-transform: translate(0, -8px); -webkit-transform: translate(0, -8px); transform: translate(0, -8px); }

.other .chat-bubble:after, .me .chat-bubble:after { width: 14px; height: 10px; bottom: -19px; background: #ffffff; -moz-border-radius-bottomleft: 60px 60px; -webkit-border-bottom-left-radius: 60px 60px; border-bottom-left-radius: 60px 60px; -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -webkit-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.other .chat-bubble { margin: 0 20px 0 50px; }

.other .chat-bubble:before, .other .chat-bubble:after { right: auto; left: 5px; }

.other .chat-bubble:before { border-left: none; border-right: 26px solid #eaeaea; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 50px 30px; -webkit-border-bottom-right-radius: 50px 30px; border-bottom-right-radius: 50px 30px; }

.other .chat-bubble:after { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 60px 60px; -webkit-border-bottom-right-radius: 60px 60px; border-bottom-right-radius: 60px 60px; -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -webkit-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.chat-bubble { font-size: 13px; }
.chat-bubble img { display: block; margin: .5em 0; max-width: 100%; height: auto; }
.chat-bubble .spr, .chat-bubble .command span[class^="icons"], .command .chat-bubble span[class^="icons"] { vertical-align: bottom; }
.me .chat-bubble { background-color: #e3f1a9; border-color: #e3f1a9; }
.other .chat-bubble { background-color: #dddddd; border-color: #dddddd; }

/* ========== Chat Bubbles - MOS ========== */
.me .chat-bubble { margin: 0; }
.other .chat-bubble { margin: 0; }
.chat-bubble + .time-stamp { position: absolute; color: #ccc; font-size: x-small; }
.me .chat-bubble + .time-stamp { right: 40px; }
.other .chat-bubble + .time-stamp { left: 40px; }
.chat-bubble.systems { border: solid 1px #ccc; background: #FFBABA; text-align: center; }
.chat-bubble.systems span { color: #ccc; font-size: x-small; position: absolute; right: 10px; }

/* ========== Misc ========== */
#status_and_typing_area { position: absolute; bottom: 0; width: 100%; }

#chatter_status { font-size: 13px; color: #666; overflow: hidden; background-color: #fff; }

.chat_name { color: #25426B; /* JDate dark blue */ }

.chat_message .thumbnail { height: 37px; margin-left: 5px; }

.chat_event { font-style: italic; font-size: 75%; }

textarea { width: 65%; height: 50px; float: left; margin: 0 15px 0 5px; resize: none; }

.type_bottom { padding-top: 15px; border-top: 1px solid #a0a0a0; }

.send_button_container { height: 26px; }

.input_box { float: left; background-color: #fff; overflow-y: scroll; width: 70%; min-height: 50px; max-height: 50px; margin: 0 !important; padding: 4px 6px; border: none; font-size: 12px; border: 1px solid #516889; }
.input_box .ui-resizable-handle { display: none !important; }
.input_box img { width: 100px; margin: 4px; display: block; }

/* ========== Misc - MOS ========== */
.header-box, .content-box, .footer-box { position: absolute; left: 0; right: 0; margin: 0; padding: 0; }

.header-box { top: 0; }

.content-box { top: 56px; overflow-y: auto; overflow-x: hidden; bottom: 134px; }
.content-box.fullscreen { top: 91px; }

.footer-box { bottom: 0; position: fixed; }

#chatter_status { background-color: #eaedf1; color: #516889; font-size: 12px; height: 25px; line-height: 25px; text-align: center; }

.status-panel p { padding: 0; margin: 0; }
.status-panel > p > span { display: inline-block; line-height: normal; margin: 0 0 -3px 0; max-width: 145px; overflow: hidden; padding: 0; text-overflow: ellipsis; }

.typing-panel { background-color: #eaedf1; height: 60px; list-style-type: none; overflow: hidden; padding: 5px; position: relative; margin: 0; }

/* ========== Buttons ========== */
.send_button { display: block; font-weight: bold; cursor: pointer; text-align: center; color: #fff; }
.send_button, .send_button:active { position: absolute; right: 5px; width: 75px; height: 48px; margin: 0; padding: 0; line-height: 48px; background-color: #516889; font-size: 17px; text-transform: uppercase; }

/* ========== Buttons - MOS ========== */
.fave-off, .fave-on, .block-off, .block-on { display: block; float: right; margin: 5px 0 0 5px; width: 44px; height: 44px !important; }

.fave-off, .fave-on { background: url("../images/icon_favorite@2x.png") no-repeat center center; background-size: 40px 40px; }

.block-off, .block-on { background: url("../images/icon_block@2x.png") no-repeat center center; background-size: 40px 40px; }

.fave-off, .block-off { opacity: 0.5; }

.fave-on, .block-on { opacity: 1; }

/* ========== Command ========== */
.command { position: relative; padding: 0 0 0 4px; background-color: #e8eef4; margin: 0; background-color: #516889; }
.command * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.command + .type_bottom { border-top: 0; }
.command ul, .command ol { padding: 0; margin: 0; }
.command li { display: inline-block; }
.command .tab { float: left; display: block; font-size: 11px; border: 1px solid transparent; color: #fff; padding: 8px 20px 2px; }
.command .active .tab { position: relative; z-index: 2; background-color: #fff; outline: none; color: #516889; border-color: #adb9c8; border-top-color: transparent; border-width: 1px; }
.command .elm-wrap { position: absolute; z-index: -1; bottom: 999px; left: 0; width: 300px; min-height: 140px; margin: 0; padding: 10px; background-color: #fff; border: 1px solid #adb9c8; }
.command .active .elm-wrap { bottom: 41px; z-index: 1; }
.command span[class^="icons"] { height: 25px; margin-right: .75em; }
.command span[class^="icons"] + em { font-style: normal; }
.command .font .icons-font { width: 20px; }
.command .bg .icons-emoticon { width: 22px; }
.command li.photo { position: relative; }
.command li.photo .tab { position: relative; overflow: hidden; }
.command #photoUpload { position: absolute; left: 0; top: 0; width: 100%; height: 40px; opacity: 0; cursor: pointer; z-index: 1; }
.command select { margin: 0 0 2px 0; padding: 6px; font-size: 14px; }
.command select#font_family { width: 200px; margin-right: 12px; }
.command input[type='checkbox'] { position: absolute; left: -9999em; }
.command input[type='checkbox'] + label { width: 18px; height: 18px; margin: 0 2px; cursor: pointer; border: 1px solid transparent; }
.command input[type='checkbox']:checked + .spr, .command input[type='checkbox']:checked + span[class^="icons"] { border: 1px solid #993366; }

@media only screen and (max-width: 560px) { .command span[class^="icons"] { margin-right: 0; }
  .command span[class^="icons"] + em { display: none; } }
/* ========== Command - Color Picker ========== */
.colorpicker.inline { display: inline-block; width: 273px; margin: 10px 0; }
.colorpicker.icon, .colorpicker span { cursor: pointer; display: inline-block; border: 1px solid #a0a0a0; }
.colorpicker span { width: 21px; height: 21px; position: relative; margin: 0 15px 15px 0; }
.colorpicker span:nth-child(8n + 0) { margin-right: 0; }
.colorpicker span:hover { border: 1px solid #993366; }
.colorpicker span.selected:before { content: ''; position: absolute; left: -4px; top: -4px; width: 25px; height: 25px; border: 1px solid #993366; }

/* ========== Progress ========== */
.progress { width: 120px; padding: 4px 8px; margin: .5em; background-color: #eceff2; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.progress > div { border: 1px solid rgba(153, 51, 102, 0.3); overflow: hidden; }
.progress > div.non-progress { background: url(../images/ajax_loader_stripe.gif) no-repeat 0 0; }
.progress > div.non-progress .bar { visibility: hidden; }
.progress .bar { float: left; height: 5px; background-color: #993366; }

/* ========== jquery UI ========== */
.ui-resizable { position: relative; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }

.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }

.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }

.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }

.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }

.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }

.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }

.emoticons { position: relative; padding: .5em 0; min-height: 210px; }
.emoticons > dt { position: absolute; bottom: -4px; }
.emoticons > dt.active { background-color: #eee; }
.emoticons > dt > a { outline: none; display: block; padding: 8px 14px; }
.emoticons > dd { top: -9999em; left: 0; margin: 0; border-bottom: 1px solid #e0e0e0; }
.emoticons > dd .spr, .emoticons > dd .command span[class^="icons"], .command .emoticons > dd span[class^="icons"] { margin: 4px 0 4px 4px; border: 1px solid transparent; }
.emoticons > dd .spr:hover, .emoticons > dd .command span[class^="icons"]:hover, .command .emoticons > dd span[class^="icons"]:hover { border: 1px solid #993366; cursor: pointer; }
.emoticons .slider > li { width: 213px; height: 140px; }
.emoticons .slider > li img { width: 213px; }
.emoticons .active + dd { left: 0; top: 10px; }

/** RESET AND LAYOUT
===================================*/
.bx-wrapper { position: relative; margin: 15px auto 0; padding: 0; *zoom: 1; }

.bx-wrapper img { max-width: 100%; display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport { background: #fff; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; width: 50%; top: -40px; left: 25%; }

/* LOADER */
.bx-wrapper .bx-loading { min-height: 50px; background: url(../images/bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a { background: #ccc; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #516889; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev { left: 10px; background: url(../images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next { right: 10px; background: url(../images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover { background-position: 0 0; }

.bx-wrapper .bx-next:hover { background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a { position: absolute; top: -15px; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(../images/controls.png) -86px -11px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(../images/controls.png) -86px -44px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666 \9; background: rgba(80, 80, 80, 0.75); width: 100%; }

.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

/* ========== Colors ========== */
.fc-1, .chat-bubble.fc-1 { color: #000000; }

[data-color="fc-1"] { background-color: #000000; }

.bc-1, [data-color="bc-1"] { background-color: #bfbfbf; }

.chat-bubble.bc-1 { background-color: #bfbfbf; border-color: #bfbfbf; }
.chat-bubble.bc-1:before { border-color: #bfbfbf; background-color: #bfbfbf; }

.fc-2, .chat-bubble.fc-2 { color: #903300; }

[data-color="fc-2"] { background-color: #903300; }

.bc-2, [data-color="bc-2"] { background-color: #e3ccbf; }

.chat-bubble.bc-2 { background-color: #e3ccbf; border-color: #e3ccbf; }
.chat-bubble.bc-2:before { border-color: #e3ccbf; background-color: #e3ccbf; }

.fc-3, .chat-bubble.fc-3 { color: #333300; }

[data-color="fc-3"] { background-color: #333300; }

.bc-3, [data-color="bc-3"] { background-color: #ccccbf; }

.chat-bubble.bc-3 { background-color: #ccccbf; border-color: #ccccbf; }
.chat-bubble.bc-3:before { border-color: #ccccbf; background-color: #ccccbf; }

.fc-4, .chat-bubble.fc-4 { color: #003300; }

[data-color="fc-4"] { background-color: #003300; }

.bc-4, [data-color="bc-4"] { background-color: #bfccbf; }

.chat-bubble.bc-4 { background-color: #bfccbf; border-color: #bfccbf; }
.chat-bubble.bc-4:before { border-color: #bfccbf; background-color: #bfccbf; }

.fc-5, .chat-bubble.fc-5 { color: #003366; }

[data-color="fc-5"] { background-color: #003366; }

.bc-5, [data-color="bc-5"] { background-color: #bfccd9; }

.chat-bubble.bc-5 { background-color: #bfccd9; border-color: #bfccd9; }
.chat-bubble.bc-5:before { border-color: #bfccd9; background-color: #bfccd9; }

.fc-6, .chat-bubble.fc-6 { color: #000080; }

[data-color="fc-6"] { background-color: #000080; }

.bc-6, [data-color="bc-6"] { background-color: #bfbfdf; }

.chat-bubble.bc-6 { background-color: #bfbfdf; border-color: #bfbfdf; }
.chat-bubble.bc-6:before { border-color: #bfbfdf; background-color: #bfbfdf; }

.fc-7, .chat-bubble.fc-7 { color: #333390; }

[data-color="fc-7"] { background-color: #333390; }

.bc-7, [data-color="bc-7"] { background-color: #cccce3; }

.chat-bubble.bc-7 { background-color: #cccce3; border-color: #cccce3; }
.chat-bubble.bc-7:before { border-color: #cccce3; background-color: #cccce3; }

.fc-8, .chat-bubble.fc-8 { color: #404040; }

[data-color="fc-8"] { background-color: #404040; }

.bc-8, [data-color="bc-8"] { background-color: #cfcfcf; }

.chat-bubble.bc-8 { background-color: #cfcfcf; border-color: #cfcfcf; }
.chat-bubble.bc-8:before { border-color: #cfcfcf; background-color: #cfcfcf; }

.fc-9, .chat-bubble.fc-9 { color: #800000; }

[data-color="fc-9"] { background-color: #800000; }

.bc-9, [data-color="bc-9"] { background-color: #dfbfbf; }

.chat-bubble.bc-9 { background-color: #dfbfbf; border-color: #dfbfbf; }
.chat-bubble.bc-9:before { border-color: #dfbfbf; background-color: #dfbfbf; }

.fc-10, .chat-bubble.fc-10 { color: #ff6600; }

[data-color="fc-10"] { background-color: #ff6600; }

.bc-10, [data-color="bc-10"] { background-color: #ffd9bf; }

.chat-bubble.bc-10 { background-color: #ffd9bf; border-color: #ffd9bf; }
.chat-bubble.bc-10:before { border-color: #ffd9bf; background-color: #ffd9bf; }

.fc-11, .chat-bubble.fc-11 { color: #808000; }

[data-color="fc-11"] { background-color: #808000; }

.bc-11, [data-color="bc-11"] { background-color: #dfdfbf; }

.chat-bubble.bc-11 { background-color: #dfdfbf; border-color: #dfdfbf; }
.chat-bubble.bc-11:before { border-color: #dfdfbf; background-color: #dfdfbf; }

.fc-12, .chat-bubble.fc-12 { color: #008000; }

[data-color="fc-12"] { background-color: #008000; }

.bc-12, [data-color="bc-12"] { background-color: #bfdfbf; }

.chat-bubble.bc-12 { background-color: #bfdfbf; border-color: #bfdfbf; }
.chat-bubble.bc-12:before { border-color: #bfdfbf; background-color: #bfdfbf; }

.fc-13, .chat-bubble.fc-13 { color: #008080; }

[data-color="fc-13"] { background-color: #008080; }

.bc-13, [data-color="bc-13"] { background-color: #bfdfdf; }

.chat-bubble.bc-13 { background-color: #bfdfdf; border-color: #bfdfdf; }
.chat-bubble.bc-13:before { border-color: #bfdfdf; background-color: #bfdfdf; }

.fc-14, .chat-bubble.fc-14 { color: #0000ff; }

[data-color="fc-14"] { background-color: #0000ff; }

.bc-14, [data-color="bc-14"] { background-color: #bfbfff; }

.chat-bubble.bc-14 { background-color: #bfbfff; border-color: #bfbfff; }
.chat-bubble.bc-14:before { border-color: #bfbfff; background-color: #bfbfff; }

.fc-15, .chat-bubble.fc-15 { color: #666690; }

[data-color="fc-15"] { background-color: #666690; }

.bc-15, [data-color="bc-15"] { background-color: #d9d9e3; }

.chat-bubble.bc-15 { background-color: #d9d9e3; border-color: #d9d9e3; }
.chat-bubble.bc-15:before { border-color: #d9d9e3; background-color: #d9d9e3; }

.fc-16, .chat-bubble.fc-16 { color: #808080; }

[data-color="fc-16"] { background-color: #808080; }

.bc-16, [data-color="bc-16"] { background-color: #dfdfdf; }

.chat-bubble.bc-16 { background-color: #dfdfdf; border-color: #dfdfdf; }
.chat-bubble.bc-16:before { border-color: #dfdfdf; background-color: #dfdfdf; }

.fc-17, .chat-bubble.fc-17 { color: #ff0000; }

[data-color="fc-17"] { background-color: #ff0000; }

.bc-17, [data-color="bc-17"] { background-color: #ffbfbf; }

.chat-bubble.bc-17 { background-color: #ffbfbf; border-color: #ffbfbf; }
.chat-bubble.bc-17:before { border-color: #ffbfbf; background-color: #ffbfbf; }

.fc-18, .chat-bubble.fc-18 { color: #ff9090; }

[data-color="fc-18"] { background-color: #ff9090; }

.bc-18, [data-color="bc-18"] { background-color: #ffe3e3; }

.chat-bubble.bc-18 { background-color: #ffe3e3; border-color: #ffe3e3; }
.chat-bubble.bc-18:before { border-color: #ffe3e3; background-color: #ffe3e3; }

.fc-19, .chat-bubble.fc-19 { color: #90cc00; }

[data-color="fc-19"] { background-color: #90cc00; }

.bc-19, [data-color="bc-19"] { background-color: #e3f2bf; }

.chat-bubble.bc-19 { background-color: #e3f2bf; border-color: #e3f2bf; }
.chat-bubble.bc-19:before { border-color: #e3f2bf; background-color: #e3f2bf; }

.fc-20, .chat-bubble.fc-20 { color: #339066; }

[data-color="fc-20"] { background-color: #339066; }

.bc-20, [data-color="bc-20"] { background-color: #cce3d9; }

.chat-bubble.bc-20 { background-color: #cce3d9; border-color: #cce3d9; }
.chat-bubble.bc-20:before { border-color: #cce3d9; background-color: #cce3d9; }

.fc-21, .chat-bubble.fc-21 { color: #33cccc; }

[data-color="fc-21"] { background-color: #33cccc; }

.bc-21, [data-color="bc-21"] { background-color: #ccf2f2; }

.chat-bubble.bc-21 { background-color: #ccf2f2; border-color: #ccf2f2; }
.chat-bubble.bc-21:before { border-color: #ccf2f2; background-color: #ccf2f2; }

.fc-22, .chat-bubble.fc-22 { color: #3366ff; }

[data-color="fc-22"] { background-color: #3366ff; }

.bc-22, [data-color="bc-22"] { background-color: #ccd9ff; }

.chat-bubble.bc-22 { background-color: #ccd9ff; border-color: #ccd9ff; }
.chat-bubble.bc-22:before { border-color: #ccd9ff; background-color: #ccd9ff; }

.fc-23, .chat-bubble.fc-23 { color: #800080; }

[data-color="fc-23"] { background-color: #800080; }

.bc-23, [data-color="bc-23"] { background-color: #dfbfdf; }

.chat-bubble.bc-23 { background-color: #dfbfdf; border-color: #dfbfdf; }
.chat-bubble.bc-23:before { border-color: #dfbfdf; background-color: #dfbfdf; }

.fc-24, .chat-bubble.fc-24 { color: #909090; }

[data-color="fc-24"] { background-color: #909090; }

.bc-24, [data-color="bc-24"] { background-color: #e3e3e3; }

.chat-bubble.bc-24 { background-color: #e3e3e3; border-color: #e3e3e3; }
.chat-bubble.bc-24:before { border-color: #e3e3e3; background-color: #e3e3e3; }

.fc-25, .chat-bubble.fc-25 { color: #ff00ff; }

[data-color="fc-25"] { background-color: #ff00ff; }

.bc-25, [data-color="bc-25"] { background-color: #ffbfff; }

.chat-bubble.bc-25 { background-color: #ffbfff; border-color: #ffbfff; }
.chat-bubble.bc-25:before { border-color: #ffbfff; background-color: #ffbfff; }

.fc-26, .chat-bubble.fc-26 { color: #ffcc00; }

[data-color="fc-26"] { background-color: #ffcc00; }

.bc-26, [data-color="bc-26"] { background-color: #fff2bf; }

.chat-bubble.bc-26 { background-color: #fff2bf; border-color: #fff2bf; }
.chat-bubble.bc-26:before { border-color: #fff2bf; background-color: #fff2bf; }

.fc-27, .chat-bubble.fc-27 { color: #ffff00; }

[data-color="fc-27"] { background-color: #ffff00; }

.bc-27, [data-color="bc-27"] { background-color: #ffffbf; }

.chat-bubble.bc-27 { background-color: #ffffbf; border-color: #ffffbf; }
.chat-bubble.bc-27:before { border-color: #ffffbf; background-color: #ffffbf; }

.fc-28, .chat-bubble.fc-28 { color: #00ff00; }

[data-color="fc-28"] { background-color: #00ff00; }

.bc-28, [data-color="bc-28"] { background-color: #bfffbf; }

.chat-bubble.bc-28 { background-color: #bfffbf; border-color: #bfffbf; }
.chat-bubble.bc-28:before { border-color: #bfffbf; background-color: #bfffbf; }

.fc-29, .chat-bubble.fc-29 { color: #00ffff; }

[data-color="fc-29"] { background-color: #00ffff; }

.bc-29, [data-color="bc-29"] { background-color: #bfffff; }

.chat-bubble.bc-29 { background-color: #bfffff; border-color: #bfffff; }
.chat-bubble.bc-29:before { border-color: #bfffff; background-color: #bfffff; }

.fc-30, .chat-bubble.fc-30 { color: #00ccff; }

[data-color="fc-30"] { background-color: #00ccff; }

.bc-30, [data-color="bc-30"] { background-color: #bff2ff; }

.chat-bubble.bc-30 { background-color: #bff2ff; border-color: #bff2ff; }
.chat-bubble.bc-30:before { border-color: #bff2ff; background-color: #bff2ff; }

.fc-31, .chat-bubble.fc-31 { color: #903366; }

[data-color="fc-31"] { background-color: #903366; }

.bc-31, [data-color="bc-31"] { background-color: #e3ccd9; }

.chat-bubble.bc-31 { background-color: #e3ccd9; border-color: #e3ccd9; }
.chat-bubble.bc-31:before { border-color: #e3ccd9; background-color: #e3ccd9; }

.fc-32, .chat-bubble.fc-32 { color: #c0c0c0; }

[data-color="fc-32"] { background-color: #c0c0c0; }

.bc-32, [data-color="bc-32"] { background-color: #efefef; }

.chat-bubble.bc-32 { background-color: #efefef; border-color: #efefef; }
.chat-bubble.bc-32:before { border-color: #efefef; background-color: #efefef; }

.fc-33, .chat-bubble.fc-33 { color: #ff90cc; }

[data-color="fc-33"] { background-color: #ff90cc; }

.bc-33, [data-color="bc-33"] { background-color: #ffe3f2; }

.chat-bubble.bc-33 { background-color: #ffe3f2; border-color: #ffe3f2; }
.chat-bubble.bc-33:before { border-color: #ffe3f2; background-color: #ffe3f2; }

.fc-34, .chat-bubble.fc-34 { color: #ffcc90; }

[data-color="fc-34"] { background-color: #ffcc90; }

.bc-34, [data-color="bc-34"] { background-color: #fff2e3; }

.chat-bubble.bc-34 { background-color: #fff2e3; border-color: #fff2e3; }
.chat-bubble.bc-34:before { border-color: #fff2e3; background-color: #fff2e3; }

.fc-35, .chat-bubble.fc-35 { color: #ffff90; }

[data-color="fc-35"] { background-color: #ffff90; }

.bc-35, [data-color="bc-35"] { background-color: #ffffe3; }

.chat-bubble.bc-35 { background-color: #ffffe3; border-color: #ffffe3; }
.chat-bubble.bc-35:before { border-color: #ffffe3; background-color: #ffffe3; }

.fc-36, .chat-bubble.fc-36 { color: #ccffcc; }

[data-color="fc-36"] { background-color: #ccffcc; }

.bc-36, [data-color="bc-36"] { background-color: #f2fff2; }

.chat-bubble.bc-36 { background-color: #f2fff2; border-color: #f2fff2; }
.chat-bubble.bc-36:before { border-color: #f2fff2; background-color: #f2fff2; }

.fc-37, .chat-bubble.fc-37 { color: #ccffff; }

[data-color="fc-37"] { background-color: #ccffff; }

.bc-37, [data-color="bc-37"] { background-color: #f2ffff; }

.chat-bubble.bc-37 { background-color: #f2ffff; border-color: #f2ffff; }
.chat-bubble.bc-37:before { border-color: #f2ffff; background-color: #f2ffff; }

.fc-38, .chat-bubble.fc-38 { color: #90ccff; }

[data-color="fc-38"] { background-color: #90ccff; }

.bc-38, [data-color="bc-38"] { background-color: #e3f2ff; }

.chat-bubble.bc-38 { background-color: #e3f2ff; border-color: #e3f2ff; }
.chat-bubble.bc-38:before { border-color: #e3f2ff; background-color: #e3f2ff; }

.fc-39, .chat-bubble.fc-39 { color: #cc90ff; }

[data-color="fc-39"] { background-color: #cc90ff; }

.bc-39, [data-color="bc-39"] { background-color: #f2e3ff; }

.chat-bubble.bc-39 { background-color: #f2e3ff; border-color: #f2e3ff; }
.chat-bubble.bc-39:before { border-color: #f2e3ff; background-color: #f2e3ff; }

.fc-40, .chat-bubble.fc-40 { color: #ffffff; }

[data-color="fc-40"] { background-color: #ffffff; }

.bc-40, [data-color="bc-40"] { background-color: #f5f5f5; }

.chat-bubble.bc-40 { background-color: #f5f5f5; border-color: #f5f5f5; }
.chat-bubble.bc-40:before { border-color: #f5f5f5; background-color: #f5f5f5; }

/* ========== Font Style ========== */
.ff-1 { font-family: Arial; }

.ff-2 { font-family: Helvetica; }

.ff-3 { font-family: Verdana; }

.ff-4 { font-family: Impact; }

.ff-5 { font-family: "Lucida Console"; }

.ff-6 { font-family: Tahoma; }

.ff-7 { font-family: "Times New Roman"; }

.ff-8 { font-family: "Comic Sans MS"; }

.fz-1 { font-size: 8px; }

.fz-2 { font-size: 9px; }

.fz-3 { font-size: 10px; }

.fz-4 { font-size: 11px; }

.fz-5 { font-size: 12px; }

.fz-6 { font-size: 14px; }

.fz-7 { font-size: 16px; }

.fz-8 { font-size: 18px; }

.fz-9 { font-size: 20px; }

.fz-10 { font-size: 24px; }

.fz-11 { font-size: 26px; }

.fz-12 { font-size: 28px; }

.fz-13 { font-size: 36px; }

.fz-14 { font-size: 48px; }

.fz-15 { font-size: 72px; }

.fs-1 { font-weight: bold; }

.fs-2 { font-style: italic; }

.fs-3 { text-decoration: underline; }
