<%@ Control Language="c#" AutoEventWireup="false" Codebehind="EventContact.ascx.cs" Inherits="Matchnet.Web.Applications.Events.EventContact" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="uc1" TagName="EventTopNav" Src="EventTopNav.ascx" %>
<%@ Register TagPrefix="uc1" TagName="ContactUs" Src="../ContactUs/ContactUs.ascx" %>
<uc1:EventTopNav id="EventTopNav1" runat="server" EnableViewState="false" />
<uc1:ContactUs id="ContactUs1" runat="server"></uc1:ContactUs>

