<%@ Control Language="c#" AutoEventWireup="false" Codebehind="upEvent.ascx.cs" Inherits="Matchnet.Web.Applications.Events.upEvent" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table align="center" border="0" cellspacing="2" cellpadding="2" width="640" dir="ltr">
		<tr>
			<td>
				<asp:Label ID="lblEventContent" Runat="server" />
			</td>
		</tr>
</table>
