//configuration: base
$siteDomain: "JDate.com";
$siteID: "103";
$siteName: "JDate";
$siteCommunity: "JDate";
$siteSite: "JDate-com";
$dir: ltr;$inside: left;$outside: right;

//configuration: image paths
$p-images: "../Images/";

//configuration: site settings
//$s-profile30: true;

//style: colors
$c-body: #333;
$c-base1: #202E42;//selected tab, selected nav [darkest]
$c-base2: #25426B;//main navigation
$c-base3: #96B1CC;//borders/shading
$c-base4: #ECEFF2;//borders, bg [lightest]
$c-text: #333333;
$c-auxNav: #666666;
$c-note: #777; //note, disclaimer, timestamp
$c-error: #C00;
$c-accent1: #D1E2AF;//Primary cell bg [darkest]
$c-accent2: #E8F0D7;//Secondary cell bg
$c-accent3: #F2F7E8;//Third cell bg
$c-accent4: #F2F1DF;//Auxiliary cell bg [lightest]
$c-primary: #0287dc;//Call to action primary
$c-secondary: #fff;//Call to action secondary

//siteinfo (footer)
$c-siteinfo-bg: $c-base2;
$c-siteinfo-color: $c-base3;

//links
$c-link: $c-primary;
$c-link-hover: $c-primary;
$c-link-active: $c-primary;
$c-link-visited: $c-primary;

//buttons
$c-btn-primary-bg: $c-primary;//Call to action primary
$c-btn-primary-color: #fff;//primary button font color
$c-btn-secondary-bg: #fff;//Call to action secondary
$c-btn-secondary-color: $c-primary;//secondary button font color
$c-btn-secondary-border: #ccc;//Call to action secondary border

$c-shading: #808080;//Shades of grey - use lighten, darken functions
$c-text-accent:#9c042a;
$c-text-disclaimers:#666666;
$c-text-timestamp:#666666;

// components
$c-progress-meter: #E0E24E;

//style: fonts
$f-royalty: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
$f-subjects: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$n-container-width: 960px;