<%@ Control Language="c#" AutoEventWireup="false" Codebehind="PageTemplate.ascx.cs" Inherits="Matchnet.Web.Applications.API.PageTemplate" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
[PageContent]