<%@ Page language="c#" Codebehind="RemoveInvitation.aspx.cs" AutoEventWireup="false" Inherits="Matchnet.Web.Applications.API.RemoveInvitation" %>
alert('AJAX response: removed conversation invitation from collection')