.m_reg_complete{
  .ui-content{
    text-align: center;
    h2, h3, p{
      margin: .5em;
    }
    h3{
      font-size: 12px;
    }
  }
}

.imgDiv {
	display:inline-block;
	max-width:88px;
	max-height:88px
}

.c_headTitle {
	font-size:23px;
	font-family:Helvetica;
	font-weight:700;
	color:#00578A;
	margin-top:23px
}

.c_text {
	font-size:14px;
	font-family:Helvetica;
	color:#404040;
	margin-top:23px
}

.divGals,.divGuys {
	display:none;
	margin-top:22px
}

.divMolA {
	margin-top:15px
}

.divFnprofile {
	margin-top:9px
}

.c_des {
	font-size:14px;
	font-family:Helvetica,Oblique;
	color:#404040;
	margin-top:14px
}

.molA {
	text-shadow:none;
	cursor:pointer;
	background-color:#00578A;
	border:none;
	color:#FFF!important;
	display:inline-block;
	font-weight:700;
	height:36px;
	line-height:40px;
	min-width:290px;
	text-align:center;
	font-size:17px;
	font-family:Helvetica
}

.fnProfile {
	text-shadow:none;
	background-color:#00578A;
	border:none;
	color:#FFF!important;
	display:inline-block;
	font-weight:700;
	height:40px;
	line-height:36px;
	min-width:290px;
	cursor:pointer;
	text-align:center
}

a#aSubNow.aSubNow.ui-link {
    display: block;
	font-size:17px;
	text-decoration:underline;
	font-family:Helvetica;
	color:#00578A;
	margin-top:19px;
	cursor:pointer!important;
	text-shadow:none
}

.downloadBtn {
	margin:9px 0
}

a.downloadLink {
	background-color:#936;
	display:inline-block;
	color:#FFF!important;
	font-weight:700;
	height:36px;
	line-height:36px;
	min-width:290px;
	cursor:pointer;
	text-align:center;
	text-shadow:none;
	border:none;
	text-decoration:none
}