.m_landing {
    .logo{
	     margin: .5em auto;
	     padding: 0;
    }
    .quote{
        margin: 0;
        padding: 1em 2em;
        color:#215987;
        font-size:0.8em;
    }
    > .ui-content {
        margin: 0;
        padding: 8px 4px;
        text-align:center;
        background: url(#{$p-images}ui-bg-stripe.png) 0 0;
    }
    .lp-content {
        margin: 0;
        padding: 0;
        background: #fff;
        border-radius: 4px;
        h2 {
            margin: 0 0 2px;
        }
    }
    .main{
        min-height: 250px;
        padding: 4em 0 0 0;
        background: url(#{$p-images}img-splash-mood.jpg) no-repeat center top;

        blockquote{
            width:282px;
            margin:0 auto;
            padding:2em 0;
            background-color: rgba(255, 255, 255, 0.95);
            border: 2px solid #f3a900;
            border-radius: 6px;
        }
    }
    [role=register-button]{
        max-width: 260px;
        margin: .5em 1em;
        font-size: 12px;
        text-transform: uppercase;
        strong {
            display: block;
            font-size: 18px;
        }
        @include respond-to(handhelds) { max-width: inherit; }
        @include respond-to(wide-handhelds) { max-width: inherit; }
    }
}