﻿@model Spark.Web.Mobile.CM.ViewData.SecretAdmirerViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}

<div class="page-content">
    <h2 class="page-header secret-admirer-header">
        <a id="btn_back" href="/secretadmirer" data-role="none" class="back-button"></a>
        My Secret Admirer Stats
    </h2>
    <ul class="secret-admirer-stats">
        <li class="bothyes">
            <a href="/secretadmirer/results/bothyes" data-role="none">
                <span>BOTH<br />YES</span>
                <span>0</span>
            </a>
        </li>
        <li class="yes">
            <a href="/secretadmirer/results/yes" data-role="none">
                <span>YES</span><span>0</span>
            </a>
        </li>
        <li class="maybe">
            <a href="/secretadmirer/results/maybe" data-role="none">
                <span>MAYBE</span><span>0</span>
            </a>
        </li>
        <li class="no">
            <a href="/secretadmirer/results/no" data-role="none">
                <span>NO</span><span>0</span>
            </a>
        </li>
    </ul>
    <div class="secret-admirer-prefs">
        <h3>My Preferences</h3>
        <div class="section age">
            <label>Age:</label>
            <div id="min_age" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option value="">&nbsp;</option>
                    @for (var i = 18; i < 100; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            </div>
            <div id="max_age" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option value="">&nbsp;</option>
                    @for (var i = 18; i < 100; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            </div>
            <label>to</label>
        </div>
        <div class="section distance">
            <label>Within:</label>
            <div id="distance" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            <input id="postal_code" type="text" placeholder="Zipcode" maxlength="6" data-role="none" />
            <label>miles of</label>
        </div>
        <div class="btn-section">
            <a data-role="none" class="btn-blue" id="btn_save_sa_prefs">Save Preferences</a>
        </div>
    </div>
</div>

