﻿@model Spark.Web.Mobile.CM.ViewData.MailViewData
@{
    Layout = "_ScrollableLayout.cshtml";
}

<ul class="generic-tabs mail-tabs">
    <li class="three"><a href="/mail/inbox" data-role="none">Inbox</a></li>
    <li class="three"><a href="/mail/sent" data-role="none">Sent</a></li>
    <li class="three"><a href="/mail/trash" data-role="none">Trash</a></li>
</ul>
@RenderBody()

