﻿@model Spark.Web.Mobile.CM.ViewData.BaseViewData
@{
    Layout = "_Layout.cshtml";
}

<div id="@Model.PageId" class="@Model.CssClass" data-scrollable="true" data-pagesize="@Model.PageSize.ToString()" data-pageno="@(Model.PageNo == 0 ? "1" : Model.PageNo.ToString())" data-pageno-two="@(Model.PageNo == 0 ? "1" : Model.PageNo.ToString())"  data-url="@Model.PageUrl" data-role="page" data-cache="never">
    @if (Model.ShowNavPanel)
    {
        @Html.Partial("_NavPanel")
    }
    <div data-role="content">
        @if (Model.ShowHeader)
        {
            @Html.Partial("_NavHeader")
        }
        @RenderBody()
        <div>
            @Html.Partial("_Footer")
        </div>
    </div>
</div>

