﻿@model Spark.Web.Mobile.CM.ViewData.SubscriptionViewData
@*@{
    ViewBag.Title = "_SubscriptionPlanStatus";
}*@
@using System.Text.RegularExpressions;

<div class="sub-plan-status" data-value="">
    <p>Your current subscription plan:</p>

    @if (!Model.SubscriptionPlanStatusData.IsFreeTrial)
    {
         <p>Renewal rate:@Html.Raw(Model.SubscriptionPlanStatusData.BaseSubscriptionPlan.CurrencyTypeSymbol)@Model.SubscriptionPlanStatusData.BaseSubscriptionPlan.RenewalRate/@Model.SubscriptionPlanStatusData.BaseSubscriptionPlan.RenewalDurationTimeSpan</p>

        var mydate = DateTime.Parse(@Model.SubscriptionPlanStatusData.SubscriptionEndDate);

        <p>Next renewal date:   @mydate.ToString("MM/dd/yyyy")</p>

    }
    else
    {
        <p>Renewal rate:@Html.Raw(Model.SubscriptionPlanStatusData.FreeTrialSubscriptionPlan.CurrencyTypeSymbol)@Model.SubscriptionPlanStatusData.FreeTrialSubscriptionPlan.RenewalRate/@Model.SubscriptionPlanStatusData.FreeTrialSubscriptionPlan.RenewalDurationTimeSpan</p>
        
        //var myString = @Model.SubscriptionPlanStatusData.FreeTrialSubscriptionPlan.Expires;
        var myString = @Model.SubscriptionPlanStatusData.FreeTrialSubscriptionPlan.Expires;
         // myString = myString.Substring(0, myString.IndexOf(" "));
        <p>Next renewal date:   @myString</p>
    }
   
</div>
