﻿
body
{
    background-color: #333333;
}
.mainbody
{
    height: 600px;
    background-color: white;
    font-family: Verdana, Arial;
    font-size: small;
    padding: 10px;
    position: inherit;
    overflow:auto;
}
.labellarge
{
    margin: 15px;
    height: 100px;
    font-size: 16px;
}
.labelerror
{
    margin: 5px;
    font-size: 16px;
    color: #FF0000;
    background-color: #FFFF99;
}
.labelnotification
{
    font-size: 16px;
    background-color: #FFFF99;
}
.panelerror
{
    border-style:solid;
    border-width:thin;
    margin: 5px;
    background-color: #FFFF99;
}
.button
{
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}
.buttonapprove
{
    color: blue;
}
.buttonreject
{
    color: red;
}
.buttonok
{
    width: 50px;
}
.buttoncancel
{
    width: 50px;
}
.headerblock
{
    margin: 15px;
}
.accountblock
{
    margin-left: 30px;
}
.imagelogo
{
  vertical-align:middle;
}
.imagewarning
{
   vertical-align:middle;
   margin: 4px;
}
.modal 
{
  background-color: #FFF;
  border: 1px solid Black;
  height: 110px;
  text-align: center;
  width: 370px;
}
.modalbackground
{
  background-color: Gray;
  filter: alpha(opacity=40);
  opacity: 0.4; 
}
.center
{
    vertical-align:middle;
    text-align:center;
    vertical-align:text-bottom;
    margin:auto;
}
.pleasewait
{
    background-color: #FFF;
    border: 1px solid Black;
    height: 110px;
    text-align: center;
    vertical-align:middle;
    width: 370px;
    position: relative;
}

.round{display:block}
.round *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#ffffff}
.round1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #6d6d6d;
  border-right:1px solid #6d6d6d;
  background:#bfbfbf}
.round2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #191919;
  border-right:1px solid #191919;
  background:#cecece}
.round3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #cecece;
  border-right:1px solid #cecece;}
.round4{
  border-left:1px solid #6d6d6d;
  border-right:1px solid #6d6d6d}
.round5{
  border-left:1px solid #bfbfbf;
  border-right:1px solid #bfbfbf}
.roundfg{
  background:#ffffff}
.filterbox
{
 margin: 8px;
}