﻿<!DOCTYPE html>
<html>
<!-- webchat.blacksingles.com-->
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Chat</title>
    <!-- include the flXHR file -->
    <script type="text/javascript" src="js/libs/flXHR/flXHR.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js'></script>
    <!-- include the flXHR jquery plugin -->
    <script type="text/javascript" src="js/libs/flXHR/jquery.flXHRproxy.js"></script>
    <script src='js/libs/jquery.ie.cors.js'></script>
    <script src='js/libs/strophe.js'></script>
    <script src='js/libs/plug-ins/strophe.xdomainrequest.js'></script>
    <script src='js/libs/mustache.js'></script>
    <script src="js/libs/jdm-plugins.min.js"></script>
    <script src='js/libs/jquery.blockUI.js'></script>
    <script src="js/spark.localization.js"></script>
    <script src="js/spark.localization.en-US.js"></script>
    <script src="js/spark.localization.he-IL.js"></script>
    <script src="js/spark.localization.fr-FR.js"></script>
    <script src="js/spark.config.js"></script>
    <script src="js/libs/s_code.js" type="text/javascript"></script>
    <script src="js/spark.API.restClient.js"></script>
    <script src='js/IM.js'></script>
    <link rel='stylesheet' href='css/style.css'>
</head>
<body>

<div id="chat_area">
    <div id="mini_profile_container"></div>
    <div class="chat_message_box">
        <ul class="chat_messages">

        </ul>
        <div class="clear"></div>
        <div id="chatter_status"></div>
        <div class="type_bottom">
              <span><textarea cols="2" rows="2" maxlength="500" class="chat_input"></textarea>
              <input name="" type="submit" value="Send" class="send_but">
              </span>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script id="mini_profile_template" type="text/template" data-target-element="#mini_profile_container" >
    <div id="chatter_mini_profile">
        <a href="{{ profileLink }}" target="_blank" class="profilelink">
            <image class="thumbnail" src="{{ thumbnail }}" alt="" width="56" height="75"></image>
        </a>
        <div class="profile_text">
            <a href="{{ profileLink }}" target="_blank" class="profilelink"><span class="username">{{ username }}</span></a>
            <span class="age">{{age}}</span>
            <span class="gender_and_seeking">{{ genderAndSeeking }}</span>
            <span class="location">{{ location }}</span>
        </div>
        <image id="favorite_symbol" src="images/icon_fave_off.png"></image>
        <image id="block_symbol" src="images/icon_block_off.png"></image>
    </div>
</script>

<script id="message_template" type="text/template" data-target-element="#chat_area .chat_messages">
    <li class="chat_message other">
        <image class="thumbnail" src="{{ thumbnail }}" alt=""></image>
        <span class="timestamp">{{ timestamp }}</span>
        <span class="chat_text"><em>{{  chatText  }}</em></span>
    </li>
</script>

<script id="self_message_template" data-target-element="#chat_area .chat_messages" type="text/template">
    <li class="chat_message me">
        <span class="chat_text"><em>{{ chatText }}</em></span>
        <span class="timestamp">{{ timestamp }}</span>
    </li>
</script>

<script id="chatter_status_template" type="text/template" data-target-element="#chatter_status">
    <div class="user_typing"><span>{{ userState }}</span></div>
</script>

<script id="error_template" type="text/template" data-target-element="#error_container" >
    <div><span>{{ message }}</span></div>
</script>

<script id="system_template" type="text/template" data-target-element="#chat_area .chat_messages" >
    <li class="chat_message system">
        <span class="chat_name">{{ username}} </span>
        <span class="chat_text">
                    <em>
                        <strong>{{ chatText }}</strong>
                    </em>
                    </span>
        <span class="timestamp">{{ timestamp }}</span>
    </li>
</script>
</body>
</html>
