<%@ Control Language="c#" AutoEventWireup="false" Codebehind="BaseXMLResponse.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.BaseXMLResponse" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
