<%@ Control Language="c#" AutoEventWireup="false" Codebehind="BlockedStatus.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.BlockedStatus" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
