<%@ Control Language="c#" AutoEventWireup="false" Codebehind="GetConfPhoneNumber.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.GetConfPhoneNumber" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
