<%@ Control Language="c#" AutoEventWireup="false" Codebehind="GetDomainPreferences.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.GetDomainPreferences" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
