<%@ Control Language="c#" AutoEventWireup="false" Codebehind="GetMemberID.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.GetMemberID" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
