<%@ Control Language="c#" AutoEventWireup="false" Codebehind="StartConversation.ascx.cs" Inherits="Matchnet.Web.Applications.InstantMessenger.XMLResponses.StartConversation" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
