/** {*/
/*border: 1px solid red*/
/*}*/

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
}

.hidden {
    display: none
}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
}
#chatter_mini_profile {
    background:url(../images/mini_prof_bg.jpg) repeat-x left bottom #f0f0f0;
    height: 90px;
    float: left;
    width: 100%;
}

#chatter_mini_profile .thumbnail {
    margin: 5px 0 0 3px;
    width: 60px;
    float:left;
}

.profile_text span {
    font-size:12px;
    color:#333;
}

.profile_text span.username {
    font-size:16px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#973566;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
    line-height: 1.0;
}

ul.hotlist_buttons {
    float:right;
    margin: 30px 10px;
}

ul.hotlist_buttons li {
    cursor: pointer;
    margin-bottom: 7px;
    padding: 1px;
    border: 1px solid #777;
    border-radius: 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
}

.chat_messages {
    position: absolute;
    bottom: 120px;
    left:0;
    top: 90px;
    width:100%;
    padding: 0; /* without this line there is extra padding (???) */
    margin: 0;
    background-color: #fff;
    overflow-y: auto;
    clear: both;
}

.chat_messages li {
    font-style: normal;
    width:100%;
    font-size:11px;
    color:#000;
    padding: 9px 0 9px 0;
}

.chat_messages .bubble_and_profile {
    position:relative;
}

.chat_messages .profile {
    width: 45px;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.chat_messages .me .profile {
    right: 3px;
}

.chat_messages .other .profile {
    min-height: 45px;
    left: 3px;
}

.chat_bubble {
    width: 256px;
    margin-bottom: 5px;
}

.chat_bubble .middle {
    word-wrap:break-word;
    min-height:15px;
}

.chat_bubble .top {
    height: 20px;
}

.chat_bubble .bottom {
    height: 25px;
}

.chat_bubble  .middle  span {
    display: block;
    padding: 0 5px 0 5px;
}
.me .chat_bubble {
    float: right;
    margin-right: 47px;
}
.me .chat_bubble .top {
    background:url(../images/chat_me_top.jpg) no-repeat;
}

.me .chat_bubble .middle {
    background:url(../images/chat_me_middle.jpg) repeat-y;
}

.other .chat_bubble {
    float: left;
    margin-left: 47px;
}
.other .chat_bubble .top {
    background:url(../images/chat_other_top.jpg) no-repeat;
}

.other .chat_bubble .middle {
    background:url(../images/chat_other_middle.jpg) repeat-y;
}

.chat_messages .system {
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;

    width:256px;
    word-wrap:break-word;
    background-color:#FFBABA;
    float:left;
    margin: 0 0 5px 20px;
    padding: 5px;
}

#status_and_typing_area {
    position: absolute;
    bottom:0;
    width:100%;
}

#chatter_status {
    height:24px;
    background:url(../images/user_typing_bg.jpg) repeat-x left top;
    padding-left: 5px;
    font-size:13px;
    color:#666;
    line-height:24px;
    overflow: hidden;
}


.chat_name {
    color: #25426B;  /* JDate dark blue */
}

.chat_message .me {
    color : #993366; /* JDate red */
}

.profile_text {
    margin: 5px;
    float:left;
    font-size: 8px;
}
.chat_message .thumbnail {
    height: 37px;
    margin-left: 5px;
}

.chat_event {
    font-style: italic;
    font-size: 75%;
}

textarea {
    margin: 0 15px 0 5px;
    height: 50px;
    width: 65%;
    float:left;
    resize:none;
}

.type_bottom {
    background:url(../images/type_btm_bg.jpg) repeat-x left top #cacdcd;
    border-top:1px solid #a0a0a0;
    height:70px;
    padding-top:15px;
}

.send_button_container  {
    height:26px;
}

.send_button {
    padding:5px 10px;
    width: 50px;
    font-weight: bold;
    color: #fff;
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;

    /* BACKGROUND GRADIENT */
    background: #993366; /* Old browsers*/
    background: -moz-linear-gradient(top, #993366 0%, #771D4A 100%);  /*FF3.6+(/)*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #993366), color-stop(100%, #771D4A));  /*Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #993366 0%, #771D4A 100%); /* Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(top, #993366 0%, #771D4A 100%);  /* Opera 11.10+*/
    background: -ms-linear-gradient(top, #993366 0%, #771D4A 100%); /* IE10+*/
    background: linear-gradient(top, #993366 0%, #771D4A 100%);  /*W3C*/
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#993366', endColorstr='#771D4A', GradientType=0);     /* IE6-9 */
    border-radius: 7px;
    border: 1px solid #999;
}

.send_button:active {
    padding:5px 10px 4px 10px;
    margin: 1px 0 0 1px;
    width: 49px;
}
