@font-face {
    font-family: 'museoSlab';
    src: url('fonts/museo_slab_500-webfont.eot');
    src: url('fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_500-webfont.woff') format('woff'),
         url('fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_500-webfont.svg#museoSlab') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500';
    src: url('fonts/museosans_500-webfont.eot');
    src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_500-webfont.woff') format('woff'),
         url('fonts/museosans_500-webfont.ttf') format('truetype'),
         url('fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}


.ui-loader 
{
    display:none;
}

.one #header-logo, .two #header-logo, .three #header-logo 
{
    width: 125px;
}

.one a.logo img, .two a.logo img, .three a.logo img 
{
    width: 100%;
}


.one .ui-body-a, .one .ui-overlay-a {
    background: url("../Images/landing_image3.png") no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    border: 1px solid white;
    color: #333333;
    text-shadow: none;
    position: relative;
}

.one .ui-bar-a 
{
    background: none;
    border: none;
}

.one .ui-header
{
    position: absolute;
    right: 9%;
    top: 2%;
}

.one .ui-content 
{
    margin-top: 59%;
}

.one .m_landing .lp-content {
    padding: 0;
}

.one .m_landing .lp-content h2 {
    font-family: 'museoSlab';
    font-size: 21pt;
    font-weight: normal;
    margin: 0;
    color: #27436a;
    text-align: center;
}

.one .checkmarks 
{
    margin: 10px auto;
    width: 250px;
}

.one .checkmarks > li 
{
    width: 240px;
    background: url("../Images/bullet-blue.png") no-repeat left center;
    background-size: 10px;
    margin: 5px 0;
    padding: 0 0 0 20px;
    font-size: 12pt;
    color: #27436a;
    font-family: 'museo_sans500';
}

.one .checkmarks > li strong 
{
    font-family: 'museoSlab';
}

.one .ui-btn-right, .one .ui-btn-right:hover  {
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    width: 90%;
    color: #27436a;
    text-transform: uppercase;
    font-family: 'museo_sans500';
    font-weight: normal;
}

.one .ui-btn-right a 
{
    color: #27436a;
}

.one .ui-btn 
{
    background: url("../Images/button_pink.png") no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    border: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 300px !important;
    height: 66px;
    display: block; 
    margin: 0 auto;
    font-family: 'museo_sans500';
    font-weight: normal;
}
.one .ui-btn-inner 
{
    padding: 0;
    padding-top: 21px;
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: none;
    border: none;
    font-weight: normal;
}

/******************************************
               Splash Page B
*****************************************/

.two .ui-body-a, .two .ui-overlay-a {
    background: url("../Images/landing_image2.png")  no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    /*min-height: inherit !important;*/
    border: 1px solid black;
    color: #333333;
    text-shadow: none;
    position: relative;
}
.two .ui-bar-a 
{
    background: none;
    border: none;
}

.two .ui-header
{
    position: absolute;
    right: 9%;
    top: 2%;
}

.two .ui-content 
{
    margin-top: 59%;
}

.two .m_landing .lp-content {
    padding: 0;
}

.two .m_landing .lp-content h2 {
    font-family: 'museoSlab';
    font-size: 21pt;
    font-weight: normal;
    margin: 0 ;
    color: #fff;
    text-align: center;   
}

.two .checkmarks 
{
    margin: 10px auto;
    width: 250px;
}

.two .checkmarks > li 
{
    width: 240px;
    background: url("../Images/bullet-blue.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 10px;
    margin: 5px auto;
    padding: 0 0 0 20px;
    font-size: 12pt;
    color: #fff;
    font-family: 'museo_sans500';
}

.two .checkmarks > li strong 
{
    font-family: 'museoSlab';
}
.two .ui-btn-right, .two .ui-btn-right:hover {
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    width: 90%;
    color: #95b0cb;
    text-transform: uppercase;
    font-family: 'museo_sans500';
    font-weight: normal;
}
.two .ui-btn-right a 
{
    color: #fff;
}

.two .ui-btn 
{
    background: url("../Images/button_pink.png") no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    border: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 300px !important;
    height: 66px;
    display: block;
    margin: 0 auto;
       font-family: 'museo_sans500';
    font-weight: normal;
}
.two .ui-btn-inner 
{
    padding: 0;
    padding-top: 21px;
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: none;
    font-weight: normal;
    border: none;
}

/******************************************
               Splash Page C
*****************************************/

.three .ui-body-a, .three .ui-overlay-a {
    background: url("../Images/landing_image1.png")  no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: none;
    position: relative;
}
.three .ui-bar-a 
{
    background: none;
    border: none;
}

.three .ui-header
{
    position: absolute;
    right: 9%;
    top: 2%;
}

.three .ui-content 
{
    margin-top: 39%;
}

.three .m_landing .lp-content {
    width: 80%;
    padding: 0 5%;
    background: #96b1cc;
    border: 6px solid white;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.5);
}

.three .m_landing .lp-content h2 {
    font-family: 'museoSlab';
    font-size: 22pt;
    font-weight: normal;
    margin: 0 ;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    
}

.three .checkmarks 
{
    margin: 10px;
    width: 250px;
    text-transform: uppercase;
}

.three .checkmarks > li 
{
    width: 300px;
    background: url("../Images/bullet-white.png") no-repeat left center rgba(0, 0, 0, 0);
    background-size: 10px;
    margin: 5px auto;
    padding: 0 0 0 20px;
    font-size: 10pt;
    color: #fff;
    font-family: 'museo_sans500';
}

.three .checkmarks > li strong 
{
    font-family: 'museoSlab';
}
.three .checkmarks > li span.free 
{
    font-weight: bold;
}

.three .ui-btn-right, .three .ui-btn-right:hover {
    display: block;
    margin: 10px auto 20px auto;
    text-align: center;
    text-decoration: none;
    width: 90%;
    color: #a54e79;
    text-transform: uppercase;
    font-family: 'museo_sans500';
    font-weight: normal;
}
.three .ui-btn-right a 
{
    color: #fff;
}

.three .ui-btn 
{
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    width: 75% !important;
    height: 56px;
    display: block;
    margin: 20px auto;
    color: #a54e79;
    font-family: 'museo_sans500';
    font-weight: normal;
}
.three .ui-btn-inner 
{
    padding: 0;
    padding-top: 21px;
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: none;
    font-weight: normal;
    border: none;
}