﻿@charset "UTF-8";
*, *:before, *:after{
    box-sizing: border-box;
}
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body, html{
    height: 100%;
}
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
	color:#333333;
    background: #eaf0ee url(../Images/ui-stripes-diag.png) 0 0;
}
h1, h2, h3, h4, h5, h6{margin-bottom:.4em;color:#333}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;margin:0 0 .5em 8px;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
	font-size:.68em;
	font-weight:normal;
}
body a:link{
	font-weight:normal;
	text-decoration:none;
	color:#0172CB;
}
body a:visited{
	font-weight:normal;
	text-decoration:none;
	color:#0172CB;
}
body a:hover{
	font-weight:normal;
	text-decoration:underline;
	color:#0172CB;
}
body a:active{
	font-weight:normal;
	text-decoration:underline;
	color:#0172CB;
}
p{
	/*margin-bottom:.4em;*/
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
	border-top:1px dotted #CCCCCC;
	border-color:#CCCCCC;
}
	hr.hr-thin{
		width:98%;
	}
	hr.hr-vertical-spacer{
		margin:.5em 0;
	}
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
/* ++Base--classes -----*/
.serif{
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help{
	cursor:help;
    border-bottom:1px dotted #999999;
}
span.close{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
    color:#999999;
}
em.accent {
	font-style:normal;
	font-weight:bold;
	color:#936;
}
.selected em.accent {
	color:#d7a6bf;
}
.error{
	font-weight:normal;
    color:Red;
}
p.disclaimer{
	margin:1em 8px;
	padding:0;
	font-size:.92em;
	color:#666666;
}
ul.ul-arrow li{
	margin:0 0 .65em 0;
	padding:0 0 0 1em;
	background:url(../Images/bullet-arrow-blk-sm.gif) no-repeat 0 4px;	
}
span.remove-x{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
	color:#999999;
}
.semantic-html label{
	cursor:pointer;
}
.content-headline{
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0;
	padding:0 0.4em;
    background-color:#eceff2;
    border-bottom:1px dotted #CCCCCC;
    border-top:1px dotted #CCCCCC;
}
/* ++Base--Notifications/Errors -----*/
.notification{
	display:block;
	padding:1em;
	clear:both;
	font-weight:bold;
	margin:0 6px 0.5em 0;
    border:2px solid #999999;
    background-color:#f2f1df;
}
.notification.error{
    color:#F02E0C;
}
/* ++Base--Buttons -----*/
input, textarea, select{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size:1em;
	padding:.1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:pointer;
}
input[type="submit"], input[type="button"]{
	border:none;
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	background-color:#993366;
	color:White;
}.ie7 input[type="submit"], input[type="button"]{overflow:visible;}
h3 input[type="submit"], h3 input[type="button"]{
	font-size:.82em;
}
input[type="submit"].secondary, input[type="button"].secondary{
	padding:.4em 1em;
	border:1px solid #cccccc;
	background:#fff url(../Images/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}	.ie7 input[type="submit"].secondary, input[type="button"].secondary{padding:.3em 1em}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover{
	text-decoration:underline;
	display:inline-block;
	background-position:50% 47%;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover{
	text-decoration:underline;
	display:inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active{
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
    background-color:#993366;
    color:white;
}
a.link-primary:hover{
	text-decoration:underline;
	color:White;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active{
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
	border:1px solid #cccccc;
	background:#fff url(../Images/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
a.link-secondary:hover{
	text-decoration:underline;
    background-position:50% 47%;
    color:#936;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial ul, .editorial ul ul{
	margin-top:0em;
	margin-bottom:0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-left:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
/* ==Tools  -----*/
.border-gen {
	border:5px solid #ECEFF2;
	margin:.5em;
	padding:1em;
}
.wrapper{
	float:left;
	width:100%;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:left;display:inline;}
.float-outside{float:right;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:left;}
.text-outside{text-align:right;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.two-column{
	float:left;
	width:49.5%;
}
.three-column{
	float:left;
	width:33.3%;
}
.four-column{
	float:left;
	width:24%;
}
.image-text-pair a:hover{
	text-decoration:none;
}
.image-text-pair a span:hover{
	text-decoration:underline;
}	
.border-gen{
	margin:.5em;
	padding:1em;
}
.border-gen img{
	margin-right:.5em;
}
.border-gen img.border-gen-icon{
	margin:.5em .5em 0 0;
}
	.border-gen:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
.border-btm-dotted{
	display:block;
	margin:1em 0;
	padding-bottom:1em;
}
.border-top-dotted{
	margin:1em 0;
	padding-top:1em;
}
.rbox-style-clear, .rbox-style-gradient, .rbox-style-high{
    border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;
}
.rbox-style-clear, .rbox-style-gradient{
    border:4px solid #eceff2;
    background-color:white;
}
.rbox-style-high{
    border:4px solid #E6EFD4;
    background-color:#F2F7E8;
}
.rel-layer-container{
	position:relative;
	display:inline;
}
.rel-layer-div{
	position:absolute;
	left:0;
	top:2em;
	padding:8px;
	display:none;
	z-index:1000000;
	width:28em;
    background-color:white;
    border:1px solid #999999;
}
.rel-layer-div h2{
	width:100%;
	white-space:nowrap;
}
.list-of-benefits.rel-layer-div{
	width:556px;
}
/* ++Tools--sprites icons */
.spr-splash{
	display:inline-block;
	vertical-align:text-top;
	text-indent:-9999px;
	text-align:left;
}
a.spr-parent{
	vertical-align:text-top;
}
a.spr-parent:hover{
	text-decoration:none;
	cursor:pointer;
}

/* ==Structure  -----*/
#min-max-container{
	margin:0 auto;
	padding:0;
	width:800px;
    background-color:#eaf0ee;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.7);
}
#content-container{
	padding:0;
	margin:0 14px;
}

/* ==Components -----*/
/* ++Com--header -----*/
header{
	margin:0;
    background: url(../Images/ui-bg-header.gif) repeat-x 0 0;
    min-height: 85px;
}
header > h1{
	float:left;
    margin: 0;
    padding: 0;
}
header .logo{
    display: block;
	float: left;
    width: 275px;
    height: 80px;
}
header .logo img{
	padding: 40px 0 0 20px;
}
#header-login{
	float:right;
    margin:10px 10px 0 0;
    color:#0172CB;
}
#header-login a{
	color:white;
}

/* CSS3 */
/*
#header-login a{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}
#cta a, #cta input{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	border-top:1px solid #936;
	border-left:1px solid #936;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}*/
#content-main {
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	box-shadow:0 0 9px #333333;-moz-box-shadow:0 0 9px #333333;-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
}


/* Prompt for Switching to Mobile */
#linkToMobile {
    font: bold 24px Arial;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: underline;
    background-color:#936;
    background-image: -webkit-gradient(linear, 0 59, 0 0, color-stop(0.28, #521a36), to(#993366));
    background-image: -webkit-linear-gradient(90deg, #521a36 28%, #993366);
    background-image: -moz-linear-gradient(90deg, #521a36 28%, #993366);
    background-image: -o-linear-gradient(90deg, #521a36 28%, #993366);
    position: relative;
    width: 100%;
    z-index: 9999;
    top: 0;
    display:block;
}

#footer-mobile-nav {
    font-size: 30px;
}

/* Splash Page Styles */
.gradient{
    background: #ecf5fb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZjVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2NlZGZlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iI2MzZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWQ2ZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ecf5fb 0%, #cedfe9 90%, #c3d9e4 95%, #c1d6e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf5fb), color-stop(90%,#cedfe9), color-stop(95%,#c3d9e4), color-stop(100%,#c1d6e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ecf5fb 0%,#cedfe9 90%,#c3d9e4 95%,#c1d6e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ecf5fb 0%,#cedfe9 90%,#c3d9e4 95%,#c1d6e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ecf5fb 0%,#cedfe9 90%,#c3d9e4 95%,#c1d6e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ecf5fb 0%,#cedfe9 90%,#c3d9e4 95%,#c1d6e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf5fb', endColorstr='#c1d6e3',GradientType=0 ); /* IE6-8 */
}
.ie9 .gradient{
    filter: none;
}
hr.gradient{
    display:block;
    margin:0;
    height:20px;
    clear:both;
    border:none;
}
.marketing-header{
    position: relative;
    min-height:232px;
    background: #fff url(../Images/splash-mood.jpg) no-repeat 0 0;
}
.marketing-header .marketing-copy{
    position: absolute;
    top: 15px;
    left: 324px;
}
.marketing-copy h2{
    margin: 0;
    color: #1679b8;
    font: 29px "Trebuchet MS", Arial;
}
.marketing-copy h3{
    color: #ec5100;
    font: bold 13px Arial, Helvetica, sans-serif;
}
.marketing-copy ul{
    list-style-type: circle;
    list-style: inherit;
    margin: 1em 0 0 10em;
}
.marketing-copy li{
    line-height: 1.4em;
    font-size: 14px;
}
.marketing-copy #cta{
    margin: 10px 0 0 5em;
}

.marketing-body{
    line-height: 1.5em;
    border-bottom: 2em solid #fff;
}
.marketing-body > ul{
    width: 50%;
    float: left;
    padding: 1.5em;
}
.marketing-body > ul:nth-child(2){
    padding-left: 0;
}
.marketing-body > ul > li{
    margin: 0 0 1.25em 0;
}
.marketing-body h2{
    color:#f45311;
    font-size: 14px;
}
.marketing-body h3{
    text-transform: uppercase;
}

.success-story{
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5em;
}
.success-story > img{
    float: left;
    margin: 0 1em 0 0;
}

/* Footer */
footer{
    margin: 0;
    padding: 1.5em 0 0;
    text-align: center;
    font-size: 10px;
    background-color:#F7F9F8;
    border-top: 1px dotted #CCCCCC;
}
footer p, footer nav{
    margin: 0 0 1em;
}
footer nav li{
    display: inline-block;
}
footer nav a{
    padding: 0 .25em 0 .5em;
    border-left: 1px solid #3B4741;
}
footer nav li:first-child a{
    border:none;
}
footer nav a:link, footer nav a:visited{
    color: #3B4741;
}
footer .disclosure{
    font:bold 12px 'Arial Narrow', Arial, sans-serif;
}
footer .legal{
    margin: 0;
    padding: .5em 2em 2em;
    font-size: 11px;
    background-color:#d5ebee;
}
