﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GAMIframe.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.Advertising.GAMIframe" %>
<%@ Register TagPrefix="uc1" TagName="AdUnit" Src="../../../Framework/Ui/Advertising/AdUnit.ascx" %>
<div>
<uc1:AdUnit id="AdUnitDisplay" runat="server" Size="LeaderboardMemberProfileA" expandImageTokens="true" GAMAdSlot=""></uc1:AdUnit>
</div>