/* ++Com--Progress Bar */
.progress{
	.progress-label {
		font-weight:bold;
	}
	.progress-bar {
		width: 316px;
		background-color: #ffffff;
		@include background-image(linear-gradient(top, #ffffff 0%,#fcfcfc 50%,#ccc 100%));
		@include border-radius(5px);
		@include box-shadow(0px 0px 5px rgba(0,0,0,.5));
		border: 1px solid #aaa;
		padding: 5px;
		font-size: 1.75em;
		.bar {
			display: block;
			background-color: #f7f7f7;
			@include box-shadow(inset 1px 0px 3px  rgba(0,0,0,0.8));
		}
		.value {
			text-indent:-999em;
			display: block;
			position: relative;
			background-color: $c-progress-meter;
			background-image: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) 10px, transparent 10px, transparent 20px);
			background-image: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) 10px, transparent 10px, transparent 20px);
			background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) 10px, transparent 10px, transparent 20px);
			@include box-shadow(inset 1px 0px 3px  rgba(0,0,0,0.8));
			@include transition-property(width);
			@include transition-duration(.5s);

			&:before{
				display: block;
				position: absolute;
				content:" ";
				width: 100%;
				@include background-image(linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(255,255,255,.1) 38%,rgba(255,255,255,0) 38%,rgba(0,0,0,0.0) 100%));
				height: 1.75em;
				top: 0;
				left: 0;
			}
			.no-cssgradients & {
				background:url(#{$p-images}ui-progress-bar.gif) no-repeat 0 0;
			}
		}
	}
}