// Header
.ui-header{
    .m_landing &{
        .logo{
            background: url(#{$p-images}logo-color.png) no-repeat center center;
            background-size: 125px 42px;
            height: 42px;
            width: 125px;
        }
    }

    .m_reg &{
        h1.ir.ui-title {
            width: 40px;
            height: 28px;
            background: url(#{$p-images}logo-small.png) center center no-repeat;
            margin: 8px auto;
            text-indent: -999em;

            &.ui-title-linked{
                cursor: pointer;
            }
            @include hires() {
                @include background-size(40px 28px);
                background-image: url(#{$p-images}logo-small-hires.png);
            }
        }

        .ui-title {
            margin: 2px 50px 2px;
        }
    }
  
}

// Footer
//[data-role=footer] {
//  padding: 0 0 15px;
//  font-size: 12px;
//  font-weight: normal;
//  &.footer-single-link{
//    text-align: center;
//  }
  
//  .ui-bar-a { color: #aaaaaa; }
//  p { margin: 0 15px; }
//  [data-role="navbar"]{
//    border-bottom: 1px solid #D9D9D9;
//    .ui-btn-inner {
//        padding: .3em 8px .4em;
//        color: #666666;
//    }
//  }
//  .ui-navbar{
//    @include background-image(linear-gradient(#2C4B70, #0F3258));
//    .ui-grid-a{
//      .ui-block-a{
//        border-right:1px solid #ccc;
//      }
//      .ui-block-b{
//        border-left:1px solid #ccc;
//      }
//    }
//    .ui-btn{
//      display:block;
//      border-color:transparent;
//    }
//  }
//  .footer-links {
//    list-style: none;
//    padding: 0;
//    margin: 15px 15px 8px;
//      li { display: inline-block; margin: 0 1em 0 0; }
//      li:last-child { margin: 0; }
//  }
//  .bg-check {
//    font-weight: bold;
//    text-transform: uppercase;
//  }
//}


// Footer single link
[role=siteinfo] {
  padding: 12px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

// Content
.registration .ui-content {
  @include respond-to(tablets-and-above) {
    width: 694px;
    margin: 0 auto;
    overflow: hidden;
  }
}