.m_landing {
    .logo{
	     margin: .5em auto;
	     padding: 0;
    }
    .quote{
        color:#215987;
        font-size:0.8em;
    }
    > .ui-content { 
        padding: 8px 4px;
        text-align:center;
        background: url(#{$p-images}ui-bg-stripe.png) 0 0;
    }
    .lp-content {
        padding: 4px 30px 15px;
        background: #fff;
        border-radius: 4px;
        h2 {
            margin: 0 0 2px;
        }
    }
    [role=register-button]{
        font-size: 12px;
        text-transform: uppercase;
        max-width: 260px;
        strong {
            display: block;
            font-size: 18px;
            font-style: italic;
        }
        @include respond-to(handhelds) { max-width: inherit; }
        @include respond-to(wide-handhelds) { max-width: inherit; }
    }
}