﻿<script id="QAModAnswer" type="text/html">
    <div class="answer-profile clearfix">
        <div class="member-pic">
            <a href="{%=Member.ViewProfileURL %}">
            <img title="{%=spark.qanda.txtViewMyProfile %}" border="0px" class="profileImageHover" src="{%=Member.ThumbPhotos[0] %}" alt="{%=spark.qanda.txtViewMyProfile %}" style="height:70px;width:54px;">
            </a>
            {% if(Member.ColorCodeText) { %}
                 <div class="cc-pic-tag cc-pic-tag-sm cc-pic-{%=Member.ColorCodeText %}"><span>{%=Member.ColorCodeText %}</span></div>
            {% } %}            
        </div>
        <div class="answer-container">
            <div class="answer-body">
                <div class="member-answer">{%=Text %}</div>
            </div>
            <div class="member-info clearfix">
                <span class="member-info-cont"><span class="member-name"><a href="{%=Member.ViewProfileURL %}">{%=Member.UserNameEllipsed %}</a></span><span class="member-values">,
                {%=Member.Age %},
                {%=Member.Seeking %},
                {%=Member.DisplayLocation %}</span> &#9642; <span class="timestamp"> {%=TimeStamp %}</span></span>
                {% if(spark.qanda.IsCommentsEnabled) { %} 
                    <span class="answer-info"><label class="link-label" for="comment-{%=AnswerId%}-{%=Member.MemberID%}">{%=spark.qanda.txtCommentLabel %}</label>
                {% } %}
                {% if(spark.qanda.IsMemberLikeEnabled) { 
                    var likeTxt=(MemberLikeText && MemberLikeText=='like')?spark.qanda.txtLike:spark.qanda.txtUnLike;
                    var likeNum=(MemberLikes && MemberLikes.length > 0) ? spark.qanda.txtLikeNum.replace('{0}',MemberLikes.length):'';
                    likeTxt = likeTxt.replace('{0}',likeNum);
                %}
                    &#9642; <span onclick="spark.qanda.LikeAnswer(this,{%=spark.qanda.MemberId %},{%=AnswerId %},spark.qanda.likeOmniParams)">{%=likeTxt %}</span>
                {% } %}
                </span>
            </div>
            {% if(spark.qanda.IsCommentsEnabled) {  %}
                <div class="member-comment hide">
                    <h2>{%=spark.qanda.txtCommentAnswerHeading %}</h2>
	                <span class="close">{%=spark.qanda.txtCommentCloseBox %}</span>
	                <textarea id="comment-{%=AnswerId%}-{%=Member.MemberID%}" rows="2" cols="70" class="watermark"></textarea>
	                <input type="submit" id="{%=AnswerId%}-{%=Member.MemberID%}" name="sendComment" class="btn secondary commentSubmit" value="{%=spark.qanda.txtCommentSubmit %}" />
	            </div>
            {% } %}
        </div>
    </div>
</script>
