﻿<script id="QAModQuestion1" type="text/html">
<dt class="question">
	<span class="q">{%=spark.qanda.txtQuestionHeaderText %}</span> <a id="_ctl0__ctl6_MiniQuestionModule1_lnkQuestion" href="/Applications/QuestionAnswer/Question.aspx?questid={%=QuestionId %}">{%=QuestionText %}</a>
</dt>
<dd class="answer">
    <span class="a">{%=spark.qanda.txtAnswerHeaderText %}</span>
    <div id="answer-input" class="answer-input">
        <textarea name="_ctl0:_ctl6:MiniQuestionModule1:txtAnswer1:WatermarkTextBox1" rows="2" id="_ctl0__ctl6_MiniQuestionModule1_txtAnswer1_WatermarkTextBox1" class="filled" cols="20"></textarea>
        <div class="answer-links">
	        <a id="_ctl0__ctl6_MiniQuestionModule1_lnkSendToFriend" class="stf" href="/Applications/SendToFriend/SendToFriendQandA.aspx?questid={%=QuestionId %}">{%=spark.qanda.txtSendToFriend%}</a>
	        <a id="_ctl0__ctl6_MiniQuestionModule1_lnkNextQuestion" class="next" href="/Applications/Home/default.aspx">{%=spark.qanda.txtNextQuestion%}</a>
	        <input type="submit" name="_ctl0:_ctl6:MiniQuestionModule1:btnSubmitQuestion" value="{%=spark.qanda.txtAnswerButtonText %}" onclick="return spark.qanda.ValidateQAnswer('_ctl0__ctl6_MiniQuestionModule1_txtAnswer1_WatermarkTextBox1');" language="javascript" id="_ctl0__ctl6_MiniQuestionModule1_btnSubmitQuestion" class="btn secondary" />
        </div>
        <div class="notification error" style="display:none;" id="divAnswerError"><img border="0" src="{%=spark.qanda.txtAnswerErrorImageUrl%}" id="_ctl0__ctl6_MiniQuestionModule1_imgAnswerError">{%=spark.qanda.txtAnswerError%}</div>
	</div>
</dd>
<input type="hidden" name="_ctl0:_ctl6:MiniQuestionModule1:hidQuestionID" id="_ctl0__ctl6_MiniQuestionModule1_hidQuestionID" value="{%=QuestionId %}" />
<input type="hidden" name="hidQuestionUITemplate" value="true"/>
</script>
