body {direction:rtl;overflow:hidden;}
menu, ol, ul {padding:0 40px 0 0;}
#chatter_mini_profile,
.profile_text {float:right;}
#chatter_mini_profile .thumbnail {float:right;margin:5px 3px 0 0}
ul.hotlist_buttons {float:left;}
.chat_messages .other .profile,
.chat_messages .me .profile {text-align:left;}
.chat_messages .me .profile {left:0;right:auto;}
.chat_messages .other .profile {right:0;left:auto;}
#chatter_status {padding:0 6px 0 0;}
textarea {float:right;margin:0 5px 0 15px}
.send_button {float:right;}
.me .chat_bubble {float:left;margin-left:47px;}
.other .chat_bubble {float:right;margin-right:57px;}
.chat_bubble img.bottom {
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
