﻿<!DOCTYPE html>
<!-- webchat.blacksingles.com-->


<!--[if IE 8]> <html class="lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Chat</title>
    <link rel="shortcut icon" href="images/black_singles_favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="js/libs/flXHR/flXHR.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/libs/flXHR/jquery.flXHRproxy.js"></script>
    <script src='js/libs/jquery.ie.cors.js'></script>
    <script src='js/libs/strophe.js'></script>
    <script src='js/libs/plug-ins/strophe.xdomainrequest.js'></script>
    <script src='js/libs/mustache.js'></script>
    <script src="js/libs/jdm-plugins.min.js"></script>
    <script src='js/libs/jquery.blockUI.js'></script>
    <script src="js/spark.localization.js"></script>
    <script src="js/spark.localization.en-US.js"></script>
    <script src="js/spark.localization.en-GB.js"></script>
    <script src="js/spark.localization.he-IL.js"></script>
    <script src="js/spark.localization.fr-FR.js"></script>
    <script src="js/spark.utilities.js"></script>
    <script src="js/spark.config.js"></script>
    <script src="js/libs/s_code.js" type="text/javascript"></script>
    <script src="js/spark.API.restClient.js"></script>
    <script src='js/IM.js'></script>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/main.css'>
    <link rel='stylesheet' href='css/IM.css'>
</head>
<body>

<div id="chatter_mini_profile"></div>
<ul class="chat_messages">
</ul>
<div id="status_and_typing_area">
    <div id="chatter_status"></div>
    <div class="type_bottom clearfix">
        <textarea maxlength="500" class="chat_input"></textarea>
        <span class="send_button_container clearfix"><a class="send_button">Send</a></span>
    </div>
</div>

<script id="mini_profile_template" type="text/template" data-target-element="#chatter_mini_profile" >
    <a href="{{ profileLink }}" target="_blank" class="profilelink">
        <image class="thumbnail" src="{{ thumbnail }}" alt="" ></image>
    </a>
    <div class="profile_text">
        <a href="{{ profileLink }}" target="_blank" class="profilelink"><span class="username">{{ username }}</span></a>
        <span class="age">{{age}}</span><br/>
        <span class="gender_and_seeking">{{ genderAndSeeking }}</span><br/>
        <span class="location">{{ location }}</span>
    </div>
    <ul class="hotlist_buttons">
        <li><image id="favorite_symbol" src="images/icon_fave_off.png"></image><br/></li>
        <li><image id="block_symbol" src="images/icon_block_off.png"></image></li>
    </ul>
</script>

<script id="message_template" type="text/template" data-target-element=".chat_messages">
    <li class="chat_message other">
        <div class="bubble_and_profile clearfix">
            <div class="profile">
                <image class="thumbnail" src="{{ thumbnail }}" alt=""></image><br/>
                <span class="timestamp">{{ timestamp }}</span>
            </div>
            <div class="chat_bubble">
                <div class="top"></div>
                <div class="middle"><span>{{ chatText }}</span></div>
                <image class="bottom" src="images/chat_other_bottom.jpg"/>
            </div>
            <div class="clear"></div>
        </div>
    </li>
</script>

<script id="self_message_template" data-target-element=".chat_messages" type="text/template">
    <li class="chat_message me">
        <div class="bubble_and_profile clearfix">
            <div class="profile">
                <span class="timestamp">{{ timestamp }}</span>
            </div>
            <div class="chat_bubble">
                <div class="top"></div>
                <div class="middle"><span>{{ chatText }}</span></div>
                <image class="bottom" src="images/chat_me_bottom.jpg"/>
            </div>
            <div class="clear"></div>
        </div>
    </li>
</script>

<script id="chatter_status_template" type="text/template" data-target-element="#chatter_status">
    {{ userState }}
</script>

<script id="error_template" type="text/template" data-target-element="#error_container" >
    <div><span>{{ message }}</span></div>
</script>

<script id="system_template" type="text/template" data-target-element=".chat_messages" >
    <li class="chat_message system">
        <span class="chat_text">
            <strong>{{ chatText }}</strong>
        </span><br/><br/>
        <span>{{ username}} {{ timestamp }}</span>
    </li>
</script>
</body>

</html>

