﻿@{
    ViewBag.Title = "GetResponse";
}

<style>
    th, td {
        padding: 5px;
    }
</style>
<h2>@ViewBag.Response.FriendlyName</h2>
<table class="ui-widget">
<thead class="ui-widget-header">
    <tr>
        <th>Name</th>
        <th>Type</th>
    </tr>
</thead>
<tbody class="ui-widget-content">
@foreach (var keyValuePair in ViewBag.Response.KeyValuePairs)
{
    <tr>
        <td>
            @keyValuePair.Key
        </td>
        <td>
            @Html.Raw(keyValuePair.Value)
        </td>
    </tr>
} 
</tbody>
</table>
