<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="PhotoApprovedBase.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.PhotoApproved.PhotoApprovedBase" %>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">

MemberID: <asp:Label id="lblMemberID" runat="server" /><br />
BrandID: <asp:Label id="lblBrandID" runat="server" /><br />
PhotoID: <asp:Label id="lblPhotoID" runat="server" /><br />

		</form>
	</body>
</html>
