﻿.ui-body-c, .ui-overlay-c {
    border: 1px solid #aaa;
    color: #00578a;
    text-shadow: none;
    background: #eaedf1;
    background-image: none !important;
}

.ui-header h1.ir.ui-title {
    background: url(../Images/icon_logo_jd.png) center center no-repeat;
    width: 51px;
    height: 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2),
        only screen and ( min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi) {
        .ui-header h1.ir.ui-title {
            background: url(../Images/icon_logo_jd@2x.png) center center no-repeat;
            background-size: 51px 39px;
       }
}

a#loginBtn {
    border-radius: 17px;
    margin-top: 5px;
}
.ui-header .ui-btn-inner .ui-btn-text {
margin: 7px 14px;
}

.ui-content {
border-width: 0;
overflow: visible;
overflow-x: hidden;
padding: 0 15px 35px 15px;
}

.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d {
overflow: hidden;
margin-top: 20px;
}

.ui-bar-b {
border: 1px solid #25426b;
background: #00578a;
color: #fff;
font-weight: bold;
text-shadow: 0 1px 1px #444;
    background-image: none !important;
}

.ui-btn-up-b {
border: 1px solid #ffffff;
background: #00578a;
font-weight: bold;
color: #fff;
text-shadow: 0 -1px 1px #000;
background-image: none !important;
    display: block;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
font-size: 12.5px;
padding: 0;
height: 30px;
width: 49px;
margin: 0;
}



    .ui-field-contain .ui-controlgroup-label {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    margin: 18px 0 12px 0;
    font-family: helvetica, Arial,sans-serif;
    font-size: 14px;
    color: #516889;
    }

    .ui-field-contain .ui-controlgroup-controls {
    width: 100%;
    display: inline-block;
    }

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    border-width: 0;
    padding: 0;
    margin: 0;
}

.ui-corner-top {
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
border-top-left-radius: 0;
-moz-border-radius-topright: 0;
-webkit-border-top-right-radius: 0;
border-top-right-radius: 0;
}

.ui-corner-bottom {
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
}



.ui-btn-up-c {
    border: 2px solid #00578a;
    background: #eaedf1;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    color: #00578a !important;
    text-shadow: none;
    background-image: none !important;
}

.ui-btn-hover-c:hover {
    color: #fff;
    background: #516889;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none;
    border: 2px solid #516889;
     background-image: none !important;
} 

.ui-grid-a .ui-btn {
    margin: 0;
}

#stepControls .ui-block-a .ui-btn-up-c .ui-btn-inner {
    color: #ffffff !important;
     background: #516889;
}


.ui-grid-a > :nth-child(1) {
    width: 46%;
    margin-right: 4%;
}

.ui-grid-a .ui-block-b {
    width: 46%;
    margin-left: 4%;
}

.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
 position: absolute;
top: 0;
margin-top: 0px;
visibility: visible;
left: 0;
}

.ui-icon, .ui-icon-searchfield:after {
background: #666;
background: none;
 background-image: none;
background-repeat: no-repeat;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
}

.ui-btn-inner {
font-size: 16px;
padding: 0;
    height: auto;
min-width: .75em;
display: block;
position: relative;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
zoom: 1;
    padding-bottom: 10px;
}

.ui-btn-text {
position: relative;
    display: block;
z-index: 1;
margin-top: 10px;
width: 100%;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.ui-icon {
    width: 100%;
    height: auto;
    margin: 0;
}

label.ui-btn.ui-btn-icon-left.ui-radio-on.ui-btn-up-c, label.ui-btn.ui-btn-icon-left.ui-checkbox-on.ui-corner-top.ui-btn-up-c, label.ui-btn.ui-btn-icon-left.ui-checkbox-on.ui-btn-up-c{
    color: #ffffff !important;
       background: #516889;
}

.ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
padding-left: 30px;
}
.ui-checkbox .ui-btn-inner, .ui-radio .ui-btn-inner {
white-space: normal;
}
.ui-btn-icon-left .ui-btn-inner {
padding-left: 0px;
}

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
background-color: #516889;
}

.ui-checkbox .ui-icon {
    border-radius: 0;
}

.ui-btn-up-e, .ui-btn-hover-e {
    border: 1px solid #516889;
    background: #00578a;
    font-family: helvetica, Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: none;
    background-image: none !important;
    border-radius: 0px;
}

.ui-btn-inner {
border-top: none;
}

.ui-btn-corner-all {
    border-radius: 0;
}

.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: 1px solid #516889;
    min-height: 35px;
}

.ui-field-contain label.ui-input-text {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    margin: 18px 0 10px 0;
    color: #516889;
        font-family: helvetica, Arial,sans-serif;
    font-size: 14px;
}

.ui-shadow-inset, .ui-shadow, .ui-input-text.ui-focus {
-moz-box-shadow: none;
-webkit-box-shadow:none;
box-shadow: none;
}

.ui-btn {
    margin: 0;
}

.ui-header .ui-title {
margin: 2px 0 2px;
}

h2#regFlowTitle {
    background: #54a9d1;
    width: 10%;
    height: 26px;
    font-size: 1px;
    text-indent: -9999px;
}

.ui-bar-f {
    border: none;
    background: #bbb;
    height: 26px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
}

.ui-bar-e {
border: 1px solid #999;
    border-left: none;
    border-right: none;
background: #eaedf1;
color: #999;
 font-size: 7px;
    font-family: helvetica, arial, sans-serif;
font-weight: bold;
text-shadow: none;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
    background-image: none;
}

p.legal-copyright {
   
    font-size: 7px;
}

p.bg-check {
    font-size: 7px; 
}

.ui-body-c .ui-link {
color: #516889;
font-weight: bold;
}

.ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover {
color: #516889;
}

#formItem_newslettermask .ui-btn-inner, #formItem_termsandconditions .ui-btn-inner{
    height: 70px;
}

#formItem_newslettermask .ui-btn-hover-c:hover, #formItem_newslettermask label.ui-btn.ui-btn-icon-left.ui-checkbox-on.ui-btn-up-c,#formItem_termsandconditions .ui-btn-hover-c:hover, #formItem_termsandconditions .ui-checkbox-on .ui-icon, #formItem_termsandconditions .ui-btn.ui-btn-icon-left.ui-checkbox-on.ui-btn-up-c, #formItem_termsandconditions .ui-checkbox-on, #formItem_termsandconditions .ui-btn.ui-btn-icon-left.ui-checkbox-on.ui-btn-up-c {
    background: #eaedf1 !important;
    color: #516889 !important;
}

#formItem_termsandconditions .ui-checkbox-on .ui-icon, #formItem_termsandconditions .ui-radio-on .ui-icon, #formItem_termsandconditions .ui-icon .ui-icon-shadow .ui-icon-checkbox-on, #formItem_termsandconditions .ui-radio-on .ui-icon,
#formItem_newslettermask .ui-checkbox-on .ui-icon, #formItem_newslettermask .ui-radio-on .ui-icon, #formItem_newslettermask .ui-icon .ui-icon-shadow .ui-icon-checkbox-on, #formItem_newslettermask .ui-radio-on .ui-icon {
   background-color: rgba(0,0,0,0)!important;  
   color: #516889 !important;
}

#formItem_termsandconditions .ui-checkbox input, #formItem_termsandconditions .ui-radio input, #formItem_newslettermask .ui-checkbox input, #formItem_newslettermask .ui-radio input {
position: absolute;
left: 35px;
top: 42%;
width: 20px;
height: 20px;
margin: -5px 0 0 0;
outline: 0 !important;
z-index: 9999;
display: block;
}

#formItem_newslettermask .ui-btn-text, #formItem_termsandconditions .ui-btn-inner {
    width: 81%;
    margin-left: 40px;
}

.ui-icon-shadow {
-moz-box-shadow: none;
-webkit-box-shadow:none;
box-shadow:none;
}

.ui-icon-loading {
background: url(images/ajax-loader.gif) !important;
background-size: 46px 46px;
}

.bg-check {
    text-transform: uppercase;
}