﻿/*For the moment, this will serve to override the styles set in other files. Compare the utility to what we would do in bootstrap site.css*/

.sprite-imgs-sprite, .sprite-imgs-confirmation-browse, .sprite-imgs-confirmation-intro, .sprite-imgs-confirmation-sub {
    background-image: url("../../RegContent/Images/icon_couple-01.png");
    background-repeat: no-repeat;
}


.m_landing .ui-header .logo {
background: url(../Images/Mobile/logo-color.png) no-repeat center center;
background-size: 125px 42px;
height: 42px;
width: 125px;
}

.main {
    padding-top:180px !important;
    /*min-height:150px;*/
}

.superscript {
    font-size: 0.6em;
    position: relative;
    top: -0.7em;
}