﻿/*This style sheet is the exact same style sheet that is used on jdate.com splash page. The 
    The reason why I copied it here was because the business wanted a splash page for ldddso reg site
    that was the same width and everything as jdate's splash. This way, i can simply copy over the jdate.com reg site's splash
    VIEW and then do minor modifications to make it look similar ot jdate, but with LDSSO styling. 
*/

@charset "UTF-8";
/* ==Reset - YUI 2 reset (modified)  -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym,span{
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* ==Base -----*/
body{
	font:0.75em/1.333 Arial, Helvetica Neue, Helvetica, sans-serif;
	color:#333333;
	background-color:white;
}
h1, h2, h3, h4, h5, h6{margin-bottom:.4em;color:#333}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:2em;font-weight:normal;font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;margin:0 0 .5em 8px;}
h2{font-size:1.3em;}
h3, h4, h5, h6{font-size:1em;}
h2 .heading-sub-copy{
	font-size:.68em;
	font-weight:normal;
}
body a:link{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#993366;
}
body a:hover{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
body a:active{
	font-weight:bold;
	text-decoration:underline;
	color:#993366;
}
p{
	/*margin-bottom:.4em;*/
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
img{
	vertical-align:middle;
}
sup{
	vertical-align:top;
	margin:0 .1em;
}
hr{
	clear:both;
	border:0;
	width:100%;
	height:1px;
	border-top:1px dotted #CCCCCC;
	border-color:#CCCCCC;
}
	hr.hr-thin{
		width:98%;
	}
	hr.hr-vertical-spacer{
		margin:.5em 0;
	}
input[type="radio"], input[type="checkbox"]{
    margin:3px;
}.ie7 input[type="radio"], .ie7 input[type="checkbox"]{margin:0;}
/* ++Base--classes -----*/
.serif{
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.sans-serif{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
span.help{
	cursor:help;
    cursor:help;
    border-bottom:1px dotted #999999;
}
span.close{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
    color:#999999;
}
em.accent {
	font-style:normal;
	font-weight:bold;
	color:#936;
}
.selected em.accent {
	color:#d7a6bf;
}
.error{
	font-weight:normal;
    color:Red;
}
p.disclaimer{
	margin:1em 8px;
	padding:0;
	font-size:.92em;
	color:#666666;
}
ul.ul-arrow li{
	margin:0 0 .65em 0;
	padding:0 0 0 1em;
	background:url(../Images/bullet-arrow-blk-sm.gif) no-repeat 0 4px;	
}
span.remove-x{
	font-size:1.08em;
	font-weight:bold;
	font-family:Verdana;
	color:#999999;
}
.semantic-html label{
	cursor:pointer;
}
.content-headline{
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0;
	padding:0 0.4em;
    background-color:#E8F0D7;
    border-bottom:1px dotted #CCCCCC;
    border-top:1px dotted #CCCCCC;
}
.content-headline {background-color:#eceff2;}
/* ++Base--Notifications/Errors -----*/
.notification{
	display:block;
	padding:1em;
	clear:both;
	font-weight:bold;
	margin:0 6px 0.5em 0;
    border:2px solid #999999;
    background-color:#f2f1df;
}
.notification.error{
    color:#F02E0C;
}
/* ++Base--Buttons -----*/
input, textarea, select{
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size:1em;
	padding:.1em;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:pointer;
}
input[type="submit"], input[type="button"]{
	border:none;
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	background-color:#993366;
	color:White;
}.ie7 input[type="submit"], input[type="button"]{overflow:visible;}
h3 input[type="submit"], h3 input[type="button"]{
	font-size:.82em;
}
input[type="submit"].secondary, input[type="button"].secondary{
	padding:.4em 1em;
	border:1px solid #cccccc;
	background:#fff url(../Images/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}	.ie7 input[type="submit"].secondary, input[type="button"].secondary{padding:.3em 1em}
input[type="submit"].secondary:hover, input[type="button"].secondary:hover{
	text-decoration:underline;
	display:inline-block;
	background-position:50% 47%;
}
input[type="submit"].primary:hover, input[type="button"].primary:hover{
	text-decoration:underline;
	display:inline-block;
}
a.link-primary:link, a.link-primary:visited, a.link-primary:active{
	font-weight:bold;
	font-size:.92em;
	cursor:pointer;
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
    background-color:#993366;
    color:white;
}
a.link-primary:hover{
	text-decoration:underline;
	color:White;
}
a.link-secondary:link, a.link-secondary:visited, a.link-secondary:active{
	padding:.4em 1em;
	display:inline-block;
	text-decoration:none;
	line-height:1.4em;
	border:1px solid #cccccc;
	background:#fff url(../Images/btn-secondary-bg.png) repeat-x 50% 50%;
	color:#936;
}
a.link-secondary:hover{
	text-decoration:underline;
    background-position:50% 47%;
    color:#936;
}
/* ++Base--Editorial styles */
ol.editorial, .editorial ol{
	list-style-type:decimal;
	margin:1em 24px;
	border:none;
}
ul.editorial, .editorial ul{
	list-style-type:disc;
	margin:1em 0em;
	border:none;
}
ul.editorial ul, .editorial ul ul{
	margin-top:0em;
	margin-bottom:0em;
	border:none;
}
ul.editorial li, .editorial ul li{
	margin-left:24px;
	border:none;
}
p.editorial, .editorial p{
	margin-bottom:1em;
}
blockquote.editorial, .editorial blockquote{
	margin:1em 3em;
}
dl.editorial, .editorial dl{
	margin-bottom:1em;
}
dl.editorial dt, .editorial dl dt{
	font-weight:bold;
}
/* ==Tools  -----*/
.border-gen {
	border:5px solid #ECEFF2;
	margin:.5em;
	padding:1em;
}
.wrapper{
	float:left;
	width:100%;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:left;display:inline;}
.float-outside{float:right;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:left;}
.text-outside{text-align:right;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.two-column{
	float:left;
	width:49.5%;
}
.three-column{
	float:left;
	width:33.3%;
}
.four-column{
	float:left;
	width:24%;
}
.image-text-pair a:hover{
	text-decoration:none;
}
.image-text-pair a span:hover{
	text-decoration:underline;
}	
.border-gen{
	margin:.5em;
	padding:1em;
}
.border-gen img{
	margin-right:.5em;
}
.border-gen img.border-gen-icon{
	margin:.5em .5em 0 0;
}
	.border-gen:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
.border-btm-dotted{
	display:block;
	margin:1em 0;
	padding-bottom:1em;
}
.border-top-dotted{
	margin:1em 0;
	padding-top:1em;
}
.rbox-style-clear, .rbox-style-gradient, .rbox-style-high{
    border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;
}
.rbox-style-clear, .rbox-style-gradient{
    border:4px solid #eceff2;
    background-color:white;
}
.rbox-style-high{
    border:4px solid #E6EFD4;
    background-color:#F2F7E8;
}
.rel-layer-container{
	position:relative;
	display:inline;
}.ie7 .rel-layer-container .rel-layer-div p{width:100%;}
.rel-layer-div{
	position:absolute;
	left:0;
	top:2em;
	padding:8px;
	display:none;
	z-index:1000000;
	width:28em;
    background-color:white;
    border:1px solid #999999;
}
.rel-layer-div h2{
	width:100%;
	white-space:nowrap;
}
.list-of-benefits.rel-layer-div{
	width:556px;
}
/* ++Tools--sprites icons */
.spr-splash{
	display:inline-block;
	vertical-align:text-top;
	text-indent:-9999px;
	text-align:left;
}
/* IE6 */
.ie7 .spr-splash{text-indent:0;}
.ie7 .spr-splash span{text-indent:0;display:none;}
a.spr-parent{
	vertical-align:text-top;
}
a.spr-parent:hover{
	text-decoration:none;
	cursor:pointer;
}

/* ==Structure  -----*/
#min-max-container{
	margin:0 auto;
	padding:0 6px;
	width:974px;
}
#content-main{
	padding:12px;
	margin:8px;
	background-color:#96b1cc;
}

/* ==Components -----*/
/* ++Com--header -----*/
#header{
	margin:12px 0 6px;
}
#header-logo{
	float:left;
	width:686px;
}
#header-logo p {
	padding-top:12px;
}
#header-logo .header-message a.logo{
	float:left;
	margin-right:8px;
	top:-12px;
	position:relative;
}
#header-login{
	float:left;
	width: 245px;
    margin-left: 43px;
}
#header-login a{
	display:inline-block;
	padding:10px 14px;
	margin:4px;
	background-color: #88362e;
	color:white;
	text-align:center;
	font-size:15px;
	
}
#header-login a.join, #header-login span
{
    border-radius: 0px;
    background: none;
    color: #88362e;
    font-size: 15px;
    margin-right: 5px;
    padding: 10px 0;
}
#header-nav{
	float:left;
	margin:3px 8px 0 0;
	width:400px;
}
#header-nav li{
	display:inline-block;
	text-align:right;
	vertical-align:middle;
}
#header-nav li a{
	font-weight:normal;
	font-size:13px;
}
#header-nav li.header-nav-filler{
	padding-top:0.67em;
}
#medialogo{
    margin-top:28px;
}
#medialogo big{
    font-size:12px;
    font-weight:bold;
    text-align: center;
    display:block;
}
#footer{
	clear:both;
	margin:0 auto 0;
	padding:0 12px;
	background-color:#4596be;
	color:#fff;/*#96b1cc;*/
}
#footer-content{
	width:78em;
	margin:0 auto;
	padding:1em 0;
	background-color:#4596be;
}
#footer ul{
	margin-bottom:1em;
	margin-bottom:1em;
}
#footer ul.nav-footer:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}.ie7 #footer ul.nav-footer{height:1%}
#footer ul.nav-footer li{
	float:left;
	padding-right:.2em;
	white-space:nowrap;
}
#footer .legal-copyright{
	margin-bottom:0;
}
#footer .legal-background-checks{
	text-transform:uppercase;
	font-weight:bold;
	margin-top:.2em;
}
#footer a:link, #footer a:visited, #footer a:active, #footer-narrow a:link, #footer-narrow a:visited, #footer-narrow a:active{
	font-weight:normal;
	color:#96b1cc;
}
#footer a:hover{
	color:#fff;
}
#footer #footer-links-main{
	width:80%;
	margin:0 auto;
	text-align:center;
}
#footer #footer-links-main .footer-group-title{
	font-size:20px;
    margin-bottom:5px;
}


#marketing-wrap{
	float:left;
	padding:4px;
	position:relative;
	text-align:left;
	width:374px;
}
ul#splash-bullets{
	display:block;
	float:left;
	margin:0 0 20px 12px;
	padding:0 10px 0 0;
	width:350px; 
}
ul#splash-bullets li {
	padding:0 0 5px 23px;
	font-size:16px;
	font-weight:bold;
	background:url(../Images/splash_checkmark.png) no-repeat top left;
	color:#264061;
}

#marketing-wrap big{
	display:block;
	font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size:3.33em;
	line-height:.95em;
	margin:12px 0 18px;
	text-align:center;
}
#marketing-wrap big span{
	color:#fff;
}
#marketing-wrap big em { display:block;font-size:.53em;font-style:normal;}

#marketing-wrap #cta{
	text-align:center;
	clear:both;
}
#marketing-wrap #cta .link-primary, #marketing-wrap #cta .primary{
	font-size:16px;
	padding:12px;
}
#vis-info{
	padding:12px 1.5em 0;
	color:#666;
} 
#vis-info h1{
	margin-left:0;
}
#vis-info h2{
	margin-bottom:.5em;
	font:2em Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
#vis-info h2 sup{
	font-size:.45em;
	margin-left:-.75em
}

/* img rotator */
#rotator{
	position:relative;
	width:536px;
	height:296px;
	float:left;
	margin-right:1em;
}
#img_contents{
	width:536px;
	height:296px;
	overflow:hidden;
	position:relative;	
}
#img_contents a, 
#fw_Content a:link, 
#img_contents a:visited, 
#img_contents a:hover, 
#img_contents:active{
	border:none;
}
#img_contents img{
	width:536px;
	height:296px;
	border:none;
	position:absolute;
	top:0;
}
#img_controls{
	position:absolute;
	left:0px;
	bottom:0px;
	width:120px;
	height:26px;
	margin:5px;
	display:block;
	z-index:100;
}
#img_controls a{
	float:left;
	width:30px;
	height:24px;
	padding-top:6px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#img_controls ul li, #img_contents ul li{
	list-style-type:none;
}.ie7 #img_controls ul li, .ie7 #img_contents ul li{display:inline;}
#img_controls{
	background-color:#96b1cc;
}
#img_controls a{
	color:#202e42; 
}
#img_controls a.activeSlide, #img_controls a:hover{
	color:#fff; 
	background-position:0 -30px;
	background-color:#202e42;
}

/* CSS3 */
#header-login a{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}
#cta a, #cta input{
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	border-top:1px solid #936;
	border-left:1px solid #936;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}
#content-main {
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	box-shadow:0 0 9px #333333;-moz-box-shadow:0 0 9px #333333;-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
}














#container {
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
	box-shadow:0 0 9px #333333;-moz-box-shadow:0 0 9px #333333;-webkit-box-shadow:0 0 9px #333333;
	border:2px solid white;
	background-color:#96b1cc;
	display: block;
	width:995px;
	margin:0 auto;
	padding:8px;
	background:#96b1cc url(../Images/ajax-loader-96B1CC.gif) no-repeat 40px 40px;
}
#content-container{
    background-color:#f7f7f7;
    border:1px solid #eaeaea;
    border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
    margin-top:1em;
}
#container-members{display:block;padding:0;position: relative;}
#footer-content{width:976px;min-height:134px;}
.couple-callout{
	display:none;
	padding:4px;
	border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
	-webkit-box-shadow:0 1px 6px rgba(0,0,0,.7); -moz-box-shadow:0 1px 6px rgba(0,0,0,.7); box-shadow:0 1px 6px rgba(0,0,0,.7);
	border:3px solid #96b1cc;
	background-color:#ffffff;
	position:absolute;
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	z-index:200;
}
.marketing-container{
	display:block;
	width:408px;
	background-color:#96b1cc;
	z-index:100;
	position:absolute;
	margin:74px 0px 0px 462px;
	padding:6px;
}
.marketing-content, .marketing-content-gc {display:block;border:1px solid #ffffff;overflow:hidden;}



#couples{
	width:995px;
	height:483px;
    background-image:url(../Images/splash-collage-couples-grid.jpg);
    margin:0;
    padding:0;
    position:relative;
}
#couples li{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	position:absolute;
}
#couples a{display:block;cursor:arrow;}
#couple1{left:8px;top:8px;width:213px;height:144px;}
#couple2{left:229px;top:8px;width:110px;height:69px;}
#couple3{left:346px;top:8px;width:109px;height:159px;}
#couple4{left:462px;top:8px;width:296px;height:80px;}
#couple5{left:765px;top:8px;width:117px;height:117px;}
#couple6{left:890px;top:8px;width:97px;height:273px;}
#couple7{left:229px;top:84px;width:109px;height:110px;}
#couple8{left:462px;top:95px;width:295px;height:112px;}
#couple9{left:8px;top:160px;width:121px;height:121px;}
#couple10{left:136px;top:160px;width:86px;height:121px;}
#couple11{left:229px;top:202px;width:110px;height:80px;}
#couple12{left:346px;top:174px;width:108px;height:108px;}
#couple13{left:504px;top:289px;width:110px;height:186px;}
#couple14{left:622px;top:289px;width:141px;height:93px;}
#couple15{left:771px;top:289px;width:216px;height:186px;}
#couple16{left:8px;top:390px;width:96px;height:85px;}
#couple17{left:109px;top:390px;width:91px;height:85px;}
#couple18{left:208px;top:390px;width:228px;height:85px;}
#couple19{left:444px;top:390px;width:52px;height:85px;}
#couple20{left:622px;top:390px;width:141px;height:85px;}
#couple1 a{height:144px;}
#couple2 a{height:69px;}
#couple3 a{height:159px;}
#couple4 a{height:80px;}
#couple5 a{height:117px;}
#couple6 a{height:273px;}
#couple7 a{height:110px;}
#couple8 a{height:112px;}
#couple9 a{height:121px;}
#couple10 a{height:121px;}
#couple11 a{height:80px;}
#couple12 a{height:108px;}
#couple13 a{height:186px;}
#couple14 a{height:93px;}
#couple15 a{height:186px;}
#couple16 a{height:85px;}
#couple17 a{height:85px;}
#couple18 a{height:85px;}
#couple19 a{height:85px;}
#couple20 a{height:85px;}
#couple1 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -8px -491px no-repeat;}
#couple2 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -229px -491px no-repeat;}
#couple3 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -346px -491px no-repeat;}
#couple4 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -462px -491px no-repeat;}
#couple5 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -765px -491px no-repeat;}
#couple6 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -890px -491px no-repeat;}
#couple7 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -229px -567px no-repeat;}
#couple8 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -462px -578px no-repeat;}
#couple9 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -8px -643px no-repeat;}
#couple10 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -136px -643px no-repeat;}
#couple11 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -229px -685px no-repeat;}
#couple12 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -346px -657px no-repeat;}
#couple13 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -504px -772px no-repeat;}
#couple14 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -622px -772px no-repeat;}
#couple15 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -771px -772px no-repeat;}
#couple16 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -8px -873px no-repeat;}
#couple17 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -109px -873px no-repeat;}
#couple18 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -208px -873px no-repeat;}
#couple19 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -444px -873px no-repeat;}
#couple20 a:hover{background:url(../Images/splash-collage-couples-grid.jpg) -622px -873px no-repeat;}
#mediaLogosHalfWidth{float:left;width:470px;}
#splash-ourstories {
    position: relative;
    top: 287px;
    left: 8px;
    float: left;
    z-index: 1;
}
#jdvideo{
    float:left;
    width:520px;
    background:transparent url(../Images/splash-video-bg.jpg) no-repeat 0 -10px;
    min-height:121px;
    padding-left: 20px;
}
#jdvideo > a > .video-icon {
    width: 101px;
    height: 82px;
    margin-right: 20px;
    float: left;
}
#jdvideo > .text-title {
    font: normal normal bold 11px/13px arial,'helvetica neue',helvetica,sans-serif;
    color: #333;
}
#jdvideo > .text-body {
    margin-top: 33px;
    font: normal normal normal 11px/21px arial,'helvetica neue',helvetica,sans-serif;
}
#footernew{border-bottom:4px solid #e2e2e2;margin-bottom:18px;}
#footernew big{
    font-size:16px;
    color:#25426b;
    font-family:Georgia, Serif;
    margin-bottom:10px;
    display:block;
}
#jd-links{
    width:340px;
    float:left;
    background-color:#f7f7f7;
    margin-bottom:1em;
    margin-right:40px;
}
.linklist{width:148px;margin-right:22px;float:left;}
.linklist > li{display:block;border-bottom:1px dotted #ccc;}
.linklist > li > a:link,.linklist > li > a:active,.linklist > li > a:visited{
    color:#333;
    font-weight:normal;
    display:block;
    padding:3px;
}
.linklist > li > a:hover{background-color:#ededed;}
#sn-links{
    width:394px;
    float:left;
    background-color:#f7f9f7;
    margin-bottom:1em;    
}
#footernewfooter{clear:both;margin-bottom:12px;}
#footernewfooter .legal-copyright{
    color:#999;
    font-size:11px;
}
#footernewfooter .legal-copyright a{color:#999;font-size:11px;}
/* Prompt for Switching to Mobile */
#linkToMobile {
    font: bold 24px Arial;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: underline;
    background-color:#936;
    background-image: -webkit-gradient(linear, 0 59, 0 0, color-stop(0.28, #521a36), to(#993366));
    background-image: -webkit-linear-gradient(90deg, #521a36 28%, #993366);
    background-image: -moz-linear-gradient(90deg, #521a36 28%, #993366);
    background-image: -o-linear-gradient(90deg, #521a36 28%, #993366);
    position: relative;
    width: 100%;
    z-index: 9999;
    top: 0;
    display:block;
}

#footer-mobile-nav {
    font-size: 30px;
}



/* Get Chosen Splash Page Styles */

#min-max-container.gc 
{
    width: 1010px;
    }

#header.gc #header-logo 
{
    width: 725px;
}

#header.gc p.header-message 
{
    font-weight: bold;
    padding-top: 34px;
    padding-left: 200px;
}

#header.gc #header-nav {
    margin:0;
    margin-left: 20px;
}

#header.gc #header-login 
{
    float: left;
    margin-top: 27px;
    margin-left: 40px;
}

.marketing-container-gc 
{
    display:block;
	width:408px;
	border: #98b0ca solid 5px;
	border-radius: 10px;
	background-color:#ffffff;
	z-index:100;
	position:absolute;
	bottom: 47px;
	right: 47px;
	padding:15px 6px 0; 
	text-align:center; 
}
.marketing-container-gc #marketing-wrap 
{
    text-align: center;
margin: 0 auto;
display: block;
width: 395px;
font-size: 15px;
}
.marketing-container-gc #marketing-wrap p 
{
    padding: 0 30px;
    line-height: 25px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
}

.marketing-container-gc #cta a
{
    border:none;
}

.marketing-container-gc #cta img 
{
    margin: 10px 0;
}

.marketing-container-gc h3 
{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.marketing-container-gc h2 
{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

#container.gc {
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
box-shadow: 0 0 9px #333333;
-moz-box-shadow: 0 0 9px #333333;
-webkit-box-shadow: 0 0 9px #333333;
border: none;
background-color: #fff;
display: block;
width: 1070px;
margin: 0 auto;
padding: 0;
background: none;
}

#couples-gc
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:520px;
    background-image:url(../Images/bg-main-resized.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#bagels-lox
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/bagels_lox_BG.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#birthright
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/birthright_BG.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#3friends
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/3friends_BG.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#SPTest_Matzo
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/matzo.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#SPTest_Bowls
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/Matzo_Red_Bowls_BG.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}


#SPTest_Camp
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	width:1070px;
	height:588px;
    background-image:url(../Images/summer_camp.jpg);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position:relative;
}

#marketing-wrap a {
    border-radius: 6px;
}
#marketing-wrap a {
    background-color: #88362e;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    padding: 10px 14px;
    text-align: center;
}

