﻿ <style>
        #mobile_header_img {
            display: none;
        }

        /*! normalize.css v3.0.1 | MIT License | git.io/normalize */
        html {
            font-family: sans-serif; /* 1 */
            -ms-text-size-adjust: 100%; /* 2 */
            -webkit-text-size-adjust: 100%; /* 2 */
        }

        body {
            margin: 0;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
            display: block;
        }

        audio,
        canvas,
        progress,
        video {
            display: inline-block; /* 1 */
            vertical-align: baseline; /* 2 */
        }

            audio:not([controls]) {
                display: none;
                height: 0;
            }

        [hidden], template {
            display: none;
        }

        a {
            background: transparent;
        }

            a:active, a:hover {
                outline: 0;
            }

        abbr[title] {
            border-bottom: 1px dotted;
        }

        b, strong {
            font-weight: bold;
        }

        dfn {
            font-style: italic;
        }

        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        mark {
            background: #ff0;
            color: #000;
        }

        small {
            font-size: 80%;
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sup {
            top: -0.5em;
        }

        sub {
            bottom: -0.25em;
        }

        img {
            border: 0;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        figure {
            margin: 1em 40px;
        }

        hr {
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            height: 0;
        }

        pre {
            overflow: auto;
        }

        code, kbd, pre, samp {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            color: inherit; /* 1 */
            font: inherit; /* 2 */
            margin: 0; /* 3 */
        }

        button {
            overflow: visible;
        }

        button, select {
            text-transform: none;
        }

        button,
        html input[type="button"], /* 1 */
        input[type="reset"],
        input[type="submit"] {
            -webkit-appearance: button; /* 2 */
            cursor: pointer; /* 3 */
        }

            button[disabled], html input[disabled] {
                cursor: default;
            }

            button::-moz-focus-inner, input::-moz-focus-inner {
                border: 0;
                padding: 0;
            }

        input {
            line-height: normal;
        }

            input[type="checkbox"],
            input[type="radio"] {
                box-sizing: border-box; /* 1 */
                padding: 0; /* 2 */
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                height: auto;
            }

            input[type="search"] {
                -webkit-appearance: textfield; /* 1 */
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box; /* 2 */
                box-sizing: content-box;
            }

                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-decoration {
                    -webkit-appearance: none;
                }

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: 0.35em 0.625em 0.75em;
        }

        legend {
            border: 0; /* 1 */
            padding: 0; /* 2 */
        }

        textarea {
            overflow: auto;
        }

        optgroup {
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td, th {
            padding: 0;
        }


        @font-face {
            font-family: font-family: "Myriad Pro", "PT Sans", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
            font-weight: normal;
            font-style: normal;
        }

        body {
            background: #301716;
            font: 12px Arial, Helvetica, sans-serif;
        }

        #container {
            width: 100%;
            background: #000 url(/RegContent/Images/Splash-03-bg.jpg) left top no-repeat;
            background-size: 100%;
            margin-top: 92px;
        }

        #container, a, span, a:link, a:visited, p {
            color: white;
        }

        /*********************
                    *
                    *
                    ****header area*******
                    *
                    *
                    *********************/

        .header_white_space {
            width: 100%;
            text-align: center;
            background: white;
            border-bottom: 2px solid goldenrod;
            position: absolute;
            top: 0px;
        }

        .header_wrapper {
            max-width: 1900px;
            margin: auto;
            position: relative;
        }

        .hgroup h2 {
            display: none;
        }

        #login li {
            display: inline;
            padding: 0 8px;
        }

        #login .register {
            border-right: 1px solid #105388;
        }

        #login a {
            color: #105388;
        }

        #login {
            font-weight: bold;
            position: absolute;
            top: 40px;
            right: 60px;
        }
        /*********************
                    *
                    *
                    ***********main*******
                    *
                    *
                    *********************/

        #main {
            background: none;
            max-width: 1900px;
            height: 476px;
            margin: auto;
            position: relative;
        }

        #cta.search {
            background: rgba(255,255,255, 0.6);
            text-align: center;
            width: 310px;
            height: 360px;
            margin: 0;
            color: black;
            position: absolute;
            top: 24px;
            right: 8%;
        }

            #cta.search h3 {
                font-family: "Myriad Pro", "PT Sans", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
                font-size: 28px;
                color: #105388;
                font-weight: normal;
                margin-top: 20px;
            }

        #cta {
            border: none;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            float: right;
            margin: 74px 12px 0 0;
        }

            #cta form fieldset {
                /*margin-left: -20px;*/
            }

                #cta form fieldset dl dt {
                    display: none;
                }

            #cta select, #cta input {
                width: 100%;
                height: 36px;
                margin: 15px 0 15px 0;
                font-size: 16px;
                border: none;
            }

            #cta form fieldset dl dd input {
                text-indent: 10px;
            }

            #cta dd {
                float: none;
            }

            #cta form fieldset dl dd {
                width: 236px;
                margin-start: 0;
                -moz-margin-start: 0;
                -webkit-margin-start: 0;
                -ms-margin-start: 0;
                margin-left: 0;
                overflow: hidden;
                padding-left: 35px;
            }

                #cta form fieldset dl dd select {
                    border: 0px none !important;
                    padding-left: 10px;
                    margin: 0;
                    display: inline-block;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none !important;
                    width: 100%px;
                    background: white url(/images/select_arrow.png) 96% no-repeat;
                }

                    #cta form fieldset dl dd select::-ms-expand {
                        display: none;
                    }

                #cta form fieldset dl dd span.note {
                    display: none;
                }

            #cta #submit {
                width: 240px;
                height: 48px;
                margin: auto;
                /*position: relative;
                        right: -18px;*/
                color: #ffffff;
                font: 18px Arial, "Times New Roman", Times, sans-serif;
                line-height: 40px;
                border: 2px solid #ffffff;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                -webkit-box-shadow: 3px 3px 5px #999999;
                -moz-box-shadow: 3px 3px 5px #999999;
                box-shadow: 3px 3px 5px #999999;
                background: goldenrod;
                background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(181,131,43)), color-stop(0.72, rgb(204,144,42)), color-stop(1, rgb(255,220,113)));
                background: -moz-linear-gradient(center bottom, rgb(193,93,0) 0%, rgb(237,159,0) 72%, rgb(249,207,131) 100%);
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
            }

            #cta dl {
                /*margin: 6px 40px;*/
                margin: 6px auto 6px auto;
                width: 308px;
            }

        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        clearfix:after {
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0;
        }


        /*********************
                    *
                    *
                    **social and cm liks**
                    *
                    *
                    *********************/

        #social_and_CMlinks, #secondary {
            max-width: 1900px;
        }

        #social_and_CMlinks {
            position: absolute;
            bottom: 0;
            margin: 0;
            padding: 20px 0 25px;
            background: #000;
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
        }

        #section_peak {
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 9px solid #000;
            margin: 0px auto;
        }

        #social_and_CMlinks ul, #SparkLinks ul {
            width: 100%;
            height: auto;
            list-style: none;
        }

        #social_and_CMlinks ul {
            display: block;
            max-width: 1160px;
            margin: 0 auto;
        }

            #social_and_CMlinks ul li {
                font-size: 14px;
                line-height: 10px;
                height: 12px;
                padding: 0px 8px 0 0;
                position: relative;
                z-index: 9;
                display: block;
                float: left;
                margin: 8px 0 0 8px;
            }

                #social_and_CMlinks ul li:not(:last-child) {
                    border-right: 1px solid #fff;
                }

        /*********************
                    *
                    *
                    **secondary**
                    *
                    *
                    *********************/
        #secondary {
            max-width: 1900px;
            text-align: left;
            padding: 0;
            margin: auto;
            margin-top: 0px;
            line-height: 18px;
            background: #fff;
        }

        #about2 {
            padding: 36px 60px 25px;
        }

            #about2 h3 {
                font-size: 28px;
                line-height: 28px;
                width: 100%;
                margin-bottom: 6px;
                padding-bottom: 10px;
                color: #00578a;
            }

            #about2 p {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 36px;
                color: #333;
            }

            #about2 a, #about2 a:link, #about2 a:visited {
                color: #000;
            }

        #aboutCMh3 {
            border-bottom: 1px solid gray;
        }

        /*********************
                    *
                    *
                    ********footer********
                    *
                    *
                    *********************/

        .footer {
            color: #dddddd;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #2C2C2C;
            font-size: 11px;
            line_height: 18px;
            padding: 20px 77px 100px;
        }

            .footer div {
                padding-top: 10px;
                padding-bottom: 10px;
            }

        #SparkLinks h3 {
            display: none;
        }

        #SparkLinks ul {
            width: 100%;
            padding: 0px 2px;
            position: relative;
        }

            #SparkLinks ul li {
                display: inline;
            }

        #secondary .nav li {
            float: left;
            padding: 0px 2px;
        }

        .footer p:last-of-type {
            margin-top: 30px;
        }

        #SparkLinks ul li:not(:last-child):after {
            content: '|';
            margin-left: 9px;
            margin-right: 9px;
        }

        /*********************
                    *
                    *
                    **tablet media query**
                    *
                    *
                    *********************/

        @media (max-width: 1155px) {
            #container {
                background: #FFF url(/images/Splash-03-bg-sm.jpg) left top no-repeat;
            }

            #cta dl {
                margin: 0 auto 0 auto;
            }

            #cta form fieldset dl dd {
                width: 236px;
                padding-left: 35px;
                overflow: hidden;
            }

                #cta form fieldset dl dd select {
                    height: 40px;
                    width: 276px;
                    background: white url(/images/select_arrow.png) 81% no-repeat;
                }

                #cta form fieldset dl dd input, #cta #submit {
                    height: 40px;
                    width: 250px;
                }

            #cta.search {
                height: 355px;
                padding-bottom: 0px;
                position: relative;
                width: 310px;
            }

                #cta.search h3 {
                    margin-top: 20px;
                }

            #cta select, #cta input {
                width: 50px;
            }

            #cta form fieldset dl dd select {
                padding: 10px 5px;
            }

            #cta form fieldset {
                /*margin-left: -44px;*/
                text-align: center;
            }

                #cta form fieldset dl dd input {
                    width: 248px;
                }
        }

        /*********************
                    *
                    *
                    **mobile media query**
                    *
                    *
                    *********************/

        @media (max-width: 568px) {
            #main {
                height: 568px;
            }

            #container {
                background: #FFF url(/RegContent/Images/Splash-03-bg-mobile.jpg) left top no-repeat;
                margin-top: 62px;
            }

            #section_peak {
                display: none;
            }

            #mobile_header_img {
                display: block;
                width: 180px;
            }

            #header_img {
                display: none;
            }

            li.register {
                display: none !important;
            }

            #login li {
                display: block;
                padding: 0px 8px;
                width: 99px;
            }

            #login ul li a {
                position: relative;
                bottom: 18px;
                margin-right: -125px;
                padding: 8px;
                border: 1px solid #145072 /*{b-bup-border}*/;
                background: #2567ab /*{b-bup-background-color}*/;
                font-weight: bold;
                color: #fff /*{b-bup-color}*/;
                text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5 /*{b-bup-background-start}*/ ), to(#396b9e /*{b-bup-background-end}*/ ));
                background-image: -webkit-linear-gradient(top, #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/ );
                background-image: -moz-linear-gradient(top, #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/ );
                background-image: -ms-linear-gradient(top, #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/ );
                background-image: -o-linear-gradient(top, #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/ );
                background-image: linear-gradient(top, #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/ );
                color: white !important;
                -moz-border-radius: 1em /*{global-radii-buttons}*/;
                -webkit-border-radius: 1em /*{global-radii-buttons}*/;
                border-radius: 1em /*{global-radii-buttons}*/;
                text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
                white-space: nowrap;
            }

            #cta.search {
                height: 355px;
                padding-bottom: 0px;
                width: 350px;
                right: 50%;
                position: absolute;
                margin-right: -175px;
                margin-top: -15px;
            }

            #about2, .footer {
                padding: 31px 18px 25px;
            }

            .footer {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    </style>