﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-splash";
    
    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    //string[] DNSArray = { "ajax.googleapis.com", "www.jdate.com", "mpsnare.iesnare.com" };
    //ViewBag.DNSPrefetch = DNSArray;
}


<body class="p-error">

    <header role="banner">
        <a href="/" class="logo"><img src="@Url.Content("~/RegContent/Images/logo-header_reg-gc.png")" alt="" class="logo"></a>
    </header>

    <div id="container" class="cf">
        @*<nav role="navigation"></nav>*@
        <nav class="nav-alternative"></nav>

        <div role="content">

            <section role="content-main" class="editorial">
                <h1>An unexpected error has occured.</h1>
                <p>
                    We apologize for any inconvenience.<br />
                    You can also call our customer care at: 1-877-453-3861
                </p>

                <p><a href="/" class="btn link-primary">Click here to visit our home page</a></p>

            </section>

        </div>

    </div>

    @Html.Partial("_Footer")

    @* Put section overrides here *@
    @section HeadUI{
        @Html.Partial("_MetaTags")
        <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.css")" />
    }

    @section BottomJavaScript{

    }
