﻿@model Spark.Web.Mobile.CM.ViewData.SubscriptionViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}

<div class="confirmation-page">
    <p>Congratulations!</p>
    <p>Your subscription has been processed.</p>
    <p>Now you can start contacting other members with all the great features of our site.</p>
    <p>Please make a note for your records:</p>
    <ul class="confirm-info">
        <li>Username:</li>
        <li>@Model.FullProfile.Username</li>
        @if (Model.TransactionHistoryData != null)
        {
            <li>Confirmation Number:</li>
            <li>@Model.TransactionHistoryData[0].Confirmation</li>
            <li>Payment Type:</li>
            <li>@Model.TransactionHistoryData[0].PaymentType</li>
            <li>Card Number:</li>
            <li><text>************@Model.TransactionHistoryData[0].Account</text></li>
            <li>Transaction Date:</li>
            <li>@Model.TransactionHistoryData[0].Date </li>
        }

    </ul>
    @if (Model.PaymentType == "android")
    {
        <a class="btn-blue-confirm" data-role="none" data-ajax="false" href="spark-cm://members_online">Chat with members in my area </a>
    }
    else
    {
        <a class="btn-blue-confirm" data-role="none" data-ajax="false" href="/membersonline">Chat with members in my area </a>
    } 

    @if(Model.Members != null) {
    <ul class="generic-list-large grid-view">
         @foreach (var profile in Model.Members)
            {
                <li data-memberid="@profile.Id">
                    @if (@Model.PaymentType == "android")
                    {
                        <a href="spark-cm://profile/@profile.MemberId" data-role="none">
                            @if (@profile.DefaultPhoto.FullPath != null)
                            {
                                <img src="@profile.DefaultPhoto.FullPath" alt="@profile.Username"/>
                            }
                            else if (@profile.DefaultPhoto.FullPath == null && String.Compare(@profile.Gender, "Male", true) == 0)
                            {
                                <img src="/images/hd/img_silhouette_man@2x.png" alt="@profile.Username" />
                            }
                            else if (@profile.DefaultPhoto.FullPath == null && String.Compare(@profile.Gender, "Female", true) == 0)
                            {
                                <img src="/images/hd/img_silhouette_woman@2x.png" alt="@profile.Username" />
                            }
                        </a>
                    }
                    else
                    {
                        <a href="/profile/@profile.Id" data-role="none">
                            @if (@profile.DefaultPhoto != null)
                            {
                                <img src="@profile.DefaultPhoto.FullPath" alt="@profile.Username"/>
                            }
                            else if (@profile.DefaultPhoto == null && String.Compare(@profile.Gender, "Male", true) == 0)
                            {
                                <img src="/images/hd/img_silhouette_man@2x.png" alt="@profile.Username" />
                            }
                            else if (@profile.DefaultPhoto == null && String.Compare(@profile.Gender, "Female", true) == 0)
                            {
                                <img src="/images/hd/img_silhouette_woman@2x.png" alt="@profile.Username" />
                            }
                        </a>
                    }
                </li>
            }
   </ul>
    }
</div>
