﻿
}
    ViewBag.Title = "GetSubscriptionConfirmation";
}


 <h2 class="ui-title">Congratulations</h2>

<div data-role="content">
    <h3>Your subscription has been processed.</h3>
    <p>A confirmation email has been sent to your personal email address. Now you can start contacting other members with all the great features of our site.</p>
    <h4>Please make a note for your records:</h4>
    <div class="ui-body ui-body-d">
        <dl class="dlform">
            <dt>Username:</dt>
            <dd>@Model.Username</dd>
            <dt>Confirmation Number:</dt>
            <dd>@Model.ConfirmationNumber</dd>
            <dt>Card Type:</dt>
            <dd>@Model.CreditCardType</dd>
            <dt>Card Number:</dt>
            <dd>
                @if (!String.IsNullOrEmpty(Model.MaskedCreditCardNumber))
                {
                    <text>************@Model.MaskedCreditCardNumber</text>
                }
            </dd>
            <dt>Transaction Date:</dt>
            <dd>
                @if (Model.TransactionDate != DateTime.MinValue)
                {
                    @Model.TransactionDate
                }
            </dd>
        </dl>
    </div>
    @Html.ActionLink("Browse Profiles Now", "getSearchResults", "search", null, new { data_role = "button", data_theme = "k", data_ajax = "false" })
    <div class="gallery">
        @if (Model.SearchResultMembers != null)
        {
            foreach (var member in Model.SearchResultMembers)
            {
                <div class="gallery-item">
                    <a href="/Profile/FullProfile/@member.MemberId" data-ajax="false"><img src="@member.ThumbnailUrl" /></a>
                </div>
            }
        }
    </div>
</div><!-- /content -->