﻿@model Spark.Web.Mobile.CM.ViewData.SubscriptionViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}

<style>
    .nav-header, #footer {
        display: none;
    }
</style>

<body id="sub_send">
    <!-- onload="javascript: document.forms[0].submit();">-->
    <form id="frm" name="frm" method="POST" action="@Model.PaymentData.PaymentUiUrl">
        <input type="hidden" name="requestData" id="requestData" value="@Model.PaymentData.Json" />
        <input type="hidden" name="ExternalClientTrackingId" id="ExternalClientTrackingId" value="@Model.PaymentData.ExternalClientTrackingId" />
    </form>
</body>





