<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Spark.Web.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Default.aspx-->
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Deafult Error page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>  
        Custom Error page.   
    </div>
    </form>
</body>
</html>
