<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="ContactUsBase.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.ContactUs.ContactUsBase" %>
<html>
	<head>
		<title>Contact Us</title>
	</head>
	<body dir="ltr">
		<form id="Form1" method="post" runat="server">
			
Server time <%= DateTime.Now %><br />
From:	<asp:Label id="lblUserName" runat="server" /><br />
Account:	<asp:Label id="lblMemberID" runat="server" /><br />
Email:	<asp:Label id="lblEmailAddress" runat="server" /><br />
Browser:	<asp:Label id="lblBrowser" runat="server" /><br />
Remote IP:	<asp:Label id="lblRemoteIP" runat="server" />
Reason:	<asp:Label id="lblReason" runat="server" /><br />
<br />
<asp:Label id="lblComment" runat="server" />

		</form>
	</body>
</html>
