<%@ Control Language="c#" AutoEventWireup="false" Codebehind="DynamicBreadCrumbTrail.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.PageElements.DynamicBreadCrumbTrail" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:Panel ID="DBreadCrumbTrailPanel" Runat="server"></asp:Panel>