﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExternalFeedback.ascx.cs"
    Inherits="Matchnet.Web.Framework.Ui.PageElements.ExternalFeedback" %>
<asp:Literal runat="server" ID="litOutput"></asp:Literal>