<%@ Register TagPrefix="mn" Namespace="Matchnet.Web.Framework" Assembly="Matchnet.Web" %>
<%@ Control Language="c#" AutoEventWireup="false" Codebehind="IconHelpLink.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.PageElements.IconHelpLink" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<span class="iconInfo">
	<mn:txt id="txtIconList" runat="server" resourceconstant="TXT_ICON_HELP" href="/Applications/HotList/IconList.aspx" /></span>
