﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Sprite.ascx.cs" Inherits="Matchnet.Web.Framework.Sprite" %>
<span title="<%=GetTitle()%>" class="<%=SpriteClass%>"><span><%=GetText()%></span></span>