<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="CollegeLuvPromoBase.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.CollegeLuvPromo.CollegeLuvPromoBase" %>
<html>
	<head>
		<title>Check Subscription Confirmation</title>
	</head>
	<body dir="ltr">
		<form id="Form1" method="post" runat="server">
			
MemberID: <asp:Label id="lblMemberID" runat="server" /><br />
BrandID: <asp:Label id="lblBrandID" runat="server" /><br />

SUBJECT: <cc:txt id="test" runat="server" ResourceName="SUBJECT" />

		</form>
	</body>
</html>
