﻿@model Spark.Web.Mobile.CM.ViewData.MailViewData
@{
    Layout = "../Shared/_ScrollableLayout.cshtml";
}

<div class="page-content">
    <div class="chats-header"><h2>Chats</h2><h2>@*Edit*@</h2></div>
     <ul id="chats_list" class="scrollable generic-list-small"></ul>
    <div class="delete-button-container disappear"><a href="#" class="ui-btn delete-btn">Delete</a></div>
</div>
<!--ends page content-->
