﻿@model Spark.Web.Mobile.JDate.V2.ViewData.MailViewData
@{
    Layout = "../Shared/_MailLayout.cshtml";
}

<ul id="trash" class="generic-list">
    @foreach (var message in Model.MailFolder.MessageList)
{
    <li data-messageid="@message.Id">
        <a href="/mail/message/@message.Id" data-role="none">
            <img src="@message.Sender.ThumbnailUrl" alt="@message.Sender.Username" />
            <span>@message.Subject</span>
        </a>
    </li>
}
</ul>

