﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-reg-conf";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "ajax.googleapis.com", "www.adventistsinglesconnection.com", "mpsnare.iesnare.com" };
    ViewBag.DNSPrefetch = DNSArray;
}

<header role="banner">
    <div style="display:inline-block;width:75%;height:70%;">
        <div class="logo" href="~/">
            <img style="padding-top:30px;" src="@Url.Content("~/RegContent/images/LDSSOcom_logo_no_tag_line_SM.png")" alt="Find God's Match for You" title="LDS Dating site LDSSingles.com">
        </div>
    </div>
</header>
<div id="container" class="cf">
    <nav class="nav-alternative" style="color:#fff; font-size:19px; font-weight:bold;  background:url('@Url.Content("~/RegContent/images/ui-bg-header.png")') repeat-x scroll 0 bottom;">Delight yourself in the LORD and he will give you the desires of your heart. - Psalms 37:4</nav>
    <div role="content">
        <h1>
            You are now a LDSSingles.com member.
            A confirmation email was sent to your personal email address.
        </h1>
        <ul>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-sub"><img src="@Url.Content("~/RegContent/images/icon_couple-01.png")" /></span>
                <div class="info">
                    <h2>Become a Subscriber!</h2>
                    <div class="cta">
                        <a class="btn-icon link-primary" href="http://@ViewBag.BedrockHost/account/payment/purchase.html?">
                            <span class="btn-icon-icon">
                                <img src="@Url.Content("~/RegContent/Images/icon-secure.png")" alt="">
                            </span><span class="btn-icon-text">UPGRADE NOW!</span>
                        </a>
                    </div>
                    <p class="tag-line">Become a LDSSingles.com subscriber and have a much better shot at finding love!</p>
                </div>
            </li>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-intro"><img src="@Url.Content("~/RegContent/images/icon_profile-01.png")" /> </span>
                <div class="info">
                    <h2>Introduce Yourself!</h2>
                    <div class="cta">
                        <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/profile/photos.html">COMPLETE YOUR PROFILE</a>
                    </div>
                    <p class="tag-line">Introduce yourself by answering a few questions and uploading some fun photos!</p>
                </div>
            </li>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-browse"><img src="@Url.Content("~/RegContent/images/icon_couple-02.png")" /> </span>
                <div class="info">
                    <h2>Start Browsing Now!</h2>
                    <div class="cta">
                        <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/search/">SEE WHO'S ONLINE </a>
                    </div>
                    <p class="tag-line">Find LDS singles in your area by checking out who's online at this very minute!</p>
                </div>
            </li>
        </ul>
    </div>

</div>

@Html.Partial("_Footer")



@* Put section overrides here *@
@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
    <script>
        var spark = spark || {};
        //DO NOT REMOVE. This line should occur before loading Omniture.js file.
        var s_account = '@ViewBag.OmnitureAccountName';

        $LAB
        .setOptions({ AlwaysPreserveOrder: true })
        .script("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
        .wait(function () {
            if (typeof jQuery != "function") return "@Url.Content("~/RegContent/Scripts/Libs/jQuery/jquery-1.7.2.min.js")";
        })
        .script("@Url.Content("~/RegContent/Scripts/main.js")")
        .wait(function () {
            $(function () {
                //actual js for confirm page
                var titleText = '';
                $('h1, h2').each(function () {
                    titleText = $(this).text().replace(/ (\S+)$/, '&nbsp;$1');
                    $(this).html(titleText);
                });
            });
        })
        .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
        .wait(function () {
            @Html.Action("Index", "Omniture", new { pageName = "registrationconfirmation" })
        });
    </script>
}