﻿@using SettingsManager.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>External Mail Settings</h2>

        @using (Ajax.BeginForm("ProcessSetting", "ExternalMailTemplatesSettings", FormMethod.Post, null, new { id = "frmSignUp2" }))
        {
            <span style="display: none"><input type="text" id="settingConstant" name="settingConstant" /></span>
            <span style="display:none"><input type="text" id="action" name="action" /></span>
            <table border="1">

                <tr>
                    <th>Setting Constant</th>
                    <th>Site Id</th>
                    <th>Value</th>
                    <th></th><th></th>
                </tr>
                <tr>
                    <td class="left"></td>
                    <td class="left"><input type="text" name="SITE_ID_ALL"/></td>
                    <td class="left"></td>
                    <td class="left"><input type="submit" value="Get" name="GET_ALL" onclick="$('[name$=_SITE_ID]').val($('[name=SITE_ID_ALL]').val()); $('#action').val('GET_ALL');" /></td>
                    <td class="left"></td>
                </tr>
                    @foreach (SiteSettingModel item in Model) 
                    { 
                        <tr>
                            <td class="left">@item.Key</td>
                            <td class="left"><input type="text" value="@item.SiteId" name="@item.Key@("_SITE_ID")"/></td>
                            <td class="left"><input type="text" value="@item.Value" name="@item.Key@("_VALUE")"/></td>

                            <td class="left"><input type="submit" value="Get" name="@item.Key@("_GET")" onclick="$('#settingConstant').val('@(item.Key)');$('#action').val('GET');" /></td>
                            <td class="left">
                                @if (ViewBag.CanEdit)
                                {
                                    <input type="submit" value="Update" name="@item.Key@("_UPDATE")" onclick="$('#settingConstant').val('@(item.Key)');$('#action').val('UPDATE');"/>
                                }
                            </td>
                        </tr>
                    }
            </table>
        }
    </div>
</div>