/** {*/
/*border: 1px solid red*/
/*}*/

body {
    font-family: Arial, Verdana;
    font-size: 12px;
}

h1 {
    text-align: center;
}

.hidden {
    display: none
}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
}
#chatter_mini_profile {
    background:url(../images/mini_prof_bg.jpg) repeat-x left bottom #f0f0f0;
    height: 90px;
    float: left;
    width: 100%;
}

#chatter_mini_profile .thumbnail {
    margin: 5px 0 0 3px;
    width: 60px;
    float:left;
}

.profile_text span {
    font-size:12px;
    color:#333;
}

.profile_text span.username {
    font-size:16px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#973566;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
    line-height: 1.0;
}

ul.hotlist_buttons {
    float:right;
    margin: 30px 10px;
}

ul.hotlist_buttons li {
    margin-bottom: 7px;
    padding: 1px;
    border: 1px solid #777;
    border-radius: 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    cursor: pointer;
}

#chat_messages {
    height: 400px;
    padding: 5px 0 0 5px;
    background-color: #fff;
    overflow: auto;
    clear: both;
}

#chat_messages li {
    font-style: normal;
    width:100%;
    display:block;
    font-size:11px;
    color:#000;
    padding-bottom: 13px;
    clear: both;
    /*position: relative;*/
    /*right:100px;*/
}

#chat_messages li .me {
    float:right;
}

#chat_messages li .other {
    float:left;
}

#chat_messages .bubble_and_profile {
    height: 100%;
    background-color: gray;
    position: relative;
}

#chat_messages .profile {
    background-color: orange;
    position: absolute;
    bottom: 0;
}

#chat_messages .chat_bubble {
    width: 256px;
    word-wrap:break-word;
    min-height:50px;
    /*height:25px;*/
}

#chat_messages .me .chat_bubble {
    float: right;
    /*background:url(../images/chat_me_top.jpg) no-repeat left top;*/
    background:url(../images/chat_me.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-size: 100%;*/
}

#chat_messages .other .chat_bubble {
    float: left;
    background:url(../images/chat_other_top.jpg) no-repeat left top;
    background-size: 100%;
}

.chat_bubble span {
    padding-left: 4px;
}

#chat_messages .bubble_bot {
    width:256px;
    min-height:25px;
}

#chat_messages .me .bubble_bot {
    background:url(../images/chat_me_btm.jpg) no-repeat left bottom;
    background-size: 100%;
}

#chat_messages .other .bubble_bot {
    background:url(../images/chat_other_btm.jpg) no-repeat left bottom;
    background-size: 100%;
}

#chat_messages .profile {
    width: 55px;
    min-height: 45px;
    position: relative;
}

#chat_messages .me .profile {
    postion:absolute;
    bottom: 0;
}

#chat_messages .me .profile {
    margin-left: 5px;
    float:right;
}

#chat_messages .other .profile {
    float:left;
}


/*#chat_messages .timestamp {*/
    /*position:absolute;*/
    /*bottom: 0;*/
/*}*/

#chatter_status {
    /*width:100%;*/
    height:25px;
    background:url(../images/user_typing_bg.jpg) repeat-x left top;
    padding-left: 50px;
    font-size:13px;
    color:#666;
    line-height:25px;
}

textarea {
    margin: 10px 5px 5px 5px;
    height: 50px;
    width: 70%;
}

.type_bottom {
    background:url(../images/type_btm_bg.jpg) repeat-x left top #cacdcd;
    border-top:1px solid #a0a0a0;
    /*position:relative;*/
    /*padding:8px 2.5%;*/
}

.send_but {
    margin: 25px 0 0 15px;
    width: 65px;
    /*min-width: 65px;*/
    height: 40px;
    background: url(../images/send_but.png) no-repeat left top;
    background-size: 100%;
    text-align: center;
    border: none;
    /*background-color: #d0f;*/
    font-size:14px;
    color:#fff;
}

.chat_name {
    color: #25426B;  /* JDate dark blue */
    /*#9bafca;
     #936 */
}

.chat-message .me {
    color : #993366; /* JDate red */
    /*color: #25426B;  *//* JDate dark blue */
    /*color: #33c;*/
}

.profile_text {
    margin: 5px;
    float:left;
    font-size: 8px;
}
.chat_message .thumbnail {
    height: 37px;
    margin-left: 5px;
}

.chat_event {
    font-style: italic;
    font-size: 75%;
}

.ui-btn-up-k {
    border: 		1px solid #222;
    background: 		#96b1cc;
    font-weight: 		bold;
    color: 		#fff;
    text-shadow: 		0 -1px 1px #000;
    background-image: 	-moz-linear-gradient(bottom,
    #662344 28%,
    #936 80%);
    background-image: 	-webkit-gradient(linear,left bottom,left top,
    color-stop(0.28, #662344),
    color-stop(.8, #936));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#662344', EndColorStr='#936')";
}

.ui-btn-down-k {
    border: 		1px solid #000;
    background: 		#3d3d3d;
    font-weight: 		bold;
    color: 		#fff;
    text-shadow: 		0 -1px 1px #000;
    background-image: 	-moz-linear-gradient(bottom,
    #662344 28%,
    #936 80%);
    background-image: 	-webkit-gradient(linear,left bottom,left top,
    color-stop(0.28, #662344),
    color-stop(.8, #936));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#662344', EndColorStr='#936')";
}

