﻿@charset "utf-8";
/* CSS Document */

/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear_0{clear:both; font-size:0px;line-height:0px; display:block;}
.no_bg_pad{background:none !important; padding:0 !important;}
.no_bg{ background:none !important;}
.no_pad{ padding:0px !important;}
.no_mar{ margin:0px !important;}
.no_border{ border:none !important;}
.clear{clear:both;}
.flt_lft{ float:left !important;}
.flt_rht{ float:right !important;}
/**************************************************************************************/

body {
    background:#fcfcfd;
    min-width:330px;
}

#mini_profile_container {
    background:url(../images/mini_prof_bg.jpg) repeat-x left bottom #f0f0f0;
    min-height:83px;
    width:95%;
    padding:8px 2.5% 0;
}

.thumbnail {
    float:left;
    display:block;
    padding:0 4px 0 0;
}

.profile_text {
    width:222px;
    float:left;
}

.profile_text span {
    display:block;
    font-size:12px;
    line-height:15px;
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
}

.profile_text span.username {
    font-size:16px;
    line-height:16px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#973566;
    font-weight:700;
    padding:0 0 15px;
}

.favorite_but {
    width:22px;
    float:right;
    padding:25px 0 0;
}

.favorite_but a {
    display:block;
    text-decoration:none;
}

.favorite_but a.fav_but {
    margin:0 0 7px;
}

.chat_message_box {
    width:100%;
}

.chat_message_box ul.chat_messages {
    float:left;
    display:block;
    width:95%;
    padding:6px 2.5% 0;
}

ul.chat_messages li {
    width:100%;
    float:left;
    display:block;
    font-size:11px;
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    padding:0 0 13px;
}

ul.chat_messages li.other span.chat_text {
    width:256px;
    background:url(../images/chat_other_btm.jpg) no-repeat left bottom;
    margin-left:40px;
    float:left;
    padding:0 0 20px;
}

ul.chat_messages li.other span.chat_text em {
    background:url(../images/chat_other_top.jpg) no-repeat left top;
    word-wrap:break-word;
    padding:10px 10px 0;
}

ul.chat_messages li.other span.timestamp {
    width:36px;
    float:right;
    position:absolute;
    left:0;
    bottom:13px;
    line-height:11px;
}

ul.chat_messages li.me span.chat_text {
    width:256px;
    background:url(../images/chat_me_btm.jpg) no-repeat left bottom;
    margin-right:40px;
    float:right;
    padding:0 0 20px;
}

ul.chat_messages li.me span.chat_text em {
    background:url(../images/chat_me_top.jpg) no-repeat left top;
    word-wrap:break-word;
    padding:10px 10px 0;
}

ul.chat_messages li.me span.timestamp {
    width:36px;
    float:right;
    position:absolute;
    right:0;
    bottom:13px;
    line-height:11px;
}

ul.chat_messages li.system span.chat_text {
    width:256px;
    background:#FFBABA no-repeat left bottom;
    float:left;
    padding:0 0 20px;
}

ul.chat_messages li.system span.chat_text em {
    background:#FFBABA no-repeat left top;
    word-wrap:break-word;
    padding:10px 10px 0;
}

#chatter_status {
    width:100%;
    height:25px;
    background:url(../images/user_typing_bg.jpg) repeat-x left top;
}

.user_typing span {
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    line-height:25px;
    padding:0 0 0 5%;
}

.type_bottom {
    background:url(../images/type_btm_bg.jpg) repeat-x left top #cacdcd;
    border-top:1px solid #a0a0a0;
    position:relative;
    padding:8px 2.5%;
}

.type_bottom span {
    display:block;
    position:relative;
    margin:0 55px 0 0;
}

.type_bottom span .chat_input {
    width:96%;
    height:70px;
    background:#fbfbfb;
    border:1px solid #9b9b9b;
    outline:none;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    overflow:auto;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    behavior:url(PIE.htc);
    position:relative;
    resize:none;
    padding:0 0 0 10px;
}

.type_bottom .send_but {
    width:45px;
    height:27px;
    background:url(../images/send_but.png) no-repeat left top;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:700;
    display:block;
    position:absolute;
    top:0;
    right:-55px;
    padding:0 0 1px;
}

.favorite_but a img,ul.chat_messages li span,ul.chat_messages li em,ul.chat_messages li.other span.timestamp img,ul.chat_messages li.me span.timestamp img {
    display:block;
}

/*     <!--[if IE]>

    <div class="chat_message_box" style="min-height:300px;">
        <ul class="chat_messages" style="height:300px; overflow-y: scroll;">


    <![endif]-->
    <!--[if !IE]> -->
    <div class="chat_message_box" style="min-height:300px;">
        <ul class="chat_messages" style="max-height:400px; overflow:scroll;min-height:300px;">
            <![endif]-->
*/