@charset "utf-8";
/* CSS Document */

/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear_0{clear:both; font-size:0px;line-height:0px; display:block;}
.no_bg_pad{background:none !important; padding:0 !important;}
.no_bg{ background:none !important;}
.no_pad{ padding:0px !important;}
.no_mar{ margin:0px !important;}
.no_border{ border:none !important;}
.clear{clear:both;}
.flt_lft{ float:left !important;}
.flt_rht{ float:right !important;}
/**************************************************************************************/

body											{ background:#fcfcfd; min-width:330px;height:100%}

#mini_profile_container							{ background:url(../images/mini_prof_bg.jpg) repeat-x left bottom #f0f0f0; min-height:83px; padding:8px 2.5% 0 2.5%; width:95%;}
.thumbnail										{ float:left; display:block; padding:0 4px 0 0;}
.profile_text									{ width:222px; float:left;}
.profile_text span								{ display:block; font-size:12px; line-height:15px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
.profile_text span.username						{ font-size:16px; line-height:16px; font-family:Georgia, "Times New Roman", Times, serif; color:#973566; font-weight:bold; padding:0 0 15px 0;}
.favorite_but									{ width:22px; float:right; padding:25px 0 0 0;}
.favorite_but a								    { display:block; text-decoration:none;}
.favorite_but a.fav_but						    { margin:0 0 7px 0;}
.favorite_but a img							    { display:block;}
.profilelink
{
	text-decoration:none;
}
.chat_message_box								{ width:100%;height:100%}
.chat_message_box ul.chat_messages				{ float:left; display:block; padding:6px 2.5% 0 2.5%; width:95%;overflow-y:auto;position:absolute;top:90px;bottom:120px;}
ul.chat_messages li								{ width:100%; float:left; display:block; font-size:11px; color:#000000; font-family:Arial, Helvetica, sans-serif; padding:0 0 13px 0; position:relative;}
ul.chat_messages li span						{ display:block;}
ul.chat_messages li em							{ display:block;}
ul.chat_messages li.other						{}
ul.chat_messages li.other img                   { width: 30px;}
ul.chat_messages li.other span.chat_text		{ width:256px; background:url(../images/chat_other_btm.jpg) no-repeat left bottom; margin-left:5px; padding:0 0 20px 0; float:left;}
ul.chat_messages li.other span.chat_text em		{ padding:10px 10px 0 10px;  background:url(../images/chat_other_top.jpg) no-repeat left top; word-wrap: break-word;}

ul.chat_messages li.other span.timestamp		{ width:36px; float:right; position:absolute; left:0px; bottom:5px; line-height:11px;}
ul.chat_messages li.other span.timestamp img	{ display:block;}

ul.chat_messages li.me							{}
ul.chat_messages li.me span.chat_text			{ width:256px; background:url(../images/chat_me_btm.jpg) no-repeat left bottom; margin-right:40px; padding:0 0 20px 0; float:right;}
ul.chat_messages li.me span.chat_text em		{ padding:10px 10px 0 10px;  background:url(../images/chat_me_top.jpg) no-repeat left top; word-wrap: break-word;}
ul.chat_messages li.me span.timestamp			{ width:36px; float:right; position:absolute; right:0px; bottom:13px; line-height:11px;}
ul.chat_messages li.me span.timestamp img		{ display:block;}

ul.chat_messages li.system						{}
ul.chat_messages li.system span.chat_text		{ width:256px; background:#FFBABA no-repeat left bottom; padding:0 0 20px 0; float:left;}
ul.chat_messages li.system span.chat_text em		{ padding:10px 10px 0 10px;  background: #FFBABA no-repeat left top; word-wrap: break-word;}

#chatter_status                                  { width:100%; height:25px; background:url(../images/user_typing_bg.jpg); background-size:100% 100%; position:absolute; bottom:96px;z-index:150;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)))}
.user_typing span								{ font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#666666; line-height:25px; padding:0 0 0 5%;}

#.type_bottom									{ background:url(../images/type_btm_bg.jpg) repeat-x left top #cacdcd; border-top:1px solid #a0a0a0; padding:8px 2.5% 15px 2.5%; position:relative;}
.type_bottom									{ background:url(../images/type_btm_bg.jpg) repeat-x left top #cacdcd; border-top:1px solid #a0a0a0; padding:8px 2.5% 15px 2.5%; position:fixed; bottom:0;z-index:150;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));width:95%}
.type_bottom span								{ display:block; position:relative; margin:0 55px 0 0;}
.type_bottom span .chat_input					{ width:96%; height:70px; background:#fbfbfb; border:1px solid #9b9b9b; outline:none; font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#000000; overflow:auto; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; position:relative; padding:0 0 0 10px; resize:none;}
.type_bottom .send_but							{ width:45px; height:27px; background:url(../images/send_but.png) no-repeat left top; border:none; outline:none; cursor:pointer; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-weight:bold; padding:0 0 1px 0; display:block; position:absolute; top:0px; right:-55px;}