<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Server.aspx.cs" Inherits="Server" Title="Untitled Page" %>

<%@ Register Src="UserControls/HostSetting.ascx" TagName="HostSetting" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:HostSetting ID="HostSetting1" runat="server" />
</asp:Content>

