
.search-filter input{
	margin-top:-4px;
}

.list-item
{
	padding:2px 0;
}
.list-item input
{
	margin-top:-3px
}

.list-item span
{
	margin-left:0px;
}



#global-profile input#btnSaveChanges{
	float:none;
	margin:8px 0 0 30px;
}

#legend-container
{
	width:170px;
	margin-left:-130px;
}


#search-results{
	width:1040px;
}

#btnUpdateFraud
{
	margin-left:40px;
}

#btn-clear-color-code{
	padding-left:3px;
}
#btn-update-other{
	margin-left:35px;
}

div#billing-info label{
	height:15px;
}

#sub-status{width:418px;}
#left{border-top:1px solid white;}/* fixes IE flow issues */