@charset "utf-8";

/* CSS RESET - meyerweb.com/eric/tools/css/reset/index.html */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,font,
img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body
{
	line-height:1;
	font-family:arial,sans-serif;
}

ol,ul
{
	list-style:none;
}

blockquote,q
{
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:none;
}

:focus
{
	outline:0;
}

ins
{
	text-decoration:none;
}

del
{
	text-decoration:line-through;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}
/** End reset **/

/* ==Tools  -----*/
.wrapper{float:left; width:100%;}
.clickable{color:#936; cursor:pointer;}
.clickable:hover{text-decoration:underline;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear-both{clear:both;}
.no-wrap-class{white-space:nowrap;}
.float-inside{float:left;display:inline;}
.float-outside{float:right;display:inline;}
.show{display:block;}
.hide{display:none;}
.showSpan{display:inline;}
.hideSpan{display:none;}
.text-inside{text-align:left;}
.text-outside{text-align:right;}
.text-center{text-align:center;}
.margin-light{margin:.5em;}
.margin-medium{margin:1em;}
.margin-heavy{margin:1.5em;}
.padding-light{padding:.5em;}
.padding-medium{padding:.5em;}
.padding-heavy{padding:1em;}
.padding-mega{padding:30%;}
img.centered{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.non-bold{font-weight:normal !important;}


input[type="text"],
textarea{
	border:1px solid #999999;
	font-size:15px;
	padding:2px;
	}
	
input[disabled]{
	background:#d4d0c8;
}


input[type="radio"]{
	background:#fff;
}

.button
{
	background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	padding:3px 5px;
	margin-right:5px;
	cursor:pointer;
	font-family:Arial,sans-serif;
}

.button_big
{
	background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	padding:3px 5px;
	margin-right:5px;
	cursor:pointer;
	font-family:Arial,sans-serif;
	width:80px;
}

.step-navigation-button
{
    background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	padding:3px 5px;
	margin-right:5px;
	cursor:pointer;
	font-family:Arial,sans-serif;
}

.button-overlay
{
	background:#ffffff;
	border:1px solid #999999;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	padding:3px 5px;
	margin-right:5px;
	cursor:pointer;
	font-family:Arial,sans-serif;
}


.button:hover{
	background:#ffe4ca;
}
a.button{
	display:block;
	padding:5px;
	text-decoration:none;
}

.button-mini
{
	background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	margin-right:5px;
	cursor:pointer;
	font-family:Arial,sans-serif;
	width:210px;
	margin-top:10px;
}

.button-search
{
	background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	cursor:pointer;
	font-family:Arial,sans-serif;
}


.button-mini:hover{
	background:#ffe4ca;
}
a.button-mini{
	display:block;
	padding:5px;
	text-decoration:none;
}

.list-item{
	clear:both;
	padding:4px 1px;	
}


.list-item label
{
	float:left;
	height:25px;
	width:100px;
}

.list-item span
{
	float:left;
	margin-left:2px;
}

.list-item input
{
	float:left;
	margin-top:0;
	margin-right:5px;
}

.list-item-wide{
	
	padding: 0px 0px 0px 0px;
}


.list-item-wide label
{
	float:left;
	height:25px;
	width:200px;
	font-size:9px;
	padding-left:5px;
}

.list-item-wide span
{
	float:left;
	margin-left:2px;
	font-size:9px;
}

.list-item-wide input
{
	float:left;
	margin-top:0;
	margin-right:0px;
}


.list-item-wider{
	
	padding: 0px 0px 0px 0px;
}


.list-item-wider label
{
	float:left;
	height:25px;
	width:250px;
	font-size:9px;
	padding-left:5px;
}

.list-item-wider span
{
	float:left;
	margin-left:2px;
	font-size:9px;
}

.list-item-wider input
{
	float:left;
	margin-top:0;
	margin-right:0px;
}




.list-item-edit{
	clear:both;
	padding:4px 1px;
    overflow:hidden;
}

.list-item-edit label
{
	float:left;
	width:180px;
	font-size:small;
}

.list-item-edit span
{
	float:left;
	margin-left:1px;
	font-size:small;
}

.list-item-edit input
{
	float:left;
	margin-top:0;
	margin-right:0px;
}



#return-to-search{
	float:none;
	width:120px;
}

#member-search-header
{
	width:1242px;
}

#member-search-container
{
	width:1240px;
	margin:0;
	background:#F2F2F2;
	border:1px solid #cccccc;
}

#member-search-nav
{
	background:#EDEDED;
	font-weight:bold;
	font-size:12px;
}

#member-search-nav .reports
{
	width:137px;
	text-align:center;
}

#member-search-nav .dne
{
	width:87px;
	text-align:center;
}

#user-search-btn
{
	float:left;
}

#member-search-sidebar
{
	float:left;
	width:130px;
	background:#F2F2F2;
	color:#666666;
}

#member-search-sidebar .header
{
	font-size:13px;
	color:#000000;
	margin:12px 0 6px 9px;
	font-weight:bold;
}

#member-search-sidebar .instruction
{
	font-size:11px;
	padding:0 10px 0 12px;
	line-height:14px;
}

#search-by-billing
{
	font-size:11px;
	margin:20px 0 0 5px;
}

#search-by-billing .button
{
	height:50px;
	width:120px;
}

#member-search-main
{
	float:left;
	padding:10px;
	width:1088px;
	background:#FFFFFF;
	border-left:1px solid #cccccc;
}

.member-search-email-address{ 
	width:230px;
	overflow:hidden;
}
#search-results-table td.member-search-email-container{
	width:230px;
	padding-right:0;
}

.search-pagination
{
	width:1020px;
	font-size:11px;
	font-weight:bold;
	padding:10px;
	float:left;
}
.search-pagination a{
	text-decoration:none;
}
.search-pagination-totalpages
{
	float:right;	
}

#footer{
	font-size:11px;
	text-align:center;
	padding-bottom:10px;
	clear:both;
}

#legend{
	text-decoration:none;
}

#legend-container
{
	display:none;
	position:absolute;
	background:#fff;
	border:1px solid #999;
	padding:5px;
	margin-top:-25px;
	-moz-border-radius:5px;
	-moz-box-shadow:4px 3px 3px #888888;
	-webkit-border-radius:5px;
	-webkit-box-shadow:4px 3px 3px #888888;

}

#clearfix
{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.search-forms .header
{
	font-size:13px;
	color:#000000;
	font-weight:bold;
	margin:0 0 6px;
}

.search-forms .info
{
    font-size:10px;
	color:#999;
}

.search-forms
{
	margin-top:8px;
	font-size:13px;
	float:left;
}


.left
{
	margin-left:18px;
	width:270px;
}



.mid
{
	margin-left:80px;
	width:300px;
}

.right
{
	margin-left:40px;
}

#main 
       {
           margin-left: 170px;
       }
       
#master-container #main, .EditProfile #main, .EditSearchPreferences #main 
{
    margin-left: 0;
}       

.search-forms dt
{
	clear:both;
	float:left;
	margin-right:10px;
	margin-top:15px;
	text-align:left;
	width:68px;
}

.over-lay-pop dt
{
    clear:both;
	float:left;
	text-align:left;
	width:68px;
}

.over-lay-pop .header
{
	font-size:13px;
	color:#000000;
	font-weight:bold;
	margin:0 0 6px;
}

.over-lay-pop .info
{
    font-size:10px;
	color:#999;
}

.over-lay-pop
{
	float:left;
}

.over-lay-pop dd
{
	float:left;
	margin: 10px 0 7px 10px;
	
}


/*****/

.over-lay-pop_plus dt
{
    clear:both;
	float:left;
	text-align:left;
	width:170px;
	 
}

.over-lay-pop_plus .header
{
	font-size:13px;
	color:#000000;
	font-weight:bold;
	margin:0 0 6px;
}

.over-lay-pop_plus .info
{
    font-size:10px;
	color:#999;
}

.over-lay-pop_plus
{
	float:left;
}

.over-lay-pop_plus dd
{
	float:left;
	
	
}



/*****/












.mid dt
{
	width:100px;
}

.mid .ips input
{
	width:27px;
}

.mid .zip input
{
	width:70px;
}

.search-forms dd
{
	float:left;
	margin:10px 0 7px;
	width:178px;
}

.form-size
{
	width:178px;
}

.form-size-small
{
    width:15px;
    padding: 0px 0px 0px 0px;
     
}

.form-size-medium
{
    width:25px;
    padding: 0px 0px 0px 0px;
     
}

#member-search-sidebar .search-btn
{
	width:80px;
}

.right .instruction
{
	font-size:10px;
	color:#666666;
	margin-top:7px;
}

.right img
{
	margin-bottom:20px;
}

.right .search-filter
{
	font-size:11px;
	 
}

.right .header,.right .search-filter
{
	margin-left:5px;
}

.search-filter input{
	float:left;
	margin-top:0px;
}

.disabled{
	color:#ccc;
}
#search-results
{
	border:1px solid #CCCCCC;
	float:left;
	max-width:1300px;
	min-width:1040px;
}

#search-results-table
{
	font-size:12px;
	width:100%;
	margin:0 auto;
}

#search-results-table td
{
	padding:8px 0 8px 8px;	
	border:#ccc 1px solid;
}

#search-results-table th
{
	padding-bottom:5px;
    font-weight:bold;
	font-size:12px;
}

.stripe-results
{
	background-color:#FFFFCC;
}

.results-hover
{
	background-color:#FFE4CA;
}

.results-hover-td
{
	border:#ff0000 1px solid;
}

.site-status-Active,
option.site-status-Active
{
	background:#fff;
	color:#000;
}
.site-status-AdminSuspend,
option.site-status-AdminSuspend
{
	background:#f2f2f2;
	color:#ff0000;
}

.site-status-SelfSuspend,
option.site-status-SelfSuspend{
	color:#999999;
}

#management-nav
{
	background:#003366;
	font-weight:bold;
	font-size:12px;
	height:21px;
	 
}

#management-container
{
	width:100%;
	background-color:#FFFFFF;
}

#management-sidebar
{
	float:left;
	width:160px;
	background-color:#EAEAFF;
}

#management-sidebar .site-logo
{
	margin:14px 0 10px;
}

#management-sidebar .search-btn
{
	margin-bottom:12px;
}

.profile-image img
{
	padding:10px 12px;
	border:1px solid #CCCCCC;
}

.profile-image_no_pad img
{
	border:1px solid #CCCCCC;
}

.profile-image
{
	margin:10px 0;
}

.sidebar-boxes
{
	border:1px solid #ccccff;
	background-color:#f9f9ff;
	width:143px;
	margin-bottom:4px;
	padding:10px 2px 10px 4px;
	text-align:left;
	font-family:'Arial Unicode MS';
	font-size:12px;
}

.side-headers
{
	font-weight:bold;
	font-size:12px;
	text-align:center;
}

.side-content
{
	margin-top:7px;
}

.side-content p
{
	text-align:left;
	font-size:12px;
	word-wrap:break-word;
	margin-bottom:4px;
}

.side-paid
{
	font-weight:bold;
	color:#0000FF;
}

.side-content .side-headers
{
	margin-top:7px;
}

.side-content .side-marketing-content
{
	margin-bottom:8px;
	color:#666666;
}

#left 
        {
            position: absolute !important;
        }

#management-content-right
{
	width:1192px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	font-family:arial,sans-serif;
	float:left;  	
}

#management-main
{
	width:100%;
	background:#FFFFFF;
}

.main-containers
{
	border-bottom:1px solid #ff9900;
	padding:4px 9px;
	font-family:Arial, Helvetica;
	font-size:11px;
}

.main-gray-boxes
{
	border:1px solid #cccccc;
	padding:5px;
	float:left;
	margin-right:3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.main-gray-boxes h2{
	font-size:13px;
	padding-bottom:10px;
}

.row1 .main-gray-boxes
{
	height:230px;
}

.row2 .main-gray-boxes
{
	height:265px;
}

.box-headers
{
	font-size:13px;
	font-weight:bold;
	margin-bottom:7px;
}

.copyright
{
	margin:10px 20px;
	font-size:11px;
}

#basic-info
{
	width:309px;
}

.basic-info-left
{
	width:88px;
	float:left;
	clear:both;
}

.basic-info-right
{
	font-size:13px;
	font-weight:bold;
	float:left;
	width:215px;
	margin-bottom:20px;
}

.basic-login
{
	width:185px;
	margin:0 10px;
}

#Email{
	width:180px;
	margin-bottom:1px;
}

#NewPassword{
	margin:0 0 10px 0;
}

#profile-status
{
	color:#006600;
}

#profile-status.AdminSuspend{
	color:#ff0000;
}

#profile-status.SelfSuspend{
	color:#999999;
}


.basic-links
{
	float:left;
	clear:both;
	margin-top:12px;
	width:100%;
}

.basic-link-space
{
	margin-left:11px;
}

.overlay{
	background-color:#EFFFED;
	display:none;
}

a.close-x
{
	font-size:15px;
	color:#0000FF;
	text-decoration:none;
	font-weight:bold;
	float:right;
}

.overlay p
{
	clear:both;
	margin:20px 0;
	font-size:14px;
}

#send-pass-over .send-email,
#lookup-pass-over span{
	font-weight:bold;
}
.ajax-loader
{
	display:none;
	width:20px;
	float:left;
}

#global-profile{
	height:200px;
	width:189px;
}

#global-profile .sendverification a
{
    clear: both; 
    float: left; 
    padding-bottom: 5px;
}

#global-profile .EmailVerifiedDiv label
{
    height:20px;
}

.global-profile-left
{
	width:95px;
	float:left;
	clear:both;
	padding-top:3px;
}

.global-profile-right
{
	float:left;
	margin-bottom:14px;
}

.global-profile-submit-btn
{
	margin:0 auto;
}

.global-profile-submit
{
	clear:both;
	text-align:center;
}

.global-profile-drop-down
{
	clear:both;
	margin-bottom:14px;
}

#global-admin-suspend
{
	width:175px;
}


#global-profile input#btnSaveChanges{
	float:none;
	margin:10px 0 0 40px;
}

#AdminActionReasonID{
	font-size:11px;
	width:185px;
	margin-bottom:10px;
}

#date-time-stamps
{
	padding:10px 5px 0 10px;
	width:174px;
}

.stamps
{
	margin-bottom:15px;
}

#DateTimeStampInfoControl li
{
	padding:0 0 10px;
}

#sub-status
{
	width:417px;
}

#sub-status td
{
	vertical-align:top;
}

#sub-status-info
{
	width:200px;
	padding-right:5px;
	float:left;
}

#sub-status-info li{
	padding-bottom:10px;
}
#sub-status-buttons
{
	float:right;
}

#btn-buy-subscription{
	padding:7px 5px;
	font-size:14px;
}
#sub-status .button
{
	clear:both;
	margin-bottom:10px;
	width:135px;
}

#sub-status .overlay .button
{
	clear:none;
}


#comm
{
	width:219px;
}

.comm-para
{
	margin-bottom:7px;
}

#comm a
{
	font-weight:bold;
	font-size:12px;
}

.comm-table
{
	margin:7px 0;
}

.comm-table th
{
	background-color:#ccc;
}

.comm-table th,.comm-table td
{
	border:1px solid;
	text-align:center;
	padding:4px 5px;
}

.comm-table th:first-child
{
	font-weight:normal;
	font-style:italic;
	text-align:right;
}

#fraud-abuse
{
	width:209px;
}

#btnUpdateFraud{
	float:none;
	margin: 10px 0 0 50px;
	
}
#fraud-abuse score
{
	font-weight:bold;
	color: #FF0000;
}

.fraud-left
{
	width:120px;
	float:left;
	clear:both;
	padding-top:3px;
}

.fraud-left-lower
{
	width:130px;
	float:left;
	clear:both;
}

.fraud-right
{
	float:left;
	margin-bottom:14px;
}

.fraud-score
{
	font-weight:bold;
	color:#FF0000;
}

.fraud-submit
{
	clear:both;
	text-align:center;
}

.fraud-submit-btn
{
	margin:0 auto;
}

#profile-info
{
	width:259px;
}

#profile-info input[type="text"]{
	width:140px
}

#Birthdate{
	font-size:11px;
}

div.ui-datepicker{
	width:212px;
	height:170px;
	font-size:13px;
}
#btn-save-profile-info{
	clear:both;
	margin:23px 0 0 78px;
}
.profile-forms dt
{
	clear:both;
	float:left;
	margin-right:10px;
	margin-top:8px;
	text-align:left;
	width:68px;
}

.profile-forms dd
{
	float:left;
	margin:8px 0 7px;
	width:170px;
}

.profile-forms .zip
{
	width:80px;
}

.profile-search-btn
{
	float:right;
}

#billing-info
{
	width:189px;
}

#billing-info .transaction-details
{
	padding:0;
	border:none;
	width:190px
}

#billing-info .transaction-details .list-item {
	padding:2px;
}

#billing-info label{
	height:17px;
	width:85px;	
}
#billing-info span{
	width:98px;
}
.profile-info .form-size
{
	width:175px;
}

#other-actions
{
	width:198px;
}

#other-actions .list-item label {
	width:105px;
}

#color-analysis{
	margin-top:10px;
}

#clear-color-code label{
	margin-top:7px;
}

#btn-clear-color-code{
	float:right;
	width:85px;
}

#btn-update-other{
	margin-left:50px;
	margin-top:9px;
}

#admin-notes-container
{
	float:left;
	width:533px;
	height:350px;
	margin-right:15px;
	overflow:hidden;
}

#admin-notes-subcontainer{
	border:1px solid #000;
	overflow:auto;
	float:left;
	width:520px;
	height:315px;
	padding:5px;
}

#Note{
	width:368px;
	height:48px;
	float:left;
	margin-right:15px;
}

.scroll-headers
{
	width:200px;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #999999;
	background-color:#003366;
	color:#FFFFFF;
	padding:3px;
	font-weight:bold;
	font-size:12px;
}

#admin-add-note-btn
{
	width:109px;
	height:35px;
	margin-top:7px;
}

#admin-notes-table
{
	margin:7px 0;
	width:490px;
}

#admin-notes-table th,
#admin-notes-table td
{
	text-align:left;
	padding:4px 5px;
}
#admin-notes-table th
{
	font-weight:bold;
}

#suspend-reason-column
{
	width:50px;
	text-align:right;
}

.more-text div{
	border:1px solid #999;
	padding:3px;
}
.hide
{
	display:none;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}

div.ui-tabs{
	padding:0; 
}

.tabs-bottom  {
	position: relative; 
} 
.tabs-bottom .ui-tabs-panel  
{
	overflow: auto; 
	clear:both;
}

.ui-tabs div.ui-tabs-panel{
	padding:0 1.4em;
}

 
.tabs-bottom ul.ui-tabs-nav  {
	position: absolute !important; 
	left: 0; 
	bottom: 1px; 
	right:0; 
	padding: 0;
	background:none;
	border-width:1px 0 0 0; 
	border-style:solid; 
	border-color:#000;
	width:577px;
} 

.tabs-bottom .ui-tabs-nav li  {
	margin-top: -2px !important; 
	margin-bottom: 1px !important; 
	margin-right:-1px !important; 
	border: none; 
}

.tabs-bottom .ui-tabs-nav li.ui-state-default.ui-state-active {
	background:#d7d7d7;
}
.tabs-bottom .ui-tabs-nav li.ui-state-default {
	background:#f2f2f2
}
.ui-tabs-selected  {
	margin-top: -3px !important; 
}

div.ui-widget-content{
	border:none
}
		
div.ui-tabs .ui-tabs-nav li a {
	border:1px solid #000;
	float:left;
	padding:0 20px;
	text-decoration:none;
	color:#000000;
	font-weight:normal;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected{
	padding-bottom:0;	
}

.section-title{
	background-color:#003366;
	color:#FFFFFF;
	float:left;
	height:10px;
	margin:0;
	padding:4px 8px 6px;
	text-align:center;
	width:auto;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}

#transaction-container
{
	float:left;
	height:350px;
	width:620px;
	overflow:hidden;
	position:relative;	
}

.loading-bg {background: url('/Images/ajax-loader.gif') no-repeat center;}



#transaction-subcontainer{
	height:320px;
	width:595px;
	overflow:auto;
	position:relative;
	border:1px solid black;
	padding:2px 10px;
}

.transaction-history-item
{
	width:575px;
	float:left;
	margin-bottom:2px;	
}

.transaction-history-item li.list-item label{
	height:17px;
	width:78px;
}

.transaction-details-container li.list-item span{
	width:75px;
	
}

.transaction-details{
	float: left;
	padding: 8px; 
	width:159px;
	border-right: 1px solid #ccc;
}

.transaction-details-no-border{
	float: left;
	padding: 8px; 
	width:159px;
}

.transaction-details-left-border{
	float: left;
	padding: 8px; 
	width:159px;
	border-left: 1px solid #ccc;
}

.transaction-header{
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:#000;
	display:block;
	float:left;
	width:565px;
	padding:5px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}

.transaction-header.NonFinancial{
	background:#f2f2f2;
}
.transaction-header.FinancialWithGift{
	background:#6254B0;
}
.transaction-header.Financial.Successful{
	background:#d7ffe3;
}

.transaction-header.Financial.Failed{
	background:#ffb0b0;
}


.transaction-date{
	float: left; 
	font-weight: bold; 
	padding: 2px;
	width:180px
}

.admin-display{
	float:left;
}
.transaction-initial{
	float: right; 
	font-weight: bold;
	padding: 2px;
}

.transaction-details-container{
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:#000;
	margin-top:27px;
	width:100%;
	margin-bottom:19px;
	font-size:11px;
}

.transaction-history-item .list-item.no-border,
.no-border{
	border:none;
}

.transaction-details li{
	padding-bottom:5px;
}


#alertMessage
{
	position:absolute;
	display:none;
	left:20px;
	width:100%;
	height:auto;
	padding:5px 5px 5px 35px;
	overflow:hidden;
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:4px 3px 3px #888888;
	-webkit-border-radius:5px 5px 5px 5px;
	-webkit-box-shadow:4px 3px 3px #888888;
	border:1px solid #999999;
	display:block;
	left:20px;
	top:114px;
	width:300px;
	background:#f2f1df;
	font-weight:bold;
}

#alertMessage.error
{
	border-color:#ff0000;
	background:url(../Images/page_error.gif) 10px center no-repeat #ffecec;
	color:#000;
}

/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}


#popupEmailMessage{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:384px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#popupClose{
font-size:20px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}




/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}


.modal {
		background-color:#fff;
		display:none;
		width:50%;
		padding:15px;
		text-align:left;
		border:2px solid #333;
	
		opacity:1.0;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
	}
	
	
#email-activity-subcontainer{
	border:1px solid #000;
	overflow:auto;
	float:left;
	width:730px;
	
	padding:5px;
}

#email-activity-table
{
	margin:7px 0;
	width:730px;
}

#email-activity-table th,
#email-activity-table td
{
	text-align:left;
	font-size:small;
	padding:4px 5px;
}
#email-activity-table th
{
	font-weight:bold;
}

.view-message-click
{
    text-decoration:underline;
    color:Blue;
    cursor:pointer;
}


#tnt_pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

#tnt_pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}

#tnt_pagination .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

#tnt_pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

.folder-selection 
{
    padding-left:5px;
    
}

.score
{
  font-size:11px;
}
.smallText
{
    font-size:10px;
    color:Gray;
}

.verySmallText
{
    font-size:4px;
    color:Gray;
    padding-left:5px;
}

.memberLink
{
    text-decoration: underline; color: blue; background: white;
    cursor:pointer;
    padding-bottom:10px;
}

.regularLink
{
    text-decoration: underline; color: blue; background: white;
    cursor:pointer;
}
.memberLabel
{
	font-weight:bold;
	font-size:12px;
	padding-bottom:10px;
	
}
.regularLabel
{
    font-size:12px;
	padding-bottom:10px;
}
.liSpace
{
	padding: 2px 2px 2px 2px;
}
.memberText	
{
 text-align:left;
}

.profile-nav-label
{
    text-decoration:underline; color: White; 
    cursor:pointer;
     padding: 5px 5px 5px 5px;
    color:White;
}

 .city-name-clicked
   {
     text-decoration: none; color: blue; background: white;
     cursor:pointer;
     font-size:small;
   }
  .lookup-city-click 
  {
    text-decoration: underline; color: blue; background: white;
    cursor:pointer;
  
    text-align:left
    
  }
  

  .city-prefix-click
  {
     text-decoration: none; color: blue; background: white;
     cursor:pointer;
     font-size:small;
  }
  
  .selected-location-name-holder
  {
     text-decoration: underline; color: blue; background: white;
     cursor:pointer;
  }
    .debug
  {
      border: solid 2px red;
  }
  .search-region-selector-tabs
  {
      text-decoration: underline; color: blue; background: white;
     cursor:pointer;
  }
  
  
.list-item-small label
{
	float:left;
	height:25px;
	width:50px;
}

.list-item-small span
{
	float:right;
}

.main-div
{
   padding-top:10px; 
   border: solid 1px #ccc; 
   margin-top:10px;
   padding-left:10px;
}

.main-table
{
    vertical-align:top;
    
}

.defaultFontSize
{
    font-size:small;
}

.expandCollapse
{
    float:left;
    text-decoration:underline;
    cursor:pointer;
    color:Blue;
    width:150px;
}

.PromoSearchParams
{  
  width:80%; 
  text-align:right; 
}

.spanHeader
{
    padding-left:10px;
    padding-right:10px;
    text-decoration:underline;
    font-weight:bold;
}
spanLabel
{
    padding-left:10px;
    padding-right:10px;    
}

#promo-activity-table
{
	margin:7px 0;
	width:630px;
}

#promo-activity-table th,
#promo-activity-table td
{
	text-align:left;
	font-size:small;
	padding:4px 5px;
}
#promo-activity-table th
{
	font-weight:bold;

}

.cancel-plan-creation
{
    background:#ffffff;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	float:left;
	cursor:pointer;
	font-family:Arial,sans-serif;
	
}

.plan-input
{
    
}

.subAdminBreather
{
    padding: 10px 10px 10px 10px;
}

.error
{
     color:Red; 
     font-weight:bold;
}

.giftInfo
{
    z-index:9999999; 
    position:absolute; 
    top:30px; 
    right:30px; 
    left:10px; 
    bottom:30px; 
    background-color:White; 
    height:100px; 
    border:solid 1px black; 
    display:none;
}

.blue_sub_text
{
    color:Blue;
     font-size:6pt;
    
}

.blue_header_text
{
    color:Blue;
     font-size:7pt;
     font-weight:bold;
}

.gray_header_text
{
    color:Gray;
     font-size:10pt;
     font-weight:bold;
}
.grey_sub_title
{
    color:Gray;
    font-size:7pt;
}
#dneDownload-table { font-size: 12px; width: 30%; float: left;margin-top: 10px; }
#dneDownload-table th {padding: 10px 0 10px 0;}
#dneDownload-table td { padding: 3px;vertical-align: middle;}
#dneDownload-table tr td:first-child { float: right;}
#dneDownload-table tr td:first-child { vertical-align: bottom;}
select#SiteId { float: left;margin-right: 10px;}
div#dne-search { padding: 20px; font-size:small;}
.dne-results-table { margin-top:15px;width: 35%;line-height: 16px;}
.dne-results-text { background-color: #E6E6E6;font-weight: bold;padding: 5px;text-align: center;border-bottom: 5px solid white;font-size: 11px;border-top: 5px solid white;}
.dne-results-text.paging div {float: right; text-align: left;padding-right: 3px; }
.dne-results-text.paging a { text-decoration: none;padding: 0px;}
.dne-results-text a { text-decoration: none;padding: 0 10px 0 10px;}
.dne-results-text.paging a:hover, .dne-results-text a:hover { text-decoration: underline;}
.dne-results-table td { padding: 2px;}
.dne-download { width: 11%;}
.dne-no-results { padding-top: 10px;}
.field-validation-error {color: #ff0000;}

/* Iovation Results */
.theinfo .iovation_info { margin-top: 7px;}
.theinfo .iovation_info tr td:first-child { width: 50%; }
.expandinfo{ font-size: 12px; }
.expandinfo .iovation_info tr td:first-child { font-size:12px;font-weight: bold;padding-bottom: 10px; }
.expandinfo .iovation_info tr td:last-child { font-size :12px;padding-bottom: 10px; }


.subadmin_text_box
{
   width:150px;
}

/* SubAdmin - Resource Template Manager */
.template-query { font-size: 12px;margin: 15px;width: 1028px;}
#results-templates { min-height: 35px; min-width:35px;}
.template-detail { font-size: 12px;margin: 10px;}
.template-detail tr td { padding: 10px;}
.template-detail #Description { width: 380px;font-size: 12px;}
.template-detail #Content { font-size: 12px;height: 300px;width: 380px;}
.validation-summary-errors {color: #ff0000;}

/* ++Com--Facebook Likes Common */
.fb-likes-widget > li .image img { display:block; width:75px; }
.loading.spinner-only{ background:url(/Images/ajax-loader.gif) no-repeat 50% 40%; min-height:40px; }

/* ++Com--Facebook Likes Widget */
.fb-likes-widget-wrapper > h3 { margin:0 0 1em 0; }

.fb-likes-widget { overflow:hidden; position:relative; }
.fb-likes-widget > li { position:relative; padding:4px 0; overflow:hidden; }
.inline-edit .fb-likes-widget > li:hover { background-color:#eee; }
.fb-likes-widget > li h3 { font:bold 12px Arial !important; float:left; width:13%; }
.fb-likes-widget > li ol { float:left; width:85%; overflow:hidden; }
.fb-likes-widget > li ol > li { float: left; padding: 0 5px 5px 0; width: 78px; min-height:110px; position:relative; }
.fb-likes-widget > li ol > li .spr { display:none; position:absolute; top:8px; right:10px; }
.fb-likes-widget > li a { text-align:center; text-decoration:none; }
.fb-likes-widget > li .image { border: 4px solid #fff; display: block; width: 74px; height: 74px; overflow: hidden; }
.fb-likes-widget > li .image:hover { border-color:#936 !important; }
.prof-edit-active:hover .fb-likes-widget > li .image { border-color:#ddd; opacity:0.4; filter:alpha(opacity=40); }
.fb-likes-widget.edit > li .image,  .fb-likes-widget.edit > li .name{ opacity:0.4; filter:alpha(opacity=40); }
.fb-likes-widget.edit > li .selected .image,
.fb-likes-widget.edit > li .selected.approved .image, 
.fb-likes-widget.edit > li .selected .name, 
.fb-likes-widget.edit > li .approved .name { border-color:#25426B; opacity:1.0; filter:alpha(opacity=100); }
.fb-likes-widget.edit > li .approved .spr { display:block; width:16px; height:12px; background:url(/Images/icon-check-mark.png) no-repeat 0 0; }
.fb-likes-widget > li .name { color:#25426b; display: block; font-size: 11px; line-height:12px; padding:2px 0 0; overflow:hidden; height:25px; }
.fb-likes-widget > li ol input[type="checkbox"] { position:absolute; display:none; }

#fbLikesView .prof-edit-button{ display:none; }
#fbLikesView.prof-edit-active:hover .prof-edit-button{ display:block; }
#blockDiv {margin:20px 20px 20px 200px;}

.suspend-box {margin:1em 0 0 0;}
.suspend-box .dropdown-box {border: 1px solid #666; background-color: #ddd; margin:0 0 0 1em; padding: 10px; width: 200px;}


.highlightText 
{
    border:1px solid red;
}

.searchDocumentationBlock {float:left;font-size:12px;width:900px; text-align:left;line-height:15px; padding-left:40px; padding-top:30px;}

.searchDocumentationBlock p 
{
   padding-top:25px;padding-bottom:7px;
}


.green_label
{
   color:Green;
}

.red_label
{
   color:Red;
}



/* Training Tool css */
.ttManageGrouping
        {
            padding-left:20px;
        }
    
       .ttManageGrouping li 
       {
            padding-bottom:10px;
            text-align:center;
       }
       
       .ttManageGrouping div
       {
           border: 1px solid black;
           margin:10px;
           padding:5px;
           -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            height:150px;
            width:300px; 
            float:left;
       }
       
       .ttManageGrouping div:nth-child(1)
       {
           background-color:#A6D785;
       }
       
       .ttManageGrouping div:nth-child(2)
       {
           background-color:#FFEC8B;
          
       }
       
       .ttManageGrouping div:nth-child(3)
       {
           background-color:#B19CD9;
          
       }
       
       .ttManageGrouping span
       {
           font-weight:600;
           font-size:12px;
       }
       
       .ttManageGrouping input[type="button"]
       {
           
       }
       
       .ttCreateGrouping
       {
           border: 1px solid black;
           margin:10px;
           padding:5px;
           -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            height: 50px;
            width:100%; 
            float:left;
            font-weight:600;
           font-size:12px;
       }
       
       .ttCreateGrouping div
       {
            width:300px; 
           
       }
       
       .ttCreateGrouping li 
       {
            padding-bottom:10px;
            text-align:center;
       } 
       
       
       
/* end of traing tool css */