#confirm {display:none;}

/* Overlay */
#confirm-overlay
 {
     background-color:#eee; 
     cursor:wait;
 }

/* Container */
#confirm-container 
{
    height:140px; 
    width:420px; 
    font: 16px/22px 'Trebuchet MS', Verdana, Arial; 
    text-align:left; 
    background:#fff; 
    border:1px solid #cccccc;
}

#confirm-container .header {height:30px; line-height:30px; width:100%; font-weight:bold;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; font-size:14px; margin-left:50px; padding:12px 4px 12px 8px;}

#confirm-container .buttons {line-height:26px;  margin-left:114px; width:160px; float:inherit; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:normal; text-align:center; border:1px solid #bbb; cursor:pointer;} 

#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#ff0000;}
#confirm-container a.modal-close:hover {color:#ccc;}