﻿
#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	margin:7px 0;
	width:730px;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	text-align:left;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}

.hor-minimalist-label
{
     
	color: #669;
	padding: 6px 8px;
	font-size: 12px;
}

.hor-minimalist-header
{
    margin: 45px;
    font-size: 16px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	text-align:left;
}

.view-message-click-1
{
    text-decoration:underline;
    cursor:pointer;
}

.hor-minimalist-label
{
    color: #669;
	font-size: 12px;
}

.hor-minimalist-header
{
    font-size: 16px;
	font-weight: normal;
	color: #039;
	 
}


.imHistory
{
     max-width:950px;
        
}
.imHistory li
{
    display: inline-block;
    border-bottom: 2px solid #6678b1;
    color: #039;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: left;
       
}

#standardList li
{
    display: inline-block;
    border-bottom: 1px solid #ccc;
    color: #669;
    font-weight: normal;
    font-size: 12px;
    padding: 10px 8px;
}

#listCont {
    max-width:950px;
}

#listCont li{
   width:200px;
}

     
* {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
 margin: 0; padding: 0;
}
ol, ul {
 list-style: none
}
.clearfix:after {
 content: "."; display: block; height: 0; clear: both; visibility: hidden;
}
.clearfix {
 display: inline-block
}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {
 height: 1%
}
.clearfix {
 display: block
}
.timestamp {
 color: #999999; font-size: 11px;
}
.message-cont .chat_messages {
  overflow-y: scroll;
}
.chat_message {
 position: relative; padding: 9px 14px 9px 0;
}
.chat_message .profile {
 position: absolute; bottom: 0; width: 58px;
}
.chat_message.me .profile {
 right: 20px
}
.chat_message.other .prifle {
 left: 0
}
/* ========== Chat Bubbles ========== */
.other .chat_bubble, .me .chat_bubble {
 margin: 0 70px 0 10px; padding: 12px; position: relative; border-style: solid; border-width: 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: inset 0px 46px 28px -30px white; -webkit-box-shadow: inset 0px 46px 28px -30px white; box-shadow: inset 0px 46px 28px -30px white; line-height: 1.5em; color: #333; word-wrap: break-word;
}
.other .chat_bubble:before, .me .chat_bubble:before, .other .chat_bubble:after, .me .chat_bubble:after {
 content: ""; position: absolute; right: 5px;
}
.other .chat_bubble:before, .me .chat_bubble:before {
 height: 10px; bottom: -19px; border-left: 26px solid #eaf5bf; background: #e3f1a9; -moz-border-radius-bottomleft: 50px 30px; -webkit-border-bottom-left-radius: 50px 30px; border-bottom-left-radius: 50px 30px; -moz-transform: translate(0, -8px); -ms-transform: translate(0, -8px); -webkit-transform: translate(0, -8px); transform: translate(0, -8px);
}
.other .chat_bubble:after, .me .chat_bubble:after {
 width: 14px; height: 10px; bottom: -19px; background: #ffffff; -moz-border-radius-bottomleft: 60px 60px; -webkit-border-bottom-left-radius: 60px 60px; border-bottom-left-radius: 60px 60px; -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -webkit-transform: translate(0px, -8px); transform: translate(0px, -8px);
}
.other .chat_bubble {
 margin: 0 10px 0 60px
}
.other .chat_bubble:before, .other .chat_bubble:after {
 right: auto; left: 5px;
}
.other .chat_bubble:before {
 border-left: none; border-right: 26px solid #eaeaea; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 50px 30px; -webkit-border-bottom-right-radius: 50px 30px; border-bottom-right-radius: 50px 30px;
}
.other .chat_bubble:after {
 -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 60px 60px; -webkit-border-bottom-right-radius: 60px 60px; border-bottom-right-radius: 60px 60px; -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -webkit-transform: translate(0px, -8px); transform: translate(0px, -8px);
}
.chat_bubble {
 font-size: 13px
}
.chat_bubble img {
 display: block; margin: .5em 0; max-width: 100%; height: auto;
}
.chat_bubble .spr {
 vertical-align: bottom
}
.me .chat_bubble {
 background-color: #e3f1a9; border-color: #e3f1a9;
}
.other .chat_bubble {
 background-color: #dddddd; border-color: #dddddd;
}
.ie9 .me .chat_bubble:after, .ie9 .me .chat_bubble:before, .ie9 .other .chat_bubble:after, .ie9 .other .chat_bubble:before {
 bottom: -10px
}

.spr[data-type="emoticon"] { vertical-align: middle; display: inline-block; }

.icons-sprite, .icons-smiley-a-0000, .icons-smiley-a-0001, .icons-smiley-a-0002, .icons-smiley-a-0003, .icons-smiley-a-0004, .icons-smiley-a-0005, .icons-smiley-a-0006, .icons-smiley-a-0007, .icons-smiley-a-0008, .icons-smiley-a-0009, .icons-smiley-a-0010, .icons-smiley-a-0011, .icons-smiley-a-0012, .icons-smiley-a-0013, .icons-smiley-a-0014, .icons-smiley-a-0015, .icons-smiley-a-0016, .icons-smiley-a-0017, .icons-smiley-a-0018, .icons-smiley-a-0019, .icons-smiley-a-0020, .icons-smiley-a-0021, .icons-smiley-a-0022, .icons-smiley-a-0023, .icons-smiley-a-0024, .icons-smiley-a-0025, .icons-smiley-a-0026, .icons-smiley-a-0027, .icons-smiley-a-0028, .icons-smiley-a-0029, .icons-smiley-b-0001, .icons-smiley-b-0002, .icons-smiley-b-0003, .icons-smiley-b-0004, .icons-smiley-b-0005, .icons-smiley-b-0006, .icons-smiley-b-0007, .icons-smiley-b-0008, .icons-smiley-b-0009, .icons-smiley-b-0010, .icons-smiley-b-0011, .icons-smiley-b-0012, .icons-smiley-b-0013, .icons-smiley-b-0014, .icons-smiley-b-0015, .icons-smiley-b-0016, .icons-smiley-b-0017, .icons-smiley-b-0018, .icons-smiley-b-0019, .icons-smiley-b-0020, .icons-smiley-b-0021, .icons-smiley-b-0022, .icons-smiley-b-0023, .icons-smiley-b-0024, .icons-smiley-b-0025, .icons-smiley-b-0026, .icons-smiley-b-0027, .icons-smiley-b-0028, .icons-smiley-b-0029, .icons-smiley-b-0030, .icons-smiley-b-0031, .icons-smiley-b-0032, .icons-smiley-b-0033, .icons-smiley-b-0034, .icons-smiley-b-0035, .icons-smiley-b-0036, .icons-smiley-b-0037, .icons-smiley-b-0038, .icons-smiley-b-0039, .icons-smiley-b-0040 { background-image: url('../Images/icons.png'); background-repeat: no-repeat; }

.icons-smiley-a-0000 { background-position: 0 0; height: 32px; width: 32px; }

.icons-smiley-a-0001 { background-position: 0 -52px; height: 32px; width: 32px; }

.icons-smiley-a-0002 { background-position: 0 -104px; height: 32px; width: 32px; }

.icons-smiley-a-0003 { background-position: 0 -156px; height: 32px; width: 32px; }

.icons-smiley-a-0004 { background-position: 0 -208px; height: 32px; width: 32px; }

.icons-smiley-a-0005 { background-position: 0 -260px; height: 32px; width: 32px; }

.icons-smiley-a-0006 { background-position: 0 -312px; height: 32px; width: 32px; }

.icons-smiley-a-0007 { background-position: 0 -364px; height: 32px; width: 32px; }

.icons-smiley-a-0008 { background-position: 0 -416px; height: 32px; width: 32px; }

.icons-smiley-a-0009 { background-position: 0 -468px; height: 32px; width: 32px; }

.icons-smiley-a-0010 { background-position: 0 -520px; height: 32px; width: 32px; }

.icons-smiley-a-0011 { background-position: 0 -572px; height: 32px; width: 32px; }

.icons-smiley-a-0012 { background-position: 0 -624px; height: 32px; width: 32px; }

.icons-smiley-a-0013 { background-position: 0 -676px; height: 32px; width: 32px; }

.icons-smiley-a-0014 { background-position: 0 -728px; height: 32px; width: 32px; }

.icons-smiley-a-0015 { background-position: 0 -780px; height: 32px; width: 32px; }

.icons-smiley-a-0016 { background-position: 0 -832px; height: 32px; width: 32px; }

.icons-smiley-a-0017 { background-position: 0 -884px; height: 32px; width: 32px; }

.icons-smiley-a-0018 { background-position: 0 -936px; height: 32px; width: 32px; }

.icons-smiley-a-0019 { background-position: 0 -988px; height: 32px; width: 32px; }

.icons-smiley-a-0020 { background-position: 0 -1040px; height: 32px; width: 32px; }

.icons-smiley-a-0021 { background-position: 0 -1092px; height: 32px; width: 32px; }

.icons-smiley-a-0022 { background-position: 0 -1144px; height: 32px; width: 32px; }

.icons-smiley-a-0023 { background-position: 0 -1196px; height: 32px; width: 32px; }

.icons-smiley-a-0024 { background-position: 0 -1248px; height: 32px; width: 32px; }

.icons-smiley-a-0025 { background-position: 0 -1300px; height: 32px; width: 32px; }

.icons-smiley-a-0026 { background-position: 0 -1352px; height: 32px; width: 32px; }

.icons-smiley-a-0027 { background-position: 0 -1404px; height: 32px; width: 32px; }

.icons-smiley-a-0028 { background-position: 0 -1456px; height: 32px; width: 32px; }

.icons-smiley-a-0029 { background-position: 0 -1508px; height: 32px; width: 32px; }

.icons-smiley-b-0001 { background-position: 0 -1560px; height: 32px; width: 32px; }

.icons-smiley-b-0002 { background-position: 0 -1612px; height: 32px; width: 32px; }

.icons-smiley-b-0003 { background-position: 0 -1664px; height: 32px; width: 32px; }

.icons-smiley-b-0004 { background-position: 0 -1716px; height: 32px; width: 32px; }

.icons-smiley-b-0005 { background-position: 0 -1768px; height: 32px; width: 32px; }

.icons-smiley-b-0006 { background-position: 0 -1820px; height: 32px; width: 32px; }

.icons-smiley-b-0007 { background-position: 0 -1872px; height: 32px; width: 32px; }

.icons-smiley-b-0008 { background-position: 0 -1924px; height: 32px; width: 32px; }

.icons-smiley-b-0009 { background-position: 0 -1976px; height: 32px; width: 32px; }

.icons-smiley-b-0010 { background-position: 0 -2028px; height: 32px; width: 32px; }

.icons-smiley-b-0011 { background-position: 0 -2080px; height: 32px; width: 32px; }

.icons-smiley-b-0012 { background-position: 0 -2132px; height: 32px; width: 32px; }

.icons-smiley-b-0013 { background-position: 0 -2184px; height: 32px; width: 32px; }

.icons-smiley-b-0014 { background-position: 0 -2236px; height: 32px; width: 32px; }

.icons-smiley-b-0015 { background-position: 0 -2288px; height: 32px; width: 32px; }

.icons-smiley-b-0016 { background-position: 0 -2340px; height: 32px; width: 32px; }

.icons-smiley-b-0017 { background-position: 0 -2392px; height: 32px; width: 32px; }

.icons-smiley-b-0018 { background-position: 0 -2444px; height: 32px; width: 32px; }

.icons-smiley-b-0019 { background-position: 0 -2496px; height: 32px; width: 32px; }

.icons-smiley-b-0020 { background-position: 0 -2548px; height: 32px; width: 32px; }

.icons-smiley-b-0021 { background-position: 0 -2600px; height: 32px; width: 32px; }

.icons-smiley-b-0022 { background-position: 0 -2652px; height: 32px; width: 32px; }

.icons-smiley-b-0023 { background-position: 0 -2704px; height: 32px; width: 32px; }

.icons-smiley-b-0024 { background-position: 0 -2756px; height: 32px; width: 32px; }

.icons-smiley-b-0025 { background-position: 0 -2808px; height: 32px; width: 32px; }

.icons-smiley-b-0026 { background-position: 0 -2860px; height: 32px; width: 32px; }

.icons-smiley-b-0027 { background-position: 0 -2912px; height: 32px; width: 32px; }

.icons-smiley-b-0028 { background-position: 0 -2964px; height: 32px; width: 32px; }

.icons-smiley-b-0029 { background-position: 0 -3016px; height: 32px; width: 32px; }

.icons-smiley-b-0030 { background-position: 0 -3068px; height: 32px; width: 32px; }

.icons-smiley-b-0031 { background-position: 0 -3120px; height: 32px; width: 32px; }

.icons-smiley-b-0032 { background-position: 0 -3172px; height: 32px; width: 32px; }

.icons-smiley-b-0033 { background-position: 0 -3224px; height: 32px; width: 32px; }

.icons-smiley-b-0034 { background-position: 0 -3276px; height: 32px; width: 32px; }

.icons-smiley-b-0035 { background-position: 0 -3328px; height: 32px; width: 32px; }

.icons-smiley-b-0036 { background-position: 0 -3380px; height: 32px; width: 32px; }

.icons-smiley-b-0037 { background-position: 0 -3432px; height: 32px; width: 32px; }

.icons-smiley-b-0038 { background-position: 0 -3484px; height: 32px; width: 32px; }

.icons-smiley-b-0039 { background-position: 0 -3536px; height: 32px; width: 32px; }

.icons-smiley-b-0040 { background-position: 0 -3588px; height: 32px; width: 32px; }




#message_pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}

#message_pagination a:link, #pager a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

#message_pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}

#message_pagination .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

#message_pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

#message_pagination2 {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}

#message_pagination2 a:link, #pager a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

#message_pagination2 a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}

#message_pagination2 .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

#message_pagination2 .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:0px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}