﻿/*----------------------------------------------------------
Credit Tool default css
----------------------------------------------------------*/
body {background-color: #fff;font-size: .75em;font-family: Verdana, Helvetica, Sans-Serif;margin: 0;padding: 0;color: #000;} 
a:link {color: #000080; text-decoration: underline;}
a:visited{color: #000080;}
a:hover {color: #1d60ff;text-decoration: none;}
a:active {color: #000;}
p, ul {margin-bottom: 20px;line-height: 1.6em;}

/* HEADINGS   
    ----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size: 1.5em;color: #000;font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 2em;padding-bottom: 0;margin-bottom: 0;}
h2 {padding: 0 0 0 0;margin-bottom: 0;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5, h6 {font-size: 1em;}

/* this rule styles <h2> tags that are the 
    first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0;}

/* PRIMARY LAYOUT ELEMENTS   
    ----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
    page width. Or, you can specify an exact pixel width. */
.page {width: 90%;margin-left: auto;margin-right: auto;}

#header {position: relative;margin-bottom: 0px;color: #000;padding: 0;}
#header h1 {font-weight: bold;padding: 5px 0;margin: 0;color: #000;border: none;font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;}
    
#main {padding: 30px 30px 15px 30px;background-color: #fff;margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */}

#footer {border-top: 25px #E87839 solid;color: #000;padding: 10px 0;text-align: left;line-height: normal;
    margin: 0;font-size: .9em;}
#footerPf{border-top: 1px #E87839 solid;color: #000;padding: 10px 0;text-align: left;line-height: normal;
    margin: 0;font-size: .9em;}

/* TAB MENU   
    ----------------------------------------------------------*/
ul#menu {border-bottom: 2px #000 solid;padding: 0 0 0px;position: relative;margin: 0;text-align: left;}
ul#menu li {display: inline;list-style: none;}
ul#menu li#greeting {padding: 5px 10px;font-weight: bold;text-decoration: none;line-height: 2em;color: #fff;}
ul#menu li a {padding: 5px 20px;font-weight: bold;text-decoration: none;line-height: 2em;background-color: #E87839;color: #000;}
ul#menu li a:hover {background-color: #fff;text-decoration: none;}
ul#menu li a:active {background-color: #fff;text-decoration: none;}
ul#menu li a.selected {background-color: #F7BE81;color: #000;}

/* FORM LAYOUT ELEMENTS   
    ----------------------------------------------------------*/

fieldset {margin: 1em 0;padding: 1em;border: 1px solid #CCC;}
fieldset p {margin: 2px 12px 10px 10px;}
fieldset label {display: block;}
fieldset label.inline {display: inline;}
legend {font-size: 1.1em;font-weight: 600;padding: 2px 4px 8px 4px;}

input[type="text"] {width: 200px;border: 1px solid #ccc;}
input[type="password"] {width: 200px;border: 1px solid #ccc;}
input#amount, input#confirmAmount {width: 110px;}
input#confirmAmount {margin-right: 88px;}
select {width: 200px;border: 1px solid #ccc;}
select#monthList {width: 90px;}
select#yearList {width: 98px;}
select#currencyList {width: 80px;}
label {font-weight:bold;}
.focusField {background-color:Yellow;}
/* TABLE
    ----------------------------------------------------------*/

table {border: solid 1px #e8eef4;border-collapse: collapse;}
table td {padding: 5px;border: solid 1px #e8eef4;}
table th {padding: 6px 5px;text-align: left;background-color: #e8eef4;border: solid 1px #e8eef4; vertical-align:bottom}

/* MISC  
    ----------------------------------------------------------*/
.clear {clear: both;}
.error {color: Red;}
.hide {display:none; visibility:hidden;}
.show {display:block; visibility:visible;}

#menucontainer {margin-top: 40px;}
div#title {display: block;float: left;text-align: left; margin-top:20px;}
#logodisplay {text-align: right;display: block; margin-top:20px;}
#logindisplay {font-size: 1.1em;display: block;text-align: right;margin: 10px;color: White;}
#logindisplay a:link {color: white;text-decoration: underline;}
#logindisplay a:visited {color: white;text-decoration: underline;}
#logindisplay a:hover {color: white;text-decoration: none;}

.field-validation-error {color: #ff0000;}
.input-validation-error {border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors {font-weight: bold;color: #ff0000;}

label.error {float: none;color: red;padding-left: .5em;vertical-align: top;}
.reminder{font-size: 1.3em;}
