
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
	border-bottom: 1px solid;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			100%; /* left offset of submenus need to match (see below) */

}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			20px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;

}
.sf-menu a {
	padding: 		4px 15px;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#FFFFFF;
}
.sf-menu li {
	/* background:		#003366; /* Bg color for LIs when not hovered over */
	
	
}

.sf-menu li li {
	background:		#a5a9cb; /* One level down */
	width:100%;
	text-align:center;
}
.sf-menu li li li {
	background:		#9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#4a4f82;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/*** Photo approval ***/
.theinfo {
    width: 267px;
    font-size: 11px;
    line-height: 1.5;
    margin-left: 29px;
    margin-top: 10px;
}

.theinfo div {
    border: 1px solid #e1e1e1;
    padding: 3px;
}

.theinfo div h1 {
    font-size: 12px;
    margin: 0px;
    color: #000099;
}

.theinfo div table {
    width: 100%;
}

.theinfo input {
    vertical-align: text-top;
}

/*** approval count ***/
.approval_count {
    margin-left: 20px;
}

.approval_count .form tr td {
    padding: 3px;
    font-size: 12px;
}

.approval_count .totals {
    font-size: 12px;
}

.approval_count .totals tr th {
    text-align: left; 
    padding: 3px; 
    font-weight: normal;
}
.approval_count .totals tr td {
    text-align: left; 
    padding-left: 10px; 
    font-weight: bold;
}

.approval_count .rows tr th {
    padding: 5px;
    background-color: #003366;
    width: 100px;
    text-align: left;
    border-left: 1px solid #ffffff;
}

.approval_count .rows .emailcolumn {
    width: 200px;
}
.approval_count .rows tr td {
    padding: 5px;
    border-bottom: 1px solid #666666;
    padding-right: 30px;
}

.approval_count .rows a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.photoage {
    font-weight: bold;
}

/*** Approve Free Text ***/

.info_table
{
    
    
}

.info_table td
{
    font-size: 11px;
    font-family: Arial;
    vertical-align: top;    
}

.info_table .attributename 
{
    text-align: left;
    word-wrap: break-word;
    max-width:100px;
}

.info_table .attributename2 
{
    text-align: left;
     width:300px; 
    
}

.info_table tr td img 
{
    vertical-align: text-top;
     
}

.info_table td input[type=submit]
{
    width: 200px; 
}

#management-sidebar div 
{
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 10px;
}

#management-sidebar div span 
{
    font-weight: bold;
    display: inline-block;
    width: 70px;
}

#management-sidebar
{
    background-color: #ffffff;
    float: left;
    height: 100%;
    min-height: 1000px;
    width: 155px;
}

#management-sidebar img
{
    margin-left: 15px;
    
}

#management-sidebar .approval_queue, #management-sidebar .approval_member_info
{
    margin: 2px;
    margin-top: 20px;
    border: 1px solid #cacafc;
    padding-bottom: 10px;
}

#management-sidebar .approval_member_info
{
    background-color: #ffffff;
}

#management-sidebar .approval_queue strong 
{
    font-weight: bold;
    display: inline-block;
}

#management-sidebar .approval_queue 
{
    background-color: #eaeaff;
}

#management-sidebar .approval_queue span 
{
    display: inline-block;
    width: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    margin-top: 10px;
}

#management-sidebar .approval_queue div 
{
    display: inline-block !important;
    amargin: 5px;
    width: 100px;
}

.no_more_item 
{
    font-size: 11px;
    font-family: Arial;
    padding-top: 30px;
    margin-left: 200px;
}

.queue_count_result 
{
    margin-top: 30px;
    font-size: 12px;
}

.queue_count_result strong
{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.queue_count_result th 
{
    color: #ffffff;
}

.approval_box 
{
    font-size: 12px;
    border: 1px solid #cacafc;
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    margin: 2px;
    margin-top: 20px;
    display: block;
}

.approval_box a
{
    color: #0000ff;
}

#return-to-search 
{
    margin-top: 20px;
}
.approval_count .rows .review-ondemand-sample
{
    width:50px;
    height:15px;
}

.approval_count .review-ondemand-Queue
{
    float: right;
}

.approval_count .review-ondemand-Queue .error-Message,
.approval_count .review-ondemand-Queue .number-error-Message,
.approval_count .samplerate-errormsg
{
    color: red;
    font-size: 12px;
    display: none;
}

.photoage {
    font-weight: bold;
}

table.ondemand-review-count tr
{
    font-size: 12px;
    height: 30px;
}
table.ondemand-review-count tr td,
table.ondemand-review-count tr th {
    padding-right: 20px;
    text-align: left;
}

/* Review Count */
.review_count {
    float: right;
    border: 1px solid;
    padding: 10px;
    margin-right: 500px;
    font-size: 12px;
}

.review_count ul {
    float: left;
}
.review_count ul li {
    margin-bottom: 10px;
    min-height: 11px;
}

.review_count ul li div {
    float: left;
}

.review_count ul li div.title {
    width: 110px;
}

.review_count div.action {
    float: left;
    padding-left: 20px;  
}

.review_left div.review_info
{
    width: 135px;
    word-wrap: break-word;
    margin-top: 10px;
    
}
.review_attr
{
   
}

.review_attr .options {
    clear: both;
}

.review_attr .options span {
    font-size:12px;
}

.review_status .hideMe {
    display: none;   
}

.review_attr div
{
   margin: 5px;
}
.review_attr > div > div {
   display: inline-block;
}

.review_attr .attr-name {
    font-family: arial;
    font-size: 11px;
    float: left;
    margin-top: 15px;
    text-align: right;
    width: 160px;
}

.review_attr .attr-value
{
    padding: 10px;
    border: 1px solid grey;
    max-height: 90px;
    width: 690px;
    font-size: 11pt;
    overflow-y: scroll;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.review_attr .attr-text-value
{
    padding: 10px 20px 10px 0px;
    max-height: 125px;
    width: 690px;
    font-size: 11px;
    font-family: arial,sans-serif
}

.review_attr .attr-text-value td
{
    font-size: 11pt;
    font-family: arial,sans-serif
}

.review_attr .new {
    margin-bottom: 25px;
    min-height: 80px;
}

.review_attr .review_status
{
    clear: both;
     font-family: arial;
    font-size: 11px;
    vertical-align: top;
    margin-left: 5px;
}

.review_attr .review_status .review_option
{
    float: left;
    margin-top: 0px;    
}
.review-notes
{
    padding-left: 350px;
}

.review-notes textarea {
    width: 700px;
    height: 100px;
}

.review-notes .approval-notes
{
    float: left;
    padding-right: 20px;
}

.review-notes span.mceEditor
{
    float: left;
}

.review-notes .suspend-reasons
{
    display: none; 
    border: 1px solid #666666; 
    padding: 10px; 
    background-color: #dddddd; 
    float:left; 
    margin-left:20px; 
}

.samplerate ul li {
    display: block;
    margin: 15px;
}
.samplerate ul li div
{
    display: inline-block;
}

.samplerate ul li div input[type="text"]
{
    width: 25px;
    text-align: right;
}

#samplerateresults
{
    position: relative;
    margin-left: 155px;
}

/*** Approve Free Text ***/

.info_table td
{
    font-size: 11px;
    font-family: Arial;
    padding: 10px;
    vertical-align: top;    
}

.info_table .attributename 
{
    text-align: right;
}

.info_table tr td img 
{
    vertical-align: text-top;
    padding-left: 20px;
}

.info_table td input[type=submit]
{
    width: 200px; 
}

#management-sidebar div 
{
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 10px;
}

#management-sidebar div span 
{
    font-weight: bold;
    display: inline-block;
    width: 70px;
}

#management-sidebar
{
    background-color: #ffffff;
    float: left;
    height: 100%;
    min-height: 1000px;
    width: 155px;
}

#management-sidebar img
{
    margin-left: 15px;
    
}

#management-sidebar .approval_queue, #management-sidebar .approval_member_info
{
    margin: 2px;
    margin-top: 20px;
    border: 1px solid #cacafc;
    padding-bottom: 10px;
}

#management-sidebar .approval_member_info
{
    background-color: #ffffff;
}

#management-sidebar .approval_queue strong 
{
    font-weight: bold;
    display: inline-block;
}

#management-sidebar .approval_queue 
{
    background-color: #eaeaff;
}

#management-sidebar .approval_queue span 
{
    display: inline-block;
    width: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    margin-top: 10px;
}

#management-sidebar .approval_queue div 
{
    display: inline-block !important;
    amargin: 5px;
    width: 100px;
}

.no_more_item 
{
    font-size: 11px;
    font-family: Arial;
    padding-top: 30px;
    margin-left: 200px;
}

.queue_count_result 
{
    margin-top: 30px;
    font-size: 12px;
}

.queue_count_result strong
{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.queue_count_result th 
{
    color: #ffffff;
}

.approval_box 
{
    font-size: 12px;
    border: 1px solid #cacafc;
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    margin: 2px;
    margin-top: 20px;
    display: block;
}

.approval_box a
{
    color: #0000ff;
}

#return-to-search 
{
    margin-top: 20px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
    word-wrap: break-word;
    width: 160px;
    height: 63px;
}
