﻿.caption
{
    width:230px;
    height: 50px;
    /*border: solid 1px ;*/
}

a.buttonALink:link, a.buttonALink:visited, a.buttonALink:hover, a.buttonALink:active
{
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 12px;
    display: inline-block;
}

.bold
{
    font-weight: bold;
}
.lightest
{
    background: #fafaf8;
}

.activityButton
{
    border: 1px solid #333;
    background: #5362b5;
    color: #fff;
}
.alignRTL
{
    text-align: right;
}
#prefBorder
{
    border: 1px solid #969edb;
    width:600px;
}
#rightNew div.borderDark
{
    width: 582px;
    border: solid 5px #eceff2;
}
.rightNewAlignOverride #rightNew
{
    float: left;
}
.medium
{
    background: #eef1f9;
}
BODY
{
    font-family: verdana,sans-serif;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    color: #000;
    background: url("../img/bknd.gif");
    voice-family: "\"}\"";
    voice-family: inherit;
}
h1
{
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 6px;
}
h2
{
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
    margin-top: 0;
}
hr
{
    height: 1px;
    padding: 0;
    border: 0;
}
input, select
{
    font-family: verdana,sans-serif;
    font-size: 11px;
}
table
{
    font-size: 11px;
    line-height: 16px;
}
form
{
    display: inline;
}
textarea
{
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
}