/* fonts 
@include font-face("EntypoRegular", font-files("fonts/entypo-webfont.eot", "fonts/entypo-webfont.woff", "fonts/entypo-webfont.ttf", "fonts/entypo-webfont.svg"));
*/

@font-face {
    font-family: 'EntypoRegular';
    src: url('fonts/entypo-webfont.eot');
    src: url('fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-webfont.woff') format('woff'),
         url('fonts/entypo-webfont.ttf') format('truetype'),
         url('fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}