/* body layout */
body{
	background-color: lighten($c-shading, 37%);
	.no-generatedcontent &{
		background: lighten($c-shading, 37%) url(#{$p-images}bg.png) repeat-x 0 0;
	}
}
body:after{
	background-color:#fff;
	position:absolute;
	width:100%;
	height:158px;
	top:0;
	left:0;
	display:block;
	content:" ";
	z-index:-1;
}

/* content layout */
[role="banner"]{
	width:$n-container-width;
	margin:0 auto;
	min-height:126px;
	font-size:74%;
	a.logo{
		display:block;
		float:left;
		margin:6em 1em 1em;
		.ie7 &{
			margin-top:3.5em;
		}
	}
}

#container{
	width:$n-container-width;
	margin:0 auto;
	font-size:74%;
	background-color: white;
	padding:3px;
	border:1px solid transparent;
	@extend .box-shadow;
	@include border-radius(6px);
	.no-boxshadow &{
		border:1px solid $c-shading;
	}
	> nav{
		background-color:$c-base2;
	}
	> .nav-alternative{
        min-height: 68px;
        background: url(#{$p-images}ui-bg-header.png) repeat-x 0 bottom;
        margin: 0 0 .5em;
        padding: .75em 0 1em 6em;
	}
	.ie8 &{
		position:relative;
	}
}
[role="content"]{
	padding:.5em;
}
[role="siteinfo"]{
	background-color: $c-siteinfo-bg;
	color: $c-siteinfo-color;
	clear: both;
	margin: 6em auto 0;
	font-size:74%;
    .footer-container{
        width: $n-container-width;
        margin: 0 auto;
        padding: 2em 0;
    }
	.footer-single-link{
		text-align:center;
		margin-bottom:2px;
	}
	a{
		font-weight:normal;
		@include link-colors($c-siteinfo-color, #fff, $c-siteinfo-color, $c-siteinfo-color, $c-siteinfo-color);
	}
    nav{
        a{
            padding: 0 .25em 0 .5em;
            border-left: 1px solid $c-siteinfo-color;
        }
        li:first-child a{
            border-left: none;
        }
    }
}

.header-nav{
	font-size:1.17em;
	margin-top:1em;
	float:right;
}