﻿.p-reg-conf {
    h1 {
        padding: 2em;
        font: normal 16px $f-subjects;
        line-height: 1.5em;
        text-align: center;
        color: $c-text;
    }

    [role="marketing"] {
        position: relative;
        width: 33.33%;
        float: left;
        text-align: center;
        min-height: 400px;

        h2 {
            color: $c-base2;
        }

        .info {
            width: 100%;
            position: absolute;
            top: 172px;
        }

        .tag-line {
            color: $c-base2;
            padding: 0 2.5em;
        }

        .cta {
            font-size: 140%;
            text-transform: uppercase;
        }
    }

    // [role="content-main"]{
    //     float:left;
    //     width:65%;
    //     .ie7 & {
    //         width:39.5%;
    //     }
    //     margin-right:1%;
    //     padding:1em 27em .5em .5em;
    //     background-image: url(#{$p-images}ui-reg-welcome-mood.jpg);
    //     background-repeat: no-repeat;
    //     background-position: right bottom;
    //     min-height: 38.2em;
    //     @extend .box-border-thick-shaded;
    //     > h1{
    //         @extend .reset;
    //         position:relative;
    //         width:202%;
    //         color:$c-base2;
    //     }
    //     .intro{
    //         position:relative;
    //         width:202%;
    //     }
    //     .cta{
    //         margin-top:1em;
    //         font-size:140%;
    //         text-align:center;
    //     }
    //     .ui-arrows{
    //         margin-left:3em;
    //     }
    // }
    // [role="content-secondary"]{
    //     float:left;
    //     width:34%;
    //     > section{
    //         margin: 0 0 1em;
    //         background-color: white;
    //         @extend .box-border-thick;
    //         padding:1em;
    //         > h1{
    //             font-size: 165%;
    //             @extend .reset;
    //             @extend .font-royalty;
    //             color:$c-base2;
    //         }
    //         img{
    //             float: left;
    //             height: 119px;
    //             margin: .5em 0.5em 1em 0;
    //             width: 155px;
    //         }
    //         .cta{
    //             text-align:center;
    //             font-size:138%;
    //             .ie7 & {
    //                 clear:both;
    //             }
    //         }
    //     }
    // }
}

.btn-icon.link-primary {
    text-decoration: none;
    padding: 8px 12px;

    .btn-icon-text, .btn-icon-icon, .btn-icon-icon img {
        display: inline-block;
        vertical-align: middle;
    }

    .btn-icon-text {
        margin-left: 8px;
    }

    &:hover .btn-icon-text {
        text-decoration: underline;
    }
}
