﻿/* ==========
   Sprites - Images
   ========== */

//$icon-width: 32px !default;
//$icon-height: 32px !default;

//.spr[data-type="emoticon"]{
	// display:inline-block;
	// text-indent:-9999em;
	// text-align:left;
	//vertical-align:middle;
//}

$sprite-imgs-spacing: 40px;
$sprite-imgs-sprite-dimensions: true;

@import "Sprites/sprite-imgs/*.png";

@include all-sprite-imgs-sprites;