<%@ Control Language="c#" AutoEventWireup="false" Codebehind="BannerAd.ascx.cs" Inherits="Matchnet.Web.Controls.BannerAd.BannerAd" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>


