
body {
    font-family: helvetica, sans-serif;
    line-height: 130%;
    margin: 2em;
	}

br	{
     margin: 0px 0px 10px 0px;
	}

pre {
    line-height: 120%;
	}

h1	{
	padding:			4px 0px 4px 0px;
	border-width:		3px 0px 3px 0px;
	border-style:		solid;
	border-color:		red;
	}

hr	{
	border-width:		0px 0px 3px 0px;
	border-style:		solid;
	border-color: 		green;
}

i   { 
	font-weight: bold;
	}

table { 
	border-width:		2px;
	border-style:		solid;
	border-color:		#858585;
	}

td {
	border-width:		2px;
	border-style:		solid;
	border-color:		#d5d5d5;
	}

