body
{
	font-family: Verdana;
	font-size: 10pt;
}

.headerText
{
	font-weight: bold;
}

.valueText
{
	font-family: Courier New, Courier;
	font-size: 10pt;
}

TABLE, TD
{
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.alternateRow
{
	background-color: #dddddd;
}
