﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-error";
    
}

 

    <header role="banner">
        <div style="display:inline-block;width:75%;height:70%;">
            <div style="">
                <img style="padding-top:30px;" src="@Url.Content("~/RegContent/images/ldssocom_logo_no_tag_line_sm.png")" alt="Find God's Match for You" title="LDS Dating site LDSSingles.com">
            </div>
        </div>
        <div style="display:inline-block; position:absolute;">
            <div style="position:relative; top:20px;"> Already a member?   <a href="http://@ViewBag.BedrockHost/member_login.html" class="btn">Member Login</a></div>
        </div>
    </header>

    <div id="container" class="cf">
        <div role="content" class="cf">
            <section role="content-main" class="editorial">
                <h1>An unexpected error has occurred.</h1>
                <p>
                    We apologize for any inconvenience.<br />
                    You can also call our customer care at: 1-877-453-3861
                </p>

                <p><a href="/" class="btn link-primary">Click here to visit our home page</a></p>

            </section>

        </div>
    </div>

@Html.Partial("_Footer")

@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.css")" />
}

@section BottomJavaScript{

}