﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ForcedPage.ascx.cs" Inherits="Matchnet.Web.Applications.PremiumServices.Controls.ForcedPage" %>
<asp:Panel ID="pnlForcedPage" Runat="server" Visible=false>
    <asp:Literal id="litForcedPage" runat="server"></asp:Literal>
</asp:Panel>