/* element styles */
html{
	overflow-y: scroll;
	overflow-x: hidden;
	height:100%;
	font-size:medium;
}
body{
	color:#333;
	min-height: 100%;
	background-color: lighten($c-shading, 37%);
	z-index:1;
	@extend .font-subjects;
	.no-generatedcontent &{
		background: lighten($c-shading, 37%) url(#{$p-images}bg.png) repeat-x 0 0;
	}
}



body:after{
	background-color:#fff;
	position:absolute;
	width:100%;
	height:158px;
	top:0;
	left:0;
	display:block;
	content:" ";
	z-index:-1;
}

//.lte8 body:after{
//	display:none;
//}

h1{
	font-weight:normal;
	@extend .font-royalty;
}
a{
	font-weight:bold;
	cursor:pointer;
	outline:none;
	@include hover-link;
	@include link-colors($c-primary, $c-primary, $c-primary, $c-primary, $c-primary);
}
a:focus{
	text-decoration:underline;
	outline:none;
}
ul, ol, dl{
	margin:0;
	padding:0;
	list-style:none;
}