/* Selector Inheritance classes */
/* These should NOT be used in html. They are only for using Sass' @extend method */
.font-subjects{
	font-family:$f-subjects;
}
.font-royalty{
	font-family:$f-royalty;
}
.box-shadow{
	@include box-shadow(0 0 10px rgba(0,0,0,1));
}
.box-shadow-light{
	@include box-shadow(0 0 4px rgba(0,0,0,.5));
}
.box-border-thin{
	border: 1px solid $c-base4;
	@include border-radius(8px);
}
.box-border-thick{
	border: 4px solid $c-base4;
	@include border-radius(8px);
}
.box-border-thick-shaded{
	border: 4px solid $c-accent2;
	background-color:$c-accent3;
	@include border-radius(8px);
}
.reset{
	margin:0;padding:0;
}
.inline{
	display:inline-block;
	vertical-align:middle;
	.ie7 &{
		display:inline;
		zoom:1;
		margin-right:4px;
	}
}