<%@ Control Language="c#" AutoEventWireup="false" Codebehind="getDomainPreferences.ascx.cs" Inherits="Matchnet.Web.Applications.Chat.XMLResponses.getDomainPreferences" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
