<%@ Control Language="c#" AutoEventWireup="false" Codebehind="NoResponse.ascx.cs" Inherits="Matchnet.Web.Applications.Chat.XMLResponses.NoResponse" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
