<script type="text/html" id="transactionHistory">
    <div class="section-title transaction">
        <h1>Transaction History</h1>
    </div>
    
    <div id="transaction-subcontainer"> 
        {{#AllAccountHistory}}
        <div class="transaction-history-item tabs-bottom">
            <ul>
                <li><a href="#tabs1-{{OrderID}}">Details</a></li>
                <li><a href="{{url}}"><span>Billing Info</span></a></li>
                <li><a href="#tabs3-{{OrderID}}">Credit</a></li>
                <li><a href="#tabs4-{{OrderID}}">Fraud Info</a></li>
            </ul>
    
            <div class="transaction-header {{actHisType}} {{ostatus}}">
                <div class="transaction-date">{{insDate}}</div>                    
                <div class="admin-display">{{admin}}</div>
                <div class="transaction-initial">{{transType}}:${{amt}}</div>
            </div>

            <div id="tabs-{{OrderID}}" class="transaction-details-container"  sizcache="1" sizset="161">
                <div id="tabs1-{{OrderID}}" class="transaction-details-subcontainer ui-tabs-panel">
                    {{#IsGiftPurchase}}
                    <div id="giftInfo_{{pgCode}}" class="giftInfo giftTransHide" >
                        <div style="float:right; width:5%;padding-top:2px;">
                            <span class="regularLink"><b>[X]</b></span>
                        </div>
                        <div style="float:left" >
                            <ul class="transaction-details">
                                <li>Gift Type: {{pgType}}</li>
                                <li>Begin Valid Date: {{pgBeginDate}}</li>
                                <li>ExpirationDate: {{pgExpireDate}}</li>
                                <li>IsValid: {{pgIsValid}}</li>
                                <li>Status: {{pgStatus}}</li>
                                <li><a id="mangepurchased" href="/SubAdmin/GiftSearch/{{pgCode}}">Manage</a></li>
                            </ul>
                            <ul class="transaction-details">
                                {{#pgr}}
                                <li>RedeemerID: <a id="A1" href="/Member/View/{{pgrCallingSystem}}/{{pgrCustomerId}}">{{pgrCustomerId}}</a>{{MinValue}}</li>
                                {{/pgr}}
                            </ul>
                        </div>                                              
                    </div>
                    {{/IsGiftPurchase}}
                    {{#IsGiftRedemption}}
                    <div id="giftInfo_{{rgCode}}" class="giftInfo giftTransHide" >
                        <div style="float:right; width:5%;padding-top:2px;">
                            <span class="regularLink"><b>[X]</b></span>
                        </div>
                        <div style="float:left" >
                            <ul class="transaction-details">
                                <li>Gift Type: {{rgType}}</li>
                                <li><a id="A2" href="/SubAdmin/GiftSearch/{{rgCode}}">Manage</a></li>
                            </ul>
                            <ul class="transaction-details">
                                <li>Purchaser: <a id="A1" href="/Member/View/{{rgCallingSystem}}/{{rgCustomerId}}">{{rgCustomerId}}</a>{{MinValue}}</li>
                            </ul>
                        </div>
                    </div>
                    {{/IsGiftRedemption}}
                    <ul class="transaction-details">
                        {{#IsNotAdminAdjust}}
                        <li>Initial Cost: ${{amt}}</li>
                        {{#HasDiscount}}
                        <li>Discount: {{DiscountAmountForDisplay}}</li>
                        <li>PromoCode:{{DiscountCode}}</li>
                        {{/HasDiscount}}
                        <li>Initial Duration: {{duration}}</li>
                        <li>Renewal Rate: ${{RenewalRate}}</li>
                    
                        {{#HasPrimaryPlan}}
                        <li>Renewal Duration: {{rduration}}</li>
                        {{/HasPrimaryPlan}}
                    
                        {{/IsNotAdminAdjust}}
                    
                        {{#IsAdminAdjust}}
                        <li>Duration: {{duration}}</li>
                        {{/IsAdminAdjust}}
                    
                        <li>Includes: {{includes}}</li>
                        {{#IsGiftPurchase}}
                        <li>
                            Gift Code: <span id="gift_{{pgCode}}" class="regularLink giftTransShow" >{{pgCode}}</span>
                        </li>
                        {{/IsGiftPurchase}}
                        {{#IsGiftRedemption}}
                        <li>
                            Gift Code: <span id="gift_{{rgCode}}" class="regularLink giftTransShow" >{{rgCode}}</span>
                        </li>
                        {{/IsGiftRedemption}}
                        <li>&nbsp;</li> 
                    </ul>
                    <ul class="transaction-details-no-border">
                        {{#IsNotAdminAdjust}}
                        <li>Plan ID: {{PrimaryPackageIDHTML}}</li>
                        <li>PromoID: {{PromoIDHtml}}</li>
                        <li  class="ellipsis multiline">Promo Description: {{&PromoDescription}} </li>
                        {{/IsNotAdminAdjust}}       
                    </ul>
                    <ul class="transaction-details-left-border">
                        <li>Status: {{internalStatusMessage}}</li>
                        <li>Payment Type: {{paymentType}}</li>
                        <li>Account: {{account}}</li>
                        <li>Confirmation: {{OrderID}}</li>
                        <li>Auth ID: {{authorizationPaymentID}}</li>
                        <li>Charge ID: {{billingPaymentID}}</li>
                    </ul>     
                </div>
                <div id="tabs3-{{OrderID}}" class="transaction-details-subcontainer ui-tabs-panel">
                    <br />
                    <a style="cursor:pointer; text-decoration:underline;" onclick="javascript:window.open('{{CreditQueueURL}}');" value="" >Add to credit queue</a>
                </div>
                <div id="tabs4-{{OrderID}}" class="transaction-details-subcontainer ui-tabs-panel">
                    <ul class="transaction-details">                       
                        <li>KountScore: {{fraudDetailedResponse.RiskInquiryScore}}</li>
                        <li>Status: {{fraudDetailedResponse.RiskInquiryStatusDescription}} </li>
                    </ul>
                    <ul class="transaction-details-left-border">
                        <li>Rules: {{fraudDetailedResponse.FraudRules}}</li>                     
                    </ul> 
                </div>
        </div> <!-- /.transaction-details-subcontainer-->
    </div> <!-- /.transaction-history-item-->
    {{/AllAccountHistory}}
</div> <!-- /#transaction-subcontainer-->
</script>