﻿// import variables
@import "config/_variables.reg.103";

//add mixins
@import "sass-common/library/_functions.scss";
//$experimental-support-for-opera:false;
//$experimental-support-for-khtml:false;
//$experimental-support-for-microsoft:false;
@import "compass/css3";
@import "compass/typography";

//one global style to rule them all. More info: http://paulirish.com/2012/box-sizing-border-box-ftw/
* {@include box-sizing(border-box); background-repeat:no-repeat;}

//build base CSS
@import "components/_fonts";
@import "sass-common/library/_normalize";
@import "sass-common/library/_base";
@import "sass-common/library/_utilities";
@import "sass-common/library/_base-classes";
@import "sass-common/library/_buttons";
@import "sass-common/library/_editorial";

//build jquery UI
//@import "components/jQueryUI/_jqueryui-core";
@import "sass-common/components/jQueryUI/_jqueryui-autocomplete";

//layout
@import "components/_layout";
@import "components/_footer";

//import component CSS
@import "components/_forms";
@import "sass-common/components/_progress-bar";

//import page-specific CSS
@import "components/_page-reg";
@import "components/_page-reg-conf";
@import "components/_page-error";

//import sprites
@import "components/_sprite-img";