﻿@using RegistrationAdminTool.Models
@model CreateTemplateViewModel
@{
    ViewBag.Title = "NewTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.BeginForm("SaveTemplate", "Template", FormMethod.Post); }
    <h2>Create a Template</h2>
    <hr />
<div id="pageError" style="color: red">
    @Model.ErrorMessage
</div>
<div>
    <ul class="template-name">
        <li>
            <div><strong>Site:</strong></div>
            <div>
                <div id="spnSiteListError" style="color: red">
                    @Html.ValidationMessageFor(m => m.SiteId)
                </div>
                @Html.DropDownListFor(m => m.SiteId, Model.Sites, new { id = "newTemplateSiteList" })
            </div>
        </li>
        <li>
            <div><strong>Type:</strong></div>
            <div>
                <div id="spnTemplateTypeListError" style="color: red">
                    @Html.ValidationMessageFor(m => m.TemplateType)                
                </div>
                @Html.DropDownListFor(m => m.TemplateType, Model.TemplateTypes, new { id = "newTemplateTypeList" })
            </div>
        </li>
        <li>
            <div><strong>Template Name:</strong></div>
            <div>
                <div id="spnTemplateNameError" style="color: red">
                    @Html.ValidationMessageFor(m => m.Name)                
                </div>
                @Html.TextBoxFor(m => m.Name, new { id = "txtTemplateName", style="width:170px;", maxlength="30" })
            </div>
        </li>
        <li>
            <br/>
            <input type="submit" id="btnSaveTemplate" value="Save" />            
        </li>
        <li>
            <p><a href="/gettemplates/">Back To All Templates</a></p>
        </li>
    </ul>
</div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.lightbox_me.js")"></script>
}

@{ Html.EndForm(); }
