/* normalize.css v2.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

a { background: transparent; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea { color: #222; }

html { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

audio, canvas, img, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* ========== Base ========== */
html { font: 75%/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif; }

body { text-align: right; }

body, input, button { -webkit-font-smoothing: antialiased; }

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.17em; }

h4 { font-size: 1em; }

h5 { font-size: 0.83em; }

h6 { font-size: 0.75em; }

ul, ol { list-style-type: none; }

a:link, a:visited, a:active { color: #993366; text-decoration: none; }

.gradient, #chatter_mini_profile, #chatter_status, .type_bottom, .command { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #cccccc)); background-image: -webkit-linear-gradient(#e6e6e6, #cccccc); background-image: -moz-linear-gradient(#e6e6e6, #cccccc); background-image: -o-linear-gradient(#e6e6e6, #cccccc); background-image: linear-gradient(#e6e6e6, #cccccc); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc',GradientType=0 ); }

.gradient-accent, .send_button { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #993366), color-stop(100%, #862d59)); background-image: -webkit-linear-gradient(#993366, #862d59); background-image: -moz-linear-gradient(#993366, #862d59); background-image: -o-linear-gradient(#993366, #862d59); background-image: linear-gradient(#993366, #862d59); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjIyNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.ie8 .gradient-accent, .ie8 .send_button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#993366', endColorstr='#862d59',GradientType=0 ); }

/* ========== Profile ========== */
#chatter_mini_profile { width: 100%; height: 90px; float: right; }
#chatter_mini_profile .thumbnail { margin: 5px 3px 0 0; width: 60px; float: right; }

.profile_text { margin: 5px; float: right; }
.profile_text span.username { display: block; margin-bottom: 10px; font: bold 16px/1 Georgia, Times, "Times New Roman", serif; }

ul.hotlist_buttons { float: left; margin: 30px 0 0 10px; padding: 0; }
ul.hotlist_buttons li { cursor: pointer; margin-bottom: 7px; padding: 1px; border: 1px solid #a0a0a0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

/* ========== Profile - MOS ========== */
#chatter_mini_profile { background: none; float: none; height: inherit; width: inherit; }

.menu-panel { background: transparent url("../images/bg_nav_white.png") 0 0 repeat-x; border-bottom: solid 1px #a0a0a0; display: none; height: 35px; }
.menu-panel a { background: transparent url("../images/btn_back_blue.png") 5px center no-repeat; color: #007AFF; display: inline-block; font-family: Helvetica, Arial; font-size: 12pt; margin: 5px 0; padding: 0 5px 0 22px; }

.profile-panel { background: linear-gradient(#ffffff, #cccccc) repeat scroll 0 0 transparent !important; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#cccccc)) !important; border-bottom: solid 1px #a0a0a0; height: 55px !important; overflow: hidden; padding: 0 5px; /*.profile-panel > img { background-color:#FFFFFF; float:right; height:45px; margin:5px 0 0 5px; width:45px;
}*/ }
.profile-panel a { display: inline-block; height: inherit; }
.profile-panel a img { background-color: #FFFFFF; float: right; height: 45px; margin-top: 5px; width: 45px; }
.profile-panel a h4 { /*border:1px solid green;*/ color: #973566; font-size: 16px; font-weight: bold; margin: 5px 50px 0 0; overflow: hidden; width: 145px; text-overflow: ellipsis; }
.profile-panel a h5 { /*border:1px solid green;*/ color: #666; font-size: xx-small; margin: 0 50px 0 0; padding: 0; }

/* ========== Chat Messages ========== */
.chat_messages { position: absolute; width: 100%; bottom: 120px; left: 0; top: 90px; padding: 0; /* without this line there is extra padding (???) */ margin: 0; border-top: 1px solid #a0a0a0; background-color: #fff; overflow-y: auto; clear: both; }
.chat_messages li { width: 100%; font-style: normal; font-size: 11px; color: #000; padding: 9px 0 9px 0; }
.chat_messages .bubble_and_profile { position: relative; }
.chat_messages .profile { width: 45px; position: absolute; bottom: 0; padding: 0; margin: 0; text-align: center; }
.chat_messages .me .profile { left: 3px; }
.chat_messages .other .profile { min-height: 45px; right: 3px; top: 4px; }
.chat_messages .system { width: 256px; margin: 20px; padding: 5px; background-color: #ffbaba; border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; word-wrap: break-word; }

/* ========== Chat Messages - MOS ========== */
.chat_messages { bottom: auto; position: relative; width: inherit; top: 00; /*bottom: 120px;
clear: both;
left: 0;
margin: 0;
overflow-y: auto;
padding: 0;
position: absolute;
top: 90px;
width: 100%;    */ }
.chat_messages li { padding: 10px 5px 15px; width: auto; }

.messages-panel { margin: 0; /*overflow-y: auto;*/ overflow-y: inherit; padding: 0; }
.messages-panel li { overflow: hidden; }
.messages-panel li.system { background-color: #FFBABA; border: 1px solid #a0a0a0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 5px; word-wrap: break-word; }

/* ========== Chat Bubbles ========== */
.me .chat_bubble, .chat-bubble.me, .other .chat_bubble, .chat-bubble.other { margin: 0 50px 0 20px; padding: 12px; position: relative; border-style: solid; border-width: 1px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0px 46px 28px -30px white; -moz-box-shadow: inset 0px 46px 28px -30px white; box-shadow: inset 0px 46px 28px -30px white; font-size: 13px; line-height: 1.5em; color: #333333; }

.me .chat_bubble:before, .chat-bubble.me:before, .other .chat_bubble:before, .chat-bubble.other:before, .me .chat_bubble:after, .chat-bubble.me:after, .other .chat_bubble:after, .chat-bubble.other:after { content: ""; position: absolute; right: 5px; }

.me .chat_bubble:before, .chat-bubble.me:before, .other .chat_bubble:before, .chat-bubble.other:before { height: 10px; bottom: -19px; border-left: 26px solid #e0e0e0; background: #b8db29; -moz-border-radius-bottomleft: 50px 30px; -webkit-border-bottom-left-radius: 50px 30px; border-bottom-left-radius: 50px 30px; -webkit-transform: translate(0, -8px); -moz-transform: translate(0, -8px); -ms-transform: translate(0, -8px); -o-transform: translate(0, -8px); transform: translate(0, -8px); }

.me .chat_bubble:after, .chat-bubble.me:after, .other .chat_bubble:after, .chat-bubble.other:after { width: 14px; height: 10px; bottom: -19px; background: white; -moz-border-radius-bottomleft: 60px 60px; -webkit-border-bottom-left-radius: 60px 60px; border-bottom-left-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.me .chat_bubble, .chat-bubble.me { margin: 0 20px 0 50px; }

.me .chat_bubble:before, .chat-bubble.me:before, .me .chat_bubble:after, .chat-bubble.me:after { right: auto; left: 5px; }

.me .chat_bubble:before, .chat-bubble.me:before { border-left: none; border-right: 26px solid #c4e14c; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 50px 30px; -webkit-border-bottom-right-radius: 50px 30px; border-bottom-right-radius: 50px 30px; }

.me .chat_bubble:after, .chat-bubble.me:after { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 60px 60px; -webkit-border-bottom-right-radius: 60px 60px; border-bottom-right-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.me .chat_bubble { background-color: #b8db29; border-color: #b8db29; }
.other .chat_bubble { background-color: #cccccc; border-color: #cccccc; }
.ie8 .me .chat_bubble, .ie8 .other .chat_bubble { background-image: url(../images/ui-grad.png); background-repeat: repeat-x; }
.ie8 .me .chat_bubble:before, .ie8 .other .chat_bubble:before { content: none; }
.ie8 .me .chat_bubble:after, .ie8 .other .chat_bubble:after { content: ""; width: 0; position: absolute; bottom: -20px; border-width: 10px 10px 0; border-style: solid; }
.ie8 .me .chat_bubble:after { left: 5px; border-color: #b8db29 transparent; }
.ie8 .other .chat_bubble:after { right: 5px; border-color: #cccccc transparent; }

/* ========== Chat Bubbles - MOS ========== */
.chat-bubble.me { margin: 0; padding: 0 12px; background-color: #b8db29; border-color: #b8db29; }
.chat-bubble.other { margin: 0; padding: 0 12px; background-color: #cccccc; border-color: #cccccc; }
.chat-bubble.me span { color: #CCCCCC; font-size: x-small; position: absolute; left: 10px; }
.chat-bubble.other span { color: #CCCCCC; font-size: x-small; position: absolute; right: 10px; }
.chat-bubble.systems { border: solid 1px #cccccc; background: #FFBABA; text-align: center; }
.chat-bubble.systems span { color: #CCCCCC; font-size: x-small; position: absolute; right: 10px; }

/* ========== Misc ========== */
#status_and_typing_area { position: absolute; bottom: 0; width: 100%; }

#chatter_status { height: 24px; border-top: 1px solid #993366; padding-right: 5px; font-size: 13px; color: #666; line-height: 24px; overflow: hidden; }

.chat_name { color: #25426B; /* JDate dark blue */ }

.chat_message .thumbnail { height: 37px; margin-right: 5px; }

.chat_event { font-style: italic; font-size: 75%; }

textarea { width: 65%; height: 50px; float: right; margin: 0 5px 0 15px; resize: none; }

.type_bottom { height: 70px; padding-top: 15px; border-top: 1px solid #a0a0a0; }

.send_button_container { height: 26px; }

/* ========== Misc - MOS ========== */
.header-box, .content-box, .footer-box { left: 0; margin: 0; padding: 0; position: absolute; right: 0; }

.header-box { top: 0; }

.content-box { top: 56px; overflow-y: auto; bottom: 88px; }
.content-box.fullscreen { top: 91px; }

.footer-box { bottom: 0; position: fixed; }

#chatter_status { background: linear-gradient(#ffffff, #cccccc) repeat scroll 0 0 transparent; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#cccccc)); border-top: solid 1px #a0a0a0; color: #666666; font-size: 13px; height: 25px; line-height: 25px; text-align: center; }

.status-panel p { padding: 0; margin: 0; }
.status-panel > p > span { display: inline-block; line-height: normal; margin: 0 0 -3px 0; max-width: 145px; overflow: hidden; padding: 0; text-overflow: ellipsis; }

.typing-panel { background: #CCC; border-top: solid 1px #a0a0a0; height: 50px; list-style-type: none; overflow: hidden; padding: 5px; position: relative; margin: 0; }
.typing-panel > textarea { border: none; font-size: 12px; float: none; margin: 0 !important; padding: 0; /*position:absolute;
left:5px;
right:85px;*/ width: 75%; }

/* ========== Buttons ========== */
.send_button { display: block; float: right; width: 50px; padding: 5px 10px; font-weight: bold; color: #fff; cursor: pointer; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; border: 1px solid #999999; }
.send_button:active { margin: 1px 1px 0 0; padding: 5px 10px 4px 10px; width: 49px; }

/* ========== Buttons - MOS ========== */
.send_button, .send_button:active { display: inline-block; float: none; height: 48px; line-height: 48px; margin: 0; padding: 0; position: absolute; right: 5px; width: 75px; }

.fave-off, .fave-on, .block-off, .block-on { background-color: #FFFFFF; border: 1px solid #a0a0a0; display: inline-block; float: left; margin: 5px 5px 0 0; width: 44px; height: 44px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.fave-off { background: #cccccc url("../images/icon_fave_off@2x.png") no-repeat center center; }

.fave-on { background: #cccccc url("../images/icon_fave_on@2x.png") no-repeat center center; }

.block-off { background: #cccccc url("../images/icon_block_off@2x.png") no-repeat center center; }

.block-on { background: #cccccc url("../images/icon_block_on@2x.png") no-repeat center center; }

/* ========== Command ========== */
.command { margin: 0; padding: 10px; border-top: 1px solid #993366; }
.command li { display: inline-block; }
.command li > a { padding: 10px; font-size: 11px; color: #665; }
.command .font .icons-font, .command .bg .icons-bg { margin-left: 4px; }
.command #photoUpload { position: absolute; left: -9999em; visibility: hidden; }

/* ========== MOS Specific - HE ========== */
.popup-im-invite img { float: left; }

.popup-im-invite > div { margin: 35px 0 0 116px; }
