/*
 * jQuery UI Autocomplete @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
	max-height: 136px;
	overflow-y: auto;
	position: absolute;
	z-index: 2;
	cursor: default;
	background-color: #FFFFFF;
	border: 0px none !important;
	padding: 0px;
	overflow-x: hidden;/* prevent horizontal scrollbar */
	color:#ccc;
	font-size:90%;
	@include border-radius(0px);
	@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
	li.ui-menu-item{
		padding:0px;
	}
	li.ui-menu-item > a,
	li.ui-menu-item > a:link,
	li.ui-menu-item > a:active,
	li.ui-menu-item > a:visited,
	li.ui-menu-item > a:hover{
		display:block;
		line-height:1;
		padding:4px;
		font-weight:normal;
		@include border-radius(0px);
	}
	li.ui-menu-item > a:hover,
	li.ui-menu-item > a.ui-state-hover{
		background-color: $c-base4;
		text-decoration:underline;
	}
	.ie7 &{
		border:1px solid #ccc !important;
		border-top:0px solid #ccc !important;
	}
}