﻿.error-page{
    background: transparent url('../../images/icon_alert@2x.png') no-repeat;
    margin:0 auto;
    padding:80px 10px 65px 10px;
}

.error-page ul li:first-child{
    color:#516889;
    font:bold 40px helvetica;
    
}
.error-page ul li:nth-child(2){
    color:#404040;
    font:normal 30px helvetica;
    padding:52px 0px 62px 0px;
}

.error-page ul li:last-child a{
    width:100%;
}

div.error{
    font-size:14px;
}

/* Login */


.login-page{
    background: transparent url('../../images/icon_lock@2x.png') no-repeat;
    margin:0 auto;
    padding:80px 10px 65px 10px;
}

.login-page p:first-child{
    color:#516889;
    font:bold 40px helvetica;
}
.login-page p:nth-child(2){
    color:#404040;
    font:normal 30px helvetica;
    padding:52px 0px 62px 0px;
}

.login-page a.btn-blue{
    width:100%;
}