/* Global Style */
* {
    font-family: Helvitica, Arial, sans-serif;
    font-weight: normal;
    text-shadow: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}

/* Jquery Mobile Overrides */
.ui-content {
    min-height:inherit;
    padding: 0;
}

.ui-body-c {
    background: #FFF;
}

.ui-panel {
    background-color: #00578a !important;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    transform: translate3d(13em, 0px, 0px);
    -webkit-transform: translate3d(13em, 0px, 0px);
    -moz-transform: translate3d(13em, 0px, 0px);
    -o-transform: translate3d(13em, 0px, 0px);
}

.ui-panel-inner {
    padding: 0;
}

/* Navigation Header Style */
.nav-header {
    background: #26426B url('../images/icon_jd_logo.png') no-repeat center center;
    height: 44px;
    position: relative;
}

.nav-header a {
    text-decoration: none;
    position: absolute;
}

.nav-header a.btn-menu {
    background: transparent url('../images/icon_menubar.png') no-repeat center center;
    display: inline-block;
    left: 5px;
    min-width: 34px;
    min-height: 34px;
    top: 4px;
}

.nav-header a.btn-mol {
    background: transparent url('../images/icon_green_online.png') no-repeat 7px 8px;
    border: solid 1px #FFF;
    border-radius: 15px;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 23px;
    padding: 0 10px;
    right: 10px;
    text-align: right;
    top: 9px;
    min-width: 80px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

/* Side Panel Menu Style */
.nav-panel-menu {
}

.nav-panel-menu li {
    border-bottom: solid 1px #FFF;
    height: 44px;
}

.nav-panel-menu li a {
    background: #00578a;
    color: #FFF;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 44px;
    height: inherit;
    padding-left: 30px;
}

.nav-panel-menu li a.subscribe {
    background: #f5ac01 url('../images/icon_subscribenow.png') no-repeat 0 0;
}

.nav-panel-menu li a.activity {
    background: transparent url('../images/icon_activity.png') no-repeat 0 0;
}

.nav-panel-menu li a.mail {
    background: transparent url('../images/icon_mail.png') no-repeat 0 0;
}

.nav-panel-menu li a.im {
    background: transparent url('../images/icon_chats.png') no-repeat 0 0;
}

.nav-panel-menu li a.favorites {
    background: transparent url('../images/icon_favorites.png') no-repeat 0 0;
}

.nav-panel-menu li a.matches {
    background: transparent url('../images/icon_matches.png') no-repeat 0 0;
}

.nav-panel-menu li a.secretadmirer {
    background: transparent url('../images/icon_admirer.png') no-repeat 0 0;
}

.nav-panel-menu li a.search {
    background: transparent url('../images/icon_search.png') no-repeat 0 0;
}

.nav-panel-menu li a.profile {
    background: transparent url('../images/icon_myprofile.png') no-repeat 0 0;
}

.nav-panel-menu li a.settings {
    background: transparent url('../images/icon_settings.png') no-repeat 0 0;
}

.nav-panel-menu li a.uploadphoto {
    background: transparent url('../images/icon_uploadphoto.png') no-repeat 0 0;
}

.nav-panel-menu li a.mol {
    background: transparent url('../images/icon_membersonline.png') no-repeat 0 0;
}

/* Page (Generic) Header Style */
.page-header {
    color: #00578a;
    font-size: 22px;
    line-height: 44px;
    margin: 0;
    height: 44px;
    overflow:hidden;
    padding:0 20px;
    position: relative;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.page-header a.back-button {
    background: transparent url('../../images/btn_left_arrow.png') no-repeat left center;
    font-size: 20px;
    font-weight: normal;
    height: inherit;
    min-width: 15px;
    padding-left: 15px;
    position: absolute;
    left: 5px;
}

.page-header h2 {
    display: inline-block;
    font-size: 22px;
    line-height: 44px;
    margin: 0;
    max-width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-nav {
    height: 44px;
}


/* Page Option/Menu Bar */
.page-option-bar {
    background: #ddebf4;
    border-bottom: solid 1px #526889;
    border-top: solid 1px #526889;
    height: 52px;
}

.page-option-bar div.sort-container {
    margin: 7px 0 0 0;
    overflow: hidden;
}

.page-option-bar label {
    color: #00578a;
    float: left;
    margin:16px 5px 0;
}

.page-option-bar div.sort-container label {
    color: #00578a;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 10px 0 5px;
}

.page-option-bar div.sort-container div.dd-custom {
    margin: 0;
}

/* Generic List Style (Small and Large variation) */
.generic-list-small,
.generic-list-large {
    list-style: none;
    margin: 0;
    padding: 0;
}

.generic-list-small li,
.generic-list-large li {
    border-bottom: solid 1px #8894A5;
}

.generic-list-small li {
    height: 62px;
}

.generic-list-small li a,
.generic-list-large li a {
    display: inline-block;
    font-weight: 700;
    width: 100%;
}

.generic-list-large li a {
    position: relative;
}

.generic-list-large li a span.matches-label {
    position:absolute;
    bottom:10px;
    right:10px;
    font-size: 14px;
    color: #993365;
}

.generic-list-large.grid-view li a span.matches-label {
    display: none;
}

.generic-list-small li a img,
.generic-list-large li a img {
    float: left;
}

.generic-list-small li a img {
    width: 52px;
    height: 62px;
}

.generic-list-small li a p {
    margin: 0 0 0 52px;
    padding: 13px 5px 0 0;
}

.generic-list-small li a p > span,
.generic-list-large li a p > span {
    color: #404040;
    display: block;
}

.generic-list-small li a p > span {
    padding: 0 0 0 25px;
}

.generic-list-small li a p > span.primary {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.generic-list-small li a p > span.primary.online {
    background: transparent url('../../images/icon_green_online.png') no-repeat 10px center;
}

.generic-list-small li a p > span.secondary {
    font-size: 14px;
}

.generic-list-small li.label {
    /*background-color: #CCC;*/
    color: #A8A8A8;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.generic-list-small li.loading,
.generic-list-large li.loading,
.generic-list-large.grid-view li.loading,
.generic-list-small li.no-results,
.generic-list-large li.no-results,
.generic-list-large.grid-view li.no-results {
    /*background-color:#ddebf4;*/
    border: none;
    height: 44px;
    text-align: center;
    width: 100%;
}

.generic-list-small li.loading div.spinner,
.generic-list-large li.loading div.spinner {
    top: 50% !important;
    left: 17px !important;
}

.generic-list-small li.loading p,
.generic-list-large li.loading p {
    color: #00578a;
    display: inline-block;
    font-size: 16px;
    height: inherit;
    line-height: 44px;
    margin: 0;
    padding-left: 35px;
    position: relative;
}

.generic-list-small li.no-results p,
.generic-list-large li.no-results p {
    color: #00578a;
    display: inline-block;
    font-size: 16px;
    height: inherit;
    line-height: 44px;
    margin: 0;
}

.generic-list-small li.last,
.generic-list-large li.last {
    border: none;
}


.generic-list-large li {
    height: 136px;
}

.generic-list-large li a img {
    width: 106px;
    height: 136px;
}

.generic-list-large li a p {
    margin: 0 0 0 100px;
    padding: 12px 0 0 0;
}

.generic-list-large li a p > span {
    padding: 0 0 0 15px;
}

.generic-list-large li a p > span.primary {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.generic-list-large li a p > span.secondary {
    color: #727272;
    font-size: 14px;
}

.generic-list-large li a p > span.online {
    background: transparent url('../../images/icon_green_online.png') no-repeat 18px center;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 30px;
}

.generic-list-large.grid-view {
    overflow: hidden;
}

.generic-list-large.grid-view li {
    border: none;
    float: left;
    height: 136px;
    margin: 0 0 1px 1px;
    position: relative;
}

.generic-list-large.grid-view li a img {
    height: 136px;
    width: 106px;
}

.generic-list-large.grid-view li a p {
    background-color: rgba(0,0,0,0.50);
    height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.generic-list-large.grid-view li a p > span.primary {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    max-width: 75px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75px;
}

.generic-list-large.grid-view li a p > span.secondary {
    display: none;
}

.generic-list-large.grid-view li a p > span.online {
    background-position: center center;
    display: inline-block;
    height: 15px;
    margin: 5px 0 0;
    padding: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 15px;
}

/* Generic Tabs */
.generic-tabs {
    height: 44px;
    list-style-type: none;
    margin: 0 0 1px;
    padding: 0;
}

.generic-tabs li {
    float: left;
}

.generic-tabs li > a {
    background: #ddebf4;
    border-bottom: solid 1px #8894A5;
    color: #8894A5;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.generic-tabs li > a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none;
    color: #00578a;
    font-weight: bold;
}

.generic-tabs li > a.border-left {
    border-left: solid 1px #8894A5;
}

.generic-tabs li > a.border-right {
    border-right: solid 1px #8894A5;
}

.generic-tabs li.two {
    width: 50%;
}

.generic-tabs li.three {
    width: 33%;
}

.generic-tabs li.three:nth-child(2) {
    width: 34%;
}

/* Generic Dialogs */
.generic-dialog,
.generic-confirm-dialog,
.im_dialog {
    background-color: rgba(234,237,241,0.92); /* #ddebf4 */
    border: solid 1px #8894A5;
    width: 300px;
    min-height: 150px;
}

.generic-dialog p,
.generic-confirm-dialog p {
    color:#00578a;
    font-size: 17px;
    margin: 0;
    padding: 30px 10px;
    text-align: center;
}

.generic-dialog > div,
.generic-confirm-dialog > div {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.generic-dialog > div a {
    background: #00578a;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 282px;
}

.generic-confirm-dialog > div a {
    background: #00578a;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-align: center;
}

/* IM Invite dialog */
.im_dialog {
    min-height: 175px;
}

.im_dialog div:first-child {
    overflow: hidden;
    padding: 10px;
}

.im_dialog div:first-child > img {
    background-color: #FFF;
    float: left;
    height: 80px;
    width: 80px;
}

.im_dialog div:first-child > p {
    padding: 0;
    margin: 0 0 0 90px;
}

.im_dialog div:first-child > p span {
    display: block;
}

.im_dialog div:first-child > p span.username,
.im_dialog div:first-child > p span.chat {
    color: #00578a;
    font-weight: bold;
}

.im_dialog div:first-child > p span.username {
    font-size: 20px;
}

.im_dialog div:first-child > p span.age-location {
    color: #404040;
    font-size: 14px;
}

.im_dialog div:first-child > p span.chat {
    font-size: 17px;
    margin-top: 20px;
}

.im_dialog > div:last-child {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.im_dialog > div:last-child > a {
    float: left;
    margin: 10px;
    min-width: inherit !important;
    width: 139px;
}

.im_dialog > div:last-child > a.no {
    margin-left: 1px;
}

.im_dialog > div:last-child > a.yes {
    margin-right: 1px;
}

.message-bar {
    background-color: rgba(153,51,101,0.90);
    color: #FFF;
    font-size: 16px;
    height: 32px;
    left: 0;
    line-height: 32px;
    position: absolute;
    top: 45px;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

/* Footer */
.footer {
    border-top: solid 1px #526889;
    display: block;
    overflow: hidden;
}

.footer ul.footer-top li,
.footer ul.footer-links li {
    float: left;
}

.footer ul.footer-top li {
    height: 40px;
    width: 50%;
}

.footer ul.footer-top li a,
.footer ul.footer-links li a, .footer div p {
    color:#00578a;
    text-align: center;
}

.footer ul.footer-top li a {
    display: block;
    height: inherit;
}

.footer ul.footer-top li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}

.footer ul.footer-links {
    overflow: hidden;
}

.footer ul.footer-links li {
    width: 20%;
    height: 44px;
}

.footer ul.footer-links li a {
    border-right: 1px solid #526889;
    display: inline-block;
    font-size: 12px;
    padding: 15px 0 14px;
    width: 100%;
}

.footer ul.footer-links li:last-child a {
    border-right: none;
}

.footer ul.footer-links li a.contact,
.footer ul.footer-links li a.tos,
.footer ul.footer-links li a.cookie {
    padding: 7px 0;
}

.footer > div {
    background-color: #ddebf4;
    clear: both;
    padding: 10px 0;
}

.footer > div p {
    font-size: 10px;
    margin: 15px 0 0;
}


input[type='text'],
textarea {
    background-image:none;
    background-color:#FFF;
    border:solid 1px #8894A5;
    border-radius:0;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    height: 36px;
    /*margin-bottom:17px;*/
    padding: 0 5px;
    width:100%;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

textarea:focus {
    border:solid 1px #f5ac01;
}

.dd-custom {
    background: #FFF;
    border:solid 1px #8894A5;   
    height: 29px;
    overflow:hidden;
    /*margin-bottom:17px;*/
    padding-top:7px;
    position:relative;
}

.dd-custom select {
    border:solid 1px green;
    background-color:transparent;
    appearance:none;
    border:none;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    padding-left: 5px;
    position:absolute;
    width:110%;
    -moz-appearance:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance:none;
}

.dd-custom span.down-arrow {
    background:transparent url('../../images/icon_arrow_down.png') no-repeat center center;
    display:inline-block;
    float:right;
    height:25px;
    margin:0 5px 0 0;
    width:25px;
}

.cb-custom {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #8894A5;
    display: inline-block;
    height: 36px;
    width: 36px;
}

.cb-custom.checked {
    background: url("../../images/icon_checkmark.png") no-repeat scroll center center #FFFFFF;
    border: 1px solid #f5ac01;
}

/* Generic buttons */
.btn-blue {
    background-color: #00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-weight:bold;
    height:40px;
    line-height:40px;
    min-width: 200px;
    text-align:center;
}

.btn-edit {
    background-image: url('../../images/icon_editprofile_blue.png');
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    height:22px;
    width:22px;
}

.list-grid-toggle {
    border:solid 1px #8894A5;
    display:inline-block;
    height:36px;
}

.list-grid-toggle a.list,
.list-grid-toggle a.grid {
    display:inline-block;
    float:left;
    height:inherit;
    width:36px;
}

.list-grid-toggle a.list { background: #ddebf4 url('../../images/icon_listview_unselected.png') no-repeat center center; }
.list-grid-toggle a.list.active { background: #8894A5 url('../../images/icon_listview_selected.png') no-repeat center center; }
.list-grid-toggle a.grid { background: #ddebf4 url('../../images/icon_gridview_unselected.png') no-repeat center center; }
.list-grid-toggle a.grid.active { background: #8894A5 url('../../images/icon_gridview_selected.png') no-repeat center center; }

.gender-toggle {
    width:75px;
    height:40px;
    text-align:center;
}

.gender-toggle a {
    display:inline-block;
    height:inherit;
    width:35px;
}

.gender-toggle a.female { background:transparent url('../../images/icon_woman_unselected.png') no-repeat center center; }
.gender-toggle a.male { background:transparent url('../../images/icon_man_close.png') no-repeat center center; }
.gender-toggle a.female.selected { background:transparent url('../../images/icon_woman_selected.png') no-repeat center center; }
.gender-toggle a.male.selected { background:transparent url('../../images/icon_man_selected.png') no-repeat center center; }

.gender-toggle a.all {
    width:70px;
    background:transparent url('../../images/icon_manandwoman_close.png') no-repeat center center; 
}

.gender-toggle a.all.selected {
    width:70px;
    background:transparent url('../../images/icon_manandwoman_selected.png') no-repeat center center; 
}