/* normalize.css v2.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

a { background: transparent; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: .67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea { color: #222; }

html { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

audio, canvas, img, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.browsehappy { margin: .2em 0; background: #ccc; color: #000; padding: .2em 0; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* ========== Base ========== */
html { font: 75%/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif; }

body, input, button { -webkit-font-smoothing: antialiased; }

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.17em; }

h4 { font-size: 1em; }

h5 { font-size: 0.83em; }

h6 { font-size: 0.75em; }

ul, ol { list-style-type: none; }

a:link, a:visited, a:active { color: #993366; text-decoration: none; }

.gradient, #chatter_mini_profile, #chatter_status, .type_bottom, .command { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #cccccc)); background-image: -webkit-linear-gradient(#e6e6e6, #cccccc); background-image: -moz-linear-gradient(#e6e6e6, #cccccc); background-image: -o-linear-gradient(#e6e6e6, #cccccc); background-image: linear-gradient(#e6e6e6, #cccccc); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc',GradientType=0 ); }

.gradient-accent, .send_button { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #993366), color-stop(100%, #862d59)); background-image: -webkit-linear-gradient(#993366, #862d59); background-image: -moz-linear-gradient(#993366, #862d59); background-image: -o-linear-gradient(#993366, #862d59); background-image: linear-gradient(#993366, #862d59); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjIyNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.ie8 .gradient-accent, .ie8 .send_button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#993366', endColorstr='#862d59',GradientType=0 ); }

/* ========== Sprites ========== */
.spr, .command li > a > span[class^="icons"] { display: inline-block; width: 16px; height: 16px; text-indent: -9999em; text-align: left; vertical-align: middle; }

.icons-sprite, .icons-bg, .icons-emoticon, .icons-font, .icons-photo { background: url('/images/icons-sba3444e50b.png') no-repeat; }

.icons-bg { background-position: 0 -108px; }

.icons-emoticon { background-position: 0 0; }

.icons-font { background-position: 0 -72px; }

.icons-photo { background-position: 0 -36px; }

/* ========== Profile ========== */
#chatter_mini_profile { width: 100%; height: 90px; float: left; }
#chatter_mini_profile .thumbnail { margin: 5px 0 0 3px; width: 60px; float: left; }

.profile_text { margin: 5px; float: left; }
.profile_text span.username { display: block; margin-bottom: 10px; font: bold 16px/1 Georgia, Times, "Times New Roman", serif; }

ul.hotlist_buttons { float: right; margin: 30px 10px 0 0; padding: 0; }
ul.hotlist_buttons li { cursor: pointer; margin-bottom: 7px; padding: 1px; border: 1px solid #a0a0a0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

/* ========== Chat Messages ========== */
.chat_messages { position: absolute; width: 100%; bottom: 120px; left: 0; top: 90px; padding: 0; /* without this line there is extra padding (???) */ margin: 0; border-top: 1px solid #a0a0a0; background-color: #fff; overflow-y: auto; clear: both; }
.chat_messages li { width: 100%; font-style: normal; font-size: 11px; color: #000; padding: 9px 0 9px 0; }
.chat_messages .bubble_and_profile { position: relative; }
.chat_messages .profile { width: 45px; position: absolute; bottom: 0; padding: 0; margin: 0; text-align: center; }
.chat_messages .me .profile { right: 3px; }
.chat_messages .other .profile { min-height: 45px; left: 3px; top: 4px; }
.chat_messages .system { width: 256px; margin: 20px; padding: 5px; background-color: #ffbaba; border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; word-wrap: break-word; }

/* ========== Chat Bubbles ========== */
.other .chat_bubble, .me .chat_bubble { margin: 0 50px 0 20px; padding: 12px; position: relative; border-style: solid; border-width: 1px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0px 46px 28px -30px white; -moz-box-shadow: inset 0px 46px 28px -30px white; box-shadow: inset 0px 46px 28px -30px white; font-size: 13px; line-height: 1.5em; color: #333333; }

.other .chat_bubble:before, .me .chat_bubble:before, .other .chat_bubble:after, .me .chat_bubble:after { content: ""; position: absolute; right: 5px; }

.other .chat_bubble:before, .me .chat_bubble:before { height: 10px; bottom: -19px; border-left: 26px solid #c4e14c; background: #b8db29; -moz-border-radius-bottomleft: 50px 30px; -webkit-border-bottom-left-radius: 50px 30px; border-bottom-left-radius: 50px 30px; -webkit-transform: translate(0, -8px); -moz-transform: translate(0, -8px); -ms-transform: translate(0, -8px); -o-transform: translate(0, -8px); transform: translate(0, -8px); }

.other .chat_bubble:after, .me .chat_bubble:after { width: 14px; height: 10px; bottom: -19px; background: white; -moz-border-radius-bottomleft: 60px 60px; -webkit-border-bottom-left-radius: 60px 60px; border-bottom-left-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.other .chat_bubble { margin: 0 20px 0 50px; }

.other .chat_bubble:before, .other .chat_bubble:after { right: auto; left: 5px; }

.other .chat_bubble:before { border-left: none; border-right: 26px solid #e0e0e0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 50px 30px; -webkit-border-bottom-right-radius: 50px 30px; border-bottom-right-radius: 50px 30px; }

.other .chat_bubble:after { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 60px 60px; -webkit-border-bottom-right-radius: 60px 60px; border-bottom-right-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.me .chat_bubble { background-color: #b8db29; border-color: #b8db29; }
.other .chat_bubble { background-color: #cccccc; border-color: #cccccc; }
.ie8 .me .chat_bubble, .ie8 .other .chat_bubble { background-image: url(../images/ui-grad.png); background-repeat: repeat-x; }
.ie8 .me .chat_bubble:before, .ie8 .other .chat_bubble:before { content: none; }
.ie8 .me .chat_bubble:after, .ie8 .other .chat_bubble:after { content: ""; width: 0; position: absolute; bottom: -20px; border-width: 10px 10px 0; border-style: solid; }
.ie8 .me .chat_bubble:after { right: 5px; border-color: #b8db29 transparent; }
.ie8 .other .chat_bubble:after { left: 5px; border-color: #cccccc transparent; }

/* ========== Misc ========== */
#status_and_typing_area { position: absolute; bottom: 0; width: 100%; }

#chatter_status { height: 24px; border-top: 1px solid #993366; padding-left: 5px; font-size: 13px; color: #666; line-height: 24px; overflow: hidden; }

.chat_name { color: #25426B; /* JDate dark blue */ }

.chat_message .thumbnail { height: 37px; margin-left: 5px; }

.chat_event { font-style: italic; font-size: 75%; }

textarea { width: 65%; height: 50px; float: left; margin: 0 15px 0 5px; resize: none; }

.type_bottom { height: 70px; padding-top: 15px; border-top: 1px solid #a0a0a0; }

.send_button_container { height: 26px; }

/* ========== Buttons ========== */
.send_button { display: block; float: left; width: 50px; padding: 5px 10px; font-weight: bold; color: #fff; cursor: pointer; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; border: 1px solid #999; }
.send_button:active { margin: 1px 0 0 1px; padding: 5px 10px 4px 10px; width: 49px; }

/* ========== Command ========== */
.command { margin: 0; padding: 10px; border-top: 1px solid #993366; }
.command li { display: inline-block; }
.command li > a { padding: 10px; font-size: 11px; color: #665; }
.command .font .icons-font, .command .bg .icons-bg { margin-right: 4px; }
.command #photoUpload { position: absolute; left: -9999em; visibility: hidden; }
