﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Page.Description</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    @*<asp:ContentPlaceHolder ID="HeadContent" runat="server" />*@

    <!-- Host: @System.Environment.MachineName -->
    <meta name="description" content="@Model.Page.Tags"/> />

</head>
    @RenderBody()
</html>
    

