<%@ Control Language="c#" AutoEventWireup="false" Codebehind="GenderPicker.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.FormElements.GenderPicker" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>