﻿#top {
    /*border: 1px solid black;*/
    /*height:500px;*/
    width: 100%;

}

#bottom {
    /*border: 1px solid red;*/
    height:20px;
    width:100%;
}

abbr.timeago {
     color:#626262;
     font-size:9px;
     line-height:9px;
     margin:0px 7px 0px -42px;
     min-width:56px;
}
a.ui-btn.delete-btn {
    background:#00578A;
    border-radius:7px;
    color:#ffffff;
    font-size:18px;
    font:thin;
    height:38px;
    line-height:38px;
    margin:0 auto;
    text-align:center;
    visibility:hidden;
    width:252px;
}

a.ui-btn.delete-btn.show {
    visibility:visible;
}

a.ui-btn.delete-btn.zero {
    background:#edeef2;
    border:1px solid #00578a;
    color:#cdcdd1;
}

div.chats-header {
    border-bottom:1px solid #8894a5;
    height:44px;
}

div.chats-header > h2 {
    color:#00578a;
    display:block;
    font-family: Helvetica, arial, sans-serif;
    font-size:20px;
}

div.chats-header h2:first-of-type {
    font-weight: bold;
    text-align:center;
}

div.chats-header > h2 ,  div.chats-header h2:first-of-type, abbr.timeago, a.ui-btn.delete-btn {
     font-family: Helvetica, arial, sans-serif;
}

div.chats-header h2:nth-of-type(2) {
     margin:-39px 14px 0 0;
}

div.chats-header h2:nth-of-type(2),abbr.timeago {
      font-weight:lighter;    
}

div.chats-header h2:nth-of-type(2),abbr.timeago , span#icon {
     float:right;
}

div.delete-button-container {
    background:#edeef2;
    bottom: 0px;
    border-top:1px #00578A;
    height:43px;
    left:0;
    margin:0 auto;
    padding-top: 3px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

div.delete-button-container.disappear {
    transform: translateY(100%);
    display:none;
}

span#icon {
    background:url("../../images/icon_delete_unselected.png") no-repeat;
    height:29px;
    display:none;
    margin-right:13px;
}

span.secondary.online {
    background: transparent url('../../images/icon_green_online.png') no-repeat 10px top;
}

span#primary.primary {
     padding:0px 0px 0px 9px;
}


span#icon.selected {
     background:url("../../images/icon_delete_selected.png") no-repeat;
}

.ui-panel-animate.ui-panel-content-wrap {
    -webkit-backface-visibility:visible;
    -webkit-transform:none;
}

ul#chats_list.scrollable.generic-list-small > li {
    border-bottom-color:#f1f1f1;
}
ul#chats_list.scrollable.generic-list-small > li a p > span {
  padding:0px 3px 0 25px;
  
}
ul#chats_list.scrollable.generic-list-small > li a p > span.primary{
    max-width:150px;
}
/*******************CHAT-HISTORY***********************/
.other .chat_bubble + .time-stamp {
    left: 40px;
}
.chat_bubble + .time-stamp {
    color: #6e6e6e;
    font-size: x-small;
    position: absolute;
}
.messages-panel li {
    overflow: hidden;
}
.chat_messages li {
    padding: 10px 5px 20px;
    width: auto;
}
.chat_messages li {
    color: #000;
    font-size: 11px;
    font-style: normal;
    padding: 9px 0;
    width: 100%;
}

.other .chat_bubble, .me .chat_bubble {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 46px 28px -30px white inset;
    color: #333;
    line-height: 1.5em;
    margin: 0 50px 0 20px;
    padding: 12px;
    position: relative;
    word-wrap: break-word;
}
.other .chat_bubble::before, .me .chat_bubble::before, .other .chat_bubble::after, .me .chat_bubble::after {
    content: "";
    position: absolute;
    right: 5px;
}
.other .chat_bubble::before, .me .chat_bubble::before {
    background: #e3f1a9 none repeat scroll 0 0;
    border-bottom-left-radius: 50px 30px;
    border-left: 26px solid #eaf5bf;
    bottom: -19px;
    height: 10px;
    transform: translate(0px, -8px);
}
.other .chat_bubble::after, .me .chat_bubble::after {
    background: #ffffff none repeat scroll 0 0;
    border-bottom-left-radius: 60px;
    bottom: -19px;
    height: 10px;
    transform: translate(0px, -8px);
    width: 14px;
}
/****just safari****/

.other.saf .chat_bubble::after, .me.saf .chat_bubble::after  {
  bottom: -10px;
}
.other.saf .chat_bubble::before, .me.saf .chat_bubble::before { 
    bottom: -10px;
}
.other .chat_bubble {
    margin: 0 20px 0 50px;
}
.other .chat_bubble::before, .other .chat_bubble::after {
    left: 5px;
    right: auto;
}
.other .chat_bubble::before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px 30px;
    border-left: medium none;
    border-right: 26px solid #eaeaea;
}
.other .chat_bubble::after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 60px;
    transform: translate(0px, -8px);
}
.chat_bubble {
    font-size: 13px;
}
.chat_bubble img {
    display: block;
    height: auto;
    margin: 0.5em 0;
    max-width: 100%;
}
.chat_bubble .spr, .chat_bubble .command span[class^="icons"], .command .chat_bubble span[class^="icons"] {
    vertical-align: bottom;
}
.me .chat_bubble {
    background-color: #e3f1a9;
    border-color: #e3f1a9;
}
.other .chat_bubble {
    background-color: #dddddd;
    border-color: #dddddd;
}
.me .chat_bubble {
    margin: 0;
}
.other .chat_bubble {
    margin: 0;
}
.chat_bubble + .time-stamp {
    color: #6e6e6e;
    font-size: x-small;
    position: absolute;
}
.me .chat_bubble + .time-stamp {
    right: 40px;
}
.other .chat_bubble + .time-stamp {
    left: 40px;
}
.chat_bubble.systems {
    background: #ffbaba none repeat scroll 0 0;
    border: 1px solid #ccc;
    text-align: center;
}
.chat_bubble.systems span {
    color: #ccc;
    font-size: x-small;
    position: absolute;
    right: 10px;
}
.fz-5 {
    font-size: 12px;
}
.ff-1 {
    font-family: Arial;
}
.fc-1, .chat_bubble.fc-1 {
    color: #000000;
}
.chat_bubble {
    font-size: 13px;
}
span.ui-grid-solo{
    width:100%;
    display:block;
    color:#7E8194;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
#chats_history{
    float:left;
    width:100%;
    height:auto;
    margin-top:210px;
}
#chats_history.generic-list-small li, #missedim-inbox.generic-list-small li{
    padding:10px;
    border:none;
    height:auto;
}
#chat_history_page .profile-panel{
    padding: 10px;
    background-color:#EBEDF2;
    border-top:1px solid #FEFEFE;
    float:left;
    font-size:14px;
    padding:10px;
}
#chat_history_page .profile-panel img{
    width:56px;
    height:68px;
    margin-right:10px;
}
#chat_history_page .primary {
    font-weight:bold;
    color:#516888;
    margin-top:3px;
    margin-bottom:4px;
}
.fix-top{
    position:fixed;
    top:44px;
    z-index: 100;
    width:100%
}
#chat_history_page .nav-header{
    position:fixed;
    top:0px;
    z-index: 100;
    width:100%
}
#chat_history_page div.chats-header {
    background-color: #ffffff;
    padding-top:5px;
}
.see-more, .more, .less, #see-more{
    cursor:pointer;
    text-align:center;
    display:block;
    width:100%;
    font-size:12px;
    color:#647B9B;
}
.fave-off, .fave-on, .block-off, .block-on, .report-off, .report-on {
    display: block;
    float: right;
    height: 44px !important;
    width: 44px;
    margin-top:5px;
   cursor:pointer;
}
.fave-off, .fave-on {
    margin-right: 10px;
}
.fave-on{
    background: rgba(0, 0, 0, 0) url("/images/hd/icon_favorite_chat_selected@2x.png") no-repeat scroll center center / 40px 40px;
}
.fave-off{
    background: rgba(0, 0, 0, 0) url("/images/hd/icon_favorite_chat_unselected@2x.png") no-repeat scroll center center / 40px 40px;
}
.report-off, .report-on {
    background: rgba(0, 0, 0, 0) url("../images/icon_report@2x.png") no-repeat scroll center center / 40px 40px;
}
.block-on {
   background: rgba(0, 0, 0, 0) url("/images/hd/icon_block_selected@2x.png") no-repeat scroll center center / 40px 40px;
}
.block-off{
    background: rgba(0, 0, 0, 0) url("/images/hd/icon_block_unselected@2x.png") no-repeat scroll center center / 40px 40px;
 }
.block-off,.fave-off{
    opacity: 0.5;
}
#chat_history_page .back-button{
    left:10px;
    background: transparent url("../../images/icon_arrow_back.png") no-repeat scroll left center;
     border: medium none;
    height: 20px;
    left: 10px;
    position: absolute;
    width: 11px;
}
#chat_history_page .generic-list-small li a img {
    /*width: auto;
    height: auto;*/
}
span#me, span#other{
    padding:15px;
}
span.imMessage{
    font-size:13px;
        vertical-align: middle;
    /*padding: 15px;*/
    /*display:inline-block;
    vertical-align:middle;
    line-height:normal;*/
    /*padding:10px;*/
    /*line-height: 1.5em;*/
    /* margin: 0 50px 0 20px; */
    /*padding: 12px;
    position: relative;
    word-wrap: break-word;*/

}
span.imTimeStamp{
    font-size:10px;
}
.generic-list-small li a p > span.imTimeStamp{
    color:#8894A5;
    padding: 0 0 0 36px;
}
li.chat_message.me {
    float:right;

}

/* container */

/* CSS talk bubble */
span#me.talk-bubble{
    background-color: #d9e9f9 !important;
}
span#other.talk-bubble{
    color:#FFF;
    background-color:#f5ac01;
}

.talk-bubble {
    display: inline-block;
    margin-left: 15px;
    height: auto;
    position: relative;
	width: 200px;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
    transform: rotate(38deg);
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -4px;
    /* right: 15px; */
    bottom: -11px;
    border: 12px solid;
    /*left: 8px;
    right: auto;*/
    /*top: 26px;*/
    top: auto;
    /*bottom: -7px;
    border: 13px solid;*/
    border-color: transparent transparent transparent #f5ac01;
    z-index:1;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}


/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	/*right: 15px;
	bottom: -20px;*/
	border: 12px solid;
    border-color: #d9e9f9 #d9e9f9 transparent transparent;

    transform: rotate(-40deg);
    right: -5px;
    bottom: -13px;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: black transparent transparent black;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
/*.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{

  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}*/