﻿/* Mail List */
.mail-list li a > span.mail-icon {
    display:inline-block;
    float:right;
    height:62px;
    width:50px;
}

.mail-list li a > span.mail-icon.sent {
    display:inline-block;
    float:right;
    height:62px;
    width:100px;
    margin-right: 10px;
}
.mail-list li a > span.mail-icon.im { background:transparent url('../../images/icon_email_unread.png') no-repeat center center; }
/*.mail-list li a > span.mail-icon.missedim { background:transparent url('../../images/icon_inbox_mail_unread.png') no-repeat center center; }*/
.mail-list li a > span.mail-icon.card { background:transparent url('../../images/icon_card_unread.png') no-repeat center center; }
.mail-list li a > span.mail-icon.mail { background:transparent url('../../images/icon_email_unread.png') no-repeat center center; }
.mail-list li a > span.mail-icon.freetextcomment { background:transparent url('../../images/icon_inbox_mail_unread.png') no-repeat center center; }
.mail-list li a > span.mail-icon.smile { background:transparent url('../../images/icon_smile_unread.png') no-repeat center center; }

.mail-list li a.read > span.mail-icon.im { background:transparent url('../../images/icon_email_read.png') no-repeat center center; }
/*.mail-list li a.read > span.mail-icon.missedim { background:transparent url('../../images/icon_inbox_mail_read.png') no-repeat center center; }*/
.mail-list li a.read > span.mail-icon.card { background:transparent url('../../images/icon_card_read.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.mail { background:transparent url('../../images/icon_email_read.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.freetextcomment { background:transparent url('../../images/icon_inbox_mail_read.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.smile { background:transparent url('../../images/icon_smile_read.png') no-repeat center center;}

/*.mail-list li a > span.mail-icon { background:transparent url('../../images/icon_inbox_closed.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon { background:transparent url('../../images/icon_inbox_open.png') no-repeat center center; }*/

.mail-list li a > span.mail-icon.missedim.sent,.mail-list li a > span.mail-icon.sent, .mail-list li a > span.mail-icon.ecard.sent, .mail-list li a > span.mail-icon.email.sent,
.mail-list li a > span.mail-icon.freetextcomment.sent, .mail-list li a > span.mail-icon.smile.sent { background:transparent url('../../images/icon_sentmail_locked.png') no-repeat right center;}
.mail-list li a > span.mail-icon.sent.false { background:transparent url('../../images/icon_sentmail_closed.png') no-repeat right center; }
.mail-list li a > span.mail-icon.sent.true { background:transparent url('../../images/icon_sentmail_open.png') no-repeat right center; }

.mail-list li a > span.mail-icon.sent span.opendate {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align:right;
    margin-top: 50px;
    font-family: "helvetica light", helvetica, arial, sans-serif;
    font-size: 8px;
    color: #474747;
    white-space: nowrap;
    text-wrap: none;
}

.mail-list li a > p > span{
    color:#404040;
    font-weight:bold;
}
.mail-list li a.read > p > span {
    color: #A8A8A8;
    font-weight:normal;
}

.mail-list li a > p > span.secondary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Mail Message Header */
.mail-message-header {
    padding: 0 5px;
}

.mail-message-header button {
    background-color:#FFF;
    border:none;
    color: #00578a;
    font-size: 22px;
}

.mail-message-header button.back-button {
    float:left;
    padding-left:15px;
}

.mail-message-header button.prev,
.mail-message-header button.next {
    float:right;
}

.mail-message-header button.prev {
    margin-right:5px;
    padding-left:15px;
}

.mail-message-header button.next {
    margin-left:5px;
    padding-right:15px;
}

.mail-message-header button.back-button,
.mail-message-header button.prev {
    background: transparent url('../../images/icon_arrow_back.png') no-repeat left center;
}

.mail-message-header button.next {
    background: transparent url('../../images/icon_arrow_next.png') no-repeat right center;
}

/* Mail Message Detail */
.message-detail-panel .profile-container {
    border-bottom:solid 1px #526889;
    border-top:solid 1px #526889;
    height:74px;
}

.message-detail-panel .profile-container > img {
    display:inline-block;
    float:left;
    height:74px;
    width:74px;
}

.message-detail-panel .profile-container > p {
    height:67px;
    margin: 0 0 0 74px;
    padding-top:7px;
}

.message-detail-panel .profile-container > p > span {
    color: #00578a;
    display:block;
    margin-left: 10px;
    padding-bottom: 2px;
}

.message-detail-panel .profile-container > p > span.username  {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-detail-panel .profile-container > p > span.age,
.message-detail-panel .profile-container > p > span.location {
    font-size: 15px;
}

.message-detail-panel .message-container > p {
    background: transparent url('../../images/icon_mail_blue.png') no-repeat 0 0;
    color:#404040;
    font-size: 16px;
    margin:0;
    min-height: 100px;
    padding:35px 10px 35px 10px;
    position:relative;
}

.message-detail-panel .message-container p.missedim {
}

.message-detail-panel .message-container p.email {
}

.message-detail-panel .message-container p.card {
    background: transparent url('../../images/icon_card_close.png') no-repeat 0 0;
}

.message-detail-panel .message-container p.card .card-img {
    width: 100%;
    margin: 10px 0;
}

.message-detail-panel .message-container p.smile {
    background: transparent url('../../images/icon_smile_blue.png') no-repeat 0 0;
}

.message-detail-panel .message-container p span.date {
    color: #8894A5;
    display:inline-block;
    font-size:12px;
    position:absolute;
    right:10px;
    top:10px;
}

.message-detail-panel .message-container p span.trash {
    background: transparent url('../../images/icon_delete.png') no-repeat center center;
    display:inline-block;
    bottom:0;
    height:35px;
    position:absolute;
    right:10px;
    width:35px;
}

.message-detail-panel div.reply {
    background-color: #ddebf4;
    padding: 15px 10px;
    text-align:center;
}

.message-detail-panel div.reply label {
    color: #00578a;
    display:inline-block;
    font-size: 17px;
    font-weight:bold;
    width:100%;
}

.message-detail-panel div.reply textarea {
    border: solid 1px #8894A5;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    height: 100px;
    margin: 0;
    padding: 5px 5px 20px;
    resize: none;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.message-detail-panel div.reply textarea:focus {
     border: solid 1px #f5ac01;
}

.message-detail-panel div.reply label,
.message-detail-panel div.reply textarea {
    margin-bottom: 10px;
}

/*.message-detail-panel div.reply button {
    background-color: #516888;
    border:none;
    color: #FFF;
    font-weight: bold;
    height: 34px;
    width: 200px;
}*/

.message-new {
    padding-bottom:10px;
    text-align:center;
}

.message-new h2.page-header {
    background-color:#00578A;
    color:#FFF;
}

.message-new > div {
    padding:10px;
}

.message-new > div h4 {
    color:#8894A5;
    margin:5px 0 10px;
    text-align:left;
}

.message-new > div input {
    margin:0 0 10px;
}

.message-new > div textarea {
    min-height:250px;
    padding:5px;
}

.message-new a.btn-blue {
    min-width:145px;
}
#mos_christian_inbox_top_320x50{
    margin:0 auto;
}

div.deletedMessageDiv {
    border-bottom:solid 1px #8894A5;
    color:#00578a;
    font-size:12px;
    padding:7px 5px 7px 5px;
    /*text-align:center;*/
}
div.deletedMessageDiv.hide{
    display:none;
    transform: translateY(100%);
}
/* Sprites - Emoticons */
.spr { display:inline-block; vertical-align:text-top; text-indent:-9999px; text-align:right; }
.spr[data-type="emoticon"] { vertical-align:middle; }
.icons-sprite, .icons-bg, .icons-emoticon, .icons-font, .icons-photo, .icons-smiley-a-0000, .icons-smiley-a-0001, .icons-smiley-a-0002, .icons-smiley-a-0003, .icons-smiley-a-0004, .icons-smiley-a-0005, .icons-smiley-a-0006, .icons-smiley-a-0007, .icons-smiley-a-0008, .icons-smiley-a-0009, .icons-smiley-a-0010, .icons-smiley-a-0011, .icons-smiley-a-0012, .icons-smiley-a-0013, .icons-smiley-a-0014, .icons-smiley-a-0015, .icons-smiley-a-0016, .icons-smiley-a-0017, .icons-smiley-a-0018, .icons-smiley-a-0019, .icons-smiley-a-0020, .icons-smiley-a-0021, .icons-smiley-a-0022, .icons-smiley-a-0023, .icons-smiley-a-0024, .icons-smiley-a-0025, .icons-smiley-a-0026, .icons-smiley-a-0027, .icons-smiley-a-0028, .icons-smiley-a-0029, .icons-smiley-b-0001, .icons-smiley-b-0002, .icons-smiley-b-0003, .icons-smiley-b-0004, .icons-smiley-b-0005, .icons-smiley-b-0006, .icons-smiley-b-0007, .icons-smiley-b-0008, .icons-smiley-b-0009, .icons-smiley-b-0010, .icons-smiley-b-0011, .icons-smiley-b-0012, .icons-smiley-b-0013, .icons-smiley-b-0014, .icons-smiley-b-0015, .icons-smiley-b-0016, .icons-smiley-b-0017, .icons-smiley-b-0018, .icons-smiley-b-0019, .icons-smiley-b-0020, .icons-smiley-b-0021, .icons-smiley-b-0022, .icons-smiley-b-0023, .icons-smiley-b-0024, .icons-smiley-b-0025, .icons-smiley-b-0026, .icons-smiley-b-0027, .icons-smiley-b-0028, .icons-smiley-b-0029, .icons-smiley-b-0030, .icons-smiley-b-0031, .icons-smiley-b-0032, .icons-smiley-b-0033, .icons-smiley-b-0034, .icons-smiley-b-0035, .icons-smiley-b-0036, .icons-smiley-b-0037, .icons-smiley-b-0038, .icons-smiley-b-0039, .icons-smiley-b-0040, .icons-text-bold, .icons-text-italic, .icons-text-underline { background-image: url('../../images/icons.png'); background-repeat: no-repeat; }
.icons-bg { background-position: 0 0; height: 22px; width: 24px; }
.icons-emoticon { background-position: 0 -42px; height: 21px; width: 21px; }
.icons-font { background-position: 0 -83px; height: 18px; width: 19px; }
.icons-photo { background-position: 0 -121px; height: 21px; width: 25px; }
.icons-smiley-a-0000 { background-position: 0 -162px; height: 32px; width: 32px; }
.icons-smiley-a-0001 { background-position: 0 -214px; height: 32px; width: 32px; }
.icons-smiley-a-0002 { background-position: 0 -266px; height: 32px; width: 32px; }
.icons-smiley-a-0003 { background-position: 0 -318px; height: 32px; width: 32px; }
.icons-smiley-a-0004 { background-position: 0 -370px; height: 32px; width: 32px; }
.icons-smiley-a-0005 { background-position: 0 -422px; height: 32px; width: 32px; }
.icons-smiley-a-0006 { background-position: 0 -474px; height: 32px; width: 32px; }
.icons-smiley-a-0007 { background-position: 0 -526px; height: 32px; width: 32px; }
.icons-smiley-a-0008 { background-position: 0 -578px; height: 32px; width: 32px; }
.icons-smiley-a-0009 { background-position: 0 -630px; height: 32px; width: 32px; }
.icons-smiley-a-0010 { background-position: 0 -682px; height: 32px; width: 32px; }
.icons-smiley-a-0011 { background-position: 0 -734px; height: 32px; width: 32px; }
.icons-smiley-a-0012 { background-position: 0 -786px; height: 32px; width: 32px; }
.icons-smiley-a-0013 { background-position: 0 -838px; height: 32px; width: 32px; }
.icons-smiley-a-0014 { background-position: 0 -890px; height: 32px; width: 32px; }
.icons-smiley-a-0015 { background-position: 0 -942px; height: 32px; width: 32px; }
.icons-smiley-a-0016 { background-position: 0 -994px; height: 32px; width: 32px; }
.icons-smiley-a-0017 { background-position: 0 -1046px; height: 32px; width: 32px; }
.icons-smiley-a-0018 { background-position: 0 -1098px; height: 32px; width: 32px; }
.icons-smiley-a-0019 { background-position: 0 -1150px; height: 32px; width: 32px; }
.icons-smiley-a-0020 { background-position: 0 -1202px; height: 32px; width: 32px; }
.icons-smiley-a-0021 { background-position: 0 -1254px; height: 32px; width: 32px; }
.icons-smiley-a-0022 { background-position: 0 -1306px; height: 32px; width: 32px; }
.icons-smiley-a-0023 { background-position: 0 -1358px; height: 32px; width: 32px; }
.icons-smiley-a-0024 { background-position: 0 -1410px; height: 32px; width: 32px; }
.icons-smiley-a-0025 { background-position: 0 -1462px; height: 32px; width: 32px; }
.icons-smiley-a-0026 { background-position: 0 -1514px; height: 32px; width: 32px; }
.icons-smiley-a-0027 { background-position: 0 -1566px; height: 32px; width: 32px; }
.icons-smiley-a-0028 { background-position: 0 -1618px; height: 32px; width: 32px; }
.icons-smiley-a-0029 { background-position: 0 -1670px; height: 32px; width: 32px; }
.icons-smiley-b-0001 { background-position: 0 -1722px; height: 32px; width: 32px; }
.icons-smiley-b-0002 { background-position: 0 -1774px; height: 32px; width: 32px; }
.icons-smiley-b-0003 { background-position: 0 -1826px; height: 32px; width: 32px; }
.icons-smiley-b-0004 { background-position: 0 -1878px; height: 32px; width: 32px; }
.icons-smiley-b-0005 { background-position: 0 -1930px; height: 32px; width: 32px; }
.icons-smiley-b-0006 { background-position: 0 -1982px; height: 32px; width: 32px; }
.icons-smiley-b-0007 { background-position: 0 -2034px; height: 32px; width: 32px; }
.icons-smiley-b-0008 { background-position: 0 -2086px; height: 32px; width: 32px; }
.icons-smiley-b-0009 { background-position: 0 -2138px; height: 32px; width: 32px; }
.icons-smiley-b-0010 { background-position: 0 -2190px; height: 32px; width: 32px; }
.icons-smiley-b-0011 { background-position: 0 -2242px; height: 32px; width: 32px; }
.icons-smiley-b-0012 { background-position: 0 -2294px; height: 32px; width: 32px; }
.icons-smiley-b-0013 { background-position: 0 -2346px; height: 32px; width: 32px; }
.icons-smiley-b-0014 { background-position: 0 -2398px; height: 32px; width: 32px; }
.icons-smiley-b-0015 { background-position: 0 -2450px; height: 32px; width: 32px; }
.icons-smiley-b-0016 { background-position: 0 -2502px; height: 32px; width: 32px; }
.icons-smiley-b-0017 { background-position: 0 -2554px; height: 32px; width: 32px; }
.icons-smiley-b-0018 { background-position: 0 -2606px; height: 32px; width: 32px; }
.icons-smiley-b-0019 { background-position: 0 -2658px; height: 32px; width: 32px; }
.icons-smiley-b-0020 { background-position: 0 -2710px; height: 32px; width: 32px; }
.icons-smiley-b-0021 { background-position: 0 -2762px; height: 32px; width: 32px; }
.icons-smiley-b-0022 { background-position: 0 -2814px; height: 32px; width: 32px; }
.icons-smiley-b-0023 { background-position: 0 -2866px; height: 32px; width: 32px; }
.icons-smiley-b-0024 { background-position: 0 -2918px; height: 32px; width: 32px; }
.icons-smiley-b-0025 { background-position: 0 -2970px; height: 32px; width: 32px; }
.icons-smiley-b-0026 { background-position: 0 -3022px; height: 32px; width: 32px; }
.icons-smiley-b-0027 { background-position: 0 -3074px; height: 32px; width: 32px; }
.icons-smiley-b-0028 { background-position: 0 -3126px; height: 32px; width: 32px; }
.icons-smiley-b-0029 { background-position: 0 -3178px; height: 32px; width: 32px; }
.icons-smiley-b-0030 { background-position: 0 -3230px; height: 32px; width: 32px; }
.icons-smiley-b-0031 { background-position: 0 -3282px; height: 32px; width: 32px; }
.icons-smiley-b-0032 { background-position: 0 -3334px; height: 32px; width: 32px; }
.icons-smiley-b-0033 { background-position: 0 -3386px; height: 32px; width: 32px; }
.icons-smiley-b-0034 { background-position: 0 -3438px; height: 32px; width: 32px; }
.icons-smiley-b-0035 { background-position: 0 -3490px; height: 32px; width: 32px; }
.icons-smiley-b-0036 { background-position: 0 -3542px; height: 32px; width: 32px; }
.icons-smiley-b-0037 { background-position: 0 -3594px; height: 32px; width: 32px; }
.icons-smiley-b-0038 { background-position: 0 -3646px; height: 32px; width: 32px; }
.icons-smiley-b-0039 { background-position: 0 -3698px; height: 32px; width: 32px; }
.icons-smiley-b-0040 { background-position: 0 -3750px; height: 32px; width: 32px; }
.icons-text-bold { background-position: 0 -3802px; height: 16px; width: 16px; }
.icons-text-italic { background-position: 0 -3838px; height: 16px; width: 16px; }
.icons-text-underline { background-position: 0 -3874px; height: 16px; width: 16px; }


ul.generic-tabs.mail-tabs > li.three {
    float: left;
}
ul.generic-tabs.mail-tabs > li.three:first-child {
    width: 33%;    
}
ul.generic-tabs.mail-tabs > li.three:nth-child(2){
      width:33%;
}
ul.generic-tabs.mail-tabs > li.three:nth-child(3){
      width:34%;
}
ul.generic-tabs.mail-tabs > li.three:last-child > a {
     border-left: solid 1px #00578a;
   
} 
li.folders{
   border-bottom: 1px solid #f1f1f1;
   color: #00578a;
   float:none;
}
li.folders > span {
  width: 20px;
  display: inline-block;
  height: 16px;
  /* border: none; */
  position: relative;
  float: right;
  left: -14px;
  background: transparent url('../../images/icon_arrow_next.png') no-repeat center right;
}
ul.custom-folders li.folders > a {

}

li.folder-back{
    color: #00578a;
  font-size: 22px;
  line-height: 44px;
  margin: 0;
  height: 44px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li.folder-back > a{
  background: transparent url('../../images/btn_left_arrow.png') no-repeat left center;
  font-size: 20px;
  font-weight: normal;
  height: inherit;
  min-width: 15px;
  padding-left: 15px;
  position: absolute;
  left: 5px;
}

span.move.hidden {
    display: none;
}
span.move {
  bottom: 0;
  color: #f5ac01;
  display: inline-block;
  font-size:17px;
  height: 28px;
  position: absolute;
  right: 56px;
  width: 35px;
}
div.folder-list-container {
  background-color: rgba(234,237,241,0.92);
  border: solid 1px #8894A5;
  width: 300px;
  min-height: 150px;
}

div.folder-list-container > p, div.folder-list-container > ul li {
  color: #00578a;
  font-size: 17px;
  margin: 0;
  padding: 30px 10px;
  text-align: center;
}

div#move-mail-popup{
  background-color: rgba(234,237,241,0.92);
  border: solid 1px #8894A5;
  box-shadow: 0 0 12px rgba(0,0,0,.6);
  bottom: 296px;
  width: 300px;
  min-height: 180px;
  position: relative;
  margin: 0 auto;
  z-index:9999;
  text-align:center;
}
li.folders-popup.clicked{
    background-color: rgba(245,172,1,0.50);
    height: 37px;
    line-height: 37px;
}
#move-mail-popup > div {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

#move-mail-popup > div a {
   background: #00578a;

  color: #FFF;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 282px;

}