﻿.error-page{
    background: transparent url('../../images/icon_alert.png') no-repeat;
    margin:0 auto;
    padding:40px 10px 35px 10px;
}

.error-page p:first-child{
    color:#00578a;
    font:bold 20px helvetica;
    
}
.error-page p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding:26px 0px 31px 0px;
}
.error-page a.btn-blue{
    width:100%;
}
/* Login */


.cm-logo{
    background: #64656a url('../../images/icon_cm_logo.png') no-repeat center center;
    height: 44px;
    position: relative;
   
}
.login-page-header{
    background: transparent url('../../images/icon_lock.png') no-repeat;
    margin:0 auto;
    padding:10px;
}

.login-page p:first-child{
    color:#00578a;
    font:bold 20px helvetica;
    padding:40px 0 30px 0;
    text-align:center;
}
.login-page p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding-bottom:28px;
}

.login-page a.btn-blue{
    background-color: #00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-family: Helvitica, Arial, sans-serif; 
    font-size:17px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin-bottom:33px;
    min-width: 200px;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    width:100%;
}

/* page not found */
.pagenotfound{
    background: transparent url('../../images/icon_alert.png') no-repeat;
    margin:0 auto;
    padding:40px 10px 35px 10px;
}

.pagenotfound p:first-child{
    color:#516889;
    font:bold 20px helvetica;    
}
.pagenotfound p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding:26px 0px 31px 0px;
}

.pagenotfound a.btn-blue{
    background-color:#00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-family: Helvitica, Arial, sans-serif; 
    font-size:17px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin-bottom:33px;
    min-width: 200px;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    width:100%;
}

/*confirm*/

.confirmation-page{
    padding:10px;
}
.confirmation-page p:first-child{
    color:#00578a;
    font:bold 23px Helvetica;  
}
.confirmation-page p:first-child, .confirmation-page p:nth-child(2){
     text-align:center;
}
.confirmation-page p:nth-child(2), .confirmation-page p:nth-child(4),ul.confirm-info > li:nth-child(odd){
    font:bold 14px Helvetica; 
}

.confirmation-page p:nth-child(2), ul.confirm-info > li:nth-child(odd){
    color:#00578a;
}
.confirmation-page p:nth-child(3), ul.confirm-info > li:nth-child(even){
      font:normal 14px Helvetica; 
}
.confirmation-page p:nth-child(3), .confirmation-page p:nth-child(4){
    color:#404040;
}

ul.confirm-info > li:nth-child(even){
    color:#727272;
    padding-bottom:20px;
}
.btn-blue-confirm{
    background-color: #00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-family: Helvitica, Arial, sans-serif; 
    font-size:17px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin-bottom:33px;
    min-width: 200px;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    width:100%;
}
ul.subscription-gridview{
    /*overflow:hidden;*/
   float:left;
}
ul.subscription-gridview li{
    /*height:136px;
    width:106px;*/
}

ul.subscription-gridview li{
    display:inline-block;
}

/* SETTINGS */
#settings_page .page-header, #spotlight_settings_page .page-header {
    
    border-bottom: 1px solid #c6c6c7;
}

#settings_page .page-header h2, #spotlight_settings_page .page-header h2  {
    
    max-width: 400px;
   
}

.forward-arrow {
    background: transparent url('../../images/icon_arrow_forward.png') no-repeat center center;
    width: 11px;
    height: 20px;
}
.settings-main , .settings-emailalerts {
    background-color: #eceef1;
}

.settings-main h2, .settings-emailalerts h2{
 
    height: 36px;
    margin: 0;
    font-weight: 100;
    font-size: 16px;
    color: #474747;
    padding-top: 8px;
    padding-left: 1%;
    box-sizing: border-box;
    border-bottom: 1px solid #c6c6c7;
    text-transform: uppercase;
}

.settings-main ul , .settings-emailalerts ul{
    border-bottom: 1px solid #c6c6c7;
    background: white
    
}

.settings-main ul li , .settings-emailalerts ul li{
    height: 44px;
    width: 97%;
    margin-left: 3%;
    display: block;
    padding-top: 13px;
    font-weight: 100;
    font-size: 16px;
    border-bottom: 1px solid #c6c6c7;
    background: white;
    box-sizing: border-box;
    color: #00578a;
}


.settings-main ul li a , .settings-emailalerts ul li a{
    height: 44px;
    display: block;
    font-weight: 100;
    font-size: 16px;
    color: #00578a;
}

.settings-main ul li a:visted {
     color: #00578a;
}

 
.settings-main ul li:last-child , .settings-emailalerts ul li:last-child{
     border-bottom: none;
 }

.settings-main p {
    margin: 0;
    padding: 20px 15px;
}

.settings-main ul li span , .settings-emailalerts ul li span{
    float: right;
    margin-right: 5%;
}

.settings-emailalerts ul li span.cb-custom {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #b3b3b3;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: -10px 9px;
} 
.settings-emailalerts ul li.selected span.cb-custom {
    background: #FFF url('../../images/icon_checkmark.png') no-repeat center center;
    border: solid 1px #f5ac01;
 }
.page-header a.prevButton {
display: inline-block;
height: 37px;
width: 20px;
background: transparent url('../../images/icon_arrow_back.png') no-repeat center center;
float: left;
padding: 0;
margin-top: 4px;
}

.spotlight-settings-edit  {
height: 100%;
left: 0;
top: 0;
width: 100%;
    position: absolute;
    
background-color: #ddebf4;
}

.spotlight-settings-edit ul.button-container {
background: #FFF;
border-bottom: solid 1px #8894A5;
box-shadow: 0 3px 5px 0px #CCC;
height: 44px;
width: 100%;
-moz-box-shadow: 0 3px 5px 0px #CCC;
-webkit-box-shadow: 0 3px 5px 0px #CCC;
}

.spotlight-settings-edit ul.button-container li {
float: left;
width: 50%;
}

.spotlight-settings-edit ul.button-container li:first-child a {
border-right: solid 1px #8894A5;
}

.spotlight-settings-edit ul.button-container li a {
color: #00578a;
display: block;
font-size: 17px;
font-weight: bold;
line-height: 44px;
text-align: center;
}

.spotlight-settings-edit label {
color: #00578a;
display: block;
font-size: 17px;
font-weight: bold;
padding: 10px 0;
text-align: center;
width: 100%;
}

div#account-prefs.self-suspend > div.page-header{
      border-bottom: 1px solid #c6c6c7;
}
#account-prefs .settings-main {
    padding-top: 20px;
    border-top: 1px solid #c6c6c7;
    min-height: 455px;
}

#account-prefs .settings-main ul {
    border-top: 1px solid #c6c6c7;
}

.self-suspend p {
    font-size: 12px;
    color: #00578a;  
}
.self-suspend p span.important {
    font-weight: bold;
}

.self-suspend ul li {
    font-size: 16px;
    color: #00578a;  
}

.self-suspend ul{
    border-bottom: none;  
}

.self-suspend ul li div {
    width: 34px;
    height: 34px;
    border: 1px solid #00578a;  
    float:right;
    margin-right: 8px;
    margin-top: -9px;
}

.self-suspend ul li.selected div {
    border-color: #f5ac01;
    background: transparent url('../../images/icon_checkmark.png') no-repeat;
    background-position: 9px 11px;
}

.self-suspend .remove-profile {
    width: 290px;
    margin: 30px auto;
    color: #ffffff;
    height: 36px;
    text-align: center;
    display: block;
}


#account-prefs.self-suspend .settings-main {
  padding-top: 0px;
  border-top: 1px solid #c6c6c7;
    background-color: #fff;
}

.selfsuspended {
    background: #ebebeb url('../images/icon_cm_logo.png') no-repeat;
    background-position: center 10px;
    background-size: 208px 98px;
    min-height: 455px; 
}

.selfsuspended h3 {
    text-align: left;
    margin: 0px auto;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
    color: #00578a;
    padding-top: 150px;
    max-width: 300px;
}
.selfsuspended p {
    text-align: left;
    padding: 15px 10px 50px 10px;
    font-size: 14px;
    color: #00578a;
    margin: 0px auto;
    max-width: 300px;
}
.selfsuspended a.btn-blue, a.btn-purple {
    max-width: 300px;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    color:#00578a;
    margin: 0px auto;
    text-align: center;
    color: #ffffff;
    display: block;
    line-height: 36px;
    width: 90%;
    min-width: 200px;
    
}

.selfsuspended a.btn-purple {
    background-color: #f5ac01;
    margin-bottom: 21px;
}

div#removing-profile-terms > p:first-child{
    font-weight:bold;
}
div#removing-profile-terms ul li {
    color:#00578a;
}
 
div#removing-profile-terms ul li:first-child{
    margin: 50px 0px 50px 0px;
}

div#removing-profile-terms ul li > span.checkbox.remove-terms{
    margin-left:6px;
    margin-bottom: -6px;
}
div#removing-profile-terms ul li:nth-child(2) , div#removing-profile-terms ul li:nth-child(3), ul.remove-or-cancel-profile li{
   float: left;
  width: 50%;
  text-align: center;
}
div#removing-profile-terms ul li:nth-child(2) > a  , div#removing-profile-terms ul li:nth-child(3) > a , ul.remove-or-cancel-profile li > a.remove-profile, ul.remove-or-cancel-profile li > a.cancel {
  display: inline-block;
  vertical-align: middle;
  /* background-color: #516889; */
  color: #FFF;
  height: 40px;
  line-height: 40px;
  width: 140px;
  background-color: #00578a;
  /* color: #FFF; */
  /* padding: 10px; */
}

div#removing-profile.dd-custom, div#recommend.dd-custom, textarea#explainReason{
    margin: 0 auto;
    width:96%;
}
div#need_improvement{
   padding: 0 10px !important;
}
span.checkbox.remove-terms.checked, ul.report-abuse-list li > div.checkbox.checked  {
  background: #FFF url('../../images/icon_checkmark.png') no-repeat center center;
  background-size: 17px;
}
ul.remove-or-cancel-profile, textarea#explainReason{
    margin-top:10px;
}
textarea#explainReason{
      margin: 10px auto;
      display: block;
    /*margin-left:8px;*/
}
textarea#explainReason.hidden{
    display:none;
}

div#block-or-hide.block-popup{
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
ul.remove-or-cancel-profile li{
  background-color: #eceef1;
   padding-bottom: 10px;
}

ul#blockedmembers_list.scrollable.generic-list-small li a p> span.online{
    /*background: transparent url('../../images/icon_green_online.png') no-repeat 18px center;*/
    font-size: 12px;
    padding-left: 30px;
}