﻿.photos ul.photos-list {
    background:#FFF;
}

.photos ul.photos-list li {
    border-bottom:solid 1px #8894A5;
    overflow:hidden;
    position:relative;
}

.photos ul.photos-list li img {
    float:left;
    height:80px;
    width:80px;
}

.photos ul.photos-list li.unapproved img {
    opacity:0.50;
}

.photos ul.photos-list li.usemain p,
.photos ul.photos-list li.unapproved p,
.photos ul.photos-list li.currentmain p {
    background:#ddebf4;
    color:#999;
    display:inline-block;
    float:left;
    font-size:16px;
    margin:0;
    min-width:62px;
    padding:21px 10px;
    text-align:center;
}

.photos ul.photos-list li.usemain p {
    color: #f5ac01;
}

.photos ul.photos-list li.currentmain p {
    color: #8894a5;
}

.photos ul.photos-list li.no-results {
    height: 44px;
    text-align:center;
}

.photos ul.photos-list li.no-results p {
    color: #00578a;
    display: inline-block;
    font-size: 16px;
    height: inherit;
    line-height: 44px;
    margin: 0;
}

.photos ul.photos-list li span.caption {
    background:#FFF;
    color: #404040;
    display: inline-block;
    font-size: 12px;
    height:70px;
    left:80px;
    padding:5px;
    overflow:hidden;
    position:absolute;
    right:35px;
    text-overflow: ellipsis;
    top:0;
    /*white-space: nowrap;*/
}

.photos ul.photos-list li.usemain span.caption, 
.photos ul.photos-list li.unapproved span.caption,
.photos ul.photos-list li.currentmain span.caption {
    left:162px;
}

.photos ul.photos-list li.last {
    border-bottom:none;
}

.photos ul.photos-list li button.trash {
    background:#ddebf4 url('../../images/icon_delete.png') no-repeat center center;
    border:none;
    float:right;
    height:80px;
    width:35px;
}


.photos div.add-photo-bar {
    background:#00578a url('../../images/icon_addphoto.png') no-repeat left center;
    display:block;
    height:40px;
    padding:5px 0;
    position:relative;
}

.photos div.add-photo-bar h5 {
    color:#FFF;
    font-size: 20px;
    padding-left: 95px;
    padding-top:0px;
    margin:0;
    width:100%
}

.photos div.add-photo-bar h5:nth-child(2) {
    color:#8FA0B9;
    font-size:14px;
}

.photos div.add-photo-bar.disabled {
    background: #8894A5 !important;
}

.photos div.add-photo-bar.disabled h5 {
    color:#FFF;
    font-size:16px;
    padding:0;
    text-align:center;
}

.photos input[type='file'] {
    box-sizing: border-box;
    display:block;
    height:inherit;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.photos ul.button-container {
    background: #FFF;
    /*border-bottom:solid 1px #8894A5;*/
    box-shadow: 0 3px 5px 0px #CCC;
    height: 44px;
    /*left:0px;
    position:fixed;
    top:0px;*/
    width:100%;
    -moz-box-shadow: 0 3px 5px 0px #CCC;
    -webkit-box-shadow: 0 3px 5px 0px #CCC;
}

.photos ul.button-container li {
    float:left;
    width:50%;
}

.photos ul.button-container li a {
    color:#00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    line-height:44px;
    text-align:center;
}

.photos ul.button-container li:first-child a {
    border-right: solid 1px #8894A5;
}

.photos div.caption-panel > div.form {
    padding: 15px 10px;
    position:relative;
}

.photos div.caption-panel > div.form span.char-counter {
    color:#A8A8A8;
    bottom:20px;
    font-size:12px;
    position:absolute;
    right:20px;
}

.photos div.preview-panel {
    /*background: #EAEDF1;*/
}

.photos div.preview-panel div.photo-canvas {
    padding:5px;
    text-align:center;
}

.photos div.preview-panel div.photo-canvas img {
    display:inline-block;
    vertical-align:bottom;
}

.photos textarea {
    border:solid 1px #8894A5;
    box-sizing: border-box;     
    color: #404040;
    font-size: 16px;
    height: 100px;
    margin: 0;
    padding: 5px 5px 20px;
    resize: none;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.photos.swiper-container .swiper-slide {
    width:100%;
}*/