﻿.profile-page {
}

.first {
    min-width: 100%;
}

.first .nextButton {
    /*remove this once swiping is back*/
    visibility: hidden;
}

.profile-edit-icon {
    background: transparent url('../../images/icon_editprofile_blue.png') no-repeat center center;
    display:inline-block;
    cursor: pointer;
    height:22px;
    width:22px;
}

.profile-menu {
    height: 40px;
}
#profile_page .page-header {
    padding: 0;
}

.profile-page-header a.btn-edit {
    position: absolute;
    right: 5px;
    top: 12px;
}

.profile-page-header h2 {
    font-weight:bold;
}

#profile_page .page-header a.prevButton {
    display: inline-block;
    height: 37px;
    width: 40px;
    background: transparent url('../../images/icon_arrow_back.png') no-repeat center center;
    float: left;
    padding: 0;
    padding-left: 20px;
    margin-top: 4px;
}

#profile_page .page-header a.nextButton {
    display: inline-block;
    height: 37px;
    width: 40px;
    background: transparent url('../../images/icon_arrow_next.png') no-repeat center center;
    float: right;
    padding: 0;
    padding-right: 20px;
    margin-top: 4px;
}

.profile-panel-container {
    position:relative;
}

.profile-panel {
    height:100%;
    left:0;
    top:0;
    width:100%;
}

.profile-detail-container {
    background:#ddebf4;
    border-top:solid 1px #8894A5;
    border-bottom:solid 1px #8894A5;
    max-height:170px;   
    position:relative;
    overflow:hidden;
}

.profile-detail-container div {
    /*height:170px;*/
    margin-top: 11px;
}

.profile-detail-container > span {
    position:absolute;
    right:5px;
    top:13px;
}

.profile-detail-container div:first-child {
    background-color:#000;
    float:left;
    margin:0 5px 0 0;
    position:relative;
    width:170px;
    overflow: hidden;
}

.profile-detail-container div:first-child span {
    display:inline-block;
    position:absolute;
}

.profile-detail-container div:first-child span:first-child {
    background:transparent url('../../images/icon_photos_white.png') no-repeat center center;
    bottom:10px;
    height:24px;
    left:10px;
    width:22px;
    pointer-events: none;
}

.profile-detail-container div:first-child span:first-child b {
    color: #FFF;
    display:block;
    font-size:12px;
    line-height:18px;
    text-align:center;
    width:16px;
}

.profile-detail-container div:first-child span:nth-child(2) {
    background: transparent url('../../images/icon_editprofile_white.png') no-repeat center center;
    height:21px;
    right:12px;
    top:13px;
    width:20px;
    pointer-events: none;
}

.profile-detail-container div:first-child img {
    width: auto;
    height: 170px;
    margin: 0 auto;
    display: block;
}

/*.profile-detail-container div:nth-child(2) {
    float:left;
    margin-top:10px
}*/

.profile-detail-container.my-profile div:nth-child(2) {
    margin-top:40px
}

.profile-detail-container div:nth-child(2) h4 {
    color:#00578a;
    font-size:14px;
    font-style:normal;
    line-height: 18px;
    margin: 0 0 5px;
    overflow:hidden;
    padding:0;
    text-overflow:ellipsis;
    white-space:nowrap;
}


.profile-detail-container div h4.match {
    font-weight: 800;
    color: #f5ac01!important;
    margin-bottom: 0;
}

.profile-detail-container div h4.religiousBackground{
    font-size:12px;
    font-weight:lighter;
}
.profile-detail-container div h4 p.last-log {
    margin-top: 5px;
    margin-left: 0px;
}


.profile-menu {
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background: #00578a;
}

.profile-menu div.left  {
    display:inline-block;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height:inherit;
    width: 170px;
}

.profile-menu .left div {
    width: 49.4%;
    display:inline-block;
    float:left;
}

 .profile-menu div a {
     width: 100%;
     cursor: pointer;
 }

.profile-menu div.right {
    height:inherit;
}

.profile-menu div.flirt {
    background: url("../../images/icon_smile.png") no-repeat 5px 5px;
}

.profile-menu div.favorite {
    background: url("../../images/icon_favorite_unselect.png") no-repeat 4px 4px;
    border-left:solid 1px #FFF;
    border-right:solid 1px #FFF;
}

.profile-menu div.favorite .selected {
    background: url("../../images/icon_unfavorite_select.png") no-repeat 4px 4px ;
    background-color: #f5ac01;
}

.profile-menu div.right {
    background: url("../../images/icon_email.png") no-repeat 175px 9px;
}

.profile-menu div a {
    color:#FFF !important;
    font-weight: normal !important;
    display:block;
    font-size:16px;
    line-height:40px;
    height:inherit;
    text-align:center;
}

.profile-tabs {
    height:40px;
}

.profile-tabs li {
    display:inline-block;
    float:left;
    height:inherit;
    width:33%;
}

.profile-tabs li:nth-child(2) {
    width:34%;
}

.profile-tabs li.active 
{
    border-bottom:none;
}

.profile-tabs li a {
    background: #ddebf4;
    border-bottom:solid 1px #00578a;
    color: #8894A5;
    display:block;
    font-size: 14px;
    height:35px;
    padding-top:5px;
    text-align:center;
}

.profile-tabs li a.active 
{
    background:#FFF;
    border-bottom:none;
    font-weight:bold;
    color:#00578a;
}

.profile-tabs li a.border-left {
    border-left:solid 1px #00578a;
}

.profile-tabs li a.border-right {
    border-right:solid 1px #00578a;
}

.profile-content {
    padding: 10px 5px 0 11px;
}

.profile-content h5 {
    border-bottom:solid 1px #ddebf4;
    color:#4A5668;
    font-size:17px;
    font-weight:bold;
    margin:0 0 10px 0;
    padding:0 0 3px;
    position:relative;
    /*text-align:center;*/
}

.profile-content #my_details h4 {
    border-bottom: none;
}

.profile-content div {
    padding-top:20px;
}

.profile-content div h4 {
    border-bottom:solid 1px #ddebf4;
    color:#00578a;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0 0 7px;
}


.profile-content div h4.no-border {
    border:none;
}

.profile-content div h4 > span {
    float:right;
}

.profile-content h5 > span {
    position:absolute;
    right:5px;
    top:0;
}

.profile-content div p {
    color:#647B9B;
    font-size:14px;
    padding:0 0 18px 0;
    margin:0;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.profile-content div p.my-details {
    margin-top:-5px;
    padding:0 0 15px 0;
}

.profile-list-container {
    min-height:75px;
}

.profile-edit {
    height:100%;
}

.profile-edit textarea,
.profile-edit div.dd-custom {
    margin-bottom:15px;
}


.profile-edit ul.button-container {
    background: #FFF;
    /*border-bottom:solid 1px #8894A5;*/
    box-shadow: 0 3px 5px 0px #CCC;
    height: 44px;
    /*left:0px;
    position:fixed;
    top:0px;*/
    width:100%;
    -moz-box-shadow: 0 3px 5px 0px #CCC;
    -webkit-box-shadow: 0 3px 5px 0px #CCC;
}

.profile-edit ul.button-container li {
    float:left;
    width:50%;
}

.profile-edit ul.button-container li a {
    color:#00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    line-height:44px;
    text-align:center;
}

.profile-edit ul.button-container li:first-child a {
    border-right: solid 1px #8894A5;
}   

.profile-edit-bg {
    background-color: #ddebf4;
}

.profile-edit div.content {
}

.profile-edit-form {
    height:100%;
    padding:0 10px !important;
}

.profile-edit-form h2 {
    color: #00578a;
    font-size:17px;
    font-weight:bold;
    margin:10px 0;
    padding:0;
    text-align:center;
}


/*.profile-edit-form input[type='text'],
.profile-edit-form textarea {
    border:solid 1px #8894A5;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    height: 36px;
    margin-bottom:17px;
    padding: 0 5px;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

.profile-edit-form textarea {
    padding: 5px;
    min-height:250px;
}

.profile-edit-form legend {
    color: #00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    padding:10px 0;
    text-align:center;
    width:100%
}

.profile-edit-form label {
    color:#00578a;
    /*color: #404040;*/
    display:inline-block;
    font-size:14px;
    margin-bottom:3px;
}

.photos span#yesno {
    background: none;
    width: 61px;
    height: 47px;
    right: 0;
    top: 0;
}

.photos span#yesno.yes {
    background: transparent url('../../images/icon_yes_banner.png') no-repeat right top;
}

.photos span#yesno.yesBoth {
    background: transparent url('../../images/icon_yes_banner.png') no-repeat right top;
}

.photos span#yesno.no {
    background: transparent url('../../images/icon_no_banner.png') no-repeat right top;
}

.photos span#yesno.maybe {
    background: transparent url('../../images/icon_maybe_banner.png') no-repeat right top;
}
a.btn-mol {
     background:transparent url('../../images/icon_green_online.png') no-repeat scroll 7px 8px;
    background-color:#00578a;
    border:solid 1px #FFF;
    border-radius:15px;
    color:#FFF;
    display:inline-block;
    font-size:16px;
    height:24px;
    line-height:23px;
    padding:0 10px;
    right:10px;
    text-align:right;
    top:9px;
    min-width: 80px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
}

h4 a.btn-mol {
    background: transparent url('../../images/icon_green_online.png') no-repeat scroll 11px 13px;
    background-color: #00578a;
    border: none;
    border-radius: 25px !important;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    height: 24px;
    line-height: 23px;
    padding: 5px 10px;
    padding-left: 15px;
    text-align: center;
    min-width: 93px;
    margin-top: 11px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

h4 

#profile_page .swiper-slide {
    width: 100%;
    height: auto;
    position: relative;
}

#mos_christian_profile_top_320x40{
    margin:0 auto;
}


/*profile-block*/

div.profile-block-or-report {
    position:relative;
    top: 0;
    z-index: 1;
   /*border-top:1px solid #8894a5;
   float:left;
   width:94%;
   margin-left:3%;
   margin-right:3%;*/  
}
div.profile-block-or-report.hide {
    display:none;
}
div.profile-list-container {
   border-bottom:1px solid #8894a5;
   float:left;
   width:94%;
   margin-left:3%;
   margin-right:3%;  
}
div.profile-list-container.hidden{
    visibility:hidden;
}
li.block-btn a.ui-btn.ui-btn-inline.block.selected {
    background-color:#f5ac01;
}
li.block-btn , li.report-btn, li.block-btn.ui-btn.ui-btn-inline,  li.report-btn.ui-btn.ui-btn-inline ,  li.block-popup-btn, li.cancel-btn , li.cancel, li.sumbit {
    float:left;
    width:50%;
    text-align:center; 
}

a.ui-btn.ui-btn-inline{
    color:#FFF;
    height:40px;
    line-height:40px;
    width:140px; 
}
a.ui-btn.ui-btn-inline, li.block-btn a.ui-btn.ui-btn-inline.block , li.report-btn a.ui-btn.ui-btn-inline.report {
     background-color:#00578a;
}
a.ui-btn.ui-btn-inline.block{
     background:url("../../images/icon_block.png") no-repeat 10px 5px;
}
a.ui-btn.ui-btn-inline.report{
     background:url("../../images/icon_report.png") no-repeat 20px 5px;
}

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: #00578A;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

div.block-popup{
    display:inline-block;
    margin-top:-1px;
    position: relative;
    /*top: 40px;*/
    /*background-color: yellow;*/
    /*z-index: -1;*/
    /*-webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;*/
    width:100%;
 
}
div.block-popup.disappear{
    transform: translateY(100%);
    display:none;
}
div.block-popup, li.block-popup-btn, li.cancel-btn{
 background-color:#ddebf4;
}
div.block-popup ul li {
    color:#00578a;
    display:block;   
}

 span.checkbox{
   margin-bottom: -4px;
  background-color: #FFF;
  display: inline-block;
  border: 1px solid #f5ac01;
  height: 23px;
  margin-top: -28px;
  margin-right: 9px;
  width: 23px;
}

p.block-one{
     background:url("../../images/icon_checkmark_unselected.png") no-repeat 7px 2px;
}
p.block-one, p.block-two, p.block-three, p.hide-user, p.block-user {
    color:#00578a;  
    padding-left:35px;
    padding-top:8px;
}
 p.block-two, p.block-three, p.hide-user, p.block-user{
       background:url("../../images/icon_checkmark_unselected.png") no-repeat 7px 2px;
 }
 p.block-one.block{
      background:url("../../images/icon_checkbox_selected.png") no-repeat 7px 2px;
 }
 p.block-one.block, p.block-two.block, p.block-three.block, p.hide-user.selected , p.block-user.selected {
      background:url("../../images/icon_checkmark_selected.png") no-repeat 7px 2px;
 }


/* edit birthdate*/
div#birthdate.dd-custom{
 background: #FFF;
overflow: hidden;
padding-top: 7px;
position: relative;
width:100%;
}
div#birthdate.selected{
    border:1px solid #f5ac01;
}
div#birthdate.dd-custom.selected{
    border:1px solid #f5ac01;
}
input#bday{
background: #FFF;
height: 29px;
overflow: hidden;
margin-top:-8px;
padding-top: 7px;
position: relative;
width:100%;

}
ui-page-theme-a .ui-focus{
    box-shadow:none;
    -webkit-box-shadow:none;
}
a#btn_edit_save.hide , a#btn_save_user_name.hide{
    display:none;
}
p.username-review{
    color:#999999;
    font-size:10px;
    font-weight: 300;
    padding-top:10px;
}
span.username > a.ui-link {
    color:#00578a;
    font-weight:normal;
}

/* REPORT ABUSE PAGE */
div.page-header.report-abuse{
     border-bottom: 1px solid #ededed;
}

 .confirm-report-abuse p:first-child {
    padding: 13px 8px;
    border-top: 1px solid #ededed;
    margin: 0px;
}
.confirm-report-abuse p:nth-child(2){
      padding-left:8px;
}
.confirm-report-abuse a {
    margin: 40px auto;
    display: block;
}

/*.report-abuse-content > p, ul.reason-list li*/
ul.reason-list li p{
  /*font-size: 15px;
  margin-left: 10px;*/
  margin-left: 5px;
  font-size: 15px;
}
 ul.reason-list li:nth-child(2),  ul.reason-list li:nth-child(3) {
    border-bottom: 1px solid #ededed; 
}

ul.reason-list li:nth-child(2) > div, ul.reason-list li:nth-child(3) > div {
  width: 22px;
  height: 22px;
  border: 1px solid #f5ac01;
  float: right;
  margin-right: 8px;
  margin-top: -35px;
  pointer-events: none;
}

ul.reason-list li.selected div {
  border-color: #f5ac01;
  /*background: transparent url('../../images/icon_check.png') no-repeat;
  background-position: 4px 5px;*/
  background: #FFF url('../../images/icon_checkmark.png') no-repeat center center;
  background-size: 17px;
}

ul.reason-list li textarea{
    /*display: none;*/
    height: 106px;
    margin: 0 auto 13px auto;
    width: 95%;
    /*border-color: #f5ac01;*/
}

ul.reason-list li.selected textarea {
    display: block;
}

 li.report-btn a.ui-btn.ui-btn-inline.report.report-user {
   background-color: #efefef;  
 }

  li.report-btn a.ui-btn.ui-btn-inline.report.enabled {
    background-color: #00578a;  

}

div.report-abuse-content > p > a{
      color: #00578a;
}
div.report-abuse-content > p, div.report-abuse-content ul.report-abuse-list li > p{
    font-size:15px;
    /*padding:10px;*/
}
div.report-abuse-content > p > span.checkbox{
    float:right;
     /*margin-bottom: -7px;*/
}
div.report-abuse-content > p:first-child, ul.report-abuse-list {
    margin-left:10px;
}
div.reported-user{
  color: #00578a;
  /*float: right;*/
  font-weight:bold;
  margin-left:100px;
  /*margin-right: 200px;*/
  margin-top: -31px;
}
p.inappropriate-user > span.checkbox{
     
}
textarea.report-concern.hidden{
    display:none;
}
textarea.report-concern{
   margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px;
  min-height: 250px;
  padding: 0 10px !important;
  width: 95%;
  display: block;
  }
ul.report-abuse-list li > div.checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid #f5ac01;
  float: right;
  margin-right: 8px;
  margin-top: -35px;
  pointer-events: none;
}

/*Self-Suspend*/
div#removing-profile-terms{
     background-color: #eceef1;
     padding-top:5px;
     height:100vh;
}
div#removing-profile-terms > p {
     font-size:14px;
      margin-left: 10px;
}
    div#removing-profile-terms > p:first-child {
    font-weight: bold;
   
    }
div#need_improvement.multiselect ul li span , div#share_story.multiselect ul li span{
    border:solid 1px #f5ac01;
}
div#share_story.multiselect ul li > p{
    font-size:15px;
}
div.footer-container{
     background-color: #eceef1;
 }
  
div#removing-profile-reason{
     background-color: #eceef1;
     padding-bottom: 5px;
    padding-top: 5px;
}


div#removing-profile-reason > p, fieldset#remove_profile_form > h4 , div#shareStory > p{
      margin-left:10px;
      font-size:14px;
}
fieldset#remove_profile_form > h4 {
    color:#00578a;
    font-weight:bold;
}
div#removing-profile-reason > h4 {
  color: #00578a;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
div#shareStory{
     background-color: #eceef1;
     padding-top:5px;
     height:100vh;
    
}
div#share_story {
    font-size:14px;
    margin-left:10px;
    
}
 div#share_story.multiselect{
     font-size:14px;
 }
a.remove-profile-from-story {
    margin: 30px auto;
    display: block;
    width: 80%;
    height: 40px;
    line-height: 40px;
    background-color: #00578a;
    color: white;
    text-align:center;
    text-decoration: none;
}
textarea#story{
    width:96%;
}
div#profile_page{
   background-color: #eceef1;
}
div.buffer{
    width:100%;
    height:40px;
}
div.flirts-container > div.page-header, div.flirts-category-expanded > div.page-header {
    background-color:#FFF;
    border-bottom: 1px solid #c6c6c7;
}
ul.flirts-list{
    background-color:#FFF;
}
ul.flirts-list li{
    /*border-bottom:1px solid grey;*/
    /*color:#00578a;
    margin:5px;*/
    /*margin: 5px auto;*/
    height: 44px;
    width: 100%;
    /* margin-left: 3%; */
    display: block;
    padding-top: 13px;
    font-weight: 100;
    font-size: 16px;
    border-bottom: 1px solid #c6c6c7;
    background: white;
    box-sizing: border-box;
    color: #00578a;
    padding:5px;
    line-height:44px;
    
}
ul.flirts-list li span.right-arrow{
    background: transparent url('../../images/icon_arrow_forward.png') no-repeat center right;
    width: 34px;
    height: 34px;
    margin-right: 13px;
}

ul.flirts-category{
    background-color:#FFF;
}
ul.flirts-category li{
     color: #00578a;
      border-bottom: 1px solid #c6c6c7;
      font-size:16px;
      display: block;
      margin-left:5px;
    padding-top: 13px;
    padding-bottom: 10px;
}

ul.flirts-list li span{
    float: right;
       float: right;

}
ul.flirts-list li a{
        height: 44px;
    display: block;
    font-weight: 100;
    font-size: 16px;
    color: #00578a;
}