﻿/* Activity */
.activity-page-header a.btn-secret-admirer 
{
    background-image:url('../../images/hd/btn_SAheart@2x.png');
    background-size: 38px 38px;
}

.activity-page-header a.refresh {
    background-image:url('../../images/hd/icon_refresh@2x.png'); 
    background-size: 20px 20px;
}

.activity-page-header a.refreshIn {
    background-image:url('../../images/hd/icon_incoming_selected@2x.png'); 
    background-size: 22px 17px;
}

.activity-page-header a.refreshIn.unselected {
    background-image:url('../../images/hd/icon_incoming_unselected@2x.png'); 
    background-size: 22px 17px;
}

.activity-page-header a.refreshOut {
    background-image:url('../../images/hd/icon_outgoing_selected@2x.png'); 
     background-size: 22px 17px;
}

.activity-page-header a.refreshOut.unselected {
    background-image:url('../../images/hd/icon_outgoingactivity_unselected@2x.png'); 
     background-size: 22px 17px;
}

.activity-page-nav ul li a.all { 
    background-image:url('../../images/hd/btn_home_close@2x.png'); 
    background-size: 40px 38px;
}

.activity-page-nav ul li a.smiles { 
    background-image:url('../../images/hd/icon_smile_unselected@2x.png'); 
    background-size: 21px 21px;
}

.activity-page-nav ul li a.email {
    background-image: url('../../images/hd/icon_email_unselected_activity@2x.png');
    background-size: 26px 18px;
}

.activity-page-nav ul li a span.badge {
    background: transparent url('../../images/hd/icon_badge_notification@2x.png') no-repeat center center;
    background-size: 16px 16px;
     color: #FFF;
}

.activity-page-nav ul li a.active span.badge {
    /*background: transparent url('../../images/hd/icon_badge_selected@2x.png') no-repeat center center;*/
    background-size: 16px 16px;
}

.activity-page-nav ul li a.favorites { 
    background-image:url('../../images/hd/icon_favorites_unselected@2x.png'); 
    background-size: 23px 21px;
}

.activity-page-nav ul li a.views { 
    background-image:url('../../images/hd/icon_views_unselected@2x.png'); 
    background-size: 30px 19px !important;
}

.activity-page-nav ul li a.chats { 
    background-image:url('../../images/hd/icon_chat_unselected@2x.png'); 
    background-size: 28px 21px !important;
}

.activity-page-nav ul li a.active.all { background-image:url('../../images/hd/btn_home_selected@2x.png'); }
.activity-page-nav ul li a.active.chats { background-image:url('../../images/hd/icon_chat_selected@2x.png'); background-size: 28px 21px; }
.activity-page-nav ul li a.active.flirts { background-image:url('../../images/hd/icon_smile_selected@2x.png');background-size: 21px 21px; }
.activity-page-nav ul li a.active.email { background-image:url('../../images/hd/icon_email_selected@2x.png'); background-size: 26px 18px; }
.activity-page-nav ul li a.active.favorites { background-image:url('../../images/hd/icon_favorites_selected@2x.png'); background-size: 23px 21px;}
.activity-page-nav ul li a.active.views { background-image:url('../../images/hd/icon_views_selected@2x.png'); background-size: 30px 19px !important;}

/* Inbox/Mail */

.mail-list li a > span.mail-icon.card,
.mail-list li a.read > span.mail-icon.card { 
    background-image:url('../../images/hd/icon_card_unread@2x.png'); 
    background-size: 20px 34px;
}

.mail-list li a > span.mail-icon.mail,
.mail-list li a.read > span.mail-icon.mail,
.mail-list li a > span.mail-icon.freetextcomment,
.mail-list li a.read > span.mail-icon.freetextcomment,
.mail-list li a > span.mail-icon.im,
.mail-list li a.read > span.mail-icon.im
/*.mail-list li a > span.mail-icon.missedim,
.mail-list li a.read > span.mail-icon.missedim*/ { 
    background-image:url('../../images/hd/icon_email_unread@2x.png'); 
    background-size: 26px 18px;

}

.mail-list li a > span.mail-icon.smile,
.mail-list li a.read > span.mail-icon.smile { 
    background-image:url('../../images/hd/icon_smile_unread@2x.png'); 
    background-size: 23px 23px;
}
.mail-list li a.read > span.mail-icon.im { background-image: url('../../images/hd/icon_email_read@2x.png'); }
/*.mail-list li a.read > span.mail-icon.missedim { background-image: url('../../images/hd/icon_email_read@2x.png'); }*/
.mail-list li a.read > span.mail-icon.card { background-image: url('../../images/hd/icon_card_read@2x.png'); }
.mail-list li a.read > span.mail-icon.mail { background-image: url('../../images/hd/icon_email_read@2x.png'); }
.mail-list li a.read > span.mail-icon.freetextcomment { background-image: url('../../images/hd/icon_email_read@2x.png'); }
.mail-list li a.read > span.mail-icon.smile { background-image: url('../../images/hd/icon_smile_read@2x.png'); }

/*.mail-list li a > span.mail-icon { background:transparent url('../../images/hd/icon_inbox_closed@2x.png') no-repeat center center; background-size: 20px 15px;}
.mail-list li a.read > span.mail-icon { background:transparent url('../../images/hd/icon_inbox_open@2x.png') no-repeat center center; background-size: 20px 24px;}*/

.mail-list li a > span.mail-icon.missedim.sent,.mail-list li a > span.mail-icon.sent, .mail-list li a > span.mail-icon.ecard.sent, .mail-list li a > span.mail-icon.mail.sent,
.mail-list li a > span.mail-icon.freetextcomment.sent, .mail-list li a > span.mail-icon.tease.sent  { background:transparent url('../../images/hd/icon_sentmail_locked@2x.png') no-repeat right center; background-size: 29px 25px;}
.mail-list li a > span.mail-icon.sent.false { background:transparent url('../../images/hd/icon_sentmail_closed@2x.png') no-repeat right center; background-size: 20px 15px;}
.mail-list li a > span.mail-icon.sent.true { background:transparent url('../../images/hd/icon_sentmail_open@2x.png') no-repeat right center;background-size: 20px 24px; }


.mail-message-header button.back-button,
.mail-message-header button.prev {
    background-image:url('../../images/hd/icon_arrow_back@2x.png'); 
    background-size: 11px 20px;
}

.mail-message-header button.next {
    background-image:url('../../images/hd/icon_arrow_next@2x.png'); 
    background-size: 11px 20px;
}

.message-detail-panel .message-container > p {
    background-image:url('../../images/hd/icon_mail_blue@2x.png'); 
    background-size: 140px 100px;
}

.message-detail-panel .message-container p.smile {
    background-image:url('../../images/hd/icon_smile_blue@2x.png'); 
    background-size: 91px 88px;
}

.message-detail-panel .message-container p span.trash {
    background-image:url('../../images/hd/icon_delete@2x.png'); 
    background-size: 19px 23px;
}

/* Profile */
.profile-detail-container div:first-child span:nth-child(2) {
    background-image:url('../../images/hd/icon_editprofile_white@2x.png'); 
    background-size: 25px 25px;
}

.profile-detail-container div:first-child span:first-child {
    background-image:url('../../images/hd/icon_photos_white@2x.png'); 
    background-size: 26px 28px;
}

h4 a.btn-mol {
    background-image:url('../../images/hd/icon_green_online@2x.png'); 
    background-size: 7px 7px;
}


.profile-menu div.flirt {
    background-image:url('../../images/hd/icon_smile@2x.png'); 
    background-size: 26px 26px;
}

.profile-menu div.favorite {
    background-image:url('../../images/hd/icon_favorite_unselect@2x.png'); 
    background-size: 31px 29px;
}

.profile-menu div.favorite .selected {
    background-image:url('../../images/hd/icon_unfavorite_select@2x.png'); 
    background-size:31px 29px;
}

.profile-menu div.right {
    background-image:url('../../images/hd/icon_email@2x.png'); 
    background-size: 32px 22px;
}
/*p.block-one, p.block-two, p.block-three{
    background-image:url('../../images/hd/icon_checkmark_unselected@2x.png'); 
    background-size: 23px 23px;
}*/
p.block-one.block, p.block-two.block, p.block-three.block, p.hide-user.selected, p.block-user.selected{
    background-image:url('../../images/hd/icon_checkmark_selected@2x.png'); 
    background-size: 23px 23px;
}
/* Secret Admirer Page */
.secret-admirer-page div.button-container a.yes {
    background-image: url('../../images/hd/icon_SA_yes@2x.png');
    background-size: 31px 26px;
    text-indent:10px;
}

.secret-admirer-page div.button-container a.maybe {
    background-image: url('../../images/hd/icon_SA_maybe@2x.png');
    background-size: 31px 26px;
    text-indent:20px;
}

.secret-admirer-page div.button-container a.no {
    background-image: url('../../images/hd/icon_SA_no@2x.png');
    background-size: 31px 26px;
    text-indent:8px;
}

.secret-admirer-page span.stamp.yes { 
    background-image: url("../../images/hd/heart@2x.png"); 
    background-size: 141px 128px;
}

.secret-admirer-page span.stamp.no { 
    background-image: url("../../images/hd/icon_no_overlay@2x.png"); 
    background-size: 134px 134px;
}

.secret-admirer-page span.stamp.maybe { 
    background-image: url("../../images/hd/maybe@2x.png"); 
    background-size: 99px 132px; 
}

.secret-admirer-stats li.bothyes a span:first-child  {
    background-image: url('../../images/hd/icon_stats_bothyes_sa@2x.png');
    background-size: 28px 15px;
}

.secret-admirer-stats li.yes a span:first-child  {
    background-image: url('../../images/hd/icon_stats_yes_sa@2x.png');
    background-size: 24px 20px;
}

.secret-admirer-stats li.maybe a span:first-child  {
    background-image: url('../../images/hd/icon_stats_maybe_sa@2x.png');
    background-size: 24px 20px;
}

.secret-admirer-stats li.no a span:first-child  {
    background-image: url('../../images/hd/icon_stats_no_sa@2x.png');
    background-size:24px 20px;
}


/* Upload Photos */
.photos div.add-photo-bar {
    background-image:url('../../images/hd/icon_addphoto@2x.png'); 
    background-size: 64px 45px;
}

.photos ul.photos-list li button.trash {
    background-image:url('../../images/hd/icon_delete@2x.png'); 
    background-size: 19px 23px;
}

/* Misc */
.jd-logo{
    background-image:url('../../images/hd/icon_jd_logo@2x.png'); 
    background-size: 51px 36px;
}   

.error-page,
.pagenotfound {
    background-image:url('../../images/hd/icon_alert@2x.png'); 
    background-size: 110px 109px;
}

.login-page-header{
    background-image:url('../../images/hd/icon_lock@2x.png'); 
    background-size: 91px 107px;
}

    .forward-arrow , /*ul.flirts-list li*/ ul.flirts-list li span.right-arrow{
    background: transparent url('../../images/hd/icon_arrow_forward@2x.png') no-repeat center right;
    background-size: 11px 20px;
}

li.spotlight{
      background: url('/images/hd/bg_spotlight@2x.png') no-repeat;
      width: 100%;
}
li.spotlight .title {
    background: url('/images/hd/img_spotlight-bar@2x.png') no-repeat center right;
    /*background-size: 240px 30px;*/
    background-size: cover;
}

.preferences a.next-arrow, .more-search-options a.next-arrow {
    background: transparent url('../../images/hd/icon_arrow_next@2x.png') no-repeat center right;
    background-size: 7px 13px;
}
.more-search-options a.next-arrow {
    padding-right: 30px;
}
/* Chats*/
span#icon {
    background: url('../../images/hd/icon_delete_unselected@2x.png') no-repeat;
    background-size:26px 29px;
}
span#icon.selected{
    background: url('../../images/hd/icon_delete_selected@2x.png') no-repeat;
     background-size:26px 29px;
}
span.secondary.online {
    background:url('../../images/hd/icon_green_online@2x.png') no-repeat 10px top;
    background-size: 7px 7px;
}

/* report abuse*/
ul.reason-list li.selected div {
  background: #FFF url('../../images/hd/icon_checkmark@2x.png') no-repeat center center;
  background-size: 17px;
  /*background: transparent url('../../images/hd/icon_check@2x.png') no-repeat;
  background-size: 16px 16px;
  background-position: 4px 3px;*/
}