.activity-page-header {
   
}

.activity-page-header a {
    position:absolute;
}

.activity-page-header a.filter,
.activity-page-header a.refresh {
    display:inline-block;
    left:5px;
    margin:4px 0 0;
    width:34px;
    height:34px;
}

.activity-page-header a.filter.incoming { background:transparent url('../../images/icon_incoming_close.png') no-repeat center center; }
.activity-page-header a.filter.outgoing { background:transparent url('../../images/icon_outgoing_close.png') no-repeat center center; }
.activity-page-header a.filter.active.incoming { background:transparent url('../../images/icon_incoming_selected.png') no-repeat center center; }
.activity-page-header a.filter.active.outgoing { background:transparent url('../../images/icon_outgoing_selected.png') no-repeat center center; }
.activity-page-header a.filter:nth-child(2) {
    left:45px;
}

.activity-page-header a.refresh {
    background:transparent url('../../images/icon_refresh.png') no-repeat center center;
}

.activity-page-header a.btn-secret-admirer 
{
    float:right;
    height:54px;
    right: 5px;
    top:38px;
    width:54px;
    z-index:999;
}

.activity-page-nav {
}

.activity-page-nav ul {
    height:inherit;
}

.activity-page-nav ul li {
    display:inline-block;
    float:left;
    height:inherit;
    width:20%;
}

.activity-page-nav ul li a {
    background: #00578a;
    background-position:0 0;
    background-repeat:no-repeat;
    border-left:solid 1px #FFF;
    border-right:solid 1px #FFF;
    display:inline-block;
    height:100%;
    position: relative;
    width:100%;
}

.activity-page-nav ul li a.active {
    background: #FFF;
    background-position:0 0;
    background-repeat:no-repeat;
}

.activity-page-nav ul li a.all { background-image:url('../../images/btn_home_close.png'); }
.activity-page-nav ul li a.chats { background-image:url('../../images/btn_chat_close.png'); }
.activity-page-nav ul li a.flirts { background-image:url('../../images/btn_smile_close.png'); }
.activity-page-nav ul li a.email { background-image:url('../../images/btn_email_close.png'); }
.activity-page-nav ul li a.favorites { background-image:url('../../images/btn_favorites_close.png'); }
.activity-page-nav ul li a.views { background-image:url('../../images/btn_view_close.png'); }

.activity-page-nav ul li a.active.all { background-image:url('../../images/btn_home_selected.png'); }
.activity-page-nav ul li a.active.chats { background-image:url('../../images/btn_chat_selected.png'); }
.activity-page-nav ul li a.active.flirts { background-image:url('../../images/btn_smile_selected.png'); }
.activity-page-nav ul li a.active.email { background-image:url('../../images/btn_email_selected.png'); }
.activity-page-nav ul li a.active.favorites { background-image:url('../../images/btn_favorites_selected.png'); }
.activity-page-nav ul li a.active.views { background-image:url('../../images/btn_view_selected.png'); }

.activity-page-nav ul li a span:first-child {
    bottom:4px;
    color:#FFF;
    display:inline-block;
    font-size: 12px;
    font-weight:bold;
    position: absolute;
    text-align:center;
    width:100%;
}

.activity-page-nav ul li a.active span:first-child {
    color: #00578a;
}

.activity-page-nav ul li a span.badge {
    background:transparent url('../../images/icon_notification_white.png') no-repeat center center;
    color:#00578a;
    display:none;
    font-size:11px;
    font-weight:bold;
    height:16px;
    line-height:16px;
    position:absolute;
    right:2px;
    text-align:center;
    top:2px;
    width:16px;
}

.activity-page-nav ul li a.active span.badge {
    background:transparent url('../../images/icon_notification_blue.png') no-repeat center center;
    color:#FFF;
}

/*.activity-page-nav ul li:first-child,
.activity-page-nav ul li:last-child {
    width: 18%;
}*/

.activity-page-nav ul li:first-child a {
    border-left:none;
}

.activity-page-nav ul li:last-child a {
    border-right:none;
}

.activity_list li a > p span {
    padding-left:5px;
}

#gam-activity{

}

.contact-us,
.safety,
.privacy,
.term-of-service,
.cookie-policy {
    border-top:solid 1px #526889;
    padding:10px;
}

.contact-us > p {
    margin:0 0 20px;
}

.contact-us > div {
    text-align:center;
}

.contact-us > div a.btn-blue {
    margin-bottom:15px;
    width:100%;
}

.safety p,
.privacy p,
.term-of-service p,
.cookie-policy p {
    margin:0;
}

.privacy p,
.term-of-service p,
.cookie-policy p {
    margin-bottom:10px;
}


/* Mail List */
.mail-list li a > span.mail-icon {
    display:inline-block;
    float:right;
    height:62px;
    width:50px;
}

.mail-list li a > span.mail-icon.missedim { background:transparent url('../../images/icon_mail_selected.png') no-repeat center center; }
.mail-list li a > span.mail-icon.ecard { background:transparent url('../../images/icon_card_selected.png') no-repeat center center; }
.mail-list li a > span.mail-icon.email { background:transparent url('../../images/icon_mail_selected.png') no-repeat center center; }
.mail-list li a > span.mail-icon.tease { background:transparent url('../../images/icon_smile_selected.png') no-repeat center center; }

.mail-list li a.read > span.mail-icon.missedim { background:transparent url('../../images/icon_mail_close.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.ecard { background:transparent url('../../images/icon_card_close.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.email { background:transparent url('../../images/icon_mail_close.png') no-repeat center center; }
.mail-list li a.read > span.mail-icon.tease { background:transparent url('../../images/icon_smile_close.png') no-repeat center center; }

.mail-list li a.read > p > span {
    color: #A8A8A8;
}

/* Mail Message Header */
.mail-message-header {
    padding: 0 5px;
}

.mail-message-header button {
    background-color:#FFF;
    border:none;
    color: #00578a;
    font-size: 22px;
}

.mail-message-header button.back-button {
    float:left;
    padding-left:15px;
}

.mail-message-header button.prev,
.mail-message-header button.next {
    float:right;
}

.mail-message-header button.prev {
    margin-right:5px;
    padding-left:15px;
}

.mail-message-header button.next {
    margin-left:5px;
    padding-right:15px;
}

.mail-message-header button.back-button,
.mail-message-header button.prev {
    background: transparent url('../../images/icon_arrow_back.png') no-repeat left center;
}

.mail-message-header button.next {
    background: transparent url('../../images/icon_arrow_next.png') no-repeat right center;
}

/* Mail Message Detail */
.message-detail-panel .profile-container {
    border-bottom:solid 1px #526889;
    border-top:solid 1px #526889;
    height:74px;
}

.message-detail-panel .profile-container > img {
    display:inline-block;
    float:left;
    height:74px;
    width:74px;
}

.message-detail-panel .profile-container > p {
    height:67px;
    margin: 0 0 0 74px;
    padding-top:7px;
}

.message-detail-panel .profile-container > p > span {
    color: #00578a;
    display:block;
    margin-left: 10px;
    padding-bottom: 2px;
}

.message-detail-panel .profile-container > p > span.username  {
    font-size: 18px;
    font-weight: bold;
}

.message-detail-panel .profile-container > p > span.age,
.message-detail-panel .profile-container > p > span.location {
    font-size: 15px;
}

.message-detail-panel .message-container > p {
    background: transparent url('../../images/icon_mail_blue.png') no-repeat 0 0;
    color:#404040;
    font-size: 16px;
    margin:0;
    min-height: 100px;
    padding:35px 10px 35px 10px;
    position:relative;
}

.message-detail-panel .message-container p.missedim {
}

.message-detail-panel .message-container p.email {
}

.message-detail-panel .message-container p.ecard {
    background: transparent url('../../images/icon_card_close.png') no-repeat 0 0;
}

.message-detail-panel .message-container p.tease {
    background: transparent url('../../images/icon_smile_blue.png') no-repeat 0 0;
}

.message-detail-panel .message-container p span.date {
    color: #8894A5;
    display:inline-block;
    font-size:12px;
    position:absolute;
    right:10px;
    top:10px;
}

.message-detail-panel .message-container p span.trash {
    background: transparent url('../../images/icon_delete.png') no-repeat center center;
    display:inline-block;
    bottom:0;
    height:35px;
    position:absolute;
    right:10px;
    width:35px;
}

.message-detail-panel div.reply {
    background-color: #ddebf4;
    padding: 15px 10px;
    text-align:center;
}

.message-detail-panel div.reply label {
    color: #00578a;
    display:inline-block;
    font-size: 17px;
    font-weight:bold;
    width:100%;
}

.message-detail-panel div.reply textarea {
    border: solid 1px #8894A5;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    height: 100px;
    margin: 0;
    padding: 5px 5px 20px;
    resize: none;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.message-detail-panel div.reply textarea:focus {
     border: solid 1px #f5ac01;
}

.message-detail-panel div.reply label,
.message-detail-panel div.reply textarea {
    margin-bottom: 10px;
}

/*.message-detail-panel div.reply button {
    background-color: #516888;
    border:none;
    color: #FFF;
    font-weight: bold;
    height: 34px;
    width: 200px;
}*/

.message-new {
    padding-bottom:10px;
    text-align:center;
}

.message-new h2.page-header {
    background-color:#26426B;
    color:#FFF;
}

.message-new > div {
    padding:10px;
}

.message-new > div h4 {
    color:#8894A5;
    margin:5px 0 10px;
    text-align:left;
}

.message-new > div input {
    margin:0 0 10px;
}

.message-new > div textarea {
    min-height:250px;
    padding:5px;
}

.message-new a.btn-blue {
    min-width:145px;
}

/*#match-page-header div {
    display:inline-block;
    width:49px;
    height:40px;
}*/

/*#match-page-header div:nth-child(2) {
    float:left;
}*/ 

/*#match-edit-btn {
    float:right;
    background: url("/images/icon_editprofile_blue.png") no-repeat center center rgba(0, 0, 0, 0);
}*/

.match-page-header .btn-edit {
    position:absolute;
    right:5px;
    top:12px;
}

/*#match-option-bar {
    width: 100%;
    height: 45px;
}

#match-option-bar div {
    display:inline-block;
    height:45px;
    line-height:45px;
}

#match-option-bar h3 {
    float:left;
    margin: 0;
    line-height: 45px;
    font-size:17px;
    color:#6C7E99;
    margin-left:10px;
    margin-right:10px;
}

#match-option-bar div:first-child {
    float:left;
}*/

/*#match-sort-select {
    color:#404040;
    font-size:17px;
}*/

.match-preferences-page div.preferences {
    border-top:solid 1px #526889;
}

.match-btn-section a.btn-blue {
    min-width: 145px !important;
}

/*.match-btn-section {
    width:100%;
    height:60px;
    line-height: 60px;
    text-align:center;
}

.match-btn-section div {
    float:right;
    width:80px;
    height:40px;

    background:#00578a;
    color:#ffffff;
    font-weight: bold;
    font-size: 17px;
    text-align:center;
    line-height:40px;
}

.match-btn-section #cancel-btn {
    margin-top:10px;
    margin-right:30px;
}

.match-btn-section #save-btn {
    margin-top:10px;
    margin-right:14px;
}*/

/*#preferences-checkbox {
    width:100%;
}

#match-preferences-keyword {
    width:100%;
}

#match-preferences-keyword input {
    float:right;
    width:60%;
    height:40px;
    margin-right:14px;
    margin-top:7px;
    font-size:16px;
}*/

.message-page-nav {
    width:100%;
    height:45px;
}

.message-page-nav .inbox {
    float:left;
    padding-left:20px;
    height:inherit;
    width:150px;
    line-height:45px;
    color:#00578a;
}

#message-nav-text {
    margin:0;
    width:50px;
}

.message-page-nav .toPrevious {
    float:right;    
    height:inherit;
    width:55px;
    display:inline-block;
    padding-right:20px;
    line-height:45px;
}

.message-page-nav .toNext {
    padding-right:20px;
    float:right;    
    height:inherit;
    width:55px;
    display:inline-block;
    padding-left:20px;
    line-height:45px;
}

.message-sender-container {   
    height:100px;

    border-top:solid 1px #8894A5;
    border-bottom:solid 1px #8894A5;
}

.message-sender-container div {
    height:100px;
}

.message-sender-container div:first-child {
    float:left;
    margin:0 10px 0 0;
    
    width:100px;
    height:100px;
}

.message-sender-container div:first-child img {
    width: 100px;
    height: 100px;
}

.message-sender-container div:nth-child(2) h3 {
    font:arial, helvetica 36px bold;
    color:#00578a;
    margin: 0 0 5px;
}

.message-sender-container div:nth-child(2) h4 {
    font:arial, helvetica 30px;
    color:#00578a;
    margin: 0 0 5px;
}

.message-detail-container {
    margin:0px;
    padding:0px;

    padding-left:10px;
    min-height:120px;

    /*background-image:url(/Images/icon_mail@2x.png);*/
    background-repeat:no-repeat;
    background-position:left top;
    background-origin:border-box;
}

.message-detail-container h3 {
    margin-bottom:0px;
    padding-bottom:20px;

    font:arial, helvetica 36px;
    color:#474747;
}

.message-detail-container h4 {
    margin:0px;
    padding-top:5px;
    padding-right:10px;

    font:arial, helvetica 24px;
    color:#8894a5;
    text-align:right;
}

.message-detail-container div {
    height: 35px;
}

#message-trash-btn {
    height: 25px;
    width: 20px;
    float: right;
    
    padding-right: 10px;
    padding-top: 5px;
}

.message-reply-container {
    background:#ddebf4;
    height:250px;
    font-size:15px;
    border-top:solid 1px #8894A5;
}

.message-reply-container h2 {
    text-align:center;
    text-anchor:middle;
    /*font:arial, helvetica 34px bold;*/
    font-size:22px;
    font-weight:bold;
    color:#00578a;
}

.message-reply-container div:nth-child(2) {
    background:#ffffff;
    height:120px;
    margin-left:10px;
    margin-right:10px;

    /*border-top:solid 1px #8894A5;
    border-bottom:solid 1px #8894A5;
    border-right:solid 1px #8894A5;
    border-left:solid 1px #8894A5;
    */
}

#message-reply-textarea {
    border-radius: 0;
    height:inherit;
    font-size: 20px;
    resize:none;
}

#message-reply-textarea:focus {
    outline: none;
    border:2px solid #f5ac01;
    box-shadow: 0 #ffffff;
}

#message-send-btn {
    background:#516888;
    color:#ffffff;
    font-weight: bold;
    font-size: 20px;
    
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    width:150px;
    height:40px;
    text-align:center;
    line-height:40px;
}

#mail_message_page .swiper-slide {
    width: 100%;
    height: auto;
}

.error-page{
    background: transparent url('../../images/icon_alert.png') no-repeat;
    margin:0 auto;
    padding:40px 10px 35px 10px;
}

.error-page p:first-child{
    color:#00578a;
    font:bold 20px helvetica;
    
}
.error-page p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding:26px 0px 31px 0px;
}
.error-page a.btn-blue{
    width:100%;
}
/* Login */


.jd-logo{
    background: #26426B url('../../images/icon_jd_logo.png') no-repeat center center;
    height: 44px;
    position: relative;
   
}
.login-page-header{
    background: transparent url('../../images/icon_lock.png') no-repeat;
    margin:0 auto;
    padding:10px;
}

.login-page p:first-child{
    color:#00578a;
    font:bold 20px helvetica;
    padding:40px 0 30px 0;
    text-align:center;
}
.login-page p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding-bottom:28px;
}

.login-page a.btn-blue{
    background-color: #00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-family: Helvitica, Arial, sans-serif; 
    font-size:17px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin-bottom:33px;
    min-width: 200px;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    width:100%;
}

/* page not found */
.pagenotfound{
    background: transparent url('../../images/icon_alert.png') no-repeat;
    margin:0 auto;
    padding:40px 10px 35px 10px;
}

.pagenotfound p:first-child{
    color:#00578a;
    font:bold 20px helvetica;    
}
.pagenotfound p:nth-child(2){
    color:#404040;
    font:normal 15px helvetica;
    padding:26px 0px 31px 0px;
}

.pagenotfound a.btn-blue{
    background-color: #00578a;
    border:none;
    color:#FFF;
    display:inline-block;
    font-family: Helvitica, Arial, sans-serif; 
    font-size:17px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin-bottom:33px;
    min-width: 200px;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    width:100%;
}

/*confirm*/

.confirmation-page{
    padding:10px;
}
.confirmation-page p:first-child{
    color:#00578a;
    font:bold 23px Helvetica;  
}
.confirmation-page p:first-child, .confirmation-page p:nth-child(2){
     text-align:center;
}
.confirmation-page p:nth-child(2), .confirmation-page p:nth-child(4),ul.confirm-info > li:nth-child(odd){
    font:bold 14px Helvetica; 
}

.confirmation-page p:nth-child(2), ul.confirm-info > li:nth-child(odd){
    color:#00578a;
}
.confirmation-page p:nth-child(3), ul.confirm-info > li:nth-child(even){
      font:normal 14px Helvetica; 
}
.confirmation-page p:nth-child(3), .confirmation-page p:nth-child(4){
    color:#404040;
}

ul.confirm-info > li:nth-child(even){
    color:#727272;
    padding-bottom:20px;
}


.mol-option-bar div.list-grid-toggle {
    float: right;
    margin: 7px 5px 0;
}

.mol-page-header .btn-edit {
    position:absolute;
    right:5px;
    top:12px;
}

.mol-preferences-page div.preferences {
    border-top:solid 1px #526889;
}

.mol-btn-section a.btn-blue {
    min-width: 145px !important;
}

.mol-preferences-page .gender-toggle {
    width:235px;
}

.mol-preferences-page .gender-toggle .female{
    margin-left:40px;
    margin-right:40px;
}


.photos ul.photos-list {
    background:#FFF;
}

.photos ul.photos-list li {
    border-bottom:solid 1px #8894A5;
    overflow:hidden;
    position:relative;
}

.photos ul.photos-list li img {
    float:left;
    height:80px;
    width:80px;
}

.photos ul.photos-list li.unapproved img {
    opacity:0.50;
}

.photos ul.photos-list li.usemain p,
.photos ul.photos-list li.unapproved p {
    background:#ddebf4;
    color:#999;
    display:inline-block;
    float:left;
    font-size:16px;
    margin:0;
    min-width:62px;
    padding:21px 10px;
    text-align:center;
}

.photos ul.photos-list li.no-results {
    height: 44px;
    text-align:center;
}

.photos ul.photos-list li.no-results p {
    color: #00578a;
    display: inline-block;
    font-size: 16px;
    height: inherit;
    line-height: 44px;
    margin: 0;
}

.photos ul.photos-list li span.caption {
    background:#FFF;
    color: #404040;
    display: inline-block;
    font-size: 12px;
    height:70px;
    left:80px;
    padding:5px;
    overflow:hidden;
    position:absolute;
    right:35px;
    text-overflow: ellipsis;
    top:0;
    /*white-space: nowrap;*/
}

.photos ul.photos-list li.usemain span.caption, 
.photos ul.photos-list li.unapproved span.caption {
    left:162px;
}

.photos ul.photos-list li button.trash {
    background:#ddebf4 url('../../images/icon_delete.png') no-repeat center center;
    border:none;
    float:right;
    height:80px;
    width:35px;
}


.photos div.add-photo-bar {
    background:#00578a url('../../images/icon_addphoto.png') no-repeat left center;
    display:block;
    height:40px;
    padding:5px 0;
    position:relative;
}

.photos div.add-photo-bar h5 {
    color:#FFF;
    font-size: 20px;
    padding-left: 95px;
    padding-top:0px;
    margin:0;
    width:100%
}

.photos div.add-photo-bar h5:nth-child(2) {
    color:#8FA0B9;
    font-size:14px;
}

.photos div.add-photo-bar.disabled {
    background: #8894A5 !important;
}

.photos div.add-photo-bar.disabled h5 {
    color:#FFF;
    font-size:16px;
    padding:0;
    text-align:center;
}

.photos input[type='file'] {
    box-sizing: border-box;
    display:block;
    height:inherit;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.photos ul.button-container {
    background: #FFF;
    /*border-bottom:solid 1px #8894A5;*/
    box-shadow: 0 3px 5px 0px #CCC;
    height: 44px;
    /*left:0px;
    position:fixed;
    top:0px;*/
    width:100%;
    -moz-box-shadow: 0 3px 5px 0px #CCC;
    -webkit-box-shadow: 0 3px 5px 0px #CCC;
}

.photos ul.button-container li {
    float:left;
    width:50%;
}

.photos ul.button-container li a {
    color:#00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    line-height:44px;
    text-align:center;
}

.photos ul.button-container li:first-child a {
    border-right: solid 1px #8894A5;
}

.photos div.caption-panel > div.form {
    padding: 15px 10px;
    position:relative;
}

.photos div.caption-panel > div.form span.char-counter {
    color:#A8A8A8;
    bottom:20px;
    font-size:12px;
    position:absolute;
    right:20px;
}

.photos div.preview-panel {
    /*background: #ddebf4;*/
}

.photos div.preview-panel div.photo-canvas {
    padding:5px;
    text-align:center;
}

.photos div.preview-panel div.photo-canvas img {
    display:inline-block;
    vertical-align:bottom;
}

.photos textarea {
    border:solid 1px #8894A5;
    box-sizing: border-box;     
    color: #404040;
    font-size: 16px;
    height: 100px;
    margin: 0;
    padding: 5px 5px 20px;
    resize: none;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.photos.swiper-container .swiper-slide {
    width:100%;
}*/

.profile-page {
}

.profile-edit-icon {
    background: transparent url('../../images/icon_editprofile_blue.png') no-repeat center center;
    display:inline-block;
    cursor: pointer;
    height:22px;
    width:22px;
}

.profile-menu {
    height: 40px;
}
#profile_page .page-header {
    padding: 0;
}

.profile-page-header a.btn-edit {
    position: absolute;
    right: 5px;
    top: 12px;
}

.profile-page-header h2 {
    font-weight:bold;
}

#profile_page .page-header a.prevButton {
    display: inline-block;
    height: 37px;
    width: 40px;
    background: transparent url('../../images/icon_arrow_back.png') no-repeat left center;
    float: left;
    padding: 0;
    margin-left: 20px;
    margin-top: 4px;
}

#profile_page .page-header a.nextButton {
    display: inline-block;
    height: 37px;
    width: 40px;
    background: transparent url('../../images/icon_arrow_next.png') no-repeat right center;
    float: right;
    padding: 0;
    margin-right: 20px;
    margin-top: 4px;
}

.profile-panel-container {
    position:relative;
}

.profile-panel {
    height:100%;
    left:0;
    top:0;
    width:100%;
}

.profile-detail-container {
    background:#ddebf4;
    border-top:solid 1px #8894A5;
    border-bottom:solid 1px #8894A5;
    max-height:170px;   
    position:relative;
    overflow:hidden;
}

.profile-detail-container div {
    /*height:170px;*/
    margin-top: 11px;
}

.profile-detail-container > span {
    position:absolute;
    right:5px;
    top:13px;
}

.profile-detail-container div:first-child {
    background-color:#000;
    float:left;
    margin:0 5px 0 0;
    position:relative;
    width:170px;
    overflow: hidden;
}

.profile-detail-container div:first-child span {
    display:inline-block;
    position:absolute;
}

.profile-detail-container div:first-child span:first-child {
    background:transparent url('../../images/icon_photos_white.png') no-repeat center center;
    bottom:10px;
    height:24px;
    left:10px;
    width:22px;
}

.profile-detail-container div:first-child span:first-child b {
    color: #FFF;
    display:block;
    font-size:12px;
    line-height:18px;
    text-align:center;
    width:16px;
}

.profile-detail-container div:first-child span:nth-child(2) {
    background: transparent url('../../images/icon_editprofile_white.png') no-repeat center center;
    height:21px;
    right:12px;
    top:13px;
    width:20px;
}

.profile-detail-container div:first-child img {
    width: auto;
    height: 170px;
    margin: 0 auto;
    display: block;
}

/*.profile-detail-container div:nth-child(2) {
    float:left;
    margin-top:10px
}*/

.profile-detail-container.my-profile div:nth-child(2) {
    margin-top:40px
}

.profile-detail-container div:nth-child(2) h4 {
    color:#4A5668;
    font-size:15px;
    margin: 0 0 5px;
    overflow:hidden;
    padding:0;
    text-overflow:ellipsis;
    white-space:nowrap;
}


.profile-detail-container div h4.match {
    font-weight: 800;
    color: #f5ac01!important;
    margin-bottom: 0;
}


.profile-menu {
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background: #00578a;
}

.profile-menu div.left  {
    display:inline-block;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height:inherit;
    width: 170px;
}

.profile-menu .left div {
    width: 49.4%;
    display:inline-block;
    float:left;
}

 .profile-menu div a {
     width: 100%;
     cursor: pointer;
 }

.profile-menu div.right {
    height:inherit;
}

/*.profile-menu div.flirt {
    background: url("../../images/icon_smile_flirt.png") no-repeat 0 -5px;
}

.profile-menu div.favorite {
    background: url("../../images/icon_star.png") no-repeat -8px -8px;
    border-left:solid 1px #FFF;
    border-right:solid 1px #FFF;
}

.profile-menu div.favorite .selected {
    background: url("../../images/icon_star_pink.png") no-repeat 0px 0px;
    background-color: #993365;
}



.profile-menu div.right {
    background: url("../../images/icon_mail_profile.png") no-repeat 170px -5px;
}*/

.profile-menu div a {
    color:#FFF !important;
    font-weight: normal !important;
    display:block;
    font-size:16px;
    line-height:40px;
    height:inherit;
    text-align:center;
}

.profile-tabs {
    height:40px;
}

.profile-tabs li {
    display:inline-block;
    float:left;
    height:inherit;
    width:33%;
}

.profile-tabs li:nth-child(2) {
    width:34%;
}

.profile-tabs li.active 
{
    border-bottom:none;
}

.profile-tabs li a {
    background: #ddebf4;
    border-bottom:solid 1px #8894A5;
    color: #8894A5;
    display:block;
    font-size: 14px;
    height:35px;
    padding-top:5px;
    text-align:center;
}

.profile-tabs li a.active 
{
    background:#FFF;
    border-bottom:none;
    font-weight:bold;
    color:#00578a;
}

.profile-tabs li a.border-left {
    border-left:solid 1px #8894A5;
}

.profile-tabs li a.border-right {
    border-right:solid 1px #8894A5;
}

.profile-content {
    padding: 10px 5px 0 11px;
}

.profile-content h5 {
    border-bottom:solid 1px #ddebf4;
    color:#4A5668;
    font-size:17px;
    font-weight:bold;
    margin:0 0 10px 0;
    padding:0 0 3px;
    position:relative;
    /*text-align:center;*/
}

.profile-content #my_details h4 {
    border-bottom: none;
}

.profile-content div {
    padding-top:20px;
}

.profile-content div h4 {
    border-bottom:solid 1px #ddebf4;
    color:#647B9B;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0 0 7px;
}

.profile-content div h4.no-border {
    border:none;
}

.profile-content div h4 > span {
    float:right;
}

.profile-content h5 > span {
    position:absolute;
    right:5px;
    top:0;
}

.profile-content div p {
    color:#647B9B;
    font-size:14px;
    padding:0 0 18px 0;
    margin:0;
    line-height: 20px;
    word-wrap: break-word;
}

.profile-content div p.my-details {
    margin-top:-5px;
    padding:0 0 15px 0;
}

.profile-list-container {
    min-height:75px;
}

.profile-edit {
    height:100%;
}

.profile-edit textarea,
.profile-edit div.dd-custom {
    margin-bottom:15px;
}


.profile-edit ul.button-container {
    background: #FFF;
    /*border-bottom:solid 1px #8894A5;*/
    box-shadow: 0 3px 5px 0px #CCC;
    height: 44px;
    /*left:0px;
    position:fixed;
    top:0px;*/
    width:100%;
    -moz-box-shadow: 0 3px 5px 0px #CCC;
    -webkit-box-shadow: 0 3px 5px 0px #CCC;
}

.profile-edit ul.button-container li {
    float:left;
    width:50%;
}

.profile-edit ul.button-container li a {
    color:#00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    line-height:44px;
    text-align:center;
}

.profile-edit ul.button-container li:first-child a {
    border-right: solid 1px #8894A5;
}   

.profile-edit-bg {
    background-color: #ddebf4;
}

.profile-edit div.content {
}

.profile-edit-form {
    height:100%;
    padding:0 10px !important;
}

.profile-edit-form h2 {
    color: #00578a;
    font-size:17px;
    font-weight:bold;
    margin:10px 0;
    padding:0;
    text-align:center;
}

/*.profile-edit-form input[type='text'],
.profile-edit-form textarea {
    border:solid 1px #8894A5;
    box-sizing: border-box;
    color: #404040;
    font-size: 16px;
    height: 36px;
    margin-bottom:17px;
    padding: 0 5px;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

.profile-edit-form textarea {
    padding: 5px;
    min-height:250px;
}

.profile-edit-form legend {
    color: #00578a;
    display:block;
    font-size:17px;
    font-weight:bold;
    padding:10px 0;
    text-align:center;
    width:100%
}

.profile-edit-form label {
    color: #404040;
    display:inline-block;
    font-size:14px;
    margin-bottom:3px;
}

.photos span#yesno {
    background: none;
    width: 61px;
    height: 47px;
    right: 0;
    top: 0;
}

.photos span#yesno.yes {
    background: transparent url('../../images/icon_yes_banner.png') no-repeat right top;
}

.photos span#yesno.yesBoth {
    background: transparent url('../../images/icon_yes_banner.png') no-repeat right top;
}

.photos span#yesno.no {
    background: transparent url('../../images/icon_no_banner.png') no-repeat right top;
}

.photos span#yesno.maybe {
    background: transparent url('../../images/icon_maybe_banner.png') no-repeat right top;
}
a.btn-mol {
     background:transparent url('../../images/icon_green_online.png') no-repeat scroll 7px 8px;
    background-color:#00578a;
    border:solid 1px #FFF;
    border-radius:15px;
    color:#FFF;
    display:inline-block;
    font-size:16px;
    height:24px;
    line-height:23px;
    padding:0 10px;
    right:10px;
    text-align:right;
    top:9px;
    min-width: 80px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
}

h4 a.btn-mol {
    background: transparent url('../../images/icon_green_online.png') no-repeat scroll 11px 13px;
    background-color: #00578a;
    border: none;
    border-radius: 25px !important;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    height: 24px;
    line-height: 23px;
    padding: 5px 10px;
    padding-left: 15px;
    text-align: center;
    min-width: 93px;
    margin-top: 11px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

h4 

#profile_page .swiper-slide {
    width: 100%;
    height: auto;
    position: relative;
}

#mos_christian_profile_top_320x40{
    margin:0 auto;
}

.search-preferences-page {
}

.preferences { padding: 20px 10px 10px; }

.preferences div.section {
    clear:both;
    margin-bottom:15px;
    overflow:hidden;
    position:relative;
}

.preferences div.section > * { float:left; }

.preferences div.section label {
    color:#00578a;
    font-size: 14px;
    font-weight:bold;
    margin-top:11px;
}

.preferences div.section.gender label,
.preferences div.section.age label,
.preferences div.section.distance label {
    min-width: 65px;
}

.preferences div.section.age div.dd-custom,
.preferences div.section.distance div.dd-custom {
    width:75px;
}

.preferences div.section.age div.dd-custom select,
.preferences div.section.distance div.dd-custom select {
    width: 150%;
}

.preferences div.section.distance input[type='text'] {
    width:75px;
}

.preferences div.section.keyword input[type='text'] {
    float:right;
    width:70%;
}

.preferences div.section.region div.dd-custom,
.preferences div.section.language div.dd-custom {
    float:right;
    width:70%;
}

.preferences div.section > :nth-child(3),
.preferences div.section > :nth-child(4) {
    float:right;
}

.preferences div.section > :nth-child(4) {
    text-align:center;
}

.preferences div.section span.cb-custom {
    float:right;
}

.preferences div.btn-section {
    text-align:center;
}

.preferences div.btn-section a.btn-blue {
    min-width: 300px;
}

/*.search-preferences-page ul {
    display:table;
    table-layout: fixed;

    height:45px;
    width:100%;
    margin:0;
    padding:0;
}

.search-preferences-page ul li {
    display:table-cell;
    height:inherit;
    background:#ddebf4;

    text-align:center;
    line-height:45px;    
    font-size:17px;
}

.search-preferences-page ul li:first-child {
    border-bottom:solid 1px black;
    border-right:solid 1px black;
}

.search-preferences-page ul li:nth-child(2) {
    border-bottom:solid 1px black;
    border-left:solid 1px black;
}

.search-preferences-page ul li.ui-state-active {
    background:#FFFFFF;
    border:hidden;   
}

.search-preferences-page ul li a {
    display:block;
}

.search-preferences-page .ui-link {
    color:#8894a5;
    font-weight:normal;
}

.search-preferences-page ul li a:focus {
    border:hidden;
    outline: 0;
}

.search-preferences-page ul li.ui-state-active a {
    color:#00578a;
    font-weight:bold;
}*/

/*.preferences-section {
    width:100%;
    height:60px;
    line-height: 60px;
}

.preferences-section div {
    float:left;
    width:50%;
    height:inherit;
}

.preferences-section div h3 {
    display:inline-block;
    color:#00578a;
    font-size:14px;
    font-weight:bold;
    line-height:60px;
    margin:0;
    padding-left:15px;
}

.preferences-section div h4 {
    width: 70px;
    display:inline-block;
    text-align:center;
    color:#00578a;
    font-size:14px;
    line-height:60px;
    margin:0;
}

.preferences-section div div {
    float:right;
    width: 36px;
} */

/*.seeking-man-btn, .gender-man-btn {
    margin-right:10px;
}

#preferences-gender-select div.mUnselected {
    background: url('/images/icon_man_close.png') no-repeat center center;
}

#preferences-gender-select div.fUnselected {
    background: url('/images/icon_woman_close.png') no-repeat center center;
}

#preferences-gender-select div.mSelected {
    background: url('/images/icon_man_selected.png') no-repeat center center;
}

#preferences-gender-select div.fSelected {
    background: url('/images/icon_woman_selected.png') no-repeat center center;
}

#preferences-select {
    width: 80px;
}

#preferences-select select{
    margin-top:11px;
    height:40px;
    font-size:16px;
}

#preferences-zipcode div {
    width:80px;
    text-align: left;
}

#preferences-zipcode-textarea {  
    margin-top:11px;
    margin-bottom:0;
    padding-left:2px;
    padding-right:2px;
    width:65px;
    height:40px;
    font-size: 16px;
    text-align:center;
}

#preferences-checkbox {
    width:100%;
}

#preferences-checkbox span {
    float:right;
    width:36px;
    height:36px;
    margin-right:15px;
    margin-top:12px;
    border:solid 1px #8894A5;
}

#preferences-checkbox span.checked {
    background: url('/images/icon_check_purple.png') no-repeat center center;
    border:solid 1px #f5ac01;
} */

/*.search-btn-section {
    width:100%;
    height:60px;
    line-height: 60px;
    text-align:center;
}*/

/*#preferences-search-btn {
    background:#00578a;
    color:#ffffff;
    font-weight: bold;
    font-size: 17px;
    
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    width:50%;
    height:40px;
    text-align:center;
    line-height:40px;
}*/

.lookup-section {
    width:100%;
    height:80px;
    padding-left:4%;
}

.lookup-section input[type=text]{
    float:left;
    width:70%;
    height:40px;
    line-height:40px;
    font-size: 16px;
    border:solid 1px #8894A5;
    margin-top:20px;
}

.lookup-section div {
    float:left;
    display:inline-block;
    background:#516888;
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;

    width:20%;
    height:40px;
    line-height:40px;
    text-align:center;
    margin-top:20px;
}

/*Search Result Page*/
.search-result-page {
    background:#FFFFFF;
    left:0;
    width:100%;  
}

.search-result-nav {
    width:100%;
    height:45px;
}

.search-result-nav div {
    display:inline-block;
    width:90px;
    height:45px;
    line-height:45px;
}

/*#result-back-btn {
    background: url('../../images/btn_searchback.png') no-repeat center center;
    float:left;
    padding-left:10px;
}

.search-result-nav h3{
    margin:0;
    text-align:center;
    line-height:45px;
    font-size:20px;
    font-weight:bold;
    color:#00578a;
}

.view-switch div {
    width:30px;
}*/

.search-result-content {
    width:100%;
}

.search-result-sort {
    width:100%;
    height:45px;
    line-height:45px;
    background:#ddebf4;

    border-bottom:solid 1px #8894A5;
    border-top:solid 1px #8894A5;
}

.search-result-sort h3 {
    float:left;
    margin:0;
    line-height:45px;
    font-size:17px;
    color:#6C7E99;
    margin-left:15px;
    margin-right:20px;
}

.search-result-sort span {
    float:left;
}

#result-sort-select {
    color:#404040;
    font-size:17px;
    width:150px;
}

.no-results-text {
    margin:0;
    line-height:136px;
    text-align:center;
    font-size:18px;
}


.app-pop {
    background: transparent url('../../images/img_bg_couple.png') no-repeat center center;
    background-size: cover;
    width: 100%;
}