﻿a.cancel-base-sub.ui-link, div.sub-plan-status a.ui-link, a.continue-cancel.ui-link, a.reactivate.ui-link, div.reactivate-sub-container > a.ui-link, a.reactivate-sub-btn.ui-link, a.continue-cancel.ui-link, a.stopcancel.ui-link , p.reactivate-premium-option-container  a.ui-link {
    color:#FFF;
    display:block;
    font-size:17px;
    height:35px;
    line-height:35px;
    margin:0 auto;
    text-align:center;
    text-decoration:none;
    width:290px;
}

a.cancel-base-sub.ui-link, div.sub-plan-status a.ui-link, a.continue-cancel.ui-link, a.reactivate-sub-btn.ui-link, a.continue-cancel.ui-link, a.stopcancel.ui-link, a.Cancel.premium.ui-link {
     background-color:#00578a;
}

a.prevButton-btn.ui-link > span {
   font-size: 22px;
   overflow: hidden;
   padding: 0 20px;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
   text-decoration:none;
   white-space: nowrap;
}

a.reactivate, a.reactivate.ui-link, div.reactivate-sub-container > a, p.reactivate-premium-option-container  a.ui-link{
    background-color:#f5ac01;
}
div.cancel-base-container, div.reactivate-sub-contaier, div#cancelReason ul li, div.reactivate-sub-contaier, p.reactivate-premium-option-container{
    margin:0 auto;
}
cancel-base-container{
    padding-bottom:10px;
}
div#cancelReason >p , div#cancelReason ul.list-of-reasons li , div.sub-plan-status > p:first-child, ul.list-of-privileges , p, ul.list-of-privileges li, p.cancelation-warning, a.prevButton-btn.ui-link > span{
    color:#00578a;
}
div.cancel-warning-container p:first-of-type{

}
div.base-sub-reactivate > a {
   color: #FFF;
  display: block;
  font-size: 17px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 290px;
  background-color: #00578a;
}
div#cancelReason >p {
    text-align:center;
    padding-bottom:11px;
}
ul.list-of-reasons li {
    font-weight:normal;
}

div#cancelReason ul li{
  padding: 10px;
  width: 90%;
  border-top: 1px solid #b3b3b3;
}

div.page-header.cancel  {
    border-bottom: solid 1px #ddebf4;
}

div.page-header.cancel{
    background-color:#FFF;
}
div.hide, div.premium-option-type.isBundle {
   display: none;
}
div.sub-plan-status > p:first-child {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    
} 
div.sub-plan-status > p:first-child, p.premium-cancel-warning > span, ul.list-of-privileges li, div.premium-option-type > p:first-of-type{
    font-weight:bold;
}
div.sub-plan-status > p:first-child, div.sub-plan-status > p:nth-child(2), div.premium-option-type > p:nth-of-type(2), p.cancelation-warning, ul.list-of-privileges li{
    font-size:12px;
}

div.premium-options{
    margin-bottom:10px;
}
div.premium-option-type > p:first-of-type, div.premium-option-type > p:nth-of-type(2) ,  div.premium-option-type > p:nth-of-type(3){
    color: #f5ac01;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
div.premium-option-type > p:first-of-type{
    font-size:15px;
    margin-bottom: 0;
}
div.premium-option-type > p:nth-of-type(2){
    margin-top: 0;
}

div.premium-option-type{
   background-color: #FFF;
   border: 1px solid #00578a;
   margin-bottom: 7px;
   margin: 0 auto;
   padding: 10px;
   width: 290px;
}
div.sub-plan-status > p:nth-child(2){
    margin-top:-9px;
}

p.cancelation-warning{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight:normal;
}


p.premium-cancel-warning{
    font-size:12px;
    padding: 10px 0px 20px 0px;
    /*text-align:center;*/
}

.page-header a.prevButton-btn {
     display: inline-block;
     height: 41px;
     width: 20px;
     background: transparent url('../../images/icon_arrow_back.png') no-repeat center center;
     float: left;
     padding: 0;

}
ul.list-of-privileges li:nth-child(2) {
    background:transparent url('../../images/CM_mos_chat.png') no-repeat left -5px;

}
ul.list-of-privileges li:nth-child(3) {
    background:transparent url('../../images/CM_mos_success.png') no-repeat left -5px;

}
ul.list-of-privileges li{
    text-indent:50px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	line-height: 12px;
    padding-bottom:12px;
}
ul.list-of-privileges li:first-child {
    background:transparent url('../../images/CM_mos_email.png') no-repeat left -5px;

}
ul.list-of-privileges , div#subscription-data > p{
    margin-left:10px;
    font-size:15px;
}
p.prem-divider{
  border-bottom: 1px solid #b3b3b3;
  display: block;
  font-size:12px;
  margin: 0 auto;
  margin-top:4px;
  padding-top:10px;
  width: 290px;

}


.ui-body-c .ui-link:visited{
    color:#FFF;
}

div.sub-plan-status {
    margin-left: 10px;
}
div.sub-plan-status > p:nth-child(2), div.sub-plan-status > p:nth-child(3){
    margin-top:-9px;
}

/*div.sub-plan-status > p:first-child {
    font-size : 14px;
}
div.sub-plan-status > p:nth-child(2) ,  div.sub-plan-status > p:nth-child(3) {
    font-size: 13px;
}*/
div.sub-plan-status > p:first-child, div.sub-plan-status > p:nth-child(2), div.sub-plan-status > p:nth-child(3), div.premium-option-type > p:nth-of-type(2), div.premium-option-type > p:nth-of-type(3), p.cancelation-warning, ul.list-of-privileges li{
    font-size:12px;
}

div.premium-option-type > p:nth-of-type(3) {
  margin-top: -12px;
}

a.call-apple.ui-link {
  color:#f5ac01;
  display: block;
  text-align: center;
}
a.ok-btn.ui-link {
  color: #FFF;
  background-color: #00578a;
  display: block;
  margin: 11px auto;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 50%;
}
ol.cancel-iap-steps li {
  color: #00578a;
  font-size: 15px;
  margin: 5px 0px 15px 5px;
}