<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CacheManager.aspx.cs" Inherits="CacheManager"
   EnableViewState="false" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>foo</title>
</head>
<body>
</body>
</html>
