<%@ Control Language="c#" AutoEventWireup="false" Codebehind="PaymentProfile.ascx.cs" Inherits="Matchnet.Web.Applications.BillingInformation.PaymentProfile" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
