﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<bool>" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>TriggerExpiringRangesMail</title>
</head>
<body>
    <div>
    <%=Model.ToString() %>
    </div>
</body>
</html>
