/* ++Base--classes -----*/
/* icon fonts */
.icon{
	font-family:'EntypoRegular';
	speak:none;
	font-size:34px;
	font-weight:normal !important;/* icon fonts should NEVER have fake-bold applied */
	line-height:0;
	font-smooth:always;
	-webkit-font-smoothing:antialiased;
}
span.help{
	cursor:help;
	border-bottom:1px dotted lighten($c-shading, 30%);
}
span.close{
	font:1.08em bold Verdana, Arial, Helvetica, sans-serif;
	color:lighten($c-shading, 30%);
}
a.emphasized{
	@include link-colors($c-base1, $c-base1, $c-base1, $c-base1, $c-base1);
}
em.accent{
	font-style:normal;
	font-weight:bold;
	color:$c-text-accent;
}
.disclaimer{
	font-size:.92em;
	color:$c-text-disclaimers;
}
.do-we-click{
	font-weight:bold;
	font-family:$f-royalty;
}
/* ++Base--Notifications/Errors -----*/
/*
.error{
	color:$c-error;
}
.notification{
    border:2px solid #999999;
    clear:both;
    font-weight:bold;
    margin:0.5em 0;
    padding:1em 1em 1em 4em;
    position:relative;
    background:$c-accent4 url(Images/icon-page-message.gif) no-repeat 0 50%;
}
.notification.error{
	background-image:url(Images/icon-page-error.gif);
	@extend .error;
}
*/
.error{
    color:$c-error;
}
.message{
    background-color:$c-accent4;
    border:2px solid #999999;
    clear:both;
    font-weight:bold;
    margin:0.5em 0;
    padding:1em 1em 1em 2.5em;
    position:relative;
    a{
        color:inherit;
        text-decoration:underline;
    }
}
.message:before{
    color:$c-primary;
    content:"`";
    font-family:'EntypoRegular';
    font-size:40px;
    left:4px;
    position:absolute;
    top:0px;
    line-height:0.7;
    font-weight:normal;
}
.message.error{
    @extend .error;
}
.message.error:before{
    content:"c";
    color:red;
}

/* ++Tooltip--Notifications/Errors -----*/
.tooltip{
    cursor:pointer;
}
.tooltip:hover{
    text-decoration:underline;
}
.tooltip-content{
    position:absolute;
    width:300px;
    @extend .box-shadow-light;
    @include border-radius(2px);
    background-color:White;
    border:1px solid #333;
    padding:12px;
    display:none;
    line-height:1.5;
}
/* helper classes */
.horizontal-list{
    @include inline-block-list;
    .ie7 & li{
        margin-right:4px;
    }
}