/* ++Base--Buttons ----- */
input, textarea, select, button{
	font:12px Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding:1px;
}
button, input[type="submit"], input[type="radio"], input[type="checkbox"], .btn, .link-primary, .link-secondary{cursor:pointer;}
[disabled="disabled"],.disabled{cursor:default !important;}

.btn:focus{
	text-decoration:underline;
}

.btn, .link-primary, .link-secondary{
	line-height:1.5;
	border:none;
	font-weight:bold;
	font-size:1em;
	padding: 4px 10px;
    color:white;
    text-align:center;
    display:inline-block;
}
.ie7 input.btn,.ie7 button.btn,.ie7 a.btn{overflow:visible;}
.ie7 .link-primary,.ie7 .link-secondary{vertical-align:middle;}

/* link primary colors */
.btn,
.link-primary,
.link-primary:link,
.link-primary:visited,
.link-primary:active{
	color:#fff;
	@include border-radius(4px);
	background-color: $c-primary;
	@include background-image(linear-gradient(top, $c-primary 28%, darken($c-primary, 10%) 82%));
}
.btn:hover,
.link-primary:hover{
	background-color: $c-primary;
	text-decoration:underline;
	@include background-image(linear-gradient(top, $c-primary 28%, darken($c-primary, 16%) 82%));
}

/* link secondary */
.btn.secondary,
.link-secondary,
.link-secondary:link,
.link-secondary:visited,
.link-secondary:active{
	border:1px solid $c-secondary-border;
	color:$c-primary;
	@include border-radius(4px);
	background-color: $c-secondary;
	@include background-image(linear-gradient(top, $c-secondary 28%, darken($c-secondary, 10%) 82%));
}
.btn.secondary:hover,
.link-secondary:hover{
	text-decoration:underline;
	@include background-image(linear-gradient(top, $c-secondary 28%, darken($c-secondary, 16%) 82%));
}
.lte9 .btn.secondary,.lte9 .link-secondary{
	background:transparent url(#{$p-images}ui-sprite-bg-x.png) repeat-x 0 -26px;
}

.btn.disabled,
.btn.secondary.disabled,
.btn[disabled="disabled"],.ie7 .btn[disabled],
.btn.secondary[disabled="disabled"],.ie7 .btn.secondary[disabled],
.link-primary.disabled,
.link-secondary.disabled{
	background-color:lighten($c-shading, 37%);
	color:lighten($c-shading, 16%);
	background-image:none;
	@include background-image(linear-gradient(top, lighten($c-shading, 37%), lighten($c-shading, 37%) 82%));
    border:1px solid lighten($c-shading, 30%);
}
.btn.disabled:hover,
.btn[disabled="disabled"]:hover,.ie7 .btn[disabled]:hover,
.link-primary.disabled:hover,
.link-secondary.disabled:hover{
	text-decoration:none;
}
/* Primary and secondary sizes */
.btn.small,
.link-primary.small,
.link-secondary.small{
	font-size: 10px;
}
.btn.large,
.link-primary.large,
.link-secondary.large{
	font-size: 16px;
	@extend .font-royalty;
	font-weight:normal;
	@include border-radius(6px);
	padding:12px;
}
.btn.xlarge,
.link-primary.xlarge,
.link-secondary.xlarge{
	font-size: 24px;
	@extend .font-royalty;
	font-weight:normal;
	@include border-radius(6px);
	padding:12px 16px;
}
.link-primary.wide,.link-secondary.wide, .btn.wide{
	padding-left:32px;
	padding-right:32px;
}
input.textlink,
button.textlink{
	border: none;
	background: none;
	display:inline-block;
	padding:0;
	margin:0;
	font-weight:bold;
	color:$c-primary;
}
input.textlink:hover,
button.textlink:hover{
	text-decoration:underline;
}
/*
input.textlink.disabled,
button.textlink.disabled,
input.textlink[disabled="disabled"],
.ie7 input.textlink[disabled],
button.textlink[disabled="disabled"],
.ie7 button.textlink[disabled]{
	color:$c-shading;
	cursor:default;
}
input.textlink.disabled:hover,
button.textlink.disabled:hover,
input.textlink[disabled="disabled"]:hover,
.ie7 input.textlink[disabled]:hover,
button.textlink[disabled="disabled"]:hover,
button.textlink[disabled]:hover{
	text-decoration:line-through;
}
*/
input.textlink.disabled,
button.textlink.disabled,
input.textlink[disabled],
button.textlink[disabled],
a.textlink.disabled{
	color:$c-shading;
	cursor:default;
}
input.textlink.disabled:hover,
button.textlink.disabled:hover,
input.textlink[disabled]:hover,
button.textlink[disabled]:hover{
	text-decoration:line-through;
}

.btn.btn-control{
	&:hover,&:focus{
		text-decoration:none;
		.btn-direction{
			text-decoration:underline;
		}
	}
	&.disabled:hover .btn-direction, &[disabled]:hover .btn-direction{
		text-decoration:none;
	}
}