﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LastTime.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.BasicElements.LastTime" %>

<asp:Literal ID="literalTime" runat="server"></asp:Literal>
