<%@ Control Language="c#" AutoEventWireup="false" Codebehind="LastUpdateDate.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.BasicElements.LastUpdateDate" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<%@ Register TagPrefix="mn" Namespace="Matchnet.Web.Framework" Assembly="Matchnet.Web" %>
<asp:Label Runat="server" ID="lblLastUpdateDate" />
<asp:Label id="LastUpdated" runat="server" />