<%@ Control Language="c#" AutoEventWireup="false" Codebehind="LastLoginDate.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.BasicElements.LastLoginDate" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:Label id="lblLastLoginDate" runat="server" />
<asp:Literal id="lastLoginDateCtrl" Runat="server" />