<%@ Register TagPrefix="mn" Namespace="Matchnet.Web.Framework" Assembly="Matchnet.Web" %>
<%@ Control Language="c#" AutoEventWireup="false" Codebehind="LogonBox.ascx.cs" Inherits="Matchnet.Web.Framework.Ui.BasicElements.LogonBox" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:HyperLink id="changeStatusLink" runat="server" >
	<mn:Txt id="newStatusText" runat="server"></mn:Txt>
</asp:HyperLink>
