/*
* jQuery Mobile Framework 1.1.1 1981b3f5ec22675ae47df8f0bdf9622e7780e90e
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
*/
/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #25426b /*{a-bar-border}*/;
	background: #2C4B70 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2C4B70 /*{a-bar-background-start}*/), to( #0F3258 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2C4B70 /*{a-bar-background-start}*/, #0F3258 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2C4B70 /*{a-bar-background-start}*/, #0F3258 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2C4B70 /*{a-bar-background-start}*/, #0F3258 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2C4B70 /*{a-bar-background-start}*/, #0F3258 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2C4B70 /*{a-bar-background-start}*/, #0F3258 /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #666666 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489CE /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #aaaaaa /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ -1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	background: #f9f9f9 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{a-body-background-start}*/), to( #eeeeee /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #333333 /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #777777 /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #999999 /*{a-bup-border}*/;
	background: #eeeeee /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #25426B /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{a-bup-background-start}*/), to( #cccccc /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{a-bup-background-start}*/, #cccccc /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{a-bup-background-start}*/, #cccccc /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{a-bup-background-start}*/, #cccccc /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{a-bup-background-start}*/, #cccccc /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{a-bup-background-start}*/, #cccccc /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #25426B /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #000000 /*{a-bhover-border}*/;
	background: #5178A0 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ -1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #000000 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5178a0 /*{a-bhover-background-start}*/), to( #5178a0 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5178a0 /*{a-bhover-background-start}*/, #5178a0 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5178a0 /*{a-bhover-background-start}*/, #5178a0 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5178a0 /*{a-bhover-background-start}*/, #5178a0 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5178a0 /*{a-bhover-background-start}*/, #5178a0 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5178a0 /*{a-bhover-background-start}*/, #5178a0 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #ffffff /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #000000 /*{a-bdown-border}*/;
	background: #3D3D3D /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ -1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #000000 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #96B1CC /*{a-bdown-background-start}*/), to( #5178A0 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #96B1CC /*{a-bdown-background-start}*/, #5178A0 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #96B1CC /*{a-bdown-background-start}*/, #5178A0 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #96B1CC /*{a-bdown-background-start}*/, #5178A0 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #96B1CC /*{a-bdown-background-start}*/, #5178A0 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #96B1CC /*{a-bdown-background-start}*/, #5178A0 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #ffffff /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #25426b /*{b-bar-border}*/;
	background: #2C4B70 /*{b-bar-background-color}*/;
	color: #ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #444444 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2c4b70 /*{b-bar-background-start}*/), to( #0F3258 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2c4b70 /*{b-bar-background-start}*/, #0F3258 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2c4b70 /*{b-bar-background-start}*/, #0F3258 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2c4b70 /*{b-bar-background-start}*/, #0F3258 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2c4b70 /*{b-bar-background-start}*/, #0F3258 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2c4b70 /*{b-bar-background-start}*/, #0F3258 /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
	color: #ffffff /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
	color: #666666 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489CE /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
	color: #2489CE /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #aaaaaa /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #ffffff /*{b-body-shadow-color}*/;
	background: #f9f9f9 /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{b-body-background-start}*/), to( #eeeeee /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #993366 /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}

.ui-btn-up-b {
	border: 1px solid #0F3258 /*{b-bup-border}*/;
	background: #2C4B70 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #000000 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2C4B70 /*{b-bup-background-start}*/), to( #0F3258 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2C4B70 /*{b-bup-background-start}*/, #0F3258 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2C4B70 /*{b-bup-background-start}*/, #0F3258 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2C4B70 /*{b-bup-background-start}*/, #0F3258 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2C4B70 /*{b-bup-background-start}*/, #0F3258 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2C4B70 /*{b-bup-background-start}*/, #0F3258 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #ffffff /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #000000 /*{b-bhover-border}*/;
	background: #5178A0 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #000000 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #7998B7 /*{b-bhover-background-start}*/), to( #6D8FB2 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #7998B7 /*{b-bhover-background-start}*/, #6D8FB2 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #7998B7 /*{b-bhover-background-start}*/, #6D8FB2 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #7998B7 /*{b-bhover-background-start}*/, #6D8FB2 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #7998B7 /*{b-bhover-background-start}*/, #6D8FB2 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #7998B7 /*{b-bhover-background-start}*/, #6D8FB2 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #ffffff /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #000000 /*{b-bdown-border}*/;
	background: #3d3d3d /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #000000 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #96b1cc /*{b-bdown-background-start}*/), to( #5178a0 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #96b1cc /*{b-bdown-background-start}*/, #5178a0 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #96b1cc /*{b-bdown-background-start}*/, #5178a0 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #96b1cc /*{b-bdown-background-start}*/, #5178a0 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #96b1cc /*{b-bdown-background-start}*/, #5178a0 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #96b1cc /*{b-bdown-background-start}*/, #5178a0 /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #ffffff /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #B3B3B3 /*{c-bar-border}*/;
	background: #eeeeee /*{c-bar-background-color}*/;
	color: #333333 /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #ffffff /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eeeeee /*{c-bar-background-start}*/), to( #dddddd /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eeeeee /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eeeeee /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eeeeee /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eeeeee /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eeeeee /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
	color: #333333 /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
	color: #666666 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489CE /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
	color: #2489CE /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
	color: #2489CE /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #aaaaaa /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #ffffff /*{c-body-shadow-color}*/;
	background: #f9f9f9 /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
	color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #993366 /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-btn-up-c {
	border: 1px solid #cccccc /*{c-bup-border}*/;
	background: #eeeeee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #333333 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ -1px /*{c-bup-shadow-y}*/ 1px /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #333333 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
	border: 1px solid #bbbbbb /*{c-bhover-border}*/;
	background: #dfdfdf /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #333333 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ -1px /*{c-bhover-shadow-y}*/ 1px /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #f9f9f9 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #f9f9f9 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #f9f9f9 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #f9f9f9 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #f9f9f9 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #f9f9f9 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #333333 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #bbbbbb /*{c-bdown-border}*/;
	background: #d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #333333 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ -1px /*{c-bdown-shadow-y}*/ 1px /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #333333 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
	border: 1px solid #F7C942 /*{d-bar-border}*/;
	background: #F7C942 /*{d-bar-background-color}*/;
	color: #333333 /*{d-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #ffffff /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FCEDA7 /*{d-bar-background-start}*/), to( #FBEF7E /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FCEDA7 /*{d-bar-background-start}*/, #FBEF7E /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FCEDA7 /*{d-bar-background-start}*/, #FBEF7E /*{d-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FCEDA7 /*{d-bar-background-start}*/, #FBEF7E /*{d-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FCEDA7 /*{d-bar-background-start}*/, #FBEF7E /*{d-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FCEDA7 /*{d-bar-background-start}*/, #FBEF7E /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
	color: #333333 /*{d-bar-color}*/;
}

.ui-bar-d a.ui-link {
	color: #666666 /*{d-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-d a.ui-link:visited {
    color: #2489CE /*{d-bar-link-visited}*/;
}

.ui-bar-d a.ui-link:hover {
	color: #2489CE /*{d-bar-link-hover}*/;
}

.ui-bar-d a.ui-link:active {
	color: #2489CE /*{d-bar-link-active}*/;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
	border: 1px solid #aaaaaa /*{d-body-border}*/;
	color: #333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #ffffff /*{d-body-shadow-color}*/;
	background: #f9f9f9 /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{d-body-background-start}*/), to( #eeeeee /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{d-body-background-start}*/, #eeeeee /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{d-body-background-start}*/, #eeeeee /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{d-body-background-start}*/, #eeeeee /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{d-body-background-start}*/, #eeeeee /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{d-body-background-start}*/, #eeeeee /*{d-body-background-end}*/);
}
.ui-overlay-d {
	background-image: none;
	border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
	color: #333333 /*{d-body-color}*/;
}

.ui-body-d .ui-link {
	color: #993366 /*{d-body-link-color}*/;
	font-weight: bold;
}

.ui-body-d .ui-link:visited {
    color: #2489CE /*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
	color: #2489CE /*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
	color: #2489CE /*{d-body-link-active}*/;
}

.ui-btn-up-d {
	border: 1px solid #F2C43D /*{d-bup-border}*/;
	background: #FADB4E /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #333333 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ -1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #eeeeee /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFEFAA /*{d-bup-background-start}*/), to( #FFE155 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFEFAA /*{d-bup-background-start}*/, #FFE155 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFEFAA /*{d-bup-background-start}*/, #FFE155 /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFEFAA /*{d-bup-background-start}*/, #FFE155 /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFEFAA /*{d-bup-background-start}*/, #FFE155 /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFEFAA /*{d-bup-background-start}*/, #FFE155 /*{d-bup-background-end}*/);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
	color: #333333 /*{d-bup-color}*/;
}
.ui-btn-hover-d {
	border: 1px solid #F2C43D /*{d-bhover-border}*/;
	background: #F2C43D /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: #333333 /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ -1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/ #eeeeee /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFF5BA /*{d-bhover-background-start}*/), to( #FBDD52 /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFF5BA /*{d-bhover-background-start}*/, #FBDD52 /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFF5BA /*{d-bhover-background-start}*/, #FBDD52 /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFF5BA /*{d-bhover-background-start}*/, #FBDD52 /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFF5BA /*{d-bhover-background-start}*/, #FBDD52 /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFF5BA /*{d-bhover-background-start}*/, #FBDD52 /*{d-bhover-background-end}*/);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
	color: #333333 /*{d-bhover-color}*/;
}
.ui-btn-down-d {
	border: 1px solid #F2C43D /*{d-bdown-border}*/;
	background: #F2C43D /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: #333333 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ -1px /*{d-bdown-shadow-y}*/ 1px /*{d-bdown-shadow-radius}*/ #eeeeee /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFd743 /*{d-bdown-background-start}*/), to( #d9b036 /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFd743 /*{d-bdown-background-start}*/, #d9b036 /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFd743 /*{d-bdown-background-start}*/, #d9b036 /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFd743 /*{d-bdown-background-start}*/, #d9b036 /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFd743 /*{d-bdown-background-start}*/, #d9b036 /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFd743 /*{d-bdown-background-start}*/, #d9b036 /*{d-bdown-background-end}*/);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
	color: #333333 /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* E
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-e {
	border: 1px solid #B3B3B3 /*{e-bar-border}*/;
	background: #eeeeee /*{e-bar-background-color}*/;
	color: #666666 /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 1px /*{e-bar-shadow-radius}*/ #ffffff /*{e-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eeeeee /*{e-bar-background-start}*/), to( #dddddd /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eeeeee /*{e-bar-background-start}*/, #dddddd /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eeeeee /*{e-bar-background-start}*/, #dddddd /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eeeeee /*{e-bar-background-start}*/, #dddddd /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eeeeee /*{e-bar-background-start}*/, #dddddd /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eeeeee /*{e-bar-background-start}*/, #dddddd /*{e-bar-background-end}*/);
}
.ui-bar-e .ui-link-inherit {
	color: #666666 /*{e-bar-color}*/;
}

.ui-bar-e a.ui-link {
	color: #666666 /*{e-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-e a.ui-link:visited {
    color: #2489CE /*{e-bar-link-visited}*/;
}

.ui-bar-e a.ui-link:hover {
	color: #2489CE /*{e-bar-link-hover}*/;
}

.ui-bar-e a.ui-link:active {
	color: #2489CE /*{e-bar-link-active}*/;
}

.ui-bar-e,
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-e,
.ui-overlay-e {
	border: 1px solid #aaaaaa /*{e-body-border}*/;
	color: #333333 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #ffffff /*{e-body-shadow-color}*/;
	background: #f9f9f9 /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{e-body-background-start}*/), to( #eeeeee /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{e-body-background-start}*/, #eeeeee /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{e-body-background-start}*/, #eeeeee /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{e-body-background-start}*/, #eeeeee /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{e-body-background-start}*/, #eeeeee /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{e-body-background-start}*/, #eeeeee /*{e-body-background-end}*/);
}
.ui-overlay-e {
	background-image: none;
	border-width: 0;
}
.ui-body-e,
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-e .ui-link-inherit {
	color: #333333 /*{e-body-color}*/;
}

.ui-body-e .ui-link {
	color: #666666 /*{e-body-link-color}*/;
	font-weight: bold;
}

.ui-body-e .ui-link:visited {
    color: #2489CE /*{e-body-link-visited}*/;
}

.ui-body-e .ui-link:hover {
	color: #2489CE /*{e-body-link-hover}*/;
}

.ui-body-e .ui-link:active {
	color: #2489CE /*{e-body-link-active}*/;
}

.ui-btn-up-e {
	border: 1px solid #CB5800 /*{e-bup-border}*/;
	background: #E37900 /*{e-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ -1px /*{e-bup-shadow-y}*/ 1px /*{e-bup-shadow-radius}*/ #000000 /*{e-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E37900 /*{e-bup-background-start}*/), to( #E37900 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E37900 /*{e-bup-background-start}*/, #E37900 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E37900 /*{e-bup-background-start}*/, #E37900 /*{e-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E37900 /*{e-bup-background-start}*/, #E37900 /*{e-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E37900 /*{e-bup-background-start}*/, #E37900 /*{e-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E37900 /*{e-bup-background-start}*/, #E37900 /*{e-bup-background-end}*/);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
	color: #ffffff /*{e-bup-color}*/;
}
.ui-btn-hover-e {
	border: 1px solid #E37900 /*{e-bhover-border}*/;
	background: #E37900 /*{e-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ -1px /*{e-bhover-shadow-y}*/ 1px /*{e-bhover-shadow-radius}*/ #000000 /*{e-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E37900 /*{e-bhover-background-start}*/), to( #521a36 /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E37900 /*{e-bhover-background-start}*/, #E37900 /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E37900 /*{e-bhover-background-start}*/, #E37900 /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E37900 /*{e-bhover-background-start}*/, #E37900 /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E37900 /*{e-bhover-background-start}*/, #E37900 /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E37900 /*{e-bhover-background-start}*/, #E37900 /*{e-bhover-background-end}*/);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
	color: #ffffff /*{e-bhover-color}*/;
}
.ui-btn-down-e {
	border: 1px solid #E37900 /*{e-bdown-border}*/;
	background: #E37900 /*{e-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ -1px /*{e-bdown-shadow-y}*/ 1px /*{e-bdown-shadow-radius}*/ #000000 /*{e-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E37900 /*{e-bdown-background-start}*/), to( #E37900 /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E37900 /*{e-bdown-background-start}*/, #E37900 /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E37900 /*{e-bdown-background-start}*/, #E37900 /*{e-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E37900 /*{e-bdown-background-start}*/, #E37900 /*{e-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E37900 /*{e-bdown-background-start}*/, #E37900 /*{e-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E37900 /*{e-bdown-background-start}*/, #E37900 /*{e-bdown-background-end}*/);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
	color: #ffffff /*{e-bdown-color}*/;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid #333333 /*{f-bar-border}*/;
	background: #5E87B0 /*{f-bar-background-color}*/;
	color: #ffffff /*{f-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{f-bar-shadow-x}*/ -1px /*{f-bar-shadow-y}*/ 1px /*{f-bar-shadow-radius}*/ #3E6790 /*{f-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6FACD5 /*{f-bar-background-start}*/), to( #497BAE /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6FACD5 /*{f-bar-background-start}*/, #497BAE /*{f-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6FACD5 /*{f-bar-background-start}*/, #497BAE /*{f-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6FACD5 /*{f-bar-background-start}*/, #497BAE /*{f-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6FACD5 /*{f-bar-background-start}*/, #497BAE /*{f-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6FACD5 /*{f-bar-background-start}*/, #497BAE /*{f-bar-background-end}*/);
}
.ui-bar-f .ui-link-inherit {
	color: #ffffff /*{f-bar-color}*/;
}

.ui-bar-f a.ui-link {
	color: #666666 /*{f-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-f a.ui-link:visited {
    color: #2489CE /*{f-bar-link-visited}*/;
}

.ui-bar-f a.ui-link:hover {
	color: #2489CE /*{f-bar-link-hover}*/;
}

.ui-bar-f a.ui-link:active {
	color: #2489CE /*{f-bar-link-active}*/;
}

.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid #aaaaaa /*{f-body-border}*/;
	color: #333333 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ -1px /*{f-body-shadow-y}*/ 1px /*{f-body-shadow-radius}*/ #ffffff /*{f-body-shadow-color}*/;
	background: #f9f9f9 /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{f-body-background-start}*/), to( #eeeeee /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/);
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: #333333 /*{f-body-color}*/;
}

.ui-body-f .ui-link {
	color: #993366 /*{f-body-link-color}*/;
	font-weight: bold;
}

.ui-body-f .ui-link:visited {
    color: #2489CE /*{f-body-link-visited}*/;
}

.ui-body-f .ui-link:hover {
	color: #2489CE /*{f-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #2489CE /*{f-body-link-active}*/;
}

.ui-btn-up-f {
	border: 1px solid #999999 /*{f-bup-border}*/;
	background: #eeeeee /*{f-bup-background-color}*/;
	font-weight: bold;
	color: #25426B /*{f-bup-color}*/;
	text-shadow: 0 /*{f-bup-shadow-x}*/ -1px /*{f-bup-shadow-y}*/ 1px /*{f-bup-shadow-radius}*/ #ffffff /*{f-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{f-bup-background-start}*/), to( #cccccc /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{f-bup-background-start}*/, #cccccc /*{f-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{f-bup-background-start}*/, #cccccc /*{f-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{f-bup-background-start}*/, #cccccc /*{f-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{f-bup-background-start}*/, #cccccc /*{f-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{f-bup-background-start}*/, #cccccc /*{f-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: #25426B /*{f-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid #000000 /*{f-bhover-border}*/;
	background: #5178A0 /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bhover-color}*/;
	text-shadow: 0 /*{f-bhover-shadow-x}*/ -1px /*{f-bhover-shadow-y}*/ 1px /*{f-bhover-shadow-radius}*/ #000000 /*{f-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5178a0 /*{f-bhover-background-start}*/), to( #5178a0 /*{f-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5178a0 /*{f-bhover-background-start}*/, #5178a0 /*{f-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5178a0 /*{f-bhover-background-start}*/, #5178a0 /*{f-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5178a0 /*{f-bhover-background-start}*/, #5178a0 /*{f-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5178a0 /*{f-bhover-background-start}*/, #5178a0 /*{f-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5178a0 /*{f-bhover-background-start}*/, #5178a0 /*{f-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: #ffffff /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #000000 /*{f-bdown-border}*/;
	background: #3D3D3D /*{f-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bdown-color}*/;
	text-shadow: 0 /*{f-bdown-shadow-x}*/ -1px /*{f-bdown-shadow-y}*/ 1px /*{f-bdown-shadow-radius}*/ #000000 /*{f-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #96B1CC /*{f-bdown-background-start}*/), to( #5178A0 /*{f-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #96B1CC /*{f-bdown-background-start}*/, #5178A0 /*{f-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #96B1CC /*{f-bdown-background-start}*/, #5178A0 /*{f-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #96B1CC /*{f-bdown-background-start}*/, #5178A0 /*{f-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #96B1CC /*{f-bdown-background-start}*/, #5178A0 /*{f-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #96B1CC /*{f-bdown-background-start}*/, #5178A0 /*{f-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: #ffffff /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* G
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-g {
    padding: 0;
    border-top:3px solid #F7AC00;
	background:#FFF;
}
 .ui-btn-up-g {
	 border: 1px solid #145072 ;
	 background: #2567ab ;
	 font-weight: bold;
	 color: #fff ;
	 text-shadow: 0  -1px  1px  #145072 ;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5 ), to(#396b9e ));
	  background-image: -webkit-linear-gradient(top, #5f9cc5 , #396b9e );
	  background-image: -moz-linear-gradient(top, #5f9cc5 , #396b9e );
	  background-image: -ms-linear-gradient(top, #5f9cc5 , #396b9e );
	  background-image: -o-linear-gradient(top, #5f9cc5 , #396b9e );
	  background-image: linear-gradient(top, #5f9cc5 , #396b9e );
 }

 .ui-btn-up-g a.ui-link-inherit {
	 color: #fff ;
 }

 .ui-btn-hover-g {
	 border: 1px solid #00516e ;
	 background: #4b88b6 ;
	 font-weight: bold;
	 color: #fff ;
	 text-shadow: 0  -1px  1px  #014D68 ;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#72b0d4 ), to(#4b88b6 ));
	  background-image: -webkit-linear-gradient(top, #72b0d4 , #4b88b6 );
	  background-image: -moz-linear-gradient(top, #72b0d4 , #4b88b6 );
	  background-image: -ms-linear-gradient(top, #72b0d4 , #4b88b6 );
	  background-image: -o-linear-gradient(top, #72b0d4 , #4b88b6 );
	  background-image: linear-gradient(top, #72b0d4 , #4b88b6 );
 }

 .ui-btn-hover-g a.ui-link-inherit {
	 color: #fff ;
 }

 .ui-btn-down-g {
	 border: 1px solid #225377 ;
	 background: #4e89c5 ;
	 font-weight: bold;
	 color: #fff ;
	 text-shadow: 0  -1px  1px  #225377 ;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#396b9e ), to(#4e89c5 ));
	  background-image: -webkit-linear-gradient(top, #396b9e , #4e89c5 );
	  background-image: -moz-linear-gradient(top, #396b9e , #4e89c5 );
	  background-image: -ms-linear-gradient(top, #396b9e , #4e89c5 );
	  background-image: -o-linear-gradient(top, #396b9e , #4e89c5 );
	  background-image: linear-gradient(top, #396b9e , #4e89c5 );
 }

 .ui-btn-down-g a.ui-link-inherit {
	 color: #fff ;
 }

 .ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
	 font-family: Helvetica, Arial, sans-serif ;
	 text-decoration: none;
 }

 /* H
-----------------------------------------------------------------------------------------------------------*/
  .ui-btn-up-h, .ui-btn-down-h, .ui-btn-hover-h {
	 background: repeat scroll 0 0 #E37900;
	 background-image: -moz-linear-gradient(center top , #E37900, #E37900);
	 background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#E37900), color-stop(1,#E37900));
	 border-color: #CB5800;
	 color: #ffffff;
	 text-shadow: 0 1px 1px #145072;
 }

/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #0F3258 /*{global-active-border}*/;
	background: #96b1cc /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ -1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #000000 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #96B1CC /*{global-active-background-start}*/), to( #5178A0 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #96B1CC /*{global-active-background-start}*/, #5178A0 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #96B1CC /*{global-active-background-start}*/, #5178A0 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #96B1CC /*{global-active-background-start}*/, #5178A0 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #96B1CC /*{global-active-background-start}*/, #5178A0 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #96B1CC /*{global-active-background-start}*/, #5178A0 /*{global-active-background-end}*/);
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.7em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.7em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0.7em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.7em /*{global-radii-blocks}*/;
	border-radius: 0.7em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #666666 /*{global-icon-color}*/;
	background: rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #96b1cc /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 1.5em /*{global-radii-buttons}*/;
	-webkit-border-radius: 1.5em /*{global-radii-buttons}*/;
	border-radius: 1.5em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl, 
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom, 
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl, 
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom, 
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,0.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,0.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,0.3) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #96b1cc /*{global-active-background-color}*/, 0px 0px 9px #96b1cc /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #96b1cc /*{global-active-background-color}*/, 0px 0px 9px #96b1cc /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #96b1cc /*{global-active-background-color}*/, 0px 0px 9px #96b1cc /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #96b1cc /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #96b1cc /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #96b1cc /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}
