﻿.p-reg{
	[role="banner"]{
		#btnMemberLogin{
			font-size:100%;
			font-family:$f-subjects;
			font-weight:bold;
			padding:8px 18px;
		}
	}
	[role="content"]{
		background-color:$c-base4;
		padding:0;
		> h1{
			background: url(../Images/ui-bg-header.gif) repeat-x 0 bottom;
			color: white;
			margin: 0 0 .5em;
			padding: .75em 0 1em 6em;
            font-family: "Trebuchet MS", Arial, sans-serif;
		}
	}
	[role="content-main"]{
		float:left;
		min-height:300px;
		width:71%;
		.no-boxsizing & {
			width:40.5%;
		}
		margin-right:.5%;
		padding:1em .5em .5em 300px;
		background: transparent url(#{$p-images}ui-registration-mood.png) no-repeat left bottom;
	}
	[role="content-secondary"]{
		float:left;
		width:28%;
		margin-right:.5%;
		> article{
				display:none;
			border: 4px double $c-base3;
			padding:0em 1em 0em 70px;
			min-height:10em;
			background: white url(#{$p-images}icon-tips.gif) no-repeat 6px 2px;
			.tips-content{
				padding:1em 0;
				line-height:1.5;
			}
		}
	}
	#regFlow{
		 min-height:200px;
		 padding-bottom:1em;
	}
	#regFlowNav{
		clear:both;
		border-top:50px solid $c-base1;
		padding:12px 12px 12px 208px;
		background-color:#fff;
	}
}
.progress,.progress .progress-label, .progress .progress-bar, button[role="previous"], button[role="next"]{
	@extend .inline;
}