﻿.p-error{
	[role="content-main"]{
		float:left;
		width:74%;
		padding:1em .5em;
		background-image: url(#{$p-images}ui-error-image.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		min-height: 500px;
		margin-bottom: 2em;
		> h1{
			@extend .reset;
			position:relative;
			width:162%;
			color:$c-base2;
		}
	}
}