﻿.page { margin-left:auto; margin-right:auto; width:85%;}
#header h1 { border-bottom:2px solid #000000; padding-bottom:5px; }
.search { width:550px; }
.search ul { clear:both; }
.search ul li { list-style:none; float: left; padding-top:10px;}
.search ul li span { float:left; width:120px;  }
.search ul li span.field-validation-error { float:none; padding-left:5px; color:Red; }
.search ul li div { float:left; }
.search ul li div select { width: 250px; }
.search ul li div input { width: 245px; }
.submit { width: 100px; clear:both; padding-left:157px; padding-top:10px; }
.results ul li { list-style:none; float:left; border:1px solid #CCCCCC; border-top:none; padding:3px; width:100%; }
.results ul li.even { background-color:#E8E8E8; }
.results ul li:first-child { border-top:1px solid #CCCCCC;  border-bottom:2px solid #383838 ; background-color:#CCCCCC; }
.results ul li:first-child div { font-weight:bold;  }
.results ul li div { float:left; padding-right:10px; width:10%; word-wrap:break-word; }
.results ul li div.msg { width:40%; }
.results ul li div.small { width:7%; }
.disable { color:Gray; cursor:default; }
.pager { padding-left:40px; clear:both; padding-top:20px; padding-bottom:10px; }
.pager a { padding-right:10px; }
.pager .total { float:right; font-weight:bold; }
.goto { display:inline; padding-right:10px; }
.goto #Page { width:30px; text-align:right; margin-left:10px; margin-right:10px; }
#submitQuery { display:none; }
#StartDate, #EndDate { width:145px; }
#StartTime, #EndTime { width:90px; }
.pageNumerror { display:none; color:Red; padding-left:87px; }