<%@ Register TagPrefix="sp" Namespace="Spark.Web.Framework.Ui.Elements" Assembly="SEO" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="Spark.Web.Ui.Footer" %>

<sp:Txt id="txtFooter" runat="server" ResourceConstant="FOOTER_TEXT" ExpandImageTokens="false" />	
