<%@ Register TagPrefix="sp" Namespace="Spark.Web.Framework.Ui.Elements" Assembly="SEO" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Header.ascx.cs" Inherits="Spark.Web.Ui.Header" %>
<sp:Txt id="txtHeaderBanner" runat="server" ResourceConstant="HEADER_BANNER" ExpandImageTokens="true" />


