﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-reg-conf";
    
    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "ajax.googleapis.com", "www.adventistsinglesconnection.com", "mpsnare.iesnare.com" };
    ViewBag.DNSPrefetch = DNSArray;
}

<header role="banner">
    <a href="/" class="logo"><img src="@Url.Content("~/RegContent/Images/logo-header_reg-gc.png")" alt="" class="logo"></a>
</header>

<div id="container" class="cf">
	@*<nav role="navigation"></nav>*@
	<nav class="nav-alternative"></nav>

    <div role="content">

        <h1>Congratulations! You are now a member of Adventist Singles!</h1>
        <ul>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-sub"></span>
                <div class="info">
                    <h2>Become a Subscriber!</h2>
                    <div class="cta">
                        <a class="btn-icon link-primary" href="@ViewBag.SubscriptionLink">
                            <span class="btn-icon-icon">
                                <img src="@Url.Content("~/RegContent/Images/icon-secure.png")" alt="">
                            </span><span class="btn-icon-text">Upgrade Now!</span>
                        </a>
                    </div>
                    <p class="tag-line">Become an Adventist Singles subscriber and have a much better shot at finding love!</p>
                </div>
            </li>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-intro"></span>
                <div class="info">
                    <h2>Introduce Yourself!</h2>
                    <div class="cta">
                        <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/profile/">Complete Your Profile</a>
                    </div>
                    <p class="tag-line">Introduce yourself by answering a few questions and uploading some fun photos!</p>
                </div>
            </li>
            <li role="marketing">
                <span class="sprite-imgs-confirmation-browse"></span>
                <div class="info">
                    <h2>Start Browsing Now!</h2>
                    <div class="cta">
                        <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/search/advanced.html">Search Your Matches</a>
                    </div>
                    <p class="tag-line">Find Adventist Singles in your area by checking out who’s online at this very minute!</p>
                </div>
            </li>
        </ul>

    @*<section role="content-main" class="editorial">
	    <h1>You're So Close &ndash; Don't Stop Now!</h1>
	    <p class="intro">Mazel tov, you are now a JDate member. However, you should become a subscribing member if you're serious about finding your Beshert! Why? Because you will need a JDate subscription in order to:</p>
	    <ul class="ui-arrows">
		    <li>Send an email</li>
		    <li>Receive an email</li>
		    <li>Chat on IM</li>
		    <li>Post and reply on Message Boards</li>
		    <li>Send personalized eCards</li>
	    </ul>
	    <p class="">And a whole lot more!</p>
        <p class="block-text">You've taken a great first step by signing up. Now take the next step on your quest for love and become a subscriber! Simply pick a plan, start communicating with the thousands of Jewish singles near you, and let the excitement begin!</p>

	    <div class="cta">
		    <a class="btn-icon link-primary" href="@ViewBag.SubscriptionLink">
                <span class="btn-icon-icon">
                    <img src="@Url.Content("~/RegContent/Images/icon-secure.png")" alt="" />
                </span><span class="btn-icon-text">Become a Subscriber</span>
            </a>
	    </div>
    </section>

    <aside role="content-secondary">
	    <section>
		    <h1>Ready to introduce yourself? </h1>
		    <img alt="JD Profile" src="@Url.Content("~/RegContent/Images/scrn-profile.jpg")" title="JD Profile" />
		    <p>Introduce yourself by uploading some fun photos and writing your About Me essay. Need help? We've got tips along the way!</p>
		    <div class="cta">
			    <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/applications/memberprofile/ViewProfile.aspx?Mode=Edit">Complete Your Profile</a>
		    </div>
	    </section>
	    <section>
		    <h1>Can't wait to see your matches?</h1>
		    <img alt="Profiles of Your Matches" src="@Url.Content("~/RegContent/Images/scrn-matches.jpg")" title="Profiles of Your Matches" />
		    <p>Start browsing the profiles of Your Matches. See someone you like? Give ‘em a Click! or send a Flirt!</p>
		    <div class="cta">
			    <a class="btn link-secondary" href="http://@ViewBag.BedrockHost/Applications/Search/SearchResults.aspx?NavPoint=sub">Search Your Matches</a>
		    </div>
	    </section>
    </aside>*@

    </div>

</div>

@Html.Partial("_Footer")

@Html.Action("Index", "Pixel", new {pageName = "registrationconfirmation"})

@* Put section overrides here *@
@section BottomJavaScript{
<script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
<script>
	var spark = spark || {};
	//DO NOT REMOVE. This line should occur before loading Omniture.js file. 
    var s_account = '@ViewBag.OmnitureAccountName';
    
	$LAB
    .setOptions({AlwaysPreserveOrder:true})
	.script("https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	.wait(function(){
		if (typeof jQuery != "function") return "@Url.Content("~/RegContent/Scripts/Libs/jQuery/jquery-1.7.2.min.js")";
	})
	.script("@Url.Content("~/RegContent/Scripts/main.js")")
	.wait(function(){
		$(function(){
			//actual js for confirm page
			var titleText = '';
			$('h1, h2').each(function() {
				titleText  = $(this).text().replace(/ (\S+)$/,'&nbsp;$1');
				$(this).html(titleText);
			});
		});
	})	
	.script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
	.wait(function () {
	    @Html.Action("Index", "Omniture", new { pageName = "registrationconfirmation" })
	});
</script>
}