﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.BodyClass = "ui-mobile-viewport";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "code.jquery.com", "www.jdate.com", "m.jdate.com" };
    ViewBag.DNSPrefetch = DNSArray;
}

<div data-role="page" data-theme="c" class="m_reg_complete" data-title="JDate - Registration Confirmation">
    <header data-theme="b" data-role="header">
        <h1 class="ir logo">JDate</h1>
    </header>

    <div data-role="content" class="ui-content" role="main">
        <h2 class="c_headTitle">Mazel Tov!</h2>
        
        <p class="c_text;">You've successfully joined JDate. Connect with smart, successful Jewish singles...and maybe even find your Besheret!</p>

        <div data-theme="d" class="divGals" id="gals" >
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Woman1.png")" style="width:88px; height:88px;" /></div>
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Woman2.png")" style="width:88px; height:88px;" /></div>
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Woman3.png")" style="width:88px; height:88px;" /></div>
        </div>

        <div data-theme="d" class="divGuys" id="guys">
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Man1.png")" style="width:88px; height:88px;" /></div>
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Man2.png")" style="width:88px; height:88px;" /></div>
            <div class="imgDiv"><img src="@Url.Content("~/RegContent/Images/Mobile_Man3.png")" style="width:88px; height:88px;" /></div>
        </div>

        <div class="divMolA">
            <a id="molA" class="molA" data="http://@ViewBag.MOSHost/membersonline/results"> <img src="@Url.Content("~/RegContent/Images/icon_green_online.png")" style="height:10px;" />  @ViewBag.MembersOnlineCount members online now</a>
        </div>

        <div class="divFnprofile">
            <a id="fnProfile" class="fnProfile" data="http://@ViewBag.MOSHost/membersonline/results">Add Photos & finish my profile</a>
        </div>

        @*<p class="c_des">Are you ready to get serious about finding your <em>Beshert</em>?</p>*@
        <div class="downloadBtn">
            <a href="http://m.jdate.com/mobile" class="downloadLink"data-ajax="false">Download The App</a>
        </div>

        <a  id="aSubNow" class="aSubNow" data-ajax="false">Subscribe now for full access!</a> <br />

    </div>

    @Html.Partial("_MobileFooter")

</div>

@Html.Action("Index", "Pixel", new {pageName = "registrationconfirmation"})

<!-- /page -->


@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MobileMetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.css")" />
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/m_confimation.css")" />
    @* All JavaScript at the bottom, except Modernizr, jQuery and jQuery mobile *@
    <script src="@Url.Content("~/RegContent/Scripts/Libs/modernizr.2.6.custom.js")"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script>
        $.mobile.ajaxEnabled = false;
    </script>

}

@section BottomJavaScript{
<script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
<script>
    var spark = spark || {};
    //DO NOT REMOVE. This line should occur before loading Omniture.js file.
    var s_account = '@ViewBag.OmnitureAccountName';
    $LAB
    .setOptions({ AlwaysPreserveOrder: true })
    .script("@Url.Content("~/RegContent/Scripts/mobile-main.js")")
	.script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
	.wait(function () {
	    @Html.Action("Index", "Omniture", new { pageName = "registrationconfirmation" })
	});

    if (sessionStorage.getItem("gendermask") == '1') {
        document.getElementById('gals').style.display = "block";
    }
    else if (sessionStorage.getItem("gendermask") == '2') {
        document.getElementById('guys').style.display = "block";
    }



    // fire custom omniture events

     $('#molA').bind('click', function() { 

         s.events = "event18";
         fireProp14('MOS RegComplete - Online Now', 'http://@ViewBag.MOSHost/membersonline/results');
     });

     $('#fnProfile').bind('click', function () {

         fireProp14('MOS RegComplete - Complete Profile', 'http://@ViewBag.MOSHost/profile/@ViewBag.NewMemberId');
    });

    $('#aSubNow').bind('click', function () {
        fireProp14('MOS RegComplete - Subscribe', 'http://@ViewBag.MOSHost/subscription/subscribe?prtid=4160'); 
    });


    function fireProp14(value, distination) {

      try {

              var s = s_gi('sparkjdatecom');
              s.prop14 = value;
              s.tl();
                window.setTimeout(function() {
                    document.location = distination;
                }, 1000)
            

        }
        catch (err)
        { }
    }



    //alert("gendermask = " + sessionStorage.getItem("gendermask"));

</script>
}

@* Empty IE6Chromeframe section *@
@section IE6Chromeframe{}>