/* CSS Document */
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #C40304;
	font-size: 28px;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #C70505;
}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.style6 {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #962A2A;
}
a.style6:link {font-size: 12px; COLOR: #962A2A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style6:visited {font-size: 12px; COLOR: #962A2A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style6:hover {font-size: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style6:active {font-size: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}


.style7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #C00000;
	font-size: 12px;
	font-weight: bold;
}
a.style7:link {font-size: 12px; COLOR: #C00000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
a.style7:visited {font-size: 12px; COLOR: #C00000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
a.style7:hover {font-size: 12px; COLOR: #000000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style7:active {font-size: 12px; COLOR: #000000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}

.style8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
a.style9:link {font-size: 16px; COLOR: #000000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style9:visited {font-size: 16px; COLOR: #000000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style9:hover {font-size: 16px; COLOR: #c00000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style9:active {font-size: 16px; COLOR: #c00000; font-weight: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}


.style11 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold; }
.style12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.style13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
.style15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #962a2a;
}
a.style15:link {font-size: 11px; COLOR: #962A2A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
a.style15:visited {font-size: 11px; COLOR: #962A2A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
a.style15:hover {font-size: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
a.style15:active {font-size: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}

a.stylejoin:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;	font-weight: bold; color: #C70505; }
a.stylejoin:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;	font-weight: bold; color: #C70505; }
a.stylejoin:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;	font-weight: bold; color: #000000; }
a.stylejoin:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;	font-weight: bold; color: #000000; }

.style19 {font-size: 17px}
body {
	margin-top: 0px;
}
.style23 {font-size: 11px}
p#bgCheck
{	
	font-family: "Arial Narrow", Impact, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 2em;
}