<%@ Control Language="c#" AutoEventWireup="false" Codebehind="JpegImageTest.ascx.cs" Inherits="Matchnet.Web.Applications.Home.JpegImageTest" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
Please verify your registration:<asp:image id="imgCAPTCHA" runat="server" ImageUrl="JpegImage.aspx" Width="200px" Height="50px"></asp:image><br />
<asp:label id="Label1" runat="server">Enter the code <br /> shown above::</asp:label><asp:textbox id="txtCAPTCHA" runat="server"></asp:textbox>
<P></P>
<asp:button id="btnVerifyCAPTCHA" runat="server" Text="Verify CAPTCHA"></asp:button>
<P></P>
