<%@ Control Language="c#" Codebehind="JpegImage.ascx.cs" AutoEventWireup="false" Inherits="Matchnet.Web.Applications.Home.JpegImage" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
	<head>
		<title>JpegImage</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<body>
		<form id="JpegImage" method="post" runat="server">
		</form>
	</body>
</html>
