<%@ Control Language="c#" AutoEventWireup="false" Codebehind="MessageBoardRedirect.ascx.cs" Inherits="Matchnet.Web.Applications.Home.MessageBoardRedirect" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
