﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-splash";
    ViewBag.FacebookPixel = true;
    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    //string[] DNSArray = { "ajax.googleapis.com", "www.jdate.com", "mpsnare.iesnare.com" };
    //ViewBag.DNSPrefetch = DNSArray;
}

<div id="min-max-container" class="gc">
    <div id="header" class="clearfix gc" style="margin:12px 0;">
        <div id="header-logo">
            <a class="logo" style=" display: block; width: 177px; float: left; " href="http://@ViewBag.BedrockHost"><img title="JDate.com - The Largest Jewish Singles Network" src="@Url.Content("~/RegContent/Images/logo-jdgc.png")" alt="JDate.com - The Largest Jewish Singles Network" /></a>
            <p class="header-message" style="font-weight:bold;">Welcome to JDate, the premier Jewish singles community online. Connect with thousands of members in your area and around the world — browse photos, email, chat, IM and more.</p>
            <ul id="header-nav">
                <li><a href="http://www.jdate.co.il/">אתר הכרויות</a></li>
                <li>|</li>
                <li><a href="http://www.jdate.fr/">Rencontres Juives</a></li>
            </ul>
        </div>
        <div id="header-login">
            <a href="/Registration/" class="join" onclick="fire_reg_button_click();">Join Free</a>
            <script>
                function fire_reg_button_click() {
                    var s = s_gi('@ViewBag.OmnitureAccountName');
                    s.linkTrackVars = "events";
                    s.linkTrackEvents = "event84";
                    s.events = "event84,";
                    s.tl(true, 'o', 'Splash');
                }

                function fire_browse_button_click() {
                    var s = s_gi('@ViewBag.OmnitureAccountName');
                    s.linkTrackVars = "events";
                    s.linkTrackEvents = "event83";
                    s.events = "event83,";
                    s.tl(true, 'o', 'Splash');
                }
            </script>
            <span class="bracket">|</span>
            <a href="http://@ViewBag.BedrockHost/Applications/Logon/Logon.aspx">Member Login</a>
        </div>
    </div>
</div>

<div id="container" class="gc">
    <div id="container-members">
        <div class="marketing-container-gc">
            <div class="marketing-content-gc">
                <div id="marketing-wrap">
                    <h3>The key to connection?</h3>
                    <h2>Finding someone who really gets you.</h2>
                    <p>Browse JDaters&reg; near you who truly understand what it means to be Jewish.</p>
                    <div id="cta" style="margin-bottom:10px;">
                        <a href="/Registration/" onclick="fire_browse_button_click();"><img src="@Url.Content("~/RegContent/Images/btn_cta.png")" alt="Browse for Free" /></a>
                    </div>
                </div>
            </div>
        </div>
        <ul id="SPTest_Bowls"></ul>
    </div>
</div>

<div style="margin:1.5em auto 1em;width:1014px;">
    <div class="clearfix">
        <div id="mediaLogosHalfWidth">
            <img src="@Url.Content("~/RegContent/Images/JD-Media-logos.gif")" alt="" />
        </div>
    </div>
    <div id="content-container">

        <div id="vis-info" class="clear-both">

            <div id="footernew" class="clear-both clearfix">
                <div id="jd-links">
                    <big>JDate.com</big>
                    <ul class="linklist clearfix">
                        <li><a href="http://@ViewBag.BedrockHost">Home</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Logon/Logon.aspx">Login</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/ContactUs/ContactUs.aspx">Contact Us</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/MemberServices/MemberServices.aspx">Your Account</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/MemberServices/VerifyEmail.aspx">Verify Email</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/FAQMain.aspx">Help &amp; Advice</a></li>
                        <li><a href="http://static.JDate.com/Campaigns/MK07-0110_Gift_of_JDate/">Gift of JDate</a></li>
                    </ul>
                    <ul class="linklist clearfix">
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/ArticleView.aspx?CategoryID=1998&amp;HideNav=True">About JDate</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/ArticleView.aspx?CategoryID=2060&amp;HideNav=true">Our Mission</a></li>
                        <li><a href="http://www.jdate.com/safety/" target="_blank">Safety</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Video/VideoCenter.aspx">Video</a></li>
                        <li><a href="http://www.jdate.com/jmag">JMag</a></li>
                        <li><a href="http://www.jdate.com/blog/">JBlog</a></li>
                        <li><a href="http://www.jdate.com/blog/2011-09/jdate-infographic/">JDate Success</a></li>
                    </ul>
                    <ul class="linklist clearfix">
                        <li><a href="http://www.jdatemobile.com">JDate Mobile</a></li>
                        <li><a href="http://static.jdate.com/microsites/travel2014/">Travel &amp; Events</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/synagogue-directory/">Synagogue Directory</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/jewish-holidays/">Jewish Holiday Calendar</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/SiteMap/SiteMap.aspx">Site Map</a></li>
                    </ul>
                </div>
                <div id="sn-links">
                    <big>Spark Networks</big>
                    <ul class="linklist clearfix">
                        <li><a href="http://www.spark.net/about.htm">About Spark Networks</a></li>
                        <li><a href="http://www.spark.net/our-portfolio/portfolio-overview/">Spark Networks' Sites</a></li>
                        <li><a href="http://www.spark.net/advertise.asp">Advertise With Us</a></li>
                        <li><a href="http://affiliates.spark.net/">Affiliate Program</a></li>
                        <li><a href="http://www.spark.net/investor.htm">Investor Relations</a></li>
                        <li><a href="http://www.spark.net/careers.htm">Jobs</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/ArticleView.aspx?CategoryID=1948&amp;ArticleID=6498&amp;HideNav=True#privacy">Privacy</a></li>
                    </ul>
                    <ul class="linklist clearfix">
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/ArticleView.aspx?CategoryID=1948&amp;ArticleID=6498&amp;HideNav=True#service">Terms of Service</a>  </li>
                        <li><a href="http://@ViewBag.BedrockHost/Applications/Article/ArticleView.aspx?CategoryID=1948&amp;ArticleID=6498&amp;HideNav=True#cookie">Cookie Policy</a>  </li>
                        <li><a href="http://search.JDate.com/">Local Online Dating</a></li>
                        <li><a target="_blank" href="http://www.jdate.com/singles/">Jewish Singles</a></li>
                        <li><a href="http://www.spark.net/intellectual.htm">Our Intellectual Property </a></li>
                    </ul>
                </div>
                <div id="footernewfooter" class="clearfix">
                    <p class="legal-copyright editorial">Copyright ©
                    <script language="javascript">var d = new Date(); document.write(d.getFullYear());</script>  Spark Networks® USA, LLC. All rights reserved. Spark Networks USA, LLC is a wholly-owned subsidiary of Spark Networks, Inc., a NYSE MKT Company (<a target="_blank" href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV">LOV</a>)</p>
                </div>
            </div>
            <div class="editorial">
                <h1>Welcome to JDate, the Premier Jewish Community Online for Dating Jewish Singles</h1>
                <p>JDate has been building the Jewish community for more than a decade, so it's not surprising that it seems like everyone knows someone who fell in love on JDate and it's no wonder why countless marriages begin right here!  Each week, hundreds of JDaters meet their soul mates. To see why JDate is the undisputed leader in Jewish dating and the modern alternative to traditional Jewish matchmaking, just take a look at our <a href="http://www.jdate.com/jmag/category/successstories/">Success Stories</a> section.</p>
                <h2>JDate is Where Tens of Thousands of Jewish Singles Interact Every Day!</h2>
                <p>JDate is an ideal destination for Jewish men and Jewish women to make connections, and find friends, dates and soul mates, all within the faith. With hundreds of thousands of members, fun and easy online features, fantastic offline activity options (including, travel and events), JDate is the number one place for Jewish romance in the&nbsp;world!</p>
                <p>Create your profile now and, in minutes, you'll be ready to start communicating with the JDaters who live near you. After you join, check out our <a href="http://@ViewBag.BedrockHost/Applications/Video/VideoCenter.aspx">JDate Videos</a>, our <a href="http://www.jdate.com/synagogue-directory/">Synagogue Directory</a>, our <a href="http://static.jdate.com/microsites/jewishholidays/">Jewish Holiday Calendar</a>, or the first-ever <a href="http://jdate.com/haggadah">JDate Haggadah</a> – a fun new eBook that puts a modern spin on the traditional story of Passover. And don't forget <a href="http://www.jdate.com/jmag/">JMag</a> and <a href="http://www.jdate.com/blog/">Jblog</a>,the online magazine and blog for JDate where you can find dating advice as well as follow real-life stories of JDaters in <a href="http://search.jdate.com/California/LosAngeles/">Los Angeles</a>, <a href="http://search.jdate.com/NewYork/NewYork/">New York City</a> and around the country!</p>
                <p>Register and post your FREE JDate profile today. On JDate, your beshert is just a click away.</p>
                <h2>JDate's Mission - Building the Jewish Community for Over a Decade </h2>
                <p>JDate's mission is to strengthen the Jewish community and ensure that Jewish traditions are sustained for generations to come. To accomplish this mission, we provide a global network where Jewish singles can meet to find friendship, romance and life-long partners within the Jewish faith.</p>
                <p>Here at JDate we are proud of our Jewish traditions and values and are therefore not only deeply committed to our support for Israel and Jewish cultural programs throughout the world, but also supportive of charitable non-profit organizations of all faiths.</p>
                <p>Since 1997, JDate has been growing the Jewish community one success story at a time, forming countless relationships and ultimately, creating Jewish families. The most gratifying part of our jobs here at JDate are the thousands of phone calls, emails and letters we receive every year from JDate success stories thanking us for connecting them with their beshert. We never tire of hearing stories and testimonies from Jews all over the world about how JDate has influenced their lives and, in the process, helped build the Jewish community.</p>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-content">
        <p class="legal-background-checks"><b>Spark Networks USA, LLC does not conduct background checks on the members or subscribers of this website. However, the safety and security of our members is our top priority. We urge all members to follow our <a href="http://www.jdate.com/safety/" target="_blank"><span style="font-weight:900;text-decoration:underline;">online safety tips</span></a></b>.</p>
    </div>
</div>

<!--div to put member info inside-->
<div class="couple-callout" id="callout"></div>

@Html.Partial("_DebugInfo")

@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/splash.css")" />
}

@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
    <script>

    //DO NOT REMOVE. This line should occur before loading Omniture.js file.
    var s_account = '@ViewBag.OmnitureAccountName';

	$LAB
    .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
	.wait(function(){
        @Html.Action("Index", "Omniture", new {pageName = "Splash"})

	});
    </script>
} 





@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FacebookPixel = true;
    ViewBag.BodyClass = "ui-mobile-viewport";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "code.jquery.com", "www.jdate.com" };
    ViewBag.DNSPrefetch = DNSArray;
}