﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FacebookPixel = true;
    ViewBag.BodyClass = "ui-mobile-viewport";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "code.jquery.com", "www.jdate.com" };
    ViewBag.DNSPrefetch = DNSArray;
}


<div data-role="page" data-theme="a" class="m_landing" data-title="JDate Mobile">
    <header data-role="header" data-theme="g">
        <h1 class="ir logo"><span>Christian Mingle</span></h1>
        <a href="http://@ViewBag.MOSHost/logon/logon/" data-transition="slidedown" data-theme="g" class="ui-btn-right">Login</a>
    </header>
    <div data-role="content">
        <div class="lp-content">
            <p class="quote">Delight yourself in the LORD and he will give you the desires of your heart. - Psalms 37:4 </p>
            <div class="main">
                <blockquote>
                    <img src="@Url.Content("~/RegContent/Images/Mobile/txt-splash-title.png")" alt="Meet Christian Singles" class="lp-img" />
                    <a href="/Registration/" role="register-button" data-mini="true" data-theme="e" data-role="button" data-ajax="false"><strong>Free to Browse</strong> Click Here</a>
                </blockquote>
            </div>
        </div>
    </div>

    @Html.Partial("_MobileFooter")
    <footer role="siteinfo">
        <a href="http://@ViewBag.MOSHost/home/privacy/">Privacy</a>
    </footer>

</div><!-- /page -->
@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MobileMetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.css")" />
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.abc.css")" />
    @* All JavaScript at the bottom, except Modernizr, jQuery and jQuery mobile *@
    <script src="@Url.Content("~/RegContent/Scripts/Libs/modernizr.2.6.custom.js")"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script>
        $.mobile.ajaxEnabled = false;
    </script>
}

@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
    <script>
        var spark = spark || {};
        //DO NOT REMOVE. This line should occur before loading Omniture.js file.
        var s_account = '@ViewBag.OmnitureAccountName';
        $LAB
        .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
        .wait(function () {
            @Html.Action("Index", "Omniture", new {pageName = "MOSsplashtest_Control"})
        });
    </script>
}

@* Empty IE6Chromeframe section *@
@section IE6Chromeframe{}