﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-splash";
    ViewBag.FacebookPixel = true;
    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    //string[] DNSArray = { "ajax.googleapis.com", "www.jdate.com", "mpsnare.iesnare.com" };
    //ViewBag.DNSPrefetch = DNSArray;
}

<div id="min-max-container">
    <div id="content-container">

        <header class="clearfix">
            <h1>
                <a class="logo" href="http://@ViewBag.BedrockHost"><img title="Adventist Singles Connection -- We bring singles together" src="@Url.Content("~/RegContent/Images/logo-adventistsingles.png")" alt="Adventist Singles Connection -- We bring singles together" /></a>
                <span class="hide">Adventist Singles Connection</span>
            </h1>
            <div id="header-login">
                <script>
                    function fire_reg_button_click() {
                        var s = s_gi('@ViewBag.OmnitureAccountName');
                        s.linkTrackVars = "events";
                        s.linkTrackEvents = "event84";
                        s.events = "event84,";
                        s.tl(true, 'o', 'Splash');
                    }

                    function fire_browse_button_click() {
                        var s = s_gi('@ViewBag.OmnitureAccountName');
                        s.linkTrackVars = "events";
                        s.linkTrackEvents = "event83";
                        s.events = "event83,";
                        s.tl(true, 'o', 'Splash');
                    }
                </script>
                <strong>Already a member?</strong>
                <a href="http://@ViewBag.BedrockHost/member_login.html">Login here</a>
            </div>
        </header>

        <div class="marketing-header">
            <div class="marketing-copy">
                <h2>Meet Adventist Singles</h2>
                <h3>Adventist singles, chat rooms, and online personals</h3>
                <ul>
                    <li>Free to initiate contact</li>
                    <li>View photos of singles near you</li>
                    <li>Over 1,000 successes</li>
                </ul>
                <div id="cta">
                    <a href="/Registration/" onclick="fire_browse_button_click();" title="FREE TO BROWSE"><img src="@Url.Content("~/RegContent/Images/btn-cta.gif")" alt="FREE TO BROWSE CLICK HERE>>" /></a>
                </div>
            </div>
        </div>

        <hr class="gradient" />

        <div class="marketing-body gradient clearfix">
            <ul>
                <li>
                    <h2>Why Join Adventist Singles Connection?</h2>
                    <p>Seventh-day Adventist singles have chosen Adventist Singles Connection time and time again making it the leading Adventist dating site. With thousands of members joining each year you can search thousands of profiles of active single Seventh-day Adventists. Create a profile today and start checking out the detailed online profiles, dating, chat rooms and photo gallery. Join the only real online dating site for single Adventists today! We Bring Adventist Singles Together!</p>
                </li>
                <li class="success-story">
                    <img src="@Url.Content("~/RegContent/Images/splash-success.jpg")" alt="Success Story" />
                    <strong>Success Story:</strong>
                    <p>
                        Me (niceskinnygirl) and Flip (his id in ASC) just join this site
                        for few weeks (less than 1 month) when we first start chat on feb 7,
                        2005. Thats how everything started, just from the simple hello from me
                        and GOD brought us together. I believe GOD already prepared him for me
                        and me for him. Coz we had been longing and praying to meet our lifetime
                        partner. Flip was ready to leave his life and family in US and find a
                        job here in Indonesia. Finally we get married on January 7, 2007.
                    </p>
                    <a href="http://@ViewBag.BedrockHost/success/">Read More Success Stories »</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>About adventistsinglesconnection.com</h2>
                    <p>
                        Started
                        in early 2004, Adventist Singles Connection, has risen to be one of the
                        most visited sites for Seventh-day Adventists. We believe that it is
                        important to bring like-minded singles together in an environment where
                        they can feel comfortable being themselves and expressing themselves as
                        singles and as Seventh-day Adventists.<br /><br />

                        AdventistSingles Connection has myriad features for connecting for friendship,
                        dating, and marriage. Check out our chat rooms, message boards, or other
                        features that allow you to create a spark.
                    </p>
                    <a href="/Registration/" style="display:block; margin-top:1.5em;">Join AdventistSinglesConnection.com today.</a>
                </li>
                <li>
                    <h3>Services</h3>
                    <p>
                        AdventistSingles Connection provides online personals services, including
                        online profiles and photographs of single men
                        and women, chat rooms and an instant messenger - to enable
                        others to communicate in real time, a private mailbox to enable others
                        to exchange personal messages, a public forum to enable others to
                        exchange messages and information... and more!
                    </p>
                </li>
            </ul>
        </div> @*/.marketing-body*@

        <footer>
            <nav>
                <ul>
                    <li><a href="http://@ViewBag.BedrockHost/singles/">Meet Adventist Singles</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/contact.html">Contact</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/about.html">About</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/faq.html">FAQ</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/safety.html">Adventist Singles Online Safety</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/">Adventist Dating</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/account/gift/">Gift Subscription</a></li>
                    <li><a href="https://affiliates.spark.net/en/">Affiliates</a></li>
                    <li><a href="http://www.spark.net/advertise.asp">Advertise With Us</a></li>
                </ul>
                <ul>
                    <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#privacy_policy">Privacy</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#service_terms">Terms of Service</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#service_terms">Terms of Service</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/ourip.html">Our IP</a></li>
                    <li><a href="http://@ViewBag.BedrockHost/sitemap.html">Site Map</a></li>
                </ul>
            </nav>
            <p class="copyright">
                Copyright © <span id="theYear">2015</span> Spark Networks<sup>®</sup> USA, LLC. All rights reserved.<br />
                Spark Networks USA, LLC is a wholly-owned subsidiary of Spark Networks, Inc., a NYSE MKT Company (<a href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV" target="_blank">LOV</a>).
            </p>
            <p class="disclosure">
                SPARK NETWORKS USA, LLC DOES NOT CONDUCT BACKGROUND CHECKS ON THE
                MEMBERS OR SUBSCRIBERS OF THIS WEBSITE. HOWEVER, THE SAFETY AND SECURITY
                OF OUR MEMBERS IS OUR TOP PRIORITY. WE URGE ALL MEMBERS TO FOLLOW OUR <a target="_blank" href="http://www.adventistsinglesconnection.com/safety.html">ONLINE SAFETY TIPS</a>.
            </p>
            <p>
                <a href="http://www.bbb.org/los-angeles/business-reviews/dating-service/spark-networks-in-beverly-hills-ca-13110492#sealclick" target="_blank" title="Click for the Business Review of Spark Networks, Inc., a Dating Service in Beverly Hills CA"><img src="@Url.Content("~/RegContent/Images/bbb.png")" alt="Click for the BBB Business Review of this Dating Service in Beverly Hills CA" border="0"></a>
            </p>
            <p class="legal">
                Spark Networks USA, LLC and <a href="http://www.adventistsinglesconnection.com/">www.adventistsinglesconnection.com</a>
                are not affiliated with the General Conference of Seventh-day
                Adventists or any entity of the Seventh-day Adventist Church®
                organization. The views expressed on this Web site and in other Spark or
                AdventistSinglesConnection sponsored media do not necessarily represent
                the Seventh-day Adventist® Church. For For the official website of the
                Seventh-day Adventist church, please see <a href="http://www.adventist.org/">http://www.adventist.org/</a>.
            </p>
        </footer>

    </div> @*/#content-container*@
</div> @*/#min-max-container*@

@Html.Partial("_DebugInfo")

@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/splash.css")" />
}

@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
    <script>
        // Update copyright year
        document.getElementById("theYear").innerHTML = new Date().getFullYear();

        //DO NOT REMOVE. This line should occur before loading Omniture.js file.
        var s_account = '@ViewBag.OmnitureAccountName';

        $LAB
        .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
        .wait(function () {
            @Html.Action("Index", "Omniture", new {pageName = "Splash"})

        });
    </script>
} 