<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="PasswordMailBase.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.PasswordMail.PasswordMailBase" %>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
Hi <asp:Label id="lblEmail" runat="server" />,<br />
<br />
Here's the login information that you requested. <br />
<br />
Password: <asp:Label id="lblPassword" runat="server" /> <br />
<br />
Happy Dating! <br />
<br />
<asp:Label id="lblBrandName" runat="server" /> Membership Service <br />
		</form>
	</body>
</html>
