<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/PrinterFriendly.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <p>&nbsp;</p>
    <div id="Confirmation">
    &nbsp;
    </div>
    
    <script type="text/javascript">
        document.getElementById("Confirmation").innerHTML = window.opener.document.getElementById("confirmation").innerHTML;
    </script>

</asp:Content>
