﻿@model RegistrationAdminTool.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/mustache.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.lightbox_me.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/RegAdmintool/admin.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/RegAdmintool/CreateScenario.js")"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="logo">
                <img src="../../Images/logo-spark.png" />
    </div>
    <div class="page">
        <header>
            <div id="title">
                <h1 id="lnkHomePage">Reg Admin Tool</h1>
                <span id="logindisplay">
                    @*User: @System.Web.HttpContext.Current.User.Identity.Name*@
                </span>
                <span class="header-menu-item" id="lnkCreateNewScenario" style="display:none;">Create New Scenario</span>
                <span class="header-menu-item" id="lnkClearCache" style="display:none;">Clear Cache</span>
                <span class="header-menu-item" id="lnkTemplateManager" style="display:none;">Template Manager</span>
            </div>
            <script type="text/javascript">

                function closeNewScenarioOverlay() {
                    $('#closeOverlayNewScenario').lightbox_me();
                    $('#closeOverlayNewScenario').trigger('close');
                }

                function closeClearCacheOverlay() {
                    $('#closeClearCacheOverlay').lightbox_me();
                    $('#closeClearCacheOverlay').trigger('close');
                }

                function clearCache() {
                    $('#divClearCacheError').hide();
                    var siteId = $('#cacheSiteList').val();
                    if (siteId > 0) {
                        $.ajax({
                            type: "GET",
                            url: "/clearcache/" + siteId,
                            success: function (result) {
                                if (result.Status == 3) {
                                    $('#divClearCacheError').show();
                                } else {
                                    closeClearCacheOverlay();
                                }
                            }
                        });
                    }
                }

                function templateManagerLinkClick() {
                    window.location = "/gettemplates/";
                }

                function newScenarioClick(event) {
                    $('#promptNewScenario').lightbox_me({
                        centered: true
                    });
                }

                function clearCacheClick() {
                    $('#promptClearCache').lightbox_me({
                        centered: true
                    });
                }

                function homeLinkClick() {
                    window.location = "/";
                }

                $(document).ready(function() {
                    $("#lnkHomePage").bind("click", homeLinkClick).addClass('cursorLink');

                    @if (Model.LayoutViewModel.CreateScenarioLinkActive) {
                        @:$("#lnkCreateNewScenario").bind("click", newScenarioClick).addClass('cursorLink').show();
                    }
                    
                    @if(Model.LayoutViewModel.TemplateManagerLinkActive){
                        @:$("#lnkTemplateManager").bind("click", templateManagerLinkClick).addClass('cursorLink').show();
                    }
                    
                    @if(Model.LayoutViewModel.ClearCacheLinkActive){
                        @:$("#lnkClearCache").bind("click", clearCacheClick).addClass('cursorLink').show();
                    }

                    $('#btnCreateScenario').live("click", function () {
                        var siteId = $('#newScenarioSiteList').val();
                        var deviceId = $('#deviceTypeList').val();
                        if (siteId != '') {
                            window.location = "/CreateScenario/?SiteId=" + siteId + "&DeviceTypeId=" + deviceId;
                        }
                    });

                    $('#btnCopyScenario').live("click", function () {
                        var scenarioId = $('#hdnScenarioIdForCopy').val();
                        if (scenarioId != '') {
                            window.location = "/CopyScenario/"+scenarioId;
                        }
                    });

                    $('#divClearCacheError').hide();
                    $("#btnClearCache").bind("click", clearCache);
                });
                               
            </script>

        </header>
        <section id="main">
            @RenderBody()

            <div class="modal" id="promptNewScenario">
                <h2>Create New Scenario</h2>
                <a href="#" onclick="closeClearCacheOverlay()" class="close">[X]</a>
                <ul>
                    <li>
                        <h3>Site</h3>
                        @Html.DropDownList("newScenarioSiteList", Model.Sites, new { id = "newScenarioSiteList" })
                    </li>
                    <li>
                        <h3>Device Type:</h3>
                        @Html.DropDownList("deviceTypeList", Model.DeviceTypes, new { id = "deviceTypeList" })
                    </li>
                </ul>
                <button type="button" id="btnCreateScenario">Create</button>
                <input type="hidden" id="closeOverlayNewScenario" />
            </div>

            <div class="modal" id="promptClearCache">
                <h2>Clear Cache</h2>
                <a href="#" onclick="closeClearCacheOverlay()" class="close">[X]</a>
                <ul>
                    <li>
                        <h3>Site</h3>
                        @Html.DropDownList("SiteId", Model.Sites, new { id = "cacheSiteList" })
                    </li>
                </ul>
                <button type="button" id="btnClearCache">Clear</button>
                <p id="divClearCacheError" class="error">Error clearing cache</p>
                <input type="hidden" id="closeClearCacheOverlay" />
            </div>
        </section>
        <footer>
            <div id="footer">
                Copyright &copy
                @DateTime.Now.Year
                Spark Networks Limited. All rights reserved. FOR AUTHORIZED INTERNAL USE ONLY.
            </div>
        </footer>
    </div>
</body>
</html>
