﻿@model HandleErrorInfo
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
        <img src="../../Images/logo-spark.png" />
    </div>
    <div class="page">
        <header>
            <div id="title">
                <h1 id="lnkHomePage">Reg Admin Tool -- oops something happened!</h1>
                <span id="logindisplay">

                </span>
              </div>
        </header>
        <section id="main">
            <div id="ajaxspin">
                <img src="/Images/ajax-loader.gif" alt="Spinner" />
            </div>
            <div>
                
               
                <b> @Model.Exception;</b>


            </div>
        </section>
        <footer>
            <div id="footer">
                Copyright &copy
                2014
                Spark Networks Limited. All rights reserved. FOR AUTHORIZED INTERNAL USE ONLY.
            </div>
        </footer>
    </div>
</body>
</html>
