﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Omniture.ascx.cs" Inherits="Spark.Web.Controls.Omniture" %>
<asp:PlaceHolder ID="PlaceHolderOmniture" runat="server">
<script language="javascript">
<!--
var s_account="<%=S_AccountName%>"

//-->
</script>
<script type="text/javascript" src="<%=JScriptFile %>">



</script>

<script language="JavaScript"><!--

	s.linkInternalFilters="<%=S_LinkInternalFilters%>"
	/*Traffic Variables*/
	s.pageName="<%=PageName%>";
	s.server="<%=Server%>";
	/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code=s.t();if(s_code)document.write(s_code)//--></script><script language="JavaScript"><!--
     //if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
               //--></script>

<!-- End SiteCatalyst code version: H.11. -->

</asp:PlaceHolder>
