<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="QuickSearch.ascx.cs" Inherits="Spark.Web.Controls.QuickSearch" %>
<script type="text/javascript">
function Enter(e)
{
var keynum

if(window.event) // IE
	{
	keynum = e.keyCode
	}
else if(e.which) // Netscape/Firefox/Opera
	{
	keynum = e.which
	}
if (keynum==13)
{    
    window.open(PopupSiteUrl() + document.getElementById('GenderID').value + '&SeekingGenderID='+ document.getElementById('SeekingGenderID').value+'&AgeRangeID='+ document.getElementById('AgeRangeID').value+ '&ZipCode='+ document.getElementById('ZipCode').value+'&SearchTypeID=1&SmokingHabits=-2147483647&Ethnicity=-2147483647&EducationLevel=-2147483647&Religion=-2147483647&OrderBy=LastLogonDate desc&MaritalStatus=-2147483647&CountryRegionID=223&a=22540&Distance=20&LastCountryRegionID=223&HasPhotoFlag=1&DrinkingHabits=-2147483647&PRM=59913');
}
else 
{
}
return keynum;
}

function PopupSiteUrl()
{
    var hostArray = window.location.host.split('.');
    var newPath = "http://www";
    
    for(i=1; i < hostArray.length; i++)
    {
        newPath += "." + hostArray[i];
    }
        
    return newPath + "/default.asp?GenderID=";
}
</script>
 <div id="seo_searchbox">
<strong>Find a date today!</strong>
<dl>
    <dt>You're a:</dt>
    <dd>
        <select name="GenderID" id="GenderID">
            <option value="1" selected="selected">Man</option>
            <option value="2">Woman</option>
        </select>
    </dd>
    <dt>Seeking a:</dt>
    <dd>
        <select name="SeekingGenderID" id="SeekingGenderID">
            <option value="4">Man</option>
            <option value="8" selected="selected">Woman</option>
        </select>
    </dd>
    <dt>Age:</dt>
    <dd>
        <select name="AgeRangeID" id="AgeRangeID">
            <option value="0">18-24</option>
            <option value="1" selected="selected">25-34</option>
            <option value="2">35-44</option>
            <option value="3">45-55</option>
            <option value="4">55+</option>
        </select>
    </dd>
    <dt>Zip Code:</dt>  
    <dd><input maxlength="5" name="ZipCode" id="ZipCode" onkeypress="return Enter(event)" /></dd>
</dl>
<input name="submit" type="button" value="Search Free" id="submit" onclick="javascript:window.open(PopupSiteUrl() + getElementById('GenderID').value + '&SeekingGenderID='+ getElementById('SeekingGenderID').value+'&AgeRangeID='+getElementById('AgeRangeID').value+ '&ZipCode='+getElementById('ZipCode').value+'&SearchTypeID=1&SmokingHabits=-2147483647&Ethnicity=-2147483647&EducationLevel=-2147483647&Religion=-2147483647&OrderBy=LastLogonDate desc&MaritalStatus=-2147483647&CountryRegionID=223&a=22540&Distance=20&LastCountryRegionID=223&HasPhotoFlag=1&DrinkingHabits=-2147483647&PRM=59913');" />
</div>