﻿@model Spark.REST.Models.MemberRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="photopage">
	<p></p>
	<p>Upload a photo</p>
	@*using (Html.BeginForm("PostPhotos", "Photo", FormMethod.Post, new { access_token = Request.QueryString["access_token"] }))*@
	@{
		var url = String.Format("/brandId/{0}/profile/photos/upload/{1}?access_token={2}", Model.BrandId, Model.MemberId, Request.QueryString["access_token"]);
@*		<form action="@url" method="post" enctype="multipart/form-data">
			<input name="photoFiles" type="file"/>
			<button type="submit">submit</button>
		</form>
*@
	}
		
	@*	<form id="tehForm" action="" method="post" enctype="multipart/form-data">
		<input id="photoFiles" name="photoFiles" type="file" multiple="true" accept="image/jpeg"/>
	</form>
*@	

	<form method="post" id="mine" enctype="multipart/form-data" action="@url">
		<input id="photoFiles" type="file" name="photoFiles"/>
		<input type="submit" value="upload"/>
	</form>
	?????????????????
	<p></p>
	<b></b>
	<div id="wrap">

		<h1>Choose (multiple) files or drag them onto drop zone below</h1>

		<form action="" method="post" enctype="multipart/form-data">
			<input type="file" id="fileField" name="fileField" multiple />
		</form>

		<div id="fileDrop">
			<p>Drop files here</p>
		</div>

		<div id="files">
			<h2>File list</h2>
			<a id="reset" href="#" title="Remove all files from list">Clear list</a>
			<ul id="fileList"></ul>
			<a id="upload" href="#" title="Upload all files in list">Upload files</a>
		</div>
	</div>	

</div>



<script type="text/javascript">
	var uploadFile = function(file, li) {
		if (li && file) {
			var xhr = new XMLHttpRequest(),
			    upload = xhr.upload;
			upload.addEventListener("progress", function(ev) {
				if (ev.lengthComputable) {
					var loader = li.getElementsByTagName("div")[0];
					loader.style["width"] = (ev.loaded / ev.total) * 100 + "%";
				}
			}, false);
			upload.addEventListener("load", function(ev) {
				var ps = li.getElementsByTagName("p");
				var div = li.getElementsByTagName("div")[0];
				div.style["width"] = "100%";
				div.style["backgroundColor"] = "#0f0";
				for (var i = 0; i < ps.length; i++) {
					if (ps[i].className == "loader") {
						ps[i].textContent = "Upload complete";
						ps[i].style["color"] = "#3DD13F";
						break;
					}
				}
			}, false);
			upload.addEventListener("error", function(ev) { console.log(ev); }, false);
			xhr.open(
				"POST",
				"@url"
			);
			xhr.setRequestHeader("Cache-Control", "no-cache");
			xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
			xhr.setRequestHeader("X-File-Name", file.name);
			xhr.send(file);
		}
	};


	document.getElementById('fileField').addEventListener('change', function(e) {
		var file = this.files[0];
		var li = document.getElementById('targetli');
		uploadFile(file, li);
	});

	document.getElementById('photoFiles').addEventListener('change', function (e) {
		var formElement = document.getElementById("mine");
		var formData = new FormData(formElement);
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "@url");
		xhr.send(formData);
	});
	
</script>

@*<script>
	document.getElementById('photoFiles').addEventListener('change', function (e) {
		var formElement = document.getElementById("tehForm");
		var data = new FormData(formElement);
		data.append('file', file);
		var file = this.files[0];
		var xhr = new XMLHttpRequest();
		//var boundary = '***uninque***';
		//xhr.setRequestHeader('Content-Type', 'multipart/form-data; boundary=' + boundary);
		xhr.file = file; // not necessary if you create scopes like this
		xhr.addEventListener('progress', function (e) {
			var done = e.position || e.loaded, total = e.totalSize || e.total;
			console.log('xhr progress: ' + (Math.floor(done / total * 1000) / 10) + '%');
		}, false);
		if (xhr.upload) {
			xhr.upload.onprogress = function (e) {
				var done = e.position || e.loaded, total = e.totalSize || e.total;
				console.log('xhr.upload progress: ' + done + ' / ' + total + ' = ' + (Math.floor(done / total * 1000) / 10) + '%');
			};
		}
		xhr.onreadystatechange = function (e) {
			if (4 == this.readyState) {
				console.log(['xhr upload complete', e]);
			}
		};
		//var url = 'api.local.spark.net/brandId/1003/profile/photos/upload/@Model.MemberId?access_token={2}';
		xhr.open('post', '@url', true);
		xhr.send(file);
	}, false);
</script>
*@

