﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Content/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link href="../../Content/Site_ie.css" rel="stylesheet" type="text/css" /><![endif]-->    
    <link href="../../Content/css/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/themes/ui-lightness/jquery.ui.base.css" rel="stylesheet" type="text/css" />
  
    <script src="../../Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/landingpage.js" type="text/javascript"></script>
        
    <asp:ContentPlaceHolder ID="additionalScripts" runat="server" />
</head>

<body>

<!--[if IE]><div id="ieAll"><![endif]--> 
<!--[if IE 8]><div id="ie8only"><![endif]--> 
<!--[if lte IE 8]><div id="ie8down"><![endif]--> 
<!--[if IE 7]><div id="ie7only"><![endif]--> 

    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Landing Page Admin</h1>
            </div>
              
             <div id="logodisplay">
                <img alt="Spark Networks Logo" src="/content/images/logo_spark.gif">
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li><%= Html.ActionLink("Templates", "Index", "Template")%></li>
                    <li><%= Html.ActionLink("Landing Pages", "Index", "LandingPage")%></li>
                    <li><%= Html.ActionLink("Files", "Index", "File")%></li>
                </ul>
            
            </div>
        </div>

        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />

            <div id="footer">
                Copyright &copy
                <%= DateTime.Now.Year%>
                Spark Networks Limited. All rights reserved. FOR AUTHORIZED INTERNAL USE ONLY.
            </div>
        </div>
    </div>
    
<!--[if IE]></div><![endif]-->    
<!--[if IE 8]></div><![endif]-->    
<!--[if lte IE 8]></div><![endif]-->    
<!--[if IE 7]></div><![endif]-->    
     
</body>
</html>
