/* Overrides IM.css style*/
#chatter_mini_profile {
	background:none;
	float:none;
	height:inherit;
	width:inherit;	
}

#chatter_status {
    background: linear-gradient(#FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCCC));
	border-top:solid 1px #A0A0A0;
    color: #666666;
    font-size: 13px;
	height:25px;
	line-height:25px;
	text-align:center;
}

.send_button,
.send_button:active {
	float:none;
	height:35px;
	line-height:35px;
	margin:0 5px;
	padding:0;
	width:inherit;
}

.profile-panel {
	background: linear-gradient(#FFFFFF, #CCCCCC) repeat scroll 0 0 transparent !important;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCCC)) !important;
	border-bottom:solid 1px #A0A0A0;
	height:55px !important;
	overflow:hidden;	
	padding:0 5px;
}

/*.profile-panel > img {
	background-color:#FFFFFF;
	float:right;
	height:45px;
	margin:5px 0 0 5px;
	width:45px;
}*/

.profile-panel a {
	display:inline-block;
	height:inherit;
}

.profile-panel a img {
	background-color:#FFFFFF;
	float:left;
	height:45px;
	margin-top:5px;
	width:45px;
}

.profile-panel a h4 {
	/*border:1px solid green;*/
	color:#973566;
	font-size:16px;
	font-weight:bold;
	margin:5px 0 0 50px;
	overflow:hidden;
	width:145px;
	text-overflow:ellipsis;
}

.profile-panel a h5 {
	/*border:1px solid green;*/
	color:#666;
	font-size:xx-small;
	margin:0 0 0 50px;
}
.profile-panel a h5 {
	padding:0;
	margin:0 0 0 50px;
}

.fave-off,
.fave-on,
.block-off,
.block-on {
	background-color:#FFFFFF;
	border:1px solid #A0A0A0;
	border-radius: 5px;
	display:inline-block;
	float:right;
	margin:5px 0 0 5px;
	width:44px;
	height:44px !important; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.fave-off { background: #CCCCCC url('../images/icon_fave_off@2x.png') no-repeat center center; }
.fave-on { background: #CCCCCC url('../images/icon_fave_on@2x.png') no-repeat center center; }
.block-off { background: #CCCCCC url('../images/icon_block_off@2x.png') no-repeat center center; }
.block-on { background: #CCCCCC url('../images/icon_block_on@2x.png') no-repeat center center; }

.messages-panel {
	margin:0;
	overflow-y: auto;
	padding:0;
}

.messages-panel li {
	overflow:hidden;
	padding:0 0 20px;
}

.messages-panel li.system {
	background-color: #FFBABA;
    border: 1px solid #A0A0A0;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    word-wrap: break-word;
}

.status-panel {
}

.status-panel p 
{
	padding:0;
	margin:0;
}

.status-panel > p > span
{
 	display:inline-block;
 	line-height:normal;
 	margin:0 0 -3px 0;
 	max-width:145px;
 	overflow:hidden;
 	padding:0;
 	text-overflow:ellipsis;
}

.typing-panel {
	/*background: linear-gradient(#FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCCC));*/
	background:#CCC;
	border-top:solid 1px #A0A0A0;
	list-style-type: none;
	overflow:hidden;
	padding:5px 0;
	margin:0;
}

.typing-panel li {
	float:left;
}

.typing-panel li.textarea 
{
	width:75%;
}

.typing-panel li.textarea textarea {
	border:none;
	font-size:12px;
	margin:0 5px;
	width:99%;
	padding:0;
}

.typing-panel li.send 
{
	width:25%;
}

.chat_messages {
	bottom:auto;
	position:relative;
	width:inherit;	
	top:00;
	
    /*bottom: 120px;
    clear: both;
    left: 0;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 90px;
    width: 100%;	*/
}

.chat_messages li {
	padding:10px 5px 15px;
	width:auto;
}

.chat-bubble {
	color: #000000;
	border-radius: 10px;
    font-size:12px;
    font-style: normal;		
	padding:2px 5px;
	position:relative;
	margin:0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

.chat-bubble.me {
	background: linear-gradient(#FFFFFF, #B8DB29) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#B8DB29));
	border: solid 1px #B8DB29;
}

.chat-bubble.me:after,
.chat-bubble.me:before,
.chat-bubble.other:after, 
.chat-bubble.other:before {
	bottom:-11px;
	content:"";
	height:10px;
	position:absolute;	
}

.chat-bubble.me:after 
{
	background:#FFFFFF;
	border-bottom-left-radius: 40px 50px;
	right:-1px;
	width:15px;
	-moz-border-bottom-left-radius: 40px 50px;
	-webkit-border-bottom-left-radius: 40px 50px;
	-o-border-bottom-left-radius: 40px 50px;
}

.chat-bubble.me:before 
{
	background:#B8DB29;
	border-bottom-left-radius: 80px 50px;
	right:5px;
	width:25px;
	-moz-border-bottom-left-radius: 80px 50px;
	-webkit-border-bottom-left-radius: 80px 50px;
	-o-border-bottom-left-radius: 80px 50px;
}

.chat-bubble.other {
	background: linear-gradient(#FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCCC));
	border: solid 1px #CCCCCC;
}

.chat-bubble.other:after 
{
	background:#FFFFFF;
	border-bottom-right-radius: 40px 50px;
	left:-1px;
	width:15px;
	-moz-border-bottom-right-radius: 40px 50px;
	-webkit-border-bottom-right-radius: 40px 50px;
	-o-border-bottom-right-radius: 40px 50px;
}

.chat-bubble.other:before 
{
	background:#CCCCCC;
	border-bottom-right-radius: 80px 50px;
	left:5px;
	width:25px;
	-moz-border-bottom-right-radius: 80px 50px;
	-webkit-border-bottom-right-radius: 80px 50px;
	-o-border-bottom-right-radius: 80px 50px;
}

.chat-bubble.me span {
	bottom:-15px;
	color:#CCCCCC;
	font-size:x-small;
	position:absolute;
	left:10px;
}

.chat-bubble.other span {
	bottom:-15px;
	color:#CCCCCC;
	font-size:x-small;
	position:absolute;
	right:10px;
}

.chat-bubble.systems
{
	border:solid 1px #CCC;
	background:#FFBABA;
	text-align: center;
}

.chat-bubble.systems span {
	bottom:-15px;
	color:#CCCCCC;
	font-size:x-small;
	position:absolute;
	right:10px;
}

