﻿<script src="/Scripts/jquery.lightbox_me.js" type="text/javascript" ></script>
<div class="modal" id="promptEditField" >
    <div style="float:right;"><a style="cursor: pointer; color:Blue;" onclick="closeEditFieldOverlay()"><b>[X]</b></a></div>
    <h3>Edit Field</h3>
    <table cellpadding="10px" cellspacing="20px" width="100%" >
        <tr>
            <td>Field Name:</td>
            <td><select id="ddlFields"></select></td>
        </tr>    
        <tr>
            <td>Question Text:</td>
            <td><textarea  id="txtQuestionText"></textarea></td>
        </tr>
        <tr>
            <td>Additional Text:</td>
            <td><textarea  id="txtAdditionalText"></textarea></td>
        </tr>
        <tr>
            <td>Error Text:</td>
            <td><textarea  id="txtErrorText"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="chkAutoAdvance"/> Auto-Advanced</td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="chkRequiredField"/> Required Field</td>
        </tr>
    </table>
    <input type="hidden" id="regControlID" />
    <input type="hidden" id="closeOverlayEditField" />
    
    <div class="action">
        <button type="button" id="btnSaveEditField">Save</button> &nbsp;&nbsp;<button type="button" id="btnCloseEditField">Close</button>
    </div>
   
</div>

<script type="text/javascript">
    var _fieldScenarioID = 0;
    var _displayTypeId = 0;
    var _regControlDisplayCollection = null;
    var _selectedControlId = 0;

    function closeEditFieldOverlay()     {

        $('#closeOverlayEditField').lightbox_me();
        $('#closeOverlayEditField').trigger('close');
    }

    function initializeEditField(regControlDisplayCollection, selectedControlId, scenarioId) {
        _regControlDisplayCollection = regControlDisplayCollection;
        _selectedControlId = selectedControlId;
        _fieldScenarioID = scenarioId;
        
        //clear existing data
        $("#chkAutoAdvance").attr("checked", false);
        $("#chkRequiredField").attr("checked", false);
        $('#ddlFields').empty();
        $('#txtQuestionText').empty();
        $('#txtAdditionalText').empty();
        $('#txtErrorText').empty();
        $('#regControlID').empty();

        for (i = 0; i < regControlDisplayCollection.Controls.length; i++) {
            $('<option/>').val(regControlDisplayCollection.Controls[i].RegControlSiteID).html(regControlDisplayCollection.Controls[i].Name).appendTo('#ddlFields');
        }

        for (var i = 0; i < regControlDisplayCollection.Controls.length; i++) {
            if(regControlDisplayCollection.Controls[i].RegControlSiteID == selectedControlId) {
                setModel(regControlDisplayCollection.Controls[i]);
                break;
            }
        }
    }

    function setModel(regControlDisplay) {
        $('#txtQuestionText').val(regControlDisplay.Label);
        $('#txtAdditionalText').val(regControlDisplay.AdditionalText);
        $('#txtErrorText').val(regControlDisplay.ErrorMessage);
        $("#regControlID").val(regControlDisplay.RegControlID);
        if (regControlDisplay.EnableAutoAdvance == true) {
            $("#chkAutoAdvance").attr("checked", true);
        }

        if (regControlDisplay.Required == true) {
            $("#chkRequiredField").attr("checked", true);
        }

        _displayTypeId = regControlDisplay.DisplayType;

        $("#ddlFields").val(regControlDisplay.RegControlSiteID);
    }

    $(document).ready(function () {

        $("#editField").css('color', '#ffffff');
        $("#editField").css('cursor', 'pointer');

        $('#ddlFields').change(function () {
            $("#ddlFields option:selected").each(function () {
                var newSelectedControlId = $(this).val();

                for (var i = 0; i < _regControlDisplayCollection.Controls.length; i++) {
                    if (_regControlDisplayCollection.Controls[i].RegControlSiteID == newSelectedControlId) {
                        _selectedControlId = newSelectedControlId;
                        setModel(_regControlDisplayCollection.Controls[i]);
                        break;
                    }
                }
            });
        });

        $('#btnSaveEditField').live("click", function () {
            var regControlSiteID = $('#ddlFields').find(":selected").val();
            var control = _regControlDisplayCollection.FindControl(regControlSiteID);
            control.AdditionalText = $('#txtAdditionalText').val();
            control.ErrorMessage = $('#txtErrorText').val();
            control.Label = $('#txtQuestionText').val();
            control.RegControlSiteID = $('#ddlFields').find(":selected").val();

            $('#chkAutoAdvance').is(':checked') ? control.EnableAutoAdvance = true : control.EnableAutoAdvance = false;
            $('#chkRequiredField').is(':checked') ? control.Required = true : control.Required = false;

            if (_fieldScenarioID > 0) {
                var obj = { regControlDisplay: control, scenarioID: _fieldScenarioID };

                $.ajax({
                    type: "POST",
                    url: "/SaveField/",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (result) {
                        if (result != null && result.Status == 2) {
                            spark.RegAdminManager.alertMessage("Field successfully saved", result.Status, null);
                        }
                    }
                });
            }
        });

        $('#btnCloseEditField').live("click", function () {
            closeEditFieldOverlay();
        });

        var maxCharacters = 150;
        $("#txtQuestionText").keyup(function () {
            if ($(this).val().length > maxCharacters) {
                $(this).val($(this).val().substr(0, maxCharacters));
            }
        });
        $("#txtAdditionalText").keyup(function () {
            if ($(this).val().length > maxCharacters) {
                $(this).val($(this).val().substr(0, maxCharacters));
            }
        });
        $("#txtErrorText").keyup(function () {
            if ($(this).val().length > maxCharacters) {
                $(this).val($(this).val().substr(0, maxCharacters));
            }
        });
    });

</script>
