﻿<script src="/Scripts/jquery.lightbox_me.js" type="text/javascript" ></script>

<div class="modal" id="promptEditPage" >
    <div style="float:right;"><a style="cursor: pointer; color:Blue;" onclick="closeEditPageOverlay()"><b>[X]</b></a></div>
    <h3>Edit Page</h3>
    <table cellpadding="10px" cellspacing="20px" width="100%" >
        <tr>
            <td>Page:</td>
            <td><select id="ddlPages"></select></td>
        </tr>    
        <tr>
            <td>Title Text:</td>
            <td><textarea id="txtTitleText"></textarea></td>
        </tr>
        <tr>
            <td>Header Text:</td>
            <td><textarea id="txtHeaderText"></textarea></td>
        </tr>
        <tr>
            <td>Tip Text:</td>
            <td><textarea id="txtTipText"></textarea></td>
        </tr>
    </table>
    <input type="hidden" id="closeOverlayEditPage" />
    
    <div class="action">
        <button type="button" id="btnSaveEditPage">Save</button> &nbsp;&nbsp;<button type="button" id="btnCloseEditPage">Close</button>
    </div>
   
</div>

<script type="text/javascript">
    var _stepScenarioId = 0;
    var _stepCollection = null;
    var _selectedStepId = 0;
    var _selectedStepOrder = 0;

    function closeEditPageOverlay() {

        $('#closeOverlayEditPage').lightbox_me();
        $('#closeOverlayEditPage').trigger('close');
    }

    function initializeEditPage(stepCollection, selectedStepOrder, scenarioId) {
        _stepCollection = stepCollection;
        _selectedStepOrder = selectedStepOrder;
        _stepScenarioId = scenarioId;
        
        //clear existing data
        $('#ddlPages').empty();
        $('#txtTitleText').empty();
        $('#txtTipText').empty();
        $('#txtHeaderText').empty();

        var stepOrderDisplay = '';

        for (i = 0; i < stepCollection.Steps.length; i++) {
            stepOrderDisplay = getStepNumberDisplay(stepCollection.Steps[i].Order);
            $('<option/>').val(stepCollection.Steps[i].Order).html(stepOrderDisplay).appendTo('#ddlPages');
        }

        for (var i = 0; i < stepCollection.Steps.length; i++) {
            if (stepCollection.Steps[i].Order == selectedStepOrder) {
                setPageModel(stepCollection.Steps[i]);
                break;
            }
        }
    }

    function setPageModel(step) {
        $('#txtTitleText').val(step.TitleText);
        $('#txtTipText').val(step.TipText);
        $('#txtHeaderText').val(step.HeaderText);

        _selectedStepId = step.StepId;

        $("#ddlPages").val(step.Order);
    }

    $(document).ready(function () {

        $("#editPage").css('color', '#ffffff');
        $("#editPage").css('cursor', 'pointer');

        $('#ddlPages').change(function () {
            $("#ddlPages option:selected").each(function () {
                var newSelectedStepOrder = $(this).val();
                spark.RegAdminManager.regLog(newSelectedStepOrder);
                for (var i = 0; i < _stepCollection.Steps.length; i++) {
                    if (_stepCollection.Steps[i].Order == newSelectedStepOrder) {
                        _selectedStepOrder = newSelectedStepOrder;
                        _selectedStepId = _stepCollection.Steps[i].StepId;
                        setPageModel(_stepCollection.Steps[i]);
                        break;
                    }
                }
            });
        });

        $('#btnSaveEditField').live("click", function () {
            closeEditPageOverlay();
        });

        $('#btnCloseEditPage').live("click", function () {
            closeEditPageOverlay();
        });

        $('#btnSaveEditPage').live("click", function () {
            var stepOrder = $('#ddlPages').find(":selected").val();
            var step = _stepCollection.FindStepByOrder(stepOrder);
            step.TipText = $('#txtTipText').val();
            step.HeaderText = $('#txtHeaderText').val();
            step.TitleText = $('#txtTitleText').val();
            step.RegControlSiteID = $('#ddlFields').find(":selected").val();

            if (_selectedStepId > 0) {
                var obj = { step: step, scenarioID: _stepScenarioId };

                $.ajax({
                    type: "POST",
                    url: "/SaveStep/",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (result) {
                        if (result != null && result.Status == 2) {
                            spark.RegAdminManager.alertMessage("Page successfully saved", result.Status, null);
                        }
                    }
                });
            }

            closeEditPageOverlay();
        });

    });

</script>