﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-splash";
    ViewBag.FacebookPixel = true;
}
@section HeadUI{
    @Html.Partial("_MetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/splash.css")" />
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/site.css")" />

}
<div id="min-max-container" class="gc">
    <div id="header" class="clearfix gc" style="margin:12px 0;">
        <div id="header-logo">
            <a class="logo" style=" display: block; width: 177px; float: left; " href="~/">
                <img title="LDSSingles.com - The Largest Jewish Singles Network" src="@Url.Content("~/RegContent/Images/ldsso_logo_no_tag_line_240x83.png")" alt="LDSSingles.com - The Largest Jewish Singles Network" />
            </a>
        </div>
        <div id="header-login">
            <a href="/Registration/" class="join">Join Free</a>
            <span class="bracket">|</span>
            <a class="btn" href="http://@ViewBag.BedrockHost/member_login.html">Member Login</a>
        </div>
    </div>
</div>
<div id="container" class="gc">
    <div id="container-members">
        <div class="marketing-container-gc">
            <div class="marketing-content-gc">
                <div id="marketing-wrap">
                    <h3>The key to connection?</h3>
                    <h2>Finding someone who really gets you.</h2>
                    <p>Browse LDSSingles near you who truly understand what it means to be XYZ.</p>
                    <a href="~/Registration/" class="btn">Browse for Free!</a>
                </div>
            </div>
        </div>
        <ul id="couples-gc"></ul>
    </div>
</div>
<div style="margin:1.5em auto 1em;width:1014px;">
    <div class="clearfix">
    </div>
    <div id="content-container">
        <div id="vis-info" class="clear-both">
            <div id="footernew" class="clear-both clearfix">
                <div id="jd-links">
                    <big>LDSSingles.com</big>
                    <ul class="linklist clearfix">
                        <li><a href="http://@ViewBag.BedrockHost/singles/">Meet LDS Singles</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/pricing.html">Pricing</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/sitemap.html">Site Map</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/safety.html">Safety</a></li>
                    </ul>
                    <ul class="linklist clearfix">
                        <li><a href="http://@ViewBag.BedrockHost/contact.html">Contact Us</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/linktous.html">Link to Us</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/ldsso_about.html">About LDSSO<span class="superscript">®</span></a></li>
                        <li><a href="http://@ViewBag.BedrockHost/">LDS Dating</a></li>
                    </ul>
                </div>
                <div id="sn-links">
                    <big>Spark Networks</big>
                    <ul class="linklist clearfix">
                        <li><a href="http://www.spark.net">About Spark Networks</a></li>
                        <li><a href="https://affiliates.spark.net/en/">Affiliate Program</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#privacy_policy">Privacy</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#cookie_policy">Cookie Policy</a></li>
                    </ul>

                    <ul class="linklist clearfix">
                        <li><a href="http://www.spark.net/our-portfolio/portfolio-overview/">Spark Networks' Sites</a></li>
                        <li><a href="http://www.spark.net/investor.htm">Investor Relations</a></li>
                        <li><a href="http://@ViewBag.BedrockHost/terms-of-use.html#service_terms">Terms of Service</a></li>
                    </ul>
                </div>
                <p style="padding-top: 35px;">Copyright © @DateTime.Now.Year Spark Networks USA, LLC. All rights reserved.</p>
                <p>Spark Networks USA, LLC is a wholly-owned subsidiary of <span class="nobr">Spark Networks, Inc.</span>, a NYSE MKT Company (<a href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV">LOV</a>)</p>
                @*<div id="footernewfooter" class="clearfix">
                        <p class="legal-copyright editorial">
                            Copyright ©
                            <script language="javascript">var d = new Date(); document.write(d.getFullYear());</script>  Spark Networks® USA, LLC. All rights reserved. Spark Networks USA, LLC is a wholly-owned subsidiary of Spark Networks, Inc., a NYSE MKT Company (<a target="_blank" href="http://www.nyse.com/about/listed/lcddata.html?ticker=LOV">LOV</a>)
                        </p>
                    </div>*@
                <br />
            </div>
            <div class="editorial">
                <h1>Why join LDS Singles?</h1>
                <p>Looking for love that stands the test of time? You’ll find it at LDSSingles.com. It’s the largest dating site by Mormons for Mormons. With over twice as many success stories it seems everyone knows someone who’s met their spouse at LDSSingles.com. Now it’s  your turn. Join for free today and view photos of singles in your area. Plus receive our COMPASS matching test and relationship readiness IQ test. LDSSingles.com is the right place to find single LDS friends or LDS dating and start lasting relationships. As the largest and longest running LDS singles site "this is the place."</p>
            </div>
            <div class="editorial">
                <h1>About LDSSingles.com</h1>
                <p>LDSSO&reg; (which stands for LDS Singles Online&reg;) was created in 1996 as a safe and fun way for LDS Singles to meet online and build great friendships and relationships. Known for its high standards and innovative services, LDSSO has been connecting LDS Singles from around the world for well over a decade.</p>
                <p>Since its start over 500,000 profiles have been created and well over a thousand couples have found their match on LDSSO. It seems every LDS ward now has 2 or 3 couples that met each other on our site.</p>
            </div>
            <hr />
            <div class="editorial">
                <p>Don't hesitate. Create your free profile today and start communicating with thousands of singles near you. You'll enjoy our COMPASS matching system, personal readiness test, message boards, searching, and more. We hope you'll join us because there's a lot of great LDS people waiting to meet you. Dating has never been this easy.</p>
            </div>
            <p><a href="~/Registration/">Sign up today</a> to start enjoying your LDS dating site.</p>
        </div>
    </div>
</div>
<div id="footer">
    <div id="footer-content">
        <p class="legal-background-checks"><b>Spark Networks USA, LLC does not conduct background checks on the members or subscribers of this website. However, the safety and security of our members is our top priority. We urge all members to follow our <a href="http://@ViewBag.BedrockHost/safety.html" target="_blank"><span style="font-weight:900;text-decoration:underline;">online safety tips.</span></a></b></p>
    </div>
</div>
<!--div to put member info inside-->
<div class="couple-callout" id="callout"></div>
@* Put section overrides here *@
@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>

} 