﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FacebookPixel = true;
    ViewBag.BodyClass = "ui-mobile-viewport";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "code.jquery.com", "www.ldssingles.com" };
    ViewBag.DNSPrefetch = DNSArray;
}
<div data-role="page" data-theme="a" class="m_landing" data-title="JDate Mobile">
    <header data-role="header" data-theme="c">
        <h1 class="ir logo"><span>LDS Singles</span></h1>
        <a href="http://@ViewBag.MOSHost/member_login.html?login=1" data-transition="slidedown" data-theme="e" class="ui-btn-right">Login</a>
    </header>
    <div data-role="content">
        <div class="lp-content">
            <p class="quote">@*Delight yourself in the LORD and he will give you the desires of your heart. - Psalms 37:4*@ </p>
            <div class="main">
                <blockquote>
                    @*<img src="@Url.Content("~/RegContent/Images/Mobile/txt-splash-title.png")" alt="Meet LDS Singles" class="lp-img" />*@
                    <h2 class="frsplash_headline">Meet LDS Singles</h2>
                    <a href="/Registration/" role="register-button" data-mini="true" data-theme="e" data-role="button" data-ajax="false"><strong>Browse for Free!</strong></a>
                </blockquote>
            </div>
        </div>
    </div>
    @*<footer role="siteinfo">
            <a href="http://@ViewBag.MOSHost/home/privacy/">Privacy Policy</a>
        </footer>*@
    @Html.Partial("_MobileFooter")

</div>


@*<div data-role="page" data-theme="a" class="m_landing" data-title="JDate Mobile">
        @Html.Partial("NavMobile")

        <div data-role="content">
            <div class="lp-content">
                <div class="main">
                    <blockquote>
                        <h2 class="frsplash_headline">Meet LDS Singles</h2>
                        <a href="~/Registration/" role="register-button" data-mini="true" data-theme="e" data-role="button" data-ajax="false"><strong>Browse for Free!</strong></a>
                    </blockquote>
                </div>
            </div>
        </div>
        @Html.Partial("_MobileFooter")

    </div>*@




@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MobileMetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.css")" />
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.abc.css")" />

    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/site.css")" />
    <link rel="shortcut icon" href="http://static.ldssingles.com/images/favicon.ico" type="image/x-icon">
    @* All JavaScript at the bottom, except Modernizr, jQuery and jQuery mobile *@
    <script src="@Url.Content("~/RegContent/Scripts/Libs/modernizr.2.6.custom.js")"></script>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script>
        $.mobile.ajaxEnabled = false;
    </script>
}

@section BottomJavaScript{
    <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
    <script>
        var spark = spark || {};
        //DO NOT REMOVE. This line should occur before loading Omniture.js file.
        var s_account = '@ViewBag.OmnitureAccountName';
        $LAB
        .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")
        .wait(function () {
            @Html.Action("Index", "Omniture", new {pageName = "MOSsplashtest_Control"})
        });
    </script>
}

@* Empty IE6Chromeframe section *@
@section IE6Chromeframe{}