﻿/*** Master Page ****/
/**********************************/
body {
    font-size: .85em;
    font-family: arial;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.required{
    background-color: #fbaf5d;
    font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
td,th {
  padding: 0;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.flipped, .flipped .content{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.FWS, .MOS, .TOS{
    color: #fff;
}
.FWS{
    background-color: #33cc33;
}
.MOS{
    background-color: #3366cc;
}
.TOS{
    background-color: #cc6633;
}
/*.table-striped > tbody > tr:nth-child(odd) {
    background-image: url('../../Images/ui-shade.png');
}*/

#main {
    /*background-color: #F7F7FC;
    background-color: #FCFCF3;*/
    min-height: 600px;
    padding: 20px;
    border-left: 1px solid #81802A;
    border-right: 1px solid #81802A;
    
}

#main h2 {
    margin: 0px;
}

.page {
    /*width: 90%;*/
    margin: 0px auto;
    color: #4F2A31;
    -webkit-box-shadow: 0 0 15px #81802A;
    -moz-box-shadow: 0 0 15px #81802A;
    box-shadow: 0 0 15px #81802A;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#footer {
    /*background-color: #7F7F87;*/
    background: #C45D26;
    background: -moz-linear-gradient(center bottom, #C45D26 16%, #E78025 86% );
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #C45D26), color-stop(0.86, #E78025));
    height: 15px;
     border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    color: white;
    padding: 10px;
    clear: both;
}

.logo {
    height: 60px;
}

.logo img {
    float: right;
}

.cursorLink {
    cursor: pointer;
}

#title {
    /*background-color: #7F7F87;*/
    background: #C45D26; /* Old browsers */
    background: -moz-linear-gradient(center bottom, #C45D26 16%, #E78025 86% );
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #C45D26), color-stop(0.86, #E78025));
    height: 45px;
     border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
}

#title h1 {
    color: white;
    padding: 7px 0px 0px 25px;
    float: left;
    margin: 0px;
}

.header-menu-item {
    color: white;
    padding: 7px 0px 0px 25px;
    float: left;
    margin: 0px;
}

#logindisplay {
    float: right;
    padding-top: 25px;
    color: white;
    padding-right: 20px;
}

#scenarios {
    margin-top: 25px;
    overflow-x: scroll;
}

#scenariosList {
    margin-top: 10px;
}

#siteList {
    width: 170px;
    margin-top: 10px;
}

#scenarioDetails {
    /*float: left;*/
    display: inline-block;
    margin: 20px 0px 0px 60px;
    width: 800px;
}

#scenarioDetails .desc,
#scenarioDetails .features {
    min-height: 80px;
    background-color: white;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border: 1px solid #81802A;
    /*border-right: 1px solid #81802A;*/
}

#scenarioDetails .features {
    margin-top: 20px;
}

#scenarioDetails .features table {
    width: 100%;
    padding: 5px;
}

#scenarioDetails .features table td:first-child {
    width: 40%;
}

#scenarioDetails .features table tr {
    width: 20px;
}

#scenarioDetails .features table tr:nth-child(even) {
    background-color: #E0E0E9;
    border-bottom: solid 1px #7F7F87;
}

#scenarioDetails .features ul {
    display: inline-block;
    margin: 5px;
    padding: 0px;
}

#scenarioDetails .features ul li {
    list-style: none;
    float: left;
    padding: 5px;
    width: 99%;
}

#scenarioDetails .features ul li div:first-child {
    float: left;
    padding-right: 10px;
    width: 25%;
}

#scenarioDetails .features ul li div:nth-child(2) {
    float: left;
    width: 71%;
}

#scenarioDetails .features #url {
    width: 100%;
    padding: 0px;
}

#scenarioDetails .features ul li.even {
    /*background-color: #E0E0E9;*/
    background-color: #FBFAE0;
}

#scenarioDetails .action {
    margin-top: 20px;    
}

#scenarioDetails .action button {
    width: 90px;
    margin-right: 10px;
}

.sectionTitle {
    height: 25px;
    /*background-color: #E8BA70;
    background: -moz-linear-gradient(center bottom, #E8BA70 16%, #E9C58D 86% );
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #E8BA70), color-stop(0.86, #E9C58D));
    border-bottom: 1px solid #7F7F87;
    */
    
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    padding: 5px 0px 0px 10px;
}

#ajaxspin{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}
#ajaxspin img{
    position: absolute;
    top: 50%;
    left: 50%;
}

.action button {
    border: 1px solid #CCC;
    color: #4F2A31;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(28%, white), color-stop(82%, #E6E6E6));
    background-image: -webkit-linear-gradient(top, white 28%,#E6E6E6 82%);
    background-image: -moz-linear-gradient(top, white 28%,#E6E6E6 82%);
    background-image: linear-gradient(top, white 28%,#E6E6E6 82%);
    cursor: pointer;
}

.action button.disable {
    color: Grey;
    cursor: inherit;
}

 .drag { width: 120px; /*height: 15px;*/ padding: 5px; margin-top: 5px;margin-left: 5px;margin-right: 5px;list-style: none; margin-bottom: 5px; border: 1px solid #000;cursor: move;text-align: center;word-wrap: break-word;float: left; }
 .scenariopage { width: 200px; min-height:200px; padding: 5px; margin: 15px;border: 1px solid #000;float: left; }
 .scenariopage .recycle, 
 .scenariopage .page-recycle { width: 20px;height: 15px;cursor: pointer;float: right;}
 #pages { float: left;margin: 10px;width: 100%;}
 #siteControls {  }

 #fields { width: 100%;clear: both;}
 #add-page { width: 35px;height: 35px;cursor: pointer;margin-left: 15px;}

/**********************************/

#scenariosList .grey {
    /*background-color: #E0E0E9;*/
    background-color: #FBFAE0;
}

ul.scenario-name { width: 350px;}
ul.scenario-desc { width: 700px;}
ul.scenario-desc, ul.scenario-name { list-style: none;padding: 0px;float: left; }
ul.scenario-desc li, ul.scenario-name li { padding-top: 10px;}
ul.scenario-desc li div:first-child, ul.scenario-name li div:first-child {float: left;width: 120px;}
ul.scenario-desc li #newScenariositeList, ul.scenario-name li #newScenariositeList  { width: 170px;}
ul.scenario-desc li div { }
#siteControls ul { padding: 0px;}

#deviceTypeList { width: 100px;}

.error
{
     color:Red; 
     font-weight:bold;
}

.node-link { cursor:pointer; }

.modal {
	background-color:#fff;
	display:none;
	width:50%;
	padding:20px;
	text-align:left;
	border:2px solid #333;
	
	opacity:1.0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
.modal ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal ul li{
    display: inline-block;
    margin-right: 1em;
}
.modal button{
    margin: 2em .5em 2em 0;
    padding: .5em 1em;
    cursor: pointer;
}
.modal .close{
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
}
textarea {
    width:350px;
    height:100px;
    padding: 3px;
    border: 2px solid #ccc;
}



#templatess {
    margin-top: 25px;
    float: left;
}

#templatesList {
    width: 170px;
    height: 200px;
    margin-top: 10px;
}

#templateDetails {
    /*float: left;*/
    display: inline-block;
    margin: 20px 0px 0px 60px;
    width: 800px;
}

#templateDetails .desc,
#templateDetails .features {
    min-height: 80px;
    background-color: white;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border: 1px solid #81802A;
    /*border-right: 1px solid #81802A;*/
}

#templateDetails .features {
    margin-top: 20px;
}

#templateDetails .features table {
    width: 100%;
    padding: 5px;
}

#templateDetails .features table td:first-child {
    width: 40%;
}

#templateDetails .features table tr {
    width: 20px;
}

#templateDetails .features table tr:nth-child(even) {
    background-color: #E0E0E9;
    border-bottom: solid 1px #7F7F87;
}

#templateDetails .features ul {
    display: inline-block;
    margin: 5px;
    padding: 0px;
}

#templateDetails .features ul li {
    list-style: none;
    float: left;
    padding: 5px;
    width: 99%;
}

#templateDetails .features ul li div:first-child {
    float: left;
    padding-right: 10px;
    width: 25%;
}

#templateDetails .features ul li div:nth-child(2) {
    float: left;
    width: 71%;
}

#templateDetails .features #url {
    width: 100%;
    padding: 0px;
}

#templateDetails .features ul li.even {
    /*background-color: #E0E0E9;*/
    background-color: #FBFAE0;
}

#templateDetails .action {
    margin-top: 20px;    
}

#templateDetails .action button {
    width: 90px;
    margin-right: 10px;
}

.templatepage { width: 200px; min-height:200px; padding: 5px; margin: 15px;border: 1px solid #000;float: left; }
.templatepage .recycle, 
.templatepage .page-recycle { width: 20px;height: 15px;cursor: pointer;float: right;}

/**********************************/

#templatesList .grey {
    /*background-color: #E0E0E9;*/
    background-color: #FBFAE0;
}

ul.template-name { width: 350px;}
ul.template-desc { width: 700px;}
ul.template-desc, ul.template-name { list-style: none;padding: 0px;float: left; }
ul.template-desc li, ul.template-name li { padding-top: 10px;}
ul.template-desc li div:first-child, ul.template-name li div:first-child {float: left;width: 120px;}
ul.template-desc li #newTemplatesiteList, ul.template-name li #newTemplatesiteList  { width: 170px;}
ul.template-desc li div { }

.scenarioError {
    padding-top: 5px;
    height: 20px;
    clear: both;
           
}

.divPageControlErrors 
{
    width: 100%;
    height: 10px;
    clear: both;
    
}