<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="Site.aspx.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.MutualYesNotify.MutualYesNotifyBase" %>
<html>
	<head>
		<title>Check Subscription Confirmation</title>
	</head>
	<body dir="ltr">
		<form id="Form1" method="post" runat="server">
			
MemberID: <asp:Label id="lblMemberID" runat="server" /><br />
TargetMemberID: <asp:Label id="lblTargetMemberID" runat="server" /><br />
BrandID: <asp:Label id="lblBrandID" runat="server" /><br />

		</form>
	</body>
</html>
