<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	    <meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	    <meta name="mobile" content="true">
	    <title>Chat</title>
	    <link rel="shortcut icon" href="images/jdate_favicon.ico" type="image/x-icon">
	    <link rel="stylesheet" href="css/im-mobile.css">	
	    
	  	<script type="text/javascript" src="js/libs/flXHR/flXHR.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	   	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
	    <script type="text/javascript" src="js/libs/flXHR/jquery.flXHRproxy.js"></script>
	    <script src='js/libs/jquery.ie.cors.js'></script>
	    <script src='js/libs/strophe.js'></script>
	    <script src='js/libs/plug-ins/strophe.xdomainrequest.js'></script>
	    <script src='js/libs/mustache.js'></script>
	    <script src="js/libs/jdm-plugins.min.js"></script>
	    <script src='js/libs/jquery.blockUI.js'></script>
		<script src='js/libs/jquery-ui-1.10.4.core-resizable.min.js'></script>
		<script src='js/libs/jQuery-File-Upload-8.8.5/jquery.iframe-transport.js'></script>
		<script src='js/libs/jQuery-File-Upload-8.8.5/jquery.fileupload.js'></script>
	    <script src="js/spark.localization.js"></script>	
	    <script src="js/spark.localization.en-US.js"></script>
	    <script src="js/spark.localization.en-GB.js"></script>
	    <script src="js/spark.localization.he-IL.js"></script>
	    <script src="js/spark.localization.fr-FR.js"></script>
	    <script src="js/spark.utilities.js"></script>
	    <script src="js/spark.config.js"></script>
		<script src="js/spark.messageconversion.js"></script>
	    <script src="js/libs/s_code.js" type="text/javascript"></script>
	    <script src="js/spark.API.restClient.js"></script>
	    <script src='js/IM.js'></script>
	    <script src="js/im-mobile.js" type="text/javascript"></script>
	
	</head>
	<body>
		<div id="content">
			<div class="header-box">
				<div id="menu_panel" class="menu-panel">
					<a id="back_btn">Back</a>
				</div>
				<div id="chatter_mini_profile" class="profile-panel"></div>
			</div>
			<div class="content-box">
				<ul id="messages" class="chat_messages messages-panel"></ul>
			</div>
			<div class="footer-box">
				<div id="chatter_status" class="status-panel"></div>
				<div class="typing-panel">
					<!--<textarea rows="2" maxlength="500" class="chat_input"></textarea>-->
					<div id="chat_input" contenteditable="true" class="input_box"></div>
					<a class="send_button"></a>
				</div>
				
				<!--<ul class="typing-panel">
					<li class="textarea">
						<textarea rows="2" maxlength="500" class="chat_input"></textarea>
					</li>
					<li class="send">
						<span class="send_button_container clearfix"><a class="send_button"></a></span>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script id="mini_profile_template" type="text/template" data-target-element="#chatter_mini_profile" >
		<a id="favorite_symbol" class="fave-off" onclick=""></a>
		<a id="block_symbol" class="block-off" onclick=""></a>
		
		<a id="profile_link" href="{{ profileLink }}" target="_blank">
			<img alt="profile" src="{{ thumbnail }}">
			<div>
				<h4 class="name">{{ username }}</h4>
				<h5 class="age">{{ genderAndSeeking }}</h5>
				<h5 class="location">{{ location }}</h5>
			</div>
		</a>
	</script>
	
	<script id="message_template" type="text/template" data-target-element=".chat_messages">	    
		<li>
			<blockquote class="chat-bubble other {{bgClass}} {{fontTypeClass}} {{fontColorClass}} {{fontSizeClass}} {{fontBoldClass}} {{fontUnderlineClass}} {{fontItalicizeClass}}">
				<p>{{{ chatText }}}</p>
				<span>{{ timestamp }}</span>
			</blockquote>
		</li>    
	</script>
	
	<script id="self_message_template" data-target-element=".chat_messages" type="text/template">
		<li>
			<blockquote class="chat-bubble me {{bgClass}} {{fontTypeClass}} {{fontColorClass}} {{fontSizeClass}} {{fontBoldClass}} {{fontUnderlineClass}} {{fontItalicizeClass}}">
				<p>{{{ chatText }}}</p>
				<span>{{ timestamp }}</span>
			</blockquote>
		</li>
	</script>
	
	<script id="chatter_status_template" type="text/template" data-target-element="#chatter_status">
		<p>{{{ userState }}}</p>
	</script>
	
	<script id="error_template" type="text/template" data-target-element="#error_container" >
	    <div><span>{{ message }}</span></div>
	</script>
	
	<script id="system_template" type="text/template" data-target-element=".chat_messages" >
	    <li>
	        <blockquote class="chat-bubble systems">
	           <p><strong>{{ chatText }}</strong></p>
	           <span>{{ username}} {{ timestamp }}</span>
	        </blockquote>
	    </li>		    
	</script>	
	
	<script>		
		$(document).ready(function() {			
			mobileIM.init();
		});		
	</script>	
</html>
