<%@ Register TagPrefix="cc" Namespace="Matchnet.ExternalMail.Templates.CommonControls" Assembly="Matchnet.ExternalMail.Templates" %>
<%@ Page language="c#" Codebehind="StormPostGeneralBase.cs" AutoEventWireup="false" Inherits="Matchnet.ExternalMail.Templates.StormPostGeneral.StormPostGeneralBase" %>
<asp:Literal id="litContent" runat="server" />