﻿@model Spark.Web.Mobile.CM.ViewData.SettingsViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}
<div class="readonly">
    <div id="spotlight-prefs">
        <div class="page-header">
            <a href="/settings/" class="prevButton ui-link" style="visibility: visible;"></a>
            <h2>Member Spotlight</h2>
        </div>
        <div class="settings-main">
            <p>Member Spotlight prominently displays your profile about the search results of the members you choose. Get ready to get a lot of emails, IMs and possibly dates!</p>
            <ul class="spotlight-display">
                @{
                    if (Model.CurrentUserProfile.Gender == "Male")
                    {
                        <li>Display to: <span class="seeking-gender">Women seeking Men </span></li>
                    }
                    else
                    {
                        <li>Display to: <span class="seeking-gender">Men seeking Women</span></li>
                    }
                }
                @*<li>Display to: <span class="seeking-gender">@Model.CurrentUserProfile.Gender @Model.CurrentUserProfile.SeekingGender</span></li>*@
            </ul>
            <p>Choose the audience to whom your spotlight profile will be displayed</p>
            <ul class="spotlight-prefs">
                <li class="edit-age">Age <span class="seeking-age"></span></li>
                <li class="location-toggle">Location <span class="forward-arrow"></span><span class="seeking-location" style="margin-right: 20px;"></span></li>
            </ul>

        </div>
    </div>
    <div id="location-prefs" style="display: none;">
        <div class="page-header">
            <a href="#" class="spotlight prevButton ui-link" style="visibility: visible;"></a>
            <h2>Location</h2>
        </div>
        <div class="settings-main">
            <div>
                <p>Define the size of the surrounding area to which your spotlight profile will be displayed</p>
                <ul class="spotlight-location">
                    <li class="distance">Located Within <span class="edit-distance"></span></li>
                    @*<li class="country">Country <span class="edit-city"></span></li>*@
                    <li class="zip">Zip Code <span class="edit-zip"></span><span class="more-options"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="spotlight-settings-edit editable">
    <ul id="spotlight_settings_edit_buttons" class="button-container">
        <li>
            <a id="btn_edit_cancel" data-role="none">Cancel</a>
        </li>
        <li>
            <a id="btn_edit_save" data-role="none">Save</a>
        </li>
    </ul>
    <div class="content">
        <!-- Basic Info -->
        <fieldset id="basic_info_form" class="spotlight-settings-edit-form hidden">
            <label>Gender Preference</label>
            <h2>Show My Spotlight Profile To:</h2>
            <div id="spotlight_gender" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option class="male" value="1">Men</option>
                    <option class="female" value="2">Women</option>
                </select>
            </div>
            <h2>Seeking:</h2>
            <div id="spotlight_gender_seeking" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option class="male" value="1">Men</option>
                    <option class="female" value="2">Women</option>
                </select>
            </div>      
        </fieldset>
        <fieldset id="age_range_form" class="spotlight-settings-edit-form hidden">
            <legend>Age Range</legend>
            <label>From</label>
            <div id="min_age_range" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option value="" class="selectedMinAge">&nbsp;</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                    <option value="60">60</option>
                    <option value="61">61</option>
                    <option value="62">62</option>
                    <option value="63">63</option>
                    <option value="64">64</option>
                    <option value="65">65</option>
                    <option value="66">66</option>
                    <option value="67">67</option>
                    <option value="68">68</option>
                    <option value="69">69</option>
                    <option value="70">70</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="74">74</option>
                    <option value="75">75</option>
                    <option value="76">76</option>
                    <option value="77">77</option>
                    <option value="78">78</option>
                    <option value="79">79</option>
                    <option value="80">80</option>
                    <option value="81">81</option>
                    <option value="82">82</option>
                    <option value="83">83</option>
                    <option value="84">84</option>
                    <option value="85">85</option>
                    <option value="86">86</option>
                    <option value="87">87</option>
                    <option value="88">88</option>
                    <option value="89">89</option>
                    <option value="90">90</option>
                    <option value="91">91</option>
                    <option value="92">92</option>
                    <option value="93">93</option>
                    <option value="94">94</option>
                    <option value="95">95</option>
                    <option value="96">96</option>
                    <option value="97">97</option>
                    <option value="98">98</option>
                    <option value="99">99</option>

                </select>
            </div>
            <label>To</label>
            <div id="max_age_range" class="dd-custom">
                <span class="down-arrow"></span>
                <select data-role="none">
                    <option class="selectedMaxAge" value="">&nbsp;</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                    <option value="60">60</option>
                    <option value="61">61</option>
                    <option value="62">62</option>
                    <option value="63">63</option>
                    <option value="64">64</option>
                    <option value="65">65</option>
                    <option value="66">66</option>
                    <option value="67">67</option>
                    <option value="68">68</option>
                    <option value="69">69</option>
                    <option value="70">70</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="74">74</option>
                    <option value="75">75</option>
                    <option value="76">76</option>
                    <option value="77">77</option>
                    <option value="78">78</option>
                    <option value="79">79</option>
                    <option value="80">80</option>
                    <option value="81">81</option>
                    <option value="82">82</option>
                    <option value="83">83</option>
                    <option value="84">84</option>
                    <option value="85">85</option>
                    <option value="86">86</option>
                    <option value="87">87</option>
                    <option value="88">88</option>
                    <option value="89">89</option>
                    <option value="90">90</option>
                    <option value="91">91</option>
                    <option value="92">92</option>
                    <option value="93">93</option>
                    <option value="94">94</option>
                    <option value="95">95</option>
                    <option value="96">96</option>
                    <option value="97">97</option>
                    <option value="98">98</option>
                    <option value="99">99</option>

                </select>
            </div>
        </fieldset>
        <fieldset id="distance_form" class="spotlight-settings-edit-form hidden">
          
            <label>Distance</label>
            <div class="section distance">
                <div id="distance" class="dd-custom">
                    <span class="down-arrow"></span>
                    <select data-role="none">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset id="zip_code_form" class="spotlight-settings-edit-form hidden">
            
            <label>Zipcode</label>
            <input id="postal_code" type="text" placeholder="Zipcode" maxlength="6" data-role="none" />
        </fieldset>

</div>
</div>
