<%@ Control Language="c#" AutoEventWireup="false" Codebehind="MemberPhotoFile.ascx.cs" Inherits="Matchnet.Web.Applications.MemberProfile.MemberPhotoFile" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
