﻿/* JDate Colors*/

body
{
	background:url("../img/Site/JDate-com/bknd.gif");
	background-position: top left;
	background-repeat: repeat-y;
	background-color: #FFFFFF;
}

a:link, a:active, a:visited
{
	color: #0F1177;
}

a:hover
{
	color: #0F1177;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
	color: #333333;
}

a.footerLink:hover 
{
	color: #333333;
}

H1 
{
	color: #333333;
}

H2 
{
	color: #333333;
}

hr
{
	color: #B3C5E5;
	background-color: #B3C5E5;
	background: #B3C5E5;
}

/* Color Class Definitions */
.action
{
	background: #5362B5;
}

.black
{
	background: #000000;
}

.dark
{
	background: #969EDB;
}

.darkest
{
	background: #0F1177;
}

.emphasis
{
	background: #DA062E;
}

.extra
{
	background: #5FB6CF;
}

.light
{
	background: #EEF1F9;
}

.lighter
{
	background: #F7F7F7;
}

.lightest
{
	background: #FAFAF8;
}

.medium
{
	background: #EEF1F9;
}

.white
{
	background: #FFFFFF;
}

.whiteText 
{
	color: #FFFFFF;
}

.bulletDark 
{
	color: #5FB6CF;
}

.bulletLight 
{
	color: #C1EBFF;
}

/* font color sets not complete */
.colorMedium
{
	color: #5362b5;
}

.colorDeemphasis
{
	color: #808080;
}

.colorHighlight
{
	color: #DA062E;
}

/* border color sets not complete */

.borderMedium
{
	border: 1px solid #bfd1ed;
}

.borderDark
{
	border: 1px solid #969EDB;
}

.borderDarkest
{
	border: 1px solid #5362b5;
}

.subNavBottom
{
	background: #EEF1F9;
	background-image: url(../img/Site/JDate-com/breadcrumb_tile.gif);
}
	
	.breadCrumbLower
	{
		color: #0C1C96;
	}
	
	.breadCrumbLowerRight
	{
		color: #0C1C96;
	}

.copyright
{
	color: #999999;
}

.footerText
{
	color: #333333;
}

#bgCheck {
    color: #333333;
}

/* SEO Pages Styles */
#seo_breadcrumb {
	background-image: url(../img/Site/JDate-com/breadcrumb_tile.gif);
	color: #0f1177;
}
#seo_searchbox {
	background-image: url(../img/Site/JDate-com/bknd_searchbox.gif);
	color: #333333;
}
#seo_content #seo_stateFeaturedMembers {
	border-top: 1px dotted #969edb;
	border-bottom: 1px dotted #969edb;
	background-color: #eef1f9;
}
#seo_content #seo_stateFeaturedMembers ul li img {
	border: 1px solid #eef1f9;
}
#seo_content #seo_stateFeaturedMembers ul li a img:hover {
	border: 1px solid #5362b5;
}
div.seo_listbox {
	background-color: #eef1f9;
}
div.seo_listbox h3 {
	color: #333333;
	border-bottom: 1px solid #333333;
}
#seo_content ul#seo_cityFeaturedMembers li {
	border-top: 1px dotted #969edb;
	border-bottom: 1px dotted #969edb;
	background-color: #eef1f9;
}
#seo_content ul#seo_cityFeaturedMembers li img {
	border: 1px solid #eef1f9;
}
#seo_content ul#seo_cityFeaturedMembers li a img:hover {
	border: 1px solid #5362b5;
}