/* AmericanSingles Red*/

body
{
	background:url("../img/Site/AmericanSingles-com/bknd.png");
	background-position: top left;
	background-repeat: repeat-y;
	background-color: #FFFFFF;
}

#footer
{
	background-color: #ffffff;
}

a:link, a:active, a:visited
{
	color: #1c3356;
}

a:hover
{
	color: #1c3356;
}

a.help:link, a.help:active, a.help:visited
{
	color: #1c3356;
}

a.help:hover
{
	color: #1c3356;
}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
{
	color: #333333;
}

a.footerLink:hover 
{
	color: #333333;
}

a.adminLink:link, a.adminLink:active, a.adminLink:visited
{
	color: #1c3356;
	background:white;
	font-weight:bold;
}

a.adminLink:hover 
{
	color: #1c3356;
	background:white;
	font-weight:bold;
}

a.fontBox:link, a.fontBox:active, a.fontBox:visited
{
	color: #1c3356;
}

a.fontBox:hover 
{
	color: #ffffff;
	background: #1c3356;
}
	
H1 
{
	color: #333333;
}

H2 
{
	color: #333333;
}

hr
{
	color: #b5cbe4;
	background-color: #b5cbe4;
	background: #b5cbe4;
}

/* Color Class Definitions */
.action
{
	background: #1c3356;
}

.black
{
	background: #000000;
}

.dark
{
	background: #c9deff;
}

.darker
{
	background: #485f82;
}

.darkest
{
	background: #2c4366;
}

.emphasis
{
	background: #333333;
}

.extra
{
	background: #859cbf;
}

.light
{
	background: #d1e2ff;
}

.lighter
{
	background: #dae8ff;
}

.lightest
{
	background: #f8faff;
}

.medium
{
	background: #ebf2ff;
}

.white
{
	background: #FFFFFF;
}

.bulletDark 
{
	color: #6e85a8;
}

.bulletLight 
{
	color: #a5bcdf;
}

/* CSS-PULLDOWN NAVIGATION ELEMENTS */

UL.nde-menu-system UL
{
    background: #f3f7fa;
    filter: progid:dximagetransform.microsoft.alpha(opacity=90); 
    -moz-opacity: 0.90;
}

UL.nde-menu-system LI UL LI A
{
	 border-top-color: #e4f0f9;
}

UL.nde-menu-system LI A
{
    color: #1c3356;
}

UL.nde-menu-system LI.submenu UL A
{
    color: #1c3356;
    text-decoration:none;
}

UL.nde-menu-system LI A:hover
{
	color: #1c3356;
    background-color: #FFFFFF;

}

UL.nde-menu-system LI.submenu UL
{
    border-right: 1px solid #e4f0f9;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #e4f0f9;
    border-bottom: 1px solid #e4f0f9;
}

.activity
{
	color: #999999;
}

.activityBar
{
	background: #b5cbe4;
	color: #5c5c5c;
}

.essayTitle
{
	color: #333333;
}

.galleryLink
{
	color: #1c3356;
}

.miniProfileTitle
{
	color: #1c3356;
}

.profileTitle
{
	color: #333333;
}

.profileImageHover 
{
	border-color: #ffffff; 
}

a:hover .profileImageHover, a:active .profileImageHover 
{	
	border-color: #4b6f98; 
}

.profileImageHoverGallery 
{
	border-color: #ffffff; 
}

a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery 
{	
	border-color: #4b6f98; 
}

.noPhoto
{
	border: 1px solid #b5cbe4;
}

	a:hover .noPhoto, a:active .noPhoto
	{	
		border: 1px solid #4b6f98; 
	}
	
.editHotList
	{
		border: 1px solid #d0cfc4; 
		color: #1c3356;
	}
	
/* Miscellaneous and Common Class Definitions */
.copyright
{
	background: #ffffff;
	color: #999999;
}

.error
{
	color: #FF0000;
}

.footerText
{
	color: #333333;
}

	
.fontSmall
{
	color: black;
}

.frame
{
	border: 1px solid #b5cbe4;
}

.activityButton
{
	border: 1px solid #333333;
	background: #4b6f98;
	color: #ffffff;
}

.tip
{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
}

.secondaryButton
{
	border: 1px solid #333333;
	background: #FFFFFF;
	color: #1c3356;
}

#homeMatches
{
	border: 0px solid #ffffff;
}
	#homeMatches .homeMatchesTitle
	{
		color: #FFFFFF;
		background: #4b6f98;
	}
		#homeMatches .homeMatchesText
	{
		border-bottom: 0px solid #b5cbe4;	
	}

#homePref , .homePref
{
	border: 0px solid #b5cbe4;
	background-color: #f3f7fa;
}

.homePrefAd
{
	border: 0px solid #b5cbe4;
}

	#homePref .homePrefTitle
	{
		color: #ffffff;
		background: #4b6f98;
	}
	
	#homePref .homePrefSubTitle
	{
		background: #e4f0f9;
		color: #333333;	
	}
	
#homeRight
{	
	border: 0px solid #b5cbe4;
	background-color: #f3f7fa;
}	

	#homeRight .homeRightTitle
	{
		color: #FFFFFF;
		background-color: #4b6f98;
	}
	
	#homeRight .homeRightSubTitle
	{
		background-color: #e4f0f9;
		color: #333333;	
	}
	
#leftNav
{
	border: 0px solid #b5cbe4;
	background-color: #f3f7fa;
}	
	
	#leftNav .leftNavText
	{
		background-color: #f3f7fa;		
		border-top: 2px dotted #ffffff;
	}
	
		#leftNav .leftNavTextDark
	{
		color: #1c3356;
		background: #b5cbe4;
		border-top: 2px dotted #ffffff;
	}
	
	#leftNav .leftNavTextLight
	{
		color: #333333;
		background: #E6E6E6;	
		border-top: 1px dotted #b5cbe4;
	}
	
	#leftNav .leftNavTextSolid
	{
		border-top: 2px solid #ffffff;
		background: #e4f0f9;	
	}
	
	#leftNav .leftNavTextMed
	{
		color: #1c3356;
		background: #f3f7fa;	
		border-top: 1px dotted #b5cbe4;
	}

	
	#leftNav .leftNavTitle
	{
		color: #ffffff;
		background: #4b6f98;
	}
	
	#leftNav .leftNavSubtitle
	{
		color: #333333;
		background: #FAFAF8;
		border-top: 1px dotted #D0CFC4;
	}
	
	#leftNav .thumbTrail
	{
		color: #1c3356;
		border-top: 1px dotted #b5cbe4;
	}

.leftNavNewMessages 
{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
}

#tipAppLeft
	{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
	}

.tipAppTitle
{
	font-weight:bold;
}

.iconList
{
	background:#f3f7fa;
}

#logIn
{
	width: 160px;
	font-size: 11px;
	margin-bottom: 12px;
	padding: 4px;
	margin-top: 0px;
	border: 0px solid black;
}

#loginBox
{
	border: 1px solid #e4f0f9;
	background-color: #ffffff;
}

	#loginBox .loginHeader
	{
		background: #e4f0f9;
	}

	#loginBox .loginFooter
	{
		background: #e4f0f9;
		border-top: 0px solid #D0CFC4;
	}

#mailBar
{
	background: #f3f7fa;
}
	
	.navSecondary
	{
		color: #1c3356;
	}
	
	.navPrimary
	{
		color: #1c3356;
	}
	
	#reviseLinks .reviseCriteria
	{
		color: #1c3356;
	}
	
#sort
{
	border: 1px solid #b5cbe4;
	background-image: url(../img/Site/AmericanSingles-com/tile_sort.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}

#accountInformation
{
	border: 1px solid #b5cbe4;
	background-color: #f3f7fa;
}
	
#sortOnlineNow
{
		background-image: url(../img/tile_onlinenow.gif);
		border:1px solid #D1CFC3;
}

.subNavTop
{
	background-image: url(../img/tile_breadcrumb.gif);
	border-bottom: 0px solid #D1CFCA;
}
	.breadCrumbUpper
	{
		color: #1c3356;
	}
	
	a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited, a.breadcrumbPagesLink:hover
	{
		color:#1c3356;
	}
	
	.breadcrumbUpper a.breadHome:link, .breadcrumbUpper a.breadHome:active, .breadcrumbUpper a.breadHome:visited
	{
		color: #1c3356;
	}
		
	.breadCrumbPagesUpper
	{
		color: #1c3356;
	}
	
	.breadCrumbUpperRight
	{
		color: #1c3356;
	}
	
	a.breadHome, a.breadHome:link, a.breadHome:active, a.breadHome:visited
	{
		color: #1c3356;
	}

	a.breadHome:hover
	{
		text-decoration:underline;
		color: #1c3356;
	}

.subNavBottom
{
	background:#9c042a;
	color: white;
}
	
	.subNavBottom a:link, .subNavBottom a:active, .subNavBottom a:visited
	{
		color:#FFFFFF;
	}

	
#voteBar
{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
}

	* html #voteBar
	{
		border: 1px solid #b5cbe4;
		background: #f3f7fa;
	}

	#warning .warningText
	{
		color: #333333;
	}
	
/* BEGIN DROP SHADOWS */
#boxContent 
{ 
	background: #D1CFC3;
}

#boxContainer 
{ 
	background: #f3f7fa;
}

#boxContentGallery 
{ 
	background: #d0cfc4;
	border: 1px solid #b5cbe4;
}

#boxContainerGallery 
{ 
	background: #f3f7fa; 
}

/* BEGIN TRANSLUCENCE */
#trans2
{
	background: #D9E4DB;
	filter: progid:dximagetransform.microsoft.alpha(opacity=30); 
	-moz-opacity: 0.30; 
}

.regHeader
{
	border-top: 1px solid #b5cbe4;
	border-bottom: 1px solid #b5cbe4;
	background:#f3f1ee;
}

#prefBorder
{
	border: 0px solid #b5cbe4;
}	

	#prefBorder .prefHeader, .regHeader
	{
		background: #4b6f98;
		border-bottom: 1px solid #4b6f98;
		color: #FFFFFF;
	}
	
	#prefBorder .prefHeader h2, .regHeader h2
	{
		color: #FFFFFF;
	}
	
	.prefHeader a:link, .prefHeader a:visited, .prefHeader a:active, .prefHeader a:hover
	{
		color: #FFFFFF;
	}

	#prefBorder .prefSub
	{
		background: #e4f0f9;
	}	

	#prefTab .prefTabItem
	{
		border-left: 1px solid #b5cbe4;
		border-right: 1px solid #b5cbe4;
		border-top: 1px solid #b5cbe4;
		background: #f3f7fa;
	}
	
		#prefTab .prefTabItemActive
	{
		border-left: 1px solid #b5cbe4;
		border-right: 1px solid #b5cbe4;
		border-top: 1px solid #b5cbe4;
	}
	
	#prefTab
	{
		border-bottom: 1px solid #b5cbe4;
	}

/* Look Up Profile items */
#lookUpLeft
	{
		border: 0px solid #b5cbe4;
		background-color: #f3f7fa;

	}
	
	#lookUpLeft .lookUpLeftTitle
		{
			background: #4b6f98;
			border-bottom: 1px solid #4b6f98;
			color: #ffffff;
		}

	#lookUpLeft .lookUpLeftBtm
		{
			background: #f3f7fa;
			border-top: 1px solid #b5cbe4;
			color: #333333;
		}	
	
#lookUpRight
	{
		border: 0px solid #b5cbe4;
		background-color: #f3f7fa;
	}
		#lookUpRight .lookUpRightTitle
		{
			background: #4b6f98;
			border-bottom: 1px solid #4b6f98;
			color: #ffffff;
		}
		
#lookUpRight .lookUpRightBtm
		{
			background: #f3f7fa;
			border-top: 1px solid #b5cbe4;
			color: #333333;
		}
		
#helpSearch
	{
    border: 0px solid #D0CFC4;
    background: #f3f7fa;
	}

	* html #helpSearch
		{
		border: 0px solid #D0CFC4;
		background: #f3f7fa;
        }


.mediumRow
	{
		background: #f3f7fa;
		color: #333333;
	}

#contHeader
	{
		background: #f3f7fa;
		border: 1px solid #b5cbe4;
	}
	
#contBorder
	{
		border: 1px solid #b5cbe4;
	}

a.buttonALink:link, a.buttonALink:visited, a.buttonALink:active, a.buttonALink:hover
{
	color: #ffffff;
    background: #4b6f98;
    border: 1px solid #333333;
}

.happyEndingsHeader
{
background-color: #f3f7fa;
}

/*mini profile cells*/

.mp1
{
  background-color:#f3f7fa;
  border-top:1px solid #b5cbe4;
  border-right:1px solid #b5cbe4;
  border-left:1px solid #b5cbe4;
}

.mp2
{
  background-image:url(../img/Site/AmericanSingles-com/tile_mp.gif);
  border-top:1px solid #b5cbe4;
  border-right:1px solid #b5cbe4;
}

.mp3
{
  background-color:#ffffff;
  border-top:1px solid #b5cbe4;
}

.mp4
{
  background-color:#f3f7fa;
  border-top:1px solid #b5cbe4;
  border-right:1px solid #b5cbe4;
  border-left:1px solid #b5cbe4;
}

.mp5
{
  background-image:url(../img/Site/AmericanSingles-com/tile_mp.gif);
  border-top:1px solid #b5cbe4;
  border-left:1px solid #b5cbe4;
  border-bottom:1px solid #b5cbe4;
}

.mp6
{
  background-image:url(../img/Site/AmericanSingles-com/tile_mp.gif);
  border:1px solid #b5cbe4;
  text-align: right;
}

/*gallery cells*/

.gp1
{
  background:#ffffff;
}	

.gpYNM
{
	background-image:url(../img/Site/AmericanSingles-com/tile_mp.gif);
	background-color:#b5cbe4;
	display:block;
	padding:3px;
	border-top: 1px solid #b5cbe4;
	border-bottom: 1px solid #b5cbe4;
	margin-top:1px;		
}

.gp2
{
  background:#ffffff;
}

.gp2 .noPhoto
{
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.gp3
{
  background:#ffffff;
}

.gp4
{
  background-color:#FFFFFF;
  background-image:url(../img/Site/AmericanSingles-com/tile_mp.gif);
  background-position: bottom;
  background-repeat: repeat-x;
}

.gpBottom
{
  border-top: 1px solid #b5cbe4;
}

.gpInfo
{
  padding:3px;
}

#tipAppReg
	{
	border: 0px solid #b5cbe4;
	background: #f3f7fa;
	}

/* popup profile */
a.ppLink:link, a.ppLink:active, a.ppLink:visited
{
	color: #ffffff;
}

a.ppLink:hover
{
	color: #ffffff;
}

/* dynamic list elements */
.ListMenu
{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
}

.ListElementItem
{
	border-top: 1px dotted #b5cbe4;
}

.ListElementItem :hover
{
	background: #ffffff;
}

/* IM ALERT */

#IMAlert
{
	background-color: #FFFFFF;
}

.IMAlert
{
	background-color: #FFFFFF;
}

.IMAlertHeader
{
	background: #D9E4DB;
}

.subscribeRight
{
	background-color: #f3f7fa;
}

.subscribeLeft
{
	background-color: #4b6f98;
}

.subscribeLeft h2
{
	color: #ffffff;
}

/* noMatches box */

#noMatches
{
	border: 0px solid #b5cbe4;
	background-color: white;
}

#noMatchesBorder
{
	border: 1px solid #b5cbe4;
	background: #f3f7fa;
}

.mailPhotoAddressStyle
{
	background-color: #f3f7fa;
	border: 1px solid #b5cbe4;
}

a.closeBox:link, a.closeBox:active, a.closeBox:visited
{
	background-image: url(../img/Site/americansingles-com/icon_x.gif);
}

a.closeBox:hover 
{
	background-image: url(../img/Site/americansingles-com/icon_x_up.gif);
}
/* end no matches box */

/* generic shadow box */

#shadowBoxContent
{
	background: white;
}

#shadowBoxContainer
{
	background: #CFCFCF;
}


.pageMessage
	{
	width: 585px;
	margin-left:auto;
	margin-right:5px;
	font-weight:bold;
	padding:5px;
	font-family: Verdana;
	font-size: 11px;
	border:1px solid #1E4611;
	background:#F0F6EE;
	color:#1E4611;
	}

.navTop
{
	padding-bottom:4px;
	padding-top:0px;
}

a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	background-image: url(../img/Site/americansingles-com/tile_addUsToFavorites.gif);
	border: 1px solid #b5cbe4;
	color: #1c3356;
}

a:hover.homePageAddTo
{
	background-image: url(../img/Site/americansingles-com/tile_addUsToFavorites.gif);
	border: 1px solid #b5cbe4;
	color: #1c3356;
}

.alertTable
{
	background:white;
}

.bullet1 
{
	color: #738B77;
}

.bullet2 
{
	color: #BABAB3;
}

.fiveDayFreeTrial
{
	background-image:url(../img/Site/AmericanSingles-com/Promo/fdft_bg.jpg);
}
.chatHeader 
{
	background-image:url(../img/Community/AmericanSingles/cht_bg.gif);
	width:100%;	
}

.subconfirm1
{
	background:#DFDFDF; 
}

.subconfirm2
{
	background:#E5E5E5;
}

.subconfirm3
{
	background:#EEEEEE;
}

.subconfirm4
{
	background:#F6F6F6;
}

.fdftPhotoUpload
{
	background:#EEEEEE;
	border:1px solid #dfdfdf;
}

.fdftSubscribeTop
{
	background-image:url(../img/Site/AmericanSingles-com/Promo/fdft_subscribe_top.gif);
	height:40px;
	width:590px;
	background-repeat:no-repeat;
}

.fdftSubscribeTopText
{
	margin:50px 10px 0 10px;
	width:590px;
}

.subPagePlanPrice
{
	font-size: 18px;
	font-weight: bold;
}

/* astrology */

#astrologyContainer 
{
	background-image: url(../img/Community/AmericanSingles/bkg_astrology.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

.astrologyMemberId
{
	font-size: 16px;
	font-weight: bold;
}

#astrologyBody h2
{
	font-size: 14px;
	color: #1c3356;
	font-weight: bold;
}

#astrologyBody h3
{
	font-size: 11px;
	color: #1c3356;
	font-weight: bold;
}

#astrologyBody p
{
	font-size: 11px;
}

.astrologyPlanetText
{
	color: gray;
	font-weight: bold;
}

/* activity center styles */

.activityCenterContainer
{
	background-image: url(../img/Community/AmericanSingles/activityCenter_containerBottomCap.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #f3f1ee;
}

.activityCenterMessagesMiddle
{
	background-image: url(../img/Community/AmericanSingles/activityCenter_middle.gif);
	background-repeat: repeat-y;
}

/* David DeAngelo styles */

.DDheadline {
	color: #1c3356;
}

.DDsubhead
{
	color: #000000;
}

.DDlink
{
	color: #000000;
}

.DDbody_bold_red
{
	color: #1c3356;
}

.mailBoxBorder
{
	border:1px solid #dddddd;
}

/* Inbox Styles */


/* IMail Permissions */
.subscribetoview
{
	background: #f8faff;
}

.ViewProfileAlternateRow
{
	background: #f3f7fa;
}

/* begin AdUnit Related styles */
.fullBannerBox 
{
	text-align: center;
	padding: 0px; 
	border: 0px solid #b5cbe4; 
	margin: 10px 0px 10px 0px;
}
/* end AdUnit Related styles */


/* new styles made for Subscription page -- june 06 / ryoung */


.fullPageViewBorder {
	border:1px solid #b5cbe4;
}

.fullPageViewHeader {
	background-image:url(../img/Site/AmericanSingles-com/bg_fullPageViewHeader.gif);
}

.fullPageViewHeader h1 {
	color:#333;
	font-size:14px;
}

.subTop {
	background-image:url(../img/Site/AmericanSingles-com/sub_top_bg.jpg);
	background-repeat:no-repeat;
}

.subTopCarrot {
	background-image:url(../img/Site/AmericanSingles-com/sub_top_bg_carrot.jpg);
	background-repeat:no-repeat;
}

.subBtn1
{
	background:#A6B297;
	border:1px solid #fff;
	color:white;
}

	.subBtnInfo1 h1
	{
		font-size:15px;
		color:#fff;
	}

	.subBtnInfo1 h2
	{
		font-size:13px;
		color:#fff;
	}

	.subBtn1 a
	{
		background:#A6B297;
		border:1px solid white;
		cursor: default;
		color:white;
		text-decoration:none;
	}

	.subBtn1 a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected1.jpg);
		border:1px solid #909C82;
		color:white;
		text-decoration:none;
	}

	.subBtn1hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected1.jpg);
		border:1px solid #909C82;
		color:white;
		text-decoration:none;
	}
	
	.subBtn1hover a:link, .subBtn1hover a:active, .subBtn1hover a:visited, .subBtn1hover a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected1.jpg);
		border:1px solid white;
		cursor: default;
		color:white;
		text-decoration:none;
	}

.subBtn2
{
	background:#A6B297;
	border:1px solid #fff;
}

	.subBtnInfo2
	{
		color:#676D5E;
	}

	.subBtnInfo2 h1
	{
		color:#676D5E;
	}

	.subBtnInfo2 h2
	{
		font-size:13px;
		color:#676D5E;
	}

	.subBtn2 a
	{
		background:#C2C9BA;
		border:1px solid white;
		color:white;
		text-decoration:none;
	}

	.subBtn2 a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected2.jpg);
		border:1px solid #A9B1A2;
		color:white;
		text-decoration:none;
	}

	.subBtn2hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected2.jpg);
		border:1px solid #A9B1A2;
		color:white;
		text-decoration:none;
	}
	
	.subBtn2hover a:link, .subBtn2hover a:active, .subBtn2hover a:visited, .subBtn2hover a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected2.jpg);
		border:1px solid white;
		color:white;
		text-decoration:none;
	}

.subBtn3
{
	background:#A6B297;
	border:1px solid #fff;
}
	.subBtnInfo1
	{
		color:#FFFFFF;
	}

	.subBtnInfo3
	{
		color:#676D5E;
	}

	.subBtnInfo3 h1
	{
		font-size:15px;
		color:#676D5E;
	}

	.subBtnInfo3 h2
	{
		font-size:13px;
		color:#676D5E;
	}

	.subBtn3 a
	{
		background:#E3E4E0;
		border:1px solid white;
		color:white;
		text-decoration:none;
	}

	.subBtn3 a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected3.jpg);
		border:1px solid #C6C9C3;
		color:white;
		text-decoration:none;
	}
	
	.subBtn3hover 
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected3.jpg);
		border:1px solid #C6C9C3;
		color:white;
		text-decoration:none;
	}
	
	.subBtn3hover a:link, .subBtn3hover a:active, .subBtn3hover a:visited, .subBtn3hover a:hover
	{
		background-image:url(../img/Site/AmericanSingles-com/btn_sub_selected3.jpg);
		border:1px solid white;
		color:white;
		text-decoration:none;
	}

.subRenewalCopy
{
	font-size:10px;
	color:#9c9c9c;
	margin:0px 10px 10px 10px;
}

.subLeft
{
	border-right:1px solid #D5D4D4;
}

.helpLayer2
{
	background:#BEBEBE;
}

.helpLayer3
{
	border: 1px solid #B4B2B2;
	background:#f7f7f7;
}

.telecheckBG
{
	background-image:url(../img/Site/AmericanSingles-com/telecheck_sample_new_ynm4.gif);
}

.subTopPop 
{
	background-image:url(../img/Site/AmericanSingles-com/sub_top_bg_pop.jpg);
}

.subLeftPop
{
	border-right:1px solid #D5D4D4;
}

.regularPageViewBorder
{
	border:1px solid #b5cbe4;
}

.regularPageViewHeader
{
	background-image:url(../img/Site/AmericanSingles-com/bg_fullPageViewHeader.gif);
}

.regularPageViewHeader h1
{
	color:#333;
}
/* begin 5 month free trial */

.sub5MonthsFreeContainer
{
	background-image: url(../img/Site/AmericanSingles-com/Promo/sub_5MonthsFree_containerBkg.jpg);
}

.sub5MonthsFreeText
{
	color: #616161;
}

/* begin 72hft related styles */

.Sub72UploadAPhotoContainer
{
	background-image: url(../img/Site/AmericanSingles-com/tile_72hft_uploadAPhoto.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #b5cbe4;
}

.Sub72UploadAPhotoContent
{
	color: #7a7a7a;
}

.seventyTwoHFTPopup_container
{
	background-image: url(../img/Site/AmericanSingles-com/72hft_popup_right.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.Sub72HeaderContainer
{
	background-image: url(../img/Site/AmericanSingles-com/sub_top_72hft.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}

.Sub72HeaderContainerPop
{
	background-image: url(../img/Site/AmericanSingles-com/sub_top_72hft_pop.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

/* end 72hft related styles */

/* begin reg styles */
#regRight 
{
	background-image:url(../img/Site/AmericanSingles-com/reg_rightColumn.jpg);	
}

#regBgMain
{
	border-right:2px solid #D1D2CD;
    border-left:2px solid #D1D2CD;
}

.checkUsername
{
	border: 1px solid #b5cbe4;
    background: #f3f7fa;
}

/* new styles for message page */

.prefMSDivider
{
	border-bottom: 1px solid #b5cbe4;
}

/* message settings page show div background used by JS function changeClassStyle */

.msColorShaded {
	background-color: #f3f7fa;
}

.msColorWhite {
	background-color: #FFFFFF;
}

.messageSettingsDividerBorder
{
	border-left: 1px solid #b5cbe4;
}

/* begin error page styles */
/* for error page background image rotation - currently only one image for AS */
.errorPageBackground01
{
	background-image: url(../img/Site/AmericanSingles-com/unexpected_error.jpg);
	background-repeat: no-repeat;
}

.errorPageBackground02
{
	background-image: url(../img/Site/AmericanSingles-com/unexpected_error.jpg);
	background-repeat: no-repeat;
}

/* Search results page sort tabs */
#sortTabs
{
	border: 1px solid #DDDCD3;
	background-image: url(../img/Site/AmericanSingles-com/tile_sort.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}

.sortTabResultsViewSelected
{
	border: 1px solid #DDDCD3;
	border-bottom: 0px solid white;
	background-color: white;
	color: #333333;
}

/* Search pref 04/10/07 */

.prefBorder
{
	border-bottom: 0px solid #B5CBE4;
}

.prefBorder h2
{
	background: #4b6f98;
	border-top: 0px solid #B5CBE4;
	color: White;
}
	
.prefBorder h3
{
	background-color: #f3f7fa;
	border-top: 1px solid #B5CBE4;
}

.preferencesContainer {
	background-color: White;
}

.prefSearchPRInfoContDynamic
{
	background-image: url(../img/Community/AmericanSingles/icon_searchPref_off.gif);
}

.prefSearchTogglePrefClosed
{
	background-color: #f3f7fa;
	color: #1c3356;
	background-image: url(../img/Community/AmericanSingles/icon_searchPref_off.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.prefSearchTogglePrefOpen
{
	background-color: #f3f7fa;
	color: #1c3356;
	background-image: url(../img/Community/AmericanSingles/icon_searchPref_on.gif);
	background-position: left middle;
	background-repeat: no-repeat;
}

.prefSearchSelectedItems
{
	background-color: #f3f7fa;
	border:0px solid grey;
}
	
.prefSearchToggleContainer
{
	background-color: #f3f7fa;
	border-bottom: 8px solid #f3f7fa;
}

.prefSearchDivider
{
	background-color:#F3F1EE;
}

.prefSearchPrefHeader
{
	border-top: 1px solid #B5CBE4;
}

/* search pref region picker styles */
.prefRegionPickerContainer
{
	background-color:white;
	border:1px solid #1c3356;
}

.prefRegionPickerHeader
{
	background-color: #f3f7fa;
}

/* reg form background color onfocus/onblur */

.formOnFocus, .formOnFocusTextarea, .formSelectOnFocus
{
	border: 1px solid #64a8f4;
	background-color: #FFFFFF;
}

.formDefault, .formDefaultTextarea, .formSelectDefault, #regForm .formSelectDefaultPickRegion, #regForm .formDefaultPickRegion
{
	border: 1px solid #b5cbe4;
	background-color: #F3F7FA;
}

/* home page right column */
.homePageRightContainer
{
	background-image: url(../img/Site/AmericanSingles-com/bkg_homePageRight.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width: 140px;
}

.homePageRightModule
{
	border-top: 1px dotted #9c042a;
	border-top: 1px dotted #9c042a;
	margin-bottom: 8px;/* upate these values for vertical space filling */
	padding-top: 4px;/* upate these values for vertical space filling */
}

.homePageRightModuleLinks a:link, .homePageRightModuleLinks a:visited, .homePageRightModuleLinks a:active
{
	display: block;
	padding: 4px;
	background-color: transparent;
	margin: 0px;
	text-decoration: none;
}

.homePageRightModuleLinks a:hover
{
	display: block;
	padding: 4px;
	background-color: #e4f0f9;
	margin: 0px;
	text-decoration: underline;
}

.homePageRightModule p
{
	margin: 0 4px 0px 4px;
	padding: 0;
	line-height: 18px;
}

.homePageRightModule ul
{
	margin: 0 4px 0 4px;
	padding: 0;
	list-style: none;
}

.homePageRightModule li
{
	margin: 0 0 4px 0;
	padding: 0;
	list-style: none;
}

.homePageRightMore
{
	text-align: right;
}

.homePageRightHi2
{
	background-color: #e4f0f9;
	padding: 4px;
}
/* Site Map Styles */

.oddrow {
	background-color: #f3f7fa;
	}
#sitemap h2 {	
	border-bottom-color: #b5cbe4;
}

/* SEO Pages Styles */
#seo_breadcrumb {
	background-image: url(../img/Site/AmericanSingles-com/tile_breadcrumb.gif);
	color: #1c3356;
}
#seo_searchbox {
	background-color: #d1d6d3;
	color: #333333;
}
#seo_content #seo_stateFeaturedMembers {
	border-top: 1px dotted #9c042a;
	border-bottom: 1px dotted #9c042a;
	background-color: #f3f7fa;
}
#seo_content #seo_stateFeaturedMembers ul li img {
	border: 1px solid #f3f7fa;
}
#seo_content #seo_stateFeaturedMembers ul li a img:hover {
	border: 1px solid #4b6f98;
}
div.seo_listbox {
	background-color: #f3f7fa;
}
div.seo_listbox h3 {
	color: #333333;
	border-bottom: 1px solid #333333;
}
#seo_content ul#seo_cityFeaturedMembers li {
	border-top: 1px dotted #9c042a;
	border-bottom: 1px dotted #9c042a;
	background-color: #f3f7fa;
}
#seo_content ul#seo_cityFeaturedMembers li img {
	border: 1px solid #f3f7fa;
}
#seo_content ul#seo_cityFeaturedMembers li a img:hover {
	border: 1px solid #4b6f98;
}