/* CSS - Structural elements  -- ELEMENT DECLARATIONS */

a:link, a:active, a:visited 
	{
	text-decoration: none;
	}

a:hover
	{
	text-decoration: underline;
	}

a.help:link, a.help:active, a.help:visited
	{
	text-decoration: none;
	}

a.help:hover
	{
	text-decoration: underline;
	cursor: help;
	}

a.footerLink:link, a.footerLink:active, a.footerLink:visited
	{
	text-decoration: none;
	}

a.footerLink:hover 
	{
	text-decoration: underline;
	}

a.fontBox:link, a.fontBox:active, a.fontBox:visited
	{
	text-decoration: none;
	padding: 2px;
	}

a.fontBox:hover 
	{
	padding: 2px;
	}
	
a.fontBoxOn
	{
	padding:2px;
	}

BODY
	{
	font-family: verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
	color: #000000;
	background:url("../img/bknd.gif");
	voice-family: "\"}\""; voice-family:inherit;
	}

h1 
	{
		font-size: 16px;
		margin-bottom: 8px;
		margin-top: 6px;
	}

h2 
	{
		font-size: 14px;
		margin-bottom: 0px;
		line-height: 20px;
		margin-top: 0px;
	}

hr
	{
	height: 1px;
	padding: 0px;
	border: 0;
	}

input, select
	{
	font-family: verdana, sans-serif;
	font-size: 11px;
	}

table
	{
	font-size: 11px;
	line-height: 16px;
	}

form
	{
	display: inline;
	}
	
textarea
	{
		font-family:verdana, arial, sans-serif;
		font-size:11px;
	}

/* to keep superscript text from tweaking the line-spacing */
sup
{
	height: 0;
}

.bulletDark 
	{
	font-size: 24px;
	line-height: 14px;
	}

.bulletLight 
	{
	font-size: 24px;
	line-height: 14px;
	}

/* Mini Profile, Full Profile, Micro-mini Profile */
.activityBar
	{
	padding: 4px;
	}

.essayTitle
	{
	font-weight: bold;
	}

.galleryLink
	{
	font-size: 11px;
	padding-left: 10px;
	line-height: 20px;
	}

.miniProfileTitle
	{
	font-size: 12px;
	font-weight: bold;
	}

.profileTitle
	{
	font-size: 13px;
	font-weight: bold;
	}

.profileImageHover 
	{
	border:1px; 
	border-style: solid;
	cursor:hand;
	}

a:hover .profileImageHover, a:active .profileImageHover 
	{	
	border:1px; 
	border-style: solid;
	}

.profileImageHoverGallery 
	{
	border:1px; 
	border-style: solid;
	}

a:hover .profileImageHoverGallery, a:active .profileImageHoverGallery 
	{	
	border:1px; 
	border-style: solid;
	}

.noPhoto
	{
	width: 80px;
	height: 104px;
	font-size:10px;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-top: 1px;
	text-align: center;
	cursor: pointer;
	background-repeat: no-repeat;
	}
	* html .noPhoto
		{
		padding-top:30px;
		width: 80px;
		height: 104px;
		}

	a:hover .noPhoto, a:active .noPhoto
		{	
		border:1px; 
		border-style: solid;
		}
	
.editHotList
	{
	font-size:11px; 
	width:538px; 
	height: 21px;
	}
	
/* Miscellaneous and Common Class Definitions  */
.show
	{
	display: block;	
	}
	
.hide
	{
	display: none;
	}
	
.showSpan
	{
	display: inline;	
	}
	
.hideSpan
	{
	display: none;
	}

.error
	{  
	width:90%;
	margin: 4px;
	font-weight: bold;
	font-size: 11px;
	padding:4px;
	border:1px solid red;
	display: block;
	color:#F02E0C;
	background:#FFECE9;
	}
*html .error 
	{
	width:100%;
	}
	
.errornoleftnav
	{  
	width:750px;
	margin: 4px;
	font-weight: bold;
	font-size: 11px;
	padding:4px;
	border:1px solid red;
	display: block;
	color:#F02E0C;
	background:#FFECE9;
	}
*html .errornoleftnav 
	{
	width:750px;
	}

		
.fontSmall
	{
	font-size: 11px;
	}

.fontMedium
	{
	font-size: 12px;
	}

.fontLarge
	{
	font-size: 14px;
	}

.redButton
	{
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	}
	
.activityButton
	{
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	}

.whiteButton
	{
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	}
	
.secondaryButton
	{
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	}

/* DIV POSITIONING/STRUCTURAL ELEMENTS*/
.topNew
	{
	left: 0px;
	top: 0px;
	width: 770px;
	margin-bottom: 0px;
	height: 1%;
	}

#applicationNew
	{
	display: block;
	clear: both;
	position: relative;
	margin-left: 0px;
	margin-bottom: 20px;
	width: 770px;
	height: 1%;
	margin-top: 13px;
	}

#fullPageView {
	width:750px;
	margin:10px 0px 0px 20px;
}


.fullPageViewAS {
	width:750px;
	margin:10px 0px 0px 20px;
}

#leftNew
	{
	float: left;
	width: 170px;
	margin-top: 0px;
	margin-bottom: 10px;
	}

#rightNew
	{
	float:right;
	width: 600px;
	margin-top: 0px;
	margin-left:0px;
	margin-bottom: 10px;
	}
	
	*html #rightNew
	{
		height: 1%;/* tbankston: Issue #12091 - see http://positioniseverything.net/explorer/guillotine.html for details on the bug & fix */ 
	}
	
		.rightNewAlignOverride #rightNew
		{
			float: left;
		}
	
.rightNew
	{
	float:left;
	width: 600px;
	margin-top: 0px;
	margin-left:0px;
	margin-bottom: 10px;
	}
	
	*html .rightNew
	{
		height: 1%;/* tbankston: Issue #12091 - see http://positioniseverything.net/explorer/guillotine.html for details on the bug & fix */ 
	}

/* TT #12197 fontsizer removed
#rightNew .fontSizer
	{
	font-size: 10px;
	float: right;
	margin-right: 8px;
	text-align: right;
	margin-top: 6px;
	}
*/

#article
	{
	width: 592px;
	color: black;
	}

#footer
	{
	clear: left;
	width: 770px;
	text-align: center;
	font-size: 10px;
	}

#galleryContainer
	{
	padding: 4px;
	}

.logIn
	{
	width: 160px;
	font-size: 11px;
	margin-bottom: 12px;
	padding: 4px;
	margin-top: 0px;
	}

.logIn p
	{
	margin: 12px 0px 12px 0px;
	}

#loginBox
{
	width: 230px;
	margin-right: 10px;
}

	#loginBox .loginHeader
	{
		display: block;
		padding: 2px;
		font-weight: bold;
	}
	
	#loginBox .loginContent
	{
		padding: 6px;
		display: block;
	}
	
	#loginBox .loginFooter
	{
		display: block;
		padding: 2px;
	}

/* home page elements */
#homeMatches
	{
	width: 225 px;
	margin-top: 6px;
	}
	#homeMatches .homeMatchesTitle
		{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 4px;
		line-height: 24px;
		margin: 0px;
		}
		
		#homeMatches .homeMatchesText
		{
		display: block;
		padding: 0px;
		text-align:right;		
		}

#homePref , .homePref
	{
	width: 215px;
	margin-top: 6px;
	 
	}
	
	.homePrefAd
	{
	width:181px !important;
	width: 215px;
	padding: 4 16 4 17;
	margin-top: 6px;
	 
	}
	
	#homePref .homePrefTitle
		{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 4px;
		line-height: 24px;
		margin: 0px;
		}
	
	#homePref .homePrefText
		{
		display: block;
		text-indent: 0px;
		margin-left: 4px;
		padding: 2px;		
		}
	
	#homePref .homePrefSubTitle
		{
		display: block;
		text-indent: 0px;	
		margin-top: 2px;	
		}
	
#homeRight
	{	
	width: 142px;
	margin-left: 0px;
	margin-top: 6px;
	}	

	#homeRight .homeRightImage
		{
		display: block;
		padding: 2px;	
		}
		
	#homeRight .homeRightText
		{
		display: block;
		padding: 4px;	
		line-height: 15px;	
		}

	#homeRight .homeRightTitle
		{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 4px;
		line-height: 24px;
		}
	
	#homeRight .homeRightSubTitle
		{
		display: block;
		padding: 3px;	
		margin-top: 2px;
		}

#leftNav 
	{
	width: 160px;
	margin-left: 4px;
	margin-bottom: 8px;
	}	
	
	#leftNav .leftNavText
		{
		display: block;
		text-align: left;
		padding: 4px;		
		}
	
	#leftNav .leftNavTextDark
		{
		display: block;
		text-align: left;
		padding: 4px;		
		}
	
	#leftNav .leftNavTextLight
		{
		display: block;
		text-align: left;
		padding: 4px;		
		}
	
	#leftNav .leftNavTextSolid
	{
		display: block;
		text-align: left;
		padding: 4px;
	}
	
	#leftNav .leftNavTextMed
		{
		display: block;
		text-align: left;
		padding: 4px;		
		}
	
	#leftNav .leftNavTitle
		{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 4px;
		line-height: 24px;
		}
	
	#leftNav .leftNavSubtitle
		{
		display: block;
		text-align: left;
		padding: 4px;
		}
	
	#leftNav .thumbTrail
		{
		display: block;
		font-weight: bold;
		text-align: center;
		text-indent: 4px;
		}
	
	#leftNav .home
		{
		display: block;
		padding: 4px;
		}
		
.leftNavNewMessages 
{
	padding: 2px;
	display: block;
	margin-top: 4px;
	width: 155px;
}

	*html .leftNavNewMessages 
	{
		width: 160px;
	}
		
#leftNavSimple
	{
	width: 160px;
	margin-left: 4px;
	margin-bottom: 8px;
	}
	
#leftNavForm 
	{
	padding: 5px;
	}

#tipAppLeft
	{
	width: 152px;
	margin-top: 10px;
	margin-left: 4px;
	padding: 4px;
	}
	* html #tipAppLeft
		{
		width: 160px;
		}
		
.iconList 
{
	padding:4px;
	margin:10 0 0 0;  
	WIDTH: 152px; 
}
	*html .iconList
	{
		width:160;
	}
		
#tipAppReg
	{
	width: 570px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
/*	font-size:7px; EP commented out */
	padding: 4px;
	} 
	* html #tipAppReg
		{
		width: 570px;
		}

#mailBar
	{
	position: relative;
	width: 592px;
	height: 32px;
	margin-bottom: 5px;
	}

	#mailBar .moveForm
		{
		position: absolute;
		text-align: right;
		padding-top: 3px;
		right: 4px;
		}
		
		#mailbar .viewStyle
		{
		position: absolute;
		text-align: right;
		top: 6px;
		right: 4px;
		}

#nav
	{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 770px;
	z-index: 1000;
	}
		
	.navPrimary
		{
		font-weight: bold;
		}

.alignRTL 
{
	text-align: right;
}

.alignLTR
{
	text-align: left;
}

#reviseLinks
	{
	position: relative;
	width: 592px;
	height: 18px;
	margin-bottom: 5px;
	text-align: right;
	}
	
	#reviseLinks .reviseCriteria
		{
		position: absolute;
		top: 0px;
		left: 0px;
		}
	
	#reviseLinks .iconInfo
		{
		position: absolute;
		text-align: right;
		right: 0px;
		}

#sortOnlineNow
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 5px;
	padding: 2px;
	}

	* html #sortOnlineNow
		{
		position: relative;
		width: 592px;
		margin-bottom: 5px;
		padding: 2px;
		}

#sort
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 5px;
	padding: 6px;
	}

	* html #sort
		{
		position: relative;
		width: 592px;
		height: 32px;
		margin-bottom: 5px;
		padding: 6px;
		}
	
	#sort .sortForm
		{
		left: 4px;
		}
	
	#sort .viewStyle
		{
		position: absolute;
		text-align: right;
		top: 6px;
		right: 4px;
		}

#accountInformation
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 5px;
	padding: 6px;
	}

	* html #accountInformation
		{
		position: relative;
		width: 592px;
		height: 32px;
		margin-bottom: 5px;
		padding: 6px;
		}

.subNavTop
	{
	display: block;
	clear: both;
	left: 0px;
	width: 770px;
	height: 24px;
	margin-bottom: 10px;
	text-indent: 4px;
	line-height: 24px;
	}
	
.subNavBottom
	{
	display: block;
	clear: both;
	left: 0px;
	width: 770px;
	height: 24px;
	margin-bottom: 10px;
	text-indent: 4px;
	line-height: 24px;
	}
	
a.breadCrumbPagesLink:link, a.breadCrumbPagesLink:active, a.breadCrumbPagesLink:visited
	{
	text-decoration:none;
	}

a.breadCrumbPagesLink:hover
	{
	text-decoration:underline;
	}
		
.breadCrumbUpperRight
	{
	float:right;
	display:inline;
	margin-top:-25px;
	margin-right:5px;	
	}
	
.breadCrumbPagesLower
	{
	margin-left: 0px;
	}
	
.breadCrumbLowerRight
	{
	float:right;
	display:inline;
	margin-top:-25px;
	margin-right:5px;
  	text-align: right;
	}
	
#voteBar
	{
	position: relative;
	width: 96.5%;
	padding: 6px;
	}

	/* For IE on WIndows-Based Machines */
	* html #voteBar
		{
		position: relative;
		width: 592px;
		height: 32px;
		padding: 6px;
		}

	#votebar .continue
		{
		position: absolute;
		text-align: right;
		right: 4px;
		}

.voteBar 
	{
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 6px; 
	PADDING-BOTTOM: 6px; 
	WIDTH: 96.5%; 
	PADDING-TOP: 6px; 
	POSITION: relative; 
	background: #E3EEF9;
	}

#warning
	{
	width: 592px;
	text-align: left;
	font-size: 10px;
	line-height: 12px;
	}

/* TABLE AREA WITH BORDER USED IN PREFERENCES PAGE, ETC. */
#prefBorder
	{
	width: 592px;
	margin-top: 0px; 
	clear: right;
	}	

	#prefBorder .prefHeader
		{
		padding: 4px;
		display: block;
		}	
	
		*html #prefBorder .prefHeader
			{
			width: 592px;
			}
			
	#prefBorder .prefHeader h2
		{
		font-size: 14px;
		line-height: 15px;
		}	
	
	#prefBorder .prefCont
		{
		padding: 4px;
		}
			
	#prefBorder .prefSub
		{
		padding: 4px;
		width: 585px;
		display: block;
		}	
			*html #prefBorder .prefSub
			{
			width: 592px;
			}

#prefTab
	{
		padding-top: 6px;
		height: 19px;
		width: 100%;
	}
	
	#prefTab .prefTabItem
		{
			height: 25px;
			padding:5px;
			text-align: center;
			cursor: pointer;
		}
	
	#prefTab .prefTabItemActive
		{
			height: 25px;
			padding:5px;
			text-align: center;
			font-weight: bold;
		}
/* new styles for message settings page */
.prefContainer
{
	padding: 8px 0 8px 0;
}

.prefContainer p
{
	margin: 0px;
	line-height: 22px;
}

.prefContainer:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.prefContainer input
{
	margin: 0;
	padding: 0;
}

.prefSubContainer
{
	padding: 4px 8px 0 8px;
	_padding: 0px 8px 0 8px;
	display:block;
	_height:0;
	
}

.prefMSDivider
{
	margin: 32px 8px 4px 8px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom:4px;
}

.messageSettingsHelpParagraph
{
	padding: 0 24px 0 24px;
}

.messageSettingsHelpParagraphHide
{
	text-align: right;	
}

.messageSettingsOnsiteMessage
{
	padding-right:4px;
	padding-left:4px;
	float:left; 
	height:40px;
	_height: 56px;
}

.messageSettingsOnsiteAway
{
	padding-right:4px;
	padding-left:4px;
	float:left;
	height:40px;
	_height: 56px;
}

.messageSettingsDividerBorder
{
	margin-top:4px;
	margin-bottom:4px;
	float:left;
	height: 44px;
	width: 1px;
}

/* ARICLE PAGE POSITIONING ELEMENTS*/
.imgLeft {
	clear: left;
	float: left;
	margin-right: 4px;
}
.imgRight {
	clear: right;
	float: right;
	margin-left: 4px;
}
#articleCont {
	float: left;
	width: 424px;
	min-height:50em; 
	height:auto;
}

/* for Internet Explorer */
/*\*/
* html #articleCont {
	height: 600px;
}


#articleRight {
	float: right;
	width: 160px;
}

#lookUpLeft
	{
	float: left;
	width: 293px;
	margin-bottom: 6px;
	margin-right: 0px;
	display: block;
	}
	
	#lookUpLeft .lookUpLeftTitle
		{
		float: left;
		width: 284px;
		padding: 4px;
		font-size: 14px;
		font-weight: bold;
		}
			
			*html #lookUpLeft .lookUpLeftTitle
				{
				width: 292px;
				}

	#lookUpLeft .lookUpLeftBtm
		{
		float: left;
		width: 284px;
		padding: 4px;
		}
			
			*html #lookUpLeft .lookUpLeftBtm
				{
				width: 292px;
				}			

	#lookUpLeft .lookUpLeftText
		{
		float: left;
		display: block;
		width: 292px;
		line-height: 20px;
		padding: 8px;
		}
	
#lookUpRight
	{
	float: right;
	width: 293px;
	margin-left: 0px;
	margin-right: 6px;
	margin-bottom: 6px;
	display: inline;
	}
		
	#lookUpRight .lookUpRightTitle
		{
		float: left;
		width: 284px;
		padding: 4px;
		font-size: 14px;
		font-weight: bold;
		}
			
		*html #lookUpRight .lookUpRightTitle
			{
			width: 292px;
			}
		
	#lookUpRight .lookUpRightText
		{
		width: 290px;
		line-height: 20px;
		float: left;
		padding: 8px;
		}
		
	#lookUpRight .lookUpRightBtm
		{
		float: left;
		width: 284px;
		padding: 4px;
		}
			
		*html #lookUpRight .lookUpRightBtm
			{
			width: 292px;
			}	

.mediumRow
	{
	width: 592px;
	line-height: 22px;
	text-indent: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	}

#contHeader
	{
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	width: 412px;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: 0px;	
	}
	
#contBorder
	{
	border-top: 0px;
	width: 408px;
	padding: 6px;
	margin-bottom: 10px;
	}
		*html #contBorder
			{
			width: 412px;
			}
	
	#contBorder  .contIntro
		{
		padding: 6px;
		padding-top: 10px;
		display: block;
		}		

/* BEGIN DROP SHADOWS -- DO NOT EDIT */
.box 
	{  
	width: 592px; 
	}

#boxContent 
	{ 
	position: relative; 
	left: -2px; 
	top: -2px;
	}
	
.boxContent 
	{
	LEFT: -2px; 
	POSITION: relative; 
	TOP: -2px; 
	BACKGROUND: #D0CFC4;
	}

#boxContainer 
	{ 
	position: relative; 
	margin: 2px; 
	z-index: 1;
	}

.boxGallery 
	{  
	width: 190px; 
	}

#boxContentGallery 
	{ 
	position: relative; 
	left: -2px; 
	top: -2px;
	}

#boxContainerGallery 
	{ 
	position: relative; 
	display: block;
	margin: 2px; 
	}

/* BEGIN TRANSLUCENCE FOR MINI PROFILES -- DO NOT EDIT */

#transContainer
	{
	position: absolute;
	margin-top: 0px;
	z-index:100000;
	}
	
*html #transContainer
	{
	margin-top: -4px;
	}

#trans1
	{
	margin-top: -150px;
	}

#trans2
	{
	filter: progid:dximagetransform.microsoft.alpha(opacity=30); 
	width: 592px; 
	height: 148px; 
	-moz-opacity: 0.30; 
	z-index: 1000;
	position: relative;
	opacity: 0.30;
	}

*html #trans2
	{
	position: absolute;
	}

#trans3
	{
	margin-top: -190px;
	}
	
#helpSearch
	{
	position: relative;
	width: 96.5%;
	margin-bottom: 20px;
	padding: 6px;
	}

	* html #helpSearch
		{
        position: relative;
        width: 592px;
		height: 32px;
        margin-bottom: 20px;
        padding: 6px;
        }

/* SUBSCRIPTION PAGE */
#subscribeBottom 
	{
	clear: both;
	width: 592px;
	margin-top: 4px;
	float: none;
	margin-bottom: 4px;
	}
	
#subscribeLeft 
	{
	float: left;
	width: 242px;
	padding-right: 4px;
	}
	
#subscribeRight 
	{
	float: right;
	width: 342px;
	margin-right: 4px;
	}
#subscribeTop 
	{
	clear: both;
	width: 100%;
	}

/* CSS-PULLDOWN NAVIGATION ELEMENTS */

UL.nde-menu-system
	{
    padding-top: 0px;
	 padding-bottom: 0px;
	 padding-left: 0px;
	 padding-right: 0px;
    display: block;
    margin: 0px;
	 font-size: 11px;
	}

UL.nde-menu-system UL
	{
    padding-top: 0px;
	 padding-bottom: 0px;
	 padding-left: 0px;
	 padding-right: 0px;
    display: block;
    margin: 0px;
	}

UL.nde-menu-system LI
	{
    padding-top: 0px;
	 padding-bottom: 0px;
	 padding-left: 0px;
	 padding-right: 0px;
    display: inline;
    margin: 0px;
    list-style-type: none;
    POSITION: relative;
	}

UL.nde-menu-system LI UL
	{
    display: block;
    z-index: 1000;
    LEFT: 0px;
    visibility: hidden;
    line-height: 20px;
    POSITION: absolute;
    TOP: 1em;
	 voice-family: "\"}\""; voice-family:inherit;
	}

UL.nde-menu-system LI UL LI
	{
    padding-top: 0px;
	 padding-bottom: 0px;
	 padding-left: 0px;
	 padding-right: 0px;
    display: block;
    margin: 0px;
    voice-family: inherit;
	}

UL.nde-menu-system LI UL LI A
	{
    padding-top: 0px;
    display: block;
    padding-left: 4px;
    padding-bottom: 0px;
    margin: 0px;
    width: 135px;
    padding-right: 0px;
    voice-family: inherit;
	 border-top-width: 1px;
	 border-top-style: dotted;
	}

UL.nde-menu-system LI A
	{
    display: inline;
    margin: 0px;
    text-decoration: none;
	}

UL.nde-menu-system LI.submenu UL
	{
	 text-align: left;
	}

/* WEL code for checking profile checkboxes */
.showSelect
{
    display: inline;
}
    
.hideSelect
{
    display: none;
}

.hotlistShow
{
    background-color : #FFFFFF;
}

.hotlistHide
{
	background: #D9E4DB;
}

a.buttonALink:link, a.buttonALink:visited, a.buttonALink:hover, a.buttonALink:active 
{
	text-decoration: none; 
	padding-right: 10px; 
	padding-left: 10px; 
	font-weight: bold; 
	font-size: 10px; 
	padding-bottom: 3px; 
	cursor: pointer; 
	padding-top: 3px;
}

.NoResultDefault
{
	MARGIN-TOP: 0px; 
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 6px; 
	PADDING-BOTTOM: 6px; 
	WIDTH: 213px; 
	PADDING-TOP: 6px; 
	BORDER-TOP: #dddcd3 1px solid; 
}
	*html .NoResultDefault
	{
	width: 222px;
	}

.ViewProfileHeaderContent
{
	padding-left: 10px;
	vertical-align: top;
	padding-bottom: 10px;
}

.ViewProfileHeaderThumbnails
{
	height: 100%;
	vertical-align: bottom;
}

.ViewProfileHeaderImage
{
	margin: 5px;
	vertical-align: middle;
	text-align: center;
}

.ProfileNoPhoto
{
	width:246;
	height:10;
	text-align:center;
	padding-top: 50px;
}


/*IM ALERT*/
#IMAlert
{
	border: 1px solid black;
	display: block;
	width: 158px;
	padding: 1px;
	margin-bottom: 2px;
}

.IMAlert
{
	border: 1px solid black;
	display: block;
	width: 158px;
	padding: 1px;
	margin-bottom: 2px;
}

.AlertTable
{
	font-size: 10px;
	line-height: 12px;
}

.AlertHead
{
	width: 100%;
	padding: 2px;
	color: white;
	font-weight: bold;
}

.PageMessage
{
	width: 90%;
	font-weight:bold;
	font-family: Verdana;
	font-size: 14px;
	border:1px solid red;
	display: block;
}

.PageError
{
	width:90%;
	font-family: Verdana;
	font-size: 11px;
	color: Red;
	font-weight: bold;
	display: block;
}

.happyEndingsHeader
{
padding: 5px;
font-size: 150%;
font-weight: bold;
}
	
/* REGISTRATION SPECIFC */
.registrationRow
{
	height: 45px;
	background: #FFFFFF;
}

.twoColumnCheckList tr td
{
	width: 50%;
}

.threeColumnCheckList tr td
{
	width: 33%;
}

/*
	This class houses the elements that use Listmenu, for the add2list control.
*/
.listMenuContainer
{
	MARGIN-TOP: 1px; 
	DISPLAY: inline; 
	Z-INDEX: 200; 
	LEFT: 0px; 
	POSITION: relative; 
	TOP: 0px;
}

/* This style governs the position of the dropdown menu when you 
click to hotlist a member profile by clicking on an "Icon Only", "Horizontal" 
or "Vertical" hotlist link. Notice that there is no top value. The top value
is set programmatically and governs how far down the dropdown menu should appear 
after clicking. When "Vertical" orientation is chosen, the dropdown menu
needs to go further down as not to overlap the icon.
 */

.ListMenu
{
	position: absolute; 
	left: 22px;
	width: 150px;
	display: none; 
	padding: 0px;
	margin: 0px;
	z-index: 200;
}

.ListElementItem
{
	display:block;
	width:150px;
	text-align: left; 
	font-size: 9px;
	line-height:14px;
}

.ListElementPadding
{
	display:block;
	width:150px;
	padding:2px;
}

.ListElementItem :hover
{
	width:150px;
	display:block;
	text-decoration:none;
	line-height:14px;
}

.quickTip
{
	margin-top: 10px;
	margin-left: 0px;
	padding: 4px;
	width: 592px;
}

.resourceHint
{
	visibility: hidden;
	padding: 4px;
	position: absolute;
	white-space: nowrap;
	border-width: 1;
	border-style: solid;
	background: #FFFACD;
	font-family: Courier New;
	font-size: 11px;
	line-height:12px;
	color: #000000;
	z-index: 99;
}

.ppContainer
{
	float:left;
	width:600px;
	margin-left:2px;
}

.pp 
{
	left: 535px;
	top: 12px;
	position: absolute;
	z-index: 1;
}

.ppSubNavBottom 
{
	width:600px;
	display:block;
	height:25px;
	margin-bottom:10px;
}

a.ppLink:link, a.ppLink:active, a.ppLink:visited
	{
	text-decoration: none;
	}

a.ppLink:hover
	{
	text-decoration: underline;
	}
	
.RegDropDown
	{
		width:146px;
	}
.navTop
{
	padding-bottom:20px;
}
/* noMatches box */

#noMatches {
	margin: 0px;
	padding: 4px;
	width: auto;
	}
		
		*html #noMatches
			{
			width: 100%;
			}

#noMatchesBorder
	{
	padding: 4px;
	position: relative;
	margin-right: 4px;
	margin-bottom: 16px;
	width: auto;
	}
	
			*html #noMatchesBorder
			{
			width: 100%;
			margin-right: 8px;
			}
			
.noMatchesHeaderContainer
{
	display: block;
}

#noMatches h2 {
	margin-bottom: 4px;
	margin-top: 4px;
}

.noMatchesLeft {
	float: left;
	width: 290px;
	padding: 8px;
	clear: both;
}

.noMatchesRight {
	float: left;
	width: 230px;
	padding: 8px;
}

#noMatches li {
	margin-left: 16px;
	font-size: 11px;
	padding: 0px;
	font-weight: normal;
	list-style: square;
}

#noMatches ul {
	margin-left: 24px;
	padding-left: 0px;
}

#noMatches:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

#mailPhotoAddress {
	z-index: 1;
	left: 180px;
	position: relative;
	top: -190px;
	visibility: hidden;
}

.iconTips 
{
	float: left;
	margin-right: 4px;
}

#mailPhotoAddress p {
	margin: 4px 0 4px 0;
}

#mailPhotoAddress blockquote {
	margin: 8px;
}

.mailPhotoAddressStyle {
	padding: 4px;
	width: 200px;
}

a.closeBox:link, a.closeBox:active, a.closeBox:visited
{
	width: 14px;
	height: 14px;
	font-size: 10px;
}

a.closeBox:hover 
{
	width: 14px;
	height: 14px;
	font-size: 10px;
}

.floatRight {
	float: right;
}

/* generic shadow box */
.shadowBox
{
	float: left;
}

#shadowBoxContent
{
	border: none;
	position: relative;
	left: -4px;
	top: -4px;
}

#shadowBoxContainer
{
	position: relative;
	margin: 4px;
}
/* end generic shadow box */

.navTop
{
	text-align:right;
}

.navBottom
{
	padding-bottom:0px;
}
.emailicon {
	float: left;
}
.subscriptionFormDivider {
	border-left: #dddcd3 1px dotted;
	padding-right: 10px;
	padding-left: 10px;
}


.gpYNM
{
	display:block;
	height:25px;
	padding:3px;
	margin-top:1px;
}

.imBody 
{
	margin: 0px;
}

.imBodyPadding
{
	padding:40 30 0 30;
	font-weight:bold;
}

.imErrorText
{
	padding-left: 10px;
	padding-right: 10px;
}

.memberServicesMembershipMgt
{
	display:inline;	
}

/*
for css based versions extend the li
below the menu so that the mouse will
stay over the li and keep the hover active
*/

ul.nde-menu-system li.submenu:hover
{
  padding-bottom: 30em;
}

ul.nde-menu-system li.submenu:hover ul 
{
  left: 0;
  visibility: visible;
}

#applicationNew
{
	font-size: 11px;
}

	/* Hack for IE on WIndows-Based Machines */
	* html #applicationNew
		{
			font-size: 11px;
		}
		
/* Keep values the same as original so nav does not resize */
UL.nde-menu-system
{
   font-size: 11px;
}

.navSecondary
{
	font-size: 11px;
}

/* For Add to home and Add to Favorites in home left nav */
a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-decoration:none;
	display: block;
	width: 152px;
	font-size: 10px;
}

*HTML a:link.homePageAddTo, a:visited.homePageAddTo, a:active.homePageAddTo 
{
	width: 160px;
}

a:hover.homePageAddTo
{
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-decoration:underline;
	display: block;
	width: 152px;
	font-size: 10px;
}

*HTML a:hover.homePageAddTo
{
	width: 160px;
}

/* subscription page bullets */
.bullet1 
	{
	font-size: 24px;
	line-height: 14px;
	}

.bullet2 
	{
	font-size: 24px;
	line-height: 14px;
	}
	
#subscribeLeft 
	{
	float: left;
	width: 242px;
	padding-right: 4px;
	}
	
#subscribeRight 
	{
	float: right;
	margin-right: 4px;
	}
#subscribeTop 
	{
	clear: both;
	float:right;
	width: 600;
	}
	
.fdftPhotoUpload
	{
		margin-left:60px;
		padding:15px;
		width:400px;
	}
	
.fiveDayFreeTrial
	{
		width:592;
		height:463;	
	}
	
.galleryExitPopupHeaderImage
	{
		width:100%;	
		padding: 8px 8px 0 8px;
	}
.galleryExitPopupHeaderText
	{
		width:400px;	
		float: right;
		text-align: right;
		padding: 8px 16px 8px 8px;
	}
	
.KiCComment
	{
		margin:0 0 8 0;
	}

/* astrology */

#astrologyContainer 
{
	background-image: url(bkg_astrology.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#astrologyHead
{
	padding: 10px;
	height: 80px;
}

.astrologyHeadLeft
{
	float: left;
	margin-right: 8px;
}

.astrologyHeadRight
{
	float: right;
}

.astrologyHeadMiddle
{
	float: left;
	padding-top: 10px;
}

#astrologyBody
{
	height: 480px;
}

.astrologyFooter
{
	width: 594px;
	height: 100px;
	float: right;
	color: #999999;
}

#astrologyBody h2
{
	margin: 0;
}

#astrologyBody h3
{
	margin-top: 8px;
	margin-bottom: 4px;
}

#astrologyBody p
{
	text-align: left;
	margin: 4px;
}

#astrologyBodyLeft
{
	float: left;
	width: 300px;
	padding: 0px;
	height: 380px;
}

#astrologyBodyLeft .harmony
{
	float: left;
	width: 158px;
	padding: 0px;
	text-align: center;
}

#astrologyBodyLeft .challenge
{
	float: left;
	width: 139px;
	padding: 0px;
	text-align: center;
}

#astrologyBodyRight
{
	float: left;
	width: 284px;
	padding: 0px;
	height: 380px;
}

.astrologyPlanetBar
{
	margin-top: 8px;
	line-height: normal;
}

.astrologyPlanetBar object
{
	margin-top: 4px;
}

.astrologyProfileLink
{
	height:30px;
}

.astrologyProfileLinkRight
{
	float: right;
	padding-top: 10px;
}

.astrologyProfileLinkLeft
{
	float: left;
}

/* activity center */

.activityCenterContainer
{
	padding: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
	width: 152px;
}

.activityCenterContainerCap
{
	padding-left: 4px;
}

.activityCenterTopLinks
{
	margin-bottom: 8px;
	line-height: 20px;
}

.activityCenterMessages
{
	width: 152px;
}

.activityCenterMessagesMiddle
{
	width: 152px;
	padding: 2px 8px 2px 8px;
	margin: 0px;
}

.activityCenterMessagesMessage
{
	width: 136px;
}

.activityCenterMessagesMessage:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.activityCenterIcon
{
	float: left;
}

/* David DeAngelo styles */

.DDindent
{
	margin-left: 5%;
}

.DDheadline
{
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	line-height: 28px;
}

.DDsubhead
{
	font-weight: bold;
	font-size: 16px;
}

.DDlink
{
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.DDbody p 
{
	text-indent: 5%;
}

.DDbodybold
{
	font-weight: bold;
	font-size: 14px;
}

.DDbody_bold_red
{
	font-weight: bold;
	font-size: 14px;
}

.DDsmalltop
{
	font-style: italic;
	font-size: 14px;
}

.DDcopyright
{
	font-size: 10px;
}

.leftNavImageAlign
{
	float:left;
	margin:4 2 0 4;
}

/* Begin AdUnit related Styles */
.mediumPadding 
{
 margin:10px 0px 20px 20px;	
 clear:both;
}

.leftNavElement
{
	margin-top: 10px;
	overflow: hidden;
	width: 160px;
	position: static;
	text-align: center;
}

.wideSkyscraperBannerAd
{
	left: 780px;
	position: absolute;
	top: 150px;
}

.wideSkyscraperArticleBannerAd
{
	float:right;
	width:160px;
	display:inline;
	margin:0 0 20 4;
	padding: 0;
	position: absolute;
	top: 80px;
	right:4;
}

.footerLeaderBoard
{
	margin-top:40px;
}

.chatHeaderLeaderboardAd
{
	border:1px solid red;
	position: static;
	background-color: white;
}

/* End AdUnit related Styles */

.articleNavBox
{
	width: 424px;
}

/* new styles made for sub page june 06 ryoung */

.fullPageViewBorder {
	width:736px;
	margin-top:8px;
	margin-left:4px;
}

.fullPageViewHeader {
	height:38px;
}

.fullPageViewHeader h1 {
	font-size:14px;
	margin:0px 0px 0px 8px;
	padding-top:10px;
}

.subTop {
	width:744px;
	height:282px;
	background-repeat:no-repeat;
	position: relative;
}

.subTopCarrotProfile {
	float:right;
	margin-top:-100px;
	*margin-top:83px;
	margin-right:30px;
	*margin-right:16px;
	width:122px;
	text-align:center;
}

.subTopCarrot {
	width:744px;
	height:282px;
	position: relative;
}

.subBtn1
{
	height:65px;
	width:229px;
	margin:47px 0px 0px 12px;
	_margin-left:7px;
	float:left;
	clear:left;
}

	.subBtnInfo1
	{
		float:left;
		width:193px;
		margin:7px 8px 5px 0px;
		*margin:7px 0px 5px 0px;
	}

	.subBtnInfo1 h1
	{
		font-size:15px;
		margin:0px;
	}

	.subBtnInfo1 h2
	{
		font-size:13px;
		margin:0px;
	}

	.subBtn1 a
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
		text-decoration:none;
	}

	.subBtn1 a:hover
	{
		height:65px;
		width:229px;
		display:block;
		text-decoration:none;
	}
	
	.subBtn1hover 
	{
		height:65px;
		width:229px;
		margin:47px 0px 0px 12px;
		_margin-left:7px;
		float:left;
		clear:left;
		display:block;
		text-decoration:none;
	}
	
	.subBtn1hover a:link, .subBtn1hover a:active, .subBtn1hover a:visited, .subBtn1hover a:hover
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
		text-decoration:none;
	}
	
.subBtn2
{
	height:65px;
	width:229px;
	margin:8px 0px 0px 12px;
	_margin-left:7px; /*targets IE6 only */
	float:left;
	clear:left;
}

	.subBtnInfo2
	{
		float:left;
		width:193px;
		margin:7px 8px 5px 0px;
		*margin:7px 0px 5px 0px;
	}

	.subBtnInfo2 h1
	{
		font-size:15px;
		margin:0px;
	}

	.subBtnInfo2 h2
	{
		font-size:13px;
		margin:0px;
	}

	.subBtn2 a
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
		text-decoration:none;
	}

	.subBtn2 a:hover
	{
		height:65px;
		width:229px;
		display:block;
		text-decoration:none;
	}
	
	.subBtn2hover	
	{
		height:65px;
		width:229px;
		margin:8px 0px 0px 12px;
		_margin-left:7px; /*targets IE6 only */
		float:left;
		clear:left;
		display:block;
		text-decoration:none;
		}
		
	.subBtn2hover a:link, .subBtn2hover a:active, .subBtn2hover a:visited, .subBtn2hover a:hover
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
		text-decoration:none;
	}
	
.subBtn3
{
	height:65px;
	width:229px;
	margin:8px 0px 0px 12px;
	_margin-left:7px; /*targets IE6 only */
	float:left;
	clear:left;
}

	.subBtnInfo3
	{
		float:left;
		width:193px;
		margin:7px 8px 5px 0px;
		*margin:7px 0px 5px 0px;
	}

	.subBtnInfo3 h1
	{
		font-size:15px;
		margin:0px;
	}

	.subBtnInfo3 h2
	{
		font-size:13px;
		margin:0px;
	}
		
	.subBtn3 a
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
	}

	.subBtn3 a:hover
	{
		height:65px;
		width:229px;
		display:block;
	}

	.subBtn3hover
	{
		height:65px;
		width:229px;
		margin:8px 0px 0px 12px;
		_margin-left:7px; /*targets IE6 only */
		float:left;
		clear:left;
		display:block;
	}

	.subBtn3hover a:link, .subBtn3hover a:active, .subBtn3hover a:visited, .subBtn3hover a:hover
	{
		height:65px;
		width:229px;
		display:block;
		cursor: default;
	}

.subBtnRadio
{
	margin:8px 4px 20px 9px;
	*margin:5px 2px 5px 5px;
	float:left;
}

.subRenewalCopy
{
	font-size:10px;
	margin:0px 10px 10px 10px;
}

.subLeft
{
	width:355px;
	margin:10px;
	float:left;
	_margin:5px;
}

.subRight
{
	width:340px;
	margin:10px;
	*margin:0px;
	*margin-top:10px;
	_margin:5px;
	float:right;
}

.subProcessOrder
{
	clear:both;
	display:block;
	margin:10px;
}

.helpLayer
{
	width: 345px;
	position:absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.helpLayer2
{
	width:340px;
	position:absolute;
}

.helpLayer3
{
	width:320px;
	*width: 340px;
	top: -2px;
	left: -4px;
	*left: -2px;
	position: relative;
	padding:10px;
	text-align: left;
}

.helpLayerClose
{
	text-align:right;
	padding:0px;
	margin:0 0 4px 0;
}

.telecheckBG
{
	background-repeat:no-repeat;
	height:426px;
	width:580px;
}

.telecheckNumber
{
	padding: 30px 0 0 400px
}

.telecheckAccountNumber
{
	padding-left: 14px;
	*padding-left: 12px;
}

.telecheckAccountNumber div
{
	padding: 16px 0 0 18px;
	*padding: 16px 0 0 22px;
}

.subTopPop
{
	width:585px;
	height:283px;
	background-repeat:no-repeat;
	margin-top:8px;
	position: relative; /* added so .subFiveMonthG absolute positioning sees this as parent */
}

.regularPageViewBorder
{
	width:582px;
	margin-top:8px;
	margin-left:4px;
}

.regularPageViewHeader
{
	height:38px;
}

.regularPageViewHeader h1
{
	font-size:14px;
	margin:0px 0px 0px 8px;
	padding-top:10px;
}

.subLeftPop
{
	width:255px;
	margin:10px;
	float:left;
	_margin:5px; /*targets IE 6 only */
}

.subRightPop
{
	width:300px;
	margin:10px;
	*margin:0px; /*targets IE6 and 7 only */
	*margin-top:10px; /*targets IE6 and 7 only */
	_margin:5px; /*targets IE6 only */
}

/* begin 5 month free trial */

.sub5MonthsFreeContainer
{
	background-position: top right;
	background-repeat: no-repeat;
	width: 592px;
	height: 468px;
	position: relative;
}

.sub5MonthsFreeText
{
	position: absolute;
	top: 330px;
	left: 282px;
	width: 309px;
}

.sub5MonthsFreeCloseLink
{
	position: absolute;
	top: 10px;
	left: 542px;
}

.subFiveMonthPromiseLink
{
	position: absolute;
	width: auto;
	height: auto;
	left: 132px;
	top: 73px;
	padding: 2px;
	_padding: 0px;
	*padding: 0px;

}

#subFiveMonthPromiseBurst /* id for JS rollover to change bg*/
{
	width: 69px;
	height: 69px;
	background-image: url(../img/Site/AmericanSingles-com/sub_5monthPromiseBurst.gif);
	background-repeat: no-repeat;
	position: absolute;
	left: 196px;
	top: 15px;
}

/* begin 72hft related styles */

.Sub72UploadAPhotoContainer
{
	width: 592px;
}

.Sub72UploadAPhotoContent
{
	padding: 10px;
}

.Sub72UploadAPhotoContent p
{
	margin: 0 0 8px 0;
}

.seventyTwoHFTPopup_container
{
	width: 592px;
	height: 454px;
	float: left;
}

.seventyTwoHFTPopup_text
{
	width: 300px;
	float: right;
	padding-top: 240px;
}

.seventyTwoHFTPopup_couple
{
	float: left;
}

.seventyTwoHFTPopup_button
{
	margin-top: 66px;
	margin-left: 90px;
}

.seventyTwoHFTSubDisclaimer
{
	clear:both;
	display:block;
	margin:10px;
}

.Sub72HeaderContainer
{
	height:201px;
	width: 730px;
}

.Sub72HeaderContainerPop
{
	height:201px;
	width: 585px;
}

.Sub72HeaderText
{
	width: 500px;
	position: relative;
	top: 140px;
	left: 240px;
}

.Sub72HeaderTextPop
{
	width: 585px;
	position: relative;
	top: 140px;
	left: 10px;
}

#rightNew72HFTFullPage
	{
	float:right;
	width: 730px;
	margin-top: 0px;
	margin-left:0px;
	left: -28;
	position: relative;
	margin-bottom: 10px;
	}
	
	*html #rightNew72HFTFullPage
	{
		height: 1%;/* tbankston: http://positioniseverything.net/explorer/guillotine.html for details on the bug & fix */ 
		left: -16px;
	}

/* end 72hft related styles */

/* begin new Reg styles */

.regCell {
        text-align:right;
        font-weight:bold;
}

 

#regBgTop
{
        margin-left:-5px;
        *margin-left:0px;
}

 

#regBGMain
{
        margin-left:-5px;
        *margin-left:0px;
        *margin-top:-2px;
        height:100%;
        width:744px;
        *width:748px;
}

 

#regLeft
{
        float:left;
        margin:8px;
        *margin:5px;
}

 

#regRight
{
        width:236px;
        height:515px;
        background-repeat:no-repeat;
        float:right;
}

#regMOL
{
        margin-top:371px;
}

#regBgMainPop
{
	width:582px;
}

#regRightPop
{
	position: absolute;
	top: 142px;
	left: 210px;
}

#regMOLPop
{
	width: 210px;
}

.checkUsername
{
        width:350px;
        *width:340px;
        text-align:left;
        padding:10px;
}

.subFiveMonthG
{
	position: absolute;
	width: auto;
	height: auto;
	left: 140px;
	top: 72px;
	background-color: transparent;
	padding: 2px;
}

/* begin error page styles */
#errorPageContainerEnglish
{
	width: 550px;
	height: 440px;
	_height: 400px;
	top: 22px;
	left: 22px;
	position: relative;
	float: left;
}

#errorPageContainer:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.errorPageButton
{
	position: absolute;
	top: 340px;
	left: 20px;
}

.errorPageCSText
{
	position: absolute;
	top: 294px;
	left: 22px;
}

#errorPageContainerHebrew
{
	display: none;
}

/* begin styles added to fix line break bug in IE6+7 */
.profileAboutMe
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:324px;
	margin: 0 0 16px 0;
}

.profileAboutMeFull
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:582px;
}

.microProfileAboutMe
{
	*word-wrap: break-word;
	*overflow: hidden;
	*width:130px;
	margin: 0;
}

.mp4
	{
		*word-wrap: break-word;
		*overflow: hidden;
	}

	.homeProfileText
	{
		*word-wrap: break-word;
		*overflow: hidden;
		*width:108px;
		margin-bottom: 0px;
	}
	
/* end styles added to fix line break bug in IE6+7 */

/* Search results page sort tabs */

.sortTabResultsView
{
	padding: 4px 8px 4px 8px;
	font-weight: normal;
	float: left;
	display: block;
}

.sortTabResultsViewSelected
{
	padding: 4px 8px 10px 4px;
	font-weight: bold;
	float: left;
	display: block;
	position: relative;
	top: 1px;
}

.sortTabView
{
	padding: 4px 8px 4px 8px;
	font-weight: normal;
	float: left;
	display: block;
}

#sortTabs
{
	position: relative;
	width: 96.5%;
	*width: 592px;
	margin-bottom: 5px;
	padding: 0px;
	padding-top: 6px;
}

	#sortTabs:after {
    	content: "."; 
    	display: block; 
    	height: 0; 
    	clear: both; 
    	visibility: hidden;
	}

.sortTabsViewAs
{
	padding: 4px 8px 4px 8px;
	font-weight: normal;
	float: right;
	display: block;
}

.searchHdrCont
{
	position: relative;
	width: 96.5%;
	*width: 592px;
	margin-bottom: 5px;
	padding: 2px;
}

	.searchHdrCont:after {
    	content: "."; 
    	display: block; 
    	height: 0; 
    	clear: both; 
    	visibility: hidden;
	}

.searchHdrTitle
{
	float: left;
}

.searchHdrEditPref
{
	float: left;
	padding: 6px;
}

.searchHdrNavLinks
{
	float: right;
	padding-top: 6px;
}
/* search pref 4/10/07 */

.prefBorder
{
	width: 592px;
	margin-top: 0px;
	clear: right;
	position: relative;
}
	
.prefBorder h2
{
	padding: 4px;
	display: block;
	font-size: 14px;
	line-height: 15px;
}
	
.prefBorder h3
{
	font-size: 12px;
	margin: 0px;
	padding: 6px;
}

.prefBorder h4
{
	font-size: 11px;
	margin: 0px;
	padding: 6px;
	display: inline;
}

.prefSearchItems
{
	padding: 0 8px 0 8px;
	margin: 8px 0 8px 0;
}

.prefSearchPRInfoCont
{
	height: 16px;
	padding-top: 2px;
}

.prefSearchPRInfoContOne
{
	float: left;
	padding: 3px 0 0 0;
}

.prefSearchPRInfoContOne select
{
	margin-top: -2;
}

.prefSearchPRInfoContDynamic
{
	float: left;
	position:relative;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 4px 4px 0px 18px;
}

.preferencesContainer {
	clear: both;
	*height: 1%;
	padding: 6px;
	margin: 0px;
}

.preferencesContainer:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.preferencesContainer li
{
	float: left;
	width: 193px;
	padding-bottom: 6px;
	*padding-bottom: 0;
	margin: 0px;
	list-style: none;
}

.preferencesContainer input
{
	margin: 0;
	margin-right: 4px;
	*margin-right: 0px;
}

.preferencesContainerHeight
{
	width: 140px;
	text-align: right;
	margin: 0;
	padding: 0;
	display: block;	
}

.prefSearchTogglePrefClosed
{
	font-weight: bold;
	font-size: 11px;
	padding: 6px 6px 6px 20px;
	cursor: pointer;
	display: block;
	float: left;
	overflow:hidden;
	clear:left;
}

.prefSearchTogglePrefOpen
{
	font-weight: bold;
	font-size: 11px;
	padding: 6px 6px 6px 20px;
	cursor: pointer;
	display: block;
	float: left;
	overflow:hidden;
	clear:left;
}

.prefSearchSelectedItems
{
	font-weight: normal;
	font-size: 11px;
	padding: 6px;
	display:block;
	float: left;
	overflow:hidden;
	width:458px;
}
	
.prefSearchToggleContainer
{
	width: 592px;
}
	
.prefSearchToggleContainer:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.prefSearchToggleContainer .RegDropDown
{
	width: 100px;
}

.prefSearchDivider
{
	height:1px;
	overflow:hidden;
	margin:0 0 12px 0;
}

.prefSearchSelectedItems
{
	display: inline;
}

.prefSearchPrefHeader
{
	font-weight: bold;
	padding: 10px 6px 6px 6px;
}

/* search pref region picker styles */
.prefRegionPickerContainer
{
	width: 350px;
	position: relative;
}

.prefRegionPickerHeader
{
	padding: 2px 8px 8px 2px;
	margin-bottom: 6px;
}

.prefRegionPickerPopupClose
{
	position: absolute;
	right: 6px;
	top: 6px;	
}

.prefRegionPickerTabsContainer
{
	padding: 6px 8px 8px 8px;
	margin-top: 0px;
	margin-bottom: 6px;
}

.prefRegionPickerFormTitle
{
	width: 86px;
	text-align: right;
	float: left;
	position: relative;
	padding: 4px 0px 4px 4px;
}

.prefRegionPickerFormInput
{
	width: 220px;
	float: left;
	position: relative;
	padding: 4px;
}

.prefRegionPickerItems
{
	height:30px;
}

.prefRegionPickerCityLinks
{
	position:absolute;
	width:114px;
	top:2px;
	left: 144px;
}

/* reg form background color onfocus/onblur */

.formOnFocus
{
	padding: 4px;
	font-size: 16px;
	*height: 30px;
}

.formDefault, #regForm .formDefaultPickRegion
{
	padding: 4px;
	font-size: 16px;
	*height: 30px;
}

.formOnFocusTextarea
{
	padding: 4px;
	font-size: 11px;
}

.formDefaultTextarea
{
	padding: 4px;
	font-size: 11px;
}

.formSelectOnFocus
{
	padding: 4px;
	font-size: 14px;
	*height: 30px;
}

.formSelectDefault, #regForm .formSelectDefaultPickRegion
{
	padding: 4px;
	font-size: 14px;
	*height: 30px;
}

.registrationCellLabel, #regForm .registrationCellLabelPickRegion
{
	text-align: right;
	width: 300px;
}

#regForm td
{
	vertical-align: top;
}

#regForm .error
{
	margin-left: 0px;
}

/* Site Map Sytles */


#sitemap {
	margin-top: 8px;
	}
#sitemap dl {
	margin: 0;
	padding: 0 8px 0 0;
	}
#sitemap dt {
	display: block;
	width: 194px;
	height: 36px;
	padding: 4px 0 0 6px;
	margin: 0;
	float: left;
	clear: left;
	}
#sitemap dd {
	display: block;
	height: 36px;
	width: 392px;
	padding: 4px 0 0 0;
	margin: 0;
	float: left;
	}
#sitemap h2 {
	background-color: #ffffff;
	border-bottom: 1px solid;
	padding-top: 16px;
	padding-left: 6px;
	padding-bottom: 2px;
	width: 586px;
	clear: both;
	}
#sitemap .toplink 
{
	clear: both;
	text-align: right;
	margin: 8px 8px 8px 0;
}
#sitemap .toplink img
{
	border: none;
}

/*SEO Pages Styles */
#seo_container {
	width: 770px;
}
#seo_masthead img {
	border: none;
}
#seo_breadcrumb {
	padding: 7px 0 0 4px;
	margin: 0 0 1em 0;
	height: 17px;
	width: 766px;
}
#seo_searchbox {
	margin: 0 4px 8px 4px;
	background-repeat: no-repeat;
	padding: 16px;
}
#seo_searchbox dl {
	margin: 12px 0 0 0;
	padding: 0;
}
#seo_searchbox dl dt {
	margin: 0;
	padding: 0;
}
#seo_searchbox dl dd {
	margin: -1.5em 0 .5em 68px;
}
#seo_searchbox dl dd input {
	width: 60px;
}
#seo_searchbox #submit {
	display: block;
	margin-top: 8px;
}
#seo_registerbanner {
	margin: 0 0 8px 4px;
}
#seo_registerbanner img {
	border: none;
}
#seo_right {
	float: right;
	width: 550px;
	margin-bottom: 12px;
}
#seo_left {
	float: left;
	width: 200px;
}
#seo_content {
	margin: 0 12px 12px 6px;
}
#seo_content h3 {
	clear: both;
	padding-top: 1em;
	margin-bottom: 0;
	font-size: 11px;
}
#seo_content ul.states {
	margin: 0 0 1em 22px;
	padding: 0;
	list-style-type: none;
}
#seo_content ul.states li {
	display: block;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
}
#seo_content ul.cities {
	margin: 0 0 1em 22px;
	padding: 0;
	list-style-type: none;
}
#seo_content ul.cities li {
	display: block;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
}
#seo_content #seo_stateFeaturedMembers {
	margin: 16px 0 16px 0;
	padding: 12px 8px 12px 8px;
}
#seo_content #seo_stateFeaturedMembers h3 {
	margin: 0 0 8px 0;
	padding: 0;
}
#seo_content #seo_stateFeaturedMembers ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#seo_content #seo_stateFeaturedMembers ul li {
	display: block;
	width: 20%;
	float: left;
	text-align: center;
}
#seo_content #seo_stateFeaturedMembers ul li img {
	display: block;
	text-align: center;
	margin: 0 auto 4px auto;
}
#seo_content ul#seo_cityFeaturedMembers {
	margin: 0 0 16px 0;
	padding: 0;
	list-style-type: none;
}
#seo_content ul#seo_cityFeaturedMembers li {
	margin: 0 0 8px 0;
	padding: 12px 12px 12px 100px;
	height: 106px;
}
#seo_content ul#seo_cityFeaturedMembers li div.userpic {
	margin-left: -88px;
	position: absolute;
}
#seo_content ul#seo_cityFeaturedMembers li div.username {
	font-weight: bold;
}
#seo_content ul#seo_cityFeaturedMembers li div.aboutme {
	margin-top: 12px;
}
#seo_content ul#seo_cityFeaturedMembers li div.profilelink {
	font-weight: bold;
}
div.seo_listbox {
	margin: 0 4px 8px 4px;
	padding: 4px 2px 4px 2px;
}
div.seo_listbox h3 {
	font-size: 11px;
	margin: 0;
}
div.seo_listbox ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 9px;
}
div.seo_listbox ul.states li {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

p#bgCheck
{	
	font-family: "Arial Narrow", Impact, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}