﻿/*----------------------------------------------------------
 default css
----------------------------------------------------------*/
body {background-color: #fff;font-size: .75em;font-family: Verdana, Helvetica, Sans-Serif;margin: 0;padding: 0;color: #000;} 
a:link {color: #000080; text-decoration: underline;}
a:visited{color: #000080;}
a:hover {color: #1d60ff;text-decoration: none;}
a:active {color: #000;}
p, ul {margin-bottom: 20px;line-height: 1.6em;}

/* HEADINGS   
    ----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size: 1.5em;color: #000;font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 2em;padding-bottom: 0;margin-bottom: 0;}
h2 {padding: 0 0 0 0;margin-bottom: 0;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5, h6 {font-size: 1em;}

/* this rule styles <h2> tags that are the 
    first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0;}

/* PRIMARY LAYOUT ELEMENTS   
    ----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
    page width. Or, you can specify an exact pixel width. */
.page {width: 90%;margin-left: auto;margin-right: auto;}

#header {position: relative;margin-bottom: 0px;color: #000;padding: 0;}
#header h1 {font-weight: bold;padding: 5px 0;margin: 0;color: #000;border: none;font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;}
    
#main {padding: 30px 30px 15px 30px;background-color: #fff;margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */}

#footer {border-top: 25px #E87839 solid;color: #000;padding: 10px 0;text-align: left;line-height: normal;
    margin:20px 0 0 0;font-size: .9em; clear:both;}
#footerPf{border-top: 1px #E87839 solid;color: #000;padding: 10px 0;text-align: left;line-height: normal;
    margin: 0;font-size: .9em;}

/* TAB MENU   
    ----------------------------------------------------------*/
ul#menu {border-bottom: 2px #000 solid;padding: 0 0 0px;position: relative;margin: 0;text-align: left;}
ul#menu li {display: inline;list-style: none;}
ul#menu li#greeting {padding: 5px 10px;font-weight: bold;text-decoration: none;line-height: 2em;color: #fff;}
ul#menu li a {padding: 5px 20px;font-weight: bold;text-decoration: none;line-height: 2em;background-color: #E87839;color: #000;}
ul#menu li a:hover {background-color: #FFE0BF;text-decoration: none;}
ul#menu li a:active {background-color: #FFE0BF;text-decoration: none;}
ul#menu li a.selected {background-color: #F7BE81;color: #000; border:1px solid;}

/* FORM LAYOUT ELEMENTS   
    ----------------------------------------------------------*/
form{clear:both}

fieldset {margin: 1em 0;padding: 1em;border: 1px solid #CCC;}
fieldset p {margin: 2px 12px 10px 10px;}
fieldset label {display: block;}
fieldset label.inline {display: inline;}
legend {font-size: 1.1em;font-weight: 600;padding: 2px 4px 8px 4px;}

input[type="text"] {width: 200px;border: 1px solid #ccc;}
input[type="password"] {width: 200px;border: 1px solid #ccc;}
input#amount, input#confirmAmount {width: 110px;}
input#confirmAmount {margin-right: 88px;}
select {width: 200px;border: 1px solid #ccc;}
select#monthList {width: 90px;}
select#yearList {width: 98px;}
select#currencyList {width: 80px;}
label {font-weight:bold;}
.focusField {background-color:Yellow;}
/* TABLE
    ----------------------------------------------------------*/

table {border: solid 1px #7F7F7F;border-collapse: collapse;}
table td {padding: 5px;border: solid 1px #AFAFAF;}
table th {padding: 6px 5px;text-align: left;background-color: #e8eef4;border: solid 1px #e8eef4; vertical-align:bottom}

/* MISC  
    ----------------------------------------------------------*/
.clear {clear: both;}
.error {color: Red;}
.hide {display:none; visibility:hidden;}
.show {display:block; visibility:visible;}

div#title {display: block;float: left;text-align: left; margin:30px 20px 0 0;}
#logodisplay {text-align: right;display: block; margin-top:20px;}
#logindisplay {font-size: 1.1em;display: block;text-align: right;margin: 10px;color: White;}
#logindisplay a:link {color: white;text-decoration: underline;}
#logindisplay a:visited {color: white;text-decoration: underline;}
#logindisplay a:hover {color: white;text-decoration: none;}

.field-validation-error {color: #ff0000;}
.input-validation-error {border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors {font-weight: bold;color: #ff0000;}

label.error {float: none;color: red;padding-left: .5em;vertical-align: top;}
.reminder{font-size: 1.3em;}
input[type="submit"],
input[type="button"]{
	border:1px solid #e87839;
	color:#000;
	background:#fff;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
		padding:3px;
}

input[type="submit"]:hover,
input[type="button"]:hover{
	cursor:pointer;
	color:#e87839;
}

#deleteFileList{
	width:500px;
}
#deleteFileList dt, 
#deleteFileList dd{
	width:250px;
	float:left;
	padding: 0 0 5px 0;
}


.userDefinedFieldInput
{
	float:left;
	clear:left;
	margin:5px 0;
}
.deleteUserDefinedField
{
	background:url("css/themes/base/images/ui-icons_2e83ff_256x240.png") no-repeat scroll -18px -194px;
	float:left;
	display:block;
	height:12px;
	width:12px;
	margin:9px 0 0 5px;
}

#addField{
	display:block;
	margin-bottom:10px;
}
#addField:hover{
	cursor:pointer;
}

#userDefinedFieldsContainer{
	overflow:auto;
	margin-bottom:5px;
}
.addUserDefinedField
{
	background:url("css/themes/base/images/ui-icons_2e83ff_256x240.png") no-repeat scroll -2px -194px;
	float:left;
	display:block;
	height:12px;
	width:12px;
	margin:1px 5px 5px 0;
	text-decoration:none;
}


#definitionContainer .ui-wrapper {float:left;}
#definitionContainer .error {display:block;}

#files-list {float:left; margin-left:20px;}

#user-defined {clear:both;}


#siteList{
	width: 450px;
	clear:both;
	overflow:auto;
}

#siteList li
{
	float:left;
	width:140px;
	padding:5px;
}

.input-edits {float:left;margin-right:10px;}
.adjust-form {border:3px solid;}
.ladingPageEditButtons form {clear:none;}
.templateEditButtons form {clear:none;}

.lpheaders td, .lpheaders {font-weight:bold;}
tr.lpheaders {background-color:#DFDFDF;}

#userDefinedFields td {vertical-align:middle;}

.button a
{
    color:#000000;
	background:#ffffff;
	border:1px solid #E87839;
	font-size:12px;	
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	text-align:center;
	padding:5px 8px;
	margin: 0 5px 5px 0;
	cursor:pointer;
	text-decoration:none;	
}

.button a:hover{color:#e87839;}
.button {margin: 10px 0 10px 0;}
.previewBtn {margin-top:5px;}
#ie7only .previewBtn {position:relative;top:4px;}
#ie7only input[type="submit"], #ie7only input[type="button"] {padding:2px;}
#ie8only input[type="submit"], #ie8only input[type="button"] {padding:4px;}

.detailsFloat {float:left;}
#preview{position:absolute;border:1px solid #ccc;padding:5px;display:none;color:#fff;}

.fileList {clear:both;overflow:auto;width:804px;}
.fileList li {float:left;padding:5px; width:200px;}

.lpCount {color:#ff0000;}