﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<AdminTool.Models.ModelViews.TrainingTool.TTMemberLeft>" %>

<div id="management-sidebar" align="center">
    <img src="<%=Model.PhotoThumbUrl%>" alt="Member photo">
    <input type="button" class="button" value="BUTTON"/>
</div>