﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Settings Lists</h3>
    </div>

    <div class="col-md-12">
        @Html.ActionLink("External Mail Templates Settings", "Index", "ExternalMailTemplatesSettings")
    </div>
</div>