<%@ Page language="c#" Codebehind="NoPhoto.aspx.cs" AutoEventWireup="false" Inherits="Spark.NoPhoto.NoPhoto" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
<head>
	<title>No Photo</title>
</head>
<body MS_POSITIONING="GridLayout">
	<form id="Main" method="post" runat="server"></form>
</body>
</html>
