﻿// import variables
@import "config/_variables.103";

//add mixins
@import "../Sass/sass-common/library/_functions.scss";
//$experimental-support-for-opera:false;
//$experimental-support-for-khtml:false;
//$experimental-support-for-microsoft:false;
@import "compass/css3";
@import "compass/typography";
@import "../Sass/sass-common/library/_mixins.scss";
@import "library/_extend-classes";

//one global style to rule them all. More info: http://paulirish.com/2012/box-sizing-border-box-ftw/
//* {@include box-sizing(border-box);background-repeat:no-repeat;}

//build base CSS
@import "components/_fonts";
//@import "library/_normalize";
@import "library/_utilities";
//@import "library/_base";
@import "library/_base-classes";
@import "library/_editorial";

//build jquery mobile
@import "components/jQueryMobile/default/_103";
@import "components/jQueryMobile/_jquery.mobile.structure-1.1.1.scss";
//@import "components/jQueryMobile/default/_103.min";

//jquery mobile customizations
@import "components/jQueryMobile/_jquery.mobile.customizations.scss";

//import component CSS
@import "components/_layout";
@import "components/_forms";


//import page-specific CSS
@import "components/_page-m-landing";
@import "components/_page-m-reg-complete";