﻿@* html templates
    Created:
        DropdownList=1
        CheckBox=2
        TextBox=4
        TextArea=5
        Password=6
        Region=8
        DateOfBirth=9
        File=10
        ListBox=12
        Info=14
        Checklist=15
        TermsAndConditions=16

    Not created:
        Captcha=3
        RadioList=7
        ColorCode=11
        RegionAjax=13 
*@
@*DropdownList=1*@
<script id="form-1-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<select size="" name="{{Name}}" id="id{{Name}}"{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Multiple}} multiple="multiple"{{/Multiple}}>
			{{#Options}}<option id="{{Name}}{{Value}}" value="{{Value}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/Options}}
		</select>
	</div>
{{/Control}}
</div>
</script>

@*CheckBox=2*@
<script id="form-2-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item checkbox-inline {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<input type="checkbox" name="{{Name}}" id="id{{Name}}" checked="checked" {{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}} />
	<label for="id{{Name}}">{{Label}}</label>
{{/Control}}
</div>
</script>

@*TextBox=4*@
<script id="form-4-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<input id="id{{Name}}" type="text" name="{{Name}}" {{#SelectedValue}} value="{{SelectedValue}}"{{/SelectedValue}} {{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}} />
	</div>
{{/Control}}
</div>
</script>

@*TextArea=5*@
<script id="form-5-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<textarea id="id{{Name}}" name="{{Name}}"{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}} style="width:300px;" >{{SelectedValue}}
        </textarea>
		<!--<p>[<span class="count-counter"></span>&nbsp;/ 50]</p>-->
	</div>
{{/Control}}
</div>
</script>

@*Password=6*@
<script id="form-6-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<input type="password" name="{{Name}}" id="id{{Name}}"{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}} />
	</div>
{{/Control}}
</div>
</script>

@*Region=8*@
<script id="form-8-tpl" type="text/template">
<div id="regionPickerContainer">
    <div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
    {{#Control}}
	    <div class="form-label">
		    <label for="id{{Name}}">{{Label}}</label>
		    {{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	    </div>
	    <div class="form-input">
		    <select size="" name="regioncountryid" id="idregioncountryid"{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Multiple}} multiple="multiple"{{/Multiple}}>
			    {{#RegionData.Countries}}<option value="{{Id}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/RegionData.Countries}}
		    </select>
	    </div>
    {{/Control}}
    </div>
    <div id="binRegionZipCode"></div>
    <div id="binRegionPostalCode"></div>
    <div id="binRegionStates"></div>
    <div id="binRegionCities"></div>
    <div id="binRegionCitiesAutocomplete"></div>
</div>
<button id="regionPickerSubmit" type="button" class="btn primary" style="display:none">Continue</button>
</script>

@*DateOfBirth=9*@
<script id="form-9-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<select id="birthdayMonth" name="birthdayMonth" data-errormessage="Please enter your birthday's month." title="Please enter your birthday's month" required="required">
			<option value="">Month</option>
			<option value="1">Jan</option>
			<option value="2">Feb</option>
			<option value="3">Mar</option>
			<option value="4">Apr</option>
			<option value="5">May</option>
			<option value="6">Jun</option>
			<option value="7">Jul</option>
			<option value="8">Aug</option>
			<option value="9">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>

		<select id="birthdayDay" name="birthdayDay" data-errormessage="Please enter your birthday's day." title="Please enter your birthday's day" required="required">
			<option value="">Day</option>
            @for (int i = 1; i < 32; i++)
            {
                <option value="@i">@i</option>
            }
		</select>

		<select id="birthdayYear" name="birthdayYear" data-errormessage="Please enter your birthday's year." title="Please enter your birthday's year" required="required">
            <option value="">Year</option>
            @{int startYear = @DateTime.Now.Year - 18;}
            @for (int i = 0; i < 82; i++)
            {
                <option value="@(startYear - i)">@(startYear - i)</option>
            }
		</select>
	</div>

{{/Control}}
</div>
</script>

@*File=10*@
<script id="form-10-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<ol class="editorial">
		<li>Click the "Browse" button and select a photo located on your computer.</li>
		<li>Click "Continue" to add a photo to your profile</li>
	</ol>
	<div class="form-input">
		<input type="file" name="{{Name}}" id="id{{Name}}" {{#Required}}required="{{Required}}"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}} />
	</div>
{{/Control}}
</div>
</script>

@*ListBox=12*@
<script id="form-12-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
		<select size="{{Size}}" name="{{Name}}" id="id{{Name}}"{{#Required}} required="required"{{/Required}}{{#Multiple}} multiple="multiple"{{/Multiple}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}>
			{{#Options}}<option id="{{Name}}{{Value}}" value="{{Value}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/Options}}
		</select>
	</div>
{{/Control}}
</div>
</script>

@*CheckList=15*@
<script id="form-15-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<div class="form-label">
		<label for="id{{Name}}">{{Label}}</label>
		{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	</div>
	<div class="form-input">
        <ul class="checkbox-list">
            {{#Options}}<li><input id="{{Name}}{{Value}}" type="checkbox" value="{{Value}}" name="{{Name}}" {{#Selected}} checked="checked"{{/Selected}} class="group-required" /><label for="{{Name}}{{Value}}">{{Description}}</label></li>{{/Options}}
        </ul>
	</div>
{{/Control}}
</div>
</script>

@*TermsAndConditionsCheckBox=16*@
<script id="form-16-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item checkbox-inline {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<input type="checkbox" name="{{Name}}" id="id{{Name}}" checked{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}} />
	<label for="id{{Name}}">&nbsp;&nbsp;I confirm that I have read and agreed to the <a href="http://www.ldssingles.com/terms-of-use.html#service_terms" target="_blank">Terms and Conditions of Service</a> and the <a href="http://www.ldssingles.com/terms-of-use.html#privacy_policy" target="_blank">Privacy Statement</a>.</label>
{{/Control}}
</div>
</script>

@*Info=14*@
<script id="form-14-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-info {{Control.CSSClass}}">
	{{text}}
</div>
</script>