﻿<meta name="title" content="LDS Singles Online® - Online LDS Dating Personals for LDS Singles" />
<meta name="keywords" content="LDS,LDS singles,LDS Singles Online, lds single,lds dating,mormon, LDSSO, online singles,mormon dating, mormon single, Online Dating Personals,LDS personals, LDS Singles personals,lds men,lds women, latter day saints, latter-day saints, romance, meeting place, lds singles wards, mormon singles, singles activities, The Church of Jesus Christ of Latter Day Saints, dating service, LDS Chat, chat, BYU, BYU Idaho,BYU Hawaii, LDSSingles.com, mormon, marriage, engagement">
<meta xmlns="" name="author" content="Spark Networks, Inc.">
<meta xmlns="" name="copyright" content="Copyright 2015 Spark Networks, Inc.">
<meta name="robots" content="all" />
<meta name="Rating" content="genera" />
<meta name="Distribution" content="GLOBAL" />
<meta xmlns="" name="REVISIT-AFTER" content="7 days">
<meta xmlns="" name="description" content="LDS Singles Online&amp;reg; - Online LDS Dating Personals for LDS Singles - Meet thousands of LDS singles.">
<link rel="shortcut icon" type="image/ico" href="@Url.Content("~/RegContent/Images/favicon.png")">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width">