﻿@* html templates
    Created:
        DropdownList=1
        CheckBox=2
        TextBox=4
        TextArea=5
        Password=6
        RAdioList=7
        Region=8
        DateOfBirth=9
        File=10
        ListBox=12
        Info=14
        Checklist=15
        TermsAndConditions=16

    Not created:
        Captcha=3
        ColorCode=11
        RegionAjax=13 
*@
@*DropdownList=1*@
<script id="form-1-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}"></label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<select size="" name="{{Name}}" id="id{{Name}}"{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Multiple}} multiple="multiple"{{/Multiple}}>
	<option value="">{{Label}}</option>{{#Options}}<option id="{{Name}}{{Value}}" value="{{Value}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/Options}}
</select>
{{/Control}}
</div>
</script>

@*CheckBox=2*@
<script id="form-2-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<input type="checkbox" name="{{Name}}" id="id{{Name}}" {{#Checked}}checked{{/Checked}} {{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}} />
	<label for="id{{Name}}">{{Label}}</label>
{{/Control}}
</div>
</script>

@*TextBox=4*@
<script id="form-4-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}">{{Label}}</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<input id="id{{Name}}" type="text" autocapitalize="off" name="{{Name}}" {{#SelectedValue}} value="{{SelectedValue}}"{{/SelectedValue}} {{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}} />
{{/Control}}
</div>
</script>

@*TextArea=5*@
<script id="form-5-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}">{{Label}}</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<textarea id="id{{Name}}" name="{{Name}}"{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}}>{{SelectedValue}}</textarea>
	<p>[<span class="count-counter"></span>&nbsp;/ 50]</p>
{{/Control}}
</div>
</script>

@*Password=6*@
<script id="form-6-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}">{{Label}}</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<input type="password" name="{{Name}}" id="id{{Name}}"{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Required}} required="required"{{/Required}} />
{{/Control}}
</div>
</script>

@*Radio=7*@
<script id="form-7-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
<fieldset data-role="controlgroup">
{{#Control}}
    <legend>{{Label}}</legend>
  {{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
    {{#Options}}<input id="{{Name}}{{Value}}" type="radio" value="{{Value}}" name="{{Name}}"{{#RequiredAttr}} required="required"{{/RequiredAttr}}{{#Selected}} checked="checked"{{/Selected}} {{#RequiredErrorMessage}}data-errormessage='{{RequiredErrorMessage}}'{{/RequiredErrorMessage}} /><label for="{{Name}}{{Value}}">{{Description}}</label>{{/Options}}
{{/Control}}
</div>
</div>
</script>

@*Region=8*@
<script id="form-8-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="regionzipcode" style="position:relative">Zip/Postal Code:</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<input id="regionzipcode" type="text" autocapitalize="off" name="regionzipcode" pattern="(^\d{5}(-\d{4})?$)|(^[abceghjklmnprstvxyABCEGHJKLMNPRSTVXY]{1}\d{1}[a-zA-Z]{1}(| |-)\d{1}[a-zA-Z]{1}\d{1}$)" data-errormessage="Please enter a valid Zip/Postal Code." required="required" />
    <input id="regioncityid" name="regioncityid" {{#SelectedValue}} value="{{SelectedValue}}"{{/SelectedValue}} type="text" style="display:none" />
    <input id="regioncountryid" name="regioncountryid" value="" type="text" style="display:none" />
{{/Control}}
</div>
</script>

@*ListBox=12*@
<script id="form-12-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<label for="id{{Name}}">{{Label}}</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<select size="" name="{{Name}}" id="id{{Name}}"{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}}{{#Multiple}} multiple="multiple"{{/Multiple}}>
	{{#Options}}<option id="{{Name}}{{Value}}" value="{{Value}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/Options}}
</select>
{{/Control}}
</div>
</script>

@*CheckList=15*@
<script id="form-15-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
<fieldset data-role="controlgroup">
{{#Control}}
    <legend>{{Label}}</legend>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
    {{#Options}}<input id="{{Name}}{{Value}}" type="checkbox" value="{{Value}}" name="{{Name}}" class="group-required"{{#Selected}} checked="checked"{{/Selected}} {{#RequiredErrorMessage}}data-errormessage='{{RequiredErrorMessage}}'{{/RequiredErrorMessage}} /><label for="{{Name}}{{Value}}">{{Description}}</label>{{/Options}}
{{/Control}}
</div>
</div>
</script>

@*TermsAndConditionsCheckBox=16*@
<script id="form-16-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_{{Control.Name}}" class="form-item checkbox-inline {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
{{#Control}}
	<input type="checkbox" name="{{Name}}" id="id{{Name}}" value="true" checked{{#Required}} required="required"{{/Required}}{{#Validations}} {{AttributeName}}="{{Value}}"{{/Validations}}{{#ErrorMessages}} data-errormessage='{{ErrorMessages}}'{{/ErrorMessages}} />
	<label for="id{{Name}}">I have read and agree to the Terms &amp; Conditions.</label>
    <footer><a href="http://@ViewBag.MOSHost/home/termsofservice" data-rel="dialog">Read the Terms &amp; Conditions</a></footer>
{{/Control}}
</div>
</script>

@*Info=14*@
<script id="form-14-tpl" type="text/template">
<div id="formItem_{{Control.Name}}" class="form-item form-info {{Control.CSSClass}} template-{{Control.ControlDisplayType}}">
	{{text}}
</div>
</script>

@*MobileBirthdate=17*@
<script id="form-17-tpl" type="text/template">
<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_birthdate_dateselects" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}" style="display:none">
<fieldset data-role="controlgroup">
{{#Control}}
    <legend>{{Label}}</legend>
	<label for="birthdayMonth">Month</label>
	{{#AdditionalText}}<div class="instruction">{{AdditionalText}}</div>{{/AdditionalText}}
	<select id="birthdayMonth" name="birthdayMonth" data-errormessage="Please enter your birthday's month." title="Please enter your birthday's month" required="required">
		<option value="">Month</option>
		<option value="1">Jan</option>
		<option value="2">Feb</option>
		<option value="3">Mar</option>
		<option value="4">Apr</option>
		<option value="5">May</option>
		<option value="6">Jun</option>
		<option value="7">Jul</option>
		<option value="8">Aug</option>
		<option value="9">Sep</option>
		<option value="10">Oct</option>
		<option value="11">Nov</option>
		<option value="12">Dec</option>
	</select>

    <label for="birthdayDay">Day</label>
	<select id="birthdayDay" name="birthdayDay" data-errormessage="Please enter your birthday's day." title="Please enter your birthday's day" required="required">
		<option value="">Day</option>
        @for (int i = 1; i < 32; i++)
        {
            <option value="@i">@i</option>
        }
	</select>

    <label for="birthdayYear">Year</label>
	<select id="birthdayYear" name="birthdayYear" data-errormessage="Please enter your birthday's year." title="Please enter your birthday's year" required="required">
        <option value="">Year</option>
        @{int startYear = @DateTime.Now.Year - 18;}
        @for (int i = 0; i < 82; i++)
        {
            <option value="@(startYear - i)">@(startYear - i)</option>
        }
	</select>
{{/Control}}
</fieldset>
</div>

<div data-role="fieldcontain" data-template="{{Control.ControlDisplayType}}" id="formItem_birthdate_dateinput" class="form-item {{Control.CSSClass}} template-{{Control.ControlDisplayType}}" style="display:none">
    <label for="id{{Control.Name}}">Birthdate:</label>
    @{
        var maxDate = @DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd");
        var minDate = @DateTime.Now.AddYears(-99).ToString("yyyy-MM-dd");
    }
    <input type="date" name="{{Control.Name}}" id="id{{Control.Name}}" min="@(minDate)" max="@(maxDate)" required="required" {{#SelectedValue}} value="{{SelectedValue}}"{{/SelectedValue}} {{#Control.ErrorMessages}} data-errormessage='{{Control.ErrorMessages}}'{{/Control.ErrorMessages}} />
</div>
</script>