﻿@* RegionPicker templates *@
@* ZipCode *@
<script id="form-RegionZipCode-tpl" type="text/template">
<div class="form-item">
	<div class="form-label">
		<label for="regionZipId">Zip Code:</label>
	</div>
	<div class="form-input">
        <input type="text" id="regionZipId" name="regionzipcode" pattern="\d{5}|\d{5}" maxlength="5" data-errormessage='Please enter a valid 5-digit Zip Code.' {{#ZipCode}} value="{{ZipCode}}"{{/ZipCode}} required="required" />
	</div>
</div>
</script>

@* PostalCode *@
<script id="form-RegionPostalCode-tpl" type="text/template">
<div class="form-item">
	<div class="form-label">
		<label for="regionPostalId">Postal Code:</label>
	</div>
	<div class="form-input">
        <input type="text" id="regionPostalId" name="regionzipcode" pattern="[A-z]\d[A-z] ?\d[A-z]\d" maxlength="6" data-errormessage="Please enter a valid 6-digit Postal Code." {{#PostalCode}} value="{{PostalCode}}"{{/PostalCode}} required="required" />
        <div style="color:#999">Please follow this format: A0A0A0</div>
	</div>
</div>
</script>

@* RegionStates *@
<script id="form-RegionStates-tpl" type="text/template">
<div class="form-item region-states">
	<div class="form-label">
		<label for="regionStatesId">State or Region:</label>
	</div>
	<div class="form-input">
        <select size="" name="regionstateid" id="regionStateId" title="" required="required" data-errormessage="{{msgFieldRequired}}">
			<option value=""></option>{{#States}}<option value="{{Id}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/States}}
		</select>
	</div>
</div>
</script>

@* RegionCities *@
<script id="form-RegionCities-tpl" type="text/template">
<div class="form-item region-cities" style="{{#Cities}}{{#Oneresult}}display:none;{{/Oneresult}}{{/Cities}}">
	<div class="form-label">
		<label for="regionCitiesId">Cities:</label>
	</div>
	<div class="form-input">
        <select size="" name="regioncityid" id="regionCitiesId" title="" required="required" data-errormessage="{{msgFieldRequired}}">
			<option value=""></option>{{#Cities}}<option value="{{Id}}"{{#Selected}} selected="Selected"{{/Selected}}>{{Description}}</option>{{/Cities}}
		</select>
	</div>
</div>
</script>

@* RegionCitiesAutocomplete *@
<script id="form-RegionCitiesAutocomplete-tpl" type="text/template">
<div class="form-item region-citiesbyregion">
	<div class="form-label">
		<label for="regionCitiesByRegionId">City: </label>
	</div>
	<div class="form-input">
        <input type="text" id="regionCitiesByRegionId" name="regionCitiesByRegion" required="required" data-errormessage="{{msgFieldRequired}}" />
        <input type="text" id="citiesRegionID" name="regioncityid" style="display:none;" />
	</div>
</div>
</script>