﻿

<header data-role="header" data-theme="b">
    <h1 class="ir logo"><span>LDSSingles</span></h1>
    <a href="http://m.ldssingles.com/member_login.html?login=1" data-transition="slidedown" data-theme="g" class="ui-btn-right">Login</a>
</header>
