﻿@model Spark.Registration.Models.ViewModels.TPixelViewModel

@{
    Layout = null;
}
<script type="text/javascript">
    var utag_data = {
        application: '@(Model.Application)',
        memberid: '@(Model.MemberID)',
        gender: '@(Model.Gender)',
        promotionid: '@(Model.PromotionID)',
        luggage: '@(Model.Luggage)',
        bannerid: '@(Model.BannerID)',
        eid: '@(Model.EID)',
        channel: '@(Model.Channel)',
        subchannel: '@(Model.Subchannel)',
        depth1regionid: '@(Model.Age)',
        scenarioid: '@(Model.ScenarioID)',
        stepid: '@(Model.StepID)',
        dma: '@(Model.DMA)'
    }

</script>
<script type="text/javascript">
    (function (a, b, c, d) {
        a = '//tags.tiqcdn.com/utag/spark/ldssous/prod/utag.js'; b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true; a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
    }
       )();
</script>


