﻿@model Spark.Web.Mobile.CM.ViewData.ProfileViewData
@{
    Layout = "../Shared/_PageLayout.cshtml";
}

<div class="photos page-content">
    <div id="photo_list_panel">
        <!-- Photo List -->
        <h2 class="page-header photos-header">
            @*<a href="#" class="prevButton"></a>*@
            <a id="btn_back" href="#" data-role="none" class="back-button "></a>
            My Photos
        </h2>
        <ul id="photos_list" class="photos-list">
            <li>
                @*<form id="fileupload">*@
                    @if (@Model.Photos.Count < 8) 
                    { 
                        <div id="add_photo" class="add-photo-bar">
                            <h5>Add new photo</h5>
                            <h5>@Model.Photos.Count of 8 uploaded</h5>
                            <input id="photoFiles" accept="image/gif, image/jpeg, image/bmp" type="file" name="photoFiles" data-role="none" />

                        </div>
                    }
                    else
                    {
                        <div id="add_photo" class="add-photo-bar disabled">
                            <h5>8 of 8 photos uploaded.</h5>
                            <h5>Delete some to add more.</h5>
                            <input id="photoFiles" accept="image/gif, image/jpeg, image/bmp" type="file" name="photoFiles" data-role="none" disabled="disabled"  />
                        </div>
                    }
                @*</form>*@
            </li>
           
            @if (Model.Photos.Count > 0) { 
                var index = 0;
                var count = (Model.Photos.Count - 1);
                var lastCss = "";
                
                foreach (var item in Model.Photos) 
                {
                    var caption = String.IsNullOrEmpty(item.Caption) ? "{ Tap here to edit caption }" : item.Caption;
                    lastCss = (index == count) ? "last" : "";
               
                    <li class="@(!item.IsPhotoApproved ? "unapproved" : (item.IsApprovedForMain && !item.IsMain) ? "usemain" : (item.IsApprovedForMain && item.IsMain) ? "currentmain" :  "") @lastCss" data-photoid="@item.MemberPhotoId">
                        <img data-fullpath="@item.FullPath" data-index="@index" src="@item.FullPath" alt="@item.Caption" />
                        @if (!item.IsPhotoApproved) 
                        { 
                            <p>Pending<br/>Approval</p>
                        }
                        @if (item.IsApprovedForMain && !item.IsMain)
                        {
                            <p class="use-main">Use As<br />Main</p>
                        }
                        @if (item.IsApprovedForMain && item.IsMain)
                        {
                            <p class="main">Main<br />Photo</p>
                        }

                        <button class="delete trash" data-role="none"></button>
                        <span class="caption">@caption</span>
                    </li>
                
                    index++;
                }
            }
            else 
            { 
                <li class="no-results"><p>No results found.</p></li>
            }
        </ul>
    </div>
    <!-- Caption Edit -->
    <div id="photo_caption_panel" class="caption-panel hidden">
        <ul class="button-container">
            <li>
                <a id="btn_cancel_caption" data-role="none">Cancel</a>
            </li>
            <li>
                <a id="btn_save_caption" data-role="none">Save</a>
            </li>
        </ul>
        <div class="form">
            <textarea id="caption" maxlength="20" data-role="none"></textarea>
            <span class="char-counter"></span>
        </div>
    </div>  
    <!-- Photo Preview -->
    <div id="photo_preview_panel" class="preview-panel hidden">
        <ul class="button-container">
            <li>
                <a id="btn_cancel_upload" data-role="none">Cancel</a>
            </li>
            <li>
                <a id="btn_upload_photo" data-role="none">Upload</a>
            </li>
        </ul>
        <!--<canvas id="photo_canvas"></canvas>-->
        <!--<img id="photo_preview" />-->
        <div id="photo_canvas" class="photo-canvas">
            
        </div>
    </div>  
</div>
