﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.BodyClass = "ui-mobile-viewport";

    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "code.jquery.com", "www.jdate.com", "m.jdate.com" };
    ViewBag.DNSPrefetch = DNSArray;
}

<div data-role="page" data-theme="c" class="m_reg registration" data-title="JDate - Registration">
    <header data-theme="b" data-role="header">
        <h1 class="ir logo">JDate</h1>
        <a id="loginBtn" href="http://@ViewBag.MOSHost/logon/logon/" data-transition="slidedown" data-icon="arrow-r" data-iconpos="right" data-shadow="false" class="ui-btn-right">Login</a>
        <div data-role="header" data-theme="f" class="page-title">
            <h2 id="regFlowTitle" class="ui-title">&nbsp;</h2>
        </div>
    </header>

    <section data-role="content">
        <form id="regFlow" action="" class="reg-flow forms" method="POST">
            <div id="formContainer"></div>
            <div id="stepControls" role="step-controls" class="ui-grid-a" style="display:none">
                <div class="ui-block-a"><button id="formPrevious" type="button" data-theme="c" disabled="disabled">Previous</button></div>
                <div class="ui-block-b"><button id="formContinue" type="button" data-theme="e">Continue</button></div>
            </div>
        </form>
    </section>
    @Html.Partial("_MobileFooter")
</div><!-- /page -->
@Html.Partial("_MobileFormTemplates")

@* Put section overrides here *@
@section HeadUI{
    @Html.Partial("_MobileMetaTags")
    <link rel="stylesheet" href="@Url.Content("~/RegContent/CSS/reg.mobile.css")" />
    @* All JavaScript at the bottom, except Modernizr, jQuery and jQuery mobile *@
    <script src="@Url.Content("~/RegContent/Scripts/Libs/modernizr.2.6.custom.js")"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script>
        $.mobile.ajaxEnabled = false;
    </script>
}

@section BottomJavaScript{
    @*<script src="/scripts/facebookIntegration.js" type="text/javascript"></script>
        <script src="/scripts/jdm-plugins.min.js" type="text/javascript"></script>
        <script src="/scripts/jdm-script.js" type="text/javascript"></script>*@

    @*
        <script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
        <script>
            var spark = spark || {};
            $LAB
            .setOptions({AlwaysPreserveOrder:true})
            .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")")

            //Load polyfills and shims
            .script(function(){
                if (typeof JSON == "undefined") return "@Url.Content("~/RegContent/Scripts/Libs/json2.min.js")";
            })
            .script("@Url.Content("~/RegContent/Scripts/Libs/underscore.1.3.3.min.js")")
            .script("@Url.Content("~/RegContent/Scripts/Libs/mustache.0.5.1.min.js")")
            .script("@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/polyfiller.js")")
            .script("@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/extras/custom-validity.js")")
            .script("@Url.Content("~/RegContent/Scripts/mobile-main.js")")
            .script("@Url.Content("~/RegContent/Scripts/Modules/m-reg-scenario.js")")
            .wait(function(){

                // begin webshims
                $.webshims.setOptions({
                    loadStyles : false,
                    waitReady : false,
                    forms : {
                        replaceValidationUI : true,
                        customMessages: true,
                        overrideMessages: true
                    }
                });

                $.webshims.polyfill('forms');

                //bind events
                $(function(){
                    // Iovation Blackbox javascript
                    spark.iovation.GetIOBB(0);

                    // hide custom validation message quickly
                    $('form').bind('changedvalid', function(e) {
                        $('.validity-alert-wrapper').hide();
                    });
                });

            });
        </script>
    *@


    <script>
    var spark = spark || {};
    //DO NOT REMOVE. This line should occur before loading Omniture.js file.
    var s_account = '@ViewBag.OmnitureAccountName';
    </script>

    <script src="@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Libs/json2.min.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Libs/underscore.1.3.3.min.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Libs/mustache.0.5.1.min.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/polyfiller.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/extras/custom-validity.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/mobile-main.js")"></script>
    <script src="@Url.Content("~/RegContent/Scripts/Modules/m-reg-scenario.js")"></script>

    <script>
        // begin webshims
        $.webshims.setOptions({
            loadStyles: false,
            waitReady: false,
            forms: {
                replaceValidationUI: true,
                customMessages: true,
                overrideMessages: true
            }
        });

        $.webshims.polyfill('forms');

        //bind events
        $(function () {
            //JS-1573 turning off iovation
            // Iovation Blackbox javascript
            //spark.iovation.GetIOBB(0);

            // hide custom validation message quickly
            $('form').bind('changedvalid', function (e) {
                $('.validity-alert-wrapper').hide();
            });
        });
    </script>
}

@* Empty IE6Chromeframe section *@
@section IE6Chromeframe{}