﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "p-reg";
    
    //DNS prefetching for improved performance. More reading: http://html5boilerplate.com/docs/DNS-Prefetching/
    string[] DNSArray = { "ajax.googleapis.com", "www.jdate.com", "mpsnare.iesnare.com" };
    ViewBag.DNSPrefetch = DNSArray;
}

<header role="banner">
	<a href="/" class="logo"><img src="@Url.Content("~/RegContent/Images/logo-header_reg-gc.png")" alt="" class="logo"></a>
	<ul class="header-nav horizontal-list">
		<li>Already a Member?</li>
		<li><a id="btnMemberLogin" href="@ViewBag.LogonLink" class="btn link-primary large">Member Login</a></li>
	</ul>
</header>

<div id="container" class="cf">

<div role="content" class="cf">
<h1 id="regFlowTitle">&nbsp;</h1>
<section role="content-main">
    <form id="regFlow" action="" class="reg-flow form-spacious forms" method="POST">
        <div id="mainFormContainer"></div>
        <button id="btnContinue" type="button" class="btn btn-continue primary" style="display:none">Continue</button>
    </form>
</section>

<aside role="content-secondary">
	<article class="tips">
		<div class="tips-content"></div>
	</article>
</aside>

<div id="regFlowNav" class="cf">
	<div class="progress">
		<div class="progress-label">Progress</div>
		<div class="progress-bar">
			<span class="bar"><span class="value" id="progress-position" style="width: 0%;">0%</span></span>
		</div>
	</div>
	<button role="previous" class="previous btn btn-control secondary" type="button"><span class="btn-arrow">&#9668;</span> <span class="btn-direction">Previous</span></button> 
	<button role="next" class="next btn btn-control secondary" type="button"><span class="btn-direction">Next</span> <span class="btn-arrow">&#9658;</span></button>

</div>

	</div>
</div>

@Html.Partial("_Footer")

@Html.Partial("_FormTemplates")

@Html.Partial("_RegionPickerTemplates")

@* Put section overrides here *@
@section BottomJavaScript{
<script src="@Url.Content("~/RegContent/Scripts/Libs/LAB.min.js")"></script>
<script>
	var spark = spark || {};
	//DO NOT REMOVE. This line should occur before loading Omniture.js file. 
    var s_account = '@ViewBag.OmnitureAccountName';
    
	$LAB
    //Set Labjs options. CacheBust to true only on dev.
    .setOptions({CacheBust:true})

    .script("@Url.Content("~/RegContent/Scripts/Libs/Omniture.js")").wait()

    //Load polyfills and shims
	.script(function(){
		if (typeof JSON == "undefined") return "@Url.Content("~/RegContent/Scripts/Libs/json2.min.js")";
	})
@*
//	.script(function(){
//		if (!Modernizr.canvas) return "@Url.Content("~/RegContent/Scripts/Libs/excanvas.compiled.js")";
//	})
*@
	//Load scripts without dependencies
	.script("@Url.Content("~/RegContent/Scripts/Libs/spin.min.js")")

    //Load framework libraries
	.script("https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js").wait()
	.wait(function(){
		if (typeof jQuery != "function") return "@Url.Content("~/RegContent/Scripts/Libs/jQuery/jquery-1.7.2.min.js")";
	})
@*
//	.script("https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js")
//	.wait(function(){
//		if (typeof jQuery != "function") return "@Url.Content("~/RegContent/Scripts/Libs/jQueryUI/jquery-ui-1.8.20.dialog.min.js")";
//	})
*@
	.script("@Url.Content("~/RegContent/Scripts/Libs/underscore.1.3.3.min.js")").wait()
	.script("@Url.Content("~/RegContent/Scripts/Libs/mustache.0.5.1.min.js")").wait()
	.script("@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/polyfiller.js")").wait()
	.script("@Url.Content("~/RegContent/Scripts/Libs/js-webshim/minified/extras/custom-validity.js")").wait()
	.script("@Url.Content("~/RegContent/Scripts/Libs/jQuery-plugins/jquery.spin.min.js")").wait()
	.script("@Url.Content("~/RegContent/Scripts/Libs/jQuery-plugins/jquery.cookie.min.js")").wait() // for iovation

    //Load common custom script
	.script("@Url.Content("~/RegContent/Scripts/main.js")")

    //Load feature/page specific scripts
    .script("@Url.Content("~/RegContent/Scripts/Modules/reg-scenario.js")")

    // Iovation Blackbox javascript
    .script("https://mpsnare.iesnare.com/snare.js")

    //Embedded scripts
	.wait(function(){

        // begin webshims
		$.webshims.setOptions({
			loadStyles : false,
			waitReady : false,
			forms : {
				replaceValidationUI : true,
                customMessages: true,
                overrideMessages: true
			}
		});
        
		$.webshims.polyfill('forms');

		$(function () {
		    //JS-1573 turning off iovation
            // Iovation Blackbox javascript
            //spark.iovation.GetIOBB(0);

			// hide custom validation message quickly
			$('form').bind('changedvalid', function(e) {
				$('.validity-alert-wrapper').hide();
			});
		});
	});

    // Update copyright year
    document.getElementById("theYear").innerHTML = new Date().getFullYear();
</script>
}
