<%@ Control Language="c#" AutoEventWireup="false" Codebehind="HealthCheck.ascx.cs" Inherits="Matchnet.Web.Applications.Health.HealthCheck" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>