<%@ Control Language="c#" AutoEventWireup="false" Codebehind="SearchTest.ascx.cs" Inherits="Matchnet.Web.Applications.Search.SearchTest" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
