/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

a { background: transparent; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: .67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea { color: #222; }

html { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

audio, canvas, img, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.browsehappy { margin: .2em 0; background: #ccc; color: #000; padding: .2em 0; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* ========== Base ========== */
html { font: 75%/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif; overflow: hidden; }

body { text-align: right; }

body, input, button { -webkit-font-smoothing: antialiased; }

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.17em; }

h4 { font-size: 1em; }

h5 { font-size: 0.83em; }

h6 { font-size: 0.75em; }

ul, ol { list-style-type: none; }

a:link, a:visited, a:active { color: #993366; text-decoration: none; }

/* ========== Base - Structure ========== */
body { min-width: 320px; }

.header { height: 130px; width: 100%; min-width: 320px; }

.body { position: absolute; overflow-y: auto; top: 130px; bottom: 174px; right: 0; width: 100%; min-width: 320px; }

.footer { position: absolute; bottom: 0; width: 100%; min-width: 320px; }

.gradient, #chatter_mini_profile, #chatter_status, .type_bottom { background-image: -webkit-linear-gradient(#e6e6e6, #cccccc); background-image: -moz-linear-gradient(#e6e6e6, #cccccc); background-image: -o-linear-gradient(#e6e6e6, #cccccc); background-image: linear-gradient(#e6e6e6, #cccccc); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc',GradientType=0 ); }

.gradient-accent, .send_button { background-image: -webkit-linear-gradient(#993366, #862d59); background-image: -moz-linear-gradient(#993366, #862d59); background-image: -o-linear-gradient(#993366, #862d59); background-image: linear-gradient(#993366, #862d59); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjIyNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.ie8 .gradient-accent, .ie8 .send_button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#993366', endColorstr='#862d59',GradientType=0 ); }

.close { position: absolute; top: 2px; left: 4px; font: bold 10px/10px Verdana, sans-serif; color: #993366; cursor: pointer; }

/* ========== Sprites ========== */
.spr, .command span[class^="icons"] { display: inline-block; text-indent: -9999em; text-align: left; vertical-align: middle; }

.icons-sprite, .icons-bg, .icons-emoticon, .icons-font, .icons-photo, .icons-smiley-a-0000, .icons-smiley-a-0001, .icons-smiley-a-0002, .icons-smiley-a-0003, .icons-smiley-a-0004, .icons-smiley-a-0005, .icons-smiley-a-0006, .icons-smiley-a-0007, .icons-smiley-a-0008, .icons-smiley-a-0009, .icons-smiley-a-0010, .icons-smiley-a-0011, .icons-smiley-a-0012, .icons-smiley-a-0013, .icons-smiley-a-0014, .icons-smiley-a-0015, .icons-smiley-a-0016, .icons-smiley-a-0017, .icons-smiley-a-0018, .icons-smiley-a-0019, .icons-smiley-a-0020, .icons-smiley-a-0021, .icons-smiley-a-0022, .icons-smiley-a-0023, .icons-smiley-a-0024, .icons-smiley-a-0025, .icons-smiley-a-0026, .icons-smiley-a-0027, .icons-smiley-a-0028, .icons-smiley-a-0029, .icons-smiley-b-0001, .icons-smiley-b-0002, .icons-smiley-b-0003, .icons-smiley-b-0004, .icons-smiley-b-0005, .icons-smiley-b-0006, .icons-smiley-b-0007, .icons-smiley-b-0008, .icons-smiley-b-0009, .icons-smiley-b-0010, .icons-smiley-b-0011, .icons-smiley-b-0012, .icons-smiley-b-0013, .icons-smiley-b-0014, .icons-smiley-b-0015, .icons-smiley-b-0016, .icons-smiley-b-0017, .icons-smiley-b-0018, .icons-smiley-b-0019, .icons-smiley-b-0020, .icons-smiley-b-0021, .icons-smiley-b-0022, .icons-smiley-b-0023, .icons-smiley-b-0024, .icons-smiley-b-0025, .icons-smiley-b-0026, .icons-smiley-b-0027, .icons-smiley-b-0028, .icons-smiley-b-0029, .icons-smiley-b-0030, .icons-smiley-b-0031, .icons-smiley-b-0032, .icons-smiley-b-0033, .icons-smiley-b-0034, .icons-smiley-b-0035, .icons-smiley-b-0036, .icons-smiley-b-0037, .icons-smiley-b-0038, .icons-smiley-b-0039, .icons-smiley-b-0040, .icons-text-bold, .icons-text-italic, .icons-text-underline { background-image: url('../images/icons-s07a73880d0.png'); background-repeat: no-repeat; }

.icons-bg { background-position: 0 0; height: 22px; width: 24px; }

.icons-emoticon { background-position: 0 -42px; height: 21px; width: 21px; }

.icons-font { background-position: 0 -83px; height: 18px; width: 19px; }

.icons-photo { background-position: 0 -121px; height: 21px; width: 25px; }

.icons-smiley-a-0000 { background-position: 0 -162px; height: 32px; width: 32px; }

.icons-smiley-a-0001 { background-position: 0 -214px; height: 32px; width: 32px; }

.icons-smiley-a-0002 { background-position: 0 -266px; height: 32px; width: 32px; }

.icons-smiley-a-0003 { background-position: 0 -318px; height: 32px; width: 32px; }

.icons-smiley-a-0004 { background-position: 0 -370px; height: 32px; width: 32px; }

.icons-smiley-a-0005 { background-position: 0 -422px; height: 32px; width: 32px; }

.icons-smiley-a-0006 { background-position: 0 -474px; height: 32px; width: 32px; }

.icons-smiley-a-0007 { background-position: 0 -526px; height: 32px; width: 32px; }

.icons-smiley-a-0008 { background-position: 0 -578px; height: 32px; width: 32px; }

.icons-smiley-a-0009 { background-position: 0 -630px; height: 32px; width: 32px; }

.icons-smiley-a-0010 { background-position: 0 -682px; height: 32px; width: 32px; }

.icons-smiley-a-0011 { background-position: 0 -734px; height: 32px; width: 32px; }

.icons-smiley-a-0012 { background-position: 0 -786px; height: 32px; width: 32px; }

.icons-smiley-a-0013 { background-position: 0 -838px; height: 32px; width: 32px; }

.icons-smiley-a-0014 { background-position: 0 -890px; height: 32px; width: 32px; }

.icons-smiley-a-0015 { background-position: 0 -942px; height: 32px; width: 32px; }

.icons-smiley-a-0016 { background-position: 0 -994px; height: 32px; width: 32px; }

.icons-smiley-a-0017 { background-position: 0 -1046px; height: 32px; width: 32px; }

.icons-smiley-a-0018 { background-position: 0 -1098px; height: 32px; width: 32px; }

.icons-smiley-a-0019 { background-position: 0 -1150px; height: 32px; width: 32px; }

.icons-smiley-a-0020 { background-position: 0 -1202px; height: 32px; width: 32px; }

.icons-smiley-a-0021 { background-position: 0 -1254px; height: 32px; width: 32px; }

.icons-smiley-a-0022 { background-position: 0 -1306px; height: 32px; width: 32px; }

.icons-smiley-a-0023 { background-position: 0 -1358px; height: 32px; width: 32px; }

.icons-smiley-a-0024 { background-position: 0 -1410px; height: 32px; width: 32px; }

.icons-smiley-a-0025 { background-position: 0 -1462px; height: 32px; width: 32px; }

.icons-smiley-a-0026 { background-position: 0 -1514px; height: 32px; width: 32px; }

.icons-smiley-a-0027 { background-position: 0 -1566px; height: 32px; width: 32px; }

.icons-smiley-a-0028 { background-position: 0 -1618px; height: 32px; width: 32px; }

.icons-smiley-a-0029 { background-position: 0 -1670px; height: 32px; width: 32px; }

.icons-smiley-b-0001 { background-position: 0 -1722px; height: 32px; width: 32px; }

.icons-smiley-b-0002 { background-position: 0 -1774px; height: 32px; width: 32px; }

.icons-smiley-b-0003 { background-position: 0 -1826px; height: 32px; width: 32px; }

.icons-smiley-b-0004 { background-position: 0 -1878px; height: 32px; width: 32px; }

.icons-smiley-b-0005 { background-position: 0 -1930px; height: 32px; width: 32px; }

.icons-smiley-b-0006 { background-position: 0 -1982px; height: 32px; width: 32px; }

.icons-smiley-b-0007 { background-position: 0 -2034px; height: 32px; width: 32px; }

.icons-smiley-b-0008 { background-position: 0 -2086px; height: 32px; width: 32px; }

.icons-smiley-b-0009 { background-position: 0 -2138px; height: 32px; width: 32px; }

.icons-smiley-b-0010 { background-position: 0 -2190px; height: 32px; width: 32px; }

.icons-smiley-b-0011 { background-position: 0 -2242px; height: 32px; width: 32px; }

.icons-smiley-b-0012 { background-position: 0 -2294px; height: 32px; width: 32px; }

.icons-smiley-b-0013 { background-position: 0 -2346px; height: 32px; width: 32px; }

.icons-smiley-b-0014 { background-position: 0 -2398px; height: 32px; width: 32px; }

.icons-smiley-b-0015 { background-position: 0 -2450px; height: 32px; width: 32px; }

.icons-smiley-b-0016 { background-position: 0 -2502px; height: 32px; width: 32px; }

.icons-smiley-b-0017 { background-position: 0 -2554px; height: 32px; width: 32px; }

.icons-smiley-b-0018 { background-position: 0 -2606px; height: 32px; width: 32px; }

.icons-smiley-b-0019 { background-position: 0 -2658px; height: 32px; width: 32px; }

.icons-smiley-b-0020 { background-position: 0 -2710px; height: 32px; width: 32px; }

.icons-smiley-b-0021 { background-position: 0 -2762px; height: 32px; width: 32px; }

.icons-smiley-b-0022 { background-position: 0 -2814px; height: 32px; width: 32px; }

.icons-smiley-b-0023 { background-position: 0 -2866px; height: 32px; width: 32px; }

.icons-smiley-b-0024 { background-position: 0 -2918px; height: 32px; width: 32px; }

.icons-smiley-b-0025 { background-position: 0 -2970px; height: 32px; width: 32px; }

.icons-smiley-b-0026 { background-position: 0 -3022px; height: 32px; width: 32px; }

.icons-smiley-b-0027 { background-position: 0 -3074px; height: 32px; width: 32px; }

.icons-smiley-b-0028 { background-position: 0 -3126px; height: 32px; width: 32px; }

.icons-smiley-b-0029 { background-position: 0 -3178px; height: 32px; width: 32px; }

.icons-smiley-b-0030 { background-position: 0 -3230px; height: 32px; width: 32px; }

.icons-smiley-b-0031 { background-position: 0 -3282px; height: 32px; width: 32px; }

.icons-smiley-b-0032 { background-position: 0 -3334px; height: 32px; width: 32px; }

.icons-smiley-b-0033 { background-position: 0 -3386px; height: 32px; width: 32px; }

.icons-smiley-b-0034 { background-position: 0 -3438px; height: 32px; width: 32px; }

.icons-smiley-b-0035 { background-position: 0 -3490px; height: 32px; width: 32px; }

.icons-smiley-b-0036 { background-position: 0 -3542px; height: 32px; width: 32px; }

.icons-smiley-b-0037 { background-position: 0 -3594px; height: 32px; width: 32px; }

.icons-smiley-b-0038 { background-position: 0 -3646px; height: 32px; width: 32px; }

.icons-smiley-b-0039 { background-position: 0 -3698px; height: 32px; width: 32px; }

.icons-smiley-b-0040 { background-position: 0 -3750px; height: 32px; width: 32px; }

.icons-text-bold { background-position: 0 -3802px; height: 16px; width: 16px; }

.icons-text-italic { background-position: 0 -3838px; height: 16px; width: 16px; }

.icons-text-underline { background-position: 0 -3874px; height: 16px; width: 16px; }

/* ========== Profile ========== */
#chatter_mini_profile { width: 100%; height: 90px; float: right; }
#chatter_mini_profile .thumbnail { margin: 5px 3px 0 0; width: 60px; float: right; }

.profile_text { margin: 5px; float: right; }
.profile_text span.username { display: block; margin-bottom: 10px; font: bold 16px/1 Georgia, Times, "Times New Roman", serif; }

ul.hotlist_buttons { float: left; margin: 30px 0 0 10px; padding: 0; }
ul.hotlist_buttons li { cursor: pointer; margin-bottom: 7px; padding: 1px; border: 1px solid #a0a0a0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* ========== Profile - MOS ========== */
#chatter_mini_profile { background: none; float: none; height: inherit; width: inherit; }

.menu-panel { background: transparent url("../images/bg_nav_white.png") 0 0 repeat-x; border-bottom: solid 1px #A0A0A0; display: none; height: 35px; }
.menu-panel a { background: transparent url("../images/btn_back_blue.png") 5px center no-repeat; color: #007AFF; display: inline-block; font-family: Helvetica, Arial; font-size: 12pt; margin: 5px 0; padding: 0 5px 0 22px; }

.profile-panel { background: linear-gradient(#ffffff, #cccccc) repeat scroll 0 0 transparent !important; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#cccccc)) !important; border-bottom: solid 1px #A0A0A0; height: 55px !important; overflow: hidden; padding: 0 5px; /*.profile-panel > img { background-color:#FFFFFF; float:right; height:45px; margin:5px 0 0 5px; width:45px;
}*/ }
.profile-panel a { display: inline-block; height: inherit; }
.profile-panel a img { background-color: #FFFFFF; float: right; height: 45px; margin-top: 5px; width: 45px; }
.profile-panel a h4 { /*border:1px solid green;*/ color: #973566; font-size: 16px; font-weight: bold; margin: 5px 50px 0 0; overflow: hidden; width: 145px; text-overflow: ellipsis; }
.profile-panel a h5 { /*border:1px solid green;*/ color: #666; font-size: xx-small; margin: 0 50px 0 0; padding: 0; }

/* ========== Chat Messages ========== */
.chat_messages { position: absolute; width: 100%; bottom: 120px; left: 0; top: 90px; padding: 0; /* without this line there is extra padding (???) */ margin: 0; border-top: 1px solid #a0a0a0; background-color: #fff; overflow-y: auto; clear: both; }
.chat_messages li { width: 100%; font-style: normal; font-size: 11px; color: #000; padding: 9px 0 9px 0; }
.chat_messages .bubble_and_profile { position: relative; }
.chat_messages .profile { width: 45px; position: absolute; bottom: 0; padding: 0; margin: 0; text-align: center; }
.chat_messages .me .profile { left: 3px; }
.chat_messages .other .profile { min-height: 45px; right: 3px; top: 4px; }
.chat_messages .system { width: 256px; margin: 20px; padding: 5px; background-color: #ffbaba; border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; word-wrap: break-word; }

/* ========== Chat Messages - MOS ========== */
.chat_messages { bottom: auto; position: relative; width: inherit; top: 00; /*bottom: 120px;
clear: both;
left: 0;
margin: 0;
overflow-y: auto;
padding: 0;
position: absolute;
top: 90px;
width: 100%;    */ }
.chat_messages li { padding: 10px 5px 15px; width: auto; }

.messages-panel { margin: 0; /*overflow-y: auto;*/ overflow-y: inherit; padding: 0; }
.messages-panel li { overflow: hidden; }
.messages-panel li.system { background-color: #FFBABA; border: 1px solid #A0A0A0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 5px; word-wrap: break-word; }

/* ========== Chat Bubbles ========== */
.me .chat_bubble, .chat-bubble.me, .other .chat_bubble, .chat-bubble.other { margin: 0 50px 0 20px; padding: 12px; position: relative; border-style: solid; border-width: 1px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0px 46px 28px -30px white; -moz-box-shadow: inset 0px 46px 28px -30px white; box-shadow: inset 0px 46px 28px -30px white; line-height: 1.5em; color: #333333; word-wrap: break-word; }

.me .chat_bubble:before, .chat-bubble.me:before, .other .chat_bubble:before, .chat-bubble.other:before, .me .chat_bubble:after, .chat-bubble.me:after, .other .chat_bubble:after, .chat-bubble.other:after { content: ""; position: absolute; right: 5px; }

.me .chat_bubble:before, .chat-bubble.me:before, .other .chat_bubble:before, .chat-bubble.other:before { height: 10px; bottom: -19px; border-left: 26px solid #eaeaea; background: #e3f1a9; -moz-border-radius-bottomleft: 50px 30px; -webkit-border-bottom-left-radius: 50px 30px; border-bottom-left-radius: 50px 30px; -webkit-transform: translate(0, -8px); -moz-transform: translate(0, -8px); -ms-transform: translate(0, -8px); -o-transform: translate(0, -8px); transform: translate(0, -8px); }

.me .chat_bubble:after, .chat-bubble.me:after, .other .chat_bubble:after, .chat-bubble.other:after { width: 14px; height: 10px; bottom: -19px; background: white; -moz-border-radius-bottomleft: 60px 60px; -webkit-border-bottom-left-radius: 60px 60px; border-bottom-left-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.me .chat_bubble, .chat-bubble.me { margin: 0 20px 0 50px; }

.me .chat_bubble:before, .chat-bubble.me:before, .me .chat_bubble:after, .chat-bubble.me:after { right: auto; left: 5px; }

.me .chat_bubble:before, .chat-bubble.me:before { border-left: none; border-right: 26px solid #eaf5bf; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 50px 30px; -webkit-border-bottom-right-radius: 50px 30px; border-bottom-right-radius: 50px 30px; }

.me .chat_bubble:after, .chat-bubble.me:after { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 60px 60px; -webkit-border-bottom-right-radius: 60px 60px; border-bottom-right-radius: 60px 60px; -webkit-transform: translate(0px, -8px); -moz-transform: translate(0px, -8px); -ms-transform: translate(0px, -8px); -o-transform: translate(0px, -8px); transform: translate(0px, -8px); }

.chat_bubble { font-size: 13px; }
.chat_bubble img { display: block; margin: .5em 0; max-width: 100%; height: auto; }
.chat_bubble .spr, .chat_bubble .command span[class^="icons"], .command .chat_bubble span[class^="icons"] { vertical-align: bottom; }
.me .chat_bubble { background-color: #e3f1a9; border-color: #e3f1a9; }
.other .chat_bubble { background-color: #dddddd; border-color: #dddddd; }
.ie8 .me .chat_bubble, .ie8 .other .chat_bubble { background-image: url(../images/ui-grad.png); background-repeat: repeat-x; }
.ie8 .me .chat_bubble:before, .ie8 .other .chat_bubble:before { content: none; }
.ie8 .me .chat_bubble:after, .ie8 .other .chat_bubble:after { content: ""; width: 0; position: absolute; bottom: -20px; border-width: 10px 10px 0; border-style: solid; }
.ie8 .me .chat_bubble:after { left: 5px; border-color: #e3f1a9 transparent; }
.ie8 .other .chat_bubble:after { right: 5px; border-color: #dddddd transparent; }

/* ========== Chat Bubbles - MOS ========== */
.chat-bubble img { display: block; margin: .5em 0; max-width: 100%; height: auto; }
.chat-bubble.me { margin: 0; padding: 0 12px; background-color: #e3f1a9; border-color: #e3f1a9; }
.chat-bubble.other { margin: 0; padding: 0 12px; background-color: #dddddd; border-color: #dddddd; }
.chat-bubble.me > span { color: #CCCCCC; font-size: x-small; position: absolute; left: 40px; }
.chat-bubble.other > span { color: #CCCCCC; font-size: x-small; position: absolute; right: 40px; }
.chat-bubble.systems { border: solid 1px #CCC; background: #FFBABA; text-align: center; }
.chat-bubble.systems span { color: #CCCCCC; font-size: x-small; position: absolute; right: 10px; }

/* ========== Misc ========== */
#status_and_typing_area { position: absolute; bottom: 0; width: 100%; }

#chatter_status { border-top: 1px solid #993366; padding-right: 5px; font-size: 13px; color: #666; overflow: hidden; background-color: #fff; }

.chat_name { color: #25426B; /* JDate dark blue */ }

.chat_message .thumbnail { height: 37px; margin-right: 5px; }

.chat_event { font-style: italic; font-size: 75%; }

textarea { width: 65%; height: 50px; float: right; margin: 0 5px 0 15px; resize: none; }

.type_bottom { padding-top: 15px; border-top: 1px solid #a0a0a0; }

.send_button_container { height: 26px; }

.input_box { float: right; background-color: #fff; overflow-y: scroll; width: 75%; min-height: 50px; max-height: 50px; margin: 0 !important; padding: 0; border: none; font-size: 12px; direction: rtl; }
.input_box .ui-resizable-handle { display: none !important; }
.input_box img { width: 100px; margin: 4px; display: block; }

/* ========== Misc - MOS ========== */
.header-box, .content-box, .footer-box { position: absolute; right: 0; left: 0; margin: 0; padding: 0; }

.header-box { top: 0; }

.content-box { top: 56px; overflow-y: auto; bottom: 88px; }
.content-box.fullscreen { top: 91px; }

.footer-box { bottom: 0; position: fixed; }

#chatter_status { background: linear-gradient(#ffffff, #cccccc) repeat scroll 0 0 transparent; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#cccccc)); border-top: solid 1px #A0A0A0; color: #666666; font-size: 13px; height: 25px; line-height: 25px; text-align: center; }

.status-panel p { padding: 0; margin: 0; }
.status-panel > p > span { display: inline-block; line-height: normal; margin: 0 0 -3px 0; max-width: 145px; overflow: hidden; padding: 0; text-overflow: ellipsis; }

.typing-panel { background: #CCC; border-top: solid 1px #A0A0A0; height: 50px; list-style-type: none; overflow: hidden; padding: 5px; position: relative; margin: 0; }

/* ========== Buttons ========== */
.send_button { display: block; float: right; width: 50px; padding: 5px 10px; font-weight: bold; color: #fff; cursor: pointer; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #999; }
.send_button:active { margin: 1px 1px 0 0; padding: 5px 10px 4px 10px; width: 49px; }

/* ========== Buttons - MOS ========== */
.send_button, .send_button:active { display: inline-block; float: none; height: 48px; line-height: 48px; margin: 0; padding: 0; position: absolute; left: 5px; width: 75px; }

.fave-off, .fave-on, .block-off, .block-on { background-color: #FFFFFF; border: 1px solid #A0A0A0; display: inline-block; float: left; margin: 5px 5px 0 0; width: 44px; height: 44px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.fave-off { background: #cccccc url("../images/icon_fave_off@2x.png") no-repeat center center; }

.fave-on { background: #cccccc url("../images/icon_fave_on@2x.png") no-repeat center center; }

.block-off { background: #cccccc url("../images/icon_block_off@2x.png") no-repeat center center; }

.block-on { background: #cccccc url("../images/icon_block_on@2x.png") no-repeat center center; }

/* ========== Command ========== */
.command { position: relative; margin: 10px 0 0 0; padding: 0 4px 0 0; background-color: #e8eef4; border-bottom: 1px solid lightgrey; }
.command * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.command:before { content: ""; position: absolute; width: 100%; height: 2px; background-color: #FFFFFF; bottom: -4px; left: 0; }
.command + .type_bottom { border-top: 0; }
.command ul, .command ol { padding: 0; margin: 0; }
.command li { display: inline-block; }
.command .tab { float: right; display: block; padding: 10px 20px 6px; font-size: 11px; color: #665; border: 1px solid transparent; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.command .active .tab { position: relative; z-index: 2; background-color: #fff; border: 1px solid #993366; border-top-width: 0; outline: none; }
.command .elm-wrap { position: absolute; z-index: -1; bottom: 999px; left: 0; width: 300px; min-height: 140px; margin: 0; padding: 10px; background-color: #fff; border: 1px solid #993366; }
.command .active .elm-wrap { bottom: 43px; z-index: 1; }
.command span[class^="icons"] { height: 22px; margin-left: .75em; }
.command span[class^="icons"] + em { font-style: normal; }
.command .font .icons-font { width: 20px; }
.command .bg .icons-emoticon { width: 22px; }
.command li.photo { position: relative; }
.command li.photo .tab { position: relative; overflow: hidden; }
.command #photoUpload { position: absolute; left: 0; top: 0; width: 100%; height: 40px; opacity: 0; cursor: pointer; z-index: 1; }
.command select { margin: 0 0 10px 0; }
.command input[type='checkbox'] { position: absolute; left: -9999em; }
.command input[type='checkbox'] + label { width: 18px; height: 18px; margin: 0 2px; cursor: pointer; border: 1px solid transparent; }
.command input[type='checkbox']:checked + .spr, .command input[type='checkbox']:checked + span[class^="icons"] { border: 1px solid #993366; }

@media only screen and (max-width: 560px) { .command span[class^="icons"] { margin-left: 0; }
  .command span[class^="icons"] + em { display: none; } }
/* ========== Command - Color Picker ========== */
.colorpicker.inline { display: inline-block; width: 273px; margin: 10px 0; }
.colorpicker.icon, .colorpicker span { cursor: pointer; display: inline-block; border: 1px solid #a0a0a0; }
.colorpicker span { width: 21px; height: 21px; position: relative; margin: 0 0 15px 15px; }
.colorpicker span:nth-child(8n + 0) { margin-left: 0; }
.colorpicker span:hover { border: 1px solid #993366; }
.colorpicker span.selected:before { content: ''; position: absolute; left: -4px; top: -4px; width: 25px; height: 25px; border: 1px solid #993366; }

/* ========== Progress ========== */
.progress { width: 120px; padding: 4px 8px; margin: .5em; background-color: #eceff2; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.progress > div { border: 1px solid rgba(153, 51, 102, 0.3); overflow: hidden; }
.progress > div.non-progress { background: url(../images/ajax_loader_stripe.gif) no-repeat 0 0; }
.progress > div.non-progress .bar { visibility: hidden; }
.progress .bar { float: left; height: 5px; background-color: #993366; }

/* ========== jquery UI ========== */
.ui-resizable { position: relative; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }

.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }

.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }

.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }

.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }

.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }

.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }

/* ========== MOS Specific - HE ========== */
.popup-im-invite img { float: left; }

.popup-im-invite > div { margin: 35px 0 0 116px; }
