html {
	direction:rtl;
}

.popup-im-invite img {
	float:right;
}

.popup-im-invite > div {
	margin:35px 116px 0 0;
}

.fave-off, .fave-on, .block-off, .block-on {
	float:left;
}

.profile-panel a img {
	float:right;
}

.profile-panel a h4 {
	margin:5px 50px 0 0;
}

.profile-panel a h5 {
	margin:0 50px 0 0;
}

.typing-panel li {
	float:right;
}