body {direction:rtl;overflow:hidden;}
menu, ol, ul {padding:0 40px 0 0;}
#chatter_mini_profile,
.profile_text {float:right;}
#chatter_mini_profile .thumbnail {float:right;margin:5px 3px 0 0}
ul.hotlist_buttons {float:left;}
.chat_messages .other .profile,
.chat_messages .me .profile {text-align:left;}
.chat_messages .me .profile {left:3px;right:auto;}
.chat_messages .other .profile {right:3px;left:auto;}
#chatter_status {padding:0 6px 0 0;}
textarea {float:right;margin:0 5px 0 15px}
.send_button {float:right;}
.me .chat_bubble {float:left;margin-left:47px;margin-right:0;}
.other .chat_bubble {float:right;margin-right:50px;margin-left:0;}
.chat_bubble img.bottom {
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

/* Cupid IL Styles - added 7/30/2013 */
body.cupid-il #chatter_mini_profile {
background: rgb(162, 4, 5);
background: -moz-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
background: linear-gradient(270deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
}

body.cupid-il .profile_text span.username { color: #fff; }
body.cupid-il .profile_text span { color: #fff; }

body.cupid-il  .type_bottom {
	background: rgb(162, 4, 5);
	background: -moz-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(180deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(270deg, rgb(162, 4, 5) 0%, rgb(255, 255, 255) 100%);	
}

body.cupid-il .send_button { color: #000; background: #fff; }

body.cupid-il #chatter_status { background: transparent; border-top: 1px solid #000; }

body.cupid-il .chat_messages li { padding: 20px 0; }
body.cupid-il .other .chat_bubble
{
position: relative;
width: 265px;
height: 45px;
padding: 3px;
background: #FFFFFF;
border: #7F807D solid 2px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

body.cupid-il .other .chat_bubble:after
{
content: "";
position: absolute;
bottom: -18px;
left: 38px;
border-style: solid;
border-width: 19px 19px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

body.cupid-il .other .chat_bubble:before
{
content: "";
position: absolute;
top: 52px;
left: 37px;
border-style: solid;
border-width: 20px 20px 0;
border-color: #7F807D transparent;
display: block;
width: 0;
z-index: 0;
}

body.cupid-il .me .chat_bubble
{
position: relative;
width: 265px;
height: 45px;
padding: 3px;
background: #FFFFFF;
border: #A60304 solid 2px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

body.cupid-il .me .chat_bubble:after
{
content: "";
position: absolute;
bottom: -18px;
left: 188px;
border-style: solid;
border-width: 19px 19px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

body.cupid-il .me .chat_bubble:before
{
content: "";
position: absolute;
top: 52px;
left: 187px;
border-style: solid;
border-width: 20px 20px 0;
border-color: #A60304 transparent;
display: block;
width: 0;
z-index: 0;
}

body.cupid-il .me .chat_bubble .top { background: none; }
body.cupid-il .me .chat_bubble .middle { background: none; }
body.cupid-il .other .chat_bubble .top { background: none; }
body.cupid-il .other .chat_bubble .middle { background: none; }
body.cupid-il .chat_bubble img.bottom { display: none; }