﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SplashTemplate3.ascx.cs" Inherits="Matchnet.Web.Applications.Registration.Templates.SplashTemplate3" %>
<%@ Register TagPrefix="mn" Namespace="Matchnet.Web.Framework" Assembly="Matchnet.Web" %>
 <%@ Register TagPrefix="mn2" Namespace="Matchnet.Web.Framework.Ui.FormElements" Assembly="Matchnet.Web" %>
 <%@ Register TagPrefix="uc1" TagName="ValidationMessage" Src="/Applications/Registration/Controls/ValidationMessage.ascx" %>
 <%@ Register TagPrefix="mn" TagName="Copyright" Src="/Framework/Ui/PageElements/Copyright.ascx" %>
 <%@ Register TagPrefix="mn1" TagName="Footer20" Src="/Framework/Ui/Footer20.ascx" %>
 <%@ Register TagPrefix="mn" TagName="AdUnit" Src="/Framework/UI/Advertising/AdUnit.ascx" %>
 <%@ Register TagPrefix="uc1" TagName="ImageRotator" Src="/Framework/Ui/BasicElements/ImageRotator.ascx" %>
   
    <link id="_ctl0_Head20_structStyleSheet" runat="server" rel="stylesheet" type="text/css" href="/css/structure-ltr.css" />
    <link id="_ctl0_Head20_styleStyleSheet" rel="stylesheet" type="text/css" href="<asp:Literal Runat='server' ID='litSiteCss' />" />
   
    <div id="min-max-container">
    <%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_BANNER_ABOVE" ID="txtAmSplashBannerAbove" />--%>
    <div class="mboxDefault">
        <div id="header" class="clearfix">
        
            <asp:PlaceHolder runat="server" ID="NavTopHeader" Visible="true">

                <div id="header-contentainer" class="clearfix">
                    <div id="header-logo">
		                <p class="header-message"><mn:image id="imgLogo" runat="server" CssClass="logo" titleResourceConstant="ALT_SITE_LOGO" ResourceConstant="ALT_SITE_LOGO" FileName="trans.gif" />
                            <span id="divHeaderMsg" runat="server"><mn:Txt ID="txtHeaderMessage" runat="server" ResourceConstant="TXT_HEADER_MESSAGE" /></span>
                        </p>
                    </div>
                    <div class="header-login" id="headerLogin" runat="server"><mn:Txt ID="txtLogon" runat="server" ResourceConstant="TXT_LOGON" /></div>
                    <ul class="header-nav" id="ulJdateSiteLinks" runat="server">
                        <li id="liHebrew" runat="server"><mn:Txt ID="txt2" runat="server" ResourceConstant="TXT_HEBREW" /></li>
                        <li id="liFrench" runat="server"><mn:Txt ID="txt1" runat="server" ResourceConstant="TXT_FRENCH" /></li>
                        <li id="liAlreadyAMember" runat="server" class="header-nav-filler"><mn:Txt ID="txt3" runat="server" ResourceConstant="TXT_ALREADY_MEMBER" /></li>
                    </ul>
                </div>

            </asp:PlaceHolder>
        </div>
        </div>
        <%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_BANNER_BELOW" ID="txtAmSplashBannerBelow" />--%>
<script language="javascript">    mboxCreate('<%=SplashHeaderMBoxName %>');</script>
        <div id="content-container" class="one-column your-profile">
        <%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_CONTENT_ABOVE" id="txtAmSplashContentAbove" />--%>
                      <div class="mboxDefault">           
                        <div id="content-main" <asp:Literal id="litCntMain" runat="server" />>
                                
                            <div class="content-main clearfix">         
                            
                                <div class="rotator">
                                   <uc1:ImageRotator id="imageRotator" runat="server"  ResourceConstant="IMG_DATA_FILE"/>
                                </div>
                                <asp:Panel runat="server" ID="pnlJSHeadline">
                                    <script language="javascript" type="text/javascript">liveExperience('headline');</script>
                                </asp:Panel>
                                <div class="marketing-wrap">
                                    <big><mn:Txt runat="server" ResourceConstant="TXT_LARGE_TITLE" expandImageTokens="True"/></big>

                                    <ul id="splash-bullets">
                                        <li><mn:Txt ID="Txt4" runat="server" ResourceConstant="TXT_MARKETING_COPY_ONE" expandImageTokens="True"/></li>
                                        <li><mn:Txt ID="Txt5" runat="server" ResourceConstant="TXT_MARKETING_COPY_TWO" expandImageTokens="True"/></li>
                                        <li><mn:Txt ID="Txt6" runat="server" ResourceConstant="TXT_MARKETING_COPY_THREE" expandImageTokens="True"/> <a href="/Applications/MembersOnline/MembersOnline.aspx" class="mol-count"><mn:Txt ID="txtMOLCount" runat="server" /></a> <mn:Txt ID="Txt7" runat="server" ResourceConstant="TXT_MARKETING_COPY_FOUR"  expandImageTokens="True"/></li>
                                    </ul>
                                    <fieldset class="primary-content <asp:Literal id='litCSSClass' runat=server/>" >
                                    <asp:PlaceHolder ID="phContent" runat="server">
                                        <uc1:ValidationMessage runat="server" ID="txtValidation" Visible=false />
                                    </asp:PlaceHolder>
                                    <div class="cta-wrapper">
                                        <asp:Panel runat="server" ID="pnlJSCta" CssClass="amadesa-tag">
                                            <script language="javascript" type="text/javascript">liveExperience('cta');</script>
                                        </asp:Panel>
                                        <div id="cta">
                                            <div class="cta">
                                                <%--<mn2:FrameworkButton runat="server" ID="btnContinue" ResourceConstant="TXT_CONTINUE_SPLASH3"  CssClass="btn primary" />--%>
                                                	<div id="reglink-wrap">
                                                	<a href="/Applications/Registration/Registration.aspx" class="btn primary"><mn:txt id="mntxt8138" runat="server" resourceconstant="TXT_REG_BUTTON" expandimagetokens="true" /></a>
                                                	</div>
                                            </div>
                                        </div>
                                    </div>
                                    </fieldset>
                                </div>
                            
                            </div>
                        
	                    </div>
        	       </div>
            
            <asp:PlaceHolder ID="PlaceHolderAdSplashLeaderboard" runat="server">
            <div class="splashLeaderboardAd"><mn:AdUnit id="adSplashLeaderboard" Size="Leaderboard" ExpandImageTokens="true" runat="server"  /></div>
            </asp:PlaceHolder>
            
            <%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_CONTENT_BELOW" ID="txtAmSplashContentBelow" />--%>
            <script language="javascript">                mboxCreate('<%=SplashContentMBoxName %>');</script>
            <%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_FOOTER_ABOVE" ID="txtAmSplashFooterAbove" />--%>
             <div class="mboxDefault">
                    <div class="vis-info"><mn:Txt ID="txtSeo" runat=server ResourceConstant="TXT_SPLASH_SEO" expandImageTokens="True"/></div>
                </div>
                
<%--<mn:Txt runat="server" ResourceConstant="AM_SPLASH_FOOTER_BELOW" ID="txtAmSplashFooterBelow" />--%>
<script language="javascript">    mboxCreate('<%=SplashFooterMBoxName %>');</script>
        </div>

    </div>

    <div style="width:100%;">

        <div id="footerContainer" runat="server">
            <div id="footer">
              <div class="footer-container"><mn1:Footer20 ID="Footer20" Runat="server" /></div>
            </div>
        </div>
        <div id="footer-narrow">
            <div class="footer-container"><mn:Copyright id="copyright" runat="server"></mn:Copyright></div>
        </div>    

    </div>
<mn:txt id="mntxt4213" runat="server" resourceconstant="JAVASCRIPT_GOOGLE_REMARKETING_TAG" expandimagetokens="true" />
