﻿<!DOCTYPE html>
<!-- webchat.jdate.com -->

<!--[if IE 8]> <html class="lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Chat</title>
    <link rel="shortcut icon" href="images/spark_favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="js/libs/flXHR/flXHR.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/libs/flXHR/jquery.flXHRproxy.js"></script>
    <script src='js/libs/jquery.ie.cors.js'></script>
    <script src='js/libs/strophe.js'></script>
    <script src='js/libs/plug-ins/strophe.xdomainrequest.js'></script>
    <script src='js/libs/mustache.js'></script>
    <script src="js/libs/jdm-plugins.min.js"></script>
    <script src='js/libs/jquery.blockUI.js'></script>
	<script src='js/libs/jquery-ui-1.10.4.core-resizable.min.js'></script>
	<script src='js/libs/jQuery-File-Upload-8.8.5/jquery.iframe-transport.js'></script>
	<script src='js/libs/jQuery-File-Upload-8.8.5/jquery.fileupload.js'></script>
    <script src="js/libs/jquery.cookie.js"></script>
    <script src="js/spark.localization.js"></script>
    <script src="js/spark.localization.en-US.js"></script>
    <script src="js/spark.localization.en-GB.js"></script>
    <script src="js/spark.localization.he-IL.js"></script>
    <script src="js/spark.localization.fr-FR.js"></script>
    <script src="js/spark.utilities.js"></script>
    <script src="js/spark.config.js"></script>
	<script src="js/spark.messageconversion.js"></script>
    <script src="js/libs/s_code.js" type="text/javascript"></script>
    <script src="js/spark.API.restClient.js"></script>
    <script src='js/IM.js'></script>
    <link rel='stylesheet' href='css/IM.sp.css'>
</head>
<body>

<div id="chatter_mini_profile" class="header"></div>
<ul class="chat_messages body">
</ul>
<div id="status_and_typing_area" class="footer">
    <div id="chatter_status"></div>
    <div class="type_bottom clearfix">
        <label>
            <div id="chat_input" contenteditable="true" class="input_box"></div>
        </label>
    </div>
</div>

<div id="redirectPrompt" style="font-size:14px; display:none; cursor: pointer"> 
        <a>Sorry, we are unable to connect you to chat. Please <u>log in</u> again to continue.</a>
</div> 


<script id="mini_profile_template" type="text/template" data-target-element="#chatter_mini_profile" >
    <a href="{{ profileLink }}" target="_blank" class="profilelink">
        <image class="thumbnail" src="{{ thumbnail }}" alt="" ></image>
    </a>
    <div class="profile_text">
        <a href="{{ profileLink }}" target="_blank" class="profilelink"><span class="username">{{ username }}</span></a>
        <span class="age">{{age}}</span><br/>
        <span class="gender_and_seeking">{{ genderAndSeeking }}</span><br/>
        <span class="location">{{ location }}</span>
    </div>
    <ul class="hotlist_buttons">
        <li><img id="favorite_symbol" src="images/icon_fave_off.png"></li>
        <li><img id="block_symbol" src="images/icon_block_off.png"></li>
        <li><img id="report_symbol" src="images/icon_report_off.png"></li>
    </ul>
</script>

<script id="message_template" type="text/template" data-target-element=".chat_messages">
    <li class="chat_message other">
        <div class="bubble_and_profile clearfix">
            <div class="profile">
                <image class="thumbnail" src="{{ thumbnail }}" alt=""></image><br/>
                <span class="timestamp">{{ timestamp }}</span>
            </div>
            <p class="chat_bubble {{bgClass}}">
                {{{ chatText }}}
            </p>
        </div>
    </li>
</script>

<script id="self_message_template" data-target-element=".chat_messages" type="text/template">
    <li class="chat_message me">
        <div class="bubble_and_profile clearfix">
            <div class="profile">
                <span class="timestamp">{{ timestamp }}</span>
            </div>
            <p class="chat_bubble {{bgClass}}">
                {{{ chatText }}}
            </p>
        </div>
    </li>
</script>

<script id="chatter_status_template" type="text/template" data-target-element="#chatter_status">
    {{ userState }}
</script>

<script id="error_template" type="text/template" data-target-element="#error_container" >
    <div><span>{{ message }}</span></div>
</script>

<script id="system_template" type="text/template" data-target-element=".chat_messages" >
    <li class="chat_message system">
        <span class="chat_text">
            <strong>{{ chatText }}</strong>
        </span><br/><br/>
        <span>{{ username}} {{ timestamp }}</span>
    </li>
</script>
</body>

</html>
